<full-page>

  <page-head [verticalAligment]="'justify-content-end'">
    <div class="col-auto">
      <btn size="lg" (click)="createNewGoal()">
        <i class="fa fa-user-plus mr-1"></i>{{ "managersManage.createBtn" | translate }}
      </btn>
    </div>

  </page-head>

  <page-body>
    <ng-container *ngIf="goals.length">

      <table-head>
        <tr>
          <th [style.width.px]="50">
            <p>#</p>
          </th>
          <th>
            <p>Goal</p>
          </th>
          <th>
            <p>Event</p>
          </th>
          <th [style.width.px]="100">&nbsp;</th>
        </tr>
      </table-head>

      <table-body>
        <tr *ngFor="let goal of goals; let index = index">
          <td [style.width.px]="50">
            <p>{{index}}</p>
          </td>
          <td>
            <p>{{goal.name}}</p>
          </td>
          <td>
            <p>{{goal.postbackAlias}}</p>
          </td>
          <td [style.width.px]="100" class="text-right">
            <btn-icon (click)="updateCurrentGoal(goal)" type="primary" icon="pencil">Edit</btn-icon>
          </td>
        </tr>
      </table-body>

    </ng-container>
    <app-no-data *ngIf="!goals.length && !loading"></app-no-data>
  </page-body>

</full-page>

<app-loader [loading]="loading"></app-loader>

<modal #editModal size="lg">

    <modal-header>Manage Goal</modal-header>

    <modal-body *ngIf="editModal.isOpen">
      <form (ngModel)="manageGoal()">
        <div class="add-email__items">
          <div class="createOffer__input createOffer__input_delete createOffer__input_plus" [ngClass]="{'createOffer__input_invalid': errors.name}">
            <input [(ngModel)]="manageGoalObj.name" type="text" name="goal" placeholder="Goal">
            <div class="createOffer__input__error-message" style="right: 20px" *ngIf="errors?.name">
              <span>{{errors?.name}}</span>
            </div>
          </div>
        </div>
        <div class="add-email__items">
          <div class="createOffer__input createOffer__input_delete createOffer__input_plus">
            <input [(ngModel)]="manageGoalObj.postbackAlias" type="text" name="postbackAlias" placeholder="Event">
            <div class="createOffer__input__error-message" style="right: 20px" *ngIf="errors?.postbackAlias">
              <span>{{errors?.postbackAlias}}</span>
            </div>
          </div>
        </div>
      </form>
    </modal-body>

    <modal-footer>
      <btn [simple]="true" (click)="editModal.close()">Cancel</btn>
      <btn (click)="manageGoal()">Save</btn>
    </modal-footer>

  </modal>
