<full-page *ngIf="(reports$ | async) as reports">
  <pub-statistics-filter #filterComponent [filter]="filter" (onApply)="applyFilters($event)"
    (onCancel)="applyFilters($event)"></pub-statistics-filter>
  <page-head [verticalAligment]="'align-items-center'" [horisontalAligment]="'justify-content-between'">

    <div class="col-auto ml-auto">
      <date-range-picker [startDate]="filter.datetime_from" [endDate]="filter.datetime_to"
        (onApply)="calendarCallback($event)">
      </date-range-picker>
    </div>
    <div class="col-auto">
      <btn [simple]="true" size="lg" class="mr-2" (click)="filterComponent.open()">
        <i class="fa fa-search mr-1"></i>{{ "dynamicReports.filter" | translate }}
      </btn>
    </div>

  </page-head>

  <page-body tableSync [data]="reports?.items">
    <ng-container *ngIf="reports?.items?.length">
      <table-head>
        <tr>
          <th *ngIf="filter.date || filter.month || filter.hour">
            <b class="clickable" appSortBy="date" [filter]="filter" *ngIf="filter.date"
              translate="dynamicReports.date"></b>
            <b class="clickable" appSortBy="month" [filter]="filter" *ngIf="filter.month"
              translate="dynamicReports.month"></b>
            <b class="clickable" appSortBy="hour" [filter]="filter" *ngIf="filter.hour"
              translate="dynamicReports.hour"></b>
          </th>
          <th *ngIf="filter.countries || filter.platforms">
            <b class="clickable" *ngIf="filter.countries" appSortBy="country" [filter]="filter"
              translate="dynamicReports.country">Country
            </b>
            <b class="clickable" *ngIf="filter.platforms" appSortBy="platform" [filter]="filter"
              translate="dynamicReports.platform">Platform
            </b>
          </th>
          <th *ngIf="filter.group_name">
            <b class="clickable" *ngIf="filter.group_name" appSortBy="groupName" [filter]="filter"
              translate="dynamicReports.groupName">Platform
            </b>
          </th>
          <th *ngIf="filter.clicks">
            <b class="clickable" appSortBy="clicks" [filter]="filter" translate="dynamicReports.clicks">Platform
            </b>
          </th>
          <th *ngIf="filter.pub_conv">
            <b class="clickable" *ngIf="filter.pub_conv" appSortBy="pub_conv" [filter]="filter"
              translate="dynamicReports.conversions">Platform
            </b>
          </th>
          <th *ngIf="filter.pub_cr">
            <b class="clickable" *ngIf="filter.pub_cr" appSortBy="pub_cr" [filter]="filter"
              translate="dynamicReports.CR">Platform
            </b>
          </th>
          <th *ngIf="filter.costs">
            <b class="clickable" *ngIf="filter.costs" appSortBy="costs" [filter]="filter"
              translate="dynamicReports.revenues">Platform
            </b>
          </th>
        </tr>
      </table-head>

      <table-body>
        <tr *ngFor="let report of reports?.items; let $index = index;">
          <td *ngIf="filter.date || filter.month || filter.hour">
            <b class="clickable" *ngIf="filter.date"
              [innerHtml]="report.date | dateFormatDynamic:false:filter.timezone"></b>
            <p *ngIf="filter.month" [innerHtml]="report.month | monthsFromNumber"></p>
            <p *ngIf="filter.hour" [innerHtml]="report.hour | hoursFromNumber"></p>
          </td>
          <td *ngIf="filter.countries || filter.platforms">
            <b class="clickable" *ngIf="filter.countries" [innerHtml]="report.countryCode">Taiwan</b>
            <b class="clickable" *ngIf="filter.platforms" [innerHtml]="report.platformName">Android</b>
          </td>
          <td *ngIf="filter.group_name">
            <badge [simple]="true" [popover]="report.groupId">{{report.groupName}}</badge>
          </td>
          <td *ngIf="filter.clicks">
            <b class="clickable" *ngIf="filter.clicks" [innerHtml]="report.clicks">4</b>
          </td>
          <td *ngIf="filter.pub_conv">
            <p *ngIf="filter.pub_conv" [innerHtml]="report.pubConversions"></p>
          </td>
          <td *ngIf="filter.pub_cr">
            <p *ngIf="filter.pub_cr" [innerHtml]="report.publisherCr"></p>
          </td>
          <td *ngIf="filter.costs">
            <b class="clickable" *ngIf="filter.costs" class="coast-status coast-status--red"
              [innerHtml]="'$'+ (report.costs | number:'1.2-2')">$125</b>
          </td>
        </tr>
      </table-body>

      <table-control *ngIf="reports?.items.length" [filter]="filter" [pagination]="reports">
      </table-control>

      <table-total [title]="'Total General'">
        <tr>
          <td *ngIf="filter.date || filter.month || filter.hour"></td>
          <td *ngIf="filter.countries || filter.platforms"></td>
          <td *ngIf="filter.group_name"></td>
          <td *ngIf="filter.clicks">
            <p [innerHtml]="reports.data.clicks"></p>
          </td>
          <td *ngIf="filter.pub_conv">
            <p *ngIf="filter.pub_conv" [innerHtml]="reports.data.pubConversions"></p>
          </td>
          <td *ngIf="filter.pub_cr">
            <p *ngIf="filter.pub_cr" [innerHtml]="reports.data.publisherCr"></p>
          </td>
          <td *ngIf="filter.costs">
            <b *ngIf="filter.costs" class="coast-status coast-status--green"
              [innerHtml]="'$' + (reports.data.costs[0].amount | number:'1.2-2')">$125</b>
          </td>
        </tr>
      </table-total>

    </ng-container>

    <app-no-data *ngIf="!reports?.items?.length && !loading"></app-no-data>

  </page-body>

</full-page>

<app-loader [loading]="loading"></app-loader>
