<div class="ui-page">

  <div class="row mb-3">

    <div class="col-6">

      <form-inputs></form-inputs>

    </div>

    <div class="col-6">

      <links class="mb-3"></links>

      <form-checkbox class="mb-3"></form-checkbox>

      <form-select></form-select>

    </div>
  </div>

  <badges class="mb-3"></badges>

  <buttons class="mb-3"></buttons>

</div>
