<aside class="sidebar">
  <div class="menu-wrap" [ngClass]="{'isSmall' : isSmall}">
    <div class="menu">

      <div class="stats-wrap">
        <div class="stats">
          <div class="stats-col">
            <div class="stats-item">
              <div class="stats-item-title">
                <span>{{ "sidebar.time" | translate }}</span>
                <span>{{sidebar.timezone}}</span>
              </div>
              <div class="stats-item-value">
                <span class="num">{{now | timezone:'HH:mm'}}</span>
              </div>
            </div>
            <div class="stats-item">
              <div class="stats-item-title">{{ "sidebar.apprOffers" | translate }}</div>
              <div class="stats-item-title min">{{ "sidebar.apprOf" | translate }}</div>
              <div class="stats-item-value">
                <span class="num" [innerHtml]="sidebar.offersApproved">0</span>
              </div>
            </div>
            <div class="stats-item min-hidden">
              <div class="stats-item-title">{{ "sidebar.newOffers" | translate }}</div>
              <div class="stats-item-value">
                <span class="num" [innerHtml]="sidebar.offersNew">0</span>
              </div>
            </div>
          </div>
          <div class="stats-col">
            <div class="stats-item min-hidden">
              <div class="stats-item-title">{{ "sidebar.todayTotal" | translate }}</div>
              <div class="stats-item-value">
                <span class="num" [innerHtml]="sidebar.today.amount">0</span>
                <span class="num" [innerHtml]="currency"></span>
              </div>
            </div>
            <div class="stats-item">
              <div class="stats-item-title">{{ "sidebar.actOffers" | translate }}</div>
              <div class="stats-item-title min">{{ "sidebar.actOffersMin" | translate }}</div>
              <div class="stats-item-value">
                <span class="num" [innerHtml]="sidebar.offersActive">0</span>
              </div>
            </div>
            <div class="stats-item min-hidden">
              <a [routerLink]="['/', 'publisher', 'offers', 'list']" [queryParams]="{featured: '1'}">
                <div class="stats-item-title">{{ "sidebar.fetOffers" | translate }}</div>
              </a>
              <div class="stats-item-value">
                <span class="num" [innerHtml]="sidebar.offersFeatured">0</span>
              </div>
            </div>
          </div>
        </div>
      </div>

        <nav class="nav" sidebarMenu>
          <ul class="nav-list">
            <li class="nav-item" [routerLinkActive]="['current']">
              <a routerLink="/publisher/dashboard">
                <i class="fa fa-table"></i>
                <span class="lbl">{{ "sidebar.dashboard" | translate }}</span>
              </a>
            </li>

            <li class="nav-item" routerLinkActive="current">
              <a routerLink="/publisher/offers/list">
                <i class="fa fa-dollar"></i>
                <span class="lbl">{{ "sidebar.offers.main" | translate }}</span>
              </a>
            </li>
            <li class="nav-item nav-parent" routerLinkActive="open">
              <span>
                <i class="fa fa-file"></i>
                <span class="lbl">{{ "sidebar.reports.main" | translate }}</span>
              </span>
              <ul class="nav-drop">
                <li routerLinkActive="current">
                  <a routerLink="/publisher/reports/statistics">
                    {{ "sidebar.reports.statistics" | translate }}
                  </a>
                </li>
                <li routerLinkActive="current">
                  <a routerLink="/publisher/reports/conversions">
                    {{ "sidebar.reports.conversionReports" | translate }}
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item nav-parent" routerLinkActive="open"
                *hasPermission="['superlink_access']">
              <span>
                <i class="fa fa-link"></i>
                <span class="lbl">{{ "sidebar.superlink.main" | translate }}</span>
              </span>
              <ul class="nav-drop">
                <li [routerLinkActive]="['current']">
                  <a routerLink="/publisher/superlink/group-urls/list">
                    {{ "sidebar.superlink.group" | translate }}
                  </a>
                </li>
                <li [routerLinkActive]="['current']">
                  <a routerLink="/publisher/superlink/statistics">
                    {{ "sidebar.superlink.statistics" | translate }}
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item" routerLinkActive="current">
              <a routerLink="/publisher/billing">
                <i class="fa fa-money"></i>
                <span class="lbl">{{ "sidebar.billing.main" | translate }}</span>
              </a>
            </li>
            <li class="nav-item nav-parent" routerLinkActive="open">
              <span>
                <i class="fa fa-question"></i>
                <span class="lbl">{{ "sidebar.support.main" | translate }}</span>
              </span>
            <ul class="nav-drop">
              <li routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/publisher/support/api">API v1</a>
              </li>
              <li routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/publisher/support/api-v3">API v3</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>

      <div class="pub-about-panel">

        <div class="pub-about-panel__content">
          <div class="pub-about-panel__manager">{{ "sidebar.accManager" | translate }}</div>

          <div class="pub-about-panel__info">
            <div class="pub-about-panel__ico">
              <img src="assets/images/creatives.png" alt="">
            </div>
            <a class="pub-about-panel__name">
              {{sidebar.manager.firstName + ' ' + sidebar.manager.lastName}}
            </a>
          </div>

          <div class="pub-about-panel__contacts">
            <a href="mailto:{{sidebar.manager.email}}" class="pub-about-panel__contact pub-about-panel__email" *ngIf="sidebar.manager.email">
              <i class="fa fa-envelope"></i>
              <span>{{ sidebar.manager.email }}</span>
            </a>
            <a [href]="'skype:' + sidebar.manager.skype + '?chat' | safeUrl" [attr.data-contact-id]="sidebar.manager.skype"
               class="pub-about-panel__contact pub-about-panel__skype" *ngIf="sidebar.manager.skype">
              <i class="fa fa-skype"></i>
              <span>{{ sidebar.manager.skype }}</span>
            </a>
          </div>

        </div>

        <a class="pub-admin__logout" (click)="logout()">Logout</a>

      </div>

    </div>
  </div>
</aside>
