<full-page>

  <page-head class="pb-4">
    <div class="col">
      <app-search [search]="params.search" (submitSearch)="applySearch($event)"></app-search>
    </div>
  </page-head>

  <page-body tableSync [data]="invoices?.items">

    <ng-container *ngIf="invoices?.items?.length">

      <table-head>
        <tr>
          <th>{{ "pubBillingMerged.table.number" | translate }}</th>
          <th>
            <b (click)="sortByField('period')">{{ "pubBillingMerged.table.period" | translate }}</b>
          </th>
          <th>
            <b (click)="sortByField('publisherName')">{{ "pubBillingMerged.table.pubName" | translate }}</b>
            <b (click)="sortByField('publisherId')">{{ "pubBillingMerged.table.pubId" | translate }}</b>
          </th>
          <th>
            <b (click)="sortByField('amount')">{{ "pubBillingMerged.table.amount" | translate }}</b>
            <b (click)="sortByField('currency')">{{ "pubBillingMerged.table.currency" | translate }}</b>
          </th>
          <th>
            <b (click)="sortByField('created')">{{ "pubBillingMerged.table.dateCreated" | translate }}</b>
          </th>
          <th>
            <b (click)="sortByField('status')">{{ "pubBillingMerged.table.status" | translate }}</b>
          </th>
          <th>{{ "pubBillingMerged.table.invoice" | translate }}</th>
        </tr>
      </table-head>

      <table-body [separated]="true">
        <tr *ngFor="let invoice of invoices.items; let $index = index;">
          <td><strong>{{ invoice.frontName }}</strong></td>
          <td><badge [simple]="true">{{ invoice.dateStart }} - {{ invoice.dateEnd }}</badge></td>
          <td>
            <ng-container *ngIf="invoice.publisher">
              <a [popover]="popoverTmpl">
                {{ invoice.publisher.name }}
                <ng-template #popoverTmpl>
                  Managed by {{ invoice.publisher.managerName }}
                </ng-template>
              </a>
              <br>
              <span>{{ invoice.publisher.id }}</span>
            </ng-container>
          </td>
          <td>
            <span>{{ invoice.amount.amount|currency:'' }}</span><br/>
            <strong>{{ invoice.amount.currency }}</strong>
          </td>
          <td>
            <badge [simple]="true">{{ invoice.createdAt | dateFormatDynamic }}</badge>
          </td>
          <td>
            <div class="scheduled-select">
              <div class="createOffer__input publisher-scrubs-select">
                <div *ngIf="!invoice.availableStatuses.length" class="label label-info">{{ invoice.statusName }}</div>
                <div *ngIf="invoice.availableStatuses.length" class="status-select">
                  <div class="status-select-current">{{ invoice.statusName }}</div>
                  <div class="status-select-options">
                      <span class="status-select-option" *ngFor="let status of invoice.availableStatusesArr"
                            (click)="changeInvoiceStatus(invoice, status.id)">{{ status.name }}</span>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td class="text-right" [style.width.px]="80">
            <div class="mb-1">
              <btn-icon
                icon="eye"
                popover="View invoice"
                placement="left"
                [routerLink]="['/', 'manager', 'billing', 'publishers', 'invoices-merged', 'info', invoice.id]">
              </btn-icon>
            </div>
            <div class="mb-1">
              <btn-icon
                icon="trash-o"
                popover="View invoice"
                placement="left"
                type="danger"
                (click)="deleteMergedInvoice(invoice.id, $index)">
              </btn-icon>
            </div>
          </td>
        </tr>
      </table-body>

      <!--   TODO - Эту конструкцию можно будет поменять на table-control после рефакторинга ts   -->
      <div class="row pt-3 justify-content-end table-control">
        <div class="col-auto">
          <page-control>
            <table-limit [limit]="invoices.limit" (changedLimit)="tableLimit($event)"></table-limit>
            <table-pagination [page]="invoices.page" [totalPages]="invoices.totalPages" (currentPage)="goToPage($event)"></table-pagination>
          </page-control>
        </div>
      </div>

    </ng-container>

    <app-no-data *ngIf="!invoices.items.length && !loading"></app-no-data>

  </page-body>

</full-page>

<app-loader [loading]="loading"></app-loader>
