<header class="form-group-header">
  <label>
    <ng-content></ng-content>
    <sup *ngIf="required">*</sup>
  </label>
  <!--<button type="button" class="btn">-->
    <!--Clear<i class="fa fa-close"></i>-->
  <!--</button>-->
</header>
