<div class="page scrollable" perfectScrollbar>
  <div class="page-container">
    <form name="form" class="create-pub" (ngSubmit)="submitModeForm()">
      <div class="create-pub__top">
        <div class="create-pub__name">
          <span translate="groupUrls.mode.manage"></span>
        </div>
      </div>
      <div class="create-pub__content">
        <div class="create-pub__item pub-item">
          <div class="create-pub__item pub-item">
            <label class="createOffer__label createOffer__label_required" translate="groupUrls.mode.mode"></label>
            <div class="createOffer__input">
              <app-switcher [(ngModel)]="mode.mode" [ngModelOptions]="{standalone: true}">
                <app-switch-btn *ngFor="let item of modeList; let $index = index;" name="role" [value]="item.id">
                  {{item.name}}</app-switch-btn>
              </app-switcher>
            </div>
          </div>
        </div>
        <div class="pub-item__panel url-substrate" *ngIf="mode.mode === 1">
          <div class="create-pub__item pub-item">
            <strong class="fz14 semi-bold" translate="groupUrls.mode.dynamicMessage"></strong>
          </div>
        </div>
        <div class="pub-item__panel url-substrate " *ngIf="mode.mode === 2 && mode.allowUrls.length">
          <div class="create-pub__item pub-item" *ngFor="let url of mode.urls">
            <label class="createOffer__label" [innerHtml]="url.name"></label>
            <div class="createOffer__input createOffer__input_percent">
              <input step="any" type="number" [(ngModel)]="url.percent" min="0"
                (change)="onPercentChange(url, 'percent')" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="pub-item__panel url-substrate " *ngIf="mode.mode === 3 && mode.allowUrls.length">
          <div class="pub-item__panel url-substrate group-urls-panel"
            *ngFor="let groupUrl of mode.groupCountryUrls; let $index = index;">
            <button class="createOffer__delete-btn" *ngIf="mode.groupCountryUrls.length > 1"
              (click)="removeNewCountryAlgorithm($index)"></button>
            <div class="create-pub__item pub-item">
              <label class="createOffer__label">Country</label>
              <div class="createOffer__input"
                [ngClass]="{'createOffer__input_invalid': submitted && !groupUrl.countryCode && errors && errors['urls[' + $index + '][countryCode]']}">
                <app-countries-select [(ngModel)]="groupUrl.countryCode"
                  [selectPlaceholder]="'groupUrls.selectCountry' | translate" [multiple]="false" [clearable]="false"
                  name="countryCode" [ngModelOptions]="{standalone: true}"></app-countries-select>
                <div class="createOffer__input__error-message createOffer__input__error-message_bottom"
                  style="margin-right: 5px;"
                  *ngIf="submitted && !groupUrl.countryCode && errors && errors['urls[' + $index + '][countryCode]']">
                  <span>{{errors['urls[' + $index + '][countryCode]']}}</span>
                </div>
              </div>
            </div>
            <div class="create-pub__item pub-item" *ngFor="let url of groupUrl.urls">
              <label class="createOffer__label" [innerHtml]="url.name"></label>
              <div class="createOffer__input createOffer__input_percent">
                <input step="any" type="number" [(ngModel)]="url.percent" min="0"
                  (change)="onPercentChange(url, 'percent')" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>
          <div class="url-shedule__new pub-item__new">
            <a class="url-shedule__add pub-item__add" (click)="addNewCountryAlgorithm()">
              <span class="url-shedule__plus">+</span>
              <strong>
                <span>Add Country</span>
              </strong>
            </a>
          </div>
        </div>
      </div>
      <div class="create-pub__bottom">
        <div class="create-pub__controls">
          <a (click)="backToPublisherList()" class="create-pub__cancel" translate="groupUrls.manage.cancel">Cancel</a>
          <button type="submit" class="btn btn-add create-pub__create"
            [disabled]="(mode.mode === 2 || mode.mode === 3) && !mode.allowUrls.length">
            <span translate="groupUrls.mode.save">Save</span>
          </button>
        </div>
      </div>
    </form>
    <app-loader [loading]="loading"></app-loader>
  </div>
</div>
