@import "mixin";

:host {
  overflow: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  ::ng-deep {
    .card {
      max-width: rem(334);
      width: 100%;
      margin-top: rem(30);
      margin-bottom: rem(30);
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0 2px 2px var(--shadow);
      overflow: hidden;
    }
  }
}

h1 {
  font-size: 2em;
  font-weight: 100;
  text-align: center;
}

a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;

  &:hover {
    opacity: 1;
  }
}

switcher, btn {
  display: block;
}

.logoInLogin {
  max-width: 100%;
  max-height: rem(200);
  margin-left: auto;
  margin-right: auto;
  display: block;
}
