.add-email__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  max-width: 400px;

  .pub-item__plus {
    display: none;
  }

  &:first-child {
    &:last-child {
      .createOffer__input_delete-btn {
        display: none;
      }
      input {
        margin-right: 6px;
      }
    }
  }

  &:last-child {
    .pub-item__plus {
      display: block;
    }
  }

  .createOffer__input_delete-btn {
    position: static;
    margin: 0 12px;
  }

}

.add-email__controls {
  text-align: center;
  padding: 20px 0 0;
}
