<form novalidate [formGroup]="ipListForm" (ngSubmit)="addIpList()" (keydown.enter)="$event.preventDefault()">
  <div class="add-email__items" formArrayName="ip">
    <div class="createOffer__input add-email__item"
         [class.createOffer__input_invalid]="showIpFieldError(i)" *ngFor="let item of formData.controls; let i = index">
      <input title="Ip" [formControlName]="i" type="text" autofocus>
      <button type="button" class="createOffer__input_delete-btn" (click)="handleIpFields('remove', i)"></button>
      <button type="button" class="pub-item__plus" (click)="handleIpFields('add')">+</button>
      <div class="createOffer__input__error-message css-popover" appCssPopover *ngIf="showIpFieldError(i)">
        <span class="css-popover-content" *ngIf="item.hasError('pattern')">Please enter valid v4 or v6 api address</span>
        <span class="css-popover-content" *ngIf="item.hasError('required')">Field can`t be empty</span>
        <span class="css-popover-content" *ngIf="item.hasError('notUnique')">Ip already exist</span>
        <span class="css-popover-content" *ngIf="item.hasError('hasDuplicates')">IPs has duplicates</span>
      </div>
    </div>
  </div>
  <div class="add-email__controls">
    <button class="add-email__cancel" type="reset" (click)="closeModal()">Cancel</button>
    <button class="add-email__save btn btn-ok" [disabled]="ipListForm.invalid">Save</button>
  </div>
</form>
