<full-page>

  <page-head>
    <div class="col"></div>
    <div class="col-auto">
      <ng-select
        [items]="yearsList"
        bindLabel="val"
        bindValue="val"
        [(ngModel)]="params.year"
        (change)="changeYear()">
      </ng-select>
    </div>
  </page-head>

  <page-body tableSync [data]="statistics.items">

    <ng-container *ngIf="statistics.items.length">

      <table-head>
        <tr>
          <th><b (click)="sortBy('month')">Month</b></th>
          <th>
            <b (click)="sortBy('advertiserAmount.amount')">
              {{ "billingSummary.table.advertAmount" | translate }}
            </b>
          </th>
          <th>
            <b (click)="sortBy('received.amount')">
              {{ "billingSummary.table.received" | translate }}
            </b>
          </th>
          <th>
            <b (click)="sortBy('advertiserUnpaid.amount')">
              {{ "billingSummary.table.advertUnpaid" | translate }}
            </b>
          </th>
          <th>
            <b (click)="sortBy('crossPayment.amount')">
              {{ "billingSummary.table.crossPayment" | translate }}
            </b>
          </th>
          <th>
            <b (click)="sortBy('expectedProfitLoss.crossPaymentPaid')">Cross Payment Paid</b>
          </th>
          <th>
            <b (click)="sortBy('deduction.amount')">
              {{ "billingSummary.table.deduction" | translate }}
            </b>
          </th>
          <th>
            <b (click)="sortBy('publisherAmount.amount')">
              {{ "billingSummary.table.pubAmount" | translate }}
            </b>
          </th>
          <th>
            <b>
              {{ "billingSummary.table.pubPaid" | translate }}
            </b>
          </th>
          <th>
            <b (click)="sortBy('publisherUnpaid.amount')">
              {{ "billingSummary.table.pubUnpaid" | translate }}
            </b>
          </th>
          <th>
            <b>
              {{ "billingSummary.table.amountDiff" | translate }}
            </b>
          </th>
          <th>
            <b (click)="sortBy('paymentDiff.amount')">
              {{ "billingSummary.table.paymentDiff" | translate }}
            </b>
          </th>
          <th>
            <b (click)="sortBy('expectedProfitLoss.amount')">
              {{ "billingSummary.table.expPL" | translate }}
            </b>
          </th>
        </tr>
      </table-head>

      <table-body [striped]="true" class="bg-transparent">
        <tr *ngFor="let statistic of statistics.items | orderBy: propertyName:reverse">
          <td>{{ formatMonth(statistic.month) }}</td>
          <ng-template
            [ngTemplateOutlet]="cellTemplate"
            [ngTemplateOutletContext]="{ $implicit: statistic.advertiserAmount }">
          </ng-template>
          <ng-template
            [ngTemplateOutlet]="cellTemplate"
            [ngTemplateOutletContext]="{ $implicit: statistic.received }">
          </ng-template>
          <ng-template
            [ngTemplateOutlet]="cellTemplate"
            [ngTemplateOutletContext]="{ $implicit: statistic.advertiserUnpaid }">
          </ng-template>
          <ng-template
            [ngTemplateOutlet]="cellTemplate"
            [ngTemplateOutletContext]="{ $implicit: statistic.crossPayment }">
          </ng-template>
          <ng-template
            [ngTemplateOutlet]="cellTemplate"
            [ngTemplateOutletContext]="{ $implicit: statistic.crossPaymentPaid }">
          </ng-template>
          <ng-template
            [ngTemplateOutlet]="cellTemplate"
            [ngTemplateOutletContext]="{ $implicit: statistic.deduction }">
          </ng-template>
          <ng-template
            [ngTemplateOutlet]="cellTemplate"
            [ngTemplateOutletContext]="{ $implicit: statistic.publisherAmount }">
          </ng-template>
          <ng-template
            [ngTemplateOutlet]="cellTemplate"
            [ngTemplateOutletContext]="{ $implicit: statistic.publisherPaid }">
          </ng-template>
          <ng-template
            [ngTemplateOutlet]="cellTemplate"
            [ngTemplateOutletContext]="{ $implicit: statistic.publisherUnpaid }">
          </ng-template>
          <ng-template
            [ngTemplateOutlet]="cellTemplate"
            [ngTemplateOutletContext]="{ $implicit: statistic.amountDiff }">
          </ng-template>
          <ng-template
            [ngTemplateOutlet]="cellTemplate"
            [ngTemplateOutletContext]="{ $implicit: statistic.paymentDiff }">
          </ng-template>
          <ng-template
            [ngTemplateOutlet]="cellTemplate"
            [ngTemplateOutletContext]="{ $implicit: statistic.expectedProfitLoss }">
          </ng-template>
        </tr>
        <tr>
          <td colspan="13">&nbsp;</td>
        </tr>
        <tr *ngIf="statistics.data">
          <td>Total {{statistics.data.year}}</td>
          <ng-template
            [ngTemplateOutlet]="cellTemplate"
            [ngTemplateOutletContext]="{ $implicit: statistics.data?.totals.advertiserAmount }">
          </ng-template>
          <ng-template
            [ngTemplateOutlet]="cellTemplate"
            [ngTemplateOutletContext]="{ $implicit: statistics.data?.totals.received }">
          </ng-template>
          <ng-template
            [ngTemplateOutlet]="cellTemplate"
            [ngTemplateOutletContext]="{ $implicit: statistics.data?.totals.advertiserUnpaid }">
          </ng-template>
          <ng-template
            [ngTemplateOutlet]="cellTemplate"
            [ngTemplateOutletContext]="{ $implicit: statistics.data?.totals.crossPayment }">
          </ng-template>
          <ng-template
            [ngTemplateOutlet]="cellTemplate"
            [ngTemplateOutletContext]="{ $implicit: statistics.data?.totals.crossPaymentPaid }">
          </ng-template>
          <ng-template
            [ngTemplateOutlet]="cellTemplate"
            [ngTemplateOutletContext]="{ $implicit: statistics.data?.totals.deduction }">
          </ng-template>
          <ng-template
            [ngTemplateOutlet]="cellTemplate"
            [ngTemplateOutletContext]="{ $implicit: statistics.data?.totals.publisherAmount }">
          </ng-template>
          <ng-template
            [ngTemplateOutlet]="cellTemplate"
            [ngTemplateOutletContext]="{ $implicit: statistics.data?.totals.publisherPaid }">
          </ng-template>
          <ng-template
            [ngTemplateOutlet]="cellTemplate"
            [ngTemplateOutletContext]="{ $implicit: statistics.data?.totals.publisherUnpaid }">
          </ng-template>
          <ng-template
            [ngTemplateOutlet]="cellTemplate"
            [ngTemplateOutletContext]="{ $implicit: statistics.data?.totals.amountDiff }">
          </ng-template>
          <ng-template
            [ngTemplateOutlet]="cellTemplate"
            [ngTemplateOutletContext]="{ $implicit: statistics.data?.totals.paymentDiff }">
          </ng-template>
          <ng-template
            [ngTemplateOutlet]="cellTemplate"
            [ngTemplateOutletContext]="{ $implicit: statistics.data?.totals.expectedProfitLoss }">
          </ng-template>
        </tr>
      </table-body>

    </ng-container>

    <app-no-data *ngIf="!statistics.items.length && !loading"></app-no-data>

  </page-body>

</full-page>

<app-loader [loading]="loading"></app-loader>

<ng-template #cellTemplate let-item>
  <td>
    <div class="text-truncate"
         [popover]="itemTmpl"
         placement="left"
         *ngIf="item?.amount || item?.amount === 0">
      <ng-template [ngTemplateOutlet]="itemTmpl"></ng-template>
      <ng-template #itemTmpl>
        {{ item?.amount }} {{ item?.currency }}
      </ng-template>
    </div>
  </td>
</ng-template>
