.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.display-block,
.d-block {
  display: block !important;
}

.d-inline-grid {
  display: inline-grid !important;
}
