@import "variables";

.approval-check {
  background-color: #fff;
  border-radius: $border-radius;
  width: 81px;
  height: 40px;
  //padding-left: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 9px 21px 0 var(--shadow);
  position: relative;
  justify-content: center;

  &_open {
    .approval-check__menu {
      display: block;
    }

    .approval-check__arrow {
      .fa {
        transform: rotate(180deg);
      }
    }
  }

  &__arrow {
    color: $lgreen;
    font-size: 13px;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: $border-radius;
    box-shadow: 0 9px 21px 0 var(--shadow);
    text-align: center;
    line-height: 24px;
    margin-left: 4px;
    cursor: pointer;

    .fa {
      transition: all .3s;
    }
  }

  &__input {
    margin: 0;
    height: 24px;
  }

  &__menu {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 3px;
    width: 100%;
    z-index: 1;
    display: none;

    &-list {
      box-shadow: 0 9px 21px 0 var(--shadow);
      background-color: #fff;
      border-radius: $border-radius;
      padding: 3px 0;
    }

    &-item {
      padding-left: 20px;
      font-size: 14px;
      transition: color .3s;
      text-decoration: none;

      &:hover {
        color: $lgreen;
      }
    }
  }
}

.approveBox__modal {
  width: 840px;
}

.add-email {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 9px 21px 0 var(--shadow);
  z-index: 3;

  &__header {
    padding: 11px 24px;
    font-size: 14px;
    font-weight: 600;
    color: $gray;
    box-shadow: 0 9px 21px 0 var(--shadow);

    .light {
      padding-right: 10px;
      display: inline-block;
      color: #8898A0;
    }
  }

  &__content {
    padding: 30px 24px 20px;
    max-height: calc(100vh - 250px);
    position: relative;

    .ps__scrollbar-y-rail>.ps__scrollbar-y {
      right: -8px;
    }

    &_min {
      padding: 24px 8px 20px;
    }

    .createOffer__input {
      padding: 8px 0;
      max-width: 400px;
      width: 100%;

      &.flex {
        display: flex;
      }

      .createOffer__input_delete-btn {
        right: 14px;
      }

      input {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &+.pub-item__plus {
          margin-left: 4px;
        }
      }

      &:last-child {
        .createOffer__input_delete-btn {
          right: 46px;
        }

        input {
          width: calc(100% - 36px);
        }

        .pub-item__plus {
          display: block;
        }
      }

      &:nth-last-child(1):first-child {
        .createOffer__input_delete-btn {
          display: none;
        }
      }
    }
  }

  &__controls {
    text-align: center;
    padding-top: 20px;
  }

  &__cancel {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    color: #88A0AE;
    font-size: 16px;
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__save {
    padding: 6px 17px;
    vertical-align: middle;

    .fa {
      margin-right: 5px;
    }
  }
}

.external-filers__label-btn {
  span {
    margin-right: 0;
  }
}

.fake-table {
  &__row {}

  &__cell,
  &__head {
    flex: 1 1 100%;
    width: 1px !important;

    &:first-child {
      flex: 1 0 140px !important;
      max-width: 140px !important;
      width: auto !important;
    }

    span {
      word-break: initial;
    }

    &--width-half {
      width: 30% !important;
      flex: 1 0 30% !important;

      @media screen and (max-width: 1601px) and (max-width: 1700px) {
        width: 35% !important;
        flex: 1 0 35% !important;
      }

      @media screen and (max-width: 1441px) and (max-width: 1600px) {
        width: 40% !important;
        flex: 1 0 40% !important;
      }

      @media screen and (max-width: 1366px) and (max-width: 1440px) {
        width: 45% !important;
        flex: 1 0 45% !important;
      }

      @media screen and (max-width: 1366px) {
        width: 50% !important;
        flex: 1 0 50% !important;
      }
    }
  }
}

.noWrappStyle {
  padding: 0 !important;
  background: none !important;
  box-shadow: none !important;
}

.approvals__capabilities-label {
  width: auto;
}

.approve-box__name:nth-child(1),
.approve-box__check:nth-child(1) {
  width: 17%;
  min-width: 100px;
  max-width: 100px;
}

.approve-box__name:nth-child(2),
.approve-box__check:nth-child(2) {
  width: 24%;
  min-width: 140px;
  max-width: 140px;
}

.approve-box__name:nth-child(3),
.approve-box__check:nth-child(3) {
  width: 16%;
  min-width: 140px;
  max-width: 260px;
}

// .approve-box__name:nth-child(4),
// .approve-box__check:nth-child(4) {
//   width: 10%;
// }

.approve-box__name:nth-child(4),
.approve-box__check:nth-child(4) {
  width: 20%;
  min-width: 130px;
  max-width: 130px;
}

.approve-box__name:nth-child(5),
.approve-box__check:nth-child(5) {
  width: 30%;
  min-width: 170px;
  max-width: 250px;
}

.approve-box__name:nth-child(6),
.approve-box__check:nth-child(6) {
  width: auto;
  margin-left: auto;
}

.approve-box__name:nth-child(7),
.approve-box__check:nth-child(7) {
  width: 10%;
  margin-left: auto;
}

.approvals__capabilities-label {
  display: inline-grid;

  .label {
    display: block;
  }
}

.statusName {
  text-transform: capitalize;
}

.approval-links__btn {
  cursor: pointer;
}

app-input-number {
  display: inline-block;
}
