<app-filter #filterComponent>
  <ng-container filter-content>
    <div class="row">
      <div class="col-3">
        <div class="mb-1">
          <form-label>{{'actions' | translate}}</form-label>
          <ng-select [multiple]="true" [items]="(actions$ | async).items" [(ngModel)]="filter.actionsIds"
            bindLabel="name" bindValue="id">
          </ng-select>
        </div>
        <div class="mb-1">
          <form-label>{{'reasons' | translate}}</form-label>
          <ng-select [multiple]="true" [items]="(reasons$ | async).items" [(ngModel)]="filter.reasonsIds"
            bindLabel="name" bindValue="id">
          </ng-select>
        </div>
      </div>

      <div class="col-3">
        <div class="mb-1">
          <form-label>{{'managers' | translate}}</form-label>
          <manager-select [(ngModel)]="filter.managersIds"></manager-select>
        </div>

        <div class="mb-1">
          <form-label>{{'filterChangedFields' | translate}}</form-label>
          <ng-select [multiple]="true" [items]="(fields$ | async).items" [(ngModel)]="filter.fields" bindLabel="name"
            bindValue="id">
          </ng-select>
        </div>
      </div>
      <div class="col-3">
        <div class="mb-1">
          <form-label>{{'offers' | translate}}</form-label>
          <offer-select [(ngModel)]="filter.offersIds"></offer-select>
        </div>
        <div class="mb-1">
          <form-label>{{'actionExecutor' | translate}}</form-label>
          <ng-select [multiple]="false" [items]="systems" [(ngModel)]="filter.isSystem" bindLabel="name" bindValue="id">
          </ng-select>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container filter-footer>
    <btn [simple]="true" (click)="resetFilters(); close()">{{ "dynamicReports.reset" | translate }}</btn>
    <btn (click)="applyFilters();">{{ "dynamicReports.apply" | translate }}</btn>
  </ng-container>
</app-filter>
