@import "variables";

.pages-nav {
  display: flex;
  align-items: center;

  &__prev, &__next, &__cur {
    display: inline-block;
    vertical-align: middle;
    width: rem(30);
    height: rem(30);
    font-size: rem(13);
    line-height: rem(30);
    border-radius: $border-radius;
    text-align: center;
    text-decoration: none;
    background: transparent;
    outline: none;
    color: var(--form-control-color);

    &:before {
      font-size: rem(20);
      font-family: $fontAwesome;
    }
  }
  &__prev, &__next {
    display: inline-block;
    font: normal normal normal rem(14)/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--form-control-background);

    &:hover {
      box-shadow: 0 9px 21px 0 var(--shadow);
    }
  }
  &__prev {
    margin-right: rem(16);

    &:before {
      content: "\f104";
      color: var(--form-control-color-active);
    }
  }
  &__next {

    &:before {
      content: "\f105";
      color: var(--form-control-color-active);
    }
  }
  &__prev, &__next {
    border: none;

    &:disabled {
      background-color: var(--form-control-border-disabled);

      &::before {
        color: var(--form-control-background-disabled);
      }
      &:hover {
        box-shadow: none;
      }
    }
  }
  &__cur {
    font-weight: 700;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
    border: 1px solid var(--form-control-border);
    transition: border-color .15s ease-in-out;

    &:hover {
      border-color: var(--form-control-border-hover);
    }

    &:focus {
      background-color: var(--form-control-background-focus);
      border-color: transparent;
      box-shadow: 0 9px 21px 0 var(--shadow);
    }

    &:disabled {
      color: var(--form-control-border-disabled);
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
  }
  &__tot {
    font-size: rem(13);
    line-height: rem(30);
    margin: rem(0, 16, 0, 16);
    display: inline-block;
    vertical-align: middle;
    letter-spacing: .2px;

    //.num {
    //  font-weight: 600;
    //}
  }
}
