<!-- TODO - To refactoring -->
<div class="pages-nav" *ngIf="totalPages && totalPages !== 1">
  <span class="v-dash" *ngIf="totalPages && totalPages !== 1">|</span>
  <button class="pages-nav__prev" [disabled]="page === 1" (click)="goToPage(page - 1)"></button>
  <input type="number" class="pages-nav__cur" min="1" max="{{totalPages}}" step="1"
         (blur)="submitOnBlur(inputPage)"
         (keypress)="submitOnEnter($event)"
         [(ngModel)]="inputPage" name="inputPage" title="Current Page">
  <span class="pages-nav__tot">of <span class="num ml-1">{{totalPages}}</span></span>
  <button class="pages-nav__next" [disabled]="page === totalPages" (click)="goToPage(page + 1)"></button>
</div>
