<div class="dash-payouts__chart" #element>
  <svg></svg>
  <div class="offer-managers__chart-tooltip">
    <p class="date">
      <span>31/08/2017</span>
    </p>
    <p class="clicks">Clicks:
      <span>1322</span>
    </p>
    <p class="conversions">Conversions:
      <span>334</span>
    </p>
    <p class="cr">CR:
      <span>10%</span>
    </p>
  </div>
</div>
