<card>

  <card-body>

    <h1 class="mb-4">Reset Password</h1>

    <form novalidate [formGroup]="forgotPass" (submit)="submitForgotPassForm()">

      <input-text class="mb-3" placeholder="Email" formControlName="email" [mask]="'email'"></input-text>

      <app-validation-message [control]="forgotPass"></app-validation-message>

      <switcher class="mb-4" formControlName="role">
        <switcher-btn name="role-switch" [value]="'manager'">Manager</switcher-btn>
        <switcher-btn name="role-switch" [value]="'publisher'">Publisher</switcher-btn>
      </switcher>

      <btn class="mb-3" size="lg" [block]="true" [type]="'submit'">Reset Password</btn>

      <p class="text-center">
        <a routerLink="/login" class="url-link inline-link">Go Back</a>
      </p>

    </form>

  </card-body>

  <app-loader [loading]="loading"></app-loader>
</card>
