<div class="page scrollable" perfectScrollbar *hasPermission="['view_externals']">
  <div class="page-container scheduled-table">
    <div class="page-row page-row-min">
      <div class="page-cell">
        <!-- BEGIN page-nav-panel -->
        <div class="page-nav-panel">
          <div class="col">
            <button class="btn btn-add btn_no-shadow" style="margin-left: 0" (click)="massActualizeExternals()"
              *hasPermission="['actualize_externals']">
              <span translate="offExternal.actualize">Actualize</span>
            </button>
            <app-search [search]="search" (submitSearch)="setSearchValue($event)"></app-search>
          </div>
          <!-- BEGIN external-filers -->
          <div class="external-filers" [class.external-filers_open]="searchFilterIsOpen">
            <form novalidate [formGroup]="searchFilter" (submit)="applyFilters()">
              <!-- BEGIN external-filers__top -->
              <div class="external-filers__top">
                <button type="button" class="external-filers__close" (click)="toggleFilterMode('close', true)">
                  <span translate="offExternal.advancedSearch"></span>
                  <i class="fa fa-close"></i>
                </button>
              </div>
              <!-- END external-filers__top  -->
              <!-- BEGIN external-filers__content -->
              <div class="external-filers__content">
                <div class="external-filers__col">
                  <!-- BEGIN external-filers__box -->
                  <div class="external-filers__box">
                    <div class="external-filers__label-control">
                      <label class="createOffer__label" translate="offExternal.applicationId"></label>
                      <button type="button" class="external-filers__label-btn" (click)="resetFilter('appId')">
                        <span translate="offExternal.clear">Clear</span>
                        <i class="fa fa-close"></i>
                      </button>
                    </div>
                    <div class="createOffer__input">
                      <input type="text" formControlName="appId"
                        [placeholder]="'offExternal.applicationId' | translate">
                    </div>
                  </div>
                  <!-- END external-filers__box  -->
                  <!-- BEGIN external-filers__box -->
                  <div class="external-filers__box">
                    <div class="external-filers__label-control">
                      <label class="createOffer__label" translate="offExternal.realId"></label>
                      <button type="button" class="external-filers__label-btn" (click)="resetFilter('realId')">
                        <span translate="offExternal.clear">CLear</span>
                        <i class="fa fa-close"></i>
                      </button>
                    </div>
                    <div class="createOffer__input">
                      <input type="text" formControlName="realId"
                        [placeholder]="'offExternal.severalSeparated' | translate">
                    </div>
                  </div>
                  <!-- END external-filers__box  -->
                  <!-- BEGIN external-filers__box -->
                  <!-- <div class="external-filers__box">
                    <div class="external-filers__label-control">
                      <label class="createOffer__label" translate="offExternal.advertisers"></label>
                    </div>
                    <app-advertisers-select formControlName="advertiserIds" [multiple]="true" [selectPlaceholder]="'offExternal.maySeveral' | translate"></app-advertisers-select>
                  </div> -->
                  <!-- END external-filers__box  -->
                </div>
                <div class="external-filers__col">
                  <!-- BEGIN external-filers__box -->
                  <div class="external-filers__box">
                    <div class="external-filers__label-control">
                      <label class="createOffer__label" translate="offExternal.platforms"></label>
                    </div>
                    <app-platform-names-select [selectPlaceholder]="'offExternal.maySeveral' | translate"
                      formControlName="platform" [multiple]="true"></app-platform-names-select>
                  </div>
                  <!-- END external-filers__box  -->
                  <!-- BEGIN external-filers__box -->
                  <div class="external-filers__box">
                    <div class="external-filers__label-control">
                      <label class="createOffer__label" translate="offExternal.countries"></label>
                    </div>
                    <app-countries-select formControlName="countriesCodes" [multiple]="true"
                      [selectPlaceholder]="'offExternal.maySeveral' | translate"></app-countries-select>
                  </div>
                  <!-- END external-filers__box  -->
                  <!-- BEGIN external-filers__box -->
                  <div class="external-filers__box">
                    <div class="external-filers__label-control">
                      <label class="createOffer__label" translate="offExternal.externalStatus"></label>
                    </div>
                    <ng-select [items]="externalStatuses" [placeholder]="'offExternal.externalStatus' | translate"
                      bindLabel="name" bindValue="id" formControlName="externalStatus">
                    </ng-select>
                  </div>
                  <!-- END external-filers__box  -->
                </div>
                <div class="external-filers__col">
                  <!-- BEGIN external-filers__box -->
                  <div class="external-filers__box">
                    <label class="createOffer__label">
                      <span translate="offExternal.branding"></span>
                      <div class="pub-item__tip">
                        <span>i</span>
                        <div class="pub-item__text">
                          <p>«<strong>Brand</strong>» shows offers based on Apple App Store or
                            Google Play only.</p>
                          <p>«<strong>Non brand</strong>» shows offers base anywhere else.
                            CPE,CPL, WEB, WAP, etc. are «Non brand» offers.</p>
                        </div>
                      </div>
                    </label>
                    <div class="select-one createOffer__box__select-one">
                      <input type="radio" id="select-one__input1" name="branding" formControlName="branding"
                        [value]="1">
                      <label class="select-one__item select-one__item_three" for="select-one__input1">
                        <span translate="offExternal.branded">Branded</span>
                      </label>
                      <input type="radio" id="select-one__input2" name="branding" formControlName="branding"
                        [value]="0">
                      <label class="select-one__item select-one__item_three" for="select-one__input2">
                        <span translate="offExternal.nonBranded">Non branded</span>
                      </label>
                      <input type="radio" id="select-one__input3" name="branding" formControlName="branding"
                        [value]="null">
                      <label class="select-one__item select-one__item_three" for="select-one__input3">
                        <span translate="offExternal.all">All</span>
                      </label>
                    </div>
                  </div>
                  <!-- END external-filers__box  -->
                  <!-- BEGIN external-filers__box -->
                  <div class="external-filers__box">
                    <label class="createOffer__label" translate="offExternal.type">Type</label>
                    <div class="createOffer__input">
                      <div class="select-one createOffer__box__select-one">
                        <input type="radio" id="select-one__input4" name="incent" formControlName="incent" [value]="1">
                        <label class="select-one__item select-one__item_three" for="select-one__input4"
                          translate="offExternal.incent">Incent</label>
                        <input type="radio" id="select-one__input5" name="incent" formControlName="incent" [value]="0">
                        <label class="select-one__item select-one__item_three" for="select-one__input5"
                          translate="offExternal.nonIncent">Non
                          Incent</label>
                        <input type="radio" id="select-one__input6" name="incent" formControlName="incent"
                          [value]="null">
                        <label class="select-one__item select-one__item_three" for="select-one__input6"
                          translate="offExternal.all">All</label>
                      </div>
                    </div>
                  </div>
                  <!-- END external-filers__box  -->
                </div>
                <div class="external-filers__col">
                  <!-- BEGIN external-filers__box -->
                  <div class="external-filers__box">
                    <label class="createOffer__label" translate="offExternal.payout">Payout</label>
                    <div class="external-filers__range range-slider">
                      <div class="range-slider__box">
                        <app-range-slider [min]="0" [max]="maxPayout" [valueMin]="searchFilter.get('payoutMin').value"
                          [valueMax]="searchFilter.get('payoutMax').value"
                          (newValueMax)="searchFilter.get('payoutMax').setValue($event)"
                          (newValueMin)="searchFilter.get('payoutMin').setValue($event)">
                        </app-range-slider>
                      </div>
                      <div class="range-slider__output">
                        <div class="createOffer__input createOffer__input_price">
                          <input type="number" formControlName="payoutMin" step="any" min="0"
                            [max]="searchFilter.get('payoutMax').value">
                        </div>
                        <span>—</span>
                        <div class="createOffer__input createOffer__input_price">
                          <input type="number" formControlName="payoutMax" step="any"
                            [min]="searchFilter.get('payoutMin').value" [max]="maxPayout">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END external-filers__box  -->
                </div>
              </div>
              <!-- END external-filers__content  -->
              <!-- BEGIN external-filers__bottom -->
              <div class="external-filers__bottom">
                <button type="button" class="external-filers__cancel btn" translate="offExternal.reset"
                  (click)="resetFilters()">Reset
                </button>
                <button type="submit" class="external-filers__apply btn btn-add" translate="offExternal.apply">Apply
                </button>
              </div>
              <!-- END external-filers__bottom  -->
            </form>
          </div>
          <!-- END external-filers  -->
          <div class="col">
            <date-range-picker [startDate]="queryParams.dateFrom" [endDate]="queryParams.dateTo"
                               (onApply)="calendarCallback($event)">
            </date-range-picker>
            <button class="btn btn-light ml-2" (click)="toggleFilterMode('open')">
              <i class="fa fa-search fa-icon-reverse-right" aria-hidden="true"></i>
              <span translate="offExternal.advancedSearch"></span>
            </button>
          </div>
        </div>
        <!-- END page-nav-panel  -->
        <!-- BEGIN fake-table__top -->
        <div class="fake-table__top" *ngIf="external.items.length">
          <div class="fake-table__row">
            <div class="fake-table__head" translate="offExternal.external">External #</div>
            <div class="fake-table__head">
              <span translate="offExternal.offerName">Offer name</span>
              <br> <span translate="offExternal.appSize">App size</span>
            </div>
            <!--<div class="fake-table__head">Rarity</div>-->
            <div class="fake-table__head  clickable semi-bold" (click)="sortByField('payout')"
              translate="offExternal.payout">Payout
            </div>
            <div class="fake-table__head  clickable semi-bold" (click)="sortByField('addDate')"
              translate="offExternal.dateAdded">Date
              added
            </div>
            <div class="fake-table__head">
              <span translate="offExternal.countries">Countries</span>
              <br>
              <span translate="offExternal.caps">Caps</span>
            </div>
          </div>
        </div>
        <!-- END fake-table__top  -->
      </div>
    </div>
    <div class="page-row">
      <div class="page-cell">
        <div class="page-scrollable scrollable" perfectScrollbar>
          <div class="content" *ngIf="!loading && external.items.length">
            <!-- BEGIN fake-table -->
            <div class="fake-table">
              <!-- BEGIN fake-table__body-wrap -->
              <div class="fake-table__body-wrap">
                <!-- BEGIN fake-table__body -->
                <div class="fake-table__body">
                  <!-- BEGIN fake-table__row -->
                  <div class="fake-table__row fake-table__row-first">
                    <div class="fake-table__cell">
                      <span class="white app-icon">
                        <img [src]="external?.data?.main?.landingData?.imageUrl || './assets/images/creatives.png'">
                      </span>
                    </div>
                    <div class="fake-table__cell">
                      <span class="white">
                        <div class="app-setting">
                          <div class="inline-block" style="font-size: 0">
                            <div *ngFor="let platform of external?.data?.main.platforms"
                              [ngClass]="{'icon-apple' : platform === 'iPhone' || platform === 'iPad', 'icon-win-phone': platform === 'Windows Phone'}"
                              class="app-setting__ico icon-{{platform | lowercase}} css-popover" appCssPopover>
                              <div class="css-popover-content">
                                {{platform}}
                              </div>
                            </div>
                          </div>
                          <div class="app-setting__name">
                            {{external?.data?.main?.landingData?.title}}
                          </div>
                          <div class="app-setting__count">
                            <strong class="css-popover" data-placement="bottom" appCssPopover>
                              <span>{{external?.totalItems}}</span>
                              <div class="css-popover-content" translate="offExternal.activeOffers">
                                Active offers by Application ID
                              </div>
                            </strong>
                          </div>
                        </div>
                        <div class="app-category">
                          <span class="css-popover" data-placement="top" appCssPopover>
                            <!--TODO-->
                            <span>{{external?.data?.main?.landingData?.categoryId|tags:'name'}}</span>
                            <div class="css-popover-content" translate="offExternal.category">Category</div>
                          </span>
                        </div>
                        <div class="app-capaciry">
                          <span class="css-popover" data-placement="top" appCssPopover>
                            <span>
                              {{((external?.data?.main?.landingData?.size / 1000) || '???')+' MB'}}
                            </span>
                            <div class="css-popover-content" translate="offExternal.size">Size</div>
                          </span>
                        </div>
                        <div>
                          <!-- <button class="app-link css-popover" (click)="filterByAppId(external?.data?.main.externals[0].appId)"
                            data-placement="top" appCssPopover>
                            <span>{{external?.data?.main.externals[0].appId}}</span>
                            <div class="css-popover-content" translate="offExternal.applicationId">Application ID</div>
                          </button> -->
                        </div>
                      </span>
                    </div>
                  </div>
                  <!-- END fake-table__row  -->

                  <!-- BEGIN fake-table__row -->
                  <div class="fake-table__row" *ngFor="let external of external.items; let i = index">

                    <div class="fake-table__cell">
                      <div class="app-status">
                        <div class="app-status__num">{{i+1}}</div>
                        <div class="app-status__bar status-bar bg-white">
                          <div class="inp inp-check css-popover" appCssPopover *ngIf="!external.actualizedInfo">
                            <label>
                              <input type="checkbox" [ngModel]="external.checked"
                                (ngModelChange)="selectExternal(external)">
                              <i class="icn-check"></i>
                            </label>
                            <div class="css-popover-content">
                              <span *ngIf="!external.checked" translate="offExternal.notSelected"></span>
                              <span *ngIf="external.checked" translate="offExternal.selected"></span>
                            </div>
                          </div>
                          <div *ngIf="external.actualizedInfo && external.actualizedInfo.enabled"
                            class="status-bar__current hasTip status-bar__active"></div>
                          <div *ngIf="external.actualizedInfo && !external.actualizedInfo.enabled"
                            class="status-bar__current hasTip status-bar__paused "></div>
                          <ul class="status-bar__list" *ngIf="external.actualizedInfo">
                            <li class="status-bar__item">
                              <button [disabled]="external.actualizedInfo.enabled"
                                (click)="changeStatusForActualiseOffer(external.actualizedInfo, true)">
                                <i class="fa fa-play"></i>
                                <span class="ml-1" translate="offExternal.active">Active</span>
                              </button>
                            </li>
                            <li class="status-bar__item">
                              <button [disabled]="!external.actualizedInfo.enabled"
                                (click)="changeStatusForActualiseOffer(external.actualizedInfo, false)">
                                <i class="fa fa-pause"></i>
                                <span class="ml-1" translate="offExternal.paused">Paused</span>
                              </button>
                            </li>
                            <li class="status-bar__item status-bar__item_line"></li>
                            <li class="status-bar__item" style="margin-left: 0.4rem">
                              <a style="color: black" [routerLink]="['/manager/offers/edit', external.actualizedInfo.offerId]"
                                [queryParams]="{step:1}" target="_blank">
                                <i class="fa fa-pencil"></i>
                                <span class="ml-1" translate="offExternal.editOffer"></span>
                              </a>
                            </li>
                            <li class="status-bar__item"
                              *hasPermission="['access_daily_statistics']">
                              <a routerLink="/manager/statistics"
                                [queryParams]="{offers_ids: [external.actualizedInfo.offerId]}" target="_blank">
                                <i class="fa fa-bar-chart"></i>
                                <span translate="offExternal.offerStatistics"></span>
                              </a>
                            </li>
                            <li class="status-bar__item"
                              *ngIf="external.approvalSupported && external.approvalRequestedAt === null && !external.approved">
                              <a [routerLink]="['/manager/offers/caps-usage', external.actualizedInfo.offerId]"
                                target="_blank">
                                <i class="fa fa-bookmark"></i>
                                <span translate="offExternal.reqApprovals"></span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="fake-table__cell">
                      <div class="app-setting__wrap">
                        <div class="app-setting app-setting_small">
                          <!-- TODO: Render platform icons -->
                          <!-- Classes: .icon-any / icon-brand / icon-apple / icon-blackberry / icon-desktop / icon-windows / icon-kindle -->

                          <div class="inline-block" style="font-size: 0">
                            <div *ngFor="let platform of external.platforms" appCssPopover
                              [ngClass]="{'icon-apple' : platform.name === 'iPhone' || platform.name === 'iPad', 'icon-win-phone': platform.name === 'Windows Phone'}"
                              class="app-setting__ico icon-{{platform.name | lowercase}} css-popover">
                              <div class="css-popover-content">{{(platform.version) ? platform : platform.name}}</div>
                            </div>
                          </div>
                          <div class="app-setting__name app-setting__name_fire">
                            <span>{{external.name}}</span>
                            <span *ngIf="external.incent" class="app-setting__tip css-popover" appCssPopover
                              data-placement="top">
                              <div class="css-popover-content" translate="offExternal.incent">Incent</div>
                            </span>
                            <span *ngIf="external.requireApproval" class="app-setting__a css-popover ml-2" appCssPopover
                              data-placement="top" data-wrap="wrap" data-line="multiple">
                              <img src="./assets/images/icon-a.svg">
                              <div class="css-popover-content semi-bold" translate="offExternal.reqApprovals">
                              </div>
                            </span>
                          </div>
                        </div>
                        <span class="app-sublink">
                          <span>{{external?.advertiser?.name}}</span>
                          <span class="app-sublink__info">
                            <div class="app-sublink__name">
                              Managed by <span>{{external?.advertiser?.manager?.name}}</span>
                            </div>
                          </span>

                        </span>
                        <span>
                          <span>{{external?.offerId}}</span>
                        </span>
                      </div>
                    </div>
                    <div class="fake-table__cell">
                      <div class="app-input">
                        <div class="app-input__value">{{external?.payout}}</div>
                        <div class="app-input__currency">{{external?.currency}}</div>
                      </div>
                    </div>
                    <div class="fake-table__cell">
                      <div data-placement="top" class="app-date css-popover" appCssPopover>
                        <span>{{external?.createdAt | dateFormat}}</span>
                        <div class="css-popover-content">
                          <strong translate="offExternal.checkOffer">Date added</strong>
                        </div>
                      </div>
                    </div>
                    <div class="fake-table__cell">
                      <div class="app-buttons">
                        <div class="app-country__countries">
                          <div *ngFor="let country of external.countries | limitTo : 3; let i = index"
                            class="app-country css-popover" appCssPopover>
                            <span>{{country}}</span>
                            <span class="css-popover-content" [innerHtml]="country | country | async"></span>
                          </div>
                          <label *ngIf="external.countries.length > 4" class="label label-whitegray">
                            <span>{{external?.countries.length - 3}}</span> MORE
                          </label>
                        </div>
                        <div class="app-buttons__right">
                          <div *ngIf="external.cap.monthly" class="app-country app-country__green">
                            {{external.cap.monthly}}
                          </div>
                          <div *ngIf="external.cap.daily" class="app-country app-country__green">
                            {{external.cap.daily}}
                          </div>
                        </div>
                      </div>
                      <span class="css-popover check-button" data-placement="bottom" appCssPopover
                        *ngIf="isCheckerEnabled && external?.trackingUrl && external?.platforms?.length && external?.countries?.length">
                        <a [routerLink]="['/manager/offers/link-check', external.trackingUrl, external.platforms[0].name, external.countries[0]]"
                          target="_blank" class="approvals-btn approvals-btn_green">check</a>
                        <div class="css-popover-content" translate="manageOffers.checkMsg">checkMsg</div>
                      </span>
                    </div>
                    <div class="fake-table__cell">
                      <span class="actions-wrap">
                        <div class="actions" [ngClass]="{'actions_reverse': tableMenuReverse}">
                          <span class="actions-toggle"></span>
                          <div class="actions-options">
                            <button class="actions-option actions-option_min"
                              *ngIf="!(external.approvalRequestedAt !== null || external.requireApproval === false || external.approvalSupported === false)"
                              (click)="approveOffer(external.id)" translate="offExternal.reqApprovals">Request
                              approval</button>
                            <ng-container *ngIf="!external.actualizedInfo">
                              <button class="actions-option actions-option_min"
                                      (click)="getEternalDataForActualize(external)" translate="offExternal.actualize"
                                      *hasPermission="['actualize_externals']">
                              Actualize
                            </button>
                            </ng-container>
                            <div class="sep"></div>
                            <button class="actions-option actions-option_min"
                              (click)="openDescriptionModal(external.id)" translate="offExternal.showDescription">
                              Show description
                            </button>
                            <div class="sep"></div>
                            <a [href]="external.previewUrl" target="_blank" class="actions-option actions-option_min"
                              translate="offExternal.openLanding">
                              Open landing page
                            </a>
                          </div>
                        </div>
                      </span>
                    </div>
                    <div class="fake-table__cell"></div>
                  </div>
                  <!-- END fake-table__row  -->
                  <div *ngIf="true || external?.data?.main.externalsCount > 5"
                    class="fake-table__row fake-table__row_white">
                    <div class="fake-table__button">
                      <!-- <button class="btn actions-controls__btn">
                        <a [routerLink]="['/', 'manager', 'offers', 'externals', external?.data?.main.Id.advertiserId, external?.data?.main.Id.groupId]">Show
                          all offers</a>
                      </button> -->
                    </div>
                  </div>

                </div>
                <!-- END fake-table__body  -->
              </div>
              <!-- END fake-table__body-wrap  -->
            </div>
            <!-- END fake-table  -->
          </div>
          <app-no-data *ngIf="!external.items.length && !loading"></app-no-data>
        </div>
      </div>
    </div>
    <!-- Pinned footer -->
    <div class="page-row page-row-min" *ngIf="external.items.length">
      <div class="page-cell">
        <div class="page-footer-panel">
          <div class="col"></div>
          <div class="col">
            <table-limit [limit]="external.limit" (changedLimit)="tableLimitChange($event)"></table-limit>
          </div>
          <div class="col">
            <table-pagination [page]="external.page" [totalPages]="external.totalPages" (currentPage)="goToPage($event)">
            </table-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-loader [loading]="loading"></app-loader>

</div>

<modal #externalDescriptionModal>

  <modal-header>Luxe @ geenep #2EBB39</modal-header>

  <modal-body>
    <div class="external-modal__info">
      <div class="external-modal__subtitle">Advertiser's description</div>
      <div class="external-modal__text" [innerHtml]="externalDescription.advertiserDescription"></div>
      <div class="external-modal__subtitle">Developer's description</div>
      <div class="external-modal__subtext" [innerHtml]="externalDescription.developerDescription"></div>
    </div>
  </modal-body>

</modal>

<modal #externalActualize>

  <modal-header>
    <span class="light">Actualize External </span>
    <span>{{actualizeData.length}}</span>
  </modal-header>

  <modal-body>
    <div class="approval-goals approval-goals_visible" *ngIf="actualizeData.length">
      <div class="approval-goals__top">
        <div class="approval-goals__name">Offers <span>{{actualizeData.length}}</span></div>
      </div>
      <!-- BEGIN approval-goals__items -->
      <div class="approval-goals__items" *ngFor="let offer of actualizeData">
        <!-- BEGIN approval-goals__item -->
        <div class="approval-goals__item">
          <div>
            <a routerLink="/manager/offers/update-from-external"
               [queryParams]="{ids: actualizeIds, updateId: offer.id, step: 1}"
               class="approval-goals__plus pub-item__add-new-goal">
              Add new goals
            </a>
          </div>
          <div class="approval-goals__item-line">
            <div class="approval-goals__item-name">Offer name</div>
            <div class="approval-goals__item-cell lgreen">{{offer.name}}</div>
          </div>
          <div class="approval-goals__item-line">
            <div class="approval-goals__item-name">Tags</div>
            <div class="approval-goals__item-cell">
              <label class="label label-white" *ngFor="let tag of offer.tags">{{tag.name}}</label>
            </div>
          </div>
          <div class="approval-goals__item-line">
            <div class="approval-goals__item-name">Description</div>
            <div class="approval-goals__item-cell">
              <span [innerHTML]="safeSce(offer.description)"></span>
            </div>
          </div>
        </div>
        <!-- END approval-goals__item  -->
      </div>
      <!-- END approval-goals__items  -->
    </div>
    <div class="approval-goals approval-goals_visible">
      <div class="approval-goals__items">
        <div class="approval-goals__item-line">
          <a class="add-email__save btn btn-ok" style="margin: 0 auto" routerLink="/manager/offers/create-from-external"
             [queryParams]="{'ids[]': actualizeIds, step: 1}">Create standalone offer</a>
        </div>
      </div>
    </div>
  </modal-body>

  <modal-footer>
    <btn (click)="undoOfferActualization()">Cancel></btn>
  </modal-footer>

</modal>
