<card>
  <card-body>

    <form onsubmit="return false" [formGroup]="mailSettingsForm" appScrollToFirstErrorInput disableAutocomplete>
      <div class="form-group">
        <form-label class="col-4">{{ "mailSettings.setMailType" | translate }}</form-label>
        <div class="col-8">
          <ng-select [items]="mailTypes" bindLabel="value" bindValue="id" formControlName="type"></ng-select>
        </div>
      </div>
      <ng-container *ngIf="mailSettingsForm.get('type').value === 1">
        <div class="form-group">
          <form-label class="col-4">{{ "mailSettings.host" | translate }}</form-label>
          <input-text class="col-8" formControlName="host"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{ "mailSettings.port" | translate }}</form-label>
          <input-text class="col-8" formControlName="port"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{ "mailSettings.encryption" | translate }}</form-label>
          <input-text class="col-8" formControlName="encryption"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{ "mailSettings.username" | translate }}</form-label>
          <input-text class="col-8" formControlName="username"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{ "mailSettings.password" | translate }}</form-label>
          <input-text class="col-8" formControlName="password"></input-text>
        </div>
      </ng-container>
      <div class="form-group" *ngIf="mailSettingsForm.get('type').value === 2">
        <form-label class="col-4">{{ "mailSettings.domain" | translate }}</form-label>
        <input-text class="col-8" formControlName="domain"></input-text>
      </div>
      <div class="form-group"
        *ngIf="mailSettingsForm.get('type').value === 2 || mailSettingsForm.get('type').value === 3">
        <form-label class="col-4">{{ "mailSettings.apiKey" | translate }}</form-label>
        <input-text class="col-8" formControlName="apiKey"></input-text>
      </div>
      <div class="form-group" *ngIf="mailSettingsForm.get('type').value === 3">
        <form-label class="col-4">{{ "mailSettings.senderEmail" | translate }}</form-label>
        <input-text class="col-8" formControlName="senderEmail"></input-text>
      </div>
      <div class="form-group" *ngIf="mailSettingsForm.get('type').value === 3">
        <form-label class="col-4">{{ "mailSettings.senderName" | translate }}</form-label>
        <input-text class="col-8" formControlName="senderName"></input-text>
      </div>
      <div>
        <btn [disabled]="loading" (click)="checkConnection()">
          {{ "mailSettings.checkConnection" | translate }}
        </btn>
      </div>
      <p class="color-success mt-3" *ngIf="mailConnectionStatus === true">
        {{ "mailSettings.goodConnection" | translate }}</p>
      <p class="color-danger mt-3" *ngIf="mailConnectionStatus === false">
        {{ "mailSettings.badConnection"  | translate }}</p>

    </form>

  </card-body>

  <card-footer>
    <btn (click)="saveMailSettings()">
      {{ "mailSettings.save" | translate }}
    </btn>
  </card-footer>

</card>

<app-loader [loading]="loading"></app-loader>
