<full-page *ngIf="(loggs$ | async) as loggs">

  <offers-logger-filter #filterComponent [filter]="filter" (onApply)="applyFilters($event)"
    (onCancel)="applyFilters($event)"></offers-logger-filter>

  <page-head [verticalAligment]="'align-items-center'" [horisontalAligment]="'justify-content-between'">

    <div class="col-auto ml-auto">
      <date-range-picker [startDate]="filter.dateFrom" [endDate]="filter.dateTo" (onApply)="calendarCallback($event)">
      </date-range-picker>
    </div>

    <div class="col-auto">
      <btn [simple]="true" size="lg" class="mr-2" (click)="filterComponent.open()">
        {{ "filter" | translate }}
        <i class="fa fa-filter ml-1"></i>
      </btn>
    </div>

  </page-head>

  <page-body tableSync [data]="loggs?.items">

    <ng-container *ngIf="loggs?.items?.length">
      <table-head>
        <tr>
          <th>
            <p>#</p>
          </th>
          <th>
            <b translate="manageOffers.offerID" appSortBy="offersIds" [filter]="filter"
              [popover]="'approvals.sort.offer' | translate">Publisher</b>
            <p translate="approvals.offer">Offer</p>
          </th>
          <th>
            <b translate="superlinkStat.managerIDSelect" appSortBy="managersIds" [filter]="filter"
              [popover]="'sortByManager' | translate">Publisher</b>
            <p>{{'managers' | translate}}</p>
          </th>
          <th>
            <b appSortBy="action" [filter]="filter" [popover]="'sortByAction' | translate">{{'action' | translate}}</b>
            <p>{{'isSystem' | translate}}</p>
          </th>
          <th>
            <b appSortBy="date" [filter]="filter" [popover]="'sortByDate' | translate">{{'date' | translate}}</b>
          </th>
          <th>
            <p>{{'reasons' | translate}}</p>
          </th>
          <th>
            <p>{{'details' | translate}}</p>
          </th>
        </tr>

      </table-head>


      <table-body>
        <tr *ngFor="let log of loggs.items">
          <td>
            <badge [simple]="true" [popover]="log.id">{{log.id}}</badge>
          </td>
          <td>
            <badge [simple]="true" [popover]="log.offerId">{{log.offerId}}</badge>
            <a [routerLink]="['/', 'manager', 'offers', 'edit', log.offerId]" [innerHtml]="log.offerName"></a>
          </td>
          <td>
            <badge *ngIf="log.managerId" [simple]="true" [popover]="log.managerId">{{log.managerId}}</badge>
            <p [innerHtml]="log.managerName"></p>
          </td>
          <td>
            <p>{{log.action | offerActionsName | async}}</p>
            <badge *ngIf="log.system" [primary]="true">
              {{'sidebar.superlink.system' | translate}}</badge>
          </td>
          <td>
            <b class="inline-block mt11" [innerHtml]="log.datetime | dateFormatDynamic:true"></b>
          </td>
          <td>
            <p>{{log.reason | offerReasonsName | async}}</p>
          </td>
          <td>
            <btn [outline]="true" (click)="showDetailsPopup('open', log)">{{'details' | translate}}</btn>
          </td>
        </tr>
      </table-body>

      <table-control *ngIf="loggs?.items.length" [filter]="filter" [pagination]="loggs">
      </table-control>

    </ng-container>

    <app-no-data *ngIf="!loggs?.items?.length && !loading"></app-no-data>

  </page-body>

</full-page>

<app-loader [loading]="loading"></app-loader>

<modal #detailsModal size="xlg">

  <modal-header>{{'details' | translate}}</modal-header>

  <modal-body>
    <div class="offerDataWrapp">
      <div class="offerManage-modal__line">
        <div class="offerManage-modal__title">{{'oldData' | translate}}</div>
      </div>
      <ngx-json-viewer [json]="oldData"></ngx-json-viewer>
    </div>
    <div class="offerDataWrapp">
      <div class="offerManage-modal__line">
        <div class="offerManage-modal__title">{{'newData' | translate}}</div>
      </div>
      <ngx-json-viewer [json]="newData"></ngx-json-viewer>
    </div>
  </modal-body>

</modal>
