@import "../../../../../theme/new-styles/base/variables";

// .offerDataWrapp {
//   width: 49%;
//   max-width: 49%;
//   display: inline-block;
//   vertical-align: top;

//   &:first-of-type {
//     margin-right: 2%;
//   }
// }

// .offerManage-modal {
//   border-radius: $border-radius;
//   width: 900px;
//   left: calc(50% - 450px);
// }

// .add-email {
//   top: 100px;
// }


// .interval-sel-toggle {
//   padding: 8px 0 !important;
// }
