<form novalidate [formGroup]="themeForm" (submit)="saveTheme()">


  <label for="">Background
    <input type="color" formControlName="background">
  </label>

  <label for="">mainTestColor
    <input type="color" formControlName="mainTestColor">
  </label>

  <label for="">primaryTestColor
    <input type="color" formControlName="primaryTestColor">
  </label>

  <button type="submit" class="btn btn-block btn-success">Save theme</button>



</form>


form value {{themeForm.value | json}}