<card>

  <card-header>Links</card-header>

  <card-body>

    <div class="row mb-3">
      <div class="col-12">
        <form-label><code>.inline-link</code></form-label>
      </div>
      <div class="col-12">
        <a class="inline-link">Details</a>
      </div>
      <div class="col-12">
        <a class="inline-link inline-link-light">Details</a>
      </div>
      <div class="col-12">
        <a class="inline-link inline-link-danger">Details</a>
      </div>
      <div class="col-12">
        <a class="inline-link inline-link-success">Details</a>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12">
        <form-label><code>.custom-link</code></form-label>
      </div>
      <div class="col-12">
        <a class="custom-link custom-link-sm">check</a>
      </div>
      <div class="col-12">
        <a class="custom-link">check</a>
      </div>
      <div class="col-12">
        <a class="custom-link custom-link-lg">check</a>
      </div>
      <div class="col-12">
        <a class="custom-link custom-link--success">check</a>
      </div>
      <div class="col-12">
        <a class="custom-link custom-link--danger">check</a>
      </div>
      <div class="col-12">
        <a class="custom-link custom-link--primary">check</a>
      </div>
    </div>

  </card-body>

</card>
