<app-filter #filterComponent>
  <ng-container filter-header>
    <timezone-select [(ngModel)]="filter.timezone"></timezone-select>
  </ng-container>

  <ng-container filter-content>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-12">
            <form-label>{{ "dynamicReports.breakdown" | translate }}</form-label>
          </div>
          <div class="col">
            <div class="mb-1">
              <checkbox [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.date">{{'dynamicReports.date' | translate}}
              </checkbox>
            </div>
            <div class="mb-1">
              <checkbox [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.resale_name">
                {{'dynamicReports.resaleName' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.group_name">
                {{'dynamicReports.groupName' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.adv_name">
                {{'dynamicReports.advertiserName' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.month">
                {{'dynamicReports.month' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.pub_id">
                {{'dynamicReports.pubID' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.hour">{{'dynamicReports.hour' | translate}}
              </checkbox>
            </div>
            <div class="mb-1">
              <checkbox [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.countries">
                {{'dynamicReports.geography' | translate}}</checkbox>
            </div>
          </div>
          <div class="col">

            <div class="mb-1">
              <checkbox [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.sub_aff">
                {{'dynamicReports.subAffID' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.platforms">
                {{'dynamicReports.platforms' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.pub_name">
                {{'dynamicReports.publisherName' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.pub_man">
                {{'dynamicReports.affiliateManager' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.adv_man">
                {{'dynamicReports.accountManager' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.non_zero_revenue">
                {{'dynamicReports.nonZeroRevenue' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.adv_id">
                {{'dynamicReports.advertiserID' | translate}}</checkbox>
            </div>
          </div>
        </div>

      </div>
      <div class="col">
        <form-label>{{ "dynamicReports.applications" | translate }}</form-label>
        <div class="mb-1">
          <country-select [(ngModel)]="filter.countries_codes"
            [placeholder]="'dynamicReports.countriesSelect' | translate"></country-select>
        </div>
        <div class="mb-1">
          <app-group-urls-select [(ngModel)]="filter.groups_ids"
            [selectPlaceholder]="'dynamicReports.groupsIds' | translate"></app-group-urls-select>
        </div>
        <div class="mb-1">
          <app-platforms-select [(ngModel)]="filter.platforms_names"
            [selectPlaceholder]="'dynamicReports.platformsSelect' | translate"></app-platforms-select>
        </div>
        <div class="mb-1">
          <input-text type="text" [(ngModel)]="filter.sub_aff_id" placeholder="Sub Aff ID"></input-text>
        </div>
      </div>
      <div class="col">
        <form-label>{{ "dynamicReports.type" | translate }}</form-label>
        <div class="mb-1">
          <app-multy-live-select [apiUrl]="filterUrls.advertisers" [multiple]="true" [(ngModel)]="filter.adv_ids"
            [selectPlaceholder]="'dynamicReports.advertiserIDSelect' | translate"></app-multy-live-select>
        </div>

        <div class="mb-1">
          <app-multy-live-select [apiUrl]="filterUrls.publishers" [multiple]="true" [(ngModel)]="filter.pub_ids"
            [selectPlaceholder]="'dynamicReports.pubIDCompanySelect' | translate"></app-multy-live-select>
        </div>

        <div class="mb-1">
          <app-multy-live-select [apiUrl]="filterUrls.managers" [multiple]="true" [(ngModel)]="filter.man_ids"
            [selectPlaceholder]="'dynamicReports.managerNamesSelect' | translate"></app-multy-live-select>
        </div>
      </div>
      <div class="col">
        <form-label>&nbsp;</form-label>
        <div class="mb-1">
          <currency-select [placeholder]="'Currency'" [(ngModel)]="filter.total_currency" [clearable]="true">
          </currency-select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="slider" [ngClass]="{'open': additionalFilterIsOpen}">
        <div class="slider-btn slider-btn-more" (click)="toggleAdditionalFilter()" translate="dynamicReports.more">More
        </div>
        <div class="slider-content">
          <div class="col">
            <div class="row">
              <div class="col-12">
                <form-label>{{'dynamicReports.dataColumns' | translate}}</form-label>
              </div>
              <div class="col">
                <div class="mb-1">
                  <checkbox [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.clicks">
                    {{'dynamicReports.clicks' | translate}}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.pub_cr">
                    {{'dynamicReports.pubsCR' | translate}}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.rpc">
                    {{'dynamicReports.RPC' | translate}}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.conv">
                    {{'dynamicReports.conversions' | translate}}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.costs">
                    {{'dynamicReports.costs' | translate}}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.pub_conv">
                    {{'dynamicReports.pubsConversions' | translate}}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.revenues">
                    {{'dynamicReports.revenues' | translate}}</checkbox>
                </div>
              </div>
              <div class="col">
                <div class="mb-1">
                  <checkbox [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.cpa">
                    {{'dynamicReports.CPA' | translate}}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.pub_cpa">
                    {{'dynamicReports.pubsCPA' | translate}}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.profit">
                    {{'dynamicReports.profit' | translate}}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.cpc">
                    {{'dynamicReports.CPC' | translate}}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.cr">{{'dynamicReports.CR' | translate}}
                  </checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.duplicates">
                    {{'dynamicReports.duplicates' | translate:{symbol:''} }}
                  </checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.duplicates_perc">
                    {{'dynamicReports.duplicates' | translate:{symbol:'%'} }}
                  </checkbox>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-btn slider-btn-less" (click)="toggleAdditionalFilter()" translate="dynamicReports.less">Less
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container filter-footer>
    <btn [simple]="true" (click)="resetFilters(); close()">{{ "dynamicReports.reset" | translate }}</btn>
    <btn (click)="applyFilters();">{{ "dynamicReports.apply" | translate }}</btn>
  </ng-container>

</app-filter>
