.app-setting {
  display: flex;
  align-items: center;

  &__name {
    color: #58666E;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    & > * {
      margin-left: 5px;
    }
  }

  &__tip,
  &__a {
    font-size: 0;
  }
}

.app-sublink {
  & > * {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.approval-goals__item-line {
  padding: 15px 0;
}

.page-nav-panel .col {
  display: flex;

  app-search {
    margin-left: 15px;
  }
}

.pub-item__tip {
  margin-left: 5px;
}

.approval-goals {
  margin-top: 0;

  & + & {
    margin-top: 16px;
  }
}

.status-bar__item[disabled] {
  color: #dedede;
  cursor: not-allowed;
}

.actions-controls__btn {
  a {
    color: #58666e;
  }
}

.status-bar__item {
  button {
    background-color: transparent;
    border: none;

    span {
      margin-left: 5px;
    }
  }
}

.check-button {
  //float: right;
  line-height: 2.5;
  margin-left: 10px;
}

.bg-white {
  background: #fff;
}
.fake-table {
  &__cell {
    .app-buttons {
      .app-country {
        margin-right: .25rem;
        margin-left: .25rem;
        margin-bottom: .25rem;

        &__countries {
          text-align: left;
        }
      }
      .label {
        margin-left: .25rem;
        margin-right: .25rem;
      }
    }
  }
}
