<div class="status-select">
  <div class="select">
    <div class="select-status" [ngClass]="'select-status_'+statusOriginal">

      <div class="select-status__text">{{statusName}}</div>
      <div class="select-status__ico"
           *hasPermission="permission"
           [popover]="popoverContent"
           [placement]="'bottom-end'"
           [hideOnClick]="true"
           [trigger]="'click'"
           [context]="{ popover: popover }"
           #popover="popover">

        <i class="fa"
           [class.fa-chevron-up]="popover.isOpen"
           [class.fa-chevron-down]="!popover.isOpen"
           aria-hidden="true"></i>

      </div>

    </div>
  </div>
</div>

<ng-template #popoverContent let-popover="popover">
  <div class="select-options">
    <div *ngFor="let status of statuses" (click)="changeStatus(status); popover.hide()">
      <div *ngIf="status.id !== statusSelected" class="select-option">{{status.name}}</div>
    </div>
  </div>
</ng-template>
