@import "variables";
@import "../../../../theme/new-styles/base/variables";

#status-select {
  .select {
    position: relative;
    &-status {
      display: flex;
      &__text {
        width: 90px;
        height: 22px;
        line-height: 22px;
        border-radius: $border-radius;
        text-align: center;
        box-shadow: 0 4px 10px rgba(5, 23, 0, .25);
        border: 1px solid transparent;
      }
      &__ico {
        cursor: pointer;
        display: inline-block;
        height: 22px;
        width: 22px;
        text-align: center;
        line-height: 22px;
        border: 1px solid transparent;
        margin-left: 2px;
        border-radius: $border-radius;
        box-shadow: 0 4px 10px rgba(5, 23, 0, .35);
        font-size: 10px;
      }

      &_active {
        .select-status__text, .select-status__ico {
          background-color: #1da5f8;
          border-color: $lblue;
          color: white;
        }
      }
      &_pending {
        .select-status__text, .select-status__ico {
          background-color: $red;
          border-color: $red;
          color: white;
        }
      }
      &_banned {
        .select-status__text, .select-status__ico {
          background-color: $dgray;
          border-color: $ddgray;
          color: white;
        }
      }
      &_deactivated {
        .select-status__text, .select-status__ico {
          background-color: $dgray;
          border-color: $ddgray;
          color: white;
        }
      }
      &_deleted {
        .select-status__text, .select-status__ico {
          background-color: $dgray;
          border-color: $ddgray;
          color: white;
        }
      }
      &_frozen {
        .select-status__text, .select-status__ico {
          border-color: #C4C4C4;
          color: $gray;
          background-color: #dedede;
        }
      }

    }
    &-options {
      width: 118px;
      position: absolute;
      top: calc(100% + 0px);
      box-shadow: 0 9px 21px 0 var(--shadow);
      background-color: #fff;
      border-radius: $border-radius;
      z-index: 2;
    }
    &-option {
      color: $gray;
      font-weight: 600;
      font-size: 13px;
      padding: 8px 8px;
      transition: all .3s;
      cursor: pointer;
      &:hover {
        color: $lgreen;
      }
    }
  }
}
