<div
  class="input-group"
  [class.input-group-symbol]="isSymbol"
  [class.input-group-icon-prepend]="toLeft">
  <ng-content></ng-content>
  <btn *ngIf="!isSymbol" (click)="click()">
    <i class="fa fa-{{ iconName }}"></i>
  </btn>
  <i *ngIf="isSymbol" class="fa fa-{{ iconName }}"></i>
</div>
