@import "mixin";

:host {
  ::ng-deep {
    .card-body {
      max-width: rem(700);
    }

    card-body {
      & + card-body {
        .card-body {
          max-width: none;
        }
      }
    }
  }
}
