<card>

  <card-header>
    <h4 class="card-title">Create new role</h4>
  </card-header>

  <card-body>
    <div class="form-group">
      <app-form-label class="col-4" [required]="true">Role Name</app-form-label>

      <div class="col-8">
        <div class="createOffer__input" [ngClass]="{'createOffer__input_invalid': submit && errors['name']}">
          <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="role.name" placeholder="Role Name"
            required="">
          <div class="createOffer__input__error-message" *ngIf="submit && errors.name" [innerHtml]="errors.name[0]">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <app-form-label class="col-4" [required]="true">Role Weight</app-form-label>

      <div class="col-8">
        <div class="createOffer__input" [ngClass]="{'createOffer__input_invalid': submit && errors['weight']}">
          <input class="input-large" type="number" min="1" step="1" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="role.weight" placeholder="Role Weight" required>
          <div class="createOffer__input__error-message" *ngIf="submit && errors['weight']"
            [innerHtml]="errors['weight'][0]"></div>
        </div>
      </div>
    </div>
  </card-body>

  <card-body>
    <h4 class="card-title">Role Permissions</h4>
    <div class="row mt-3 mb-3" *ngFor="let group of role.availablePermissions | keyvalue">
      <div class="col-12">
        <checkbox [ngModelOptions]="{ standalone: true }" [(ngModel)]="group.value.checked" (change)="selectAll(group)"
          [popover]="'Select All'">
          <h4>{{ group.value.name }}</h4>
        </checkbox>
      </div>

      <div class="col-3" *ngFor="let permission of group.value.permissions">
        <div class="mb-1">
          <checkbox [ngModelOptions]="{ standalone: true }" [(ngModel)]="permission.checked">
            <p [innerHtml]="permission.name"></p>
          </checkbox>
        </div>
      </div>
    </div>

    <!-- <div class="create-pub__content create-role">
        <label class="createOffer__label">Role Permissions</label>
        <div class="create-pub__item pub-item">
          <div class="createOffer__input create-role__content" *ngFor="let group of role.availablePermissions">
            <ng-container>
              <h4>{{group.name}}</h4>
              <div class="block">
                <div class="createOffer__input pub-item" *ngFor="let permission of group.permissions">
                  <div class="inp inp-check">
                    <label>
                      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="permission.checked" type="checkbox">
                      <i class="icn-check"></i>
                      <span [innerHtml]="permission.name"></span>
                    </label>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div> -->
  </card-body>

  <card-footer>
    <btn [simple]="true" [routerLink]="['/', 'manager', 'settings', 'roles']">Cancel</btn>
    <btn (click)="manageRole()">Save</btn>
  </card-footer>

</card>
