<app-filter #filterComponent>
  <ng-container filter-header>
    <timezone-select [(ngModel)]="filter.timezone"></timezone-select>
  </ng-container>

  <ng-container filter-content>
    <div class="row">
      <div class="col">
        <div class="mb-1">
          <app-pub-offer-select [(ngModel)]="filter.offers"
            [selectPlaceholder]="'conversionReports.offers' | translate"></app-pub-offer-select>
        </div>
      </div>
      <div class="col">
        <div class="mb-1">
          <country-select [(ngModel)]="filter.countries" [multiple]="true" [placeholder]="'conversionReports.countries' | translate">
          </country-select>
        </div>
        <div class="mb-1">
          <app-platforms-select [(ngModel)]="filter.platforms"
            [selectPlaceholder]="'conversionReports.platforms' | translate"></app-platforms-select>
        </div>
      </div>
      <div class="col">
        <div class="mb-1">
          <input-text [(ngModel)]="filter.publisherClickId" [placeholder]="'conversionReports.clickId' | translate">
          </input-text>
        </div>
      </div>
      <div class="col">
        <div class="mb-1">
          <input-text [(ngModel)]="filter.affSub" [placeholder]="'conversionReports.affiliateSub' | translate">
          </input-text>
        </div>
        <div class="mb-1">
          <input-text [(ngModel)]="filter.affSub2" [placeholder]="'conversionReports.affiliateSub2' | translate">
          </input-text>
        </div>
        <div class="mb-1">
          <input-text [(ngModel)]="filter.affSub3" [placeholder]="'conversionReports.affiliateSub3' | translate">
          </input-text>
        </div>
        <div class="mb-1">
          <input-text [(ngModel)]="filter.affSub4" [placeholder]="'conversionReports.affiliateSub4' | translate">
          </input-text>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container filter-footer>
    <btn [simple]="true" (click)="resetFilters(); close()">{{ "dynamicReports.reset" | translate }}</btn>
    <btn (click)="applyFilters();">{{ "dynamicReports.apply" | translate }}</btn>
  </ng-container>
</app-filter>
