@import "variables";
@import "helpers/mixin/index";

html {
  font-size: rem(16);
}

body {
  font-size: rem(13);
  line-height: 1.5384;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  color: inherit;
}

h1, .h1 {
  font-size: rem(20);
  letter-spacing: .1em;
  text-transform: uppercase;
}

h2, .h2 {
  font-size: rem(18);
}

h3, .h3 {
  font-size: rem(16);
}

h4, .h4 {
  font-size: rem(14);
}

.caption {
  font-size: rem(11);
  line-height: 1.3636363636;
  letter-spacing: rem(1);
  text-transform: uppercase;
  font-weight: 500;
}

strong,
.strong {
  line-height: 1.33333333;
  letter-spacing: 0.01em;
}

table {
  p {
    margin-bottom: 0;
  }
}

.lead {
  font-size: rem(20);
  font-weight: 300;
}

hr {
  margin-top: rem(16);
  margin-bottom: rem(16);
  border: 0;
  border-top: 1px solid $border-color;
}

small,
.small {
  font-size: 80%;
  font-weight: 400;
}

mark,
.mark {
  padding: .2em;
  background-color: lighten(#FFB100, 35%);
}

code {
  font-size: 87.5%;
  color: #e83e8c;
  word-break: break-word
}

a > code {
  color: inherit
}

kbd {
  padding: rem(3.2, 6.4);
  font-size: 87.5%;
  color: #fff;
  background-color: #212529;
  border-radius: $border-radius;
}

kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: 700
}

pre {
  display: block;
  font-size: 87.5%;
  color: #212529
}

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal
}
textarea {
  overflow: auto;
  resize: vertical
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: rem(8);
  font-size: rem(24);
  line-height: inherit;
  color: inherit;
  white-space: normal
}

progress {
  vertical-align: baseline
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  outline-offset: rem(-2);
  -webkit-appearance: none
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button
}

output {
  display: inline-block
}

summary {
  display: list-item;
  cursor: pointer
}

template {
  display: none
}

[hidden] {
  display: none !important
}
[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  padding: 0;
  border-style: none
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0
}

input[type=date], input[type=datetime-local], input[type=month], input[type=time] {
  -webkit-appearance: listbox
}
