@import "mixin";

/* borders */
$border-radius: rem(4) !default;
$border-color: #DADEE0 !default;
/* end borders */

$rounded: 50% !default;

$opacity-hover: .66 !default;

/* element form */
$inputHeight: rem(32) !default;
$inputCheckSize: rem(24) !default;
/* end element form */

/* layout */
$headerHeight: rem(56);
$sidebarWidth: rem(220);
$sidebarWidthMin: rem(56);
/* end layout */



/**
 Old variables
 */
$white: #ffffff;
$llgray: #f5f5f5;
$lgray: #e4e4e4;
$gray: #58666e;
$dgray: #3d464d;
$ddgray: #37363e;

$lblue: #11a0f8;
$blue: #17294d;
$dblue: #12213e;

$green: #0dbc00;
$lgreen: #02c3c8;

$red: #f33155;

$font: 'Roboto', sans-serif;
$fontAwesome: 'FontAwesome';
