<label
  class="switch-btn"
  [class.switch-btn-danger]="isDanger"
  [class.checked]="isChecked">
  <input
    #check
    type="radio"
    class="switch-input"
    [name]="name"
    [value]="value"
    [formControl]="control"
    (change)="changeValue(value)">
  <span>
    <ng-content></ng-content>
  </span>
</label>
