<card>
  <card-header>
    <ng-container>
      Account Settings
    </ng-container>

  </card-header>
  <card-body>
    <form onsubmit="return false" [formGroup]="passwordForm" appScrollToFirstErrorInput disableAutocomplete>
      <!-- <div class="form-group">
        <form-label class="col-4" [required]="true">Theme</form-label>
        <ng-select class="col-8" [items]="themes" [bindValue]="'value'" [bindLabel]="'label'" formControlName="theme"
          [clearable]="false"></ng-select>
      </div> -->

      <div class="form-group">
        <form-label class="col-4" [required]="true">{{ "managerEdit.currentPassword" | translate }}</form-label>
        <input-text class="col-8" formControlName="currentPassword" [type]="'password'" ></input-text>
      </div>

      <div class="form-group">
        <form-label class="col-4" [required]="true">{{ "managerEdit.newPassword" | translate }}</form-label>
        <input-text class="col-8" formControlName="newPassword" [type]="'password'" ></input-text>
      </div>

      <div class="form-group">
        <form-label class="col-4" [required]="true">{{ "managerEdit.confirmPassword" | translate }}</form-label>
        <input-text class="col-8" formControlName="confirmPassword" [type]="'password'" ></input-text>
      </div>
    </form>
  </card-body>
  <card-footer>
    <btn [simple]="true" routerLink="/manager/dashboard">{{ "pubCreate.cancel" | translate }}</btn>
    <btn (click)="updatePassword()">
      {{'managerEdit.save' | translate}}
    </btn>
  </card-footer>
</card>
<app-loader [loading]="loading"></app-loader>
