input.createOffer__input_invalid {
  border-color: #f33155;
  color: #f33155;
  background-color: #FFF3F5 !important;
}

app-multy-live-select,
ng-select {
  width: 250px;
  max-width: 250px;
  min-width: 250px;
  margin-right: 8px;
}

.add-email__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .pub-item__plus {
    display: none;
  }

  &:first-child {
    &:last-child {
      .createOffer__input_delete-btn {
        display: none;
      }
      input {
        margin-right: 6px;
      }
    }
  }

  &:last-child {
    .pub-item__plus {
      display: block;
    }
  }

  .createOffer__input_delete-btn {
    position: static;
    margin: 0 12px;
  }

}

.add-email__controls {
  text-align: center;
  padding: 20px 0 0;
}

