<form [formGroup]="offerPostbackForm" (keydown.enter)="$event.preventDefault()">
  <div class="add-email__items">

    <div class="createOffer__input add-email__item" formArrayName="postbacks"
      *ngFor="let item of offerPostbackForm['controls'].postbacks['controls']; let $index = index;">
      <ng-container [formGroupName]="$index">
        <app-multy-live-select [apiUrl]="'/offers/key_list'" [selectPlaceholder]="'Offers'" [multiple]="false"
          formControlName="offerId" [bindLabel]="'name'" [bindValue]="'id'" name="offerId"
          (selectedObject)="getSelectedObject($event, $index)"></app-multy-live-select>

        <ng-select [items]="goalsList[$index]" [searchable]="false" bindLabel="name" bindValue="id"
          placeholder="offerGoalId" [clearable]="false" formControlName="offerGoalId" placeholder="Offer Goal">
        </ng-select>
        <input-text formControlName="url"></input-text>
        <button type="button" class="createOffer__input_delete-btn"
          (click)="removeFromFormArray('postbacks', $index)"></button>
        <button type="button" class="pub-item__plus" (click)="addEvent()">+</button>
      </ng-container>

    </div>
  </div>

  <div class="add-email__controls">
    <button class="add-email__cancel" type="button" (click)="closeModal()">Cancel</button>
    <button class="add-email__save btn btn-ok" type="button" (click)="submitForm()" [disabled]="offerPostbackForm.invalid">Save</button>

  </div>

</form>
