<div class="dash-item__top">
  <div class="dash-item__title" translate="dashboard.payout"></div>
</div>
<div class="dash-item__body" *ngIf="chartData.data.length">
  <app-linear-chart
    [labelCallback]="labelTransformCallback"
    [titleCallback]="titleTransformCallback"
    [datasets]="[chartData, chartData2]"
    [labels]="chartLabels">
  </app-linear-chart>
</div>
