@import "variables";
@import "mixin";

html,
body {
  overflow: hidden;
  color: var(--body-color);
  background-color: var(--body-background);

  ::-webkit-scrollbar {
    width: .5em;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 rem(6) transparent;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(#02c3c8, .5);
    outline: 1px solid #01a1a7;
    border-radius: $border-radius;

    &:hover {
      background-color: #02c3c8;
    }
  }
}
*,
::after,
::before {
  box-sizing: border-box;
}
[disabled] {
  cursor: not-allowed;
  opacity: $opacity-hover;
}

button {
  cursor: pointer;
}
img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

ng-select {
  &.ng-invalid.ng-touched {
    .ng-arrow-wrapper {
      padding-right: rem(35);
    }
  }
}

.color-secondary {
  color: #58666e !important; }

.color-danger {
  color: #f33155 !important; }

.color-warning {
  color: #ffb100 !important; }

.color-light {
  color: #88A0AE !important; }

.color-success {
  color: #0dbc00 !important;
}

.color-primary {
  color: #11a0f8 !important;
}
.color-info {
  color: #02c3c8 !important;
}

.panel-control,
.panel-control-mini {
  display: inline-flex;
}

.fake-auth-input {
  position: fixed;
  top: rem(-100);
  left: rem(-100);
}

.platform-icon {
  margin-right: rem(5);
  display: inline-block;
  width: rem(20);
  height: rem(20);

  &__sm {
    background-size: rem(14, 14);
    width: rem(15);
    height: rem(15);
  }
}
