:root {

  /* main color */
  --body-background: #eeeeee;
  --body-color: #58666E;
  --main-color: #02C3C8;
  --shadow: rgba(22, 32, 72, .15);
  /* end main color */

  /* sidebar */
  --sidebar-background: #1b2e58;
  --sidebar-background-active: #12213e;
  --sidebar-background-statistics: #12213e;
  --sidebar-color-btn: #a2a9b8;
  --sidebar-color: #ffffff;
  --sidebar-color-statistics: rgba(255, 255, 255, .5);
  --sidebar-color-active: #02C3C8;
  --sidebar-color-icons: #ffffff;
  /* end sidebar */

  /* header */
  --header-background: #1b2e58;
  --header-color: #ffffff;
  --header-color-active: #02C3C8;
  --header-dropdown-background: #1b2e58;
  --header-dropdown-background-hover: #12213e;
  --header-dropdown-color: #ffffff;
  /* end header */

  /* card */
  --card-background: #ffffff;
  --card-color: #58666E;
  --card-header-background: #ffffff;
  --card-header-color: #58666E;
  --card-body-background: #ffffff;
  --card-body-color: #58666E;
  --card-footer-background: #ffffff;
  --card-footer-color: #58666E;
  /* end card */

  /* control UI */
  --form-control-background-layout: #1b2e58;
  --form-control-background-unckeck-hover: #E6F9FA;
  --form-control-border-unckeck-hover: #02C3C8;

  --form-control-overlay: #F5F5F5;
  --form-control-placeholder: #B5BFC4;

  --form-control-color-active: #02C3C8;
  --form-control-background: #ffffff;
  --form-control-color: #58666E;
  --form-control-border: #DADEE0;

  --form-control-background-hover: #ffffff;
  --form-control-color-hover: #58666E;
  --form-control-border-hover: #B5BFC4;

  --form-control-shadow-focus: #E6F9FA;
  --form-control-background-focus: #ffffff;
  --form-control-color-focus: #58666E;
  --form-control-border-focus: #02C3C8;

  --form-control-shadow-disabled: #F5F5F5;
  --form-control-background-disabled: #F5F5F5;
  --form-control-color-disabled: #828384;
  --form-control-border-disabled: #DADEE0;

  --form-control-shadow-error: #FEEBEE;
  --form-control-background-error: #FEEBEE;
  --form-control-color-error: #F33155;
  --form-control-border-error: #F33155;

  --form-control-shadow-success: #E7F9E6;
  --form-control-background-success: #E7F9E6;
  --form-control-color-success: #0DBC00;
  --form-control-border-success: #0DBC00;
  /* end control UI */

  /* badge */
  --badge-background: #02C3C8;
  --badge-background-info: #11a0f8;
  --badge-background-primary: #0c66a1;
  --badge-background-secondary: #88a0ae;
  --badge-background-success: #0dbc00;
  --badge-background-warning: #ffb100;
  --badge-background-danger: #f33155;
  --badge-background-simple: #dedede;
  --badge-background-contrast: #fff;

  --badge-color: #fff;
  --badge-color-info: #fff;
  --badge-color-primary: #fff;
  --badge-color-secondary: #fff;
  --badge-color-success: #fff;
  --badge-color-warning: #fff;
  --badge-color-danger: #fff;
  --badge-color-simple: #58666e;
  --badge-color-contrast: #8898A0;
  /* end badge */

  /* table color */
  --table-background: #ffffff;
  --table-background-selection: #F5F5F5;
  --table-color: #58666E;
  --table-head-color: #88a0ae;
  --table-color-selection: #ffffff;
  --table-border: #DADEE0;
  /* end table color */

  /* button */
  --button-simple-background: #ffffff;
  --button-simple-color: #58666E;

  --button-primary-background: #02C3C8;
  --button-primary-color: #ffffff;

  --button-danger-background: #F33155;
  --button-danger-color: #ffffff;

  --button-warning-background: #FFB100;
  --button-warning-color: #ffffff;

  --button-success-background: #0DBC00;
  --button-success-color: #ffffff;

  --button-info-background: #11a0f8;
  --button-info-color: #ffffff;

  --button-secondary-background: #58666E;
  --button-secondary-color: #ffffff;

  --button-link-color: #58666E;
  --button-link-background: transparent;

  --button-background-disabled: #DADEE0;
  --button-color-disabled: #ffffff;
  /* end button */

  /* select-custom */
  --select-custom-color-disabled: #B5BFC4;
  --select-custom-color: #58666E;

  --select-custom-color-primary: #02C3C8;
  --select-custom-color-success: #0DBC00;
  --select-custom-color-danger: #F33155;
  --select-custom-color-warning: #FFB100;

  --select-custom-background-primary: #E6F9FA;
  --select-custom-background-success: #E7F9E6;
  --select-custom-background-danger: #FEEBEE;
  --select-custom-background-warning: #FFF8E6;

  --select-custom-btn-color: #ffffff;

  --select-custom-btn-background-primary: #02C3C8;
  --select-custom-btn-background-success: #0DBC00;
  --select-custom-btn-background-danger: #F33155;
  --select-custom-btn-background-warning: #FFB100;
  /* end select-custom */

  /* calendar */
  --calendar-background: #ffffff;
  --calendar-background-active: #E6F9FA;
  --calendar-color: #58666E;
  --calendar-color-active: #02C3C8;
  --calendar-color-hover: #018594;
  /* end calendar */
}
