@import "variables";
@import "helpers/mixin/index";

html,
body {
  overflow: hidden;
  color: var(--body-color);
  background-color: var(--body-background);

  ::-webkit-scrollbar {
    width: .5em;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 rem(6) transparent;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(#02c3c8, .5);
    outline: 1px solid #01a1a7;
    border-radius: $border-radius;

    &:hover {
      background-color: #02c3c8;
    }
  }
}
*,
::after,
::before {
  box-sizing: border-box;
}
[disabled] {
  cursor: not-allowed;
  opacity: $opacity-hover;
}

button {
  cursor: pointer;
}
img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.color-secondary {
  color: #58666e !important; }

.color-danger {
  color: #f33155 !important; }

.color-warning {
  color: #ffb100 !important; }

.color-light {
  color: #f5f5f5 !important; }

.panel-control,
.panel-control-mini {
  display: inline-flex;
}

.fake-auth-input {
  position: fixed;
  top: rem(-100);
  left: rem(-100);
}
