<full-page *ngIf="(conversionReport$ | async) as conversionReport">

  <app-converion-reports-filter #filterComponent [filter]="filter" (onApply)="applyFilters($event)"
    (onCancel)="applyFilters($event)"></app-converion-reports-filter>

  <page-head [verticalAligment]="'align-items-center'" [horisontalAligment]="'justify-content-between'">

    <div class="col-auto page-nav">
      <a [routerLink]="['/', 'manager', 'reports', 'statistics']" routerLinkActive="current"
        *hasPermission="['access_hourly_statistics']">
        <span translate="conversionReports.statistics"></span>
      </a>
      <a [routerLink]="['/', 'manager', 'reports', 'conversion-reports']" [routerLinkActive]="['current']"
        *hasPermission="['access_conversion_report']">
        <span translate="conversionReports.conversions">Conversions</span>
      </a>
    </div>

    <div class="col mr-auto">
      <btn class="mr-2" size="lg" (click)="exportCSV()">
        <i class="fa fa-download mr-2"></i>
        {{'conversionReports.exportReport' | translate}}
      </btn>
      <btn size="lg" (click)="sendToEmail()">
        <i class="fa fa-paper-plane mr-2"></i>
        {{'conversionReports.sendToEmail' | translate}}
      </btn>
    </div>

    <div class="col-auto ml-auto">
      <date-range-picker [startDate]="filter.from" [endDate]="filter.to" (onApply)="calendarCallback($event)">
      </date-range-picker>
    </div>

    <div class="col-auto ml-auto">
      <btn [simple]="true" size="lg" class="mr-2" (click)="filterComponent.open()">
        {{ "conversionReports.filter" | translate }}
        <i class="fa fa-filter ml-1"></i>
      </btn>
    </div>

  </page-head>

  <page-body tableSync [data]="conversionReport?.items">

    <ng-container *ngIf="conversionReport?.items?.length">
      <table-head>
        <tr>
          <th>
            <p translate="conversionReports.transactionId">Transaction ID</p>
            <p translate="conversionReports.status">Status</p>
          </th>
          <th>
            <p translate="conversionReports.offerName">Offer Name</p>
            <b translate="conversionReports.offerId" appSortBy="offer" [filter]="filter">Offer
              ID</b>
            <p>Goal Name</p>
          </th>
          <th>
            <b translate="conversionReports.minFraud" [translateParams]="{symbol: '%'}" appSortBy="minFraud"
              [filter]="filter">Min
              Fraud</b>
            <p translate="conversionReports.riskScore">Risk Score</p>
            <p translate="conversionReports.values">Values</p>
          </th>
          <th>
            <span translate="conversionReports.advAffSub">advAffSub</span>
          </th>
          <th>
            <b translate="conversionReports.time" appSortBy="time" [filter]="filter">Time</b>
            <b translate="conversionReports.convTime" appSortBy="convTime" [filter]="filter">Conv.time</b>
            <p translate="conversionReports.duration">Duration</p>
          </th>
          <th>
            <b translate="conversionReports.country" appSortBy="country" [filter]="filter">Country</b>
            <p translate="conversionReports.refferer">Referrer</p>
            <p translate="conversionReports.ip">IP</p>
            <p translate="conversionReports.convIp">Conv.IP</p>
            <p>User agent</p>
            <p>Click ID</p>
          </th>
          <th>
            <p translate="conversionReports.device">Device</p>
            <b translate="conversionReports.platform" appSortBy="platform" [filter]="filter">Platform
            </b>
          </th>
          <th>
            <b translate="conversionReports.publisher" appSortBy="publisher" [filter]="filter">Publisher</b>
            <b translate="conversionReports.payout" appSortBy="payout" [filter]="filter">Payout</b>
          </th>
          <th>
            <b translate="conversionReports.advertiser" appSortBy="advertiser" [filter]="filter">Advertiser</b>
            <b translate="conversionReports.income" appSortBy="income" [filter]="filter">Income</b>
          </th>
        </tr>
      </table-head>

      <table-body>
        <tr *ngFor="let report of conversionReport.items; let key = index">
          <td>
            <btn-icon [icon]="'link'" [popover]="report.transactionId"></btn-icon>
            <div class="scheduled-select mt11">
              <div class="scheduled-select__content">
                <div
                  class="{{'scheduled-select__current scheduled-select__current_' + (report?.approveStatus.status | approveStatus:true | async)}}">
                  <div class="scheduled-select__current-text"
                    [innerHTML]="report?.approveStatus.status | approveStatus | async">
                    Paid
                  </div>
                  <div class="scheduled-select__current-ico" *ngIf="report?.approveStatus?.availableStatuses.length">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="scheduled-select__option" *ngIf="report?.approveStatus.availableStatuses.length">
                  <ng-container *ngFor="let status of report?.approveStatus.availableStatuses; let $index = index;">
                    <div *ngIf="status.id !== report?.approveStatus.status"
                      (click)="changeReportStatus(report.id, status)"
                      class="scheduled-select__item scheduled-select__item_approved"
                      [innerHTML]="status | approveStatus | async">
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>

            <badge [primary]="true" [size]="'sm'">{{report?.status.status | conversionReportsStatus | async}}</badge>
            <div class="mb-1"></div>
            <badge [warning]="true" [size]="'sm'" *ngIf="report?.conversionData.postbackSent">Sent</badge>
            <div class="mb-1"></div>
            <badge [danger]="true" [size]="'sm'" *ngIf="!report?.conversionData.postbackSent">Not Sent</badge>
            <div class="mb-1"></div>
            <badge [simple]="true" [size]="'sm'" *ngIf="report?.isTest">Test</badge>
            <div class="mb-1"></div>
            <badge [simple]="true" [size]="'sm'" *ngIf="(isShowUniqueClick$ | async) && report?.isUnique">Unique</badge>
            <div class="mb-1"></div>
          </td>
          <td>
            <p class="semi-bold" [innerHtml]="report?.offer.name"></p>
            <label class="label align-top icon-status"
              [ngClass]="'icon-status-'+(report?.offer?.status | offersStatuses:'origin' | async)">
              <span [innerHtml]="report?.offer?.status | offersStatuses:'name' | async"></span>
            </label>
            <badge [simple]="true" [size]="'sm'" [popover]="report.offer.id">{{report.offer.id}}</badge>
            <div class="mb-1"></div>
            <badge [simple]="true" [size]="'sm'">{{report.goal.name}}</badge>
            <div class="mb-1"></div>
            <div class="light-comment" *ngIf="report?.offer.comment">
              <i class="fa fa-comment"></i>
              <span [innerHtml]="report?.offer.comment"></span>
            </div>
          </td>
          <td>
            <badge [warning]="true" [size]="'sm'" *ngIf="!report?.minFraud">Ok</badge>
            <div class="mb-1"></div>
            <badge [danger]="true" [size]="'sm'" *ngIf="report?.minFraud">Alert</badge>
            <div class="mb-1"></div>
            <p [innerHtml]="report?.score.riskScore"></p>
            <badge [simple]="true" [size]="'sm'" *ngIf="report?.subPublisher.affSub"
              [popover]="report.subPublisher.affSub">
              {{report.subPublisher.affSub}}</badge>
            <div class="mb-1"></div>
            <badge [info]="true" [size]="'sm'" *ngIf="report?.subPublisher.affSub2"
              [popover]="report.subPublisher.affSub2"> Aff
              sub2</badge>
            <div class="mb-1"></div>
            <badge [primary]="true" [size]="'sm'" *ngIf="report?.subPublisher.affSub3"
              [popover]="report.subPublisher.affSub3"> Aff
              sub3</badge>
            <div class="mb-1"></div>
            <badge [warning]="true" [size]="'sm'" *ngIf="report?.subPublisher.affSub4"
              [popover]="report.subPublisher.affSub4"> Aff
              sub4</badge>
            <div class="mb-1"></div>
          </td>
          <td>
            <badge [simple]="true" [size]="'sm'" *ngIf="report?.advAffSub.advAffSub"
              [popover]="report.advAffSub.advAffSub">
              {{report.advAffSub.advAffSub}}</badge>
            <div class="mb-1"></div>
            <badge [info]="true" [size]="'sm'" *ngIf="report?.advAffSub.advAffSub2"
              [popover]="report.advAffSub.advAffSub2"> Aff
              sub2</badge>
            <div class="mb-1"></div>
            <badge [primary]="true" [size]="'sm'" *ngIf="report?.advAffSub.advAffSub3"
              [popover]="report.advAffSub.advAffSub3"> Aff
              sub3</badge>
            <div class="mb-1"></div>
            <badge [warning]="true" [size]="'sm'" *ngIf="report?.advAffSub.advAffSub4"
              [popover]="report.advAffSub.advAffSub4"> Aff
              sub4</badge>
            <div class="mb-1"></div>
          </td>
          <td>
            <p [innerHtml]="report?.datetime | dateFormatDynamic:true:filter.timezone">
            </p>
            <b class="mt-1"
              [innerHtml]="report?.conversionData.conversionDatetime | dateFormatDynamic:true:filter.timezone">
            </b>
            <badge [simple]="true" [size]="'sm'">
              {{report.duration}}</badge>
            <div class="mb-1"></div>
          </td>
          <td>
            <p *ngIf="report?.country.code" class="country-ico"
              [ngClass]="'country-ico_' + report.country.code.toLowerCase()"
              [popover]="report?.country?.code | country | async">
            </p>
            <badge *ngIf="!report?.browserData.referrer" [simple]="true" [size]="'sm'">
              Referrer</badge>
            <div class="mb-1"></div>
            <badge *ngIf="report?.browserData.referrer" [simple]="true" [size]="'sm'"
              [popover]="report.browserData.referrer">
              {{report?.browserData.referrer}}</badge>
            <div class="mb-1"></div>

            <div class="mt-1">
              <p [innerHtml]="report?.sessionIp"></p>
              <b [innerHtml]="report?.conversionData.conversionIp"></b>
              <badge *ngIf="report?.userAgent" [simple]="true" [size]="'sm'" [popover]="report.userAgent">
                {{report?.userAgent}}</badge>
              <div class="mb-1"></div>
              <badge *ngIf="report?.publisherClickId" [simple]="true" [size]="'sm'" [popover]="report.publisherClickId">
                {{report?.publisherClickId}}</badge>
              <div class="mb-1"></div>
            </div>
          </td>
          <td>
            <b [innerHtml]="report?.device.deviceModel"></b>
            <span>
              <span [innerHtml]="report?.device.os" class="mr-1"></span>
              <span [innerHtml]="report?.device.osVersion"></span>
            </span>
            <p style="margin: 5px 0" [innerHtml]="report?.platform.platformName"></p>

            <badge [simple]="true" [popover]="report.device.deviceId">Device ID</badge>
            <div class="mb-1"></div>
            <badge [primary]="true" [popover]="report.device.androidId">Android ID</badge>
            <div class="mb-1"></div>
            <badge [warning]="true" [popover]="report.device.idfa">IDFA</badge>
            <div class="mb-1"></div>
          </td>
          <td>
            <b class="arrow-right-icon" [innerHtml]="report?.publisher.name">
            </b>
            <badge [simple]="true" [popover]="report.publisher.id">{{report.publisher.id}}</badge>
            <div class="mb-1"></div>

            <div class="arrow-wrap">
              <i class="fa fa-arrow-up red mr-1" aria-hidden="true"></i>
              <b [innerHtml]="report?.paid.amount+' '+report?.paid.currency"></b>
            </div>
          </td>
          <td>
            <b [innerHtml]="report?.advertiser.name" class="text-truncate d-block"></b>
            <badge [simple]="true" [popover]="report.advertiser.id">{{report.advertiser.id}}</badge>
            <div class="mb-1"></div>
            <div class="arrow-wrap">
              <i class="fa fa-arrow-down blue mr-1" aria-hidden="true"></i>
              <b [innerHtml]="report?.earn.amount+' '+report?.earn.currency"></b>
            </div>
          </td>
        </tr>
      </table-body>

      <table-total [title]="'Total General'">
        <tr>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
            <strong class="coast-status coast-status--green" style="padding-left: 0"
              [innerHtml]="(conversionReport?.data?.paid[0]?.amount?.toFixed(2)) + ' ' + conversionReport?.data?.paid[0]?.currency">$125</strong>
          </td>
          <td>
            <strong class="coast-status coast-status--green" style="padding-left: 0"
              [innerHtml]="(conversionReport?.data?.earn[0].amount?.toFixed(2)) + ' ' + conversionReport?.data?.earn[0].currency">$125</strong>
          </td>
        </tr>
      </table-total>

      <table-control *ngIf="conversionReport?.items.length" [filter]="filter" [pagination]="conversionReport">
      </table-control>

    </ng-container>

    <app-no-data *ngIf="!conversionReport?.items?.length && !loading"></app-no-data>

  </page-body>

</full-page>

<app-loader [loading]="loading"></app-loader>
