<full-page>

  <page-head>

    <div class="col-auto">
      <btn (click)="createNewRestriction()">
        <i class="fa fa-plus mr-2"></i>
        Add New Restriction</btn>
    </div>

  </page-head>

  <page-body tableSync>

    <div class="row" *ngIf="!loading">

      <div class="col-6">

        <table-head [separated]="true">
          <tr>
            <th colspan="2">
              <h4>Restriction Name</h4>
            </th>
          </tr>
        </table-head>

        <table-body [separated]="true">

          <tr *ngFor="let restriction of restrictions;">
            <td>
              <p [innerHtml]="restriction.name"></p>
            </td>
            <td [style.width.px]="50">
              <btn-icon [outline]="true" [icon]="'pencil'" (click)="updateCurrentRestriction(restriction)" [popover]="'Edit'"></btn-icon>
            </td>
          </tr>

        </table-body>

      </div>

    </div>

  </page-body>

</full-page>

<app-loader [loading]="loading"></app-loader>

<modal #editModal size="lg">

  <modal-header>
    Manage Tag
  </modal-header>

  <modal-body>
    <form [formGroup]="form" (ngSubmit)="manageRestriction()">
      <app-input-text [submitted]="true" formControlName="name" placeholder="Tag name"></app-input-text>
    </form>
  </modal-body>

  <modal-footer>
    <btn [simple]="true" (click)="editModal.close()">Cancel</btn>
    <btn (click)="manageRestriction()">Save</btn>
  </modal-footer>

</modal>
