<card>
  <card-header>
    <ng-container *ngIf="!systemResaleUrl.id">Crate System Algorithm URL</ng-container>
    <ng-container *ngIf="systemResaleUrl.id">Update System Algorithm URL</ng-container>
  </card-header>
  <card-body>
    <form onsubmit="return false" [formGroup]="urlForm" appScrollToFirstErrorInput disableAutocomplete>
      <div class="form-group" formGroupName="resaleUrl">
        <form-label [required]="true" class="col-4">{{ "pubAlgorithm.manage.resaleUrl" | translate }}</form-label>
        <resale-url-select class="col-8" formControlName="id" [multiple]="false"
          [placeholder]="'pubAlgorithm.manage.resaleUrlSelect' | translate"></resale-url-select>
      </div>
      <div class="form-group">
        <form-label [required]="true" class="col-4">{{ "pubAlgorithm.manage.name" | translate }}</form-label>
        <input-text class="col-8" formControlName="name"></input-text>
      </div>
    </form>
  </card-body>
  <card-footer>
    <btn [simple]="true" [routerLink]="['/', 'manager', 'superlink', 'system', 'publisher-algorithm']">
      {{ "pubAlgorithm.manage.cancel" | translate }}</btn>
    <btn (click)="submitUrlForm()">
      <ng-container *ngIf="!systemResaleUrl?.id">{{ "pubAlgorithm.manage.save" | translate }}</ng-container>
      <ng-container *ngIf="systemResaleUrl?.id">{{ "pubAlgorithm.manage.edit" | translate }}</ng-container>
    </btn>
  </card-footer>

</card>
<app-loader [loading]="loading"></app-loader>
