<app-filter #filterComponent>
  <ng-container filter-header>
    <timezone-select [(ngModel)]="filter.timezone"></timezone-select>
  </ng-container>

  <ng-container filter-content>
    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col-12">
            <form-label>{{ "dynamicReports.breakdown" | translate }}</form-label>
          </div>
          <div class="col">
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.date" [trueValue]="1" [falseValue]="0">{{'dynamicReports.date' | translate}}
              </checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.group_name" [trueValue]="1" [falseValue]="0">
                {{'dynamicReports.groupName' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.month" [trueValue]="1" [falseValue]="0">
                {{'dynamicReports.month' | translate}}</checkbox>
            </div>
          </div>
          <div class="col">
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.hour" [trueValue]="1" [falseValue]="0">{{'dynamicReports.hour' | translate}}
              </checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.countries" [trueValue]="1" [falseValue]="0">
                {{'dynamicReports.geography' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.platforms" [trueValue]="1" [falseValue]="0">
                {{'dynamicReports.platforms' | translate}}</checkbox>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <form-label>{{ "dynamicReports.dataColumns" | translate }}</form-label>
        <country-select [(ngModel)]="filter.countries_codes"
          [placeholder]="'dynamicReports.countriesSelect' | translate"></country-select>
        <div class="mb-1"></div>
        <app-multy-live-select [apiUrl]="'/superlink/group'" [bindLabel]="'name'"
          [selectPlaceholder]="'dynamicReports.groupsIds' | translate" [(ngModel)]="filter.groups_ids">
        </app-multy-live-select>
        <div class="mb-1"></div>
        <app-platforms-select [(ngModel)]="filter.platforms_names"
          [selectPlaceholder]="'dynamicReports.platformsSelect' | translate"></app-platforms-select>
      </div>
    </div>
    <div class="row slider" [ngClass]="{'open': additionalFilterIsOpen}">
      <div class="col-4">
        <div class="row">
          <div class="col-12">
            <div class="slider-btn slider-btn-more" (click)="toggleAdditionalFilter()" translate="dynamicReports.more">
              More
            </div>
            <form-label class="slider-content">{{'dynamicReports.dataColumns' | translate}}</form-label>
          </div>
          <div class="col slider-content">
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.clicks" [trueValue]="1" [falseValue]="0">
                {{'dynamicReports.clicks' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.pub_cr" [trueValue]="1" [falseValue]="0">
                {{'dynamicReports.pubsCR' | translate}}</checkbox>
            </div>
          </div>
          <div class="col slider-content">
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.costs" [trueValue]="1" [falseValue]="0">
                {{'dynamicReports.costs' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.pub_conv" [trueValue]="1" [falseValue]="0">
                {{'dynamicReports.pubsConversions' | translate}}</checkbox>
            </div>
          </div>
          <div class="col-12">
            <div class="slider-btn slider-btn-less" (click)="toggleAdditionalFilter()" translate="dynamicReports.less">
              Less
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container filter-footer>
    <btn [simple]="true" (click)="resetFilters(); close()">{{ "dynamicReports.reset" | translate }}</btn>
    <btn (click)="applyFilters();">{{ "dynamicReports.apply" | translate }}</btn>
  </ng-container>

</app-filter>
