<card>

  <card-header>Create scrub</card-header>

  <card-body>
    <form [formGroup]="scrubForm" (submit)="createScrub()">

      <div class="form-group">
        <form-label class="col-4">Offer ID</form-label>
        <input-text class="col-8" formControlName="offerId"></input-text>
      </div>

      <div class="form-group">
        <form-label class="col-4">Scrub Month</form-label>
        <date-month-picker class="col-8" formControlName="month"
                           [workingFormat]="monthFormat"
                           [maxDateTime]="maxDate">
        </date-month-picker>
      </div>

    </form>
  </card-body>

  <card-footer>
    <btn [simple]="true" routerLink="/manager/billing/publishers/scrubs/list">Cancel</btn>
    <btn (click)="createScrub()">Save</btn>
  </card-footer>

</card>
