<card>
  <card-header>
    {{ groupUrl.id ? 'groupUrls.manage.update' : 'groupUrls.manage.create' | translate }}
  </card-header>

  <card-body>
    <form [formGroup]="form" onsubmit="return false">

      <div class="form-group" formGroupName="publisher">
        <form-label class="col-4" [required]="true">{{ "groupUrls.manage.publisher" | translate }}</form-label>
        <publisher-select class="col-8"
                          formControlName="id"
                          [placeholder]="'groupUrls.manage.publisherSelect' | translate">
        </publisher-select>
      </div>

      <div class="form-group">
        <form-label class="col-4" [required]="true">{{ "groupUrls.manage.name" | translate }}</form-label>
        <input-text class="col-8" formControlName="name"></input-text>
      </div>

      <div class="form-group">
        <form-label class="col-4" [required]="true">{{ "groupUrls.manage.distribution" | translate }}</form-label>
        <div class="col-8">
          <div class="position-relative">
            <ng-select [placeholder]="'groupUrls.manage.distributionSelect' | translate"
                       [items]="(distributionList$ | async).items"
                       bindLabel="name"
                       bindValue="id"
                       #distribution
                       formControlName="distribution">
            </ng-select>
            <validation-message [control]="form.get('distribution')" [target]="distribution?.filterInput?.nativeElement">
            </validation-message>
          </div>
        </div>
      </div>

      <div class="form-group">
        <form-label class="col-4" [required]="true">{{ "groupUrls.manage.dynamicType" | translate }}</form-label>
        <div class="col-8">
          <div class="position-relative">
            <ng-select [placeholder]="'groupUrls.manage.dynamicTypeSelect' | translate"
                       [items]="(dynamicTypeList$ | async).items"
                       bindLabel="name"
                       bindValue="id"
                       #dynamicType
                       formControlName="dynamicType">
            </ng-select>
            <validation-message [control]="form.get('dynamicType')" [target]="dynamicType?.filterInput?.nativeElement">
            </validation-message>
          </div>
        </div>
      </div>

      <div class="form-group">
        <form-label class="col-4" [required]="true">{{ "groupUrls.manage.contentType" | translate }}</form-label>
        <div class="col-8">
          <div class="position-relative">
            <ng-select [placeholder]="'groupUrls.manage.contentTypeSelect' | translate"
                       [items]="(contentTypeList$ | async).items"
                       bindLabel="name"
                       bindValue="id"
                       #contentType
                       formControlName="contentType">
            </ng-select>
            <validation-message [control]="form.get('contentType')" [target]="contentType?.filterInput?.nativeElement">
            </validation-message>
          </div>
        </div>
      </div>

      <div class="form-group">
        <form-label class="col-4" [required]="true">{{ "groupUrls.manage.trafficType" | translate }}</form-label>
        <div class="col-8">
          <div class="position-relative">
            <ng-select [placeholder]="'groupUrls.manage.trafficTypeSelect' | translate"
                       [items]="(trafficTypeList$ | async).items"
                       bindLabel="name"
                       bindValue="id"
                       #trafficType
                       formControlName="trafficType">
            </ng-select>
            <validation-message [control]="form.get('trafficType')" [target]="trafficType?.filterInput?.nativeElement">
            </validation-message>
          </div>
        </div>
      </div>

      <div class="form-group">
        <form-label class="col-4" [required]="true">{{ "groupUrls.manage.monetizationModel" | translate }}</form-label>
        <div class="col-8">
          <div class="position-relative">
            <ng-select [placeholder]="'groupUrls.manage.monetizationModelSelect' | translate"
                       [items]="(monetizationList$ | async).items"
                       bindLabel="name"
                       bindValue="id"
                       #monetizationModel
                       formControlName="monetizationModel">
            </ng-select>
            <validation-message [control]="form.get('monetizationModel')" [target]="monetizationModel?.filterInput?.nativeElement">
            </validation-message>
          </div>
        </div>
      </div>
    </form>
  </card-body>

  <card-footer>
    <btn [simple]="true" [routerLink]="['/', 'manager', 'superlink', 'group-urls', 'list']">
      {{ "groupUrls.manage.cancel" | translate }}
    </btn>
    <btn (click)="submitUrlForm()">
      {{ groupUrl.id ? 'groupUrls.manage.edit' : 'groupUrls.manage.save' | translate }}
    </btn>
  </card-footer>

</card>

<app-loader [loading]="loading"></app-loader>
