<full-page *ngIf="(advertisers$ | async) as advertisers">

  <users-advertisers-filter
    #filterComponent
    [filter]="filter"
    (onApply)="applyFilters($event)"
    (onCancel)="applyFilters($event)">
  </users-advertisers-filter>

  <page-head>

    <div class="col">
      <app-search [filter]="filter"></app-search>
    </div>

    <div class="col-auto">
      <btn [simple]="true" size="lg" class="mr-2" (click)="filterComponent.open()">
        <i class="fa fa-search mr-1"></i>{{ "advManage.advanceSearch" | translate }}
      </btn>
      <btn size="lg" routerLink="/manager/advertisers/create" *hasPermission="['manage_advertisers']">
        <i class="fa fa-user-plus mr-1"></i>{{ "advManage.createAdv" | translate }}
      </btn>
    </div>

  </page-head>

  <page-body tableSync [data]="advertisers?.items">

    <ng-container *ngIf="advertisers?.items?.length">

      <table-head>
        <tr>
          <th>
            <span>#</span>
            <b appSortBy="status" [filter]="filter">{{ "advManage.status" | translate }}</b>
          </th>
          <th>
            <b appSortBy="username" [filter]="filter">{{ "advManage.userName" | translate }}</b>
            <b appSortBy="email" [filter]="filter">{{ "advManage.email" | translate }}</b>
          </th>
          <th>
            <span>{{ "advManage.notes" | translate }}</span><br>
            <b appSortBy="registered" [filter]="filter">{{ "advManage.registered" | translate }}</b>
          </th>
          <th>
            <b appSortBy="manager" [filter]="filter">{{ "advManage.manager" | translate }}</b>
            <span>{{ "advManage.postbackURL" | translate }}</span><br>
            <span>{{ "advManage.resalePostbackURL" | translate }}</span>
          </th>
          <th>&nbsp;</th>
        </tr>
      </table-head>

      <table-body>
        <tr *ngFor="let advertiser of advertisers?.items;">

          <td [style.width.px]="162">
            <div [style.width.px]="114">
              <badge [simple]="true" [truncate]="true" [popover]="advertiser.id" [placement]="'right'">
                {{advertiser.id}}
              </badge>
              <div class="mb-1"></div>
              <app-user-statuses
                [statuses]="(advertisersStatuses$ | async).items"
                [statusSelected]="advertiser.status"
                (changeStatusEvent)="popover.show($event)"
                [permission]="['manage_advertisers']"
                [trigger]="''"
                [placement]="'right'"
                [popover]="statusChange"
                #popover="popover"
                [context]="{advertiser: advertiser, popover: popover}">
              </app-user-statuses>
            </div>
          </td>

          <td [style.width.px]="250">
            <p><strong class="word-break">{{advertiser.username}}</strong></p>
            <p>{{advertiser.email}}</p>
          </td>

          <td  [style.width.px]="250">
            <badge size="lg" [block]="true" [simple]="true" *ngIf="advertiser.notes">
              <i class="fa fa-comment mr-1"></i>{{advertiser.notes}}
            </badge>
            <div class="mb-1"></div>
            <badge [secondary]="true" [popover]="popoverAdv" [context]="{ advertiser: advertiser }">
              {{ advertiser.createdAt | timezone | dateFormat:true:false:'MMMM YYYY' }}
            </badge>
          </td>

          <td [style.width.px]="200">
            <strong *ngIf="advertiser.manager.username">{{advertiser.manager.username}}</strong>

            <p>
              <badge class="mr-1" [secondary]="true" *ngIf="advertiser.ipWhitelist.ipWhitelist.length" [popover]="popoverIp">
                IP
              </badge>
              <badge [secondary]="true" [popover]="popoverPostback" [context]="{ advertiser: advertiser }">
                <i class="fa fa-link"></i>
              </badge>

              <ng-template #popoverIp>
                <div *ngFor="let ip of advertiser.ipWhitelist.ipWhitelist">{{ ip }}</div>
              </ng-template>
            </p>
          </td>

          <td [style.width.px]="200" class="text-right">

            <btn size="sm" [outline]="true" [appCopyToClipboard]="advertiser.token">
              {{ "advManage.copyToken" | translate }}
            </btn>

            <app-actions *hasPermission="['manage_advertisers']">
              <a class="actions-option action-edi" [routerLink]="['/manager/advertisers/edit', advertiser.id]">
                {{ "advManage.edit" | translate }}
              </a>
            </app-actions>
          </td>

        </tr>
      </table-body>

      <table-control *ngIf="advertisers?.items.length"
                     [filter]="filter"
                     [pagination]="advertisers">
      </table-control>

    </ng-container>

    <app-no-data *ngIf="!advertisers?.items?.length && !loading"></app-no-data>

  </page-body>

</full-page>

<app-loader [loading]="loading"></app-loader>

<!-- TODO - На данном этапе это предложение, нужно обсудить с дизайнерами -->
<ng-template #statusChange let-popover="popover" let-advertiser="advertiser">
  <div class="change-status-popover">
    <strong>Are you sure to change status?</strong>
    <btn (click)="changeStatus(popover.$event, advertiser); popover.hide()">Change</btn>
    <btn [simple]="true" (click)="popover.hide()">Cancel</btn>
  </div>
</ng-template>

<ng-template #popoverAdv let-advertiser="advertiser">
  <div>
    <span>{{ "advManage.registered" | translate }}</span>:
    <strong>{{ advertiser.createdAt | dateFormatDynamic:true }}</strong>
  </div>
  <div>
    <span>{{ "advManage.updated" | translate }}</span>:
    <strong>{{ advertiser.updatedAt | dateFormatDynamic:true }}</strong>
  </div>
</ng-template>

<ng-template #popoverPostback let-advertiser="advertiser">
  <p>
    <span>Main postback: </span><br>
    <span>{{ advertiser?.postbackUrl }}</span>
  </p>
  <p>
    <span>Goal postback: </span><br>
    <span>{{ advertiser?.postbackUrl + '&goal_id={goal_id}' }}</span>
  </p>
  <p>
    <span>Event postback: </span><br>
    <span>{{ advertiser?.postbackUrl + '&event={event}' }}</span>
  </p>
  <span>Resale postback URL: </span><br>
  <span>{{ advertiser?.resalePostbackUrl }}</span>
</ng-template>
