@import "variables";
@import "mixin";

:host {
  display: inline-flex;
  align-items: center;

  ::ng-deep {
    .ng-dropdown-panel {
      bottom: 100% !important;
      margin-bottom: 2px;
      border-radius: rem(3);
    }

    .ng-select.ng-select-opened.ng-select-top>.ng-select-container {
      border-radius: 0.25rem !important;
    }
  }
}
