<full-page *ngIf="(groupUrls$ | async) as groupUrls">

  <page-body tableSync [data]="groupUrls?.items">

    <ng-container *ngIf="groupUrls?.items?.length">

      <table-head>
        <tr>
          <th [style.width.px]="100">
            <b>#</b>
          </th>
          <th>
            <b translate="groupUrls.list.name"></b>
          </th>
          <th>
            <b translate="groupUrls.list.trafficType"></b>
          </th>
          <th>
            <b translate="groupUrls.list.distributionType"></b>
          </th>
          <th>
            <b translate="groupUrls.list.contentType"></b>
          </th>
          <th>
            <b translate="groupUrls.list.dynamicType"></b>
          </th>
          <th>
            <b translate="groupUrls.list.monetizationModel"></b>
          </th>
          <th>
            <b translate="groupUrls.list.mode"></b>
          </th>
          <th [style.width.px]="50">&nbsp;</th>
        </tr>
      </table-head>

      <table-body>
        <tr *ngFor="let url of groupUrls.items; let $index = index;">
          <td [style.width.px]="100">
            <badge [simple]="true">
              {{url.id}}
            </badge>
          </td>
          <td>
            <p [innerHtml]="url?.name"></p>
          </td>
          <td>
            <p>{{url.trafficType | urlTrafficType | async}}</p>
          </td>
          <td>
            <p>{{url.distribution | urlDistributionType | async}}</p>
          </td>
          <td>
            <p>{{url.contentType | urlContentType | async}}</p>
          </td>
          <td>
            <p>{{url.dynamicType | urlDynamicType | async}}</p>
          </td>
          <td>
            <p>{{url.monetizationModel | urlMonetizationType | async}}</p>
          </td>
          <td>
            <p>{{url.mode | urlModeType | async}}</p>
          </td>
          <td [style.width.px]="50">
            <div class="approvals-settings">
              <a *ngIf="url.link" class="approvals-settings__item approvals-settings__item_edit"
                [popover]="groupLinkPopover" [context]="{url : url}">
                <i class="fa fa-link" aria-hidden="true"></i>
              </a>
              <a class="approvals-settings__item approvals-settings__item_edit"
                [popover]="'groupUrls.list.modeManage' | translate"
                [routerLink]="['/', 'publisher', 'superlink', 'group-urls', 'mode', url.id]">
                <i class="fa fa-wrench" aria-hidden="true"></i>
              </a>
            </div>
          </td>
        </tr>
      </table-body>
      <table-control *ngIf="groupUrls?.items.length" [filter]="filter" [pagination]="groupUrls">
      </table-control>
    </ng-container>
    <app-no-data *ngIf="!groupUrls?.items?.length && !loading"></app-no-data>
  </page-body>
</full-page>
<app-loader [loading]="loading"></app-loader>


<ng-template #groupLinkPopover let-url="url">
  <p translate="groupUrls.list.groupLink"></p>
  <br>
  <p [innerHtml]="url?.link" [appCopyToClipboard]="url?.link"></p>
</ng-template>
