@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "variables";
@import "mixin";

.owl-dt-inline-container,
.owl-dt-popup-container {
  width: rem(261);
  box-shadow: none;

  .owl-dt-calendar {
    border: none;
    height: auto !important;
  }

  .owl-dt-calendar-control {
    padding: 1em .5em 1.5em;

    .owl-dt-control-arrow-button {
      color: #02c3c8;
      border-radius: rem(2);
      width: rem(30);
      &:hover {
        background-color: #e0e0e0;
      }
    }

    .owl-dt-control-period-button {
      .owl-dt-control-button-arrow {
        display: none;
      }
    }

    .owl-dt-calendar-control-content {
      .owl-dt-control {
        color: #58666e;
      }
    }
  }

  .owl-dt-calendar-table {

    th, td {
      padding: 0 !important;
      padding-bottom: rem(5) !important;
    }

    .owl-dt-calendar-header {
      .owl-dt-calendar-table-divider {
        height: 0;
        padding-bottom: 0;
        display: none;

        &:after {
          background-color: #C4C4C4 !important;
          top: rem(-30);
        }
      }

      .owl-dt-weekdays {
        .owl-dt-weekday {
          padding-bottom: rem(5);
          text-transform: uppercase;
          color: #C4C4C4;
        }
      }
    }

    .owl-dt-calendar-body {

      .owl-dt-calendar-cell {
        width: rem(35) !important;
        height: rem(35) !important;
        padding: 0 !important;

        &:hover {
          background-color: rgba(0,0,0,.04);

          .owl-dt-calendar-cell-content {
            background-color: transparent;
          }
        }

        &.owl-dt-calendar-cell-active,
        &.owl-dt-calendar-cell-in-range {
          background-color: #e5f9f9;

          &.owl-dt-calendar-cell-range-from {
            border-top-left-radius: rem(3);
            border-bottom-left-radius: rem(3);
          }

          &.owl-dt-calendar-cell-range-to {
            border-top-right-radius: rem(3);
            border-bottom-right-radius: rem(3);
          }

          .owl-dt-calendar-cell-content {
            color: #58666e;
            background-color: transparent;
            font-weight: 700;
          }
        }

        .owl-dt-calendar-cell-content {
          top: rem(5);
          left: rem(5);
          right: rem(5);
          bottom: rem(5);
          width: auto;
          height: auto;
          color: #828282;
          border-radius: rem(1);

          &.owl-dt-calendar-cell-selected {
            //border-color: #e5f9f9;
            box-shadow: none;
            background-color: #02c3c8;
            color: #fff;
          }
        }
      }
    }
  }

  .owl-dt-container-row {
    padding: 0;
    height: auto;

    .owl-dt-timer-box {
      width: 32%;

      .owl-dt-control-button-content {
        color: #02c3c8;
      }
    }

    .owl-dt-timer-content {
      .owl-dt-timer-input {
        width: rem(48);
      }
    }
  }

  .owl-dt-container-info {
    display: none;
  }
}

.owl-single-picker {
  background-color: #fff;
  box-shadow: 0 9px 21px 0 var(--shadow);
  border-radius: rem(4);
  display: inline-block;

  .owl-single-picker-btns {
    text-align: center;
    padding: rem(10, 10, 15);
    .btn {
      min-width: rem(80);
      margin: rem(0, 5);
    }
  }
}

.owl-single-picker-container {

  position: relative;

  input {
    background-color: #fff !important;
  }

  .owl-single-picker {
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;
  }

  .datepicker-dates {
    display: inline-block;
    vertical-align: middle;
    font-family: Roboto, sans-serif;
    font-size: rem(16);
    line-height: rem(24);
    color: #02c3c8;
    font-weight: 600;
    position: relative;
    top: rem(1);
    margin-left: rem(5);
  }

  &.datemonth-picker {
    .owl-dt-calendar-control-content {
      .owl-dt-control {
        pointer-events: none;
        cursor: default;
      }
    }
  }

  &.to-right {
    .owl-single-picker {
      left: auto;
      right: 0;
    }
  }
}

.owl-dt-calendar-cell-disabled {
  pointer-events: none;
  cursor: default;
}
