.view-panel {
  &__period {
    strong {
      margin-right: 5px;
    }
  }
  &__address {
    abbr {
      & + span {
        margin-left: 5px;
      }
    }
    .semi-bold {
      & + span {
        margin-left: 5px;
      }
    }
  }
  &__table {
    tr {
      td {
        &:nth-child(1) {
          width: 39%;
        }
        &:nth-child(2) {
          width: 30%;
        }
        &:nth-child(3) {
          width: 7%;
        }
        &:nth-child(4) {
          width: 12%;
        }
        &:nth-child(5) {
          width: 12%;
        }
      }
    }
  }
}
