<card>

  <card-header>
    <div class="col-12 text-center">
      <btn [simple]="true" routerLink="/manager/billing/publishers/invoices-merged/list">Back</btn>
      <btn (click)="downloadInvoice()">
        <i class="fa fa-print mr-1"></i> Download as PDF
      </btn>
    </div>
  </card-header>

  <card-body>
    <ng-container *ngIf="invoice">
      <table width="100%">
        <tr>
          <td align="left">
            <address>
              <p>Bill to:</p>
              <strong [innerHtml]="invoice?.company?.name"></strong>
              <p [innerHtml]="invoice?.company?.country"></p>
              <p><abbr title="" data-original-title="Phone"> Phone: </abbr><span [innerHtml]="invoice?.company?.phone"></span></p>
              <p><abbr title="" data-original-title="Email"> Email: </abbr><span [innerHtml]="invoice?.company?.email"></span></p>
            </address>
          </td>
          <td align="right">
            <address>
              <p>From:</p>
              <p class="semi-bold" [innerHtml]="invoice?.publisher?.name"></p>
              <p><abbr title="" data-original-title="Address"> Address: </abbr> <span [innerHtml]="invoice?.paymentInfo?.address"></span></p>
              <p><abbr title="" data-original-title="Phone"> Phone: </abbr> <span [innerHtml]="invoice?.paymentInfo?.phone"></span></p>
              <p><abbr title="" data-original-title="Email"> Email: </abbr> <span [innerHtml]="invoice?.paymentInfo?.email"></span></p>
              <br>
              <p><strong>Invoice date</strong> <span [innerHtml]="invoice?.dueDate | dateFormatDynamic:true"></span></p>
              <p><strong>Due date:</strong> <span [innerHtml]="invoice?.dueDate| dateFormatDynamic"></span></p>
              <p>
                <strong>Invoice period</strong>
                <span [innerHtml]="invoice?.period?.from | dateFormatDynamic"></span> -
                <span [innerHtml]="invoice?.period?.to | dateFormatDynamic"></span>
              </p>
            </address>
          </td>
        </tr>
      </table>

      <div *ngFor="let invoiceItem of invoice?.invoices">
        <p class="view-panel__period">
          <span class="inline-block"><strong>Invoice number: </strong>
            <span [innerHtml]="invoiceItem?.invoiceNumber"></span>
          </span>
          <span style="padding-left: 20%" class="inline-block"><strong>Invoice period:</strong>
            <span [innerHtml]="invoiceItem?.period?.from | dateFormatDynamic"></span> -
            <span [innerHtml]="invoiceItem?.period?.to | dateFormatDynamic"></span>
          </span>
        </p>
        <br>
        <table class="view-panel__table" *ngIf="invoiceItem.invoiceCalculation.length && invoiceItem.type !== 3">
          <thead>
          <tr>
            <th colspan="2"><strong>Item List</strong></th>
            <th><strong>Quantity</strong></th>
            <th><strong>Unit Price </strong></th>
            <th *ngIf="offer?.totalPrice"><strong>Total Price</strong></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let offer of invoiceItem.invoiceCalculation">
            <td><strong [innerHtml]="offer.id"></strong></td>
            <td><strong [innerHtml]="offer.name"></strong></td>
            <td [innerHtml]="offer.quantity"></td>
            <td [innerHtml]="offer?.unitPrice?.currency + ' ' + ((offer?.unitPrice?.amount)|currency:'')"></td>
            <td *ngIf="offer?.totalPrice"
                [innerHtml]="offer?.totalPrice?.currency + ' ' + ((offer?.totalPrice?.amount)|currency:'')"></td>
          </tr>
          </tbody>
        </table>
        <table class="view-panel__table text-left"
               *ngIf="invoiceItem.invoiceCalculation.length && invoiceItem.type === 3">
          <thead>
          <tr>
            <th><strong>Item List</strong></th>
            <th><strong>Item Name</strong></th>
            <th><strong>Total Price</strong></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let offer of invoiceItem.invoiceCalculation">
            <td><strong [innerHtml]="offer.id"></strong></td>
            <td><strong [innerHtml]="offer.name"></strong></td>
            <td [innerHtml]="offer?.unitPrice?.currency + ' ' + ((offer?.unitPrice?.amount)|currency:'')"></td>
          </tr>
          </tbody>
        </table>
        <!-- invoiceItem {{invoiceItem | json}} -->
        <br>
        <div>
          <div class=" text-right view-panel__info">
            <div class="view-panel__line">
              <span class="semi-bold">Total price :</span>
              <span [innerHtml]="invoiceItem.amount?.currency+' '+(invoiceItem?.amount?.amount)"></span>
            </div>
            <div class="view-panel__line" *ngFor="let part of invoiceItem.parts">
              <ng-container *ngIf="invoiceItem.parts.length">
                  <span>
                    <span class="semi-bold" [innerHtml]="part.typeName + ':'"></span>
                    <br> <span [innerHtml]="part.notes"></span>
                  </span>
                <span [innerHtml]="part.action+' '+part.amount?.currency+' '+(part.amount.amount)"></span>
              </ng-container>
            </div>
            <div class="view-panel__line">
              <span class="semi-bold">TOTAL : </span>
              <span [innerHtml]="invoiceItem.amountDetails.total?.currency + ' ' +(invoiceItem.amountDetails.total.amount)"></span>
            </div>
          </div>
        </div>
        <br>
      </div>
      <br>
      <p class="text-right semi-bold big-font">Total for all invoices: <span [innerHtml]="invoice?.amount?.currency + ' ' + (invoice?.total | number: '1.2-2')"></span>
      </p>
    </ng-container>
  </card-body>

</card>
