<card>
  <card-header>
    <div class="col-12 text-center">
      <btn [simple]="true" routerLink="/manager/billing/publishers/invoices/list">Back</btn>
      <btn (click)="downloadInvoice()">
        <i class="fa fa-print mr-1"></i> Download as PDF
      </btn>
    </div>
  </card-header>

  <card-body>

    <table width="100%">
      <tr>
        <td align="left">
          <p>Bill to:</p>
          <p class="semi-bold" [innerHtml]="invoice.company.name"></p>
          <p [innerHtml]="invoice.company.country"></p>
          <p><abbr title="" data-original-title="Phone"> Phone: </abbr><span [innerHtml]="invoice.company.phone"></span></p>
          <p><abbr title="" data-original-title="Email"> Email: </abbr><span [innerHtml]="invoice.company.email"></span></p>
        </td>
        <td align="right">
          <strong [innerHtml]="'From: ' + invoice.publisher.name"></strong>
          <p><abbr title="" data-original-title="Address"> Address: </abbr> <span [innerHtml]="invoice.paymentInfo.address"></span></p>
          <p><abbr title="" data-original-title="Phone"> Phone: </abbr> <span [innerHtml]="invoice.paymentInfo.phone"></span></p>
          <p><abbr title="" data-original-title="Email"> Email: </abbr> <span [innerHtml]="invoice.paymentInfo.email"></span></p>
          <br>
          <p>
            <strong>Invoice number:</strong>
            <span class="ml-1">{{invoice.invoiceNumber}}</span>
          </p>
          <p>
            <strong>Invoice date:</strong>
            <span class="ml-1">{{invoice.createdAt | dateFormatDynamic}}</span>
          </p>
          <p>
            <strong class="mr-1">Due date:</strong>
            <span [innerHtml]="invoice.dueDate | dateFormatDynamic"></span>
          </p>
          <p>
            <strong class="mr-1">Invoice period:</strong>
            <span [innerHtml]="invoice.period.from | dateFormatDynamic"></span> -
            <span [innerHtml]="invoice.period.to | dateFormatDynamic"></span>
          </p>
        </td>
      </tr>
    </table>

    <div>
      <table class="view-panel__table" *ngIf="invoice.invoiceCalculation.length">
        <thead>
        <tr>
          <th colspan="2"><strong>Item List</strong></th>
          <th><strong>Quantity</strong></th>
          <th><strong>Unit Price </strong></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let offer of invoice.invoiceCalculation">
          <td><strong [innerHtml]="offer.id"></strong></td>
          <td><strong [innerHtml]="offer.name"></strong></td>
          <td [innerHtml]="offer.quantity"></td>
          <td [innerHtml]="offer?.unitPrice?.currency + ' ' + ((offer?.unitPrice?.amount)|currency:'')"></td>
          <td *ngIf="offer?.totalPrice" [innerHtml]="offer?.totalPrice?.currency + ' ' + ((offer?.totalPrice?.amount)|currency:'')"></td>
        </tr>
        </tbody>
      </table>
      <br>
      <div>
        <div class="text-right view-panel__info">
          <div class="view-panel__line">
            <span class="semi-bold">Total price :</span>
            <span [innerHtml]="invoice.amount.currency+' '+(invoice.amount.amount|currency:'')"></span>
          </div>
          <div class="view-panel__line">
            <span class="semi-bold">Fee :</span>
            <span [innerHtml]="'- ' + invoice.amount.currency+' '+(invoice.fee|currency:'')"></span>
          </div>
          <div class="view-panel__line" *ngFor="let partVal of invoice.amountDetails.parts | keyvalue">
            <ng-container *ngIf="partVal.value.amount !== 0">
                <span>
                  <span class="semi-bold" [innerHtml]="partVal.value.name + ':'"></span>
                </span>
              <span [innerHtml]="partVal.value.action+' '+partVal.value.currency+' '+(partVal.value.amount|currency:'')"></span>
            </ng-container>
          </div>
          <div class="view-panel__line">
            <span class="semi-bold">TOTAL : </span>
            <span [innerHtml]="invoice.amountDetails.total.currency + ' ' +(invoice.amountDetails.total.amount|currency:'')"></span>
          </div>
        </div>
      </div>
      <br>
    </div>
    <br>
    <p class="text-right semi-bold big-font">Total for all invoices: <span [innerHtml]="invoice.amountDetails.total.currency + ' ' + (invoice.amountDetails.total.amount|currency:'')"></span>
    </p>

  </card-body>
</card>
