<app-filter #filterComponent>
  <ng-container filter-content>

    <div class="row">
      <div class="col-3">
        <div class="mb-2">
          <form-label>{{ "pubManage.status" | translate }}</form-label>
          <ng-select [(ngModel)]="filter.status" [items]="(statuses$ | async)?.items" bindLabel="name" bindValue="id"
            placeholder="{{ 'pubManage.status' | translate }}" [clearable]="false">
          </ng-select>
        </div>
        <div class="mb-2">
          <form-label>{{ "pubManage.manager" | translate }}</form-label>
          <app-managers-select [(ngModel)]="filter.managersIds" [selectPlaceholder]="'pubManage.manager' | translate">
          </app-managers-select>
        </div>
        <div class="mb-2">
          <form-label>{{ "pubManage.antiFraud" | translate }}</form-label>
          <ng-select [(ngModel)]="filter.antiFraud" [placeholder]="'pubManage.antiFraud' | translate"
            [clearable]="false">
            <ng-option [value]="1">Enabled</ng-option>
            <ng-option [value]="0">Disabled</ng-option>
          </ng-select>
        </div>
        <div class="mb-2">
          <form-label>{{ "pubManage.badTraffic" | translate }}</form-label>
          <ng-select [(ngModel)]="filter.badTraffic" placeholder="{{ 'pubManage.badTraffic' | translate }}"
            [clearable]="false">
            <ng-option [value]="1">Enabled</ng-option>
            <ng-option [value]="0">Disabled</ng-option>
          </ng-select>
        </div>
        <div class="mb-2">
          <form-label>{{ "pubManage.externalPubId" | translate }}</form-label>
          <input-text placeholder="{{ 'pubManage.externalPubId' | translate }}" [(ngModel)]="filter.externalId">
          </input-text>
        </div>
      </div>
      <div class="col-3">
        <div class="mb-2">
          <form-label>{{ "pubManage.username" | translate }}</form-label>
          <input-text [placeholder]="'pubManage.username' | translate" [(ngModel)]="filter.username"></input-text>
        </div>
        <div class="mb-2">
          <form-label>{{ "pubManage.email" | translate }}</form-label>
          <input-text [placeholder]="'pubManage.email' | translate" [mask]="'email'" [(ngModel)]="filter.email">
          </input-text>
        </div>
        <div class="mb-2">
          <form-label>{{ "pubManage.skype" | translate }}</form-label>
          <input-text [placeholder]="'pubManage.skype' | translate" [(ngModel)]="filter.skype"></input-text>
        </div>
        <div class="mb-2">
          <form-label>{{ "pubManage.firstName" | translate }}</form-label>
          <input-text [placeholder]="'pubManage.firstName' | translate" [(ngModel)]="filter.firstName"></input-text>
        </div>
      </div>
      <div class="col-3">
        <div class="mb-2">
          <form-label>{{ "pubManage.lastName" | translate }}</form-label>
          <input-text [placeholder]="'pubManage.lastName' | translate" [(ngModel)]="filter.lastName"></input-text>
        </div>
        <div class="mb-2">
          <form-label>{{ "pubManage.address" | translate }}</form-label>
          <input-text [placeholder]="'pubManage.address' | translate" [(ngModel)]="filter.address"></input-text>
        </div>
        <div class="mb-2">
          <form-label>{{ "pubManage.countriesCodes" | translate }}</form-label>
          <app-countries-select [(ngModel)]="filter.countriesCodes" [clearable]="false"
            [selectPlaceholder]="'pubManage.countriesCodes' | translate">
          </app-countries-select>
        </div>
        <div class="mb-2">
          <form-label>{{ "pubManage.zipcode" | translate }}</form-label>
          <input-text [placeholder]="'pubManage.zipcode' | translate" [(ngModel)]="filter.zipcode"></input-text>
        </div>
      </div>
      <div class="col-3">
        <div class="mb-2">
          <form-label>{{ "pubManage.phone" | translate }}</form-label>
          <input-text [placeholder]="'pubManage.phone' | translate" [(ngModel)]="filter.phone"></input-text>
        </div>
        <div class="mb-2">
          <form-label>{{ "pubManage.notes" | translate }}</form-label>
          <input-text [placeholder]="'pubManage.notes' | translate" [(ngModel)]="filter.notes"></input-text>
        </div>
        <div class="mb-2">
          <form-label>{{ "pubManage.postbackUrl" | translate }}</form-label>
          <input-text [placeholder]="'pubManage.postbackUrl' | translate" [(ngModel)]="filter.postbackUrl"></input-text>
        </div>
        <div class="mb-2">
          <form-label>{{ "pubManage.paymentTerms" | translate }}</form-label>
          <payment-terms-select [(ngModel)]="filter.paymentTerms" [clearable]="true" [multiple]="false"
            [placeholder]="'pubManage.paymentTerms' | translate">
          </payment-terms-select>
        </div>
        <div class="mb-2">
          <form-label>{{ "pubManage.paymentTermsSuperlink" | translate }}</form-label>
          <payment-terms-superlink-select [(ngModel)]="filter.paymentTermsSuperlink" [clearable]="true"
            [multiple]="false" [placeholder]="'pubManage.paymentTermsSuperlink' | translate">
          </payment-terms-superlink-select>
        </div>
      </div>
    </div>


  </ng-container>
  <ng-container filter-footer>
    <btn [simple]="true" (click)="resetFilters(); close()">Reset</btn>
    <btn (click)="applyFilters(); close()">Apply</btn>
  </ng-container>
</app-filter>
