@import "../../../../../theme/new-styles/base/variables";

app-switcher {
  /* switch */
  .switch {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    //max-width: 12.75rem;
    height: $inputHeight;
    padding: 0 .2586rem;
    font-size: 1rem;
    line-height: 1;
    color: #58666e;
    outline: none !important;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    box-sizing: border-box;

    &-inline {
      width: auto;

      .switch-btn {
        flex: 1 0 auto;
        max-width: none;
        width: auto;
      }
    }

    &-xs {
      max-width: 8.75rem;
    }
    &-sm {
      max-width: 10.75rem;
    }
    &-lg {
      max-width: 14.75rem;
    }
    &-block {
      max-width: none;
    }

    &-input {
      position: absolute;
      left: -9999px;
      opacity: 0;
      visibility: hidden;
      height: 0;

      &:checked {
        &.switch-btn-danger {
          color: #f33155 !important;
          border-color: #f33155 !important;
          box-shadow: none !important;
          background-color: transparent !important;
        }
      }
    }
  }
}
/* end switch */
