//@import "~bootstrap/dist/css/bootstrap-grid.min.css";

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;

  td, th {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #dedede;
    font-size: .875rem;
  }

  th {
    border-top: 0;
    font-weight: 400;
    color: #58666e;
  }

  thead {
    th {
      border-bottom: 1px solid #dedede
    }
  }
  tbody {

    & + tbody {
      border-top: 1px solid #dedede
    }

    th {
      border-top: 1px solid #dedede
    }
  }

  tfoot {
    th {
      border-top: 1px solid #dedede;
      border-bottom: 0
    }
  }

  tr {
    &[class*="bl-"] > *:first-child {
      border-left: inherit
    }

    &[class*="br-"] > *:last-child {
      border-right: inherit
    }

    &[class*="bt-"] > * {
      border-top: inherit
    }

    &[class*="bb-"] > * {
      border-bottom: inherit
    }

    &[class*="b-"] > * {
      border-top: inherit;
      border-bottom: inherit;

      & > *:first-child {
        border-left: inherit
      }

      & > *:last-child {
        border-right: inherit
      }
    }
  }
}

.table-xs  {
  th, td {
    padding: .25rem .5rem;
  }
}

.table-sm  {
  th, td {
    padding: .5rem .75rem;
  }
}

.table-lg {
  th, td {
    padding: .75rem 1rem;
  }
}
.table-striped {
  td, th {
    border: none !important;
  }
  tbody {
    tr {
      &:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, .05)
      }
    }
  }
}
.bg-white {
  background-color: #fff;
}

.page-nav-panel {
  .col {
    float: none !important;
  }
}
h6 {
  font-size: 1rem;
  line-height: 1.5;
}
