<full-page>

  <page-head class="pb-4">

    <div class="col">
      <div class="flex align-items-center">
        <publisher-select
          class="mr-2"
          placeholder="Select publisher"
          [(ngModel)]="params.publisherId"
          (change)="applyParams()">
        </publisher-select>
        <advertiser-select
          class="mr-2"
          placeholder="Select advertiser"
          [(ngModel)]="params.advertiserId"
          (change)="applyParams()">
        </advertiser-select>
      </div>
    </div>
    <div class="col-auto">
      <div class="flex align-items-center">
        <date-range-picker
          [startDate]="params.dateFrom"
          [endDate]="params.dateTo"
          (onApply)="calendarCallback($event)">
        </date-range-picker>
        <btn size="lg" class="ml-3" (click)="savePayment()">
          <i class="fa fa-plus mr-1"></i> {{ "invoices.savePayment" | translate }}
        </btn>
      </div>
    </div>

  </page-head>

  <page-body>

    <ng-container *ngFor="let currency of invoices | keyvalue">

      <div class="row">
        <div class="col">
          <h4 class="mt-3 mb-2">{{currency.key}}</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-6" *ngFor="let invoiceByCurrency of currency.value | keyvalue">
          <card-body>
            <table class="table table-sm table-striped bg-white text-center">
              <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">{{ "invoices.invoiceNumber" | translate }}</th>
                <th scope="col">{{ "invoices.invoiceDate" | translate }}</th>
                <th scope="col">{{ "invoices.totalAmount" | translate }}</th>
              </tr>
              </thead>
              <tbody>
              <ng-container>
                <tr *ngFor="let invoice of invoiceByCurrency.value">
                  <td>
                    <checkbox [(ngModel)]="invoice.checked"></checkbox>
                  </td>
                  <td>{{invoice.invoiceNumber}}</td>
                  <td *ngIf="invoiceByCurrency.key === 'advertiserInvoices'">
                    {{invoice.invoiceDate | dateFormatDynamic}}
                  </td>
                  <td *ngIf="invoiceByCurrency.key === 'publisherInvoices'">
                    {{invoice.invoiceDateFrom | dateFormatDynamic}}
                    - {{invoice.invoiceDateTo | dateFormatDynamic}}
                  </td>
                  <td>
                    {{invoice.amount.amount}}
                  </td>
                </tr>
                <tr>
                  <td colspan="3"></td>
                  <td>
                    Total: {{calculateTotal(invoiceByCurrency.value)}}
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </card-body>
        </div>
      </div>

    </ng-container>

    <div class="form-group">
      <div class="col-6">
        <form-label>{{ "invoices.comment" | translate }}</form-label>
        <area-input [(ngModel)]="comment"></area-input>
      </div>
    </div>

  </page-body>

</full-page>

<app-loader [loading]="loading"></app-loader>
