<h2 class="mb-2">Advertiser: {{crossPaymentInfo.advertiserId}}
  <i class="fa" [ngClass]="{'fa-arrow-left': crossPaymentInfo?.paymentDirection === 1,
'fa-arrow-right': crossPaymentInfo?.paymentDirection === 2}" aria-hidden="true"></i>
  Publisher: {{crossPaymentInfo.publisherId}}
</h2>
<table class="table">
  <tr>
    <td class="pl-0">Amount:</td>
    <td>{{crossPaymentInfo?.amount?.amount}} {{crossPaymentInfo?.amount?.currency}}</td>
  </tr>
  <tr>
    <td class="pl-0">createdAt:</td>
    <td>{{crossPaymentInfo?.createdAt | dateFormatDynamic}}</td>
  </tr>
  <tr>
    <td class="pl-0">Period:</td>
    <td>{{crossPaymentInfo?.period?.from | dateFormatDynamic}} - {{crossPaymentInfo?.period?.to | dateFormatDynamic}}
    </td>
  </tr>
  <tr>
    <td class="pl-0">Status:</td>
    <td>{{crossPaymentInfo.status | crossPaymentsStatus | async}}</td>
  </tr>
</table>

<textarea class="form-control" [(ngModel)]="crossPaymentInfo.comment" name="comment" id="comment" cols="30"
  rows="10"></textarea>

<div class="text-center mt-3">
  <btn [link]="true" (click)="closeModal()">Close</btn>
  <btn (click)="updateCrossPayment()">Update</btn>
</div>
