@import "variables";
@import "mixin";

.table {
  width: 100%;
  margin-bottom: rem(16);
  background-color: transparent;

  th, td {
    padding: rem(8, 12);
    font-size: rem(14);
  }
}
h2 {
  font-size: rem(18);
  font-weight: 600;
}
.pl-0 {
  padding-left: 0;
}
.form-control {
  display: inline-block;
  width: 100%;
  border: 1px solid $border-color;
  height: rem(32);
  padding: rem(0, 7);
  border-radius: $border-radius;
  box-sizing: border-box;
  color: #58666e;
  position: relative;
  z-index: 2;
  background-color: #fff;
  box-shadow: none;
  margin: 0;

  @at-root {
    textarea#{&} {
      height: rem(128);
      padding: rem(7);
      resize: vertical;
      box-sizing: border-box;
    }
  }
}

.btn{
  vertical-align: middle;
}
