<full-page *ngIf="(conversionReports$ | async) as conversionReports">

  <app-superlink-converion-statistics-filter #filterComponent [filter]="filter" (onApply)="applyFilters($event)"
    (onCancel)="applyFilters($event)">
  </app-superlink-converion-statistics-filter>

  <page-head [verticalAligment]="'align-items-center'" [horisontalAligment]="'justify-content-between'">

    <div class="col-auto page-nav">
      <a [routerLink]="['/', 'manager', 'superlink', 'statistics', 'statistics']" routerLinkActive="current"
        *hasPermission="['access_superlink_statistics']">
        <span translate="conversionReports.dynamic"></span>
      </a>
      <a [routerLink]="['/', 'manager', 'superlink', 'statistics', 'superlink-conversions-statistics']"
        [queryParams]="{ offers_ids: (filter.offers_ids) ? filter.offers_ids[0] : null }"
        [routerLinkActive]="['current']" *hasPermission="['access_superlink_conversion']">
        <span translate="conversionReports.conversions">Conversions</span>
      </a>
    </div>

    <div class="col mr-auto">
      <btn class="mr-2" size="lg" (click)="exportCSV()">
        <i class="fa fa-download mr-2"></i>
        {{'conversionReports.exportReport' | translate}}
      </btn>
      <btn size="lg" (click)="sendToEmail()">
        <i class="fa fa-paper-plane mr-2"></i>
        {{'conversionReports.sendToEmail' | translate}}
      </btn>
    </div>

    <div class="col-auto ml-auto">
      <date-range-picker [startDate]="filter.from" [endDate]="filter.to" (onApply)="calendarCallback($event)">
      </date-range-picker>
    </div>

    <div class="col-auto ml-auto">
      <btn [simple]="true" size="lg" class="mr-2" (click)="filterComponent.open()">
        {{ "conversionReports.filter" | translate }}
        <i class="fa fa-filter ml-1"></i>
      </btn>
    </div>

  </page-head>

  <page-body tableSync [data]="conversionReports?.items">

    <ng-container *ngIf="conversionReports?.items?.length">
      <table-head [row]="true" class="bg-transparent">
        <tr>
          <th>
            <p translate="conversionReports.transactionId">Transaction ID</p>
          </th>
          <th>
            <p><b class="clickable" [filter]="filter" appSortBy="groupName" translate="conversionReports.groupName">group
              name</b></p>
            <p><b class="clickable" [filter]="filter" appSortBy="resaleName" translate="conversionReports.resaleName">resale
              Name</b></p>
          </th>
          <th>
          </th>
          <th>
            <p translate="conversionReports.time">Time</p>
            <p translate="conversionReports.convTime">Conv.time</p>
            <p translate="conversionReports.duration">Duration</p>
          </th>
          <th>
            <b class="clickable" translate="conversionReports.country" [filter]="filter" appSortBy="country">Country</b>
            <p translate="conversionReports.refferer">Referrer</p>
            <p translate="conversionReports.ip">IP</p>
            <p translate="conversionReports.convIp">Conv.IP</p>
            <p>Click ID</p>
          </th>
          <th>
            <p translate="conversionReports.device">Device</p>
            <b class="clickable" translate="conversionReports.platform" [filter]="filter" appSortBy="platform">Platform</b>
          </th>
          <th>
            <b class="clickable" translate="conversionReports.publisher" [filter]="filter" appSortBy="publisherName">Publisher</b>
            <b class="clickable" translate="conversionReports.payout" [filter]="filter" appSortBy="costs">Payout</b>
          </th>
          <th>
            <b class="clickable" translate="conversionReports.advertiser" [filter]="filter" appSortBy="advertiserName">Advertiser</b>
            <b class="clickable" translate="conversionReports.income" [filter]="filter" appSortBy="revenues">Income</b>
          </th>
        </tr>
      </table-head>

      <table-body [row]="true" class="bg-transparent">
        <tr *ngFor="let report of conversionReports.items; let $index = index;">
          <td>
            <btn-icon [icon]="'link'" [popover]="report.transactionId"></btn-icon>
          </td>
          <td>
            <badge [simple]="true"  [size]="'sm'" [popover]="'#' + report.group.id">{{report.group.name | translate}}</badge>
            <div class="mb-1"></div>
            <badge [simple]="true"  [size]="'sm'" [popover]="'#' + report.resale.id">{{report.resale.name | translate}}</badge>
          </td>
          <td>
            <badge [simple]="true" [size]="'sm'" *ngIf="report?.subPublisher.affSub"
              [popover]="report.subPublisher.affSub">
              {{report.subPublisher.affSub}}</badge>
            <div class="mb-1"></div>
            <badge [info]="true" [size]="'sm'" *ngIf="report?.subPublisher.affSub2"
              [popover]="report.subPublisher.affSub2"> Aff
              sub2</badge>
            <div class="mb-1"></div>
            <badge [primary]="true" [size]="'sm'" *ngIf="report?.subPublisher.affSub3"
              [popover]="report.subPublisher.affSub3"> Aff
              sub3</badge>
            <div class="mb-1"></div>
            <badge [warning]="true" [size]="'sm'" *ngIf="report?.subPublisher.affSub4"
              [popover]="report.subPublisher.affSub4"> Aff
              sub4</badge>
          </td>
          <td>
            <p [innerHtml]="report.datetime | dateFormatDynamic:true:filter.timezone">
            </p>
            <b class="inline-block mt11"
              [innerHtml]="report.conversionData.conversionDatetime | dateFormatDynamic:true:filter.timezone">
            </b>
            <div class="mb-1"></div>
            <badge [simple]="true" [size]="'sm'">{{report.duration || '0s'}}</badge>
          </td>
          <td>
            <p *ngIf="report?.country.code"
              class="{{'country-ico ' + 'country-ico_' + report?.country?.code?.toLowerCase()}}"
              [popover]="report?.country?.code | country | async">
            </p>
            <div class="mb-1"></div>

            <badge *ngIf="!report?.browserData?.referrer" [simple]="true" [size]="'sm'">
              Referrer</badge>
            <div class="mb-1"></div>
            <badge *ngIf="report?.browserData?.referrer" [simple]="true" [size]="'sm'"
              [popover]="report.browserData?.referrer">
              {{report?.browserData?.referrer}}</badge>
            <div class="mb-1"></div>

            <div class="mt-1">
              <p [innerHtml]="report?.sessionIp"></p>
              <b [innerHtml]="report?.conversionData.conversionIp"></b>
              <badge *ngIf="report?.userAgent" [simple]="true" [size]="'sm'" [popover]="report.userAgent">
                {{report?.userAgent}}</badge>
              <div class="mb-1"></div>
              <badge *ngIf="report?.publisherClickId" [simple]="true" [size]="'sm'" [popover]="report.publisherClickId">
                {{report?.publisherClickId}}</badge>
              <div class="mb-1"></div>
            </div>
          </td>
          <td>
            <b [innerHtml]="report?.device.deviceModel"></b>
            <span>
              <span [innerHtml]="report?.device.os" class="mr-1"></span>
              <span [innerHtml]="report?.device.osVersion"></span>
            </span>
            <p style="margin: 5px 0" [innerHtml]="report?.platform.platformName"></p>

            <badge [simple]="true" [size]="'sm'" [popover]="report.device.deviceId">Device ID</badge>
            <div class="mb-1"></div>
            <badge [primary]="true" [size]="'sm'" [popover]="report.device.androidId">Android ID</badge>
            <div class="mb-1"></div>
            <badge [warning]="true" [size]="'sm'" [popover]="report.device.idfa">IDFA</badge>
            <div class="mb-1"></div>
          </td>
          <td>
            <b class="arrow-right-icon" [innerHtml]="report?.publisher.name">
            </b>
            <badge [simple]="true" [size]="'sm'" [truncate]="true" [popover]="report.publisher.id">{{report.publisher.id}}</badge>
            <div class="mb-1"></div>

            <div class="arrow-wrap">
              <i class="fa fa-arrow-up red mr-1" aria-hidden="true"></i>
              <b [innerHtml]="report?.costs.amount+' '+report?.costs.currency"></b>
            </div>
          </td>
          <td>
            <p><b [innerHtml]="report.advertiser?.name" class="text-truncate"></b></p>
            <badge [simple]="true" [size]="'sm'" [truncate]="true" [popover]="report.advertiser.id">{{report.advertiser.id}}</badge>
            <div class="mb-1"></div>
            <div class="arrow-wrap">
              <i class="fa fa-arrow-down blue mr-1" aria-hidden="true"></i>
              <b [innerHtml]="report?.revenue?.amount+' '+report?.revenue?.currency"></b>
            </div>
          </td>
        </tr>
      </table-body>

      <table-control *ngIf="conversionReports?.items.length" [filter]="filter" [pagination]="conversionReports">
      </table-control>
    </ng-container>
    <app-no-data *ngIf="!conversionReports?.items?.length && !loading"></app-no-data>
  </page-body>
</full-page>

<app-loader [loading]="loading"></app-loader>
