@import "variables";
@import "mixin";

.badges {
  display: flex;
  flex-wrap: wrap;
}
.badge {
  display: inline-flex;
  max-width: 100%;
  justify-content: center;
  padding: .385em .85em;
  font-size: rem(14);
  line-height: 1;
  font-weight: 600;
  //white-space: nowrap;
  vertical-align: baseline;
  border-radius: $border-radius;
  color: var(--badge-color);
  background-color: var(--badge-background);
  //margin: rem(2);
  &-primary {
    background-color: var(--badge-background-info);
    color: var(--badge-color-info);
  }
  &-info {
    background-color: var(--badge-background-primary);
    color: var(--badge-color-primary);
  }
  &-secondary {
    background-color: var(--badge-background-secondary);
    color: var(--badge-color-secondary);
  }
  &-success {
    background-color: var(--badge-background-success);
    color: var(--badge-color-success);
  }
  &-warning {
    background-color: var(--badge-background-warning);
    color: var(--badge-color-warning);
  }
  &-danger {
    background-color: var(--badge-background-danger);
    color: var(--badge-color-danger);
  }
  &-simple {
    background-color: var(--badge-background-simple);
    color: var(--badge-color-simple);
  }
  &-contrast {
    background-color: var(--badge-background-contrast);
    color: var(--badge-color-contrast);
  }

  &-xs {
    font-size: rem(10);
  }

  &-sm {
    font-size: rem(11);
  }

  &-md {
    font-size: rem(12);
  }

  &-lg {
    font-size: rem(13);
    //font-weight: 500;
  }

  &-xl {
    font-size: rem(14);
    //font-weight: 500;
  }

  &-truncate {
    display: inline-block !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  &-block {
    width: 100%;
  }

}
