@import "variables";
@import "mixin";

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: var(--card-background);
  border: 1px solid rgba(52, 58, 64, .125);
  border-radius: $border-radius;

  & + & {
    margin-top: rem(5);
  }

  &-header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    min-height: rem(40);
    padding: rem(12, 20);
    margin-bottom: 0;
    color: var(--card-header-color);
    background-color: var(--card-header-background);
    border-bottom: 1px solid rgba(52, 58, 64, .125);
    box-shadow: 0 9px 21px var(--shadow);
    position: relative;
    z-index: 1;
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;

    h4 {
      margin-bottom: 0;
      line-height: 1;
    }
  }

  &-body {
    flex: 1 1 auto;
    padding: rem(20);
    color: var(--card-body-color);
    background-color: var(--card-body-background);

    &.rounded {
      border-radius: $border-radius;
    }
  }

  &-footer {
    display: flex;
    justify-content: center;
    padding: rem(12, 20);
    text-align: center;
    border-top: 1px solid rgba(52, 58, 64, .125);
    color: var(--card-footer-color);
    background-color: var(--card-footer-background);
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
  }

  &-filter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    box-shadow: 0 9px 21px var(--shadow);
    margin-bottom: rem(16);
    display: none;

    &.open {
      display: block;
    }

    .card-header {
      justify-content: flex-end;

      .btn-cancel {
        .fa-close {
          font-size: rem(16);
          color: var(--form-control-color);
        }
      }
    }
  }
}
