@import "variables";
@import "mixin";

/* custom-link */
.custom-link {
  padding: rem(1, 3);
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 1px dashed var(--form-control-border);
  font-weight: 600;
  font-size: rem(12);
  color: var(--form-control-color);
  cursor: pointer;
  text-transform: uppercase;
  backface-visibility: hidden;
  text-decoration: none !important;
  transition: border-color .15s ease-in-out,
  box-shadow .15s ease-in-out,
  border-radius .15s ease-in-out;

  &-sm {
    font-size: rem(11);
  }
  &-lg {
    font-size: rem(13);
  }

  &:hover {
    color: var(--form-control-color);
    border: 1px solid var(--form-control-border);
    box-shadow: 0 1px 2px 0 var(--form-control-border);
    border-radius: $border-radius;
  }

  &--danger {
    border-bottom: 1px dashed var(--form-control-border-error);

    &:hover {
      border: 1px solid var(--form-control-border-error);
      box-shadow: 0 1px 2px 0 var(--form-control-border-error);
    }
  }

  &--primary {
    border-bottom: 1px dashed var(--form-control-border-focus);

    &:hover {
      border: 1px solid var(--form-control-border-focus);
      box-shadow: 0 1px 2px 0 var(--form-control-border-focus);
    }
  }

  &--success {
    border-bottom: 1px dashed var(--form-control-border-success);

    &:hover {
      border: 1px solid var(--form-control-border-success);
      box-shadow: 0 1px 2px 0 var(--form-control-border-success);
    }
  }

  & + & {
    margin-right: rem(8);
  }

}
/* end custom-link */
