@import "variables";
@import "mixin";

.img {
  &-xs {
    width: rem(28);
    height: rem(28);
  }
  &-sm {
    width: rem(64);
    height: rem(64);
  }
  &-md {
    width: rem(88);
    height: rem(88);
  }
  &-lg {
    width: rem(124);
    height: rem(124);
  }
  &-xl {
    width: rem(148);
    height: rem(148);
  }

  &-max-xs {
    max-width: rem(28);
    max-height: rem(28);
  }
  &-max-sm {
    max-width: rem(64);
    max-height: rem(64);
  }
  &-max-md {
    max-width: rem(88);
    max-height: rem(88);
  }
  &-max-lg {
    max-width: rem(124);
    max-height: rem(124);
  }
  &-max-xl {
    max-width: rem(148);
    max-height: rem(148);
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  padding: rem(4);
  background-color: #ffffff;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  max-width: 100%;
  height: auto;
}

.figure {
  display: inline-block;
}

.figure-img {
  background-color: #ffffff;
  border-radius: $border-radius;
  max-width: 100%;
}
