@import "variables";

/* inline link */
.inline-link {
  display: inline-flex;
  font-weight: 700;
  color: var(--form-control-color);
  border-bottom: 1px dashed var(--form-control-border-focus);
  cursor: pointer;
  transition: border-color .15s ease-in-out;

  &:hover {
    border-color: transparent;
  }

  &-light {
    border-bottom: 1px dashed var(--form-control-border-disabled);
  }
  &-danger {
    border-bottom: 1px dashed var(--form-control-border-error);
  }
  &-success {
    border-bottom: 1px dashed var(--form-control-border-success);
  }
}
/* end inline link */
