@import "~tippy.js/themes/light.css";
@import "variables";
@import "mixin";

/**
 Popover error styles
 */
.tippy-tooltip.error-theme {
  color: #fff;
  box-shadow: 0 0 20px 4px rgba(154, 161, 177, .15), 0 4px 80px -8px rgba(36, 40, 47, .25), 0 4px 4px -2px rgba(91, 94, 105, .15);
  background-color: var(--form-control-border-error);
}

.tippy-tooltip.error-theme[x-placement^=top] .tippy-arrow {
  border-top: 8px solid var(--form-control-border-error);;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent
}

.tippy-tooltip.error-theme[x-placement^=bottom] .tippy-arrow {
  border-bottom: 8px solid var(--form-control-border-error);;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent
}

.tippy-tooltip.error-theme[x-placement^=left] .tippy-arrow {
  border-left: 8px solid var(--form-control-border-error);;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent
}

.tippy-tooltip.error-theme[x-placement^=right] .tippy-arrow {
  border-right: 8px solid var(--form-control-border-error);;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent
}

.tippy-tooltip.error-theme .tippy-backdrop {
  background-color: var(--form-control-border-error);
}

.tippy-tooltip.error-theme .tippy-roundarrow {
  fill: var(--form-control-border-error);
}

.tippy-tooltip.error-theme[data-animatefill] {
  background-color: transparent
}
/**
 Popover error styles
 */

.popover {
  max-width: rem(400);
  box-shadow: 1px 2px 5px 0 rgba(0,0,0,.2);

  .arrow {
    margin: 0;
  }

  .popover-content {
    font-size: rem(12);
    color: #58666e;
    font-weight: 600;

    p {
      margin: rem(5, 0);
    }
  }
}

.tippy-popper {
  z-index: 999 !important;
}

.tippy-content {
  word-wrap: break-word;
}

.change-status-popover {
  padding: 10px;

  strong {
    display: block;
    margin-bottom: 10px;
  }

  .btn-add {
    margin-right: 10px;
  }
}
