@import "variables";
@import "mixin";

.table {
  width: 100%;
  background-color: transparent;

  &-head {
    flex-shrink: 0;

    &.table {
      table-layout: fixed;
    }

    & + .flex-grow-1 {
      height: rem(1);
    }
  }
  &-body {
    background-color: var(--table-background);
    border-radius: $border-radius;

    &.table {
      table-layout: fixed;
    }
  }

  td, th {
    padding: rem(12, 15);
    vertical-align: top;
    word-break: break-word;
    word-wrap: break-word;
  }

  td {
    color: var(--table-color);
  }

  th {
    color: var(--table-head-color);
  }

  th {
    border-top: 0;
    font-weight: 400;

    b, strong {
      font-weight: 600;
      cursor: pointer;

      &::after, &::before {
        content: '';
        display: block;
      }
    }
  }

  tr {
    &[class*="bl-"] > *:first-child {
      border-left: inherit
    }

    &[class*="br-"] > *:last-child {
      border-right: inherit
    }

    &[class*="bt-"] > * {
      border-top: inherit
    }

    &[class*="bb-"] > * {
      border-bottom: inherit
    }

    &[class*="b-"] > * {
      border-top: inherit;
      border-bottom: inherit;

      & > *:first-child {
        border-left: inherit
      }

      & > *:last-child {
        border-right: inherit
      }
    }
    &.active {
      background-color: var(--table-background-selection);
      transition: background-color .3s
    }
  }

  &-total-title {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 20px;
    white-space: nowrap;
    font-weight: 600;
    color: #344465;
  }

  b.clickable {
    color: #11a0f8;
    cursor: pointer;
  }
}
.table-border-row {
  thead {
    border-bottom: 1px solid var(--table-border);
  }
  tbody {
    tr:not(:last-child) {
      td, th {
        border-bottom: 1px solid var(--table-border);
      }
    }
  }
  tbody + tbody {
    border-top: 1px solid var(--table-border);
  }
}
.table-selectAll {
  tbody {
    tr {
      &.active {
        background-color: var(--table-background-selection);
      }
    }
  }
}

//.table-fixed {
//  table-layout: fixed;
//}

//.thead-default {
//  th {
//    background-color: var(--table-background-selection)
//  }
//}

.table-hover {
  tbody {
    tr {
      transition: background-color 0.2s linear;

      &:hover {
        background-color: var(--table-background-selection);
      }
    }
  }
}

.table-striped {
  thead {
    th {
      border-bottom-color: transparent;
    }
    tr {
      background-color: var(--table-background-selection)
    }
    & + tbody {
      tr {
        &:nth-of-type(even) {
          background-color: var(--table-background-selection)
        }
        &:nth-of-type(odd) {
          background-color: transparent;
        }
      }
    }
  }
  tbody {
    tr {
      &:nth-of-type(odd) {
        background-color: var(--table-background-selection)
      }
    }
    td {
      border-top-color: transparent;
    }
  }
}

.table-sm {
  th, td {
    padding: rem(8, 16);
  }
}

.table-lg {
  th, td {
    padding: rem(16, 32);
  }
}

.table-separated {
  border-collapse: separate;
  border-spacing: rem(0, 8);
  padding: rem(0, 2, 0, 0);

  tbody {
    tr {
      background-color: var(--table-background-selection);
      transition: .5s;

      table-head & {
        background-color: transparent;
      }
    }
  }

  &.table-striped tbody tr:nth-of-type(odd),
  &.table-hover tbody tr:hover {
    background-color: var(--table-background-selection);
  }

  thead {
    th {
      border-bottom: none
    }
  }

  tbody {
    tr {
      //background-color: var(--table-background-selection);
      transition: .5s;

      & > *:first-child {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius
      }
      & > *:last-child {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius
      }

      th, td {
        border-top: none;
      }
    }
  }
}

.table-row {
  border-collapse: separate;
  border-spacing: rem(0, 8);
  padding: rem(0, 2, 0, 0);
  background-color: transparent !important;

  tbody {
    tr {
      background-color: var(--table-background);
      transition: .5s;

      table-head & {
        background-color: transparent;
      }

      &:first-child {
        td {
          position: relative;

          &::before {
            position: absolute;
            content: '';
            top: rem(-5);
            left: 0;
            right: 0;
            height: rem(10);
            background-color: var(--table-background);
            z-index: 1;
            pointer-events: none;
          }

          &:first-child {
            &::before {
              border-top-left-radius: $border-radius;
            }
          }

          &:last-child {
            &::before {
              border-top-right-radius: $border-radius;
            }
          }
        }
      }

      &:last-child {
        td {
          position: relative;

          &::after {
            position: absolute;
            content: '';
            bottom: rem(-5);
            left: 0;
            right: 0;
            height: rem(10);
            background-color: var(--table-background);
            z-index: 1;
            pointer-events: none;
          }

          &:first-child {
            &::after {
              border-bottom-left-radius: $border-radius;
            }
          }

          &:last-child {
            &::after {
              border-bottom-right-radius: $border-radius;
            }
          }
        }
      }
    }
  }

  &.table-striped tbody tr:nth-of-type(odd),
  &.table-hover tbody tr:hover {
    background-color: var(--table-background);
  }

  thead {
    th {
      border-bottom: none
    }
  }

  tbody {
    tr {
      transition: .5s;

      & > *:first-child {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius
      }
      & > *:last-child {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius
      }

      th, td {
        border-top: none;
      }
    }
  }
}

.table-bordered {
  border: 1px solid var(--table-border);

  td, th {
    border: 1px solid var(--table-border);
  }
  thead, thead {
    td, th {
      border-bottom-width: rem(1);
    }
  }
}
