<full-page *ngIf="(statistics$ | async) as statistics">

  <pub-reports-conversions-filter #filterComponent [filter]="filter" (onApply)="applyFilters($event)"
    (onCancel)="applyFilters($event)"></pub-reports-conversions-filter>

  <page-head [verticalAligment]="'align-items-center'" [horisontalAligment]="'justify-content-between'">

    <div class="col-auto page-nav">
      <a [routerLink]="['/', 'publisher', 'reports', 'statistics']" routerLinkActive="current">
        <span translate="conversionReports.statistics">Dynamic</span>
      </a>
      <a [routerLink]="['/', 'publisher', 'reports', 'conversions']" [routerLinkActive]="['current']">
        <span translate="conversionReports.conversions">Conversions</span>
      </a>
    </div>
    <div class="col-auto ml-auto">
      <date-range-picker [startDate]="filter.datetimeFrom" [endDate]="filter.datetimeTo"
        (onApply)="calendarCallback($event)">
      </date-range-picker>
    </div>
    <div class="col-auto">
      <btn [simple]="true" size="lg" class="mr-2" (click)="filterComponent.open()">
        <i class="fa fa-search mr-1"></i>{{ "conversionReports.filter" | translate }}
      </btn>
    </div>

  </page-head>

  <page-body tableSync [data]="statistics?.items">

    <ng-container *ngIf="statistics?.items?.length">
      <table-head>
        <tr>
          <th>
            <p>{{ "conversionReports.clickId" | translate }}</p>
            <b class="clickable">{{ "conversionReports.offerName" | translate }}</b>
          </th>
          <th>
            <p>{{ "conversionReports.offerName" | translate }}</p>
            <b class="clickable" [filter]="filter" appSortBy="status">{{ "conversionReports.status" | translate }}</b>
            <b class="clickable" [filter]="filter" appSortBy="offer">{{ "conversionReports.offerId" | translate }}</b>
            <p>Goal Name</p>
          </th>
          <th>
            <p>{{ "conversionReports.values" | translate }}</p>
          </th>
          <th>
            <b class="clickable" [filter]="filter" appSortBy="income">{{ "conversionReports.payout" | translate }}</b>
          </th>
          <th>
            <b class="clickable" [filter]="filter" appSortBy="time">{{ "conversionReports.time" | translate }}</b>
            <div class="mb-1"></div>
            <b class="clickable" [filter]="filter"
              appSortBy="conversionTime">{{ "conversionReports.convTime" | translate }}</b>
            <p>{{ "conversionReports.duration" | translate }}</p>
          </th>
          <th>
            <b class="clickable" [filter]="filter" appSortBy="country">{{ "conversionReports.country" | translate }}</b>
          </th>
          <th>
            <p>{{ "conversionReports.device" | translate }}</p>
            <b class="clickable" [filter]="filter"
              appSortBy="platform">{{ "conversionReports.platform" | translate }}</b>
          </th>
        </tr>
      </table-head>

      <table-body>
        <tr *ngFor="let report of statistics.items; let key = index;">
          <td>
            <badge [simple]="true" [popover]="report.publisherClickId">{{report.publisherClickId}}</badge>
            <div class="mb-1"></div>
            <badge [warning]="true">{{report.approveStatus.status | approveStatus | async}}</badge>
          </td>
          <td>
            <b [innerHtml]="report.offer.name">
              IQ Option broker: trade forex, CFD’s, bitcoin (Android 4.1+) INTL 9 countries - Incent
            </b>
            <div>
              <label class="label align-top icon-status"
                [ngClass]="'icon-status-'+(report?.offer?.status | offersStatuses:'origin' | async)">
                <span [innerHtml]="report?.offer?.status | offersStatuses:'name' | async"></span>
              </label>
              <badge [simple]="true" [size]="'sm'" [popover]="report.offer.id">{{report.offer.id}}</badge>
            </div>
            <div class="mt-1">
              <badge [simple]="true">{{report.goal.name}}</badge>
            </div>
          </td>
          <td>
            <badge [simple]="true" [size]="'sm'" *ngIf="report?.subPublisher.affSub"
              [popover]="report.subPublisher.affSub">
              {{report.subPublisher.affSub}}</badge>
            <div class="mb-1"></div>
            <badge [info]="true" [size]="'sm'" *ngIf="report?.subPublisher.affSub2"
              [popover]="report.subPublisher.affSub2"> Aff
              sub2</badge>
            <div class="mb-1"></div>
            <badge [primary]="true" [size]="'sm'" *ngIf="report?.subPublisher.affSub3"
              [popover]="report.subPublisher.affSub3"> Aff
              sub3</badge>
            <div class="mb-1"></div>
            <badge [warning]="true" [size]="'sm'" *ngIf="report?.subPublisher.affSub4"
              [popover]="report.subPublisher.affSub4"> Aff
              sub4</badge>
          </td>
          <td>
            <b [innerHtml]="report.earn.amount +' '+ report.earn.currency"></b>
          </td>
          <td>
            <p [innerHtml]="report.datetime | dateFormatDynamic:true:filter.timezone"></p>
            <b class="inline-block mt11"
              [innerHtml]="report.conversionData.conversionDatetime | dateFormatDynamic:true:filter.timezone"></b>
            <div class="mb-1"></div>
            <badge [simple]="true">{{report.duration || '0s'}}</badge>
          </td>
          <td>
            <span class="country-ico" [ngClass]="'country-ico_' + report.country.code.toLowerCase()"
              [popover]="report.country.code | country | async"></span>
          </td>
          <td>
            <b [innerHtml]="report?.device.deviceModel"></b>
            <div class="mb-1"></div>
            <span>
              <span [innerHtml]="report?.device.os" class="mr-1"></span>
              <span [innerHtml]="report?.device.osVersion"></span>
            </span>
            <p style="margin: 5px 0" [innerHtml]="report?.platform.platformName"></p>
            <badge [simple]="true" [popover]="report.device.deviceId">Device ID</badge>
            <div class="mb-1"></div>
            <badge [primary]="true" [popover]="report.device.androidId">Android ID</badge>
            <div class="mb-1"></div>
            <badge [warning]="true" [popover]="report.device.idfa">IDFA</badge>
            <div class="mb-1"></div>
          </td>
        </tr>
      </table-body>

      <table-control *ngIf="statistics?.items.length" [filter]="filter" [pagination]="statistics">
      </table-control>

      <table-total [title]="'Total General'">
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <b class="coast-status coast-status--green" style="padding-left: 0"
              [innerHtml]="(statistics?.data?.total.earn[0].amount) + ' ' + statistics?.data?.total.earn[0].currency">$125</b>
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table-total>

    </ng-container>

    <app-no-data *ngIf="!statistics?.items?.length && !loading"></app-no-data>

  </page-body>

</full-page>

<app-loader [loading]="loading"></app-loader>
