<div class="form-password position-relative" [class.show-password]="showPassword">
  <input
    #input
    class="form-control"
    [type]="showPassword ? 'text' : 'password'"
    [class.invalid]="invalid && touched"
    [class.disabled]="disabled"
    [attr.maxlength]="maxlength"
    [value]="value"
    [placeholder]="placeholder"
    [formControl]="control"
    (focus)="markAsTouched()">
  <button type="button" class="btn" (click)="toggleShowPassword()">
    <i class="fa fa-eye"></i>
    <i class="fa fa-eye-slash"></i>
  </button>
  <validation-message [control]="control" [target]="input"></validation-message>
</div>
