<full-page *ngIf="invoices$ | async as invoices">

  <page-head class="pb-4">

    <div class="col">
      <app-search [filter]="filter" [type]="'number'" [placeholder]="'Only number'"></app-search>
    </div>

    <div class="col-auto">

      <div class="d-flex align-items-center">

        <currency-select class="mr-3"
                         [placeholder]="'Currency'"
                         [(ngModel)]="filter.totalCurrency"
                         [clearable]="true">
        </currency-select>

        <date-range-picker class="mr-3"
                           [startDate]="filter.dateFrom"
                           [endDate]="filter.dateTo"
                           (onApply)="applyCalendar($event)">
        </date-range-picker>

        <btn size="lg" routerLink="/manager/billing/advertisers/invoices/create">
          <i class="fa fa-plus mr-1"></i>Add Invoice
        </btn>

      </div>

    </div>

    <div class="col-12 mt-3">

      <div class="row">
        <div class="col">
          <btn class="mr-1"
               [simple]="!!filter.status"
               (click)="filterByStatus(null)">All</btn>

          <btn class="mr-1"
               *ngFor="let status of (invoiceStatuses$ | async)?.items"
               [simple]="filter.status !== status.id"
               (click)="filterByStatus(status.id)">
            {{ status.value }}
          </btn>

          <div class="inline-block">
            <ng-select
              [searchable]="false"
              [placeholder]="'Send Status'"
              [(ngModel)]="filter.sendStatus"
              bindValue="id">
              <ng-option [value]="null">All</ng-option>
              <ng-option *ngFor="let status of (invoiceSendStatuses$ | async)?.items" [value]="status.id">
                {{ status.value }}
              </ng-option>

            </ng-select>
          </div>
        </div>

        <div class="col-auto">

          <btn [disabled]="!selectedLengh" (click)="sendInvoices()">
            Send
          </btn>

          <btn class="ml-2" [disabled]="selectedLengh < 2" (click)="mergeAdvertisers()">
            Merge
          </btn>

        </div>
      </div>

    </div>

  </page-head>

  <page-body tableSync [data]="invoices?.items">

    <table-head>
      <tr>
        <th>
          <checkbox [ngModel]="allIsChecked"
                    (change)="selectAllInvoices($event?.target?.checked)">
          </checkbox>
        </th>
        <th>
          <div class="table-head-filter">
            <input-text [(ngModel)]="filter.invoiceNumber" (keydown.enter)="filter.emitChange()"></input-text>
          </div>
          Invoice ID<br>
          Is Sent<br />
          Month<br>
          Has Cross Payment
        </th>
        <th>
          <div class="table-head-filter">
            <input-text [(ngModel)]="filter.advertiserOrManagerName" (keydown.enter)="filter.emitChange()"></input-text>
          </div>
          Advertiser<br>
          Manager
        </th>
        <th>
          <div class="table-head-filter">
            <input-decimal [(ngModel)]="filter.ourAmount" (keydown.enter)="filter.emitChange()"></input-decimal>
          </div>
          <b appSortBy="ourAmount" [filter]="filter">Our Amt</b>
        </th>
        <th>
          <div class="table-head-filter">
            <input-decimal [(ngModel)]="filter.advertiserAmount" (keydown.enter)="filter.emitChange()"></input-decimal>
          </div>
          <b appSortBy="advertiserAmount" [filter]="filter">Adv. Amt</b>
        </th>
        <th>
          <div class="table-head-filter">
            <input-decimal [(ngModel)]="filter.discrepancy" (keydown.enter)="filter.emitChange()"></input-decimal>
          </div>
          Discrepancy
        </th>
        <th>
          <div class="table-head-filter">
            <input-decimal [(ngModel)]="filter.invoiceTotal" (keydown.enter)="filter.emitChange()"></input-decimal>
          </div>
          Inv. total
        </th>
        <th>
          <div class="table-head-filter"></div>
          Inv.date Updated
        </th>
        <th>
          <div class="table-head-filter"></div>
          Status
        </th>
        <th>
          <div class="table-head-filter">
            <input-decimal [(ngModel)]="filter.paid" (keydown.enter)="filter.emitChange()"></input-decimal>
          </div>
          Paid
        </th>
        <th>
          <div class="table-head-filter">
            <input-decimal [(ngModel)]="filter.delay" (keydown.enter)="filter.emitChange()"></input-decimal>
          </div>
          Delay
        </th>
        <th></th>
      </tr>
    </table-head>

    <ng-container *ngIf="invoices?.items?.length">

      <table-body>
        <tr *ngFor="let invoice of invoices?.items;">
          <td [style.width.px]="54">
            <checkbox [ngModel]="isChecked(invoice.id)" (change)="selectInvoice(invoice.id)"></checkbox>
          </td>
          <td>
            <div>
              <badge [simple]="true" [truncate]="true" [popover]="invoice.invoiceNumber" [placement]="'right'">
                {{ invoice.invoiceNumber }}
              </badge>
              <div class="mb-1"></div>
              <badge [secondary]="true">{{ invoice.statusSendModel?.value }}</badge>
              <div class="mb-1"></div>
              <div class="mb-1">{{ invoice.month | date : 'MMM yyyy' }}</div>
              <badge [primary]="true" *ngIf="invoice?.hasCrossPayment">Has Cross Payment</badge>
            </div>
          </td>
          <td>
            <a [routerLink]="['/manager/advertisers/edit', invoice.advertiserId]">
              {{ invoice.advertiserName }}
            </a>
            <br>
            <span>{{ invoice.managerName }}</span>
          </td>
          <td>{{ invoice.ourAmount }}</td>
          <td>{{ invoice.advertiserAmount }}</td>
          <td>
            <span [ngClass]="invoice.discrepancy > 0 ? 'rise' : 'fall'">{{ invoice.discrepancy }}</span>
          </td>
          <td>
            <b>{{ invoice.currency + ' ' + (invoice.total ? invoice.total : 0) }}</b>
          </td>
          <td>{{ invoice.updated | dateFormatDynamic : true }}</td>
          <td>
            <div class="status-select">
              <div class="status-select-current errorInput">
                {{ invoice.statusModel?.value }}
              </div>
              <div class="status-select-options">
                <ng-container *ngFor="let status of (invoiceStatuses$ | async)?.items">
                              <span class="status-select-option" *ngIf="invoice.statusIsAvailable(status.id)"
                                    (click)="changeInvoiceStatus(invoice, status.id)">
                                {{ status.value }}
                              </span>
                </ng-container>
              </div>
            </div>
          </td>
          <td>
            <b>{{ invoice.paid }}</b>
          </td>
          <td>{{ invoice.delay }}</td>
          <td>
            <app-actions>
              <a class="actions-option action-edi"
                 [routerLink]="['/', 'manager', 'billing', 'advertisers', 'invoices', 'edit', invoice.id]">Edit</a>
              <a class="actions-option action-vie"
                 [routerLink]="['/', 'manager', 'billing', 'advertisers', 'invoices', 'info', invoice.id]">
                <span>Preview</span>
              </a>
              <a class="actions-option action-dow" (click)="downloadInvoice(invoice.id)">Download</a>
              <a class="actions-option action-sen" (click)="sendInvoice(invoice.id)">Send</a>
              <div class="sep"></div>
              <a class="actions-option action-rem" (click)="removeInvoice(invoice.id)">Remove</a>
            </app-actions>
          </td>
        </tr>
      </table-body>

      <div class="content mb-0" *ngIf="invoices?.data?.length">
        <div class="table-tfoot table-tfoot-advertiser-invoice">
          <div class="table-tfoot-advertiser-invoice__row" *ngFor="let data of invoices?.data">
            <div class="table-tfoot-advertiser-invoice__cell">
              <strong>TOTAL:</strong>
            </div>
            <div class="table-tfoot-advertiser-invoice__cell">
              <strong [innerHTML]="data.ourAmount.amount+' '+data.ourAmount.currency"></strong>
              <span class="line-green">|</span>
              <strong [innerHTML]="data.advertiserAmount.amount+' '+data.advertiserAmount.currency"></strong>
              <span class="line-green">|</span>
              <strong [innerHTML]="data.discrepancy.amount+' '+data.discrepancy.currency"></strong>
            </div>
            <div class="table-tfoot-advertiser-invoice__cell">
              <strong [innerHTML]="data.total.amount+' '+data.total.currency"></strong>
            </div>
            <div class="table-tfoot-advertiser-invoice__cell">
              <strong [innerHTML]="data.paid.amount+' '+data.paid.currency"></strong>
            </div>
          </div>
        </div>
      </div>

      <table-control *ngIf="invoices?.items.length"
                     [filter]="filter"
                     [pagination]="invoices">
      </table-control>

    </ng-container>

    <app-no-data *ngIf="!invoices?.items?.length && !loading"></app-no-data>

  </page-body>

</full-page>

<app-loader [loading]="loading"></app-loader>
<app-payment-approve #paymentApprove></app-payment-approve>
