<div
  #switcher
  class="switch switch-{{size}} position-relative"
  [class.invalid]="invalid && touched"
  [class.disabled]="disabled"
  [class.switch-inline]="isInline">
  <ng-content></ng-content>
  <validation-message
    [showed]="true"
    [control]="control"
    [trigger]="'mouseenter'"
    [target]="switcher">
  </validation-message>
</div>
