<full-page *ngIf="(groupUrls$ | async) as groupUrls">

  <page-head [horisontalAligment]="'justify-content-end'" [verticalAligment]="'align-items-center'">

    <div class="col-auto">
      <btn size="lg" [routerLink]="['/', 'manager', 'superlink', 'system-group-urls', 'create']"
        *hasPermission="['manage_system_superlink_group']">
        <i class="fa fa-user-plus mr-1"></i>Create System Group
      </btn>
    </div>

  </page-head>

  <page-body tableSync [data]="groupUrls?.items">

    <ng-container *ngIf="groupUrls?.items?.length">

      <table-head>
        <tr>
          <th appSortBy="id" [filter]="filter" [style.width.px]="100">
            <b>#</b>
          </th>
          <th>
            <b appSortBy="name" [filter]="filter">{{ "groupUrls.list.name" | translate }}</b>
          </th>
          <th>
            <b appSortBy="trafficType" [filter]="filter">{{ "groupUrls.list.trafficType" | translate }}</b>
          </th>
          <th>
            <b appSortBy="distributionType" [filter]="filter">{{ "groupUrls.list.distributionType" | translate }}</b>
          </th>
          <th>
            <b appSortBy="contentType" [filter]="filter">{{ "groupUrls.list.contentType" | translate }}</b>
          </th>
          <th>
            <b appSortBy="dynamicType" [filter]="filter">{{ "groupUrls.list.dynamicType" | translate }}</b>
          </th>
          <th>
            <b appSortBy="monetizationModel" [filter]="filter">{{ "groupUrls.list.monetizationModel" | translate }}</b>
          </th>
          <th>
            <b appSortBy="mode" [filter]="filter">{{ "groupUrls.list.mode" | translate }}</b>
          </th>
          <th [style.width.px]="50">&nbsp;</th>
        </tr>
      </table-head>

      <table-body>
        <tr *ngFor="let url of groupUrls?.items;">
          <td [style.width.px]="100">
            <badge [simple]="true">
              {{url.id}}
            </badge>
          </td>
          <td>
            <p>{{url.name}}</p>
          </td>
          <td>
            <p>{{url.trafficType | urlTrafficType | async}}</p>
          </td>
          <td>
            <p>{{url.distribution | urlDistributionType | async}}</p>
          </td>
          <td>
            <p>{{url.contentType | urlContentType | async}}</p>
          </td>
          <td>
            <p>{{url.dynamicType | urlDynamicType | async}}</p>
          </td>
          <td>
            <p>{{url.monetizationModel | urlMonetizationType | async}}</p>
          </td>
          <td>
            <p>{{url.mode | urlModeType | async}}</p>
          </td>
          <td [style.width.px]="50">
            <div *hasPermission="['manage_system_superlink_group']">
              <a class="approvals-settings__item approvals-settings__item_edit"
                [popover]="'groupUrls.list.edit' | translate"
                [routerLink]="['/', 'manager', 'superlink', 'system-group-urls', 'edit', url.id]">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
              <a class="approvals-settings__item approvals-settings__item_edit css-popover"
                [popover]="'groupUrls.list.modeManage' | translate"
                [routerLink]="['/', 'manager', 'superlink', 'system-group-urls', 'system-mode', url.id]">
                <i class="fa fa-wrench" aria-hidden="true"></i>
              </a>
              <a class="approvals-settings__item approvals-settings__item_delete css-popover"
                [popover]="'groupUrls.list.delete' | translate" (click)="delete(url.id)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
            </div>
          </td>
        </tr>
      </table-body>
      <table-control *ngIf="groupUrls?.items.length" [filter]="filter" [pagination]="groupUrls">
      </table-control>
    </ng-container>
    <app-no-data *ngIf="!groupUrls?.items?.length && !loading"></app-no-data>
  </page-body>
</full-page>
<app-loader [loading]="loading"></app-loader>
