@import "../../../../../../theme/new-styles/base/variables";

:host {
  flex: 1;
}

app-switch-btn {
  .switch {
    :host-context &-inline {
      .switch-btn {
        flex: 1 0 auto;
        max-width: none;
        width: auto;
      }
    }
    &-btn {
      display: flex;
      flex: 1;
      margin-left: .1293rem;
      margin-right: .1293rem;
      margin-bottom: 0;
      justify-content: center;
      align-items: center;
      border: 1px solid transparent;
      background-color: transparent;
      color: #8a949a;
      font-size: .8125rem;
      line-height: 1;
      font-weight: 600;
      border-radius: $border-radius;
      padding: .3215rem;
      cursor: pointer;
      backface-visibility: hidden;
      transition: all .3s;

      &.checked {
        background-color: #02c3c8;
        color: #ffffff;
        box-shadow: 0 4px 10px #8a949a;

        &.switch-btn-danger {
          color: #f33155 !important;
          border-color: #f33155 !important;
          box-shadow: none !important;
          background-color: transparent !important;
        }
      }
    }

    &-input {
      position: absolute;
      left: -9999px;
      opacity: 0;
      visibility: hidden;
      height: 0;
    }
  }
}
/* switch btn */
/* end switch */
