<div class="approval-circles__row" *ngFor="let platforms of data | keyvalue">
  <div class="approval-circles__item" *ngFor="let countries of data[platforms.key] | keyvalue">
    <div class="circle" *ngFor="let dates of data[platforms.key][countries.key] | reverse; let index = index;"
      [ngClass]="{'white': dates.empty, 'red': !dates.isSuccess}" [popover]="'country: ' + countries.key + ', platform: ' + platforms.key + ', date: ' + (dates.checkedAt | dateFormatDynamic:true:false)">
    </div>
  </div>
</div>
