<card>
  <card-header>
    <ng-container>
      My Profile
      <btn-icon class="ml-2" [icon]="'external-link'" (click)="downloadPersonalData()"
        [popover]="'managerEdit.downloadData' | translate">
      </btn-icon>
    </ng-container>

  </card-header>
  <card-body>
    <form onsubmit="return false" [formGroup]="managerForm" appScrollToFirstErrorInput disableAutocomplete>
      <div class="form-group">
        <form-label [required]="true" class="col-4">{{'managerEdit.userName' | translate}}</form-label>
        <input-text class="col-8" formControlName="username"></input-text>
      </div>
      <ng-container formGroupName="person">
        <div class="form-group">
          <form-label [required]="true" class="col-4">{{'managerEdit.firstName' | translate}}</form-label>
          <input-text class="col-8" formControlName="firstName"></input-text>
        </div>
        <div class="form-group">
          <form-label [required]="true" class="col-4">{{'managerEdit.lastName' | translate}}</form-label>
          <input-text class="col-8" formControlName="lastName"></input-text>
        </div>
      </ng-container>
      <div class="form-group">
        <form-label [required]="true" class="col-4">{{'managerEdit.email' | translate}}</form-label>
        <input-text class="col-8" formControlName="email" [type]="'email'"></input-text>
      </div>
      <div class="form-group">
        <form-label class="col-4">{{'managerEdit.mailNotification' | translate}}</form-label>
        <switcher class="col-8" formControlName="emailNotificationEnabled">
          <switcher-btn name="emailNotificationEnabled" [value]="1">{{ "managerEdit.on" | translate }}</switcher-btn>
          <switcher-btn name="emailNotificationEnabled" [value]="0">{{ "managerEdit.off" | translate }}</switcher-btn>
        </switcher>
      </div>
      <div class="form-group">
        <form-label class="col-4">{{'managerEdit.skype' | translate}}</form-label>
        <input-text class="col-8" formControlName="skype"></input-text>
      </div>
      <ng-container formGroupName="address">
        <div class="form-group">
          <form-label class="col-4">{{'managerEdit.address' | translate}}</form-label>
          <input-text class="col-8" formControlName="address"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{'managerEdit.city' | translate}}</form-label>
          <input-text class="col-8" formControlName="city"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{'managerEdit.state' | translate}}</form-label>
          <input-text class="col-8" formControlName="state"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{'managerEdit.country' | translate}}</form-label>
          <country-select class="col-8" formControlName="countryCode"></country-select>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{'managerEdit.zipcode' | translate}}</form-label>
          <input-text class="col-8" formControlName="zipcode"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{'managerEdit.address' | translate}}</form-label>
          <input-text class="col-8" formControlName="address"></input-text>
        </div>
      </ng-container>
      <div class="form-group">
        <form-label class="col-4">Profile Photo</form-label>
        <div class="col-auto">
          <btn>
            <label class="m-0" [style.width.px]="100">
              Upload a file
              <app-upload-file [fileSize]="1572864" [accept]="['image/jpeg','image/jpg','image/png']"
                (value)="setLogo($event)">
              </app-upload-file>
            </label>
          </btn>
        </div>
        <div class="col-2 p-0">
          <div class="previewLogo" *ngIf="managerForm.get('thumbnailUrl').value">
            <img [src]="managerForm.get('thumbnailUrl').value" alt="" class="companyLogo">
            <btn-icon [icon]="'trash'" (click)="removeProfilePhoto()"></btn-icon>
          </div>
        </div>
      </div>
    </form>
  </card-body>
  <card-footer>
    <btn [simple]="true" routerLink="/manager/dashboard">{{ "pubCreate.cancel" | translate }}</btn>
    <btn (click)="updateManager()">
      {{'managerEdit.save' | translate}}
    </btn>
  </card-footer>
</card>
<app-loader [loading]="loading"></app-loader>
