.offers-usage__back {
  cursor: pointer;
}

.table-caps__cell {
  span {
    word-break: break-word;
  }
}

.offers-usage__capabilities-box {
  word-break: break-word;
}

.dib {
  display: inline-block;
}

.small_title {
  font-size: 14px;
}

.w30 {
  width: 30%;
}

.tal {
  input {
    text-align: left;
  }
}

table {
  width: 100%;
}

.table-caps__cell-left {
  width: 27%;
}

.table-caps__cell-wrap {
  width: calc(74% - 25px);
}


.topTable {
  max-width: 1000px;
  .offers-usage__capabilities-box:first-child {
    width: 170px;
  }

  .offers-usage__capabilities-box:nth-child(2) {
    width: calc(100% - 190px);
  }

  .offers-usage__capabilities-box:last-child {
    width: 120px;
    padding-left: 40px;
    box-sizing: border-box;
  }
}

.offers-usage__capabilities-header_modal, .offers-usage__capabilities-table_modal{
  .offers-usage__capabilities-box:nth-child(2)  {
    width: 100px;
  }
}

.offers-usage__capabilities-table_modal .offers-usage__capabilities-box:last-child {
  width: calc(100% - 160px);
  padding-left: 0;
}

.offers-usage__capabilities-cell {
  width: 26%;
  padding: 0 3px;
}