<div class="page scrollable" perfectScrollbar>
  <div class="page-container">
    <!-- BEGIN offers-usage -->
    <div class="offers-usage">
      <!-- BEGIN offers-usage__body -->
      <div class="offers-usage__body">
        <!-- BEGIN offers-usage__user -->
        <div class="offers-usage__user">
          <div class="offers-usage__user-ico">
            <img [src]="offer.thumbUrl">
          </div>
          <div class="offers-usage__user-info">
            <div class="offers-usage__user-name">
              <span class="css-popover">
                <strong [innerHtml]="offer.name">
                  CODE OF JOKER Pocket (KPI) (iPhone 8.0+, iPad 8.0+) JP - Non incent
                </strong>
                <span class="css-popover-content">
                  Offer name
                </span>
              </span>
            </div>
            <div>
              <span class="css-popover">
                <label class="label" [innerHtml]="offer.id">#1154085</label>
                <span class="css-popover-content">Offer ID</span>
              </span>
            </div>
          </div>
          <a [routerLink]="['/', 'manager', 'offers', 'edit', offerId]"
            *hasPermission="['manage_offers']"
            class="approvals-settings__item css-popover offers-usage__user-edit approvals-settings__item_edit">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <div class="css-popover-content">Edit Offer</div>
          </a>
        </div>
        <!-- END offers-usage__user  -->

        <!-- BEGIN offers-usage__capabilities -->
        <div class="offers-usage__capabilities topTable">
          <div class="offers-usage__capabilities-top">
            <div class="offers-usage__capabilities-title">Offer capabilities</div>
          </div>
          <!-- BEGIN offers-usage__capabilities-header -->
          <div class="offers-usage__capabilities-header">
            <div class="offers-usage__capabilities-box">Goal name</div>
            <div class="offers-usage__capabilities-box flex">
              <div class="offers-usage__capabilities-cell"></div>
              <div class="offers-usage__capabilities-cell">Set Caps</div>
              <div class="offers-usage__capabilities-cell">Used Caps</div>
              <div class="offers-usage__capabilities-cell">Free Caps</div>

              <div class="offers-usage__capabilities-cell">Set Clicks</div>
              <div class="offers-usage__capabilities-cell">Used Clicks</div>
              <div class="offers-usage__capabilities-cell">Free clicks</div>
            </div>
            <div class="offers-usage__capabilities-box">Payout</div>
          </div>
          <!-- END offers-usage__capabilities-header  -->
          <div class="offers-usage__capabilities-table">
            <!-- BEGIN offers-usage__capabilities-row -->
            <div class="offers-usage__capabilities-row" *ngFor="let goal of offer.goals">
              <div class="offers-usage__capabilities-box semi-bold lgreen" [innerHtml]="goal.name">Complete level</div>
              <div class="offers-usage__capabilities-box">
                <div class="offers-usage__capabilities-line">
                  <div class="offers-usage__capabilities-cell">Daily</div>
                  <div class="offers-usage__capabilities-cell semi-bold" [innerHtml]="goal.cap.daily || '\&infin;'">
                  </div>
                  <div class="offers-usage__capabilities-cell semi-bold" [innerHtml]="goal.capUsed.daily"></div>
                  <div class="offers-usage__capabilities-cell semi-bold"
                    [innerHtml]="goal.cap.daily || goal.freeDailyCaps ? goal.freeDailyCaps : '\&infin;'"></div>

                  <div class="offers-usage__capabilities-cell semi-bold"
                    [innerHtml]="goal.capClick.daily || '\&infin;'"></div>
                  <div class="offers-usage__capabilities-cell semi-bold" [innerHtml]="goal.capClickUsed.daily"></div>
                  <div class="offers-usage__capabilities-cell semi-bold"
                    [innerHtml]="goal.capClick.daily || goal.freeClickDailyCaps ? goal.freeClickDailyCaps : '\&infin;'">
                  </div>
                </div>
                <div class="offers-usage__capabilities-line">
                  <div class="offers-usage__capabilities-cell">Monthly</div>
                  <div class="offers-usage__capabilities-cell semi-bold" [innerHtml]="goal.cap.monthly || '\&infin;'">
                  </div>
                  <div class="offers-usage__capabilities-cell semi-bold" [innerHtml]="goal.capUsed.monthly"></div>
                  <div class="offers-usage__capabilities-cell semi-bold"
                    [innerHtml]="goal.cap.monthly || goal.freeMonthlyCaps ? goal.freeMonthlyCaps : '\&infin;'"></div>

                  <div class="offers-usage__capabilities-cell semi-bold"
                    [innerHtml]="goal.capClick.monthly || '\&infin;'"></div>
                  <div class="offers-usage__capabilities-cell semi-bold" [innerHtml]="goal.capClickUsed.monthly"></div>
                  <div class="offers-usage__capabilities-cell semi-bold"
                    [innerHtml]="goal.capClick.monthly || goal.freeClickMonthlyCaps ? goal.freeClickMonthlyCaps : '\&infin;'">
                  </div>
                </div>
                <div class="offers-usage__capabilities-line">
                  <div class="offers-usage__capabilities-cell">Total</div>
                  <div class="offers-usage__capabilities-cell semi-bold" [innerHtml]="goal.cap.total || '\&infin;'">
                  </div>
                  <div class="offers-usage__capabilities-cell semi-bold"></div>
                  <div class="offers-usage__capabilities-cell semi-bold"></div>
                  <div class="offers-usage__capabilities-cell semi-bold"></div>
                  <div class="offers-usage__capabilities-cell semi-bold"></div>
                  <div class="offers-usage__capabilities-cell semi-bold"></div>
                </div>
              </div>
              <div class="offers-usage__capabilities-box">
                <label class="label label-yellow">
                  <span [innerHtml]="goal.payout.amount">100</span>
                  <span [innerHtml]="goal.payout.currency">USD</span>
                </label>
              </div>
            </div>
            <!-- END offers-usage__capabilities-row  -->
          </div>
        </div>
        <!-- END offers-usage__capabilities  -->

        <!-- BEGIN approvals-tabs -->
        <div class="approvals-tabs offers-usage__tabs">
          <div class="approvals-tabs__top">
            <input type="radio" id="approvals-tabs__link1" name="radio-grop-approval"
              (click)="getPublisherApprovalsByStatus(2)" checked>
            <label for="approvals-tabs__link1" class="approvals-tabs__link">APPROVALS</label>
            <input type="radio" id="approvals-tabs__link2" name="radio-grop-approval"
              (click)="getPublisherApprovalsByStatus(3)">
            <label for="approvals-tabs__link2" class="approvals-tabs__link">DISAPPROVALS</label>
            <input type="radio" id="approvals-tabs__link3" name="radio-grop-approval"
              (click)="getPublisherApprovalsByStatus(1)">
            <label for="approvals-tabs__link3" class="approvals-tabs__link">PENDING APPROVALS</label>

            <div class="approvals-tabs__item offers-usage__item">
              <div class="offers-usage__category">
                <div class="offers-usage__category-ico">
                  <!-- TODO: Refactor using approvals statuses API -->
                  <svg fill="#0DBC00" width="18" height="18" viewBox="0 0 18 18" version="1.1"
                    xmlns="http://www.w3.org/2000/svg" *ngIf="publisherStatus === 2">
                    <g id="Canvas" transform="translate(11080 1482)">
                      <use xlink:href="#path0_fill" transform="translate(-11080 -1482)"></use>
                    </g>
                    <path id="path0_fill" fill-rule="evenodd"
                      d="M 15.5928 5.19861L 17.999 6.58789L 16.6064 9L 17.998 11.4105L 15.5928 12.7993L 15.5928 15.5916L 12.8008 15.5916L 11.4111 17.9984L 9 16.6061L 6.58789 17.9984L 5.19824 15.5916L 2.41699 15.5916L 2.41699 12.8054L 0.000976562 11.4105L 1.39258 9L 0 6.58789L 2.41699 5.19238L 2.41699 2.41577L 5.19434 2.41577L 6.58887 0L 8.99902 1.39172L 11.4102 0L 12.8047 2.41577L 15.5928 2.41577L 15.5928 5.19861ZM 7.55762 4.5553L 5.0498 12.0792C 4.83398 12.7268 5.31641 13.3955 5.99902 13.3955L 6.02637 13.3955C 6.48535 13.3955 6.88574 13.0833 6.99707 12.6381L 7.35645 11.1996L 10.6504 11.1996L 11.0098 12.6381C 11.1211 13.0833 11.5215 13.3955 11.9805 13.3955L 12.0078 13.3955C 12.6904 13.3955 13.1719 12.7268 12.9561 12.0792L 10.4482 4.5553C 10.2412 3.93323 9.65918 3.51367 9.00293 3.51367C 8.34766 3.51367 7.76562 3.93323 7.55762 4.5553ZM 9.00391 6.80762C 8.39746 6.80762 7.90625 7.29919 7.90625 7.90564C 7.90625 8.51196 8.39746 9.00354 9.00391 9.00354C 9.61035 9.00354 10.1025 8.51196 10.1025 7.90564C 10.1025 7.29919 9.61035 6.80762 9.00391 6.80762Z">
                    </path>
                  </svg>
                  <svg fill="#F33155" width="18" height="18" viewBox="0 0 18 18" version="1.1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    *ngIf="publisherStatus === 3">
                    <g id="Canvas" transform="translate(11080 1482)">
                      <use xlink:href="#path0_fill" transform="translate(-11080 -1482)"></use>
                    </g>
                    <path id="path0_fill" fill-rule="evenodd"
                      d="M 15.5928 5.19861L 17.999 6.58789L 16.6064 9L 17.998 11.4105L 15.5928 12.7993L 15.5928 15.5916L 12.8008 15.5916L 11.4111 17.9984L 9 16.6061L 6.58789 17.9984L 5.19824 15.5916L 2.41699 15.5916L 2.41699 12.8054L 0.000976562 11.4105L 1.39258 9L 0 6.58789L 2.41699 5.19238L 2.41699 2.41577L 5.19434 2.41577L 6.58887 0L 8.99902 1.39172L 11.4102 0L 12.8047 2.41577L 15.5928 2.41577L 15.5928 5.19861ZM 7.55762 4.5553L 5.0498 12.0792C 4.83398 12.7268 5.31641 13.3955 5.99902 13.3955L 6.02637 13.3955C 6.48535 13.3955 6.88574 13.0833 6.99707 12.6381L 7.35645 11.1996L 10.6504 11.1996L 11.0098 12.6381C 11.1211 13.0833 11.5215 13.3955 11.9805 13.3955L 12.0078 13.3955C 12.6904 13.3955 13.1719 12.7268 12.9561 12.0792L 10.4482 4.5553C 10.2412 3.93323 9.65918 3.51367 9.00293 3.51367C 8.34766 3.51367 7.76562 3.93323 7.55762 4.5553ZM 9.00391 6.80762C 8.39746 6.80762 7.90625 7.29919 7.90625 7.90564C 7.90625 8.51196 8.39746 9.00354 9.00391 9.00354C 9.61035 9.00354 10.1025 8.51196 10.1025 7.90564C 10.1025 7.29919 9.61035 6.80762 9.00391 6.80762Z">
                    </path>
                  </svg>
                  <svg fill="#FFB100" width="18" height="18" viewBox="0 0 18 18" version="1.1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    *ngIf="publisherStatus === 1">
                    <g id="Canvas" transform="translate(11080 1482)">
                      <use xlink:href="#path0_fill" transform="translate(-11080 -1482)"></use>
                    </g>
                    <path id="path0_fill" fill-rule="evenodd"
                      d="M 15.5928 5.19861L 17.999 6.58789L 16.6064 9L 17.998 11.4105L 15.5928 12.7993L 15.5928 15.5916L 12.8008 15.5916L 11.4111 17.9984L 9 16.6061L 6.58789 17.9984L 5.19824 15.5916L 2.41699 15.5916L 2.41699 12.8054L 0.000976562 11.4105L 1.39258 9L 0 6.58789L 2.41699 5.19238L 2.41699 2.41577L 5.19434 2.41577L 6.58887 0L 8.99902 1.39172L 11.4102 0L 12.8047 2.41577L 15.5928 2.41577L 15.5928 5.19861ZM 7.55762 4.5553L 5.0498 12.0792C 4.83398 12.7268 5.31641 13.3955 5.99902 13.3955L 6.02637 13.3955C 6.48535 13.3955 6.88574 13.0833 6.99707 12.6381L 7.35645 11.1996L 10.6504 11.1996L 11.0098 12.6381C 11.1211 13.0833 11.5215 13.3955 11.9805 13.3955L 12.0078 13.3955C 12.6904 13.3955 13.1719 12.7268 12.9561 12.0792L 10.4482 4.5553C 10.2412 3.93323 9.65918 3.51367 9.00293 3.51367C 8.34766 3.51367 7.76562 3.93323 7.55762 4.5553ZM 9.00391 6.80762C 8.39746 6.80762 7.90625 7.29919 7.90625 7.90564C 7.90625 8.51196 8.39746 9.00354 9.00391 9.00354C 9.61035 9.00354 10.1025 8.51196 10.1025 7.90564C 10.1025 7.29919 9.61035 6.80762 9.00391 6.80762Z">
                    </path>
                  </svg>
                </div>
                <div class="offers-usage__category-name"
                  [innerHtml]="(publisherStatus === 2 ? 'Approved' : publisherStatus === 3 ? 'Disapproved' : 'Pending') + ' publishers'">
                  Approved publishers
                </div>
              </div>
              <!-- BEGIN approval-goals -->
              <div class="approval-goals" *ngIf="publisherStatus === 2" style="margin: 0 0 10px 0">
                <div class="approval-goals__top text-center clickable"
                  (click)="showApprovePublisherModal('approvePublisher')">
                  <div class="approval-goals__name">
                    <span>
                      <i class="fa fa-check medium-font"></i>
                    </span>
                    Approve publisher
                  </div>
                </div>
              </div>
              <!-- END approval-goals  -->
              <!-- BEGIN table-caps -->
              <div class="table-caps">
                <div class="table-caps__top">
                  <div class="table-caps__head">Pub id
                    <br /> Publisher
                  </div>
                  <div class="table-caps__head">Approval date</div>
                  <div class="table-caps__head">Goal</div>
                  <div class="table-caps__head">Personal payout</div>
                  <div class="table-caps__head">Daily caps</div>
                  <div class="table-caps__head">Monthly caps</div>
                  <div class="table-caps__head">Daily click</div>
                  <div class="table-caps__head">Monthly click</div>
                  <div class="table-caps__head">Clicks/
                    <br /> Convesions
                  </div>
                  <div class="table-caps__head"></div>
                </div>
                <div class="table-caps__row"
                  *ngFor="let publisherApproval of publisherApprovals.items; let $index = index;">
                  <div class="table-caps__cell-left">
                    <div class="table-caps__cell">
                      <div class="light semi-bold small-font mr-1" [innerHtml]="publisherApproval.publisher.id">
                        ID
                      </div>
                      <div>
                        <span class="semi-bold mr-1"
                          [innerHtml]="publisherApproval.publisher.username">ProLeadsMedia</span>
                        <span class="yellow inline-block small-font semi-bold mr-1 css-popover"
                          *ngIf="publisherApproval.publisher.percentPay">
                          <span [innerHtml]="publisherApproval.publisher.percentPay + '%'"></span>
                          <span class="css-popover-content">Pay percent</span>
                        </span>
                        <span class="red inline-block small-font semi-bold mr-1 css-popover">
                          <span class="half-opacity" [innerHtml]="publisherApproval.publisher.disapprove">305</span>
                          <span class="css-popover-content semi-bold">Publisher disapproves count</span>
                        </span>
                      </div>
                    </div>
                    <div class="table-caps__cell" [innerHtml]="publisherApproval.approvedAt ? (publisherApproval.approvedAt |
                        timezone:'MM/dd/yyyy HH:mm:ss') : '—' ">
                    </div>
                  </div>
                  <!-- BEGIN table-caps__cell-wrap -->
                  <div class="table-caps__cell-wrap">
                    <div class="table-caps__cell-item"
                      *ngFor="let pubGoal of publisherApproval.offerGoalPublishers; let $index = index;">
                      <div class="table-caps__cell">
                        <span class="lgreen fz12" [innerHtml]="pubGoal.goal.name"
                          [ngClass]="{ 'approve-goal__disabled' : !pubGoal.enabled }">
                          Install + make a purchase
                        </span>
                      </div>
                      <div class="table-caps__cell">
                        <div class="offers-usage__payout" *ngIf="pubGoal.payPercent">
                          <div class="app-input">
                            <div class="app-input__value" [innerHtml]="pubGoal.publisherPayout.amount"></div>
                            <div class="app-input__currency" [innerHtml]="pubGoal.publisherPayout.currency"></div>
                          </div>
                          <span>({{pubGoal.payPercent}}%)</span>
                        </div>
                        <div *ngIf="!pubGoal.payPercent" class="semi-bold text-center">—</div>
                      </div>
                      <div class="table-caps__cell">
                        <div class="approval-stat__row">
                          <div class="approval-stat__cell" [innerHtml]="pubGoal.capCounter.daily"></div>
                          <div class="approval-stat__cell" [innerHtml]="pubGoal.cap.daily"></div>
                        </div>
                        <div class="approval-stat__scale">
                          <span [ngStyle]="{'width.%': pubGoal.capCounter.daily / pubGoal.cap.daily * 100}"></span>
                        </div>
                      </div>
                      <div class="table-caps__cell">
                        <div class="approval-stat__row">
                          <div class="approval-stat__cell" [innerHtml]="pubGoal.capCounter.monthly"></div>
                          <div class="approval-stat__cell" [innerHtml]="pubGoal.cap.monthly"></div>
                        </div>
                        <div class="approval-stat__scale">
                          <span [ngStyle]="{'width.%': pubGoal.capCounter.monthly  / pubGoal.cap.monthly * 100}"></span>
                        </div>
                      </div>

                      <div class="table-caps__cell">
                        <div class="approval-stat__row">
                          <div class="approval-stat__cell" [innerHtml]="pubGoal.capClickCounter.daily"></div>
                          <div class="approval-stat__cell" [innerHtml]="pubGoal.capClick.daily"></div>
                        </div>
                        <div class="approval-stat__scale">
                          <span
                            [ngStyle]="{'width.%': pubGoal.capClickCounter.daily / pubGoal.capClick.daily * 100}"></span>
                        </div>
                      </div>
                      <div class="table-caps__cell">
                        <div class="approval-stat__row">
                          <div class="approval-stat__cell" [innerHtml]="pubGoal.capClickCounter.monthly"></div>
                          <div class="approval-stat__cell" [innerHtml]="pubGoal.capClick.monthly"></div>
                        </div>
                        <div class="approval-stat__scale">
                          <span
                            [ngStyle]="{'width.%': pubGoal.capClickCounter.monthly  / pubGoal.capClick.monthly * 100}"></span>
                        </div>
                      </div>
                      <div class="table-caps__cell">
                        <span *ngIf="!pubGoal.counter">0/0</span>
                        <span *ngIf="pubGoal.counter">{{pubGoal.counter.clicks || 0}}/{{pubGoal.counter.conversions ||
                          0}}</span>
                      </div>
                    </div>
                    <div *ngIf="!publisherApproval.offerGoalPublishers.length" class="color-warning">There is no goals
                      yet
                    </div>
                  </div>
                  <!-- END table-caps__cell-wrap  -->
                  <div class="table-caps__cell">
                    <!-- BEGIN approvals-settings -->
                    <div class="approvals-settings" *ngIf="publisherStatus === 2">
                      <a class="approvals-settings__item approvals-settings__item_edit css-popover"
                        (click)="showApprovePublisherModal('editCaps', publisherApproval)">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <span class="css-popover-content">Edit capabilities</span>
                      </a>
                      <span class="approvals-settings__item css-popover approvals-settings__item_delete"
                        (click)="disapprovePublisher(publisherApproval, $index)">
                        <i class="fa fa-close" aria-hidden="true"></i>
                        <span class="css-popover-content semi-bold">Disapprove this publisher</span>
                      </span>
                    </div>
                    <!-- END approvals-settings  -->
                    <!-- BEGIN approvals-settings -->
                    <div class="approvals-settings" *ngIf="publisherStatus === 3">
                      <a class="approvals-settings__item css-popover" data-placement="left"
                        (click)="reApprovePublisher(publisherApproval, $index)">
                        <img src="assets/images/icon-a.svg">
                        <span class="css-popover-content">Re-approve this publisher</span>
                      </a>
                    </div>
                    <!-- END approvals-settings  -->
                    <!-- BEGIN approvals-settings -->
                    <div class="approvals-settings" *ngIf="publisherStatus === 1">
                      <a class="approvals-settings__item css-popover" data-placement="left"
                        (click)="showApprovePublisherModal('approvePendingPublisher', publisherApproval)">
                        <img src="assets/images/icon-a.svg">
                        <span class="css-popover-content">Approve this publisher</span>
                      </a>
                    </div>
                    <!-- END approvals-settings  -->
                  </div>
                </div>
                <!-- END table-caps__row  -->
                <div class="text-center color-warning" *ngIf="!publisherApprovals.items.length">There is nothing to
                  show
                </div>

                <div *ngIf="publisherApprovals.items.length">
                  <div>
                    <div class="page-footer-panel">
                      <div class="col"></div>
                      <div class="col">
                        <table-limit [limit]="publisherApprovals.limit" (changedLimit)="tableLimitChange($event)">
                        </table-limit>
                      </div>
                      <div class="col">
                        <table-pagination [page]="publisherApprovals.page" [totalPages]="publisherApprovals.totalPages"
                          (currentPage)="goToPage($event)"></table-pagination>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END table-caps  -->
            </div>

          </div>
          <!-- END approvals-tabs  -->
        </div>
      </div>
      <!-- END offers-usage__body  -->



      <!-- BEGIN offers-usage__bottom -->
      <div class="offers-usage__bottom">
        <a class="offers-usage__back" [routerLink]="['/', 'manager', 'offers']">
          <i class="fa fa-chevron-left"></i>
          back to
          <span class="semi-bold">Offers</span>
        </a>
      </div>
      <!-- END offers-usage__bottom  -->
    </div>
    <!-- END offers-usage  -->

    <!-- Loading spinner -->
    <app-loader [loading]="loading"></app-loader>
    <!-- Loading spinner -->

  </div>
</div>

<modal #approveModal size="xlg">

  <modal-header>
    <span *ngIf="approvalId">Edit capabilities</span>
    <span *ngIf="!approvalId">Approve publisher</span>
  </modal-header>

  <modal-body *ngIf="approveModal.isOpen">
    <form (ngSubmit)="submitApprovalForm()">
      <!-- BEGIN usage-modal -->
      <div class="usage-modal">
        <!-- BEGIN offers-usage__capabilities -->
        <div class="offers-usage__capabilities">
          <div class="offers-usage__capabilities-title" *ngIf="showPublisherSelector">
            Publisher name
          </div>
          <div class="usage-modal__select" *ngIf="showPublisherSelector">

            <div class="createOffer__input"
                 [ngClass]="{'createOffer__input_invalid': errors && errors.publisherId && !publisherId}">
              <app-publishers-select [multiple]="false" [ngModelOptions]="{standalone: true}" [(ngModel)]="publisherId">
              </app-publishers-select>
            </div>
          </div>
          <div class="offers-usage__capabilities-top">
            <div class="offers-usage__capabilities-title">Offer capabilities</div>
          </div>
          <!-- BEGIN offers-usage__capabilities-header -->
          <div class="offers-usage__capabilities-header offers-usage__capabilities-header_modal">
            <div class="offers-usage__capabilities-box">Set</div>
            <div class="offers-usage__capabilities-box">Goal name</div>
            <div class="offers-usage__capabilities-box flex w-75">
              <div class="offers-usage__capabilities-cell"></div>
              <div class="offers-usage__capabilities-cell">Set Caps</div>
              <div class="offers-usage__capabilities-cell">Used Caps</div>
              <div class="offers-usage__capabilities-cell">Free Caps</div>
              <div class="offers-usage__capabilities-cell">Set Clicks</div>
              <div class="offers-usage__capabilities-cell">Used Clicks</div>
              <div class="offers-usage__capabilities-cell">Free Clicks</div>
              <div class="offers-usage__capabilities-cell">Caps Click Value</div>
            </div>
            <div class="offers-usage__capabilities-box">Caps Value</div>
          </div>
          <!-- END offers-usage__capabilities-header  -->
          <div class="offers-usage__capabilities-table  offers-usage__capabilities-table_modal">
            <div *ngFor="let goal of offerGoals; let index = index;">
              <!-- BEGIN offers-usage__capabilities-row -->
              <div class="offers-usage__capabilities-row">
                <div class="offers-usage__capabilities-box">
                  <div class="inp inp-check">
                    <label>
                      <input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="goal.enabled">
                      <i class="icn-check"></i>
                    </label>
                  </div>
                </div>
                <div class="offers-usage__capabilities-box semi-bold lgreen" [innerHtml]="goal.name">Complete
                  level
                </div>
                <div class="offers-usage__capabilities-box">
                  <div class="offers-usage__capabilities-line">
                    <div class="offers-usage__capabilities-cell">Daily</div>
                    <div class="offers-usage__capabilities-cell semi-bold" [innerHtml]="goal.cap.daily || '\&infin;'">
                    </div>
                    <div class="offers-usage__capabilities-cell semi-bold" [innerHtml]="goal.capUsed.daily"></div>
                    <div class="offers-usage__capabilities-cell semi-bold"
                         [innerHtml]="goal.cap.daily || goal.freeDailyCaps ? goal.freeDailyCaps : '\&infin;'"></div>

                    <div class="offers-usage__capabilities-cell semi-bold"
                         [innerHtml]="goal.capClick.daily || '\&infin;'"></div>
                    <div class="offers-usage__capabilities-cell semi-bold" [innerHtml]="goal.capClickUsed.daily"></div>
                    <div class="offers-usage__capabilities-cell semi-bold"
                         [innerHtml]="goal.capClick.daily || goal.freeClickDailyCaps ? goal.freeClickDailyCaps : '\&infin;'">
                    </div>
                    <div class="offers-usage__capabilities-cell">
                      <div class="createOffer__input">
                        <input type="number" min="0" [ngModelOptions]="{standalone: true}" placeholder="Click Daily"
                               [(ngModel)]="goal.newClickDaily">
                      </div>
                    </div>
                    <div class="offers-usage__capabilities-cell">
                      <div class="createOffer__input">
                        <input type="number" min="0" [ngModelOptions]="{standalone: true}" placeholder="Daily"
                               [(ngModel)]="goal.newDaily">
                      </div>
                    </div>
                  </div>
                  <div class="offers-usage__capabilities-line">
                    <div class="offers-usage__capabilities-cell">Monthly</div>
                    <div class="offers-usage__capabilities-cell semi-bold" [innerHtml]="goal.cap.monthly || '\&infin;'">
                    </div>
                    <div class="offers-usage__capabilities-cell semi-bold" [innerHtml]="goal.capUsed.monthly"></div>
                    <div class="offers-usage__capabilities-cell semi-bold"
                         [innerHtml]="goal.cap.monthly || goal.freeMonthlyCaps ? goal.freeMonthlyCaps : '\&infin;'"></div>

                    <div class="offers-usage__capabilities-cell semi-bold"
                         [innerHtml]="goal.capClick.monthly || '\&infin;'"></div>
                    <div class="offers-usage__capabilities-cell semi-bold" [innerHtml]="goal.capClickUsed.monthly">
                    </div>
                    <div class="offers-usage__capabilities-cell semi-bold"
                         [innerHtml]="goal.capClick.monthly || goal.freeClickMonthlyCaps ? goal.freeClickMonthlyCaps : '\&infin;'">
                    </div>
                    <div class="offers-usage__capabilities-cell">
                      <div class="createOffer__input">
                        <input type="number" min="0" step="any" max="100" [ngModelOptions]="{standalone: true}"
                               [(ngModel)]="goal.newClickMonthly">
                        <div class="createOffer__input__error-message createOffer__input__error-message_bottom"
                             *ngIf="errors['goals[' + index + '][payPercent]']"
                             [innerHtml]="errors['goals[' + index + '][newClickMonthly]'][0]" style="width: 120px;"></div>
                      </div>
                    </div>
                    <div class="offers-usage__capabilities-cell">
                      <div class="createOffer__input">
                        <input type="number" min="0" [ngModelOptions]="{standalone: true}"
                               [(ngModel)]="goal.newMonthly">
                      </div>
                    </div>
                  </div>
                  <div class="offers-usage__capabilities-line">
                    <div class="offers-usage__capabilities-cell">Total</div>
                    <div class="offers-usage__capabilities-cell semi-bold" [innerHtml]="goal.cap.total || '\&infin;'">
                    </div>
                    <div class="offers-usage__capabilities-cell semi-bold"></div>
                    <div class="offers-usage__capabilities-cell semi-bold"></div>
                    <div class="offers-usage__capabilities-cell semi-bold"
                         [innerHtml]="goal.capClick.total || '\&infin;'"></div>
                    <div class="offers-usage__capabilities-cell semi-bold"></div>
                    <div class="offers-usage__capabilities-cell semi-bold"></div>
                    <div class="offers-usage__capabilities-cell semi-bold"></div>
                    <div class="offers-usage__capabilities-cell semi-bold"></div>
                  </div>
                </div>
              </div>
              <!-- END offers-usage__capabilities-row  -->

              <div class="usage-modal__inputs">
                <div class="offers-usage__capabilities-title">Personal Payout</div>
                <div class="createOffer__input createOffer__input_price">
                  <app-input-number [numberAfterPoint]="2" [(ngModel)]="goal.payout.share"
                                    (ngModelChange)="calculatePersonalPayout(goal)" [ngModelOptions]="{standalone: true}">
                  </app-input-number>
                </div>
                <span>or</span>
                <div class="createOffer__input createOffer__input_percent"
                     [ngClass]="{'createOffer__input_invalid': errors['goals[' + index + '][payPercent]']}">
                  <app-input-number [numberAfterPoint]="2" [(ngModel)]="goal.payPercent"
                                    (ngModelChange)="calculatePersonalPercent(goal)" [ngModelOptions]="{standalone: true}">
                  </app-input-number>
                  <div class="createOffer__input__error-message createOffer__input__error-message_bottom"
                       *ngIf="errors['goals[' + index + '][payPercent]']"
                       [innerHtml]="errors['goals[' + index + '][payPercent]'][0]" style="width: 120px;"></div>
                </div>
                <span>of {{goal?.payout?.amount || goal?.publisherPayout?.amount + ' ' + goal?.payout?.currency ||
                goal?.publisherPayout?.currency
                  }}
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- END offers-usage__capabilities  -->
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <btn [simple]="true" (click)="toggleApprovePublisherModal()">Cancel</btn>
    <btn (click)="submitApprovalForm()">
      <i class="fa fa-check medium-font "></i> Approve
    </btn>
  </modal-footer>

</modal>
