<card>

  <card-header>
    <ng-container *ngIf="!advertiser?.id">{{ "advCreate.main" | translate }}</ng-container>
    <ng-container *ngIf="advertiser?.id">{{ "advCreate.edit" | translate }}</ng-container>
  </card-header>

  <card-body>

    <form onsubmit="return false" [formGroup]="form" appScrollToFirstErrorInput disableAutocomplete>

      <div class="form-group">
        <form-label [required]="true" class="col-4">{{ "advCreate.userName" | translate }}</form-label>
        <input-text class="col-8" formControlName="username"></input-text>
      </div>

      <ng-container formGroupName="person">

        <div class="form-group">
          <form-label class="col-4">{{ "advCreate.firstName" | translate }}</form-label>
          <input-text class="col-8" formControlName="firstName"></input-text>
        </div>

        <div class="form-group">
          <form-label class="col-4">{{ "advCreate.lastName" | translate }}</form-label>
          <input-text class="col-8" formControlName="lastName"></input-text>
        </div>

      </ng-container>

      <div class="form-groups" [class.form-overlay]="form.get('email').valid">

        <div class="form-group">
          <form-label class="col-4" [required]="true">{{ "advCreate.email" | translate }}</form-label>
          <input-text class="col-8" [mask]="'email'" formControlName="email"></input-text>
        </div>

        <div class="form-group" *ngIf="form.get('email').valid">
          <form-label class="col-4">{{ "advCreate.additionalEmails" | translate }}</form-label>
          <tags-input class="col-8" [mask]="'email'" formControlName="additionalEmails"></tags-input>
        </div>

      </div>

      <div class="form-group" formGroupName="invoiceData">
        <form-label class="col-4">{{ "advCreate.invoiceEmails" | translate }}</form-label>
        <tags-input class="col-8" [mask]="'email'" formControlName="invoiceEmails"></tags-input>
      </div>

      <div class="form-group">
        <form-label class="col-4">{{ "advCreate.skype" | translate }}</form-label>
        <input-text class="col-8" formControlName="skype"></input-text>
      </div>

      <div class="form-group">
        <form-label class="col-4" [required]="true">{{ "advCreate.phone" | translate }}</form-label>
        <input-text class="col-8" [type]="'phone'" formControlName="phone"></input-text>
      </div>

      <ng-container formGroupName="address">

        <div class="form-groups form-overlay">

          <div class="form-group">
            <form-label class="col-4" [required]="true">{{ "advCreate.address" | translate }}</form-label>
            <input-text class="col-8" formControlName="address"></input-text>
          </div>

          <div class="form-group">
            <form-label class="col-4" [required]="true">{{ "advCreate.city" | translate }}</form-label>
            <input-text class="col-8" formControlName="city"></input-text>
          </div>

          <div class="form-group">
            <form-label class="col-4" [required]="true">{{ "advCreate.state" | translate }}</form-label>
            <input-text class="col-8" formControlName="state"></input-text>
          </div>

          <div class="form-group">
            <form-label class="col-4" [required]="true">{{ "advCreate.country" | translate }}</form-label>
            <country-select class="col-8" formControlName="countryCode"></country-select>
          </div>

          <div class="form-group">
            <form-label class="col-4" [required]="true">{{ "advCreate.zipcode" | translate }}</form-label>
            <input-text class="col-8" formControlName="zipcode"></input-text>
          </div>

        </div>

        <ng-container formArrayName="additionalAddress">
          <div class="form-groups form-overlay" *ngFor="let address of additionalAddressForm?.controls; let i = index">
            <ng-container [formGroupName]="i">

              <header class="d-flex align-items-center justify-content-between mb-2">
                <h4 class="mb-0"><b>{{ "advCreate.additionalAddress" | translate }} {{ i + 1 }}</b></h4>
                <btn [simple]="true" size="sm" (click)="removeAdditionalAddress(i)">
                  <i class="fa fa-close color-danger"></i>
                </btn>
              </header>

              <div class="form-group">
                <form-label class="col-4">{{ "advCreate.address" | translate }}</form-label>
                <input-text class="col-8" formControlName="address"></input-text>
              </div>

              <div class="form-group">
                <form-label class="col-4">{{ "advCreate.city" | translate }}</form-label>
                <input-text class="col-8" formControlName="city"></input-text>
              </div>

              <div class="form-group">
                <form-label class="col-4">{{ "advCreate.state" | translate }}</form-label>
                <input-text class="col-8" formControlName="state"></input-text>
              </div>

              <div class="form-group">
                <form-label class="col-4">{{ "advCreate.country" | translate }}</form-label>
                <country-select class="col-8" formControlName="countryCode"></country-select>
              </div>

              <div class="form-group">
                <form-label class="col-4">{{ "advCreate.zipcode" | translate }}</form-label>
                <input-text class="col-8" formControlName="zipcode"></input-text>
              </div>

            </ng-container>
          </div>
        </ng-container>

        <div class="form-overlay-btn">
          <btn (click)="addAdditionalAddress()">
            <i class="fa fa-plus mr-2"></i>
            {{ "advCreate.additionalAddress" | translate }}
          </btn>
        </div>

      </ng-container>

      <div class="form-group mt-5">
        <form-label class="col-4" [required]="true">{{ "advCreate.status" | translate }}</form-label>
        <switcher class="col-8" formControlName="status">
          <switcher-btn name="status" [value]="2">{{ "advCreate.active" | translate }}</switcher-btn>
          <switcher-btn name="status" [value]="1">{{ "advCreate.pending" | translate }}</switcher-btn>
        </switcher>
      </div>

      <div class="form-group">
        <form-label class="col-4">{{ "advCreate.affiliatePartnership" | translate }}</form-label>
        <switcher class="col-8" formControlName="publisherAccessType">
          <switcher-btn name="partnership" [value]="2">{{ "advCreate.skip" | translate }}</switcher-btn>
          <switcher-btn name="partnership" [value]="1">{{ "advCreate.allow" | translate }}</switcher-btn>
        </switcher>
      </div>

      <div class="form-group">
        <form-label class="col-4"></form-label>
        <publisher-select class="col-8" [multiple]="true" formControlName="publisherAccessList"></publisher-select>
      </div>

      <div class="form-groups" [class.form-overlay]="form.get('securityType').value === 2">

        <div class="form-group">
          <form-label class="col-4" [required]="true">{{ "advCreate.security" | translate }}</form-label>
          <switcher class="col-8" formControlName="securityType">
            <switcher-btn name="security" [value]="1">{{ "advCreate.token" | translate }}</switcher-btn>
            <switcher-btn name="security" [value]="2">{{ "advCreate.tokenWhiteList" | translate }}</switcher-btn>
          </switcher>
        </div>

        <div class="form-group" formGroupName="ipWhitelist" *ngIf="form.get('securityType').value === 2">
          <form-label class="col-4">{{ "advCreate.whitelist" | translate }}</form-label>
          <tags-input class="col-8" [mask]="'ip'" formControlName="ipWhitelist"></tags-input>
        </div>

      </div>

      <div class="form-group">
        <form-label class="col-4">{{ "advCreate.appWhiteList" | translate }}</form-label>
        <tags-input class="col-8" [regexp]="stringRegex" formControlName="appWhiteList"></tags-input>
      </div>

      <ng-container formGroupName="url">

        <div class="form-group">
          <form-label class="col-4">{{ "advCreate.advertiserURL" | translate }}</form-label>
          <input-text class="col-8" formControlName="advertiserUrl"></input-text>
        </div>

        <div class="form-group">
          <form-label class="col-4">{{ "advCreate.trackingURLsuffix" | translate }}</form-label>
          <input-text class="col-8" formControlName="trackingUrlSuffix" [placeholder]="'Add macros to Tracking URL'">
          </input-text>
        </div>

      </ng-container>

      <ng-container formGroupName="invoiceData">

        <div class="form-group mt-5">
          <form-label class="col-4">{{ "advCreate.invoiceCompany" | translate }}</form-label>
          <input-text class="col-8" formControlName="invoiceCompany"></input-text>
        </div>

        <div class="form-group">
          <form-label class="col-4" [required]="true">{{ "advCreate.paymentTerms" | translate }}</form-label>
          <advertiser-terms-select class="col-8" formControlName="paymentTerms"></advertiser-terms-select>
        </div>

        <div class="form-group">
          <form-label class="col-4" [required]="true">{{ "advCreate.currency" | translate }}</form-label>
          <currency-select class="col-8" formControlName="currency"></currency-select>
        </div>

        <div class="form-group">
          <form-label class="col-4" [required]="true">{{ "advCreate.timezone" | translate }}</form-label>
          <timezone-select class="col-8" formControlName="timezone"></timezone-select>
        </div>

        <div class="form-group">
          <form-label class="col-4">{{ "advCreate.invoiceNotes" | translate }}</form-label>
          <area-input class="col-8" formControlName="invoiceNotes"></area-input>
        </div>

        <div class="form-group">
          <form-label class="col-4">{{ "advCreate.VAT" | translate }}</form-label>
          <input-text class="col-8" formControlName="vat"></input-text>
        </div>

        <div class="form-group">
          <form-label class="col-4">{{ "advCreate.VATpercent" | translate }}</form-label>
          <input-group class="col-3" iconName="percent" styleType="symbol">
            <input-integer formControlName="vatPercent"></input-integer>
          </input-group>
        </div>

      </ng-container>

      <div class="form-groups mt-5" formGroupName="crLimit">

        <div class="form-group" [title]="'advCreate.disableHint' | translate">
          <form-label class="col-4">{{ "advCreate.incentCRlimit" | translate }}</form-label>
          <input-group class="col-3" iconName="percent" styleType="symbol">
            <input-integer formControlName="incentLimit"></input-integer>
          </input-group>
        </div>

        <div class="form-group" [title]="'advCreate.disableHint' | translate">
          <form-label class="col-4">{{ "advCreate.nonIncentCRlimit" | translate }}</form-label>
          <input-group class="col-3" iconName="percent" styleType="symbol">
            <input-integer formControlName="nonIncentLimit"></input-integer>
          </input-group>
        </div>

      </div>

      <ng-container *ngIf="advertiser?.id">

        <div class="form-group">
          <form-label class="col-4">Agreement</form-label>
          <upload-advertiser-agreement class="col-8" [advertiserId]="advertiser?.id" formControlName="agreementFileId">
          </upload-advertiser-agreement>
        </div>

        <div class="form-group" formGroupName="invoiceData">
          <form-label class="col-4">VAT File</form-label>
          <upload-advertiser-vat class="col-8" [advertiserId]="advertiser?.id" formControlName="vatCertificateFileId">
          </upload-advertiser-vat>
        </div>

      </ng-container>

      <div class="form-group mt-5">
        <form-label class="col-4">{{ "advCreate.notes" | translate }}</form-label>
        <area-input class="col-8" formControlName="notes"></area-input>
      </div>

      <div class="form-group" formGroupName="manager">
        <form-label class="col-4" [required]="true">{{ "advCreate.manager" | translate }}</form-label>
        <manager-select class="col-8" formControlName="id"></manager-select>
      </div>

      <ng-container *ngIf="!advertiser?.id">

        <div class="form-group">
          <form-label class="col-4" [required]="true">{{ "advCreate.password" | translate }}</form-label>
          <password class="col-8" formControlName="password"></password>
        </div>

        <div class="form-group">
          <form-label class="col-4" [required]="true">{{ "advCreate.confirmPassword" | translate }}</form-label>
          <password class="col-8" formControlName="confirmPassword"></password>
        </div>

      </ng-container>

    </form>

  </card-body>

  <card-footer>
    <btn [simple]="true" routerLink="/manager/advertisers/list">{{ "advCreate.cancel" | translate }}</btn>
    <btn (click)="submitAdvertiserForm()">
      <ng-container *ngIf="!advertiser?.id">{{ "advCreate.main" | translate }}</ng-container>
      <ng-container *ngIf="advertiser?.id">{{ "advCreate.edit" | translate }}</ng-container>
    </btn>
  </card-footer>

</card>

<app-loader [loading]="loading"></app-loader>
