<card>

  <card-header>
    Manage Integration
  </card-header>

  <card-body>
    <form onsubmit="return false" [formGroup]="form" appScrollToFirstErrorInput disableAutocomplete>

      <div class="form-group">
        <form-label class="col-4" [required]="true">Advertiser</form-label>
        <div class="col-8">
          <advertiser-select [multiple]="false" formControlName="advertiserId" [placeholder]="'Select Advertiser'">
          </advertiser-select>
        </div>
      </div>

      <div class="form-groups form-overlay" formGroupName="credentials">
        <div class="form-group">
          <form-label class="col-4" [required]="true">Platform</form-label>
          <integrations-platforms-select class="col-8" [multiple]="false" formControlName="platform">
          </integrations-platforms-select>
        </div>
        <div class="form-group">
          <form-label class="col-4" [required]="true">
            Login
            <btn-icon *ngIf="additionalInfo" [icon]="'info-circle'" type="light" [outline]="true"
              [popover]="additionalInfo?.login"></btn-icon>
          </form-label>
          <input-text class="col-8" formControlName="login" (ngModelChange)="checkForUpdate()"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4" [required]="true">
            Password
            <btn-icon *ngIf="additionalInfo" [icon]="'info-circle'" type="light" [outline]="true"
              [popover]="additionalInfo?.password"></btn-icon>
          </form-label>
          <input-text class="col-8" formControlName="password" (ngModelChange)="checkForUpdate()">
          </input-text>
        </div>
        <hr style="border: none;" />
        <div class="form-overlay-btn">
          <button class="btn" type="button"
            [ngClass]="{'btn-success': integrationVerify === true, 'btn-error': integrationVerify === false}"
            (click)="testCredentials()" [disabled]="loading">
            Test Credentials
            <span class="btn-ajax-icon" *ngIf="loading"></span>
            <span class="btn-success-icon" *ngIf="integrationVerify === true"></span>
            <span class="btn-error-icon" *ngIf="integrationVerify === false"></span>
          </button>
        </div>
      </div>

      <div class="form-groups">
        <div class="form-group">
          <form-label class="col-4">Goal Auto Disable Period.</form-label>
          <ng-select class="col-8" [items]="autoDisabledPeriod" bindLabel="label" bindValue="value"
            formControlName="autoPausePeriod" [clearable]="true" [placeholder]="'Never'"></ng-select>
        </div>
        <div class="form-group">
          <form-label class="col-4">Enabled</form-label>
          <switcher class="col-8" formControlName="enabled">
            <switcher-btn name="enabled" [value]="true">{{'switch.yes' | translate}}</switcher-btn>
            <switcher-btn name="enabled" [value]="false">{{'switch.no' | translate}}</switcher-btn>
          </switcher>
        </div>
        <div class="form-group">
          <form-label class="col-4">Auto Changes</form-label>
          <switcher class="col-8" formControlName="autoChanges">
            <switcher-btn name="autoChanges" [value]="true">{{'switch.yes' | translate}}</switcher-btn>
            <switcher-btn name="autoChanges" [value]="false">{{'switch.no' | translate}}</switcher-btn>
          </switcher>
        </div>
      </div>

      <ng-container formGroupName="autoImport">
        <div class="form-group">
          <form-label class="col-4">Auto Import</form-label>
          <switcher class="col-8" formControlName="enabled">
            <switcher-btn name="enabled" [value]="true">
              {{'switch.yes' | translate}}
            </switcher-btn>
            <switcher-btn name="enabled" [value]="false">
              {{'switch.no' | translate}}
            </switcher-btn>
          </switcher>
        </div>
        <div class="form-group">
          <form-label class="col-4">Offer Status</form-label>
          <ng-select [items]="(autoImportOfferStatus$ | async).items" bindLabel="name" bindValue="id"
            formControlName="offerStatus" [clearable]="false" class="col-8"></ng-select>
        </div>
        <div class="form-group">
          <form-label class="col-4">Default tag</form-label>
          <ng-select [items]="(tags$ | async).items" bindLabel="name" bindValue="id" formControlName="defaultTagId"
            [clearable]="false" class="col-8"></ng-select>
        </div>
        <div class="form-group">
          <form-label class="col-4">Margin</form-label>
          <input-integer class="col-8" formControlName="margin"></input-integer>
        </div>
        <div class="form-group">
          <form-label class="col-4">Currency</form-label>
          <currency-select class="col-3" formControlName="currency" [clearable]="true"></currency-select>
        </div>
        <div class="form-group">
          <form-label class="col-4">Min Price</form-label>
          <input-integer class="col-8" formControlName="minPrice"></input-integer>
        </div>
        <div class="form-group">
          <form-label class="col-4">Max Price</form-label>
          <input-integer class="col-8" formControlName="maxPrice"></input-integer>
        </div>
        <div class="form-group">
          <form-label class="col-4">Adding Immediate Offer Pause Text</form-label>
          <switcher class="col-8" formControlName="addPauseText">
            <switcher-btn name="addPauseText" [value]="true">{{'switch.yes' | translate}}</switcher-btn>
            <switcher-btn name="addPauseText" [value]="false">{{'switch.no' | translate}}</switcher-btn>
          </switcher>
        </div>
        <div class="form-group">
          <form-label class="col-4">Convert Non-Incent to Incent</form-label>
          <switcher class="col-8" formControlName="convertNonIncentToIncent">
            <switcher-btn name="convertNonIncentToIncent" [value]="true">{{'switch.yes' | translate}}
            </switcher-btn>
            <switcher-btn name="convertNonIncentToIncent" [value]="false">{{'switch.no' | translate}}
            </switcher-btn>
          </switcher>
        </div>
        <div class="form-group">
          <form-label class="col-4">Delete Offer Description</form-label>
          <switcher class="col-8" formControlName="deleteDescription">
            <switcher-btn name="deleteDescription" [value]="true">{{'switch.yes' | translate}}
            </switcher-btn>
            <switcher-btn name="deleteDescription" [value]="false">{{'switch.no' | translate}}
            </switcher-btn>
          </switcher>
        </div>
        <div class="form-group">
          <form-label class="col-4">Geo</form-label>
          <country-select class="col-8" formControlName="geo" [multiple]="true"></country-select>
        </div>
        <div class="form-group">
          <form-label class="col-4">Restrictions for Incent Offers</form-label>
          <ng-select [items]="(restrictions$ | async).items" bindLabel="name" bindValue="id" [multiple]="true"
            formControlName="restrictionsForIncent" class="col-8">
          </ng-select>
        </div>
        <div class="form-group">
          <form-label class="col-4">Restrictions for Non Incent Offers</form-label>
          <ng-select [items]="(restrictions$ | async).items" bindLabel="name" bindValue="id" [multiple]="true"
            formControlName="restrictionsForNonIncent" class="col-8">
          </ng-select>
        </div>
        <div class="form-group">
          <form-label class="col-4">Platforms</form-label>
          <ng-select [items]="(platformNames$ | async).items" [multiple]="true" formControlName="platforms"
            class="col-8">
          </ng-select>
        </div>
      </ng-container>

      <ng-container>
        <div class="form-group">
          <form-label class="col-4">Required Approval</form-label>
          <switcher class="col-8" formControlName="approvalRequired">
            <switcher-btn name="approvalRequired" [value]="true">{{'switch.yes' | translate}}
            </switcher-btn>
            <switcher-btn name="approvalRequired" [value]="false">{{'switch.no' | translate}}
            </switcher-btn>
          </switcher>
        </div>
      </ng-container>
      <ng-container *ngIf="(isCheckerEnabled$ | async)" formGroupName="autoSuspend">
        <div class="form-group">
          <form-label class="col-4">Auto Suspend Enabled</form-label>
          <switcher class="col-8" formControlName="enabled">
            <switcher-btn name="enabled" [value]="true">{{'switch.yes' | translate}}
            </switcher-btn>
            <switcher-btn name="enabled" [value]="false">{{'switch.no' | translate}}
            </switcher-btn>
          </switcher>
        </div>
        <div class="form-group">
          <form-label class="col-4">Fail Checks for Auto Suspend</form-label>
          <input-integer class="col-8" formControlName="failedChecksCount"></input-integer>
        </div>
      </ng-container>

      <div class="form-group">
        <form-label class="col-4">
          Period
          <btn-icon [icon]="'info-circle'" type="light" [outline]="true" [popover]="'In minutes, min - 5, max - 60'">
          </btn-icon>
        </form-label>
        <input-integer class="col-8" formControlName="period"></input-integer>
      </div>
    </form>

  </card-body>

  <card-footer>
    <btn [simple]="true" routerLink="/manager/offers/integrations/list">{{ "pubCreate.cancel" | translate }}</btn>
    <btn (click)="submitform()">
      <ng-container *ngIf="!integration?.id">Create Integration</ng-container>
      <ng-container *ngIf="integration?.id">Update Integration</ng-container>
    </btn>
  </card-footer>

</card>

<app-loader [loading]="loading"></app-loader>
