<i class="fa fa-info-circle validation-icon"
   *ngIf="control?.invalid && control?.touched">
  <i *ngIf="showed"
     [popover]="errorPopover"
     [trigger]="trigger"
     [triggerTarget]="target"
     [placement]="'bottom-end'"
     [distance]="7"
     [showOnInit]="true"
     [hideOnClick]="true"
     [delay]="[100, null]"
     [changeDetectionData]="control?.errors"
     [theme]="'error'"></i>
</i>

<ng-template #errorPopover>

  <div class="errors-list">

    <ng-container *ngIf="control?.errors?.server">
      <div *ngFor="let error of control?.errors?.server">
        <div>{{ error }}</div>
      </div>
    </ng-container>

    <ng-container *ngIf="!control?.errors?.server">
      <div *ngFor="let error of validationErrors">
        <div>{{ error }}</div>
      </div>
    </ng-container>

  </div>

</ng-template>
