@import "mixin";

.validation-icon {
  color: var(--form-control-color-error);
  width: rem(20);
  height: rem(20);
  align-items: center;
  justify-content: center;
  z-index: 222;
  font-size: rem(20);
  position: absolute;
  top: rem(7);
  right: rem(5);
  display: flex;

  i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.errors-list {
  text-align: left;

  div:not(:last-of-type) {
    margin-bottom: rem(5);
  }
}
