<div class="container-fluid p-0">
  <div class="card mb-3">
    <header class="card-header">
      <h4 class="card-title mb-0"><strong>Basic</strong></h4>
    </header>

    <main class="card-body">
      <p>All tables need <code class="code-bold">.table</code> class.</p>
      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>
    </main>
  </div>

  <div class="card mb-3">
    <header class="card-header">
      <h4 class="card-title mb-0"><strong>Basic</strong></h4>
    </header>

    <main class="card-body">
      <p><code class="code-bold">.table-border-row</code> applies to <em>.table</em></p>
      <table class="table table-border-row">
        <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>
    </main>
  </div>

  <div class="card mb-3">
    <header class="card-header">
      <h4 class="card-title mb-0"><strong>Striped</strong></h4>
    </header>
    <div class="card-body">
      <p><code class="code-bold">.table-striped</code> applies to <em>.table</em></p>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card mb-3">
    <header class="card-header">
      <h4 class="card-title mb-0"><strong>Bordered</strong></h4>
    </header>
    <div class="card-body">
      <p><code class="code-bold">.table-bordered</code> applies to <em>.table</em></p>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card mb-3">
    <header class="card-header">
      <h4 class="card-title mb-0"><strong>Hover</strong></h4>
    </header>
    <div class="card-body">
      <p><code class="code-bold">.table-hover</code> applies to <em>.table</em></p>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card mb-3">
    <header class="card-header">
      <h4 class="card-title mb-0"><strong>Separated</strong></h4>
    </header>
    <div class="card-body">
      <p><code class="code-bold">.table-separated</code> applies to <em>.table</em></p>
      <table class="table table-separated">
        <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card mb-3">
    <header class="card-header">
      <h4 class="card-title mb-0"><strong>Small</strong> table</h4>
    </header>

    <div class="card-body">
      <p><code class="code-bold">.table-sm</code> applies to <em>.table</em></p>
      <table class="table table-sm">
        <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card mb-3">
    <header class="card-header">
      <h4 class="card-title mb-0"><strong>Large</strong> table</h4>
    </header>

    <div class="card-body">
      <p><code class="code-bold">.table-lg</code> applies to <em>.table</em></p>
      <table class="table table-lg">
        <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card mb-3">
    <header class="card-header">
      <h4 class="card-title mb-0"><strong>Selectall</strong> rows</h4>
    </header>
    <div class="card-body">
      <p>when <code>checkbox="checked"</code> applies to parent tr <code>.active</code></p>
      <table class="table table-selectAll">
        <thead>
        <tr>
          <th>
            <checkbox></checkbox>
          </th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr class="active">
          <td>
            <checkbox></checkbox>
          </td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>
            <checkbox></checkbox>
          </td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>
            <checkbox></checkbox>
          </td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card mb-3">
    <header class="card-header">
      <h4 class="card-title mb-0"><strong>Selectable</strong></h4>
    </header>

    <div class="card-body">
      <p>when click the <code>tr</code> applies <code>.active</code> to this <code>tr</code> and attribute <code>checked</code>
        inside tr to input</p>
      <table class="table table-selectable">
        <thead>
        <tr>
          <th>
            <checkbox></checkbox>
          </th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <checkbox></checkbox>
          </td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr class="active">
          <td>
            <checkbox></checkbox>
          </td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>
            <checkbox></checkbox>
          </td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
