<full-page *ngIf="(conversionReports$ | async) as conversionReports">

  <app-system-superlink-converion-statistics-filter #filterComponent [filter]="filter" (onApply)="applyFilters($event)"
    (onCancel)="applyFilters($event)"></app-system-superlink-converion-statistics-filter>

  <page-head [verticalAligment]="'align-items-center'" [horisontalAligment]="'justify-content-between'">

    <div class="col-auto page-nav">
      <a [routerLink]="['/', 'manager', 'superlink', 'system', 'statistics', 'system-statistics']"
         routerLinkActive="current" *hasPermission="['access_superlink_system_statistics']">
        <span translate="conversionReports.dynamic"></span>
      </a>
      <a [routerLink]="['/', 'manager', 'superlink', 'system', 'statistics', 'system-conversions-statistics']"
         [queryParams]="{ offers_ids: (filter.offers_ids) ? filter.offers_ids[0] : null }"
         [routerLinkActive]="['current']" *hasPermission="['access_superlink_system_conversion']">
        <span translate="conversionReports.conversions">Conversions</span>
      </a>
    </div>

    <div class="col mr-auto">
      <btn class="mr-2" size="lg" (click)="exportCSV()">
        <i class="fa fa-download mr-2"></i>
        {{ "conversionReports.exportReport" | translate }}
      </btn>
      <btn size="lg" (click)="sendToEmail()">
        <i class="fa fa-paper-plane mr-2"></i>
        {{ "conversionReports.sendToEmail" | translate }}
      </btn>
    </div>

    <div class="col-auto ml-auto">
      <date-range-picker [startDate]="filter.from" [endDate]="filter.to"
                         (onApply)="calendarCallback($event)">
      </date-range-picker>
    </div>

    <div class="col-auto ml-auto">
      <btn [simple]="true" class="mr-2" size="lg" (click)="filterComponent.open()">
        {{ "conversionReports.filter" | translate }}
        <i class="fa fa-filter ml-1"></i>
      </btn>
    </div>

  </page-head>

  <page-body tableSync [data]="conversionReports?.items">

    <ng-container *ngIf="conversionReports.items.length">

      <table-head [row]="true" class="bg-transparent">
        <tr>
          <th>
            <p>{{ "conversionReports.transactionId" | translate }}</p>
          </th>
          <th>
            <p><b class="clickable" [filter]="filter" appSortBy="groupName">{{ "conversionReports.groupName" | translate }}</b></p>
            <p><b class="clickable" [filter]="filter" appSortBy="resaleName">{{ "conversionReports.resaleName" | translate }}</b></p>
          </th>
          <th></th>
          <th>
            <p>{{ "conversionReports.time" | translate }}</p>
            <p>{{ "conversionReports.convTime" | translate }}</p>
            <p>{{ "conversionReports.duration" | translate }}</p>
          </th>
          <th>
            <p><b class="clickable" [filter]="filter" appSortBy="country">{{ "conversionReports.country" | translate }}</b></p>
            <p>{{ "conversionReports.refferer" | translate }}</p>
            <p>{{ "conversionReports.ip" | translate }}</p>
            <p>{{ "conversionReports.convIp" | translate }}</p>
            <p>{{ "conversionReports.clickId" | translate }}</p>
          </th>
          <th>
            <p>{{ "conversionReports.device" | translate }}</p>
            <p><b class="clickable" [filter]="filter" appSortBy="platform">{{ "conversionReports.platform" | translate }}</b></p>
          </th>
          <th>
            <p><b class="clickable" [filter]="filter" appSortBy="advertiserName">{{ "conversionReports.advertiser" | translate }}</b></p>
            <p><b class="clickable" [filter]="filter" appSortBy="revenues">{{ "conversionReports.income" | translate }}</b></p>
          </th>
        </tr>
      </table-head>

      <table-body [row]="true" class="bg-transparent">
        <tr *ngFor="let report of conversionReports.items;">
          <td>
            <btn-icon [icon]="'link'" [popover]="report.transactionId"></btn-icon>
          </td>
          <td>
            <badge [size]="'sm'"
                   [simple]="true"
                   [truncate]="true"
                   [popover]="'#' + report.group.id">{{ report.group.name }}</badge>
            <div class="mb-1"></div>
            <badge [size]="'sm'"
                   [simple]="true"
                   [truncate]="true"
                   [popover]="'#' + report.resale.id">{{ report.resale.name }}</badge>
          </td>
          <td>
            <badge *ngIf="report?.subPublisher.affSub"
                   [size]="'sm'"
                   [simple]="true"
                   [truncate]="true"
                   [popover]="report.subPublisher.affSub">{{ report.subPublisher.affSub }}</badge>
            <div class="mb-1"></div>
            <badge *ngIf="report?.subPublisher.affSub2"
                   [size]="'sm'"
                   [simple]="true"
                   [truncate]="true"
                   [popover]="report.subPublisher.affSub2">{{ report.subPublisher.affSub2 }}</badge>
            <div class="mb-1"></div>
            <badge *ngIf="report?.subPublisher.affSub3"
                   [size]="'sm'"
                   [simple]="true"
                   [truncate]="true"
                   [popover]="report.subPublisher.affSub3">{{ report.subPublisher.affSub3 }}</badge>
            <div class="mb-1"></div>
            <badge *ngIf="report?.subPublisher.affSub4"
                   [size]="'sm'"
                   [simple]="true"
                   [truncate]="true"
                   [popover]="report.subPublisher.affSub4">{{ report.subPublisher.affSub4 }}</badge>
          </td>
          <td>
            <p [innerHtml]="report.datetime | dateFormatDynamic:true:filter.timezone"></p>
            <p [innerHtml]="report.conversionData.conversionDatetime | dateFormatDynamic:true:filter.timezone"></p>
            <badge [simple]="true" [size]="'sm'">{{report.duration || '0s'}}</badge>
          </td>
          <td>
            <p *ngIf="report?.country.code"
               class="{{'country-ico ' + 'country-ico_' + report?.country?.code?.toLowerCase()}}"
               [popover]="report?.country?.code | country | async">
            </p>
            <div class="mb-1"></div>
            <ng-container>
              <div *ngIf="!report?.browserData">
                <label class="label label-lightgray">
                  Referrer
                </label>
              </div>
              <div *ngIf="report?.browserData?.referrer">
                <span class="inline-block" [popover]="report.browserData.referrer">
                  <label class="label label-lightgray label-long" [innerHtml]="report.browserData.referrer">
                  </label>
                </span>
              </div>
            </ng-container>
            <div class="mt-1">
              <p>{{ report?.sessionIp }}</p>
              <b>{{ report?.conversionData.conversionIp }}</b>
              <badge *ngIf="report?.publisherClickId" [simple]="true" [size]="'sm'"
                     [popover]="report.publisherClickId">
                {{ report?.publisherClickId }}</badge>
            </div>
          </td>
          <td>
            <b [innerHtml]="report?.device.deviceModel"></b>
            <p *ngIf="report.device.os || report.device.osVersion">
              <span *ngIf="report.device.os" [innerHtml]="report.device.os" class="mr-1"></span>
              <span *ngIf="report.device.osVersion" [innerHtml]="report.device.osVersion"></span>
            </p>
            <div class="mb-1"></div>
            <badge [simple]="true" [size]="'sm'" [popover]="report.platform.version">{{ report.platform.name }}</badge>
            <div class="mb-1"></div>
            <badge [simple]="true" [size]="'sm'" [popover]="report.device.deviceId">Device ID</badge>
            <div class="mb-1"></div>
            <badge [primary]="true" [size]="'sm'" [popover]="report.device.androidId">Android ID</badge>
            <div class="mb-1"></div>
            <badge [warning]="true" [size]="'sm'" [popover]="report.device.idfa">IDFA</badge>
          </td>
          <td>
            <p><b [innerHtml]="report.advertiser?.name" class="text-truncate"></b></p>
            <badge [simple]="true" [size]="'sm'" [truncate]="true" [popover]="report.advertiser?.id">{{ report.advertiser?.id }}</badge>
            <div class="arrow-wrap">
              <i class="fa fa-arrow-down blue mr-1" aria-hidden="true"></i>
              <b [innerHtml]="report.revenue?.amount + ' ' + report.revenue?.currency"></b>
            </div>
          </td>
        </tr>
      </table-body>

      <table-control *ngIf="conversionReports?.items.length"
                     [filter]="filter" [pagination]="conversionReports"></table-control>

    </ng-container>

    <app-no-data *ngIf="!conversionReports?.items?.length && !loading"></app-no-data>

  </page-body>

</full-page>
