@import "variables";
@import "mixin";

:host {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000 !important;
  display: block;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-background);
  z-index: 1000;
  box-shadow: 0 9px 21px 0 rgba(22, 32, 72, .3);
  height: $headerHeight;
}

.header-title {
  display: flex;
  align-items: center;
  position: relative;

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
    height: $headerHeight;
    background-color: var(--header-background);
    padding: rem(5, 30, 5, 16);
    border-right: 1px solid var(--sidebar-background-active);
    width: $sidebarWidth;

    .isSmall & {
      padding: rem(5, 10);
    }

    .logo {
      display: inline-block;
      vertical-align: middle;
      height: rem(34);
      padding: rem(8, 0, 12, 0);
      width: 100%;
      max-width: rem(147);
      font-size: rem(13);
      max-height: 100%;
      object-fit: cover;
      background-size: contain;
      background-position: center left;
      background-repeat: no-repeat;
      cursor: pointer;
      transition: max-width .15s ease-in-out;
    }
  }
}

.header-toggle-btn {
  display: block;
  position: absolute;
  top: 50%;
  right: rem(10);
  transform: translateY(-50%);
  padding: rem(8);
  background-color: transparent;
  border: none;
  cursor: pointer;
  box-sizing: content-box;

  span {
    display: block;
    height: rem(2);
    background-color: var(--sidebar-color-btn);
    width: rem(15);

    &:not(:last-child) {
      margin-bottom: rem(4);
    }

    + span {
      width: rem(12);

      + span {
        width: rem(14);
      }
    }
  }
}

:host-context(.isSmall) {
  .logo-container {
    width: $sidebarWidthMin;
    padding: rem(5, 8);
  }

  .header-toggle-btn {
    right: rem(-50);
  }
}

.page-name {
  font-size: rem(20);
  letter-spacing: rem(3);
  padding: rem(0, 28);
  margin: 0;
  line-height: 1;
  font-weight: 500;
  color: var(--header-color);
  text-transform: uppercase;
}

.header-controls {
  display: flex;
  align-items: center;

  > * {
    height: $headerHeight;
  }
}

:host ::ng-deep {

  .select-language,
  .select-currency {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    ng-select{
      width: rem(70);
      height: $headerHeight;
    }



    .ng-select {
      &.ng-select-single {
        .ng-select-container {
          background-color: transparent;
          border-color: transparent;
          height: 100%;
          cursor: pointer;

          .ng-value-container {
            padding-right: 0 !important;

            .ng-value {
              font-size: rem(14) !important;
              line-height: rem(20);
              color: #02c3c8;
            }
            .ng-input {
              padding-right: rem(25);
            }
          }
        }
      }

      .ng-arrow-wrapper {
        .ng-arrow {
          font-size: rem(18);
        }
      }
    }

    .ng-dropdown-panel {
      border: none;
      box-shadow: 0 9px 21px rgba(0, 0, 0, 0.06);

      &::before {
        position: absolute;
        content: "";
        top: rem(-4);
        right: rem(8);
        width: rem(8);
        height: rem(8);
        transform: rotate(45deg);
        background-color: #ffffff;
        pointer-events: none;
        z-index: -1;
      }

      &.ng-select-bottom {
        margin-top: 0;
      }
    }

    .ng-dropdown-panel {
      .scroll-host {
        &::-webkit-scrollbar {
          width: rem(4);
        }

        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(#02c3c8, 0.3);
          border-radius: $border-radius;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: $border-radius;
          -webkit-box-shadow: inset 0 0 6px #02c3c8;
        }
      }
    }

    .ng-dropdown-panel {
      .scroll-host {
        &::-webkit-scrollbar {
          width: rem(4);
        }

        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(#02c3c8, 0.3);
          border-radius: $border-radius;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: $border-radius;
          -webkit-box-shadow: inset 0 0 6px #02c3c8;
        }
      }
    }
  }
}

.help-chat {
  background-color: transparent;
  border-color: transparent;

  .fa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(32);
    height: rem(32);
    font-size: rem(22);
    border-radius: $border-radius;
    color: var(--header-color);
  }
}

.user-dropdown {
  &-toggle {
    background-color: transparent;
    border: none;
    box-shadow: none !important;
    outline: none !important;
    display: inline-flex;
    vertical-align: middle;
    cursor: pointer;
    padding: rem(5, 45, 5, 5);
    height: inherit;
    font-size: rem(13);
    line-height: 1.0769;
    font-weight: 600;
    color: var(--header-color);
    position: relative;
    text-decoration: none;

    &:after {
      position: absolute;
      top: 50%;
      //right: 0;
      margin-top: rem(-11);
      content: "\f107";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: rem(15);
      line-height: 1.3333;
      width: rem(20);
      height: rem(20);
      right: rem(17);
      text-align: center;
      transition: transform .3s;

      .user-block_open & {
        transform: rotate(180deg);
      }
    }
  }

  &-img {
    display: block;
    width: rem(30);
    height: rem(30);
    margin-right: rem(13);
    border-radius: $rounded;
    overflow: hidden;
  }

  &-text {
    display: inline-flex;
    flex-direction: column;
    font-weight: 700;
    text-align: left;
    min-width: rem(80);
  }

  &-name {
    position: relative;
    padding-top: rem(4);
  }

  &-role {
    font-size: rem(12);
    line-height: 1.2;
    color: var(--header-color-active);
    text-transform: capitalize;
    padding-top: rem(2);
  }

  &-pop {
    font-size: rem(14);
    background-color: var(--header-dropdown-background);
    transition: all .25s;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: 99;

    .user-block_open & {
      visibility: visible;
      opacity: 1;
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;

      li {
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, .07);
        transition: border-color .2s;

        &:hover {
          border-color: var(--header-dropdown-background-hover);
          & + .user-panel__item {
            border-color: var(--header-dropdown-background-hover);
          }
        }

        a {
          color: var(--header-dropdown-color) !important;
          display: block;
          padding: rem(10, 0);
          transition: background-color .2s;

          &:hover {
            text-decoration: none;
            cursor: pointer;
            background-color: var(--header-dropdown-background-hover);
          }
        }
      }
    }
  }
}
