<header>

  <div class="header-title">

    <div class="logo-container">

      <a class="logo" routerLink="/" *ngIf="(logoUrl$ | async) as logoUrl" [style.background-image]="logoUrl"></a>

      <button type="button" class="header-toggle-btn" (click)="changeSideBarMin()">
        <span></span>
        <span></span>
        <span></span>
      </button>

    </div>

    <h2 class="page-name">
      <ng-container *ngIf="pageName$ | async as pageName">
        {{ pageName | translate }}
      </ng-container>
    </h2>

  </div>

  <div class="header-controls">

    <div class="select-language">
      <ng-select [searchable]="false" [items]="locales" bindLabel="name" bindValue="key" [clearable]="false"
        [(ngModel)]="selectedLocale" (change)="changeLocale()">
      </ng-select>
    </div>

    <div class="select-currency" *ngIf="(currency$ | async) as currency">
      <currency-select [ngModel]="currency" (change)="changeCurrency($event)" [searchable]="false">
      </currency-select>
    </div>

    <app-notification></app-notification>

    <div class="user-dropdown-container" (click)="toggleUserControlPanel()" (appClickOutside)="hideUserControlPanel()"
      [class.user-block_open]="userControlPanel">

      <button class="user-dropdown-toggle">
        <picture class="user-dropdown-img">
          <img *ngIf="(profilePhoto$ | async) as photo" [src]="photo" alt="photo">
        </picture>
        <span class="user-dropdown-text">
          <span class="user-dropdown-name">{{ userName$ | async }}</span>
          <span class="user-dropdown-role">{{ roleName }}</span>
        </span>
      </button>

      <div class="user-dropdown-pop">
        <ul>
          <li>
            <a (click)="goToProfile()">{{ "header.profile" | translate }}</a>
          </li>
          <li *ngIf="isManager">
            <a routerLink="/manager/profile/account-settings">{{ "header.accountSettings" | translate }}</a>
          </li>
          <li>
            <a (click)="logout()">{{ "header.logout" | translate }}</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</header>
