<div id="geo">
  <svg></svg>
  <div class="offer-managers__chart-tooltip">
    <p class="country">
      <span>Ukraine</span>
    </p>
    <p class="clicks" style="display: none">{{ 'dashboard.clicks' | translate }}:
      <span>1322</span>
    </p>
    <p class="conversions" style="display: none">{{ 'dashboard.conversions' | translate }}:
      <span>334</span>
    </p>
    <p class="payout" style="display: none">{{ 'dashboard.payout' | translate }}:
      <span>10%</span>
    </p>
  </div>
</div>
