<full-page *ngIf="(integrations$ | async) as integrations">

  <offers-integrations-filter #filterComponent [filter]="filter" (onApply)="applyFilters($event)"
    (onCancel)="applyFilters($event)"></offers-integrations-filter>

  <page-head [verticalAligment]="'align-items-center'" [horisontalAligment]="'justify-content-between'">

    <div class="col">
      <btn [routerLink]="['/', 'manager', 'offers', 'integrations', 'create']">
        <i class="fa fa-plus mr-2"></i>
        Add integrations
      </btn>
    </div>
    <div class="col-auto ml-auto">
      <btn [simple]="true" size="lg" (click)="filterComponent.open()">
        {{ "dynamicReports.filter" | translate }}
        <i class="fa fa-filter ml-1"></i>
      </btn>
    </div>

  </page-head>

  <page-body tableSync [data]="integrations?.items">

    <ng-container *ngIf="integrations?.items?.length">
      <table-head>
        <tr>
          <th>
            <p>#</p>
          </th>
          <th>
            <b appSortBy="advertiserId" [filter]="filter" [popover]="'Sort by Scrub Advertiser ID'">Advertiser ID</b>
            <p>Advertiser Name</p>
          </th>
          <th>
            <b appSortBy="platform" [filter]="filter" [popover]="'Sort by platform'">Platform</b>
          </th>
          <th>
            <p>Status</p>
            <p>Last start</p>
          </th>
          <th>
            <p>Login</p>
            <p>Password</p>
          </th>
          <th>
            <b appSortBy="autoImport" [filter]="filter" [popover]="'Sort by Scrub Auto Import'">Auto Import</b>
          </th>
          <th>
            <b appSortBy="autoChanges" [filter]="filter" [popover]="'Sort by Scrub Auto Changes'">Auto Changes</b>
          </th>
          <th>
            <b appSortBy="enabled" [filter]="filter" [popover]="'Sort by Scrub Enable'">Enable</b>
          </th>
          <th>
            <b appSortBy="approvalRequired" [filter]="filter" [popover]="'Sort by Approval Required'">Approval
              Required</b>
          </th>
          <th>&nbsp;</th>
        </tr>
      </table-head>

      <table-body>
        <tr *ngFor="let integration of integrations.items">
          <td>
            <p [innerHtml]="integration.id" class="text-nowrap"></p>
          </td>
          <td>
            <p [innerHtml]="integration.advertiserId"></p>
            <p [innerHtml]="integration.advertiserName"
              [routerLink]="['/', 'manager', 'offers', 'integrations', 'edit', integration.advertiserId]"></p>
          </td>
          <td>
            <p [innerHtml]="integration.credentials.platform"></p>
          </td>
          <td>
            <span class="label " [ngClass]="{
                    'label-green': (integration.status | offerIntegrationStatusName:'original' | async) === 'done',
                    'label-invoice-rejected': (integration.status | offerIntegrationStatusName:'original' | async) === 'in progress'
                  }" [innerHtml]="integration.status | offerIntegrationStatusName | async"></span>
            <p [innerHtml]="integration.lastExecutionStart | timezone:'MM/dd/yyyy'"></p>
            <p [innerHtml]="integration.lastExecutionStart | timezone:'HH:mm:ss'"></p>
          </td>
          <td>
            <badge *ngIf="integration.credentials.login" [simple]="true">{{integration.credentials.login}}</badge>
            <div class="mb-1"></div>
            <badge *ngIf="integration.credentials.password" [simple]="true">{{integration.credentials.password}}
            </badge>
          </td>
          <td [style.width.px]="70">
            <checkbox [(ngModel)]="integration.autoImport.enabled" [disabled]="true"></checkbox>
          </td>
          <td [style.width.px]="100">
            <checkbox [(ngModel)]="integration.autoChanges" [disabled]="true"></checkbox>
          </td>
          <td [style.width.px]="70">
            <checkbox [(ngModel)]="integration.enabled" [disabled]="true"></checkbox>
          </td>
          <td [style.width.px]="100">
            <checkbox [(ngModel)]="integration.approvalRequired" [disabled]="true"></checkbox>
          </td>
          <td [style.width.px]="70">
            <div class="approvals-settings">
              <a class="approvals-settings__item approvals-settings__item_edit" [popover]="'Edit integrations'"
                [routerLink]="['/', 'manager', 'offers', 'integrations', 'edit', integration.id]">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
              <a class="approvals-settings__item approvals-settings__item_edit" [popover]="'Start integration'"
                *hasPermission="['manual_start_integration']" (click)="startIntegration(integration.advertiserId)">
                <i class="fa fa-play" aria-hidden="true"></i>
              </a>
            </div>
          </td>
        </tr>
      </table-body>
      <table-control *ngIf="integrations?.items.length" [filter]="filter" [pagination]="integrations">
      </table-control>
    </ng-container>

    <app-no-data *ngIf="!integrations?.items?.length && !loading"></app-no-data>
  </page-body>
</full-page>

<app-loader [loading]="loading"></app-loader>
