<modal #modal size="sm" class="confirm-modal">

  <modal-header>{{ title || '&nbsp;' }}</modal-header>

  <modal-body>
    <div class="confirm-modal-content">
      <ng-content></ng-content>
    </div>
  </modal-body>

  <modal-footer>
    <btn (click)="success()">{{ applyText || "base.apply" | translate }}</btn>
    <btn [simple]="true" (click)="cancel()">{{ cancelText || "base.cancel" | translate }}</btn>
  </modal-footer>

</modal>
