.confirm-modal {
  .btn {
    & + .btn {
      margin-left: 10px;
    }
  }

  .confirm-modal-content {
    font-size: 14px;
    text-align: center;
  }

  .modal-container {
    overflow: hidden;
  }

  .modal-footer {
    border-top: 1px solid #e8e8e8;
  }
}
