<card>

  <card-header>
    <div class="col-12 text-center">
      <btn [simple]="true" routerLink="/manager/billing/advertisers/invoices/list">Back</btn>
      <btn (click)="downloadInvoice()">
        <i class="fa fa-print mr-1"></i> Download as PDF
      </btn>
    </div>
  </card-header>

  <card-body>
    <table width="100%">
      <tr>
        <td align="left">
          <strong>{{ invoice?.company?.name }}</strong><br>
          {{ invoice?.company?.address }} <br>
          Email: {{ invoice?.company?.email }}<br>
          Phone: {{ invoice?.company?.phone }}
        </td>
        <td align="right">
          <h2 style="margin-top: 0;">INVOICE #{{ invoice?.invoiceNumber }}</h2>
          <strong>Date:</strong> {{ invoice?.invoiceDate | dateFormatDynamic }}<br />
          <strong>Due date:</strong> {{ invoice?.dueDate | dateFormatDynamic }}
        </td>
      </tr>
    </table>

    <hr>
    <br />

    <p><strong>Bill to:</strong></p>
    <p>
      {{ invoice?.username }}<br />
      {{ invoice?.address }}<br />
      {{ invoice?.notes }}
    </p>

    <table border="1" style="border-collapse: collapse;" cellpadding="3" width="100%">
      <tr align="left" bgcolor="#eee">
        <th>#</th>
        <th>Item Description</th>
        <th>Quantity</th>
        <th>Unit price ({{ invoice?.currency }})</th>
        <th>Total ({{ invoice?.currency }})</th>
      </tr>
      <tr *ngFor="let item of invoice?.items; let index = index;">
        <td>{{ index + 1 }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.quantity }} </td>
        <td>{{ item.unitPrice }}</td>
        <td>{{ item.total }}</td>
      </tr>
      <tr *ngFor="let crossPayments of invoice?.crossPayments; let index = index;">
        <td>{{ index }}</td>
        <td>{{ crossPayments.name }}</td>
        <td></td>
        <td></td>
        <td>{{ crossPayments.total }}</td>
      </tr>
      <tr *ngFor="let deduction of invoice?.deductions; let index = index;">
        <td>{{ index }}</td>
        <td>{{ deduction.name }}</td>
        <td></td>
        <td></td>
        <td>{{ deduction.total }}</td>
      </tr>
      <tr bgcolor="#eee">
        <td colspan="4"><strong>Total</strong></td>
        <td><strong>{{ invoice?.total }}</strong></td>
      </tr>
    </table>

    <p><strong>All payments should be sent to:</strong></p>
    <p class="mb-0"><strong>Account No:</strong>{{invoice?.company?.payments?.paymentAccountNumber}}</p>
    <p class="mb-0"><strong>IBAN:</strong>{{invoice?.company?.payments?.paymentIban}}</p>
    <p class="mb-0"><strong>SWIFT:</strong>{{invoice?.company?.payments?.paymentSwift}}</p>
    <p class="mb-0"><strong>Bank name:</strong>{{invoice?.company?.payments?.paymentBankName}}</p>
    <p class="mb-0"><strong>Bank address:</strong>{{invoice?.company?.payments?.paymentBankAddress}}</p>
    <p class="mb-0"><strong>Payoneer:</strong>{{invoice?.company?.payments?.paymentPayoneer}}</p>
    <p class="mb-0"><strong>PayPal:</strong>{{invoice?.company?.payments?.paymentPaypal}}</p>
    <p class="mb-0"><strong>e-Wallet number:</strong>{{invoice?.company?.payments?.paymentEpayments}}</p>
    <p class="mb-0"><strong>Other:</strong>{{invoice?.company?.payments?.paymentOther}}</p>

  </card-body>

</card>
