<card>
  <card-header>
    <div class="col-12 text-center">
      <btn [simple]="true" routerLink="/publisher/billing">Back</btn>
      <btn (click)="downloadInvoice()">
        <i class="fa fa-print mr-1"></i> Download as PDF
      </btn>
    </div>
  </card-header>
  <card-body>
    <div class="row">
      <div class="col">
        <address class="view-panel__address">
          <p>Bill to:</p>
          <p class="semi-bold" [innerHtml]="invoice?.tenantInfo?.companyName">Company name</p>
          <p>
            <abbr data-original-title="Country">Country:</abbr>
            <span [innerHtml]="invoice?.tenantInfo?.companyCountry">Company phone</span>
          </p>
          <p>
            <abbr data-original-title="Phone">Phone:</abbr>
            <span [innerHtml]="invoice?.tenantInfo?.companyPhone">Company phone</span>
          </p>
          <p>
            <abbr data-original-title="Email">Email:</abbr>
            <a href="mailto:{{ invoice?.tenantInfo?.companyEmail }}"
              [innerHtml]="invoice?.tenantInfo?.companyEmail">Company
              email</a>
          </p>
        </address>
      </div>
      <div class="col">
        <address class="view-panel__address text-right margin-left">
          <p>From:</p>
          <p class="semi-bold" [innerHtml]="invoice.company">Publisher name</p>
          <p>
            <abbr data-original-title="Address">Address:</abbr>
            <span [innerHtml]="invoice?.paymentInfo?.address">Payment address</span>
          </p>
          <p>
            <abbr data-original-title="Phone">Phone:</abbr>
            <span [innerHtml]="invoice?.paymentInfo?.phone">099 5005050</span>
          </p>
          <p>
            <abbr data-original-title="Email">Email:</abbr>
            <span [innerHtml]="invoice?.paymentInfo?.email">test@test.test</span>
          </p>
          <br>
          <p>
            <span class="semi-bold">Invoice date:</span>
            <span [innerHtml]="invoice.createdAt | dateFormat">11.01.2010</span>
          </p>
          <p>
            <span class="semi-bold">Due date:</span>
            <span [innerHtml]="invoice.dueDate | dateFormat">11.30.2014</span>
          </p>
          <p>
            <span class="semi-bold">Invoice period:</span>
            <span [innerHtml]="invoice?.period?.from | dateFormat">11.01.2010</span> -
            <span [innerHtml]="invoice?.period?.to | dateFormat">11.30.2014</span>
          </p>
        </address>
      </div>
      <div class="col-12">
        <table class="view-panel__table">
          <thead>
            <tr>
              <th colspan="2">
                <strong>Item List</strong>
              </th>
              <th>
                <strong>Quantity</strong>
              </th>
              <th>
                <strong>Unit Price </strong>
              </th>
              <th>
                <strong>Total Price</strong>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let offer of invoice.invoiceCalculation">
              <td><strong [innerHtml]="offer.id"></strong></td>
              <td><strong [innerHtml]="offer.name"></strong></td>
              <td [innerHtml]="offer.quantity"></td>
              <td [innerHtml]="offer.unitPrice.currency + ' ' + ((offer.unitPrice.amount))"></td>
              <td>
                <span
                  *ngIf="offer?.totalPrice">{{offer?.totalPrice?.currency + ' ' + ((offer?.totalPrice?.amount))}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-5 mt-2 ml-auto text-right">
        <div class="text-right view-panel__info">
          <div class="view-panel__line">
            <span class="semi-bold">Total price:</span>
            <span [innerHtml]="invoice?.amount?.amount">2500 USD</span>
            <span [innerHtml]="invoice?.amount?.currency">2500 USD</span>
          </div>
          <div class="view-panel__line">
            <span class="semi-bold">Fee :</span>
            <span [innerHtml]="'- ' + invoice?.fee">2500 USD</span>
            <span [innerHtml]="invoice?.amount?.currency">2500 USD</span>
          </div>
          <div class="view-panel__line" *ngFor="let part of invoice.parts">
            <span>
              <span class="semi-bold">{{ part.type | billingPartsType | async }}:</span>
            </span>
            <span>{{ part.type | billingPartsType:'operator' | async }} {{ part?.amount?.amount }}</span>
            <span [innerHtml]="part?.amount?.currency">USD</span>
          </div>
          <div class="view-panel__line">
            <span class="semi-bold">TOTAL:</span>
            <span [innerHtml]="invoice?.amountDetails?.total?.amount|currency:''"></span>
            <span [innerHtml]="invoice?.amount?.currency">USD</span>
          </div>
        </div>
      </div>
    </div>
  </card-body>
</card>

<app-loader [loading]="loading"></app-loader>
