<div class="page scrollable" perfectScrollbar>
  <div class="page-container">

    <!-- BEGIN create-pub -->
    <div class='create-pub checker'>
      <!-- BEGIN create-pub__top -->
      <div class='create-pub__top'>
        <div class="create-pub__name" translate="checker.manualChecker"></div>
      </div>
      <!-- END create-pub__top  -->

      <!-- BEGIN checker__content -->
      <div class='checker__content'>

        <!-- BEGIN checker-name -->
        <div class='checker-name' *ngIf="checks.offerName">

          <span class="css-popover inline-block">
            <!--<label-->
            <span class="css-popover-content" *ngIf="checks.offerStatus" [innerHtml]="offerStatuses[checks.offerStatus].name"></span>
          </span>
          <div class="checker-name__title css-popover">
            <span [innerHtml]="checks.offerName"> Loco Bingo 90 by Playspace (Burst)</span>
            <div class="css-popover-content" translate="checker.offerName"></div>
          </div>
          <a style="margin-bottom: 0" class="approvals-settings__item approvals-settings__item_edit css-popover"
            [routerLink]="['/', 'manager', 'offers', 'edit', checks.offerId]" *hasPermission="['manage_offers']">
            <i class="fa fa-pencil"></i>
            <span class="css-popover-content" translate="checker.editOffer">Edit Offer</span>
          </a>
        </div>
        <!-- END checker-name  -->

        <!-- BEGIN checker-table -->
        <div class='checker-table' *ngIf="checks.groupCheckResults">
          <!-- BEGIN checker-table__top -->
          <div class="checker-table__top">
            <div class="checker-table__head" translate="checker.platform">Platform</div>
            <div class="checker-table__head" translate="checker.geography">Geography</div>
            <div class="checker-table__head" translate="checker.statusName">
              Status
            </div>
          </div>
          <!-- END checker-table__top  -->
          <div class="checker-table__row" *ngFor="let device of checks.groupCheckResults | keyvalue">
            <div class="checker-table__cell semi-bold" [innerHtml]="device.key"></div>
            <div class="checker-table__cell">
              <div *ngFor="let country of device.value | keyvalue">
                <label class="label label-white css-popover">
                  <span [innerHtml]="country.key"></span>
                  <span class="css-popover-content" [innerHtml]="country.key | country | async"></span>
                </label>
              </div>
            </div>
            <div class="checker-table__cell">
              <div *ngFor="let country of device.value | keyvalue" class="checker-status" [ngClass]="{'red': !country.value.status}">
                <span class="clickable" (click)="getOfferCheck(country.value.id)">
                  <span *ngIf="country.value.status">Success</span>
                  <span *ngIf="!country.value.status">Failure</span>
                </span>
              </div>

            </div>
          </div>
        </div>
        <!-- END checker-table  -->
        <app-no-data *ngIf="!checks.groupCheckResults && !loading"></app-no-data>
      </div>
      <!-- END checker__content  -->

    </div>
    <!-- END create-pub  -->
  </div>
  <app-loader [loading]="loading"></app-loader>

  <!-- BEGIN modal-box -->
  <div class='modal-box' *ngIf="modal">
    <div class="modal-box__overlay" (click)="toggleModal()">
    </div>
    <div class="add-email approval-modal">
      <div class="add-email__header">
        <span translate="checker.checkDetails" class="mr-2">Check details</span> <span [innerHtml]="checkInfo.id"></span></div>
      <!-- BEGIN external-modal__content -->
      <div class="external-modal__content checker-modal__content" perfectScrollbar>
        <!-- BEGIN checker-modal -->
        <div class='checker-modal'>
          <div class="checker-modal__title semi-bold big-font" translate="checker.source">Source</div>
          <div class="checker-modal__url">
            <span translate="checker.previewURL">Preview URL:</span>
            <a [href]="checkInfo.previewUrl" target="_blank" class="color-blue" [innerHtml]="checkInfo.previewUrl"></a>
          </div>
          <div class="checker-modal__url">
            <span translate="checker.URL">URL:</span>
            <a class="color-blue" target="_blank" [href]="checkInfo.redirectUrls[checkInfo.redirectUrls.length-1].url"
              [innerHtml]="checkInfo.redirectUrls[checkInfo.redirectUrls.length-1].url"></a>
          </div>
          <div class="checker-modal__tags">
            <span [innerHtml]="checkInfo.platform.name">iPhone</span>
            <label class="label label-darkgray" [innerHtml]="checkInfo.countryCode"></label>
            <span class="color-lightgray">
              <span [innerHtml]="checkInfo.duration + ' sec'"></span>
            </span>
            <span class="label label-yellow" [innerHtml]="checkInfo.redirectUrls.length"></span>
            <span>Checked at: <span [innerHtml]="checkInfo.checkedAt | dateFormatDynamic:true"></span></span>
          </div>
          <div class="checker-modal__title semi-bold big-font" translate="checker.destination">Destination</div>
          <div class="checker-modal__status">
            <i class="fa" [ngClass]="checkInfo.status ? 'fa-check' : 'fa-close'"></i>
            <span [innerHtml]="checkInfo.redirectUrls[0].domain"></span>
          </div>
          <div class="checker-modal__err-message color-red" [innerHtml]="checkInfo.error" *ngIf="checkInfo.error">Error:
            1407742E:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1
            alert protocol version
          </div>
          <!-- BEGIN checker-tabs -->
          <div class='checker-tabs'>
            <div class="checker-tabs__left">
              <!-- BEGIN checker-tabs__list -->
              <ol class="checker-tabs__list">
                <li class="checker-tabs__item" *ngFor="let item of checkInfo.redirectUrls; let $index = index;">
                  <input type="radio" id="{{'checker-tabs__checkbox' + $index}}" name="checker-tabs" [checked]="$index === 0">
                  <label for="{{'checker-tabs__checkbox' + $index}}" class="checker-tabs__link" [innerHtml]="item.domain">tracking.performavenues.com</label>
                  <div class="checker-tabs__right" perfectScrollbar>
                    <div class="checker-tabs__text">
                      <ul style="word-break: break-word">
                        <li>
                          <b translate="checker.request">Request:</b>
                          <ul>
                            <li><b translate="checker.time">Time:</b> <span [innerHtml]="item.request.time | dateFormatDynamic:true"></span></li>
                            <li><b translate="checker.method">Method:</b> <span [innerHtml]="item.request.method"></span>
                            </li>
                            <li><b translate="checker.headers">Headers:</b>
                              <ul>
                                <li style="word-break: break-word;" *ngFor="let header of item.request.headers">
                                  <span [innerHtml]="header"></span>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <b translate="checker.response">Response:</b>
                          <ul>
                            <li><b translate="checker.time">Time:</b> <span [innerHtml]="item.response.time | dateFormatDynamic:true"></span></li>
                            <li><b translate="checker.contentType">Content Type:</b> <span [innerHtml]="item.response.contentType"></span></li>
                            <li><b translate="checker.redirectURL">Redirect Url:</b> <span [innerHtml]="item.response.redirectUrl"></span></li>
                            <li><b translate="checker.status">Status:</b> <span [innerHtml]="item.response.status"></span>
                            </li>
                            <li><b translate="checker.statusText">Status Text:</b> <span [innerHtml]="item.response.statusText"></span></li>
                            <li><b translate="checker.headers">Headers:</b>
                              <ul>
                                <li *ngFor="let header of item.response.headers">
                                  <span [innerHtml]="header"></span>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ol>
              <!-- END checker-tabs__list  -->
            </div>
          </div>
          <!-- END checker-tabs  -->
        </div>
        <!-- END checker-modal  -->
      </div>
      <!-- END external-modal__content  -->
    </div>
  </div>
  <!-- END modal-box  -->

</div>
