@font-face {
  font-family: 'Roboto';
  src: url('../fonts/SegoeUI-Semibold.woff') format('woff'),
  url('../fonts/SegoeUI-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Semilight';
  src: url('../fonts/SegoeUI-Semilight.woff') format('woff'),
  url('../fonts/SegoeUI-Semilight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/SegoeUI-Light.woff') format('woff'),
  url('../fonts/SegoeUI-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/SegoeUI-Bold.woff') format('woff'),
  url('../fonts/SegoeUI-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/SegoeUI.woff') format('woff'),
  url('../fonts/SegoeUI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/SegoeUIBlack.woff') format('woff'),
  url('../fonts/SegoeUIBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
