@import "components/popover";
@import "components/preloader";
@import "components/daterangepicker";
@import "components/buttons";
@import "components/tab-links";
@import "components/content";

@import "components/table";
@import "components/select";
@import "components/actions";
@import "components/filters";
@import "components/input";
@import "components/slider";
@import "components/webui-popover";
@import "components/labels";
@import "components/icons";
@import "components/owl-datepicker";
@import "components/countries";
@import "components/page";

.offer-postback-modal,
.event-postback-modal {

  .add-email__items {
    min-height: 200px;
  }
}
