<aside class="sidebar">
  <div class="menu-wrap" [ngClass]="{'isSmall' : isSmall}">
    <div class="menu">

      <div class="stats" *ngIf="sidebarInfo">
        <div class="stats-col">
          <div class="stats-bg-active stats-time">
            <div class="stats-item">
              <div class="stats-item-title">
                <span>{{ "sidebar.time" | translate }}</span>
                <span>{{sidebarInfo.timezone}}</span>
              </div>
              <div class="stats-item-title min">{{ "sidebar.time" | translate }}</div>
              <div class="stats-item-value">
                <span class="num">{{now | timezone:'HH:mm'}}</span>
              </div>
            </div>
          </div>
          <div class="stats-bg-active min-hidden">
            <h6 class="stats-subtitle">{{ "sidebar.count" | translate }} / {{ "sidebar.limit" | translate }}</h6>
            <div class="stats-item">
              <div class="stats-item-title" translate="sidebar.clicks">Clicks</div>
              <div class="stats-item-title min" translate="sidebar.clicks">Clicks</div>
              <div class="stats-item-value" placement="right"
                [popover]="(sidebarLimitUsage?.clicks?.count) + '/' + (sidebarLimitUsage?.clicks?.limit | zeroIsInfinity)">
                <span class="num">{{sidebarLimitUsage?.clicks?.count | friendlyNumber}} /
                  {{sidebarLimitUsage?.clicks?.limit | friendlyNumber | zeroIsInfinity}}</span>
              </div>
            </div>
            <div class="stats-item" *ngIf="sidebarLimitUsage?.checks?.count || sidebarLimitUsage?.checks?.count === 0">
              <div class="stats-item-title" translate="sidebar.checks">Checks</div>
              <div class="stats-item-title min" translate="sidebar.checks">Checks</div>
              <div class="stats-item-value" placement="right"
                [popover]="(sidebarLimitUsage?.checks?.count) + '/' + (sidebarLimitUsage?.checks?.limit | zeroIsInfinity)">
                <span class="num">{{sidebarLimitUsage?.checks?.count | friendlyNumber }} /
                  {{sidebarLimitUsage?.checks?.limit | friendlyNumber | zeroIsInfinity}}</span>
              </div>
            </div>
            <div class="stats-item">
              <div class="stats-item-title" translate="sidebar.conversions">Conversions</div>
              <div class="stats-item-title min" translate="sidebar.conv">Conv.</div>
              <div class="stats-item-value" placement="right"
                [popover]="(sidebarLimitUsage?.conversions?.count) + '/' + (sidebarLimitUsage?.conversions?.limit | zeroIsInfinity)">
                <span class="num">{{sidebarLimitUsage?.conversions?.count | friendlyNumber}} /
                  {{sidebarLimitUsage?.conversions?.limit | friendlyNumber | zeroIsInfinity}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="stats-col">
          <div class="stats-item min-hidden" *ngIf="sidebarTotal">
            <div class="stats-item-title">{{ "sidebar.todayTotal" | translate }}</div>
            <div class="stats-item-value">
              <span class="num">{{sidebarTotal.amount}}</span>
              <span class="num num-usd">{{sidebarTotal.currency}}</span>
            </div>
          </div>
          <div class="stats-item">
            <div class="stats-item-title">{{ "sidebar.actAdverts" | translate }}</div>
            <div class="stats-item-title min">{{ "sidebar.actAdvertsMin" | translate }}</div>
            <div class="stats-item-value">
              <span class="num">{{sidebarInfo.advertiser.countActiveAdvertiser}}</span>
            </div>
          </div>
          <div class="stats-item">
            <div class="stats-item-title">{{ "sidebar.activePubs" | translate }}</div>
            <div class="stats-item-title min">{{ "sidebar.activePubsMin" | translate }}</div>
            <div class="stats-item-value">
              <span class="num">{{sidebarInfo.publisher.countActivePublishers}}</span>
            </div>
          </div>
          <div class="stats-item">
            <div class="stats-item-title">{{ "sidebar.actOffers" | translate }}</div>
            <div class="stats-item-title min">{{ "sidebar.actOffersMin" | translate }}</div>
            <div class="stats-item-value">
              <span class="num">{{sidebarInfo.offer.countActiveOffers}}</span>
            </div>
          </div>
          <div class="stats-item" *hasPermission="['manage_offers']">
            <div class="stats-item-title">
              <a routerLink="/manager/offers" [queryParams]="{featured: '1'}">
                {{ "sidebar.fetOffers" | translate }}
              </a>
            </div>
            <div class="stats-item-title min">
              <a routerLink="/manager/offers" [queryParams]="{featured: '1'}">
                {{ "sidebar.fetOffersMin" | translate }}
              </a>
            </div>
            <div class="stats-item-value">
              <span class="num">{{sidebarInfo.offer.countFeaturedOffers}}</span>
            </div>
          </div>
        </div>
      </div>

      <nav class="nav" sidebarMenu>

        <ul class="nav-list">
          <li class="nav-item" routerLinkActive="current">
            <a routerLink="/manager/dashboard">
              <i class="fa fa-table"></i>
              <span class="lbl">{{ "sidebar.dashboard" | translate }}</span>
            </a>
          </li>

          <li class="nav-item nav-parent" routerLinkActive="open"
            *hasPermission="['view_managers','view_advertisers','view_publishers']">
            <span>
              <i class="fa fa-users"></i>
              <span class="lbl">{{ "sidebar.users.main" | translate }}</span>
            </span>
            <ul class="nav-drop">
              <li routerLinkActive="current" *hasPermission="['view_managers']">
                <a routerLink="/manager/managers">
                  {{ "sidebar.users.managers" | translate }}
                </a>
              </li>
              <li routerLinkActive="current" *hasPermission="['view_advertisers']">
                <a routerLink="/manager/advertisers">
                  {{ "sidebar.users.advertisers" | translate }}
                </a>
              </li>
              <li routerLinkActive="current" *hasPermission="['view_publishers']">
                <a routerLink="/manager/publishers">
                  {{ "sidebar.users.publishers" | translate }}
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item nav-parent" routerLinkActive="open"
            *hasPermission="['manage_offers','view_offers','view_externals','manage_integrations']">
            <span>
              <i class="fa fa-dollar"></i>
              <span class="lbl">{{ "sidebar.offers.main" | translate }}</span>
            </span>
            <ul class="nav-drop">
              <li routerLinkActive="current" *hasPermission="['manage_offers']">
                <a routerLink="/manager/offers/create">
                  {{ "sidebar.offers.create" | translate }}
                </a>
              </li>
              <li routerLinkActive="current" *hasPermission="['view_offers']">
                <a routerLink="/manager/offers/list">
                  {{ "sidebar.offers.manage" | translate }}
                </a>
              </li>
              <li routerLinkActive="current" *hasPermission="['checker_link_check']">
                <a routerLink="/manager/offers/link-check">
                  {{ "sidebar.offers.linkCheck" | translate }}
                </a>
              </li>
              <li routerLinkActive="current" *hasPermission="['view_externals']">
                <a routerLink="/manager/offers/externals">
                  {{ "sidebar.offers.externalAPI" | translate }}
                </a>
              </li>
              <li routerLinkActive="current" *hasPermission="['manage_integrations']">
                <a routerLink="/manager/offers/integrations/list">
                  {{ "sidebar.offers.integrations" | translate }}
                </a>
              </li>
              <li routerLinkActive="current" *hasPermission="['view_offer_action_log']">
                <a routerLink="/manager/offers/logger">
                  {{ "sidebar.offers.logger" | translate }}
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item" routerLinkActive="current" *hasPermission="['manage_approvals']">
            <a routerLink="/manager/offers/approvals">
              <i class="fa fa-check"></i>
              <span class="lbl">{{ "sidebar.approvals" | translate }}</span>
              <span class="num" *ngIf="approvalsCount" [innerHTML]="approvalsCount">2</span>
            </a>
          </li>

          <li class="nav-item nav-parent" routerLinkActive="open"
            *hasPermission="['access_hourly_statistics','access_conversion_report']">
            <span>
              <i class="fa fa-file"></i>
              <span class="lbl">{{ "sidebar.reports.main" | translate }}</span>
            </span>
            <ul class="nav-drop">
              <li routerLinkActive="current" *hasPermission="['access_hourly_statistics']">
                <a routerLink="/manager/reports/statistics">
                  {{ "sidebar.reports.statistics" | translate }}
                </a>
              </li>
              <li routerLinkActive="current" *hasPermission="['access_conversion_report']">
                <a routerLink="/manager/reports/conversion-reports">
                  {{ "sidebar.reports.conversionReports" | translate }}
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item nav-parent" routerLinkActive="open"
            *hasPermission="['manage_advertiser_invoices', 'manage_publisher_invoices']">
            <span>
              <i class="fa fa-money"></i>
              <span class="lbl">{{ "sidebar.billing.main" | translate }}</span>
            </span>
            <ul class="nav-drop">
              <li class="nav-parent nav-inner" routerLinkActive="open" *hasPermission="['manage_advertiser_invoices']">
                <span>
                  <span>{{ "sidebar.billing.advertiser" | translate }}</span>
                </span>
                <ul>
                  <li routerLinkActive="current" [routerLinkActiveOptions]="{exact:false}"
                    *hasPermission="['manage_advertiser_invoices']">
                    <a routerLink="/manager/billing/advertisers/invoices">
                      {{ "sidebar.billing.invoices" | translate }}
                    </a>
                  </li>
                  <li routerLinkActive="current" [routerLinkActiveOptions]="{exact:false}"
                    *hasPermission="['manage_advertiser_invoices']">
                    <a routerLink="/manager/billing/advertisers/invoices-merged">
                      {{ "sidebar.billing.invoicesMerged" | translate }}
                    </a>
                  </li>
                  <li routerLinkActive="current" [routerLinkActiveOptions]="{exact:false}"
                    *hasPermission="['view_advertiser_invoices_log']">
                    <a routerLink="/manager/billing/advertisers/invoices-logger/list">
                      {{ "sidebar.billing.invoicesLogger" | translate }}
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-parent nav-inner" routerLinkActive="open" *hasPermission="['manage_publisher_invoices']">
                <span>
                  <span>{{ "sidebar.billing.publisher" | translate }}</span>
                </span>
                <ul>
                  <li routerLinkActive="current" [routerLinkActiveOptions]="{exact:false}"
                    *hasPermission="['manage_publisher_invoices']">
                    <a routerLink="/manager/billing/publishers/invoices">
                      {{ "sidebar.billing.invoices" | translate }}
                    </a>
                  </li>
                  <li routerLinkActive="current" [routerLinkActiveOptions]="{exact:false}"
                    *hasPermission="['view_publisher_invoices_log']">
                    <a routerLink="/manager/billing/publishers/invoices-logger/list">
                      {{ "sidebar.billing.publisherInvoicesLogger" | translate }}
                    </a>
                  </li>
                  <li routerLinkActive="current" [routerLinkActiveOptions]="{exact:false}"
                    *hasPermission="['manage_publisher_invoices']">
                    <a routerLink="/manager/billing/publishers/invoices-merged">
                      {{ "sidebar.billing.invoicesMerged" | translate }}
                    </a>
                  </li>
                  <li routerLinkActive="current" [routerLinkActiveOptions]="{exact:false}"
                    *hasPermission="['manage_publisher_invoices']">
                    <a routerLink="/manager/billing/publishers/scrubs">
                      {{ "sidebar.billing.scrubs" | translate }}
                    </a>
                  </li>
                  <li routerLinkActive="current" [routerLinkActiveOptions]="{exact:false}"
                    *hasPermission="['view_publisher_invoices_log']">
                    <a routerLink="/manager/billing/publishers/scrub-logger/list">
                      {{ "sidebar.billing.scrubsLogger" | translate }}
                    </a>
                  </li>
                </ul>
              </li>
              <li routerLinkActive="current" [routerLinkActiveOptions]="{exact:false}"
                *hasPermission="['access_invoice_statistics']">
                <a routerLink="/manager/billing/summary/billing-summary">
                  {{ "sidebar.billing.summary" | translate }}
                </a>
              </li>
              <li routerLinkActive="current" [routerLinkActiveOptions]="{exact:false}"
                *hasPermission="['manage_cross_payments']">
                <a routerLink="/manager/billing/cross-payments/list">
                  {{ "sidebar.billing.crossPayments" | translate }}
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item nav-parent" routerLinkActive="open" *hasPermission="['access_superlink_conversion',
            'view_publisher_resale_url',
            'view_publisher_superlink_group',
            'view_algorithm_resale_url',
            'view_system_resale_url',
            'view_system_superlink_group']">
            <span>
              <i class="fa fa-link"></i>
              <span class="lbl" translate="sidebar.superlink.main">{{ "sidebar.superlink.main" | translate }}</span>
            </span>
            <ul class="nav-drop">
              <li routerLinkActive="current" *hasPermission="['view_algorithm_resale_url']">
                <a routerLink="/manager/superlink/algorithms-urls/list" translate="sidebar.superlink.algorithm">
                  {{ "sidebar.superlink.algorithm" | translate }}
                </a>
              </li>

              <li class="nav-parent nav-inner" routerLinkActive="open"
                *hasPermission="['view_system_resale_url', 'view_system_superlink_group']">
                <span>
                  <span>{{ "sidebar.superlink.publisher" | translate }}</span>
                </span>
                <ul>
                  <li routerLinkActive="current" *hasPermission="['view_publisher_resale_url']">
                    <a routerLink="/manager/superlink/publishers-urls">
                      {{ "sidebar.superlink.publishers" | translate }}
                    </a>
                  </li>
                  <li routerLinkActive="current" *hasPermission="['view_publisher_superlink_group']">
                    <a routerLink="/manager/superlink/group-urls" translate="sidebar.superlink.group">
                      {{ "sidebar.superlink.group" | translate }}
                    </a>
                  </li>
                  <li routerLinkActive="current" *hasPermission="['access_superlink_statistics']">
                    <a routerLink="/manager/superlink/statistics/statistics">
                      {{ "sidebar.superlink.statistics" | translate }}
                    </a>
                  </li>
                  <li routerLinkActive="current" *hasPermission="['access_superlink_conversion']">
                    <a routerLink="/manager/superlink/statistics/superlink-conversions-statistics">
                      {{ "sidebar.superlink.conversionStatistics" | translate }}
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-parent nav-inner" routerLinkActive="open"
                *hasPermission="['view_system_resale_url', 'view_system_superlink_group']">
                <span>
                  <span>{{ "sidebar.superlink.system" | translate }}</span>
                </span>
                <ul>
                  <li routerLinkActive="current" *hasPermission="['view_system_resale_url']">
                    <a routerLink="/manager/superlink/system/publisher-algorithm">
                      {{ "sidebar.superlink.resaleUrl" | translate }}
                    </a>
                  </li>
                  <li routerLinkActive="current" *hasPermission="['view_system_superlink_group']">
                    <a routerLink="/manager/superlink/system/system-group-urls">
                      {{ "sidebar.superlink.systemGroup" | translate }}
                    </a>
                  </li>
                  <li routerLinkActive="current" *hasPermission="['access_superlink_system_statistics']">
                    <a routerLink="/manager/superlink/system/statistics/system-statistics">
                      {{ "sidebar.superlink.systemStatistics" | translate }}
                    </a>
                  </li>
                  <li routerLinkActive="current" *hasPermission="['access_superlink_system_conversion']">
                    <a routerLink="/manager/superlink/system/statistics/system-conversions-statistics">
                      {{ "sidebar.superlink.systemConversionStatistics" | translate }}
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="nav-dash"></li>

          <li class="nav-item nav-parent" routerLinkActive="open" *hasPermission="['edit_system_scheduler','edit_user_scheduler',
              'edit_mail_settings','edit_system_settings','edit_admin_settings',
              'edit_user_settings','manage_roles', 'edit_goals_dictionary']">
            <span>
              <i class="fa fa-cogs"></i>
              <span class="lbl">{{ "sidebar.settings.main" | translate }}</span>
            </span>
            <ul class="nav-drop">
              <li routerLinkActive="current" *hasPermission="['edit_system_scheduler','edit_user_scheduler']">
                <a routerLink="/manager/settings/scheduler">
                  {{ "sidebar.settings.schedule" | translate }}
                </a>
              </li>
              <li routerLinkActive="current" *hasPermission="['edit_mail_settings']">
                <a routerLink="/manager/settings/email">{{ "sidebar.settings.email" | translate }}</a>
              </li>
              <li routerLinkActive="current"
                *hasPermission="['edit_system_settings', 'edit_admin_settings', 'edit_user_settings']">
                <a routerLink="/manager/settings/system">{{ "sidebar.settings.system" | translate }}</a>
              </li>
              <li routerLinkActive="current" *hasPermission="['manage_roles']">
                <a routerLink="/manager/settings/roles">{{ "sidebar.settings.roles" | translate }}</a>
              </li>
              <li routerLinkActive="current" *hasPermission="['edit_goals_dictionary']">
                <a routerLink="/manager/settings/goals">{{ "sidebar.settings.goals" | translate }}</a>
              </li>
              <li routerLinkActive="current" *hasPermission="['edit_tags_dictionary']">
                <a routerLink="/manager/settings/tags">{{ "sidebar.settings.tags" | translate }}</a>
              </li>
              <li routerLinkActive="current" *hasPermission="['edit_restrictions_dictionary']">
                <a routerLink="/manager/settings/restrictions">{{ "sidebar.settings.restrictions" | translate }}</a>
              </li>
              <li routerLinkActive="current" *hasPermission="['view_secret']">
                <a routerLink="/manager/settings/secrets">{{ "sidebar.settings.hash" | translate }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</aside>
