<card>

  <card-header>
    Check for:
    <span>{{ publisher.username }}</span>
  </card-header>

  <card-body>

    <form onsubmit="return false" [formGroup]="checkForm" appScrollToFirstErrorInput disableAutocomplete>

      <div class="form-group">
        <form-label [required]="true" class="col-4">Url</form-label>
        <input-text class="col-8" formControlName="url"></input-text>
      </div>

      <div class="form-group">
        <form-label [required]="true" class="col-4">Offer</form-label>
        <offer-select class="col-8" formControlName="offerId" [multiple]="false" [clearable]="false">
        </offer-select>
      </div>

    </form>

    <div class="pub-checker" *ngIf="check">
      <div class="checker-tabs__text">
        <ul style="word-break: break-word">
          <li>
            <b>Response:</b>
            <span>{{ check.response }}</span>
          </li>
          <li>
            <b>Status: </b>
            <span>{{ check.status }}</span>
          </li>
          <li>
            <b>Status message: </b>
            <span>{{ check.statusMessage }}</span>
          </li>
          <li>
            <b>Tracking link: </b>
            <a class="link" [href]="check.redirect">{{ check.redirect }}</a>
          </li>
          <li>
            <b>Postback send: </b>
            <span>{{ check.send }}</span>
          </li>
          <li>
            <b>Postback code: </b>
            <span>{{ check.postbackCode }}</span>
          </li>
          <li>
            <b>Offer id: </b>
            <span>{{ check.offerId }}</span>
          </li>
          <li>
            <b>Click id: </b>
            <span>{{ (check.redirect | getParamFromLink:'clickId') || 'Error: No click_id in the Link' }}</span>
          </li>
          <li>
            <b>aff_id: </b>
            <span>{{ check.affId }}</span>
          </li>
          <li>
            <b>aff_sub: </b>
            <span>{{ check.affSub }}</span>
          </li>
          <li>
            <b>aff_sub2: </b>
            <span>{{ check.affSub2 }}</span>
          </li>
          <li>
            <b>aff_sub3: </b>
            <span>{{ check.affSub3 }}</span>
          </li>
          <li>
            <b>aff_sub4: </b>
            <span>{{ check.affSub4 }}</span>
          </li>
        </ul>
      </div>
    </div>

  </card-body>

  <card-footer>
    <btn [simple]="true" routerLink="/manager/publishers/list">{{ "pubCreate.cancel" | translate }}</btn>
    <btn (click)="submitCheckForm()">
      Pub Check
    </btn>
  </card-footer>

</card>

<app-loader [loading]="loading"></app-loader>
