<div class="page scrollable">
  <nav>
    <a [routerLink]="['/', 'test-html']">index</a>
    <a [routerLink]="['/', 'test-html', 'form-page']">form-page</a>
    <a [routerLink]="['/', 'test-html', 'form-element']">form-element</a>
    <a [routerLink]="['/', 'test-html', 'tables-element']">tables-element</a>
  </nav>
</div>
