<card>

  <card-header>Create invoice</card-header>

  <card-body>
    <form [formGroup]="invoiceForm" (submit)="createPublisherInvoice()">
      <div class="form-group">
        <form-label class="col-4">Publisher</form-label>
        <publisher-select class="col-8" formControlName="publisherId"></publisher-select>
      </div>
      <div class="form-group">
        <form-label class="col-4">Period From</form-label>
        <date-picker class="col-8" formControlName="periodFrom"></date-picker>
      </div>
      <div class="form-group">
        <form-label class="col-4">Period To</form-label>
        <date-picker class="col-8" formControlName="periodTo"></date-picker>
      </div>
      <div class="form-group">
        <form-label class="col-4">Currency</form-label>
        <currency-select class="col-8" formControlName="currency"></currency-select>
      </div>
      <div class="form-group">
        <form-label class="col-4">Fee</form-label>
        <input-decimal class="col-8" formControlName="fee"></input-decimal>
      </div>
      <div class="form-group">
        <form-label class="col-4">Notes</form-label>
        <area-input class="col-8" formControlName="notes"></area-input>
      </div>
      <div class="form-group align-items-start">
        <form-label class="col-4">App Promotions</form-label>
        <div class="col-8" formArrayName="items">
          <div class="form-groups form-overlay" *ngFor="let item of formItems.controls; let $index = index;">

            <ng-container [formGroupName]="$index">

              <header [style.height.px]="28" class="d-flex align-items-center justify-content-between mb-2">
                <h4 class="mb-0"><b>{{ $index + 1 }}</b></h4>
                <ng-container *ngIf="formItems.controls.length > 1">
                  <btn [simple]="true" size="sm" (click)="removeFromFormArray('items', $index)">
                    <i class="fa fa-close color-danger"></i>
                  </btn>
                </ng-container>
              </header>

              <div class="form-group">
                <div class="col-12">
                  <input-text placeholder="Name" formControlName="name"></input-text>
                </div>
              </div>
              <div class="form-group" formGroupName="amount">
                <div class="col-4">
                  <input-decimal placeholder="Sum" formControlName="amount"></input-decimal>
                </div>
              </div>

            </ng-container>
          </div>

          <div class="form-overlay-btn">
            <btn (click)="addItem()">
              <i class="fa fa-plus mr-2"></i>
              <strong>Add</strong> promotion
            </btn>
          </div>
        </div>
      </div>
    </form>
  </card-body>

  <card-footer>
    <btn [simple]="true" routerLink="/manager/billing/publishers/invoices/list">Cancel</btn>
    <btn (click)="createPublisherInvoice()">
      Save invoice
    </btn>
  </card-footer>

</card>
