<card>

  <card-header>Form select</card-header>

  <card-body>

    <form [formGroup]="formSelect">

      <form-label>Select</form-label>
      <ng-select class="mb-2" placeholder="select" formControlName="selectSingle">
        <ng-option [value]="1">Option 1</ng-option>
        <ng-option [value]="2">Option 2</ng-option>
        <ng-option [value]="3">Option 3</ng-option>
      </ng-select>

      <form-label>Select multiple</form-label>
      <ng-select class="mb-2" [multiple]="true" formControlName="selectMultiple">
        <ng-option [value]="1">Option 1</ng-option>
        <ng-option [value]="2">Option 2</ng-option>
        <ng-option [value]="3">Option 3</ng-option>
      </ng-select>

    </form>

    <!--<pre>-->
      <!--<code>-->
<!--{{ formSelect.value | json }}-->
      <!--</code>-->
    <!--</pre>-->

  </card-body>


</card>
