<div class="createOffer__input file-upload-box">
  <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="vat.vatCertificateFileId" readonly>
  <button type="button" *ngIf="vat.content" class="btn btn-gray" (click)="clearVat()">
    <i class="fa fa-remove"></i>
  </button>
  <button type="button" *ngIf="vat.content" class="btn btn-gray" (click)="saveVatToServer()">
    <i class="fa fa-upload"></i>
  </button>
  <div class="file-upload-input">
    <label class="btn btn-ok upload-btn upload-btn-wrapper">
      <span>Browse...</span>
      <app-upload-file [fileSize]="26214400" [accept]="['application/pdf','image/jpeg','image/png','image/tiff']"
                       [reset]="vat.vatCertificateFileId" (fullObject)="uploadVat($event)" [additionalButton]="true"></app-upload-file>
    </label>
  </div>
  <div class="file-upload-list">
    <div class="file-upload-list__text" [innerHtml]="value"></div>
    <div *ngIf="value">
      <button class="label label-lightgray" type="button" (click)="downloadVat()">
        <i class="fa fa-download"></i>
      </button>
      <button class="label label-danger" type="button" (click)="removeVat()">
        <i class="fa fa-remove"></i>
      </button>
    </div>
  </div>
</div>
