<full-page *ngIf="(statistics$ | async) as statistics">

  <app-statistics-filter #filterComponent [filter]="filter" (onApply)="applyFilters($event)"
    (onCancel)="applyFilters($event)"></app-statistics-filter>

  <page-head [verticalAligment]="'align-items-center'" [horisontalAligment]="'justify-content-between'">

    <div class="col-auto page-nav">
      <a [routerLink]="['/', 'manager', 'reports', 'statistics']" routerLinkActive="current"
        *hasPermission="['access_hourly_statistics']">
        <span translate="dynamicReports.statistics"></span>
      </a>
      <a [routerLink]="['/', 'manager', 'reports', 'conversion-reports']"
        [queryParams]="{ offers_ids: (filter.offers_ids) ? filter.offers_ids[0] : null }"
        [routerLinkActive]="['current']" *hasPermission="['access_conversion_report']">
        <span translate="dynamicReports.conversions">Conversions</span>
      </a>

    </div>

    <div class="col mr-auto">
      <btn class="mr-2" size="lg" (click)="exportCSV()">
        <i class="fa fa-download mr-2"></i>
        {{'dynamicReports.exportReport' | translate}}
      </btn>
      <btn size="lg" (click)="sendToEmail()">
        <i class="fa fa-paper-plane mr-2"></i>
        {{'dynamicReports.sendToEmail' | translate}}
      </btn>
    </div>

    <div class="col-auto ml-auto">
      <date-range-picker [startDate]="filter.datetime_from" [endDate]="filter.datetime_to"
        (onApply)="calendarCallback($event)">
      </date-range-picker>
    </div>

    <div class="col-auto ml-auto">
      <btn [simple]="true" size="lg" class="mr-2" (click)="filterComponent.open()">
        {{ "dynamicReports.filter" | translate }}
        <i class="fa fa-filter ml-1"></i>
      </btn>
    </div>

  </page-head>

  <page-body tableSync [data]="statistics?.items">

    <ng-container *ngIf="statistics?.items?.length">
      <table-head>
        <tr>
          <th *ngIf="filter.date || filter.month || filter.hour">
            <b *ngIf="filter.date" appSortBy="status" [filter]="filter">{{ "dynamicReports.date" | translate }}</b>
            <b *ngIf="filter.month" appSortBy="month" [filter]="filter">{{ "dynamicReports.month" | translate }}</b>
            <b *ngIf="filter.hour" appSortBy="hour" [filter]="filter">{{ "dynamicReports.hour" | translate }}</b>
          </th>
          <th *ngIf="filter.offer_id || filter.goal_id || filter.offer_real_id || filter.offer_name || filter.hash">
            <p *ngIf="filter.offer_id">{{ "dynamicReports.offerID" | translate }}</p>
            <p *ngIf="filter.goal_id">{{ "dynamicReports.goalID" | translate }}</p>
            <p *ngIf="filter.hash">{{ "dynamicReports.secretHash" | translate }}</p>
            <p *ngIf="filter.offer_real_id">{{ "dynamicReports.realID" | translate }}</p>
            <b *ngIf="filter.offer_name" appSortBy="offerName"
              [filter]="filter">{{ "dynamicReports.offerName" | translate }}</b>
          </th>
          <th *ngIf="filter.countries || filter.platforms">
            <b *ngIf="filter.countries" appSortBy="country"
              [filter]="filter">{{ "dynamicReports.country" | translate }}</b>
            <b *ngIf="filter.platforms" appSortBy="platform"
              [filter]="filter">{{ "dynamicReports.platform" | translate }}</b>
          </th>
          <th *ngIf="filter.adv_id || filter.adv_name">
            <p *ngIf="filter.adv_id">{{ "dynamicReports.advertiserID" | translate }}</p>
            <b *ngIf="filter.adv_name" appSortBy="advertiserName"
              [filter]="filter">{{ "dynamicReports.advertiserName" | translate }}</b>
          </th>
          <th *ngIf="filter.pub_id || filter.pub_name || filter.sub_aff">
            <p *ngIf="filter.pub_id">{{ "dynamicReports.publisherID" | translate }}</p>
            <b *ngIf="filter.pub_name" appSortBy="publisherName"
              [filter]="filter">{{ "dynamicReports.publisherName" | translate }}</b>
            <p *ngIf="filter.sub_aff">{{ "dynamicReports.subAffID" | translate }}</p>
          </th>
          <th *ngIf="filter.pub_man || filter.adv_man">
            <p *ngIf="filter.pub_man">{{ "dynamicReports.affiliateManager" | translate }}</p>
            <p *ngIf="filter.adv_man">{{ "dynamicReports.accountManager" | translate }}</p>
          </th>
          <th *ngIf="filter.clicks || filter.back_url_clicks">
            <b *ngIf="filter.clicks" appSortBy="clicks" [filter]="filter">{{ "dynamicReports.clicks" | translate }}</b>
            <b *ngIf="filter.back_url_clicks" appSortBy="backTraffic"
              [filter]="filter">{{ "dynamicReports.backTraffic" | translate }}</b>
          </th>
          <th *ngIf="filter.conv || filter.pub_conv || filter.cr || filter.pub_cr">
            <b *ngIf="filter.conv" appSortBy="conversions"
              [filter]="filter">{{ "dynamicReports.conversions" | translate }}</b>
            <b *ngIf="filter.pub_conv" appSortBy="publisherConversions"
              [filter]="filter">{{ "dynamicReports.pubsConversions" | translate }}</b>
            <b *ngIf="filter.cr" appSortBy="cr" [filter]="filter">{{ "dynamicReports.CR" | translate }}</b>
            <b *ngIf="filter.pub_cr" appSortBy="publisherCr"
              [filter]="filter">{{ "dynamicReports.pubsCR" | translate }}</b>
          </th>
          <th *ngIf="filter.cpa || filter.pub_cpa || filter.cpc">
            <b *ngIf="filter.cpa" appSortBy="cpa" [filter]="filter">{{ "dynamicReports.CPA" | translate }}</b>
            <b *ngIf="filter.pub_cpa" appSortBy="publisherCpa"
              [filter]="filter">{{ "dynamicReports.pubsCPA" | translate }}</b>
            <b *ngIf="filter.cpc" appSortBy="cpc" [filter]="filter">{{ "dynamicReports.CPC" | translate }}</b>
          </th>
          <th *ngIf="filter.rpa || filter.rpc">
            <p *ngIf="filter.rpa">{{ "dynamicReports.RPA" | translate }}</p>
            <p *ngIf="filter.rpc">{{ "dynamicReports.RPC" | translate }}</p>
          </th>
          <th *ngIf="filter.duplicates || filter.duplicates_perc">
            <p *ngIf="filter.duplicates" translate="dynamicReports.duplicates" [translateParams]="{symbol: ''}"></p>
            <p *ngIf="filter.duplicates_perc" translate="dynamicReports.duplicates" [translateParams]="{symbol: '%'}">
            </p>
          </th>
          <th *ngIf="filter.min_fraud || filter.min_fraud_perc">
            <b *ngIf="filter.min_fraud" appSortBy="minFraud" [filter]="filter" translate="dynamicReports.minFraud"
              [translateParams]="{symbol: ''}"></b>
            <p *ngIf="filter.min_fraud_perc" translate="dynamicReports.minFraud" [translateParams]="{symbol: '%'}"></p>
          </th>
          <th *ngIf="filter.costs || filter.over_paid || filter.revenues || filter.profit">
            <b *ngIf="filter.revenues" appSortBy="revenues"
              [filter]="filter">{{ "dynamicReports.revenues" | translate }}</b>
            <b *ngIf="filter.over_paid" appSortBy="extraRevenues"
              [filter]="filter">{{ "dynamicReports.extraRevenues" | translate }}</b>
            <b *ngIf="filter.costs" appSortBy="costs" [filter]="filter">{{ "dynamicReports.costs" | translate }}</b>
            <b *ngIf="filter.profit" appSortBy="profit" [filter]="filter">{{ "dynamicReports.profit" | translate }}</b>
          </th>
        </tr>
      </table-head>

      <table-body>
        <tr *ngFor="let report of statistics?.items;">
          <td *ngIf="filter.date || filter.month || filter.hour">
            <b *ngIf="filter.date" [innerHtml]="report.date | dateFormatDynamic:false:filter.timezone"></b>
            <p *ngIf="filter.month" [innerHtml]="report.month | monthsFromNumber"></p>
            <p *ngIf="filter.hour" [innerHtml]="report.hour | hoursFromNumber"></p>
          </td>
          <td *ngIf="filter.offer_id || filter.goal_id || filter.offer_real_id || filter.offer_name || filter.hash">
            <badge *ngIf="filter.offer_id" [simple]="true" [truncate]="true" [popover]="report.offerId">
              {{report.offerId}}</badge>
            <badge *ngIf="filter.goal_id" [simple]="true" [truncate]="true" [popover]="report.goalId">
              {{report.goalId}}</badge>
            <badge class="pointer" *ngIf="filter.hash" [simple]="true" [truncate]="true"
              [popover]="report.hash || 'no hash'" (click)="checkSecret(report.hash)">
              {{report.hash}}
            </badge>
            <p *ngIf="filter.offer_real_id" [innerHtml]="report.offerRealId">#225074</p>
            <p *ngIf="filter.offer_name" [innerHtml]="report.offerName">#225074</p>
          </td>
          <td *ngIf="filter.countries || filter.platforms">
            <b *ngIf="filter.countries" [innerHtml]="report.countryCode">Taiwan</b>
            <b *ngIf="filter.platforms" [innerHtml]="report.platformName">Android</b>
          </td>
          <td *ngIf="filter.adv_id || filter.adv_name">
            <badge *ngIf="filter.adv_id" [simple]="true" [truncate]="true" [popover]="report.advertiserId">
              {{report.advertiserId}}</badge>
            <p *ngIf="filter.adv_name" [innerHtml]="report.advertiserName">AppThis</p>
          </td>
          <td *ngIf="filter.pub_id || filter.pub_name || filter.sub_aff">
            <badge *ngIf="filter.pub_id" [simple]="true" [truncate]="true" [popover]="report.publisherId">
              {{report.publisherId}}</badge>
            <p *ngIf="filter.pub_name" [innerHtml]="report.publisherName">GreenApp</p>
            <p *ngIf="filter.sub_aff" [innerHtml]="report.subAffiliateId">12345</p>
          </td>
          <td *ngIf="filter.pub_man  || filter.adv_man">
            <p *ngIf="filter.pub_man" [innerHtml]="report.publisherManagerName"></p>
            <p *ngIf="filter.adv_man" [innerHtml]="report.advertiserManagerName"></p>
          </td>
          <td *ngIf="filter.clicks || filter.back_url_clicks">
            <b *ngIf="filter.clicks" [innerHtml]="report.clicks">4</b>
            <div class="mb-1"></div>
            <b *ngIf="filter.back_url_clicks" [innerHtml]="report.backUrlClicks"></b>
          </td>
          <td *ngIf="filter.conv || filter.pub_conv || filter.cr || filter.pub_cr">
            <p *ngIf="filter.conv" [innerHtml]="report.conversions"></p>
            <p *ngIf="filter.pub_conv" [innerHtml]="report.pubConversions"></p>
            <p *ngIf="filter.cr" [innerHtml]="report.cr"></p>
            <p *ngIf="filter.pub_cr" [innerHtml]="report.publisherCr"></p>
          </td>
          <td *ngIf="filter.cpa || filter.pub_cpa || filter.cpc">
            <p *ngIf="filter.cpa">
              {{(report.cpa) ? report.cpa?.toFixed(2) : ''}}
            </p>
            <p *ngIf="filter.pub_cpa">
              {{(report.publisherCpa) ? report.publisherCpa?.toFixed(2) : ''}}
            </p>
            <p *ngIf="filter.cpc">
              {{(report.cpc) ? report.cpc?.toFixed(2) : ''}}
            </p>
          </td>
          <td *ngIf="filter.rpa || filter.rpc">
            <p *ngIf="filter.rpa" [innerHtml]="report.rpa"></p>
            <p *ngIf="filter.rpc" [innerHtml]="report.rpc"></p>
          </td>
          <td *ngIf="filter.duplicates || filter.duplicates_perc">
            <p *ngIf="filter.duplicates" [innerHtml]="report.duplicates"></p>
            <p *ngIf="filter.duplicates_perc" [innerHtml]="report.duplicatesPercent"></p>
          </td>
          <td *ngIf="filter.min_fraud || filter.min_fraud_perc">
            <p *ngIf="filter.min_fraud" [innerHtml]="report.minFraud"></p>
            <p *ngIf="filter.min_fraud_perc" [innerHtml]="report.minFraudPercent">
              %
            </p>
          </td>
          <td *ngIf="filter.costs || filter.revenues || filter.profit">
            <p *ngIf="filter.revenues">
              <b class="coast-status coast-status--green"
                [innerHtml]="'$'+ (report?.revenues?.toFixed(2)) + ' ' + report?.currency">$125</b>
            </p>
            <p *ngIf="filter.over_paid">
              <b class="coast-status coast-status--default"
                [innerHtml]="'$'+ (report?.overPaid?.toFixed(2)) + ' ' + report?.currency">$125</b>
            </p>
            <p *ngIf="filter.costs">
              <b class="coast-status coast-status--red"
                [innerHtml]="'$'+ (report?.costs?.toFixed(2)) + ' ' + report?.currency">$125</b>
            </p>
            <p *ngIf="filter.profit">
              <b class="coast-status coast-status--default"
                [innerHtml]="'$'+ (report?.profit?.toFixed(2)) + ' ' + report?.currency">$125</b>
            </p>
          </td>
        </tr>
      </table-body>

      <table-total [title]="'Total General'">
        <tr>
          <td *ngIf="filter.date || filter.month || filter.hour">
          </td>
          <td *ngIf="filter.offer_id || filter.goal_id || filter.offer_real_id || filter.offer_name || filter.hash">
          </td>
          <td *ngIf="filter.countries || filter.platforms"></td>
          <td *ngIf="filter.adv_id || filter.adv_name"></td>
          <td *ngIf="filter.pub_id || filter.pub_name || filter.sub_aff"></td>
          <td *ngIf="filter.pub_man  || filter.adv_man"></td>
          <td *ngIf="filter.clicks || filter.back_url_clicks">
            <p *ngIf="filter.clicks" [innerHtml]="statistics?.data?.clicks"></p>
            <p *ngIf="filter.back_url_clicks" [innerHtml]="statistics?.data?.backUrlClicks"></p>
          </td>
          <td *ngIf="filter.conv || filter.pub_conv || filter.cr || filter.pub_cr">
            <p *ngIf="filter.conv" [innerHtml]="statistics?.data?.conversions"></p>
            <p *ngIf="filter.pub_conv" [innerHtml]="statistics?.data?.pubConversions"></p>
            <p *ngIf="filter.cr" [innerHtml]="statistics?.data?.cr"></p>
            <p *ngIf="filter.pub_cr" [innerHtml]="statistics?.data?.publisherCr"></p>
          </td>
          <td *ngIf="filter.cpa || filter.pub_cpa || filter.cpc"></td>
          <td *ngIf="filter.rpa || filter.rpc"></td>
          <td *ngIf="filter.duplicates || filter.duplicates_perc">
          </td>
          <td *ngIf="filter.min_fraud || filter.min_fraud_perc">
            <p *ngIf="filter.min_fraud_perc" [innerHtml]="statistics?.data?.minFraudPercent"></p>
          </td>
          <td *ngIf="filter.costs || filter.revenues || filter.profit">
            <p *ngIf="filter.revenues">
              <b class="coast-status coast-status--green"
                [innerHtml]="'$' + (statistics.data?.revenue[0].amount.toFixed(2)) + ' ' + statistics.data?.revenue[0].currency">$125</b>
            </p>
            <p *ngIf="filter.over_paid">
              <b class="coast-status coast-status--default"
                [innerHtml]="'$'+ (statistics.data?.overPaid[0].amount.toFixed(2)) + ' ' + statistics.data?.overPaid[0].currency">$125</b>
            </p>
            <p *ngIf="filter.costs">
              <b class="coast-status coast-status--red"
                [innerHtml]="'$' + (statistics.data?.costs[0].amount.toFixed(2)) + ' ' + statistics.data?.costs[0].currency">$125</b>
            </p>
            <p *ngIf="filter.profit">
              <b class="coast-status coast-status--default"
                [innerHtml]="'$' + (statistics.data?.profit[0].amount.toFixed(2)) + ' ' + statistics.data?.profit[0].currency">$125</b>
            </p>
          </td>
        </tr>
      </table-total>

      <table-control *ngIf="statistics?.items.length" [filter]="filter" [pagination]="statistics">
      </table-control>

    </ng-container>

    <app-no-data *ngIf="!statistics?.items?.length && !loading"></app-no-data>

  </page-body>

</full-page>

<app-loader [loading]="loading"></app-loader>
