//.inp.inp-check .icn-check {
//  left: 0;
//  top: 0;
//  box-sizing: border-box;
//  width: 24px;
//  height: 24px;
//  border: 1px solid #dedede;
//  border-radius: 4px;
//
//  & + span {
//    margin-left: 0;
//  }
//}
//
//.inp.inp-check .icn-check,
//.inp.inp-check .icn-check:after {
//  transition: all 0.1s ease;
//  display: block;
//  position: absolute;
//}
//
//.inp.inp-check label {
//  padding: 4px 0 4px 32px;
//}
//
//.filters-col {
//  width: 24%;
//}
//
//b {
//  display: block;
//}

:host {
  ::ng-deep {
    .badge {
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
    }
  }
}

.pointer {
  cursor: pointer;
}
