<card>
  <card-header>
    {{ groupUrl.id ? 'Update System Group' : 'Create System Group' }}
  </card-header>

  <card-body>
    <form [formGroup]="groupForm" onsubmit="return false">

      <div class="form-group">
        <form-label class="col-4" [required]="true">{{ "groupUrls.manage.name" | translate }}</form-label>
        <input-text class="col-8" formControlName="name"></input-text>
      </div>

      <div class="form-group">
        <form-label class="col-4" [required]="true">{{ "groupUrls.manage.distribution" | translate }}</form-label>
        <div class="col-8">
          <div class="position-relative">
            <ng-select [placeholder]="'groupUrls.manage.distributionSelect' | translate"
              [items]="(distributionList$ | async).items" bindLabel="name" bindValue="id" #distribution
              formControlName="distribution">
            </ng-select>
            <validation-message [control]="groupForm.get('distribution')"
              [target]="distribution?.filterInput?.nativeElement">
            </validation-message>
          </div>
        </div>
      </div>

      <div class="form-group">
        <form-label class="col-4" [required]="true">{{ "groupUrls.manage.dynamicType" | translate }}</form-label>
        <div class="col-8">
          <div class="position-relative">
            <ng-select [placeholder]="'groupUrls.manage.dynamicTypeSelect' | translate"
              [items]="(dynamicTypeList$ | async).items" bindLabel="name" bindValue="id" #dynamicType
              formControlName="dynamicType">
            </ng-select>
            <validation-message [control]="groupForm.get('dynamicType')"
              [target]="dynamicType?.filterInput?.nativeElement">
            </validation-message>
          </div>
        </div>
      </div>

      <div class="form-group">
        <form-label class="col-4" [required]="true">{{ "groupUrls.manage.contentType" | translate }}</form-label>
        <div class="col-8">
          <div class="position-relative">
            <ng-select [placeholder]="'groupUrls.manage.contentTypeSelect' | translate"
              [items]="(contentTypeList$ | async).items" bindLabel="name" bindValue="id" #contentType
              formControlName="contentType">
            </ng-select>
            <validation-message [control]="groupForm.get('contentType')"
              [target]="contentType?.filterInput?.nativeElement">
            </validation-message>
          </div>
        </div>
      </div>

      <div class="form-group">
        <form-label class="col-4" [required]="true">{{ "groupUrls.manage.trafficType" | translate }}</form-label>
        <div class="col-8">
          <div class="position-relative">
            <ng-select [placeholder]="'groupUrls.manage.trafficTypeSelect' | translate"
              [items]="(trafficTypeList$ | async).items" bindLabel="name" bindValue="id" #trafficType
              formControlName="trafficType">
            </ng-select>
            <validation-message [control]="groupForm.get('trafficType')"
              [target]="trafficType?.filterInput?.nativeElement">
            </validation-message>
          </div>
        </div>
      </div>

      <div class="form-group">
        <form-label class="col-4" [required]="true">{{ "groupUrls.manage.monetizationModel" | translate }}</form-label>
        <div class="col-8">
          <div class="position-relative">
            <ng-select [placeholder]="'groupUrls.manage.monetizationModelSelect' | translate"
              [items]="(monetizationList$ | async).items" bindLabel="name" bindValue="id" #monetizationModel
              formControlName="monetizationModel">
            </ng-select>
            <validation-message [control]="groupForm.get('monetizationModel')"
              [target]="monetizationModel?.filterInput?.nativeElement">
            </validation-message>
          </div>
        </div>
      </div>
    </form>
  </card-body>

  <card-footer>
    <btn [simple]="true" [routerLink]="['/', 'manager',  'superlink', 'system', 'system-group-urls']">
      {{ "groupUrls.manage.cancel" | translate }}
    </btn>
    <btn (click)="submitUrlForm()">
      <ng-container *ngIf="!groupUrl?.id">{{ "algorithm.manage.create" | translate }}</ng-container>
      <ng-container *ngIf="groupUrl?.id">{{ "algorithm.manage.edit" | translate }}</ng-container>
    </btn>
  </card-footer>

</card>

<app-loader [loading]="loading"></app-loader>
