.page-container {

  .table-advertiser-billing {
    .fake-table__row {
      background-color: transparent;
      align-items: flex-start;
    }

    .fake-table__cell,
    .fake-table__head {
      padding-right: 20px;
      box-sizing: border-box;
      width: 20% !important;
      &:last-child {
        width: 100px !important;
        padding-right: 0;

        .actions {
          text-align: left;
        }
      }
    }
  }
}
.form {
  &-text {
    margin-bottom: .5rem;
    font-size: .8125rem;
    color: #8898A0;
  }
}

.page-nav-panel {
  .col {
    float: none!important;
  }
}
.adv-invoices-currency-select {
  margin-top: 0;
}
