<full-page>

  <page-head class="pb-4">

    <div class="col">
      <div class="flex align-items-center">
        <publisher-select
          class="mr-2"
          placeholder="Select publishers"
          [multiple]="true"
          [clearable]="true"
          [(ngModel)]="params.publisherIds"
          (change)="applyParams()">
        </publisher-select>
        <advertiser-select
          class="mr-2"
          placeholder="Select advertisers"
          [multiple]="true"
          [clearable]="true"
          [(ngModel)]="params.advertiserIds"
          (change)="applyParams()">
        </advertiser-select>
        <checkbox class="text-nowrap" [(ngModel)]="params.allTime" (change)="applyParams()">
          All time
        </checkbox>
      </div>
    </div>
    <div class="col-auto">
      <div class="flex align-items-center">
        <date-range-picker
          [startDate]="params.startDate"
          [endDate]="params.endDate"
          (onApply)="calendarCallback($event)">
        </date-range-picker>
        <btn size="lg" class="ml-3" routerLink="/manager/billing/cross-payments/manage">
          <i class="fa fa-plus mr-1"></i> Add cross payment
        </btn>
      </div>
    </div>

  </page-head>

  <page-body tableSync [data]="payments?.items">

    <ng-container *ngIf="payments?.items?.length">

      <table-head>
        <tr>
          <th>
            <span>Created at</span> <br>
            <span>Paid at</span>
          </th>
          <th>Period</th>
          <th>Advertiser</th>
          <th>Direction</th>
          <th>Publisher</th>
          <th>Amount</th>
          <th>Status</th>
          <th>Comment</th>
          <th></th>
        </tr>
      </table-head>

      <table-body>
        <tr *ngFor="let payment of payments?.items; let  $index = index">
          <td>
            {{payment.createdAt | dateFormatDynamic:true}} <br>
            {{payment.paidAt | dateFormatDynamic:true}}
          </td>
          <td>{{payment.period.from | dateFormatDynamic}} - {{payment.period.to | dateFormatDynamic}}</td>
          <td>
            <span [popover]="payment.advertiser.id">
              {{ payment.advertiser.name }}
            </span>
          </td>
          <td>
            <i
              class="fa"
              [class.fa-arrow-left]="payment.paymentDirection === 1"
              [class.fa-arrow-right]="payment.paymentDirection === 2">
            </i>
          </td>
          <td>
            <span [popover]="payment.publisher.id">
              {{ payment.publisher.name }}
            </span>
          </td>
          <td>{{payment.amount.amount }} {{payment.amount.currency}}</td>
          <td>{{payment.status | crossPaymentsStatus | async}}</td>
          <td>
            <span [popover]="payment.comment">
              {{payment.comment}}
            </span>
          </td>
          <td [style.width.px]="80">
            <app-actions>
              <a class="actions-option actions-option action-edi" (click)="editComment(payment.id)">Edit</a>
              <a class="actions-option fa fa-print" (click)="downloadPayment(payment.id)">Download</a>
              <a class="actions-option fa-info-circle" [routerLink]="['/', 'manager', 'billing', 'cross-payments', 'view', payment.id]">View</a>
              <a class="actions-option fa-paper-plane" (click)="sendPaid(payment.id)">Send Paid</a>
              <a class="actions-option fa-trash-o" (click)="removeInvoice(payment.id, $index)">Remove</a>
            </app-actions>
          </td>
        </tr>
      </table-body>

      <!--   TODO - Эту конструкцию можно будет поменять на table-control после рефакторинга ts   -->
      <div class="row pt-3 justify-content-end table-control">
        <div class="col-auto">
          <page-control>
            <table-limit [limit]="payments.limit" (changedLimit)="tableLimit($event)"></table-limit>
            <table-pagination [page]="payments.page" [totalPages]="payments.totalPages" (currentPage)="goToPage($event)"></table-pagination>
          </page-control>
        </div>
      </div>


    </ng-container>

    <app-no-data *ngIf="!payments?.items.length && !loading"></app-no-data>

  </page-body>

</full-page>

<app-loader [loading]="loading"></app-loader>

<modal #editCommentModal>

  <modal-header>Detail payment</modal-header>

  <modal-body>
    <app-cross-payments-invoices-preview *ngIf="editCommentModal.isOpen" [id]="selectedPaymentId" (close)="editCommentModal.close()"></app-cross-payments-invoices-preview>
  </modal-body>

</modal>
