<full-page>

  <page-head [horisontalAligment]="'justify-content-end'">
    <div class="col-auto">
      <btn [routerLink]="['/', 'manager', 'settings', 'roles', 'create']">
        <i class="fa fa-plus mr-2"></i>
        Create new role
      </btn>
    </div>
  </page-head>

  <page-body tableSync>

    <ng-container *ngIf="!loading">

      <table-head>
        <tr>
          <td [style.width.px]="350"><p>Role Name</p></td>
          <td><p>Permissions</p></td>
          <td [style.width.px]="100">&nbsp;</td>
        </tr>
      </table-head>

      <table-body>
        <tr *ngFor="let role of roles; let $index = index;">
          <td [style.width.px]="350">
            <p [innerHtml]="role.name"></p>
          </td>

          <td>
            <div class="choose-role__content">
              <input id="{{'choose-role__checkbox' + $index}}" type="checkbox">
              <label class="choose-role__arrow" for="{{'choose-role__checkbox' + $index}}"></label>
              <span>Show all</span>
              <span>Hide</span>
              <div class="choose-role__items">
                <label class="label label-success" *ngFor="let item of role.permissions">
                  {{item.name}}
                </label>
              </div>
            </div>
          </td>

          <td [style.width.px]="100">

            <btn-icon [outline]="true" [icon]="'pencil'"
                      [routerLink]="['/', 'manager', 'settings', 'roles', 'edit', role.id]"></btn-icon>

            <!--<div class="approvals-settings inline-block">
                                      <span class="approvals-settings__item approvals-settings__item_delete css-popover"
                                            data-placement="left"
                                            ng-click="removeRole(role.id, role.name)">
                                          <i class="fa fa-trash" aria-hidden="true"></i>
                                          <span class="css-popover-content semi-bold ng-scope">Remove role</span>
                                      </span>
                                  </div>-->

          </td>
        </tr>
      </table-body>

    </ng-container>

  </page-body>

</full-page>

<app-loader [loading]="loading"></app-loader>
