<div class="row">
  <div class="col">
    <div class="createOffer-tabs">
      <button type="button" class="createOffer-tabs__item"
        [class.createOffer-tabs__item_active]="toNumber(queryParams.step) === 1" (click)="goToStep(1)">
        <div class="createOffer-tabs__num-wr" [class.createOffer-tabs__num-wr_invalid]="errorsLength[0]">
          <div class="createOffer-tabs__num">1</div>
          <div class="createOffer-tabs__error">
            <span [innerHtml]="errorsLength[0]"></span>
            <span translate="createOffer.blankFields">blank fields</span>
          </div>
        </div>
        <div class="createOffer-tabs__name" translate="createOffer.information">Information, e.t.c.</div>
      </button>
      <button type="button" class="createOffer-tabs__item"
        [class.createOffer-tabs__item_active]="toNumber(queryParams.step) === 2" (click)="goToStep(2)">
        <div class="createOffer-tabs__num-wr" [class.createOffer-tabs__num-wr_invalid]="errorsLength[1]">
          <div class="createOffer-tabs__num">2</div>
          <div class="createOffer-tabs__error">
            <span [innerHtml]="errorsLength[1]"></span>
            <span translate="createOffer.blankFields">blank fields</span>
          </div>
        </div>
        <div class="createOffer-tabs__name" translate="createOffer.targeting">Targeting, restrictions</div>
      </button>
      <button type="button" class="createOffer-tabs__item"
        [class.createOffer-tabs__item_active]="toNumber(queryParams.step) === 3" (click)="goToStep(3)">
        <div class="createOffer-tabs__num-wr" [class.createOffer-tabs__num-wr_invalid]="errorsLength[2]">
          <div class="createOffer-tabs__num">3</div>
          <div class="createOffer-tabs__error">
            <span [innerHtml]="errorsLength[2]"></span>
            <span translate="createOffer.blankFields">blank fields</span>
          </div>
        </div>
        <div class="createOffer-tabs__name" translate="createOffer.goals">Goals</div>
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <form class="createOffer__form" [formGroup]="offerForm" (keydown.enter)="submitOfferForm()"
      (ngSubmit)="submitOfferForm()" #form="ngForm">
      <!-- BEGIN createOffer Step #1 -->
      <div class="createOffer" [class.createOffer_visible]="queryParams.step === 1">
        <div class="createOffer__col">
          <!-- BEGIN createOffer__info -->
          <div class="createOffer__info">
            <div class="createOffer__header" translate="createOffer.infoBlock.main">Information</div>
            <label class="createOffer__label createOffer__label_required"
              translate="createOffer.infoBlock.advertiser">Advertiser</label>
            <div class="inp inp-select createOffer__select position-relative"
              [ngClass]="{'createOffer__input_invalid': form.submitted && errors && offerForm.controls['advertiserId'].invalid}">
              <div class="select-field">
                <app-advertisers-select [multiple]="false" formControlName="advertiserId"
                  [selectPlaceholder]="'createOffer.infoBlock.selectAdvertiser' | translate">
                </app-advertisers-select>
              </div>
              <div class="createOffer__input__error-message createOffer__input__error-message_bottom">
                <span *ngIf="form.submitted && errors && offerForm.controls['advertiserId'].invalid"
                  [innerHtml]="errors.advertiserId[0]"></span>
              </div>
            </div>
            <!-- BEGIN createOffer__thumbnail -->
            <div class="createOffer__thumbnail thumbnail">
              <div class="thumbnail__img" [style.background-image]="getBg()"></div>
              <div class="thumbnail__info">
                <div class="thumbnail__name createOffer__label_required" translate="createOffer.infoBlock.thumbnail">
                  Thumbnail
                </div>
                <div class=" createOffer__input thumbnail__input"
                  [ngClass]="{'createOffer__input_invalid': form.submitted && errors && offerForm.controls['thumbUrl'].invalid}">
                  <input type="text" [placeholder]="'createOffer.infoBlock.thumbnailLink' | translate"
                    formControlName="thumbUrl">
                  <div class="createOffer__input__error-message createOffer__input__error-message_bottom">
                    <span *ngIf="form.submitted && errors && offerForm.controls['thumbUrl'].invalid"
                      [innerHtml]="errors.thumbUrl[0]"></span>
                  </div>
                </div>
              </div>
            </div>
            <!-- END createOffer__thumbnail -->
            <!-- BEGIN url__link -->
            <div class="url__link url-link">
              <div class="url-link__top">
                <label class="createOffer__label createOffer__label_required"
                  translate="createOffer.infoBlock.previewLink">
                  Preview URL
                </label>
                <div class="url-link__right">
                  <a [href]="offerForm.get('previewUrl').value" class="url-link__open" target="_blank"
                    translate="createOffer.infoBlock.openLink">
                    Open link
                  </a>
                  <button type="button" class="btn btn-outline btn-sm" style="margin-left: 15px"
                    [disabled]="!offerForm.get('previewUrl').value" (click)="getOfferInfoByPreviewUrl()">
                    <i class="fa fa-magic"></i>
                  </button>
                </div>
              </div>
              <div class="url-link__textarea"
                [ngClass]="{'createOffer__input_invalid': form.submitted && errors && offerForm.controls['previewUrl'].invalid}">
                <textarea formControlName="previewUrl" cols="30" rows="10"></textarea>
                <div class="createOffer__input__error-message createOffer__input__error-message_bottom">
                  <span *ngIf="form.submitted && errors && offerForm.controls['previewUrl'].invalid"
                    [innerHtml]="errors.previewUrl[0]"></span>
                </div>
              </div>
            </div>
            <!-- END url__link -->
            <!-- BEGIN createOffer__box -->
            <div class="createOffer__box d-block">
              <div class="createOffer__box-col w-auto m-0">
                <div>
                  <label class="createOffer__label" style="padding-bottom: 15px">
                    <span translate="createOffer.infoBlock.realID">Real ID</span>
                    <button type="button" class="btn btn-outline btn-sm" style="float: right;"
                      (click)="getOfferInfoByExternalId()">
                      <i class="fa fa-magic"></i>
                    </button>
                  </label>
                  <div class="createOffer__input createOffer__input_eye">
                    <div class="createOffer__input-wrap"
                      [ngClass]="{'createOffer__input_invalid': form.submitted && errors && offerForm.controls['realId'].invalid}">
                      <input type="text" formControlName="realId">
                      <div class="createOffer__input__error-message createOffer__input__error-message_bottom">
                        <span *ngIf="form.submitted && errors && offerForm.controls['realId'].invalid"
                          [innerHtml]="errors.realId[0]"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- BEGIN url-numbers-date -->
              </div>
              <div class="createOffer__box-col w-auto">
                <div class="url-numbers url-numbers-date">
                  <div class="url-numbers__item">
                    <div class="createOffer__label" style="padding-bottom: 15px"
                      translate="createOffer.infoBlock.activateDate"></div>
                    <div class="createOffer__input createOffer__input_calendar"
                      [ngClass]="{'createOffer__input_invalid': form.submitted && errors && offerForm.controls['activationDate'].invalid}">
                      <div class="createOffer__input-wrap" style="font-size: 0">
                        <date-time-picker formControlName="activationDate"
                          [disabled]="offerForm.get('status').value !== 1">
                        </date-time-picker>
                      </div>
                    </div>
                  </div>
                  <div class="url-numbers__item">
                    <div class="createOffer__label" style="padding-bottom: 15px"
                      translate="createOffer.infoBlock.expirationDate"></div>
                    <div class="createOffer__input createOffer__input_calendar"
                      [ngClass]="{'createOffer__input_invalid': form.submitted && errors && offerForm.controls['expirationDate'].invalid}">
                      <div class="createOffer__input-wrap" style="font-size: 0">
                        <date-time-picker formControlName="expirationDate">
                        </date-time-picker>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END url-numbers-date  -->
            </div>
            <!-- END createOffer__box -->
            <div class="createOffer__select-name">
              <label class="createOffer__label createOffer__label_required" translate="createOffer.infoBlock.offerName">
                Offer name
              </label>
              <div class="createOffer__input"
                [ngClass]="{'createOffer__input_invalid': form.submitted && errors && offerForm.controls['name'].invalid}">
                <input type="text" formControlName="name">
                <div class="createOffer__input__error-message createOffer__input__error-message_bottom">
                  <span *ngIf="form.submitted && errors && offerForm.controls['name'].invalid"
                    [innerHtml]="errors.name[0]"></span>
                </div>
              </div>
            </div>
            <label class="createOffer__label" translate="createOffer.infoBlock.description">
              Description
            </label>
            <!-- BEGIN text-editor -->
            <div class="url-link__textarea">
              <app-pell-editor formControlName="description"></app-pell-editor>
            </div>
            <!-- END text-editor -->
            <!-- BEGIN createOffer__comment -->
            <div class="createOffer__comment comment" style="margin: 10px 0 0 0">
              <div class="comment__top">
                <div class="comment__name" translate="createOffer.infoBlock.comment">Comment</div>
              </div>
              <div class="url-link__textarea" style="margin: 10px 0 0 0">
                <area-input formControlName="comment"></area-input>
              </div>
            </div>
          </div>
          <!-- END createOffer__comment -->
        </div>
        <!-- END createOffer__info -->
        <div class="createOffer__col">
          <!-- BEGIN createOffer__url -->
          <div class="createOffer__url url">
            <!--<div class="createOffer__header" translate="createOffer.url.main">URL's</div>-->
            <div class="createOffer__header" translate="createOffer.targetingBlock.main">Targeting</div>
            <!-- BEGIN url__link -->
            <div class="category">
              <label class="createOffer__label createOffer__label_required"
                translate="createOffer.category">Category</label>
              <div class="inp inp-select createOffer__select"
                [ngClass]="{'createOffer__input_invalid': form.submitted && errors && offerForm.controls['tags'].invalid}">
                <div class="select-field">
                  <app-tags-select formControlName="tags" [multiple]="true"
                    [selectPlaceholder]="'createOffer.categorySelect' | translate"></app-tags-select>
                </div>
                <div class="createOffer__input__error-message createOffer__input__error-message_bottom">
                  <span *ngIf="form.submitted && errors && offerForm.controls['tags'].invalid"
                    [innerHtml]="errors.tags[0]"></span>
                </div>
              </div>
            </div>
            <!-- END url__link -->
            <!-- BEGIN url-info -->
            <div class="url__info url-info">
              <div class="url-info__col url-info__col-1">
                <label class="createOffer__label" translate="createOffer.url.approvalRequired">
                  Approval required
                </label>
                <!-- BEGIN select-one -->
                <div class="select-one createOffer__box__select-one">
                  <input id="select-one__checkbox1" type="radio" name="approvalRequired"
                    formControlName="approvalRequired" [value]="true">
                  <label for="select-one__checkbox1" class="select-one__item" translate="createOffer.url.YES">
                    Yes
                  </label>
                  <input id="select-one__checkbox2" type="radio" name="approvalRequired"
                    formControlName="approvalRequired" [value]="false">
                  <label for="select-one__checkbox2" class="select-one__item" translate="createOffer.url.NO">
                    No
                  </label>
                </div>
                <!-- END select-one -->
              </div>
              <div class="url-info__col url-info__col-2">
                <label class="createOffer__label createOffer__label_required"
                  translate="createOffer.url.status">Status</label>
                <!-- BEGIN select-one -->
                <div class="select-one createOffer__box__select-one">
                  <input id="select-one__checkbox3" type="radio" name="status" formControlName="status" [value]="1">
                  <label for="select-one__checkbox3" class="select-one__item" translate="createOffer.url.pending">
                    Pending
                  </label>
                  <input id="select-one__checkbox4" type="radio" name="status" formControlName="status" [value]="2">
                  <label for="select-one__checkbox4" class="select-one__item" translate="createOffer.url.active">
                    Active
                  </label>
                  <input id="select-one__checkbox5" type="radio" name="status" formControlName="status" [value]="3">
                  <label for="select-one__checkbox5" class="select-one__item" translate="createOffer.url.paused">
                    Paused
                  </label>
                </div>
                <div class="createOffer__input__error-message createOffer__input__error-message_bottom">
                  <!--<span [innerHtml]="errors.status[0]"></span>-->
                </div>
                <!-- END select-one -->
              </div>
            </div>
            <div class="createOffer__box">
              <div class="createOffer__box-col">
                <label class="createOffer__label createOffer__label_required"
                  translate="createOffer.url.distribution"></label>
                <div class="inp inp-select createOffer__select"
                  [ngClass]="{'createOffer__input_invalid': form.submitted && errors && offerForm.controls['distribution'].invalid}">
                  <div class="select-field">
                    <app-distribution-type-select formControlName="distribution" [multiple]="false"
                      [selectPlaceholder]="'createOffer.url.distribution' | translate">
                    </app-distribution-type-select>
                  </div>
                  <div class="createOffer__input__error-message createOffer__input__error-message_bottom">
                    <span *ngIf="form.submitted && errors && offerForm.controls['distribution'].invalid"
                      [innerHtml]="errors.distribution[0]"></span>
                  </div>
                </div>
              </div>
              <div class="createOffer__box-col">
                <label class="createOffer__label createOffer__label_required"
                  translate="createOffer.url.currency">Currency</label>
                <div class="inp inp-select createOffer__select"
                  [ngClass]="{'createOffer__input_invalid': form.submitted && errors && offerForm.controls['currency'].invalid}">
                  <div class="select-field">
                    <currency-select [placeholder]="'Currency select'" formControlName="currency">
                    </currency-select>
                  </div>
                  <div class="createOffer__input__error-message createOffer__input__error-message_bottom">
                    <span *ngIf="form.submitted && errors && offerForm.controls['currency'].invalid"
                      [innerHtml]="errors.currency[0]"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="createOffer__box">
              <div class="createOffer__box-col">
                <div class="inp inp-check">
                  <label>
                    <input type="checkbox" formControlName="dynamic">
                    <i class="icn-check"></i>
                    <span translate="createOffer.url.dynamic">Dynamic</span>
                  </label>
                </div>
                <div class="inp inp-check">
                  <label>
                    <input type="checkbox" formControlName="sensitive">
                    <i class="icn-check"></i>
                    <span translate="createOffer.infoBlock.sensitive">Sensitive</span>
                  </label>
                </div>
                <div class="inp inp-check">
                  <label>
                    <input type="checkbox" formControlName="autoActivateEnabled">
                    <i class="icn-check"></i>
                    <span translate="createOffer.infoBlock.autoActivateEnabled">Auto Activate</span>
                  </label>
                </div>
              </div>
              <div class="createOffer__box-col">
                <div class="inp inp-check">
                  <label>
                    <input type="checkbox" formControlName="featured">
                    <i class="icn-check"></i>
                    <span translate="createOffer.infoBlock.featured">Featured</span>
                  </label>
                </div>
                <div class="inp inp-check">
                  <label for="adult">
                    <input id="adult" name="adult" type="checkbox" formControlName="adult">
                    <i class="icn-check"></i>
                    <span translate="createOffer.infoBlock.adult">Adult</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="createOffer__box">
              <div class="targeting-controls__item">
                <label class="createOffer__label" translate="createOffer.visible">Visible</label>
                <div class="select-one targeting-control__select-one">
                  <input id="select-one__checkbox10" type="radio" name="visible" formControlName="visible"
                    [value]="true">
                  <label for="select-one__checkbox10" class="select-one__item" translate="createOffer.yes">Yes</label>
                  <input id="select-one__checkbox11" type="radio" name="visible" formControlName="visible"
                    [value]="false">
                  <label for="select-one__checkbox11" class="select-one__item" translate="createOffer.no">No</label>
                </div>
              </div>
              <div class="targeting-controls__item">
                <label class="createOffer__label" translate="createOffer.trafficType"></label>
                <div class="select-one targeting-control__select-one">
                  <span *ngFor="let trafficType of trafficTypes">
                    <input id="trafficType{{trafficType.id}}" type="radio" name="trafficType"
                      formControlName="trafficType" [value]="trafficType.id">
                    <label for="trafficType{{trafficType.id}}" class="select-one__item"
                      [innerHtml]="trafficType.value"></label>
                  </span>
                </div>
              </div>
              <div class="targeting-controls__item">
                <label class="createOffer__label createOffer__label_required">Cookie lifetime</label>
                <div class="createOffer__input"
                  [ngClass]="{'createOffer__input_invalid': form.submitted && errors && offerForm.controls['cookieLifetime'].invalid}">
                  <input type="number" formControlName="cookieLifetime" min="0">
                  <div class="createOffer__input__error-message createOffer__input__error-message_bottom">
                    <span *ngIf="form.submitted && errors && offerForm.controls['cookieLifetime'].invalid"
                      [innerHtml]="errors.cookieLifetime[0]"></span>
                  </div>
                </div>
              </div>

              <div *ngIf="skipPercentFlag">
                <app-form-label [required]="false"><span translate="createOffer.infoBlock.skipPercent"></span>
                </app-form-label>
                <app-input-number [submitted]="form.submitted" formControlName="percentSkip" [isPopover]="true"
                  [price]="true"></app-input-number>
              </div>
            </div>
            <div class="createOffer__box" *ngIf="isCheckerEnabled">
              <div class="targeting-controls__item">
                <label class="createOffer__label">Auto Suspend enabled</label>
                <div class="select-one targeting-control__select-one">
                  <input id="select-one__checkbox12" type="radio" name="autoSuspendEnabled"
                    formControlName="autoSuspendEnabled" [value]="true"
                    (change)="changeAutoSuspendEnabled(offerForm.get('autoSuspendEnabled'), offerForm.get('autoSuspendFailedChecksCount'))">
                  <label for="select-one__checkbox12" class="select-one__item" translate="createOffer.yes">Yes</label>
                  <input id="select-one__checkbox13" type="radio" name="autoSuspendEnabled"
                    formControlName="autoSuspendEnabled" [value]="false"
                    (change)="changeAutoSuspendEnabled(offerForm.get('autoSuspendEnabled'), offerForm.get('autoSuspendFailedChecksCount'))">
                  <label for="select-one__checkbox13" class="select-one__item" translate="createOffer.no">No</label>
                </div>
              </div>
              <div class="targeting-controls__item">
                <label class="createOffer__label createOffer__label_top">Fail Checks for Auto Suspend</label>
                <div class="form-detail">
                  <!-- <app-input-number formControlName="autoSuspendFailedChecksCount"></app-input-number> -->
                  <div class="form-detail">
                    <div class="createOffer__input" [ngClass]="{
                        'createOffer__input_invalid': offerForm.get('autoSuspendFailedChecksCount')?.touched && offerForm.get('autoSuspendFailedChecksCount')?.invalid && submitted,
                        'createOffer__input_disabled' : offerForm.get('autoSuspendFailedChecksCount').disabled
                      }">
                      <input formControlName="autoSuspendFailedChecksCount" type="number">
                      <app-validation-message [control]="offerForm.get('autoSuspendFailedChecksCount')"
                        *ngIf="offerForm.get('autoSuspendFailedChecksCount')?.touched && offerForm.get('autoSuspendFailedChecksCount').invalid">
                      </app-validation-message>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="offer__ignore">
              <div class="create-pub__item pub-item">
                <label class="createOffer__label" translate="createOffer.ignoreList">
                  Publisher ignore list
                </label>
                <div class="createOffer__input">
                  <div class="additional-email">
                    <div class="additional-email__item"
                      *ngFor="let item of offerForm.get('publisherIgnoreList')['controls']; let index = index; first as true"
                      formArrayName="publisherIgnoreList">
                      {{item.value.publisherId | publisherName | async}}
                      <button type="button" class="additional-email__close"
                        (click)="removeFromFormArray('publisherIgnoreList', index)">
                        <i class="fa fa-remove"></i>
                      </button>
                    </div>
                    <button type="button" class="pub-item__plus" (click)="openIgnoreListModal(ignoreListModal)">+
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- END url-info -->
          </div>
          <!-- END createOffer__url -->
        </div>
        <!-- BEGIN createOffer-nav -->
        <div class="createOffer-nav">
          <div class="createOffer-nav__text" translate="createOffer.stepName1">
            Information, URL’s, scheduled payouts
          </div>
          <button type="button" class="btn btn-ok createOffer-nav__next" (click)="goToStep(2)"
            translate="createOffer.nextStep">Next
            step
          </button>
        </div>
        <!-- END createOffer-nav -->
      </div>
      <!-- END createOffer -->


      <!--BEGIN createOffer Step #2-->
      <div class="createOffer" [class.createOffer_visible]="toNumber(queryParams.step) === 2">
        <div class="createOffer__col">
          <!-- BEGIN targeting-restrict -->
          <div class="targeting-restrict">
            <div class="createOffer__subheader" translate="createOffer.trafficRestrictions.main">
              Traffic restrictions
            </div>
            <!--Edit-->
            <!--</a>-->
            <div class="select-one targeting-control__select-one">
              <input id="select-one__checkbox17" type="radio" name="restrictionsGlobalStatus" [value]="'allow'"
                formControlName="restrictionsGlobalStatus">
              <label for="select-one__checkbox17" class="select-one__item"
                translate="createOffer.trafficRestrictions.allow">Allow</label>
              <input id="select-one__checkbox18" type="radio" name="restrictionsGlobalStatus" [value]="'disallow'"
                formControlName="restrictionsGlobalStatus">
              <label for="select-one__checkbox18" class="select-one__item"
                translate="createOffer.trafficRestrictions.disallow">Disallow</label>
              <input id="select-one__checkbox19" type="radio" name="restrictionsGlobalStatus" [value]="'uncheck'"
                formControlName="restrictionsGlobalStatus">
              <label for="select-one__checkbox19" class="select-one__item"
                translate="createOffer.trafficRestrictions.uncheck">Uncheck</label>
            </div>
          </div>
          <!-- END targeting-restrict  -->
        </div>
        <div class="createOffer__col createOffer__col_big">
          <div class="targeting-checkboxes targeting-checkboxes_left" formArrayName="restrictions">
            <div class="inp inp-check" *ngFor="let item of restrictionsFormArray.controls; let index = index;">
              <label [formGroupName]="index">
                <input type="checkbox" formControlName="state" appCheckboxState [value]="item.value.state">
                <i class="icn-check"></i>
                <span [innerHtml]="item.value.name"></span>
              </label>
            </div>
          </div>
        </div>
        <!-- BEGIN createOffer-nav -->
        <div class="createOffer-nav">
          <button type="button" class="createOffer-nav__back" (click)="goToStep(1)">
            <span translate="createOffer.backTo">back to</span>&nbsp;
            <span translate="createOffer.step1">Step1</span>
          </button>
          <div class="createOffer-nav__text" translate="createOffer.stepName2">
            Targeting, traffic restrictions
          </div>
          <button type="button" class="btn btn-ok createOffer-nav__next" (click)="goToStep(3)"
            translate="createOffer.nextStep">Next
            step
          </button>
        </div>
        <!-- END createOffer-nav -->
      </div>
      <!--END createOffer  -->

      <!-- BEGIN createOffer Step #3 -->
      <div class="createOffer" [class.createOffer_visible]="toNumber(queryParams.step) === 3">
        <div class="createOffer__col">
          <div class="createOffer__header goals__header pb-0" translate="createOffer.goalsBlock.goals">Goals</div>
          <!-- BEGIN goal-panel -->
          <div class="url-substrate goal-panel" formArrayName="goals"
            *ngFor="let goal of goalsFormArray.controls; let index = index;"
            [ngClass]="{'redBorder': goal?.value?.externalData?.state === 2}">
            <div [formGroupName]="index">
              <div class="goal-panel__controls panel-controls">
                <div class="inp inp-check">
                  <label>
                    <input type="checkbox" formControlName="enabled">
                    <i class="icn-check"></i>
                    <span class="panel-controls__title mr-2" translate="createOffer.goalsBlock.activeGoal">Active
                      goal</span>
                    <span [innerHtml]="goal.value.typeName"></span>
                  </label>
                </div>
                <div class="panel-controls__right">
                  <button type="button" class="panel-controls__btn panel-controls__expand"
                    [ngClass]="{'panel-controls__expand_active': goal.value.expanded}" (click)="toggleGoal(goal)">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="panel-controls__btn panel-controls__close" *ngIf="!goal.value.id"
                    (click)="deleteGoal(index)" [disabled]="goal.value.id">
                    <img src="./assets/images/icon-delete-red.svg">
                  </button>
                </div>
              </div>
              <!-- BEGIN goal-panel__top -->
              <div class="row">
                <div class="col-6">
                  <form-label [required]="true">{{ "createOffer.goalsBlock.goal" | translate }}</form-label>
                  <!--<label class="createOffer__label createOffer__label_required"-->
                  <!--translate="createOffer.goalsBlock.goal">Goal</label>-->
                  <div class="inp inp-select createOffer__select goal-countries__select"
                    [ngClass]="{'createOffer__input_invalid': form.submitted && offerForm.controls['goals'].controls[index].controls['goalSpecId'].invalid}">
                    <div class="select-field">
                      <app-goals-select [multiple]="false" [clearable]="false" formControlName="goalSpecId">
                      </app-goals-select>
                    </div>
                    <div class="createOffer__input__error-message createOffer__input__error-message_bottom">
                      <span
                        *ngIf="form.submitted && errors && offerForm.controls['goals'].controls[index].controls['goalSpecId'].invalid"
                        [innerHtml]="errors[ 'goals['+index+ '][goalSpecId]']"></span>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <form-label [required]="true">{{ "createOffer.goalsBlock.goalName" | translate }}</form-label>
                  <input-text formControlName="name" [placeholder]="'createOffer.goalsBlock.goalName' | translate">
                  </input-text>
                  <!--<label class="createOffer__label createOffer__label_required"-->
                  <!--translate="createOffer.goalsBlock.goalName">Goal Name</label>-->
                  <!--<div class="createOffer__input"-->
                  <!--[ngClass]="{ 'createOffer__input_invalid': form.submitted && offerForm.controls['goals'].controls[index].controls['name'].invalid}">-->
                  <!--<input type="text" formControlName="name"-->
                  <!--[placeholder]="'createOffer.goalsBlock.goalName' | translate">-->
                  <!--<div class="createOffer__input__error-message createOffer__input__error-message_bottom">-->
                  <!--<span-->
                  <!--*ngIf="form.submitted && errors && offerForm.controls['goals'].controls[index].controls['name'].invalid && errors"-->
                  <!--[innerHtml]="errors['goals['+index+'][name]']"></span>-->
                  <!--</div>-->
                  <!--</div>-->
                </div>
              </div>
              <!-- END goal-panel__top  -->
              <div class="goal-content" *ngIf="goal.value.expanded">
                <div class="goal-urls">
                  <div class="url-link">
                    <div class="url-link__top">
                      <label class="createOffer__label createOffer__label_required"
                        translate="createOffer.url.trackingUrl">Tracking
                        URL</label>
                      <div class="url-link__right">
                        <span class="url-link__transaction-id"
                          translate="createOffer.url.transactionID">Transaction_id</span>
                      </div>
                    </div>
                    <div class="url__textarea"
                      [ngClass]="{ 'url__textarea_invalid': form.submitted && offerForm.controls['goals'].controls[index].controls['trackingUrl'].invalid}">
                      <textarea formControlName="trackingUrl" rows="2"></textarea>
                      <div class="createOffer__input__error-message createOffer__input__error-message_bottom">
                        <span
                          *ngIf="form.submitted && errors && offerForm.controls['goals'].controls[index].controls['trackingUrl'].invalid"
                          [innerHtml]="errors[ 'goals['+index+ '][trackingUrl]']"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- BEGIN goal-countries -->
                <div class="goal-countries">
                  <label class="createOffer__label createOffer__label_inline createOffer__label_required"
                    translate="createOffer.goalsBlock.countries">
                    Countries
                    <!-- <div class="pub-item__tip">
                      <span>i</span>
                      <div class="pub-item__text" translate="createOffer.goalsBlock.countriesHelpText">
                        Some help text should be here...
                      </div>
                    </div> -->
                  </label>
                  <div class="mb-1 goal__select-one">
                    <div class="select-one">
                      <input type="radio" formControlName="excludeCountries" [value]="false"
                        [id]="'select-one__radio-group__goal-country-list'+index">
                      <label [for]="'select-one__radio-group__goal-country-list'+index" class="select-one__item"
                        translate="createOffer.includeCountries">
                        Include Countries
                      </label>
                      <input type="radio" formControlName="excludeCountries" [value]="true"
                        [id]="'select-one__checkbox__goal-exclude-countries' + index">
                      <label [for]="'select-one__checkbox__goal-exclude-countries' + index"
                        class="select-one__item select-one__item_alert" translate="createOffer.excludeCountries">
                        Exclude Countries
                      </label>
                    </div>
                  </div>
                  <!-- <country-select class="mb-1" formControlName="countries"
                                  [placeholder]="'createOffer.goalsBlock.countries' | translate"></country-select> -->
                  <app-countries-select formControlName="countries"
                    [selectPlaceholder]="'createOffer.goalsBlock.countries' | translate">
                  </app-countries-select>
                  <div class="goal__select-one">
                    <div class="select-one">
                      <input type="radio" formControlName="excludeCities" [value]="false"
                        [id]="'select-one__checkbox__goal-include-cities' + index">
                      <label [for]="'select-one__checkbox__goal-include-cities' + index" class="select-one__item"
                        translate="createOffer.includeCities">
                        Include Cities
                      </label>
                      <input type="radio" formControlName="excludeCities" [value]="true"
                        [id]="'select-one__checkbox__goal-exclude-cities' + index">
                      <label [for]="'select-one__checkbox__goal-exclude-cities' + index"
                        class="select-one__item select-one__item_alert" translate="createOffer.excludeCities">
                        Exclude Cities
                      </label>
                    </div>
                  </div>
                  <div class="inp inp-select goal-countries__select">
                    <div class="select-field">
                      <app-multy-live-select [apiUrl]="'/city'" [bindLabel]="'fullName'" [bindValue]="'geonameId'"
                        [customParams]="{country: getGoal(index).get('countries').value[getGoal(index).get('countries').value.length-1]}"
                        formControlName="cities" [selectPlaceholder]="'createOffer.goalsBlock.selectCity' | translate">
                      </app-multy-live-select>
                    </div>
                  </div>
                </div>
                <!-- END goal-countries  -->
                <!-- BEGIN goal-selection -->
                <div class="goal-selection">
                  <div class="goal-selection__item">
                    <label class="createOffer__label" translate="createOffer.browsers">Browsers</label>
                    <div class="inp inp-select goal-countries__select">
                      <div class="select-field">
                        <app-browsers-select formControlName="browsers" [multiple]="true"
                          [selectPlaceholder]="'createOffer.goalsBlock.selectBrowser' | translate">
                        </app-browsers-select>
                      </div>
                    </div>
                  </div>
                  <div class="goal-selection__item">
                    <label class="createOffer__label" translate="createOffer.goalsBlock.carriers">Carriers</label>
                    <div class="inp inp-select goal-countries__select">
                      <div class="select-field">
                        <app-multy-live-select [customParams]="{
                              countryCodes: getGoal(index).get('countries').value,
                              excludeCountries: getGoal(index).get('excludeCountries').value ? 1 : 0
                            }" [apiUrl]="'/isp'"
                          [selectPlaceholder]="'createOffer.goalsBlock.selectCarriers' | translate"
                          formControlName="isps" [bindLabel]="'name'" [bindValue]="'id'" name="isps">
                        </app-multy-live-select>
                      </div>
                    </div>
                  </div>
                  <div class="goal-selection__item">
                    <label class="createOffer__label" translate="createOffer.connectionType">Connection Types
                    </label>
                    <div class="inp inp-select goal-countries__select">
                      <div class="select-field">
                        <app-connection-types-select formControlName="connections" [multiple]="true"
                          [selectPlaceholder]="'createOffer.goalsBlock.connectionTypes' | translate">
                        </app-connection-types-select>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END goal-selection  -->
                <!-- BEGIN goal-duplicate -->
                <div class="goal-duplicate">
                  <div class="goal-duplicate__item">
                    <label class="createOffer__label" translate="createOffer.dynamicPayout">Dynam. payout
                    </label>
                    <!-- BEGIN select-one -->

                    <div class="select-one createOffer__box__select-one">
                      <input type="radio" formControlName="dynamicPayout" [value]="true"
                        id="{{'select-one__checkbox__dynamic-payout-on' + index}}">
                      <label for="{{'select-one__checkbox__dynamic-payout-on' + index}}"
                        class="select-one__item">On</label>
                      <input type="radio" formControlName="dynamicPayout" [value]="false"
                        id="{{'select-one__checkbox__dynamic-payout-off' + index}}">
                      <label for="{{'select-one__checkbox__dynamic-payout-off' + index}}"
                        class="select-one__item select-one__item_disable">Off</label>
                    </div>
                    <!-- END select-one -->
                  </div>
                  <div class="goal-duplicate__item">
                    <label class="createOffer__label" translate="createOffer.allowDuplicate">Allow duplicate
                    </label>
                    <div class="select-one createOffer__box__select-one">
                      <input type="radio" formControlName="allowDuplicate" [value]="true"
                        id="{{'select-one__checkbox__allow-duplicate-on' + index}}">
                      <label for="{{'select-one__checkbox__allow-duplicate-on' + index}}"
                        class="select-one__item">On</label>
                      <input type="radio" formControlName="allowDuplicate" [value]="false"
                        id="{{'select-one__checkbox__allow-duplicate-off' + index}}">
                      <label for="{{'select-one__checkbox__allow-duplicate-off' + index}}"
                        class="select-one__item select-one__item_disable">Off</label>
                    </div>
                    <!-- END select-one -->
                  </div>

                  <div class="goal-duplicate__item">
                    <label class="createOffer__label" translate="createOffer.postback">Allow duplicate
                    </label>
                    <div class="select-one createOffer__box__select-one">
                      <input type="radio" formControlName="postbackEnabled" [value]="true"
                        id="{{'select-one__checkbox__postbackEnabled-on' + index}}">
                      <label for="{{'select-one__checkbox__postbackEnabled-on' + index}}"
                        class="select-one__item">On</label>
                      <input type="radio" formControlName="postbackEnabled" [value]="false"
                        id="{{'select-one__checkbox__postbackEnabled-off' + index}}">
                      <label for="{{'select-one__checkbox__postbackEnabled-off' + index}}"
                        class="select-one__item select-one__item_disable">Off</label>
                    </div>
                    <!-- END select-one -->
                  </div>
                </div>
                <!-- END goal-duplicate  -->
                <!-- BEGIN goal-payout -->
                <div class="goal-payout">
                  <div class="goal-payout__line">
                    <div class="goal-payout__item">
                      <app-form-label [required]="true"><span translate="createOffer.goalsBlock.payout"></span>
                      </app-form-label>
                      <app-input-number formControlName="payout" [submitted]="form.submitted" [isPopover]="true"
                        [price]="!getGoal(index).get('dynamicPayout').value"
                        [currency]="offerForm.get('currency').value"
                        [percent]="getGoal(index).get('dynamicPayout').value"></app-input-number>
                    </div>
                    <div class="goal-payout__item">
                      <app-form-label [required]="true"><span translate="createOffer.goalsBlock.payPercent"></span>
                      </app-form-label>
                      <app-input-number formControlName="payPercent" [submitted]="form.submitted" [isPopover]="true"
                        [percent]="true" [numberAfterPoint]="2"></app-input-number>
                    </div>
                    <div class="goal-payout__item">
                      <app-form-label [required]="true"><span translate="createOffer.goalsBlock.pubPayout"></span>
                      </app-form-label>
                      <app-input-number formControlName="pubPayout" [submitted]="form.submitted" [isPopover]="true"
                        [price]="!getGoal(index).get('dynamicPayout').value"
                        [currency]="offerForm.get('currency').value"
                        [percent]="getGoal(index).get('dynamicPayout').value"></app-input-number>
                    </div>
                  </div>
                  <div class="goal-payout__line" formGroupName="cap">
                    <div class="goal-payout__item">
                      <label class="createOffer__label createOffer__label_required"
                        translate="createOffer.goalsBlock.dailyCap">
                        Daily cap
                      </label>
                      <div class="createOffer__input"
                        [ngClass]="{ 'createOffer__input_invalid': form.submitted && offerForm.controls['goals'].controls[index].controls['cap'].controls['daily'].invalid}">
                        <input type="number" formControlName="daily" min="0">
                        <div class="createOffer__input__error-message createOffer__input__error-message_bottom"
                          *ngIf="form.submitted && errors && offerForm.controls['goals'].controls[index].controls['cap'].controls['daily'].invalid">
                          <span [innerHtml]="errors[ 'goals['+index+ '][cap][daily]']"></span>
                        </div>
                      </div>
                    </div>
                    <div class="goal-payout__item">
                      <label class="createOffer__label createOffer__label_required"
                        translate="createOffer.goalsBlock.montyCap">
                        Monty cap
                      </label>
                      <div class="createOffer__input"
                        [ngClass]="{ 'createOffer__input_invalid': form.submitted && offerForm.controls['goals'].controls[index].controls['cap'].controls['monthly'].invalid}">
                        <input type="number" formControlName="monthly" min="0">
                        <div class="createOffer__input__error-message createOffer__input__error-message_bottom"
                          *ngIf="form.submitted && errors && offerForm.controls['goals'].controls[index].controls['cap'].controls['monthly'].invalid">
                          <span [innerHtml]="errors[ 'goals['+index+ '][cap][monthly]']"></span>
                        </div>
                      </div>
                    </div>
                    <div class="goal-payout__item">
                      <label class="createOffer__label createOffer__label_required"
                        translate="createOffer.goalsBlock.totalCap">Total
                        cap</label>
                      <div class="createOffer__input"
                        [ngClass]="{ 'createOffer__input_invalid': form.submitted && offerForm.controls['goals'].controls[index].controls['cap'].controls['total'].invalid}">
                        <input type="number" formControlName="total" min="0">
                        <div class="createOffer__input__error-message createOffer__input__error-message_bottom"
                          *ngIf="form.submitted && errors && offerForm.controls['goals'].controls[index].controls['cap'].controls['total'].invalid">
                          <span [innerHtml]="errors[ 'goals['+index+ '][cap][total]']"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="goal-payout__line" formGroupName="capClick">
                    <div class="goal-payout__item">
                      <!--                              <h2>capClick</h2>-->
                      <label class="createOffer__label createOffer__label_required"
                        translate="createOffer.goalsBlock.dailyClickCap">
                        Daily cap
                      </label>
                      <div class="createOffer__input"
                        [ngClass]="{ 'createOffer__input_invalid': form.submitted && offerForm.controls['goals'].controls[index].controls['capClick'].controls['daily'].invalid}">
                        <input type="number" formControlName="daily" min="0">
                        <div class="createOffer__input__error-message createOffer__input__error-message_bottom"
                          *ngIf="form.submitted && errors && offerForm.controls['goals'].controls[index].controls['capClick'].controls['daily'].invalid">
                          <span [innerHtml]="errors[ 'goals['+index+ '][capClick][daily]']"></span>
                        </div>
                      </div>
                    </div>
                    <div class="goal-payout__item">
                      <label class="createOffer__label createOffer__label_required"
                        translate="createOffer.goalsBlock.montyClickCap">
                        Monty cap
                      </label>
                      <div class="createOffer__input"
                        [ngClass]="{ 'createOffer__input_invalid': form.submitted && offerForm.controls['goals'].controls[index].controls['capClick'].controls['monthly'].invalid}">
                        <input type="number" formControlName="monthly" min="0">
                        <div class="createOffer__input__error-message createOffer__input__error-message_bottom"
                          *ngIf="form.submitted && errors && offerForm.controls['goals'].controls[index].controls['capClick'].controls['monthly'].invalid">
                          <span [innerHtml]="errors[ 'goals['+index+ '][capClick][monthly]']"></span>
                        </div>
                      </div>
                    </div>
                    <div class="goal-payout__item">
                      <label class="createOffer__label createOffer__label_required"
                        translate="createOffer.goalsBlock.totalClickCap">Total
                        cap</label>
                      <div class="createOffer__input"
                        [ngClass]="{ 'createOffer__input_invalid': form.submitted && offerForm.controls['goals'].controls[index].controls['capClick'].controls['total'].invalid}">
                        <input type="number" formControlName="total" min="0">
                        <div class="createOffer__input__error-message createOffer__input__error-message_bottom"
                          *ngIf="form.submitted && errors && offerForm.controls['goals'].controls[index].controls['capClick'].controls['total'].invalid">
                          <span [innerHtml]="errors[ 'goals['+index+ '][capClick][total]']"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END goal-payout  -->
                <!-- BEGIN goal-platform -->
                <div class="goal-platform"
                  [ngClass]="{ 'createOffer__input_invalid goal-platform_alert': form.submitted && offerForm.controls['goals'].controls[index].controls['platforms'].invalid}">
                  <div class="createOffer__input__error-message createOffer__input__error-message_bottom">
                    <span
                      *ngIf="form.submitted && errors && offerForm.controls['goals'].controls[index].controls['platforms'].invalid"
                      [innerHtml]="errors[ 'goals['+index+ '][platforms]']"></span>
                  </div>
                  <label class="createOffer__label createOffer__label_required"
                    translate="createOffer.goalsBlock.platforms">
                    Platforms
                  </label>
                  <div class="goal-platform__items" formArrayName="platforms">
                    <div class="goal-platform__item"
                      *ngFor="let platform of getPlatformFormArray(goal).controls; let index = index">
                      <div [formGroupName]="index">
                        <button class="goal-platform__ico" type="button" (click)="selectPlatform(platform)">
                          <i [class]="'platform-ico platform-ico_' + platform.value.name | lowercase"
                            [class.platform-ico_win-phone]="platform.get('name').value === 'Windows Phone'"
                            [class.platform-ico_active]="platform.get('selected').value"></i>
                        </button>
                        <span class="goal-platform__name" [innerHtml]="platform.value.name"></span>
                        <button class="goal-platform__link" type="button"
                          *ngIf="platform.value.selected && platform.value.name !== 'Other'"
                          (click)="togglePlatformVisibility(platform)"
                          translate="createOffer.goalsBlock.version">Version
                        </button>
                        <input type="text" class="goal-platform__input" formControlName="version"
                          *ngIf="platform.value.selected && platform.value.shown">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END goal-platform -->
              </div>
            </div>
          </div>

          <div class="url-shedule__new" *ngFor="let type of goalsTypes">
            <button type="button" class="url-shedule__add" (click)="addGoal(type)">
              <span class="url-shedule__plus">+</span>
              <span translate="createOffer.goalsBlock.add"></span>
              <strong> {{ type.name }} </strong>
              <span translate="createOffer.goalsBlock.goal">goal</span>
            </button>
          </div>
        </div>
        <div class="createOffer__col">
          <div class="url__link url-link" *ngIf="!offerForm.controls['id'].value">
            <div class="url-link__top">
              <label class="createOffer__label" translate="createOffer.url.trackingUrlSuffix">
                Tracking URL suffix
              </label>
            </div>
            <div class="createOffer__input url-link__input">
              <input type="text" formControlName="trackingUrlSuffix">
            </div>
          </div>

          <!-- BEGIN Creatives -->
          <div class="creatives">
            <div class="createOffer__subheader creatives__header" translate="createOffer.creatives.main">
              Creatives
            </div>

            <ng-container>
              <div class="url-substrate creatives__panel creatives-panel"
                *ngFor="let creative of offerForm.get('creatives').value; let index = index">
                <div class="creatives__panel-thumbnail">
                  <div *ngIf="extensionIsNotAvailable(creative.url)">
                    <img src="assets/images/pic.png">
                    <span class="creatives__panel-thumbnail-extension">{{getExtension(creative.url)}}</span>
                  </div>
                  <img [src]="creative.url" *ngIf="extensionIsAvailable(creative.url)">
                </div>
                <div class="creatives__panel-info">
                  <div class="creatives-panel__name">
                    <span translate="createOffer.creatives.creativesUrl">Creative URL</span>
                    <a class="createOffer__delete-btn creatives__delete" *ngIf="creative.id"
                      (click)="removeFromFormArray('creatives', index)" translate="createOffer.delete">Delete</a>
                  </div>
                  <a class="creatives-panel__link" [innerHtml]="creative.url" [href]="creative.url" target="_blank"></a>
                  <div class="creatives-panel__name" translate="createOffer.creatives.fileName">File name</div>
                  <div class="creatives-panel__link" [innerHtml]="creative.name"></div>
                </div>
              </div>
            </ng-container>
            <div class="url-shedule__new" [ngClass]="{ 'error': creativeErrors}">
              <a class="url-shedule__add creatives__add" (click)="creativeModalComponent.open()">
                <span class="url-shedule__plus">+</span>
                <strong translate="createOffer.creatives.addNew">Add new</strong>
                <span translate="createOffer.creatives.creative">creative</span>
              </a>
            </div>
          </div>
          <!-- END Creatives  -->
        </div>
        <!-- BEGIN createOffer-nav -->
        <div class="createOffer-nav">
          <button type="button" class="createOffer-nav__back" (click)="goToStep(2)">
            <span translate="createOffer.backTo">back to</span>&nbsp;
            <span translate="createOffer.step2">Step 2</span>
          </button>
          <div class="createOffer-nav__text" translate="createOffer.stepName3">Goals, creatives
          </div>
          <button type="submit" class="btn btn-ok createOffer-nav__next" translate="{{ offerForm.get('id').value ?
        'createOffer.updateOfferBTN' : 'createOffer.createOfferBTN' }}" [disabled]="loading">
            Create Offer
          </button>
        </div>
        <!-- END createOffer-nav -->
      </div>
    </form>
  </div>
</div>

<app-loader [loading]="loading"></app-loader>


<modal #ignoreListModal size="lg">

  <modal-header>Publisher Ignore List</modal-header>

  <modal-body>
    <form [formGroup]="publishersIgnoreList" class="postback-modal-middle">
      <div class="add-email__items">
        <button type="button" class="pub-item__plus" (click)="addPublisherIgnoreTemp()"
          *ngIf="!publishersIgnoreList.get('publishers')['controls'].length" style="display: inline-block">+
        </button>
        <div class="flex pubIgnore-input"
          *ngFor="let item of publishersIgnoreList.get('publishers')['controls']; let index = index;"
          formArrayName="publishers">
          <ng-container [formGroupName]="index">
            <div class="select-field">
              <div class="createOffer__input createOffer__select"
                [ngClass]="{'createOffer__input_invalid': publishersIgnoreList.controls['publishers'].controls[index].controls['publisherId'].touched && publishersIgnoreList.controls['publishers'].controls[index].controls['publisherId'].invalid}">
                <app-publishers-select [multiple]="false" formControlName="publisherId"></app-publishers-select>
                <div class="createOffer__input__error-message css-popover" appCssPopover
                  style="width: 0px; height: 20px;right: -3px;left: auto;z-index: 1010;">
                  <app-validation-message
                    [control]="publishersIgnoreList.controls['publishers'].controls[index].controls['publisherId']"
                    [isPopover]="true"></app-validation-message>
                </div>
              </div>
            </div>
            <div class="createOffer__input">
              <input formControlName="subPublisherId" [placeholder]="'createOffer.subPubID' | translate" type="text">
              <div class="createOffer__error-message">
                <div class="createOffer__input__error-message createOffer__input__error-message_bottom">
                </div>
              </div>
            </div>
            <div class="createOffer__input">
              <input formControlName="affSub2" placeholder="aff_sub2" type="text">
              <div class="createOffer__error-message">
                <div class="createOffer__input__error-message createOffer__input__error-message_bottom">
                </div>
              </div>
            </div>
            <div class="createOffer__input">
              <input formControlName="affSub3" placeholder="aff_sub3" type="text">
              <div class="createOffer__error-message">
                <div class="createOffer__input__error-message createOffer__input__error-message_bottom">
                </div>
              </div>
            </div>
            <div class="createOffer__input">
              <input formControlName="affSub4" placeholder="aff_sub4" type="text">
              <div class="createOffer__error-message">
                <div class="createOffer__input__error-message createOffer__input__error-message_bottom">
                </div>
              </div>
            </div>
            <button type="button" class="createOffer__input_delete-btn" (click)="removePublisherIgnore(index)"></button>
            <button type="button" class="pub-item__plus" (click)="addPublisherIgnoreTemp()">+</button>
          </ng-container>
        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <btn [simple]="true" (click)="closeIgnoreListModal(false)">Cancel</btn>
    <btn (click)="closeIgnoreListModal(true)">Save</btn>
  </modal-footer>

</modal>

<modal #creativeModalComponent size="lg">

  <modal-header>
    {{ offerForm.get('name').value }}
  </modal-header>

  <modal-body>
    <form [formGroup]="offerForm" onsubmit="return false">

      <div class="creative-modal__body">
        <div class="creative-modal__left">
          <div class="creative-modal__ico">
            <img *ngIf="offerForm.get('thumbUrl').value" [src]="offerForm.get('thumbUrl').value">
          </div>
        </div>
        <div class="creative-modal__right">
          <div class="creative-modal__subheader" translate="createOffer.creatives.addFile">Add creative files</div>
          <div class="creative-modal__links">
            <div class="creative-modal__items"
              *ngFor="let creative of offerForm.get('creatives')['controls']; let $index = index;"
              formArrayName="creatives">
              <ng-container [formGroupName]="$index">
                <a class="createOffer__delete-btn" (click)="removeFromFormArray('creatives', $index)"></a>
                <div class="select-field createOffer__error-message"
                  [ngClass]="{'createOffer__input_invalid': form.submitted && errors && offerForm.controls['creatives'].controls[$index].controls['extension'].invalid}">
                  <ng-select formControlName="type" [items]="creativeTypes" bindValue="value" bindLabel="label"
                    [placeholder]="'createOffer.creatives.selectType' | translate"></ng-select>
                  <div class="createOffer__input__error-message createOffer__input__error-message_bottom"
                    *ngIf="form.submitted && errors && offerForm.controls['creatives'].controls[$index].controls['extension'].invalid">
                  </div>
                </div>
                <div *ngIf="offerForm.controls['creatives'].controls[$index].controls['type'].value === 'url'"
                  class="creative-modal__input creative-modal__input_browse createOffer__input createOffer__error-message"
                  (change)="setCreativeExtensionByContent($index)"
                  [ngClass]="{'createOffer__input_invalid': form.submitted && errors && offerForm.controls['creatives'].controls[$index].controls['content'].invalid}">
                  <input type="text" formControlName="content" placeholder="Url">
                  <div class="createOffer__input__error-message createOffer__input__error-message_bottom"
                    *ngIf="form.submitted && errors && offerForm.controls['creatives'].controls[$index].controls['content'].invalid">
                    <span
                      *ngIf="form.submitted && errors && offerForm.controls['creatives'].controls[$index].controls['content'].invalid"
                      [innerHtml]="errors['creatives['+$index+'][content]'][0]">This value should not be blank.</span>
                  </div>
                </div>
                <div *ngIf="offerForm.controls['creatives'].controls[$index].controls['type'].value === 'file'"
                  class="creative-modal__input creative-modal__input_browse createOffer__input large createOffer__error-message"
                  [ngClass]="{'createOffer__input_invalid': form.submitted && errors && offerForm.controls['creatives'].controls[$index].controls['name'].invalid}">
                  <input type="text" formControlName="name" placeholder="Path to file">
                  <label class="btn btn-ok creative-modal__browse">
                    <span>Browse...</span>
                    <app-upload-file [reset]="creative.agreementFileId" (fullObject)="uploadCreative($event, $index)"
                      [additionalButton]="true"></app-upload-file>
                  </label>
                  <div class="createOffer__input__error-message createOffer__input__error-message_bottom"
                    *ngIf="form.submitted && errors && offerForm.controls['creatives'].controls[$index].controls['name'].invalid">
                    <span
                      *ngIf="form.submitted && errors && offerForm.controls['creatives'].controls[$index].controls['name'].invalid"
                      [innerHtml]="errors['creatives['+$index+'][name]'][0]">This value should not be blank.</span>
                  </div>
                </div>
                <div *ngIf="offerForm.controls['creatives'].controls[$index].controls['type'].value === 'url' "
                  class="creative-modal__input createOffer__input createOffer__error-message"
                  [ngClass]="{'createOffer__input_invalid': form.submitted && errors && offerForm.controls['creatives'].controls[$index].controls['name'].invalid}">
                  <input formControlName="name" type="text" placeholder="File name">
                  <div class="createOffer__input__error-message createOffer__input__error-message_bottom"
                    *ngIf="form.submitted && errors && offerForm.controls['creatives'].controls[$index].controls['name'].invalid">
                    <span
                      *ngIf="form.submitted && errors && offerForm.controls['creatives'].controls[$index].controls['name'].invalid"
                      [innerHtml]="errors['creatives['+$index+'][name]'][0]">This value should not be blank.</span>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="url-shedule__new">
              <a class=" url-shedule__add creatives__add" (click)="addCreative()">
                <span class="url-shedule__plus">+</span>
                <strong translate="createOffer.creatives.addNew">Add new</strong>
                <span translate="createOffer.creatives.creative">creative</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <btn (click)="useCreatives(creativeModalComponent)">{{ "createOffer.creatives.useCreatives" | translate }}</btn>
  </modal-footer>

</modal>
