@import "variables";
@import "mixin";

.goal-payout {
  font-size: inherit !important;
}

.block {
  width: 100%;
}

.url-numbers-date {
  .url-numbers__item {
    margin: rem(0, 10);

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.redBorder {
  border: 2px solid red;
}

.url-shedule__add {
  cursor: pointer;
}

.createoffer__input {
  input {
    display: inline-block;
    width: 100%;
    border: 1px solid $border-color;
    height: rem(32);
    padding: rem(0, 7);
    border-radius: $border-radius;
    box-sizing: border-box;
    color: #58666e;
    position: relative;
    z-index: 2;
    background-color: #fff;
    box-shadow: none;
    margin: 0;
  }
}

.btn-merge {
  background-color: #02c3c8;
}

.btn-overwrite {
  background-color: #7cd1f9;
}

.goal-payout__item,
.goal-duplicate__item {
  width: calc(33.3333% - 11px);
    }

.goal-duplicate__item:not(:last-child) {
  margin-right: rem(15);
}


.goal-duplicate__item {
  .select-one {
    display: flex;
    max-width: rem(150);
    width: 100%;
    min-width: auto;

    .select-one__item {
      flex: 1;
      text-align: center;
    }
  }
}

.postback-modal-middle {

  .pubIgnore-input {
    padding: rem(8, 0);
    align-items: center;
    justify-content: center;

    .pub-item__plus {
      display: none;
    }

    .createOffer__input_delete-btn {
      display: block;
      margin: rem(0, 13);
      position: static;
    }

    &:last-child {

      .pub-item__plus {
        display: inline-block;
      }

      &:first-child {
        .createOffer__input_delete-btn {
          display: none;
        }

        .pub-item__plus {
          margin-left: rem(8);
        }
      }

    }

    .select-field {
      width: rem(200);
      min-width: rem(200);
    }

    .createOffer__input {
      margin-left: rem(8);
    }
  }
}
