@import "variables";
@import "mixin";

/* Base styles */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: $inputHeight;
  font-weight: 500;
  color: var(--button-primary-color);
  text-align: center;
  user-select: none;
  background-color: var(--button-primary-background);
  box-shadow: none;
  border: 1px solid transparent;
  padding: rem(0, 13);
  font-size: rem(14);
  line-height: 1;
  border-radius: $border-radius;
  transition: all .15s ease-in-out;
  backface-visibility: hidden;

  &-simple {
    color: var(--button-simple-color) !important;
    background-color: var(--button-simple-background);
  }
  &-danger {
    color: var(--button-danger-color) !important;
    background-color: var(--button-danger-background) !important;
  }
  &-warning {
    color: var(--button-warning-color) !important;
    background-color: var(--button-warning-background) !important;
  }
  &-success {
    color: var(--button-success-color) !important;
    background-color: var(--button-success-background) !important;
  }

  &-secondary {
    color: var(--button-secondary-color) !important;
    background-color: var(--button-secondary-background) !important;
  }

  &-outline {
    color: var(--button-primary-background) !important;
    border-color: var(--button-primary-background) !important;
    background-color: transparent;

    //&:hover,
    //&:active {
    //  color: var(--button-primary-background);
    //}

    //&:disabled {
    //  color: var(--button-background-disabled) !important;
    //  border-color: var(--button-background-disabled) !important;
    //  background-color: var(--button-primary-color) !important;
    //}
  }

  &-shadow {
    box-shadow: 0 9px 21px 0 var(--shadow);
  }
  &-transparent {
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
  }

  @at-root {
    a#{&} {
      span, .fa {
        color: var(--button-primary-color);
      }
    }
  }

  &:hover {
    opacity: .85;
    text-decoration: none;
  }

  &:active {
    opacity: .9;
    text-decoration: none;
  }

  &:focus {
    outline: 0 !important;
    //box-shadow: none !important;
  }

  // Disabled comes first so active can properly restyle
  &:disabled {
    color: var(--button-color-disabled) !important;
    background-color: var(--button-background-disabled) !important;
    box-shadow: none !important;
    cursor: not-allowed !important;

    //.fa {
    //  color: var(--button-color-disabled);
    //}
  }

  // Opinionated: add "hand" cursor to non-disabled .btn elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}

/* btn-link */
.btn-link {
  color: var(--button-link-color);
  background-color: var(--button-link-background) !important;
  border-color: transparent !important;
  box-shadow: none !important;
  text-decoration: none !important;
  transition: color .15s ease-in-out;

  &:disabled {
    color: var(--button-background-disabled) !important;
  }

  .fa-close {
    color: var(--button-link-color);
  }
}
/* end btn-link */

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

/* Button Sizes */
.btn-xs {
  padding: 0 calc(.8215rem * .85);
  font-size: rem(14);
  height: calc(#{$inputHeight} * .75);
}
.btn-sm {
  padding: 0 calc(.8215rem * 1);
  font-size: rem(14);
  height: calc(#{$inputHeight} * .875);
}

.btn-lg {
  padding: 5px calc(.8215rem * 1.25);
  height: calc(#{$inputHeight} * 1.25);
}
.btn-xl {
  padding: 8px calc(.8215rem * 1.5);
  height: calc(#{$inputHeight} * 1.5);
}
/* end Button Sizes */

.btn-block {
  width: 100% !important;
}
