@import "variables";
@import "mixin";

.btn-icon {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: rem(15);
  color: #8a949a;
  cursor: pointer;
  border-radius: $border-radius;
  width: $inputCheckSize;
  height: $inputCheckSize;
  border: 1px solid $border-color;
  background-color: #ffffff;
  background-clip: border-box;
  transition: background-color .15s ease-in-out,
  border-color .15s ease-in-out,
  box-shadow .15s ease-in-out,
  color .15s ease-in-out;

  &-outline {
    &-warning {
      border: 1px solid #ffb100;
      &:hover {
        border-color: #ffffff;
        box-shadow: 0 9px 21px rgba(#ffb100, .15);
      }
    }
    &-light {
      border: 1px solid #f5f5f5;
      &:hover {
        border-color: #ffffff;
        box-shadow: 0 9px 21px rgba(#f5f5f5, .15);
      }
    }
    &-primary {
      border: 1px solid #11a0f8;
      &:hover {
        border-color: #ffffff;
        box-shadow: 0 9px 21px rgba(#11a0f8, .15);
      }
    }
    &-info {
      border: 1px solid #02c3c8;
      &:hover {
        border-color: #ffffff;
        box-shadow: 0 9px 21px rgba(#02c3c8, .15);
      }
    }
    &-success {
      border: 1px solid #0dbc00;
      &:hover {
        border-color: #ffffff;
        box-shadow: 0 9px 21px rgba(#0dbc00, .15);
      }
    }
    &-danger {
      border: 1px solid #f33155;
      &:hover {
        border-color: #ffffff;
        box-shadow: 0 9px 21px rgba(#f33155, .15);
      }
    }
    &-secondary {
      border: 1px solid #58666e;
      &:hover {
        border-color: #ffffff;
        box-shadow: 0 9px 21px rgba(#58666e, .15);
      }
    }
    &-dark {
      border: 1px solid #343a40;
      &:hover {
        border-color: #ffffff;
        box-shadow: 0 9px 21px rgba(#343a40, .15);
      }
    }
  }

  &-outline-opposite {
    &-warning {
      border: 1px solid #ffb100;
      background-color: #fff6e0;
      &:hover {
        background-color: #ffb100;
        color: #ffffff;
      }
    }
    &-light {
      border: 1px solid #f5f5f5;
      background-color: #fefefe;
      &:hover {
        background-color: #f5f5f5;
        color: #ffffff;
      }
    }
    &-primary {
      border: 1px solid #11a0f8;
      background-color: #e2f4fe;
      &:hover {
        background-color: #11a0f8;
        color: #ffffff;
      }
    }
    &-info {
      border: 1px solid #02c3c8;
      background-color: #e1f8f8;
      &:hover {
        background-color: #02c3c8;
        color: #ffffff;
      }
    }
    &-success {
      border: 1px solid #0dbc00;
      background-color: #e2f7e0;
      &:hover {
        background-color: #0dbc00;
        color: #ffffff;
      }
    }
    &-danger {
      border: 1px solid #f33155;
      background-color: #fee6eb;
      &:hover {
        background-color: #f33155;
        color: #ffffff;
      }
    }
    &-secondary {
      border: 1px solid #58666e;
      background-color: #ebedee;
      &:hover {
        background-color: #58666e;
        color: #ffffff;
      }
    }
    &-dark {
      border: 1px solid #343a40;
      background-color: #e7e7e8;
      &:hover {
        background-color: #343a40;
        color: #ffffff;
      }
    }
  }

  &-warning {
    &:hover {
      border: 1px solid #ffb100;
      background-color: #fff6e0;
    }
  }
  &-light {
    &:hover {
      border: 1px solid #f5f5f5;
      background-color: #fefefe;
    }
  }
  &-primary {
    &:hover {
      border: 1px solid #11a0f8;
      background-color: #e2f4fe;
    }
  }
  &-info {
    &:hover {
      border: 1px solid #02c3c8;
      background-color: #e1f8f8;
    }
  }
  &-success {
    &:hover {
      border: 1px solid #0dbc00;
      background-color: #e2f7e0;
    }
  }
  &-danger {
    &:hover {
      border: 1px solid #f33155;
      background-color: #fee6eb;
    }
  }
  &-secondary {
    &:hover {
      border: 1px solid #58666e;
      background-color: #ebedee;
    }
  }
  &-dark {
    &:hover {
      border: 1px solid #343a40;
      background-color: #e7e7e8;
    }
  }
}
