<div class="d-flex flex-column position-relative">
  <form class="card card-form mb-4">
    <div class="card-body">
      <div class="row">
          <div class="col-6">
            <div class="form-group">
              <p class="mb-1">form-check-icon</p>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" checked>
                  <i class="form-check-icon"><span class="fa fa-check"></span></i>
                  <i class="form-check-icon color-warning" style="display: none;"><span class="fa fa-question"></span></i>
                  <i class="form-check-icon color-danger" style="display: none;"><span class="fa fa-close"></span></i>
                </label>
              </div>
              <div class="form-check form-check-outline">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" checked>
                  <i class="form-check-icon" style="display: none;"><span class="fa fa-check"></span></i>
                  <i class="form-check-icon color-warning"><span class="fa fa-question"></span></i>
                  <i class="form-check-icon color-danger" style="display: none;"><span class="fa fa-close"></span></i>
                </label>
              </div>
              <div class="form-check form-check-outline">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" checked>
                  <i class="form-check-icon" style="display: none;"><span class="fa fa-check"></span></i>
                  <i class="form-check-icon color-warning" style="display: none;"><span class="fa fa-question"></span></i>
                  <i class="form-check-icon color-danger"><span class="fa fa-close"></span></i>
                </label>
              </div>
            </div>
            <div class="form-group form-file">
              <p class="mb-1">form-file <code>need use classes from button</code></p>
              <label class="form-file-label btn btn-shadow">
                <input type="file" class="form-file-input">
                <span>Upload a file</span>
              </label>
            </div>
            <div class="form-group form-file">
              <label class="form-file-label btn btn-sm btn-shadow">
                <input type="file" class="form-file-input">
                <span>Browse...</span>
              </label>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-12">
          <div class="row mb-3">
            <div class="col">
              <table>
                <tr>
                  <td><mark>h1</mark></td>
                  <td><h1 class="mb-0">Roboto has a dual nature. It has a</h1></td>
                </tr>
                <tr>
                  <td><mark>h2</mark></td>
                  <td><h2 class="mb-0">Roboto has a dual nature. It has a mechanical skeleton and</h2></td>
                </tr>
                <tr>
                  <td><mark>h3</mark></td>
                  <td>
                    <h3 class="mb-0">Roboto has a dual nature. It has a mechanical skeleton and the forms are</h3>
                  </td>
                </tr>
                <tr>
                  <td><mark>h4</mark></td>
                  <td>
                    <h4 class="mb-0">Roboto has a dual nature. It has a mechanical skeleton and the forms are</h4>
                  </td>
                </tr>
                <tr>
                  <td><mark>strong, .strong</mark></td>
                  <td>
                    <strong class="mb-0">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, quidem.
                    </strong>
                  </td>
                </tr>
                <tr>
                  <td><mark>body</mark></td>
                  <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, quidem.</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <div class="panel-control">
                <btn [success]="true">
                  <i class="fa fa-play mr-1"></i>
                  Activate</btn>
                <btn [warning]="true">
                  <i class="fa fa-step-forward mr-1"></i>
                  Pause24</btn>
                <btn [danger]="true">
                  <i class="fa fa-pause mr-1"></i>
                  Pause</btn>
                <btn [secondary]="true">
                  <i class="fa fa-trash mr-1"></i>
                  Delete</btn>
                <btn>
                  <i class="fa fa-undo mr-1"></i>
                  Restore</btn>
              </div>
            </div>
            <div class="col">
              <div class="panel-control-mini">
                <btn [success]="true">
                  <i class="fa fa-play"></i>
                </btn>
                <btn>
                  <i class="fa fa-forward"></i>
                </btn>
                <btn [warning]="true">
                  <i class="fa fa-clock-o"></i>
                </btn>
                <btn [danger]="true">
                  <i class="fa fa-pause"></i>
                </btn>
                <btn [secondary]="true">
                  <i class="fa fa-trash"></i>
                </btn>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <div class="select-custom mb-3">
                <div class="select-custom-input">Request</div>
                <button type="button" class="select-custom-btn">
                  <i class="fa fa-angle-down"></i>
                </button>
                <div class="select-custom-drop">
                  <ul class="select-custom-list">
                    <li class="selected" data-status="Unrequested">Unrequested</li>
                    <li data-status="Approved">Approved</li>
                    <li data-status="Pending">Pending</li>
                    <li data-status="Rejected">Rejected</li>
                  </ul>
                </div>
              </div>
              <br />
              <div class="select-custom open">
                <div class="select-custom-input">Request</div>
                <button type="button" class="select-custom-btn">
                  <i class="fa fa-angle-down"></i>
                </button>
                <div class="select-custom-drop">
                  <ul class="select-custom-list">
                    <li class="selected" data-status="Unrequested">Unrequested</li>
                    <li class="hover" data-status="Approved">Approved</li>
                    <li data-status="Pending">Pending</li>
                    <li data-status="Rejected">Rejected</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="select-custom select-custom-success mb-3">
                <div class="select-custom-input">Actualize</div>
                <button type="button" class="select-custom-btn">
                  <i class="fa fa-angle-down"></i>
                </button>
                <div class="select-custom-drop">
                  <ul class="select-custom-list">
                    <li data-status="Unrequested">Unrequested</li>
                    <li data-status="Approved">Approved</li>
                    <li data-status="Pending">Pending</li>
                    <li class="selected" data-status="Rejected">Rejected</li>
                  </ul>
                </div>
              </div>
              <br />
              <div class="select-custom select-custom-success open">
                <div class="select-custom-input">Actualize</div>
                <button type="button" class="select-custom-btn">
                  <i class="fa fa-angle-down"></i>
                </button>
                <div class="select-custom-drop">
                  <ul class="select-custom-list">
                    <li class="hover" data-status="Unrequested">Unrequested</li>
                    <li data-status="Approved">Approved</li>
                    <li data-status="Pending">Pending</li>
                    <li class="selected" data-status="Rejected">Rejected</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="select-custom select-custom-danger mb-3">
                <div class="select-custom-input">Rejected</div>
                <button type="button" class="select-custom-btn">
                  <i class="fa fa-angle-down"></i>
                </button>
                <div class="select-custom-drop">
                  <ul class="select-custom-list">
                    <li data-status="Unrequested">Unrequested</li>
                    <li data-status="Approved">Approved</li>
                    <li data-status="Pending">>Pending</li>
                    <li class="selected" data-status="Rejected">Rejected</li>
                  </ul>
                </div>
              </div>
              <br />
              <div class="select-custom select-custom-danger open">
                <div class="select-custom-input">Rejected</div>
                <button type="button" class="select-custom-btn">
                  <i class="fa fa-angle-down"></i>
                </button>
                <div class="select-custom-drop">
                  <ul class="select-custom-list">
                    <li data-status="Unrequested">Unrequested</li>
                    <li data-status="Approved">Approved</li>
                    <li class="hover" data-status="Pending">Pending</li>
                    <li class="selected" data-status="Rejected">Rejected</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="select-custom select-custom-warning mb-3">
                <div class="select-custom-input">Pending</div>
                <button type="button" class="select-custom-btn">
                  <i class="fa fa-angle-down"></i>
                </button>
                <div class="select-custom-drop">
                  <ul class="select-custom-list">
                    <li data-status="Unrequested">Unrequested</li>
                    <li data-status="Approved">Approved</li>
                    <li class="selected" data-status="Pending">Pending</li>
                    <li data-status="Rejected">Rejected</li>
                  </ul>
                </div>
              </div>
              <br />
              <div class="select-custom select-custom-warning open">
                <div class="select-custom-input">Pending</div>
                <button type="button" class="select-custom-btn">
                  <i class="fa fa-angle-down"></i>
                </button>
                <div class="select-custom-drop">
                  <ul class="select-custom-list">
                    <li data-status="Unrequested">Unrequested</li>
                    <li data-status="Approved">Approved</li>
                    <li class="selected" data-status="Pending">Pending</li>
                    <li class="hover" data-status="Rejected">Rejected</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div style="height: 10rem;"></div>
        </div>
      </div>
    </div>
  </form>
</div>
