<card>

  <card-header>Edit invoice</card-header>

  <card-body>
    <div class="form">
      <div class="form-group">
        <form-label class="col-4">Invoice number</form-label>
        <input-text class="col-8" [disabled]="true" [(ngModel)]="invoice.invoiceNumber"></input-text>
      </div>
      <div class="form-group">
        <form-label class="col-4">Publisher ID</form-label>
        <input-text class="col-8" [disabled]="true" [(ngModel)]="invoice.publisher.id"></input-text>
      </div>
      <div class="form-group">
        <form-label class="col-4">Publisher name</form-label>
        <input-text class="col-8" [disabled]="true" [(ngModel)]="invoice.publisher.name"></input-text>
      </div>
      <div class="form-group">
        <form-label class="col-4">Merged billing ID</form-label>
        <input-text class="col-8" [disabled]="true" [(ngModel)]="invoice.publisher.managerId"></input-text>
      </div>
      <div class="form-group">
        <form-label class="col-4">Period</form-label>
        <input-text class="col-8" [disabled]="true" [(ngModel)]="invoice.periodForFront"></input-text>
      </div>
      <div class="form-group">
        <div class="col-4"></div>
        <div class="col-8">
          <div class="form-groups form-overlay">
            <div class="form-group">
              <div class="col-4 pr-1">
                <form-label>Amount</form-label>
                <input-decimal [disabled]="true" [(ngModel)]="invoice.amount.amount"></input-decimal>
              </div>
              <div class="col-4 pl-1">
                <form-label>Fee</form-label>
                <input-decimal [(ngModel)]="invoice.fee"></input-decimal>
              </div>
            </div>
            <div class="form-group">
              <div class="col-4 pr-1">
                <form-label>Payment terms</form-label>
                <input-text [disabled]="true" [value]="invoice.paymentInfo.paymentTerms | paymentTerms | async"></input-text>
              </div>
              <div class="col-4 pl-1">
                <form-label>Currency</form-label>
                <input-text [disabled]="true" [(ngModel)]="invoice.amount.currency"></input-text>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <form-label class="col-4">Date created</form-label>
        <input-text class="col-8" [disabled]="true" [value]="invoice.createdAt | dateFormatDynamic"></input-text>
      </div>
      <div class="form-group">
        <form-label class="col-4">Date paid</form-label>
        <input-text class="col-8" [disabled]="true" [value]="invoice.paidAt | dateFormatDynamic"></input-text>
      </div>
      <div class="form-group">
        <form-label class="col-4">Date rejected</form-label>
        <input-text class="col-8" [disabled]="true" [value]="invoice.rejectedAt | dateFormatDynamic"></input-text>
      </div>
      <div class="form-group">
        <form-label class="col-4">Status</form-label>
        <div class="col-8">
          <switcher *ngIf="invoice.availableStatuses.length" [(ngModel)]="invoice.status">
            <ng-container *ngFor="let status of invoice.availableStatusesArr;">
              <switcher-btn name="status" [value]="status.id" *ngIf="status.id !== 4">{{status.name}}</switcher-btn>
            </ng-container>
          </switcher>
          <badge *ngIf="!invoice.availableStatuses.length">{{ invoice.statusName }}</badge>
        </div>
      </div>
      <div class="form-group align-items-start">
        <form-label class="col-4">Notes</form-label>
        <area-input class="col-8" [(ngModel)]="invoice.notes"></area-input>
      </div>
      <div class="form-group align-items-start">
        <form-label class="col-4" [required]="true">App Promotions</form-label>
        <div class="col-8">
          <div class="form-groups form-overlay" *ngFor="let item of invoice.items; let $index = index;">

            <header [style.height.px]="28" class="d-flex align-items-center justify-content-between mb-2">
              <h4 class="mb-0"><b>{{ $index + 1 }}</b></h4>
              <ng-container *ngIf="invoice?.items?.length > 1">
                <btn [simple]="true" size="sm" (click)="removeItems($index)">
                  <i class="fa fa-close color-danger"></i>
                </btn>
              </ng-container>
            </header>

            <div class="form-group">
              <div class="col-12">
                <input-text placeholder="Name" [(ngModel)]="item.name"></input-text>
              </div>
            </div>
            <div class="form-group">
              <div class="col-4">
                <input-decimal placeholder="Sum" [(ngModel)]="item.amount.amount"></input-decimal>
              </div>
            </div>
          </div>

          <div class="form-overlay-btn">
            <btn (click)="addItem()">
              <i class="fa fa-plus mr-2"></i>
              <strong>Add</strong> promotion
            </btn>
          </div>
        </div>
      </div>
    </div>
  </card-body>

  <card-footer>
    <btn [simple]="true" routerLink="/manager/billing/publishers/invoices/list">Cancel</btn>
    <btn (click)="editPublisherInvoice()">
      Save Edits
    </btn>
  </card-footer>

</card>
