<div class="position-relative">

  <input
    #input
    [type]="type"
    class="form-control"
    [attr.placeholder]="placeholder"
    [attr.maxlength]="maxlength"
    [class.invalid]="invalid && touched"
    [value]="value"
    [formControl]="control"
    (focus)="markAsTouched()"
    (keypress)="onKeyPress($event)">

  <validation-message [control]="control" [target]="input"></validation-message>

</div>
