<app-filter #filterComponent>
  <ng-container filter-header>
    <timezone-select [(ngModel)]="filter.timezone"></timezone-select>
  </ng-container>

  <ng-container filter-content>
    <div class="row">
      <div class="col col-double col-br">
        <div class="row">
          <div class="col-12">
            <form-label>{{ "dynamicReports.breakdown" | translate }}</form-label>
          </div>
          <div class="col">
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.adv_name" [trueValue]="1" [falseValue]="0">
                {{'dynamicReports.advertiserName' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.date" [trueValue]="1" [falseValue]="0">
                {{'dynamicReports.date' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.month" [trueValue]="1" [falseValue]="0">
                {{'dynamicReports.month' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.pub_id" [trueValue]="1" [falseValue]="0">
                {{'dynamicReports.pubID' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.hour" [trueValue]="1" [falseValue]="0">{{'dynamicReports.hour' | translate}}
              </checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.countries" [trueValue]="1" [falseValue]="0">
                {{'dynamicReports.geography' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.sub_aff" [trueValue]="1" [falseValue]="0">
                {{'dynamicReports.subAffID' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.platforms" [trueValue]="1" [falseValue]="0">
                {{'dynamicReports.platforms' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.pub_name" [trueValue]="1" [falseValue]="0">
                {{'dynamicReports.publisherName' | translate}}</checkbox>
            </div>
          </div>
          <div class="col">
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.offer_id" [trueValue]="1" [falseValue]="0">
                {{'dynamicReports.offerID' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.goal_id" [trueValue]="1" [falseValue]="0">
                {{'dynamicReports.goalID' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.pub_man" [trueValue]="1" [falseValue]="0">
                {{'dynamicReports.affiliateManager' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.offer_real_id" [trueValue]="1" [falseValue]="0">
                {{'dynamicReports.realID' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.adv_man" [trueValue]="1" [falseValue]="0">
                {{'dynamicReports.accountManager' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.offer_name" [trueValue]="1" [falseValue]="0">
                {{'dynamicReports.offerName' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.non_zero_revenue" [trueValue]="1" [falseValue]="0">
                {{'dynamicReports.nonZeroRevenue' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.adv_id" [trueValue]="1" [falseValue]="0">
                {{'dynamicReports.advertiserID' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.hash" [trueValue]="1" [falseValue]="0">
                {{'dynamicReports.secretHash' | translate}}</checkbox>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <form-label>{{ "dynamicReports.applications" | translate }}</form-label>
        <div class="mb-1">
          <country-select [(ngModel)]="filter.countries_ids" [multiple]="true" [clearable]="false"
            [placeholder]="'dynamicReports.countriesSelect' | translate">
          </country-select>
        </div>
        <div class="mb-1">
          <input-text [placeholder]="'Sub Aff ID'" [(ngModel)]="filter.sub_aff_id"></input-text>
        </div>
        <div class="mb-1">
          <app-platforms-select [selectPlaceholder]="'dynamicReports.platformsSelect' | translate"
            [(ngModel)]="filter.platform_names" [multiple]="true" [clearable]="false">
          </app-platforms-select>
        </div>
      </div>
      <div class="col">
        <form-label>{{ "dynamicReports.offers" | translate }}</form-label>
        <div class="mb-1">
          <offer-select [clearable]="false" [placeholder]="'dynamicReports.offerIDSelect' | translate"
            [(ngModel)]="filter.offers_ids" [multiple]="true"></offer-select>
        </div>
        <div class="mb-1">
          <ng-select [placeholder]="'dynamicReports.offerTypeSelect' | translate"
            [items]="(trafficTypes$ | async)?.items" [virtualScroll]="true" bindLabel="value" bindValue="id"
            [(ngModel)]="filter.traffic_type">
          </ng-select>
        </div>
        <div class="mb-1">
          <app-tags-select [selectPlaceholder]="'dynamicReports.offerCategorySelect' | translate"
            [(ngModel)]="filter.categories_ids" [multiple]="true"></app-tags-select>
        </div>
        <div class="mb-1">
          <currency-select [placeholder]="'Currency'" [(ngModel)]="filter.total_currency" [clearable]="true">
          </currency-select>
        </div>
      </div>
      <div class="col">
        <form-label>{{ "dynamicReports.type" | translate }}</form-label>
        <div class="mb-1">
          <app-multy-live-select [clearable]="false" [apiUrl]="filterUrls.advertisers"
            [selectPlaceholder]="'dynamicReports.advertiserIDSelect' | translate" [multiple]="true"
            [(ngModel)]="filter.adv_ids"></app-multy-live-select>
        </div>
        <div class="mb-1">
          <app-multy-live-select [clearable]="false" [apiUrl]="filterUrls.publishers"
            [selectPlaceholder]="'dynamicReports.pubIDSelect' | translate" [multiple]="true"
            [(ngModel)]="filter.pub_ids"></app-multy-live-select>
        </div>
        <div class="mb-1">
          <app-multy-live-select [clearable]="false" [apiUrl]="filterUrls.managers"
            [selectPlaceholder]="'dynamicReports.managerIDSelect' | translate" [multiple]="true"
            [(ngModel)]="filter.man_ids"></app-multy-live-select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="slider" [ngClass]="{'open': additionalFilterIsOpen}">
        <div class="slider-btn slider-btn-more" translate="dynamicReports.more" (click)="toggleAdditionalFilter()">More
        </div>
        <div class="slider-content">
          <div class="col">
            <div class="row">
              <div class="col-12">
                <form-label>{{ "dynamicReports.dataColumns" | translate }}</form-label>
              </div>
              <div class="col">
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.clicks" [trueValue]="1" [falseValue]="0">
                    {{'dynamicReports.clicks' | translate}}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.pub_cr" [trueValue]="1" [falseValue]="0">
                    {{'dynamicReports.pubsCR' | translate}}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.back_url_clicks" [trueValue]="1" [falseValue]="0">
                    {{'dynamicReports.backTraffic' | translate}}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.rpa" [trueValue]="1" [falseValue]="0">
                    {{'dynamicReports.RPA' | translate}}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.rpc" [trueValue]="1" [falseValue]="0">
                    {{'dynamicReports.RPC' | translate}}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.conv" [trueValue]="1" [falseValue]="0">
                    {{'dynamicReports.conversions' | translate}}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.costs" [trueValue]="1" [falseValue]="0">
                    {{'dynamicReports.costs' | translate}}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.pub_conv" [trueValue]="1" [falseValue]="0">
                    {{'dynamicReports.pubsConversions' | translate}}</checkbox>
                </div>
              </div>
              <div class="col">
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.revenues" [trueValue]="1" [falseValue]="0">
                    {{'dynamicReports.revenues' | translate}}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.cpa" [trueValue]="1" [falseValue]="0">
                    {{'dynamicReports.CPA' | translate}}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.over_paid" [trueValue]="1" [falseValue]="0">
                    {{'dynamicReports.extraRevenues' | translate}}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.pub_cpa" [trueValue]="1" [falseValue]="0">
                    {{'dynamicReports.pubsCPA' | translate}}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.profit" [trueValue]="1" [falseValue]="0">
                    {{'dynamicReports.profit' | translate}}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.cpc" [trueValue]="1" [falseValue]="0">
                    {{'dynamicReports.CPC' | translate}}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.cr" [trueValue]="1" [falseValue]="0">{{'dynamicReports.CR' | translate}}
                  </checkbox>
                </div>
              </div>
              <div class="col">
                <form-label>{{ "dynamicReports.fraudColumns" | translate }}</form-label>
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.duplicates" [trueValue]="1" [falseValue]="0">
                    {{'dynamicReports.duplicates' | translate:{symbol:''} }}
                  </checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.duplicates_perc">
                    {{ "dynamicReports.duplicates" | translate:{symbol:'%'} }}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.min_fraud">
                    {{'dynamicReports.minFraud' | translate:{symbol:''} }}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.min_fraud_perc">
                    {{'dynamicReports.minFraud' | translate:{symbol:'%'} }}</checkbox>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="slider-btn slider-btn-less" (click)="toggleAdditionalFilter()" translate="dynamicReports.less">Less
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container filter-footer>
    <btn [simple]="true" (click)="resetFilters(); close()">{{ "dynamicReports.reset" | translate }}</btn>
    <btn (click)="applyFilters();">{{ "dynamicReports.apply" | translate }}</btn>
  </ng-container>
</app-filter>
