<div #modalContainer>

  <div #modalMove class="modal-container-move-js" [@modalFadeAnimation]="_showed">

    <div *ngIf="_showed"
         #modal
         class="modal-container modal-{{ size }}"
         [@modalFadeAnimation]="_showed"
         (@modalFadeAnimation.start)="_animationStart($event)"
         (@modalFadeAnimation.done)="_animationDone($event)"
         (click)="clickOverlay($event.target)">
      <card *ngIf="_showed">

        <button class="modal-close" (click)="close()">
          <i class="fa fa-close"></i>
        </button>

        <ng-content></ng-content>

      </card>
    </div>

  </div>
</div>
