@import "../../../../../theme/new-styles/base/variables";

.modal-container {
  box-shadow: 0 9px 21px 0 var(--shadow);
  margin: 0 auto;
  padding: 25px 0 25px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: scroll;

  card {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 9px 21px rgba(22,32,72,.15);
    position: relative;
  }

  &.modal-sm {
    card {
      max-width: 450px;
    }
  }

  &.modal-md {
    card {
      max-width: 650px;
    }
  }

  &.modal-lg {
    card {
      max-width: 750px;
    }
  }

  &.modal-xlg {
    card {
      max-width: 850px;
    }
  }
}

.modal-close {
  position: absolute;
  top: 21px;
  z-index: 99;
  margin-top: -12px;
  right: 10px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #58666e;
  font-size: 15px;
  background: transparent;
  border: none;

  &:hover {
    color: #f33155;
  }
}
