@import "variables";
@import "mixin";

card {
  height: 100%;
}

:host {
  ::ng-deep {
    .card {
      height: 100%;

      &-header {
        //flex-wrap: wrap;
        min-height: rem(40);
        height: 1px;
        padding: rem(4, 12);

        & > .col {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
        }

        [class*=col] {
          &:first-child {
            padding-left: 0;
            padding-right: rem(5);
          }
          &:last-child {
            padding-right: 0;
            padding-left: rem(5);
          }
        }
      }

      &-body {
        height: rem(225);
        padding: rem(16, 12);
        overflow-y: auto;
        overflow-x: hidden;
      }
    }

    .height-max {
      .card-body {
        height: rem(280);
      }
    }
  }
}

.filter-select {
  display: flex;
  ng-select {
    width: 130px;
  }
}
