<card>
  <card-header>
    <div class="col filter-select">
      <h4 class="pr-3">{{ "dashboard.topRanked" | translate }}</h4>
      <ng-container *ngIf="periods">
        <ng-select [(ngModel)]="selectedPeriod" [clearable]="false" (change)="setFilterPeriod()">
          <ng-option *ngFor="let key of objectKeys(periods)" [value]="key">
            {{periods[key]}}
          </ng-option>
        </ng-select>
      </ng-container>
    </div>
    <div class="col-auto">
      <switcher [(ngModel)]="rankedActive" (change)="setFilterPeriod()" size="sm">
        <switcher-btn name="select-one__radio-group1" value="advertisers">Advertisers</switcher-btn>
        <switcher-btn name="select-one__radio-group1" value="publishers">Publishers</switcher-btn>
        <switcher-btn name="select-one__radio-group1" value="offers">Offers</switcher-btn>
      </switcher>
    </div>
  </card-header>

  <card-body [class.height-max]="!nextPageExists">

    <h4 class="text-center" *ngIf="!topRankedItems[rankedActive].length">
      {{ "dashboard.noItems" | translate }}
    </h4>

    <ng-container *ngIf="topRankedItems[rankedActive].length">
      <ng-container *ngFor="let item of topRankedItems[rankedActive]; last as last">
        <div class="d-flex justify-content-between" [class.pb-3]="!last">
          <figure class="mb-0">
            <img *ngIf="!item.thumbnailUrl" src="assets/images/user-ico1.png" class="img-max-sm">
            <img *ngIf="item.thumbnailUrl" [src]="item.thumbnailUrl" class="img-max-sm">
          </figure>
          <div class="flex-grow-1 pl-3 pr-3">
            <div>
              <b [innerHtml]="item.name"></b>
            </div>
            <div>
              <span [innerHTML]="item.email"></span>
            </div>
          </div>
          <strong>{{item.amount.toFixed(2)}} {{item.currency}}</strong>
        </div>
      </ng-container>
    </ng-container>

  </card-body>

  <card-footer *ngIf="nextPageExists">
    <btn (click)="showMoreTopRankedItems()">
      {{ "dashboard.more" | translate }} <i class="fa fa-chevron-right ml-2"></i>
    </btn>
  </card-footer>

<!--  <app-loader [loading]="loading"></app-loader>-->
</card>
