<card>
  <card-body>

    <h1 class="mb-4">Confirm password</h1>

    <form novalidate [formGroup]="resetPass" (submit)="resetPassword()">

      <password class="mb-2" placeholder="New Password" formControlName="password"></password>
      <password class="mb-2" placeholder="Confirm Password" formControlName="confirmPassword"></password>

      <div class="text-center">
        <app-validation-message [control]="resetPass"></app-validation-message>
      </div>

      <btn class="mt-3" size="lg" [block]="true" [type]="'submit'">Confirm</btn>

    </form>

    <app-loader [loading]="loading"></app-loader>

  </card-body>
</card>
