@import "mixin";

:host {
  display: inline-flex;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-grow: 1;
  background-color: var(--table-background);
  border-radius: 0.25rem;
  height: 100%;
  width: 100%;

  &.bg-transparent {
    background-color: transparent;
  }
  padding-left: rem(8);
}

.table {
  width: 100%;
  max-width: 100%;
}
