<div class="badge badge-{{ size }} text-{{ textTransform }}"
  [class.badge-primary]="primary"
  [class.badge-info]="info"
  [class.badge-success]="success"
  [class.badge-warning]="warning"
  [class.badge-danger]="danger"
  [class.badge-secondary]="secondary"
  [class.badge-simple]="simple"
  [class.badge-contrast]="contrast"
  [class.badge-block]="block"
  [class.badge-truncate]="truncate">
  <ng-content></ng-content>
</div>
