<app-filter #filterComponent>
  <ng-container filter-content>
    <div class="row">
      <div class="col">
        <form-label>{{ "manageOffers.infoBox.geography" | translate }}</form-label>
        <div class="mb-1">
          <country-select [(ngModel)]="filter.countries" [multiple]="true" [clearable]="false"
            [placeholder]="'manageOffers.infoBox.geography' | translate">
          </country-select>
        </div>
      </div>
      <div class="col">
        <form-label>{{ "manageOffers.infoBox.categories" | translate }}</form-label>
        <div class="mb-1">
          <app-tags-select [(ngModel)]="filter.tags" [bindValue]="'name'"></app-tags-select>
        </div>
      </div>
      <div class="col">
        <form-label>{{ "manageOffers.infoBox.platform" | translate }}</form-label>
        <div class="mb-1">
          <app-platforms-select [(ngModel)]="filter.platforms"></app-platforms-select>
        </div>
      </div>
      <div class="col">
        <form-label>{{ "manageOffers.trafficType" | translate }}</form-label>
        <div class="mb-1">
          <ng-select [placeholder]="'Choose...'" [items]="(trafficTypes$ | async).items" bindLabel="value"
            bindValue="id" [(ngModel)]="filter.trafficType"></ng-select>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-12">
            <form-label>{{ "manageOffers.showOnly" | translate }}</form-label>
          </div>
          <div class="col-12">
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.newOffers" [trueValue]="1" [falseValue]="0">{{'manageOffers.newOffers' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.approved" [trueValue]="1" [falseValue]="0">{{'manageOffers.approvedOffers' | translate}}</checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container filter-footer>
    <btn [simple]="true" (click)="resetFilters(); close()">{{ "dynamicReports.reset" | translate }}</btn>
    <btn (click)="applyFilters();">{{ "dynamicReports.apply" | translate }}</btn>
  </ng-container>
</app-filter>
