<modal #invoiceModal customClass="adv-invoices" containerClass="approval-modal">

  <modal-header>
    Approve payment: {{ invoiceForModal?.advertiserId }} | {{ invoiceForModal?.month }}
  </modal-header>

  <modal-body>
    <form [formGroup]="form" onsubmit="return false">
      <table class="table">
        <thead>
          <tr>
            <td>Paid</td>
            <td>Account</td>
            <td>Account date</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input-decimal formControlName="paid"></input-decimal>
            </td>
            <td>
              <input-decimal formControlName="accountNumber"></input-decimal>
            </td>
            <td>
              <date-picker [position]="'right'" formControlName="accountDate"></date-picker>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr>
            <td>Received</td>
            <td>Date</td>
            <td>Notes</td>
            <td></td>
          </tr>
        </thead>
        <tbody formGroupName="payments">
          <tr *ngFor="let item of payments.controls; let $index = index" [formArrayName]="$index">
            <td>
              <input-decimal [min]="0.01" formControlName="amount"></input-decimal>
            </td>
            <td>
              <date-picker formControlName="date"></date-picker>
            </td>
            <td>
              <area-input formControlName="notes"></area-input>
            </td>
            <td>
              <btn [danger]="true" *ngIf="payments.controls.length > 1" (click)="removePayment($index)">
                <i class="fa fa-remove"></i>
              </btn>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </modal-body>

  <modal-footer>
    <btn [simple]="true" (click)="invoiceModal.close()">Cancel</btn>
    <btn (click)="changeStatus()">Save</btn>
  </modal-footer>

  <app-loader [loading]="loading"></app-loader>

</modal>
