tbody {
  background: var(--form-control-overlay);
  border-radius: 3px;

  td {
    width: 29%;
    padding: 15px 5px;

    &:first-of-type {
      padding-left: 15px;
    }

    &:last-of-type {
      padding-right: 15px;
    }
  }
}
