<full-page *ngIf="(publishers$ | async) as publishers">
  <app-users-publishers-filter #filterComponent [filter]="filter" (onApply)="applyFilters($event)"
    (onCancel)="applyFilters($event)">
  </app-users-publishers-filter>
  <page-head>
    <div class="col">
      <app-search [filter]="filter"></app-search>
    </div>
    <div class="col-auto">
      <btn [simple]="true" size="lg" class="mr-2" (click)="filterComponent.open()">
        <i class="fa fa-search mr-1"></i>{{ "pubManage.advanceSearch" | translate }}
      </btn>
      <btn size="lg" routerLink="/manager/publishers/create" *hasPermission="['manage_publishers']">
        <i class="fa fa-user-plus mr-1"></i>{{ "pubManage.createPub" | translate }}
      </btn>
    </div>
  </page-head>
  <page-body tableSync [data]="publishers?.items">
    <ng-container *ngIf="publishers?.items?.length">
      <table-head>
        <tr>
          <th>
            <p>#</p>
            <b appSortBy="status" [filter]="filter">{{ "pubManage.status" | translate }}</b>
          </th>
          <th>
            <b appSortBy="username" [filter]="filter">{{ "pubManage.userName" | translate }}</b>
            <b appSortBy="email" [filter]="filter">{{ "pubManage.email" | translate }}</b>
          </th>
          <th>
            <b appSortBy="registered" [filter]="filter">{{ "pubManage.registered" | translate }}</b>
            <p>{{ "pubManage.notes" | translate }}</p>
          </th>
          <th>
            <b appSortBy="manager" [filter]="filter">{{ "pubManage.manager" | translate }}</b>
            <p>{{ "pubManage.postbackUrl" | translate }}</p>
            <p>{{ "pubManage.superlinkURL" | translate }}</p>
          </th>
          <th>
            <p>{{ "pubManage.pubID" | translate }}</p>
            <p>
              <b class="inline-block clickable semi-bold"
                 appSortBy="pt" [filter]="filter">{{ "pubManage.pt" | translate }}</b>
            </p>
            <p>
              <b class="inline-block clickable semi-bold"
                 appSortBy="ptSuperlink" [filter]="filter">{{ "pubManage.ptSuperlink" | translate }}</b>
            </p>
            <p>
              <b class="inline-block clickable semi-bold"
                 appSortBy="payPercent" [filter]="filter">{{ "pubManage.payPercent" | translate }}</b>
            </p>
          </th>
          <th>&nbsp;</th>
        </tr>
      </table-head>
      <table-body>
        <tr *ngFor="let publisher of publishers?.items;">
          <td [style.width.px]="162" [style.max-width.px]="162">
            <div [style.width.px]="114">
              <badge [simple]="true" [truncate]="true" [popover]="publisher.id" [placement]="'right'">
                {{publisher.id}}
              </badge>
              <div class="mb-1"></div>
              <app-user-statuses [statuses]="(statuses$ | async)?.items" [statusSelected]="publisher.status"
                (changeStatusEvent)="popover.show($event)" [permission]="['manage_publishers']" [trigger]="''"
                [placement]="'right'" [popover]="statusChange" #popover="popover"
                [context]="{publisher: publisher, popover: popover}">
              </app-user-statuses>
            </div>
          </td>
          <td [style.width.px]="200">
            <strong class="word-break">{{publisher.username}}</strong>
            <p>{{publisher.email}}</p>
            <badge *ngIf="publisher.badTraffic" [danger]="true">
              {{ "pubManage.badTraffic" | translate }}
            </badge>
            <div class="mb-1"></div>
          </td>
          <td [style.width.px]="200">
            <badge [secondary]="true" [popover]="popoverPubDate" [context]="{ publisher: publisher }">
              {{ publisher.createdAt | timezone | dateFormat:true:false:'MMMM YYYY' }}
            </badge>
            <div class="mb-1"></div>
            <badge size="lg" [block]="true" [simple]="true" *ngIf="publisher.notes">
              <i class="fa fa-comment mr-1"></i>{{publisher.notes}}
            </badge>
          </td>
          <td [style.width.px]="180">
            <strong *ngIf="publisher.manager.username">{{publisher.manager.username}}</strong>
            <div class="mb-1"></div>
            <badge class="d-inline-flex mr-1" [secondary]="true" *ngIf="publisher.ipWhitelist.ipWhitelist.length"
              [popover]="popoverIp">
              IP
            </badge>
            <div class="mb-1"></div>
            <ng-template #popoverIp>
              <div *ngFor="let ip of publisher.ipWhitelist.ipWhitelist">{{ ip }}</div>
            </ng-template>
            <badge class="d-inline-flex" *ngIf="publisher.postback || publisher.postbackSuperlinkUrl" [secondary]="true"
              [popover]="popoverPostback" [context]="{ publisher: publisher }">
              <i class="fa fa-link"></i>
            </badge>
            <div class="mb-1"></div>
            <badge class="d-inline-flex" *ngIf="publisher.antiFraud" [primary]="true">
              Anti Fraud
            </badge>
            <div class="mb-1"></div>
            <badge class="d-inline-flex" *ngIf="publisher.autoApprove" [warning]="true">
              Auto Approve
            </badge>
            <div class="mb-1"></div>
            <badge class="d-inline-flex" *ngIf="publisher.resale.enabled" [primary]="true">
              Resale
            </badge>
          </td>
          <td [style.width.px]="150">
            <badge [simple]="true" [truncate]="true" [popover]="publisher.externalId">
              {{publisher.externalId}}
            </badge>
            <div class="mb-1"></div>
            <badge class="d-inline-flex mr-1" [simple]="true">
              {{publisher.paymentTerms | paymentTerms | async}}
            </badge>
            <div class="mb-1"></div>
            <badge class="d-inline-flex mr-1" [warning]="true">
              {{publisher.paymentTermsSuperlink | paymentTermsSuperlink | async}}</badge>
            <div class="mb-1"></div>
            <badge class="d-inline-flex" [info]="true" *ngIf="publisher.percentPay">{{publisher.percentPay}}%
            </badge>
          </td>
          <td class="text-right" [style.width.px]="200">
            <btn size="sm" [outline]="true" [appCopyToClipboard]="publisher.token">
              {{ "pubManage.copyToken" | translate }}
            </btn>
            <app-actions>
              <a class="actions-option action-edi" *hasPermission="['manage_publishers']"
                [routerLink]="['/', 'manager', 'publishers', 'edit', publisher.id]">
                {{ "pubManage.edit" | translate }}
              </a>
              <a class="actions-option action-login-as"
                *hasPermission="['login_as_any_publisher','login_as_own_publisher']"
                (click)="loginAs(publisher.id)">Login As</a>
              <a *ngIf="isCheckerEnabled" [routerLink]="['/', 'manager', 'publishers', 'check', publisher.id]"
                class="actions-option action-check">Check</a>
              <a class="actions-option action-trash" *hasPermission="['manage_approvals']"
                (click)="approvals.openModal(publisher.id, publisher.username)">Remove
                approve offers</a>
            </app-actions>
          </td>
        </tr>
      </table-body>
      <table-control *ngIf="publishers?.items.length" [filter]="filter" [pagination]="publishers">
      </table-control>
    </ng-container>
    <app-no-data *ngIf="!publishers?.items?.length && !loading"></app-no-data>
  </page-body>
</full-page>

<app-loader [loading]="loading"></app-loader>

<ng-template #popoverPubDate let-publisher="publisher">
  <div>
    <span>{{ 'pubManage.registered' | translate }}: </span>
    <strong>{{publisher.createdAt | dateFormatDynamic:true}}</strong>
  </div>
  <div>
    <span>{{ 'pubManage.updated' | translate }}: </span>
    <strong>{{publisher.updatedAt | dateFormatDynamic:true}}</strong>
  </div>
</ng-template>

<!-- TODO - На данном этапе это предложение, нужно обсудить с дизайнерами -->
<ng-template #statusChange let-popover="popover" let-publisher="publisher">
  <div class="change-status-popover">
    <strong>Are you sure to change status?</strong>
    <btn (click)="changeStatus(popover.$event, publisher); popover.hide()">Change</btn>
    <btn [simple]="true" (click)="popover.hide()">Cancel</btn>
  </div>
</ng-template>
<app-users-publishers-approvals #approvals></app-users-publishers-approvals>


<ng-template #popoverPostback let-publisher="publisher">
  <p *ngIf="publisher?.postbackUrl">
    <span>Main postback: </span><br>
    <span>{{ publisher?.postbackUrl }}</span>
  </p>
  <p *ngIf="publisher?.postbackSuperlinkUrl">
    <span>Postback superlink url: </span><br>
    <span>{{ publisher?.postbackSuperlinkUrl }}</span>
  </p>
</ng-template>
