@import "variables";
@import "mixin";

.checkbox {
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  margin-bottom: 0;

  &:hover {
    input:not(:disabled):not(:checked) {
      & + .fa {
        background-color: var(--form-control-background-unckeck-hover);
        border: 1px solid var(--form-control-border-unckeck-hover);
      }
    }
  }

  input {
    display: none;

    &:checked {
      & + .fa {
        background-color: var(--form-control-border-focus);
        border-color: var(--form-control-border-focus);

        &:before {
          opacity: 1;
        }
      }
    }

    &:active:not(:disabled) {
      & + .fa {
        background-color: var(--form-control-border-focus);
        border-color: var(--form-control-border-focus);

        &:before {
          opacity: .6;
        }
      }
    }

    &:disabled {
      & + .fa {
        border-color: var(--form-control-border-disabled);
        background-color: var(--form-control-background-disabled);
        color: var(--form-control-color-disabled);
      }

      & ~ span {
        color: var(--form-control-placeholder);
      }
    }
  }

  .fa {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(24);
    min-width: rem(24);
    height: rem(24);
    border: 1px solid var(--form-control-border);
    background-color: var(--form-control-background);
    border-radius: $border-radius;
    color: var(--form-control-background);
    transition: .15s;

    &:before {
      opacity: 0;
      transition: .15s;
    }
  }

  span {
    display: block;
    margin-top: rem(3.44);
    margin-left: rem(8);

    &:empty {
      margin-left: 0;
    }
  }
}
