//@import "../../base/index";
@import "~bootstrap/scss/bootstrap-grid.scss";
@import "variables";
@import "mixin";

.form {
  &-overlay {
    background-color: var(--form-control-overlay);
    border-radius: $border-radius;
    margin: rem(-8);
    padding: rem(8);

    header {
      .btn-link {
        padding: 0;

        .fa-close {
          color: var(--form-control-color-error);
          margin-right: 0;
          margin-left: rem(4);
        }
      }
    }


    &-btn {
      background-color: var(--form-control-overlay);
      border-radius: $border-radius;
      margin: rem(-8, -8, 8);

      .btn {
        background-color: transparent;
        width: 100%;
        color: var(--form-control-color);

        .fa-plus {
          color: var(--form-control-color-active);
        }
      }
    }
  }
  &-group {
    @extend .row;
    @extend .align-items-center;

    form-label label {
      font-size: rem(12);
      letter-spacing: rem(0.2);
      margin-bottom: rem(4);
    }

    &.align-items-start {
      @extend .align-items-start;
    }

  }
  &-group, &-groups {
    margin-bottom: rem(16);
  }
  &-groups {
    .form-group:last-child {
      margin-bottom: 0;
    }
  }
  &-password {
    position: relative;

    &.show-password {
      .form-control {
        font-size: rem(13);
      }

      .btn {
        .fa-eye {
          display: block;
        }

        .fa-eye-slash {
          display: none;
        }
      }
    }

    .btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      background-color: transparent;
      border: none;
      color: var(--form-control-color);
      padding: rem(8);
      z-index: 11;

      .fa {
        margin: 0;
      }

      .fa-eye {
        color: var(--form-control-color-active);
        display: none;
      }
      .fa-eye-slash {
        color: var(--form-control-color-disabled);
        display: block;
      }
    }
  }
  &-control {
    display: inline-flex;
    width: 100%;
    height: $inputHeight;
    padding: rem(5.6, 8);
    font-size: rem(13);
    line-height: 1;
    color: var(--form-control-color);
    background-color: var(--form-control-background);
    border: 1px solid var(--form-control-border);
    border-radius: $border-radius;
    position: relative;
    transition:
      border-color .15s ease-in-out,
      box-shadow .15s ease-in-out;

    &::placeholder {
      color: var(--form-control-placeholder);
      opacity: $opacity-hover;
      transition: opacity .15s ease-in-out;
    }

    @at-root {
      input[type="radio"]#{&},
      input[type="checkbox"]#{&} {
        width: auto;
      }

      textarea#{&} {
        padding: rem(5.6, 8);
        height: auto;
        overflow: auto;
        resize: vertical;
        line-height: 1.3846;
      }
    }

    &.hover,
    &:hover {
      box-shadow: 0 0 1px 1px var(--form-control-background-disabled) !important;
      z-index: 10;
    }

    &.focus,
    &:focus {
      background-color: var(--form-control-background-focus) !important;
      color: var(--form-control-color-focus) !important;
      border-color: var(--form-control-border-focus) !important;
      z-index: 5;

      &::placeholder {
        opacity: 0;
      }

      &:hover {
        box-shadow: 0 0 1px 1px var(--form-control-background-focus) !important;
      }
    }

    &.invalid {
      border-color: var(--form-control-border-error) !important;
      color: var(--form-control-color-error) !important;
      background-color: var(--form-control-background-error) !important;

      &:hover {
        box-shadow: 0 0 1px 1px var(--form-control-background-error) !important;
      }

      &:focus {
        border-color: inherit !important;
      }
    }
    &[disabled], &:disabled, &.disabled {
      border-color: var(--form-control-border-disabled) !important;
      color: var(--form-control-color-disabled) !important;
      background-color: var(--form-control-background-disabled) !important;

      &:hover {
        box-shadow: none !important;
      }
    }
  }
}

/* form-file */
.form-file {
  &-label {
    font-weight: 600;
    min-width: rem(45);
    margin-bottom: 0;
  }
  &-input {
    display: none;
  }
}
/* end form-file */
