@import "variables";
@import "mixin";

.input-group {
  position: relative;
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;

  > *:not(btn) {
    width: 100%;
  }

  .form-control {
    position: relative;
    z-index: 1;
  }

  &-symbol {

    .form-control {
      padding-left: rem(8);
      padding-right: rem(20);
      border-radius: $border-radius !important;
    }

    > .fa {
      position: absolute;
      display: block;
      transform: translate(0, -50%);
      top: 50%;
      left: 0;
      pointer-events: none;
      width: rem(24);
      text-align: center;
      font-style: normal;
      font-weight: 400;
      z-index: 11;
    }
  }

  > btn > .btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(16);
    border-radius: $border-radius;
    //background-color: var(--control-background);
    //border: 1px solid var(--control-border);
    line-height: 1;
    font-weight: 300;
    padding-left: rem(5, !important);
    padding-right: rem(5, !important);
    min-width: rem(30, !important);
    z-index: 9;
    //color: var(--control-color-primary);

    &:hover {
      //box-shadow: 0 0 1px 1px var(--control-shadow) !important;
      //color: var(--control-color-primary-hover);
      //z-index: 10;
    }

    &:active {
      //color: var(--control-color-primary-active);
    }
  }

  &:not(.input-group-icon-prepend) {

    .form-control {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    > btn > .btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &.input-group-symbol {
      > * + i.fa  {
        left: auto;
        right: 0;
      }

      .validation-icon {
        right: 20px;
      }
    }

  }

  &-icon-prepend {
    flex-direction: row-reverse;

    > btn > .btn {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .form-control {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &.input-group-symbol {
      .form-control  {
        padding-left: rem(20);
        padding-right: rem(8);
      }

      > * + i.fa  {
        left: 0;
        right: auto;
      }
    }
  }
}
