@import "variables";
@import "mixin";

.select-custom {
  position: relative;
  display: inline-flex;

  &-success {
    .select-custom-input {
      background-color: var(--select-custom-background-success);
    }
    .select-custom-btn {
      background-color: var(--select-custom-btn-background-success);
    }
  }

  &-danger {
    .select-custom-input {
      background-color: var(--select-custom-background-danger);
    }
    .select-custom-btn {
      background-color: var(--select-custom-btn-background-danger);
    }
  }

  &-warning {
    .select-custom-input {
      background-color: var(--select-custom-background-warning);
    }
    .select-custom-btn {
      background-color: var(--select-custom-btn-background-warning);
    }
  }

  &-input {
    display: inline-flex;
    align-items: center;
    width: rem(90);
    height: $inputHeight;
    padding: rem(6, 12);
    margin-right: rem(2.4);
    border-radius: $border-radius;
    font-size: rem(16);
    line-height: 1;
    color: var(--select-custom-color);
    background-color: var(--select-custom-background-primary);
  }

  &-drop {
    position: absolute;
    top: calc(100% + .25rem);
    left: 0;
    right: 0;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s ease-in-out, visibility .15s ease-in-out;

    .open & {
      opacity: 1;
      visibility: visible;
    }
  }

  &-list {
    padding: rem(6, 0);
    margin-bottom: 0;
    list-style: none;
    border-radius: $border-radius;
    box-shadow: 0 9px 21px var(--shadow);

    li {
      padding: rem(8, 12);
      font-size: rem(16);
      line-height: 1;
      font-weight: 500;
      color: var(--form-control-color);
      cursor: pointer;
      transition: color .15s ease-in-out, background-color .15s ease-in-out;

      &[data-status*='Unrequested'] {
        &:hover, &.hover {
          color: var(--select-custom-color-primary);
          background-color: var(--select-custom-background-primary);
        }
      }

      &[data-status*='Approved'] {
        &:hover, &.hover {
          color: var(--select-custom-color-success);
          background-color: var(--select-custom-background-success);
        }
      }

      &[data-status*='Pending'] {
        &:hover, &.hover {
          color: var(--select-custom-color-warning);
          background-color: var(--select-custom-background-warning);
        }
      }

      &[data-status*='Rejected'] {
        &:hover, &.hover {
          color: var(--select-custom-color-danger);
          background-color: var(--select-custom-background-danger);
        }
      }

      &.selected {
        background-color: transparent !important;
        color: var(--select-custom-color-disabled) !important;
        cursor: default;
      }
    }
  }

  &-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $inputHeight;
    height: $inputHeight;
    color: var(--select-custom-btn-color);
    border-radius: $border-radius;
    background-color: var(--select-custom-btn-background-primary);
    border: none;
    transition: opacity .15s ease-in-out;

    .open & {
      .fa {
        transform: rotate(180deg);
      }
    }

    &:hover, &.hover {
      opacity: .85;
    }

    &:active {
      opacity: .9;
    }

    .fa {
      font-size: rem(20);
      font-weight: 700;
    }
  }
}
