@import "variables";
@import "mixin";

.ng-select {
  &.ng-select-focused {
    &:not(.ng-select-opened) {
      & >.ng-select-container {
        border-color: var(--form-control-border-focus);
        box-shadow: none;
      }
    }
  }

  &.ng-select-focused.ng-invalid,
  &.ng-touched.ng-invalid {
    .ng-select-container {
      border-color: var(--form-control-border-error);
      background: var(--form-control-background-error);

    }
  }

  &.ng-select-opened {
    & > .ng-select-container {
      border-color: var(--form-control-border-focus);

      .ng-arrow {
        top: 0;
        transform: rotate(180deg);
      }
    }

    &.ng-select-bottom {
      & >.ng-select-container {
        border-radius: $border-radius;
      }
    }
  }

  .ng-select-container {
    min-height: $inputHeight;
    background-color: var(--form-control-background);
    border-color: var(--form-control-border);
    border-radius: $border-radius;
    color: var(--form-control-color) !important;
    transition: border-color .15s ease-in-out;
    z-index: 10 !important;

    .ng-value-container {
      padding-right: 10px;
      .ng-placeholder {
        color: var(--form-control-placeholder);
      }
    }

    &:hover {
      border-color: var(--form-control-border-focus);

      .header & {
        border-color: transparent;
      }
    }
  }

  .ng-arrow-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: rem(24);

    .ng-arrow {
      width: auto !important;
      height: auto !important;
      border: none;
      font-size: rem(24);
      line-height: 1;
      color: var(--form-control-color-active);
      font-family: FontAwesome;
      transition: color .15s ease-in-out;

      &::before {
        content: '\f107';
      }
    }

    //&:hover {
    //  color: var(--control-color-primary-hover);
    //}
  }

  .ng-clear-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: rem(24, !important);

    .ng-clear {
      font-size: rem(24);
      line-height: 1;
      color: var(--form-control-color);
      transition: color .15s ease-in-out;
    }
  }

  .ng-dropdown-panel {
    border: none;
    box-shadow: 0 9px 21px var(--shadow);
    z-index: 333 !important;

    &.ng-select-bottom {
      margin-top: rem(4);
    }

    .ng-dropdown-panel-items {
      .ng-option {
        color: var(--form-control-color);

        &.ng-option-marked {
          background-color: var(--form-control-background-disabled);
        }

        &.ng-option-selected,
        .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
          color: var(--form-control-color);
          background-color: var(--form-control-background-unckeck-hover);
        }
      }
    }
  }

  .ng-spinner-loader {
    position: absolute !important;
    right: 1px !important;
    top: 50% !important;
    margin-top: -7px !important;
  }

  &.ng-select-single {
    .ng-select-container {
      height: $inputHeight;
    }
  }

  &.ng-select-multiple {

    .ng-select-container {
      .ng-value-container {
        padding-top: rem(3);

        .ng-value {
          display: flex;
          align-items: center;
          margin-bottom: rem(3);
          color: var(--form-control-background);
          background-color: var(--form-control-color-active);
          border-radius: $border-radius;
          font-size: rem(13);
          height: rem(24);

          .ng-value-icon {
            padding: rem(2.4, 6.16, 0);

            &.left {
              display: inline-flex;
              align-items: center;
              height: 100%;
              font-size: rem(16);
              line-height: 1;
              font-weight: 700;
              border-bottom-left-radius: $border-radius;
              border-top-left-radius: $border-radius;
              border-right: 1px solid var(--form-control-border) !important;
              transition: background-color .15s ease-in-out;

              &:hover {
                background-color: var(--form-control-border-error);
              }
            }
          }

          .ng-value-label {
            padding: rem(0, 6.16);
          }
        }
      }
    }
  }
}
