@import "variables";
@import "mixin";

/* switch */
.switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $inputHeight;
  padding: rem(2, 2.4);
  background-color: var(--form-control-background);
  border: 1px solid var(--form-control-border);
  border-radius: $border-radius;
  outline: none !important;

  &.invalid {
    border-color: var(--form-control-border-error);
    background-color: var(--form-control-background-error);
  }

  &-inline {
    display: inline-flex;
    width: auto;

    .switch-btn {
      flex: 1 0 auto;
      max-width: none;
      width: auto;
    }
  }

  &-btn {
    display: flex;
    flex: 1;
    margin-left: rem(2.0688);
    margin-right: rem(2.0688);
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    background-color: transparent;
    color: var(--form-control-placeholder);
    font-size: rem(13);
    line-height: 1;
    font-weight: 500;
    border-radius: $border-radius;
    padding: rem(4, 4, 5);
    cursor: pointer;
    backface-visibility: hidden;
    transition: all .3s;
    user-select: none;

    &:hover {
      opacity: .85;
    }

    &:active {
      opacity: .9;
    }

    &.checked {
      background-color: var(--button-primary-background);
      color: var(--button-primary-color);
      box-shadow: 0 4px 10px var(--form-control-shadow-focus);

      &.switch-btn-danger {
        color: var(--button-danger-background) !important;
        border-color: var(--button-danger-background) !important;
        box-shadow: none !important;
        background-color: transparent !important;
      }

      & + & {
        &::before {
          display: none;
        }
      }
    }
  }

  &-sm {
    height: rem(24);

    .switch-btn {
      padding: rem(2, 4, 1);
    }
  }

  &-input {
    display: none;
  }

  &.disabled {
    .switch-btn {
      cursor: default;

      &.checked {
        background-color: var(--form-control-color-disabled);

        &:hover {
          color: var(--form-control-background-hover);
        }
      }

      &:hover {
        color: var(--form-control-placeholder);
      }
    }
  }
}
/* end switch */
