@import "variables";
@import "mixin";

.tags {
  display: inline-flex;
  flex-wrap: wrap;
  color: var(--form-control-color);
  height: auto;
  min-height: $inputHeight;
  padding: rem(3, 0, 0, 3);

  .tag {
    position: relative;
    max-width: rem(200);
    padding: rem(0, 22, 0, 8);
    margin-right: rem(3);
    margin-bottom: rem(3);
    height: rem(24);
    background-color: var(--form-control-color-active);
    color: var(--form-control-background);
    border-radius: $border-radius;

    > div {
      max-width: 100%;
      height: 100%;
      padding: rem(6, 0);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .tag-remove {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--form-control-background);
    background: transparent;
    border: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .tag-input {
    background-color: transparent;
    border: none;
    padding-left: rem(7);
    margin: rem(0, 4, 0, 3);
    letter-spacing: 0;
    width: rem(140);
    height: rem(24);
  }

  &.disabled {
    .tag-input {
      display: none;
    }
    .tag {
      padding: rem(0, 8);
      background-color: var(--form-control-color-disabled) !important;
    }
  }
}
