<full-page>

  <page-head class="pb-4">
    <div class="col"></div>
    <div class="col-auto">
      <date-range-picker
        [startDate]="params.date_from"
        [endDate]="params.date_to"
        (onApply)="calendarCallback($event)">
      </date-range-picker>
    </div>
  </page-head>

  <page-body tableSync [data]="invoices?.items">

    <ng-container *ngIf="invoices?.items?.length">

      <table-head>
        <tr>
          <th>{{ "advertBillingMerged.table.period" | translate }}</th>
          <th>Name</th>
          <th>
            Advertiser name
            <br>
            Advertiser ID
          </th>
          <th>Our Amt.</th>
          <th>Adv. Amt.</th>
          <th>Discrepancy</th>
          <th>Delay</th>
          <th></th>
        </tr>
      </table-head>

      <table-body>
        <tr *ngFor="let invoice of invoices.items; let $index = index;">
          <td>
            <b>{{ invoice.mergedEndMonth + ' - ' + invoice.mergedStartMonth }}</b>
            <br />
            <badge [secondary]="true">{{ invoice.sendStatusValue }}</badge>
          </td>
          <td>{{ invoice.mergedName }}</td>
          <td>
            <span [popover]="nameTemplate" placement="right">
              {{ invoice.advertiserName }}
              <ng-template #nameTemplate>
                Managed by {{ invoice.mergedName }}
              </ng-template>
            </span>
            <div class="mb-1"></div>
            <badge [truncate]="true" [simple]="true" [popover]="invoice.advertiserId" placement="right">
              {{ invoice.advertiserId }}
            </badge>
          </td>
          <td [style.width.px]="150">
            <badge>{{ invoice.ourAmount }} {{ invoice.currency }}</badge>
          </td>
          <td [style.width.px]="150">
            <badge>{{ invoice.advertiserAmount }} {{ invoice.currency }}</badge>
          </td>
          <td [style.width.px]="150">
            <badge [primary]="true">{{ invoice.discrepancy }}</badge>
          </td>
          <td [style.width.px]="150">
            <badge [secondary]="true">{{ invoice.delay }}</badge>
          </td>
          <td [style.width.px]="100" class="text-right">
            <div class="mb-1">
              <btn-icon icon="eye"
                        [popover]="'Preview'"
                        placement="left"
                        [routerLink]="['/', 'manager', 'billing','advertisers', 'invoices-merged', 'info', invoice.id]">
              </btn-icon>
            </div>
            <div class="mb-1">
              <btn-icon icon="download"
                        [popover]="'Download'"
                        placement="left"
                        (click)="downloadMergedInvoices(invoice.id)">
              </btn-icon>
            </div>
            <div class="mb-1">
              <btn-icon icon="send"
                        [popover]="'Send'"
                        placement="left"
                        (click)="sendMergedInvoice(invoice.id)">
              </btn-icon>
            </div>
            <btn-icon icon="trash-o"
                      [popover]="'Remove'"
                      placement="left"
                      (click)="deleteMergedInvoice(invoice.id, $index)">
            </btn-icon>
          </td>
        </tr>
      </table-body>

<!--   TODO - Эту конструкцию можно будет поменять на table-control после рефакторинга ts   -->

      <div class="row pt-3 justify-content-end">
        <div class="col-auto">
          <page-control>
            <table-limit [limit]="invoices.limit" (changedLimit)="tableLimit($event)"></table-limit>
            <table-pagination [page]="invoices.page" [totalPages]="invoices.totalPages" (currentPage)="goToPage($event)"></table-pagination>
          </page-control>
        </div>
      </div>

    </ng-container>

    <app-no-data *ngIf="!invoices?.items?.length && !loading"></app-no-data>

  </page-body>

</full-page>

<app-loader [loading]="loading"></app-loader>
