:host {
  display: flex !important;
  flex-grow: 1 !important;
  flex-direction: column !important;
  width: 100%;

  ::ng-deep {
    app-no-data {
      display: block;
      margin-top: 25px;
    }

    cdk-virtual-scroll-viewport {
      flex-grow: 1;
      height: 100%;
      width: 100%;
      background-color: var(--table-background);
      border-radius: 0.25rem;
    }
  }
}
