<div [style.padding-right.px]="scrollbarWidth">
  <table class="table table-head table-head-tableSync"
         [class.table-separated]="separated"
         [class.table-border-row]="bordered"
         [class.table-striped]="striped"
         [class.table-row]="row">
    <ng-content></ng-content>
  </table>
</div>
