<full-page *ngIf="(reports$ | async) as reports">

  <app-system-superlink-statistics-filter #filterComponent [filter]="filter" (onApply)="applyFilters($event)"
                                          (onCancel)="applyFilters($event)"></app-system-superlink-statistics-filter>

  <page-head>

    <div class="col page-nav">
      <a [routerLink]="['/', 'manager', 'superlink', 'system', 'statistics', 'system-statistics']"
         routerLinkActive="current" *hasPermission="['access_superlink_system_statistics']">
        <span translate="dynamicReports.dynamic"></span>
      </a>
      <a [routerLink]="['/', 'manager', 'superlink', 'system', 'statistics', 'system-conversions-statistics']"
         [queryParams]="{ offers_ids: (filter.offers_ids) ? filter.offers_ids[0] : null }"
         [routerLinkActive]="['current']" *hasPermission="['access_superlink_system_conversion']">
        <span translate="dynamicReports.conversions">Conversions</span>
      </a>
    </div>

    <div class="col-auto d-flex align-items-center">

      <date-range-picker [startDate]="filter.datetime_from" [endDate]="filter.datetime_to"
                         (onApply)="calendarCallback($event)">
      </date-range-picker>
      <btn class="ml-3" [simple]="true" (click)="filterComponent.open()">
        {{ "conversionReports.filter" | translate }}
        <i class="fa fa-filter ml-1"></i>
      </btn>
    </div>

  </page-head>

  <page-body tableSync [data]="reports?.items">

    <ng-container *ngIf="reports?.items?.length">

      <table-head>
        <tr>
          <th *ngIf="filter.date || filter.month || filter.hour">
            <b class="clickable" *ngIf="filter.date" appSortBy="date" [filter]="filter">{{ "dynamicReports.date" | translate }}</b>
            <b class="clickable" *ngIf="filter.month" appSortBy="month" [filter]="filter">{{ "dynamicReports.month" | translate }}</b>
            <b class="clickable" *ngIf="filter.hour" appSortBy="hour" [filter]="filter">{{ "dynamicReports.hour" | translate }}</b>
          </th>
          <th *ngIf="filter.group_name || filter.resale_name">
            <p *ngIf="filter.group_name">{{ "dynamicReports.groupName" | translate }}</p>
            <p *ngIf="filter.resale_name">{{ "dynamicReports.resaleName" | translate }}</p>
          </th>
          <th *ngIf="filter.countries || filter.platforms">
            <b *ngIf="filter.countries" class="clickable" appSortBy="country" [filter]="filter">{{ "dynamicReports.country" | translate }}</b>
            <b *ngIf="filter.platforms" class="clickable" appSortBy="platform" [filter]="filter">{{ "dynamicReports.platform" | translate }}</b>
          </th>
          <th *ngIf="filter.adv_id || filter.adv_name">
            <p *ngIf="filter.adv_id">{{ "dynamicReports.advertiserID" | translate }}</p>
            <b *ngIf="filter.adv_name" class="clickable" appSortBy="advertiserName" [filter]="filter">{{ "dynamicReports.advertiserName" | translate }}</b>
          </th>
          <th *ngIf="filter.adv_man">
            <p>{{ "dynamicReports.accountManager" | translate }}</p>
          </th>
          <th *ngIf="filter.clicks || filter.back_url_clicks">
            <p *ngIf="filter.clicks">
              <b class="clickable" appSortBy="clicks" [filter]="filter">{{ "dynamicReports.clicks" | translate }}</b>
            </p>
            <p *ngIf="filter.back_url_clicks">
              <b class="clickable" appSortBy="back_url_clicks" [filter]="filter">{{ "dynamicReports.backUrlClicks" | translate }}</b>
            </p>
          </th>
          <th *ngIf="filter.conv || filter.cr">
            <b class="clickable" *ngIf="filter.conv" appSortBy="conversions" [filter]="filter">{{ "dynamicReports.conversions" | translate }}</b>
            <b class="clickable" *ngIf="filter.cr" appSortBy="cr" [filter]="filter">{{ "dynamicReports.CR" | translate }}</b>
          </th>
          <th *ngIf="filter.rpa">
            <p>{{ "dynamicReports.RPA" | translate }}</p>
          </th>
          <th *ngIf="filter.duplicates || filter.duplicates_perc">
            <p *ngIf="filter.duplicates" translate="dynamicReports.duplicates" [translateParams]="{symbol: ''}">
              Duplicates
            </p>
            <p *ngIf="filter.duplicates_perc" translate="dynamicReports.duplicates"
                 [translateParams]="{symbol: '%'}">Duplicates
              %
            </p>
          </th>
          <th [style.width.px]="120" class="text-right" *ngIf="filter.revenues">
            <b class="clickable" *ngIf="filter.revenues" appSortBy="revenues" [filter]="filter">{{ "dynamicReports.revenues" | translate }}</b>
          </th>
        </tr>
      </table-head>

      <table-body>
        <tr *ngFor="let report of reports.items">
          <td *ngIf="filter.date || filter.month || filter.hour">
            <b *ngIf="filter.date" [innerHtml]="report.date | dateFormatDynamic:false:filter.timezone"></b>
            <p *ngIf="filter.month" [innerHtml]="report.month | monthsFromNumber"></p>
            <p *ngIf="report.hour" [innerHtml]="report.hour | hoursFromNumber"></p>
          </td>
          <td *ngIf="filter.group_name || filter.resale_name">
            <badge *ngIf="filter.group_name"
                   [size]="'sm'"
                   [simple]="true"
                   [truncate]="true"
                   [popover]="'#' + report.groupId">{{ report.groupName }}</badge>
            <div class="mb-1"></div>
            <badge *ngIf="filter.resale_name"
                   [size]="'sm'"
                   [simple]="true"
                   [truncate]="true"
                   [popover]="'#' + report.resaleId">{{ report.resaleName }}</badge>
          </td>
          <td *ngIf="filter.countries || filter.platforms">
            <p *ngIf="filter.countries">
              <b [innerHtml]="report.countryCode"></b>
            </p>
            <p *ngIf="filter.platforms">
              <b [innerHtml]="report.platformName"></b>
            </p>
          </td>
          <td *ngIf="filter.adv_id || filter.adv_name">
            <badge *ngIf="filter.adv_id"
                   [size]="'sm'"
                   [simple]="true"
                   [truncate]="true"
                   [popover]="report.advertiserId">{{ report.advertiserId }}</badge>
            <p *ngIf="filter.adv_name" [innerHtml]="report.advertiserName"></p>
          </td>
          <td *ngIf="filter.adv_man">
            <p [innerHtml]="report.advertiserManagerName"></p>
          </td>
          <td *ngIf="filter.clicks || filter.back_url_clicks">
            <p *ngIf="filter.clicks">
              <b [innerHtml]="report.clicks"></b>
            </p>
            <p *ngIf="filter.back_url_clicks">
              <b [innerHtml]="report.backUrlClicks"></b>
            </p>
          </td>
          <td *ngIf="filter.conv || filter.cr">
            <p *ngIf="filter.conv" [innerHtml]="report.conversions"></p>
            <p *ngIf="filter.cr" [innerHtml]="report.cr"></p>
          </td>
          <td *ngIf="filter.rpa">
            <p [innerHtml]="report.rpa"></p>
          </td>
          <td *ngIf="filter.duplicates || filter.duplicates_perc">
            <p *ngIf="filter.duplicates" [innerHtml]="report.duplicates"></p>
            <p *ngIf="filter.duplicates_perc" [innerHtml]="report.duplicatesPercent"></p>
          </td>
          <td [style.width.px]="120" class="text-right" *ngIf="filter.revenues">
            <b class="coast-status coast-status--green"
               [innerHtml]="report.revenues.toFixed(2) + ' ' + report.currency"></b>
          </td>
        </tr>
      </table-body>
      <table-total [title]="'Total General'">
        <tr>
          <td *ngIf="filter.date || filter.month || filter.hour"></td>
          <td *ngIf="filter.group_name || filter.resale_name"></td>
          <td *ngIf="filter.countries || filter.platforms"></td>
          <td *ngIf="filter.adv_id || filter.adv_name"></td>
          <td *ngIf="filter.adv_man"></td>
          <td *ngIf="filter.clicks || filter.back_url_clicks">
            <p *ngIf="filter.clicks" [innerHtml]="reports.data.clicks"></p>
            <p *ngIf="filter.back_url_clicks" [innerHtml]="reports.data.backUrlClicks"></p>
          </td>
          <td *ngIf="filter.conv || filter.cr">
            <p *ngIf="filter.conv" [innerHtml]="reports.data.conversions"></p>
            <p *ngIf="filter.cr" [innerHtml]="reports.data.cr"></p>
          </td>
          <td *ngIf="filter.rpa"></td>
          <td *ngIf="filter.duplicates || filter.duplicates_perc"></td>
          <td [style.width.px]="120" class="text-right" *ngIf="filter.revenues">
            <b class="coast-status coast-status--green"
                    [innerHtml]="reports.data.revenue[0].amount.toFixed(2) + ' ' + reports.data.revenue[0].currency">$125</b>
          </td>
        </tr>
      </table-total>

      <table-control [pagination]="reports?.page" [filter]="filter" *ngIf="reports?.totalPages">
      </table-control>

    </ng-container>

    <app-no-data *ngIf="!reports.items.length && !loading"></app-no-data>

  </page-body>

</full-page>

<app-loader [loading]="loading"></app-loader>
