<card>
  <card-header>
      <ng-container *ngIf="publisherUrl.id">{{'pubAlgorithm.manage.update' | translate}}</ng-container>
      <ng-container *ngIf="!publisherUrl.id">{{'pubAlgorithm.manage.create' | translate}}</ng-container>
  </card-header>

  <card-body>
    <form [formGroup]="publisherUrlForm" onsubmit="return false">

      <div class="form-group" formGroupName="resaleUrl">
        <form-label class="col-4" [required]="true">{{ "pubAlgorithm.manage.resaleUrl" | translate }}</form-label>
        <resale-url-select class="col-8" formControlName="id"
          [placeholder]="'pubAlgorithm.manage.resaleUrlSelect' | translate"></resale-url-select>
      </div>

      <div class="form-group" formGroupName="publisher">
        <form-label class="col-4" [required]="true">{{ "pubAlgorithm.manage.publisher" | translate }}</form-label>
        <publisher-select class="col-8" formControlName="id" [multiple]="false"
          [placeholder]="'pubAlgorithm.manage.publisherSelect' | translate"></publisher-select>
      </div>

      <div class="form-group">
        <form-label class="col-4" [required]="true">{{ "pubAlgorithm.manage.name" | translate }}</form-label>
        <input-text class="col-8" formControlName="name"></input-text>
      </div>

    </form>
  </card-body>

  <card-footer>
    <btn [simple]="true" routerLink="/manager/superlink/publishers-urls">
      {{ "pubAlgorithm.manage.cancel" | translate }}
    </btn>
    <btn (click)="submitUrlForm()">
      <ng-container *ngIf="publisherUrl.id">{{'pubAlgorithm.manage.edit' | translate}}</ng-container>
      <ng-container *ngIf="!publisherUrl.id">{{'pubAlgorithm.manage.save' | translate}}</ng-container>
    </btn>
  </card-footer>

</card>

<app-loader [loading]="loading"></app-loader>
