<div class="createOffer__input file-upload-box">
  <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="agreement.agreementFileId" readonly>
  <button type="button" *ngIf="agreement.content" class="btn btn-gray" (click)="clearAgreement()">
    <i class="fa fa-remove"></i>
  </button>
  <button type="button" *ngIf="agreement.content" class="btn btn-gray" (click)="saveAgreementToServer()">
    <i class="fa fa-upload"></i>
  </button>
  <div class="file-upload-input">
    <label class="btn btn-ok upload-btn upload-btn-wrapper">
      <span>Browse...</span>
      <app-upload-file
        [fileSize]="26214400"
        [accept]="['application/pdf','image/jpeg','image/png','image/tiff']"
        [reset]="agreement.agreementFileId"
        (fullObject)="uploadAgreement($event)"
        [additionalButton]="true">
      </app-upload-file>
    </label>
  </div>
  <div class="file-upload-list">
    <div class="file-upload-list__text" [innerHtml]="value"></div>
    <div *ngIf="value">
      <button class="label label-lightgray" type="button" (click)="downloadAgreement()">
        <i class="fa fa-download"></i>
      </button>
      <button class="label label-danger" type="button" (click)="removeAgreement()">
        <i class="fa fa-remove"></i>
      </button>
    </div>
  </div>
