<div class="owl-single-picker-container datemonth-picker"
     [class.to-right]="position === 'right'"
     #pickerHtml>

  <input type="text"
         [value]="inputValue"
         (blur)="setInputValue($event.target.value)"
         (click)="showPicker()"
         [disabled]="disabled"
         #dateInput>


  <div class="owl-single-picker" *ngIf="isOpened">

    <div>
      <owl-date-time-inline
        [(ngModel)]="dateTime"
        [startView]="'year'"
        [max]="maxDateTime"
        (monthSelected)="chosenMonthHandler($event)"
        [pickerType]="'calendar'">
      </owl-date-time-inline>
    </div>

  </div>

</div>
