.owl-single-picker-container {
  position: relative;

  .owl-single-picker {
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;
  }

  &.to-right {
    .owl-single-picker {
      left: auto;
      right: 0;
    }
  }

  .datepicker-dates {
    display: inline-block;
    vertical-align: middle;
    font: 16px/24px Roboto, sans-serif;
    color: #02c3c8;
    font-weight: 600;
    position: relative;
    top: 1px;
    margin-left: 5px;
  }
}
