<div class="owl-single-picker-container"
     [class.to-right]="position === 'right'"
     #pickerHtml>

  <input type="text"
         [value]="inputValue"
         (blur)="setInputValue($event.target.value)"
         (click)="showPicker()"
         [disabled]="disabled"
         #dateInput>

  <div class="owl-single-picker" *ngIf="isOpened">

    <div>
      <owl-date-time-inline [(ngModel)]="dateTime" [pickerType]="'both'" [min]="minDate"></owl-date-time-inline>
    </div>

    <div class="owl-single-picker-btns">
      <button type="button" class="btn btn-lightgray" (click)="resetPicker()">Cancel</button>
      <button type="button" class="btn btn-success" (click)="applyChanges()">Apply</button>
    </div>

  </div>

</div>
