<app-filter #filterComponent>
  <ng-container filter-content>
    <div class="row">
      <div class="col">
        <div class="mb-1">
          <form-label>Advertisers</form-label>
          <app-advertisers-select [(ngModel)]="filter.advertiserIds"></app-advertisers-select>
        </div>
        <div class="mb-1">
          <form-label>Platforms</form-label>
          <app-integrations-platforms-select [(ngModel)]="filter.platforms"></app-integrations-platforms-select>
        </div>
      </div>
      <div class="col">
        <div class="mb-1">
          <form-label>Enabled</form-label>
          <ng-select [items]="enabledOptions" bindLabel="name" bindValue="id" [(ngModel)]="filter.enabled">
          </ng-select>
        </div>
        <div class="mb-1">
          <form-label>Approval Required</form-label>
          <ng-select [items]="enabledOptions" bindLabel="name" bindValue="id" [(ngModel)]="filter.approvalRequired">
          </ng-select>
        </div>
      </div>
      <div class="col">
        <div class="mb-1">
          <form-label>Auto Changes</form-label>
          <ng-select [items]="enabledOptions" bindLabel="name" bindValue="id" [(ngModel)]="filter.autoChanges">
          </ng-select>
        </div>
      </div>
      <div class="col">
        <div class="mb-1">
          <form-label>Auto Import</form-label>
          <ng-select [items]="enabledOptions" bindLabel="name" bindValue="id" [(ngModel)]="filter.autoImport">
          </ng-select>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container filter-footer>
    <btn [simple]="true" (click)="resetFilters(); close()">{{ "dynamicReports.reset" | translate }}</btn>
    <btn (click)="applyFilters();">{{ "dynamicReports.apply" | translate }}</btn>
  </ng-container>
</app-filter>
