@import "variables";
@import "mixin";

:host {
  ::ng-deep {
    btn {
      &:not(:first-child) {
        margin-left: rem(8);
      }

      &.active {
        box-shadow: 0 9px 21px 0 var(--shadow);

        .btn {
          background-color: var(--button-primary-background) !important;
        }

        .btn-warning {
          background-color: var(--button-warning-background) !important;
        }
        .btn-success {
          background-color: var(--button-success-background) !important;
        }
        .btn-secondary {
          background-color: var(--button-secondary-background) !important;
        }
        .btn-danger {
          background-color: var(--button-danger-background) !important;
        }
      }
    }

    .btn {
      padding: 0;
      font-size: rem(14);
      height: $inputHeight;
      min-width: $inputHeight;
      background-color: var(--form-control-background-layout) !important;
    }
  }
}
