<full-page *ngIf="(reports$ | async) as reports">
  <app-superlink-statistics-filter #filterComponent [filter]="filter" (onApply)="applyFilters($event)"
    (onCancel)="applyFilters($event)"></app-superlink-statistics-filter>
  <page-head [verticalAligment]="'align-items-center'" [horisontalAligment]="'justify-content-between'">
    <div class="col-auto page-nav">
      <a [routerLink]="['/', 'manager', 'superlink', 'statistics', 'statistics']" routerLinkActive="current"
        *hasPermission="['access_superlink_statistics']">
        <span translate="dynamicReports.dynamic"></span>
      </a>
      <a [routerLink]="['/', 'manager', 'superlink', 'statistics', 'superlink-conversions-statistics']"
        [queryParams]="{ offers_ids: (filter.offers_ids) ? filter.offers_ids[0] : null }"
        [routerLinkActive]="['current']" *hasPermission="['access_superlink_conversion']">
        <span translate="dynamicReports.conversions">Conversions</span>
      </a>
    </div>
    <div class="col-auto ml-auto">
      <date-range-picker [startDate]="filter.datetime_from" [endDate]="filter.datetime_to"
        (onApply)="calendarCallback($event)">
      </date-range-picker>
    </div>
    <div class="col-auto">
      <btn [simple]="true" size="lg" class="mr-2" (click)="filterComponent.open()">
        {{ "dynamicReports.filter" | translate }}
        <i class="fa fa-filter ml-1"></i>
      </btn>
    </div>

  </page-head>

  <page-body tableSync [data]="reports?.items">

    <ng-container *ngIf="reports?.items?.length">
      <table-head>
        <tr>
          <th *ngIf="filter.date || filter.month || filter.hour">
            <b appSortBy="date" [filter]="filter" *ngIf="filter.date" translate="dynamicReports.date"></b>
            <b appSortBy="month" [filter]="filter" *ngIf="filter.month" translate="dynamicReports.month"></b>
            <b appSortBy="hour" [filter]="filter" *ngIf="filter.hour" translate="dynamicReports.hour"></b>
          </th>
          <th *ngIf="filter.group_name || filter.resale_name">
            <p *ngIf="filter.resale_name" translate="dynamicReports.resaleName">resale Name
            </p>
            <p *ngIf="filter.group_name" translate="dynamicReports.groupName">Group Name
            </p>
          </th>
          <th *ngIf="filter.platforms || filter.countries">
            <b *ngIf="filter.countries" appSortBy="country" [filter]="filter" translate="dynamicReports.country">Country
            </b>
            <b *ngIf="filter.platforms" appSortBy="platform" [filter]="filter"
              translate="dynamicReports.platform">Platform
            </b>
          </th>
          <th *ngIf="filter.adv_id || filter.adv_name">
            <p *ngIf="filter.adv_id" translate="dynamicReports.advertiserID">Advertiser ID
            </p>
            <b *ngIf="filter.adv_name" appSortBy="advertiserName" [filter]="filter"
              translate="dynamicReports.advertiserName">Advertiser Name
            </b>
          </th>
          <th *ngIf="filter.pub_id || filter.pub_name || filter.sub_aff">
            <p *ngIf="filter.pub_id" translate="dynamicReports.publisherID">Publisher ID
            </p>
            <b *ngIf="filter.pub_name" appSortBy="publisherName" [filter]="filter"
              translate="dynamicReports.publisherName">Publisher Name
            </b>
            <p *ngIf="filter.sub_aff" translate="dynamicReports.subAffID">Sub Aff. ID
            </p>
          </th>
          <th *ngIf="filter.pub_man || filter.adv_man">
            <p *ngIf="filter.pub_man" translate="dynamicReports.affiliateManager">Affiliate Manager
            </p>
            <p *ngIf="filter.adv_man" translate="dynamicReports.accountManager">Account Manager
            </p>
          </th>
          <th *ngIf="filter.clicks">
            <b *ngIf="filter.clicks" appSortBy="clicks" [filter]="filter" translate="dynamicReports.clicks">Clicks
            </b>
          </th>
          <th *ngIf="filter.conv || filter.pub_conv || filter.cr || filter.pub_cr">
            <b *ngIf="filter.conv" appSortBy="conversions" [filter]="filter"
              translate="dynamicReports.conversions">Conversions
            </b>
            <b *ngIf="filter.pub_conv" appSortBy="publisherConversions" [filter]="filter"
              translate="dynamicReports.pubsConversions">Pub. conversions
            </b>
            <b *ngIf="filter.cr" appSortBy="cr" [filter]="filter" translate="dynamicReports.CR">CR
            </b>
            <p *ngIf="filter.pub_cr" translate="dynamicReports.pubsCR">
              Pub. CR
            </p>
          </th>
          <th *ngIf="filter.cpa || filter.pub_cpa || filter.cpc">
            <b *ngIf="filter.cpa" appSortBy="cpa" [filter]="filter" translate="dynamicReports.CPA">CPA
            </b>
            <b *ngIf="filter.pub_cpa" appSortBy="publisherCpa" [filter]="filter" translate="dynamicReports.pubsCPA">
              Pub. CPA
            </b>
            <b *ngIf="filter.cpc" appSortBy="cpc" [filter]="filter" translate="dynamicReports.CPC">CPC
            </b>
          </th>
          <th *ngIf="filter.rpa || filter.rpc">
            <p *ngIf="filter.rpa" translate="dynamicReports.RPA">RPA
            </p>
            <p *ngIf="filter.rpc" translate="dynamicReports.RPC">RPC
            </p>
          </th>
          <th *ngIf="filter.duplicates || filter.duplicates_perc">
            <p *ngIf="filter.duplicates" translate="dynamicReports.duplicates" [translateParams]="{symbol: ''}">
              Duplicates
            </p>
            <p *ngIf="filter.duplicates_perc" translate="dynamicReports.duplicates" [translateParams]="{symbol: '%'}">
              Duplicates
              %
            </p>
          </th>
          <th *ngIf="filter.costs || filter.over_paid || filter.revenues || filter.profit">
            <b *ngIf="filter.revenues" appSortBy="revenues" [filter]="filter"
              translate="dynamicReports.revenues">Revenues
            </b>
            <b *ngIf="filter.costs" appSortBy="costs" [filter]="filter" translate="dynamicReports.costs">
              Costs
            </b>
            <b *ngIf="filter.profit" appSortBy="profit" [filter]="filter" translate="dynamicReports.profit">
              Profit
            </b>
          </th>
        </tr>
      </table-head>

      <table-body>
        <tr *ngFor="let report of reports.items">
          <td *ngIf="filter.date || filter.month || filter.hour">
            <b *ngIf="filter.date" [innerHtml]="report.date | dateFormatDynamic:false:filter.timezone"></b>
            <p *ngIf="filter.month" [innerHtml]="report.month | monthsFromNumber"></p>
            <p *ngIf="filter.hour" [innerHtml]="report.hour | hoursFromNumber"></p>
          </td>
          <td *ngIf="filter.resale_name || filter.group_name">
            <badge [simple]="true" [popover]="report.resaleId">{{report.resaleName}}</badge>
            <badge [simple]="true" [popover]="report.groupId">{{report.groupName}}</badge>
          </td>
          <td *ngIf="filter.countries || filter.platforms">
            <b *ngIf="filter.countries" [innerHtml]="report.countryCode">Taiwan</b>
            <b *ngIf="filter.platforms" [innerHtml]="report.platformName">Android</b>
          </td>
          <td *ngIf="filter.adv_id || filter.adv_name">
            <badge *ngIf="filter.adv_id" [simple]="true" [popover]="report.advertiserId">{{report.advertiserId}}</badge>
            <p *ngIf="filter.adv_name" [innerHtml]="report.advertiserName">advertiserName</p>
          </td>
          <td *ngIf="filter.pub_id || filter.pub_name || filter.sub_aff">
            <badge *ngIf="filter.pub_id" [simple]="true" [popover]="report.publisherId">{{report.publisherId}}</badge>
            <p *ngIf="filter.pub_name" [innerHtml]="report.publisherName">GreenApp</p>
            <p *ngIf="filter.sub_aff" [innerHtml]="report.subAffiliateId">12345</p>
          </td>
          <td *ngIf="filter.pub_man  || filter.adv_man">
            <p *ngIf="filter.pub_man" [innerHtml]="report.publisherManagerName"></p>
            <p *ngIf="filter.adv_man" [innerHtml]="report.advertiserManagerName"></p>
          </td>
          <td *ngIf="filter.clicks || filter.back_url_clicks">
            <b *ngIf="filter.clicks" [innerHtml]="report.clicks">4</b>
            <b *ngIf="filter.back_url_clicks" [innerHtml]="report.backUrlClicks"></b>
          </td>
          <td *ngIf="filter.conv || filter.pub_conv || filter.cr || filter.pub_cr">
            <p *ngIf="filter.conv" [innerHtml]="report.conversions"></p>
            <p *ngIf="filter.pub_conv" [innerHtml]="report.pubConversions"></p>
            <p *ngIf="filter.cr" [innerHtml]="report.cr"></p>
            <p *ngIf="filter.pub_cr" [innerHtml]="report.publisherCr"></p>
          </td>
          <td *ngIf="filter.cpa || filter.pub_cpa || filter.cpc">
            <p *ngIf="filter.cpa" [innerHtml]="report.cpa"></p>
            <p *ngIf="filter.pub_cpa" [innerHtml]="report.publisherCpa"></p>
            <p *ngIf="filter.cpc" [innerHtml]="report.cpc"></p>
          </td>
          <td *ngIf="filter.rpa || filter.rpc">
            <p *ngIf="filter.rpa" [innerHtml]="report.rpa"></p>
            <p *ngIf="filter.rpc" [innerHtml]="report.rpc"></p>
          </td>
          <td *ngIf="filter.duplicates || filter.duplicates_perc">
            <p *ngIf="filter.duplicates" [innerHtml]="report.duplicates"></p>
            <p *ngIf="filter.duplicates_perc" [innerHtml]="report.duplicatesPercent"></p>
          </td>
          <td *ngIf="filter.costs || filter.revenues || filter.profit">
            <b *ngIf="filter.revenues" class="coast-status coast-status--green"
              [innerHtml]="'$'+ (report.revenues | number:'1.2-2')">$125</b>
            <b *ngIf="filter.costs" class="coast-status coast-status--red"
              [innerHtml]="'$'+ (report.costs | number:'1.2-2')">$125</b>
            <b *ngIf="filter.profit" class="coast-status coast-status--default"
              [innerHtml]="'$'+ (report.profit | number:'1.2-2')">$125</b>
          </td>
        </tr>

      </table-body>

      <table-total [title]="'Total General'">
        <tr>
          <td *ngIf="filter.date || filter.month || filter.hour"></td>
          <td *ngIf="filter.resale_name || filter.group_name"></td>
          <td *ngIf="filter.countries || filter.platforms"></td>
          <td *ngIf="filter.adv_id || filter.adv_name"></td>
          <td *ngIf="filter.pub_id || filter.pub_name || filter.sub_aff"></td>
          <td *ngIf="filter.pub_man  || filter.adv_man"></td>
          <td *ngIf="filter.clicks || filter.back_url_clicks">
            <p *ngIf="filter.clicks" [innerHtml]="reports.data.clicks"></p>
            <p *ngIf="filter.back_url_clicks" [innerHtml]="reports.data.backUrlClicks"></p>
          </td>
          <td *ngIf="filter.conv || filter.pub_conv || filter.cr || filter.pub_cr">
            <p *ngIf="filter.conv" [innerHtml]="reports.data.conversions"></p>
            <p *ngIf="filter.pub_conv" [innerHtml]="reports.data.pubConversions"></p>
            <p *ngIf="filter.cr" [innerHtml]="reports.data.cr"></p>
            <p *ngIf="filter.pub_cr" [innerHtml]="reports.data.publisherCr"></p>
          </td>
          <td *ngIf="filter.cpa || filter.pub_cpa || filter.cpc"></td>
          <td *ngIf="filter.rpa || filter.rpc"></td>
          <td *ngIf="filter.duplicates || filter.duplicates_perc"></td>
          <td *ngIf="filter.costs || filter.revenues || filter.profit">
            <p *ngIf="filter.revenues">
              <b class="coast-status coast-status--green"
                [innerHtml]="'$' + (reports.data.revenue[0].amount | number:'1.2-2')">$125</b>
            </p>
            <p *ngIf="filter.over_paid">
              <b></b>
            </p>
            <p *ngIf="filter.costs">
              <b class="coast-status coast-status--red"
                [innerHtml]="'$' + (reports.data.costs[0].amount | number:'1.2-2')">$125</b>
            </p>
            <p *ngIf="filter.profit">
              <b class="coast-status coast-status--default"
                [innerHtml]="'$' + (reports.data.profit[0].amount | number:'1.2-2')">$125</b>
            </p>
          </td>
        </tr>
      </table-total>

      <table-control *ngIf="reports?.items.length" [filter]="filter" [pagination]="reports">
      </table-control>

    </ng-container>

    <app-no-data *ngIf="!reports?.items?.length && !loading"></app-no-data>

  </page-body>

</full-page>

<app-loader [loading]="loading"></app-loader>
