@import "mixin";
@import "variables";

.logo {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat;
}

.wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: $sidebarWidth;
  padding-top: $headerHeight;
  //transition: filter .2s;

  .page {
    padding: rem(24, 16);
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    //position: relative;
    //z-index: 3;
  }

  .spinner {
    display: none;
    top: $headerHeight;
    left: $sidebarWidth;
    width: auto;
    height: auto;
    right: 0;
    bottom: 0;
  }

  &.isSmall {
    padding-left: $sidebarWidthMin;

    .spinner {
      left: $sidebarWidthMin;
    }

    ::ng-deep {
      .sidebar {
        width: $sidebarWidthMin;
      }
      .caption,
      .page-name {
        padding-left: rem(64);
      }
    }
  }
}

:host-context(.open-modal) {
  .wrapper {
    filter: blur(3px);
  }
}
