<div class="wrapper" *ngIf="isAuthenticated" [class.isSmall]="isSmall$ | async" appTheme>

  <app-manager-sidebar *ngIf="isManager"></app-manager-sidebar>
  <app-publisher-sidebar *ngIf="isPublisher"></app-publisher-sidebar>

  <app-header></app-header>

  <main class="page">
    <router-outlet></router-outlet>
  </main>

  <div class="spinner" id="resolver-loader">
    <div class="sk-wave">
      <div class="sk-rect sk-rect1"></div>
      <div class="sk-rect sk-rect2"></div>
      <div class="sk-rect sk-rect3"></div>
      <div class="sk-rect sk-rect4"></div>
      <div class="sk-rect sk-rect5"></div>
    </div>
  </div>

</div>
