<card>
  <card-header>
    <ng-container>
      My Profile
      <btn-icon class="ml-2" [icon]="'external-link'" (click)="downloadPersonalData()"
        [popover]="'pubCreate.downloadData' | translate">
      </btn-icon>
    </ng-container>

  </card-header>
  <card-body>
    <form onsubmit="return false" [formGroup]="publisherForm" appScrollToFirstErrorInput disableAutocomplete>
      <div class="form-group">
        <form-label [required]="true" class="col-4">{{'pubCreate.userName' | translate}}</form-label>
        <input-text class="col-8" formControlName="username"></input-text>
      </div>
      <ng-container formGroupName="person">
        <div class="form-group">
          <form-label [required]="true" class="col-4">{{'pubCreate.firstName' | translate}}</form-label>
          <input-text class="col-8" formControlName="firstName"></input-text>
        </div>
        <div class="form-group">
          <form-label [required]="true" class="col-4">{{'pubCreate.lastName' | translate}}</form-label>
          <input-text class="col-8" formControlName="lastName"></input-text>
        </div>
      </ng-container>
      <div class="form-group">
        <form-label [required]="true" class="col-4">{{'pubCreate.email' | translate}}</form-label>
        <input-text class="col-8" formControlName="email" [type]="'email'"></input-text>
      </div>
      <div class="form-group">
        <form-label [required]="true" class="col-4">{{'pubCreate.skype' | translate}}</form-label>
        <input-text class="col-8" formControlName="skype"></input-text>
      </div>
      <div class="form-group">
        <form-label [required]="true" class="col-4">{{'pubCreate.phone' | translate}}</form-label>
        <input-text class="col-8" formControlName="phone" [type]="'phone'"></input-text>
      </div>

      <div class="mb-1"></div>

      <ng-container formGroupName="address">
        <div class="form-group">
          <form-label class="col-4">{{'pubCreate.address' | translate}}</form-label>
          <input-text class="col-8" formControlName="address"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{'pubCreate.city' | translate}}</form-label>
          <input-text class="col-8" formControlName="city"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{'pubCreate.state' | translate}}</form-label>
          <input-text class="col-8" formControlName="state"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{'pubCreate.country' | translate}}</form-label>
          <country-select class="col-8" formControlName="countryCode"></country-select>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{'pubCreate.zipcode' | translate}}</form-label>
          <input-text class="col-8" formControlName="zipcode"></input-text>
        </div>
      </ng-container>

      <ng-container formGroupName="paymentInfo">
        <div class="form-group">
          <form-label class="col-4">{{ "pubCreate.beneficiaryName" | translate }}</form-label>
          <input-text class="col-8" formControlName="beneficiaryName"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{ "pubCreate.beneficiaryAccount" | translate }}</form-label>
          <input-text class="col-8" formControlName="beneficiaryAccount"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{ "pubCreate.beneficiaryAddress" | translate }}</form-label>
          <input-text class="col-8" formControlName="beneficiaryAddress"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{ "pubCreate.iban" | translate }}</form-label>
          <input-text class="col-8" formControlName="iban"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{ "pubCreate.bankName" | translate }}</form-label>
          <input-text class="col-8" formControlName="bankName"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{ "pubCreate.bankAddress" | translate }}</form-label>
          <input-text class="col-8" formControlName="bankAddress"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{ "pubCreate.routing" | translate }}</form-label>
          <input-text class="col-8" formControlName="routing"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{ "pubCreate.swift" | translate }}</form-label>
          <input-text class="col-8" formControlName="swift"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{ "pubCreate.ePaymentsID" | translate }}</form-label>
          <input-text class="col-8" formControlName="epaymentsId"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{ "pubCreate.webMoneyWMZ" | translate }}</form-label>
          <input-text class="col-8" formControlName="wmz"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{ "pubCreate.payPalEmail" | translate }}</form-label>
          <input-text class="col-8" formControlName="paypalEmail"></input-text>
        </div>
      </ng-container>
    </form>
  </card-body>
  <card-footer>
    <btn [simple]="true" routerLink="/publisher/dashboard">{{ "pubCreate.cancel" | translate }}</btn>
    <btn (click)="updatePublisher()">
      {{'pubCreate.save' | translate}}
    </btn>
  </card-footer>
</card>
<app-loader [loading]="loading"></app-loader>
