<full-page>

  <page-head class="pb-4">
    <div class="col"></div>
    <div class="col-auto">

      <div class="d-flex align-items-center">

        <date-range-picker
          [startDate]="params.dateFrom"
          [endDate]="params.dateTo"
          (onApply)="calendarCallback($event)">
        </date-range-picker>

        <btn class="ml-3" size="lg" [simple]="true" (click)="filterComponent.toggle()">
          Filter
          <i class="fa fa-filter ml-1"></i>
        </btn>

      </div>

    </div>

    <app-filter #filterComponent>
      <ng-container filter-content>

        <div class="row">
          <div class="col-3">
            <div class="mb-2">
              <form-label>Actions</form-label>
              <app-multy-live-select [apiUrl]="'/billing_logger/advertiser_invoices/actions'" [bindLabel]="'name'"
                                     [bindValue]="'id'" [(ngModel)]="params.actionsIds"></app-multy-live-select>
            </div>
            <div class="mb-2">
              <form-label>Filter changed Fields</form-label>
              <app-multy-live-select [apiUrl]="'/billing_logger/advertiser_invoices/fields'" [bindLabel]="'name'"
                                     [bindValue]="'id'" [(ngModel)]="params.fields"></app-multy-live-select>
            </div>
          </div>
          <div class="col-3">
            <div class="mb-2">
              <form-label>Managers</form-label>
              <app-managers-select [(ngModel)]="params.managersIds"></app-managers-select>
            </div>
            <div class="mb-2">
              <form-label>Advertiser</form-label>
              <app-advertisers-select [(ngModel)]="params.advertisersIds"></app-advertisers-select>
            </div>
          </div>
          <div class="col-3">
            <div class="mb-2">
              <form-label>Invoices Numbers</form-label>
              <tags-input [(ngModel)]="params.invoicesNumbers"></tags-input>
            </div>
          </div>
        </div>

      </ng-container>

      <ng-container filter-footer>

        <btn [simple]="true" (click)="resetFilters(); filterComponent.close()">Reset</btn>
        <btn (click)="applyFilters(); filterComponent.close()">Apply</btn>

      </ng-container>

    </app-filter>
  </page-head>

  <page-body tableSync [data]="logs?.items">

    <ng-container *ngIf="logs?.items?.length">

      <table-head>
        <tr>
          <th>#</th>
          <th><b (click)="sortByField('date')">Date</b></th>
          <th>
            <b (click)="sortByField('managersIds')">Manager ID</b>
            <span>Manager</span>
          </th>
          <th>
            <b (click)="sortByField('managersIds')">Advertiser ID</b>
            <span>Advertiser</span>
          </th>
          <th><b (click)="sortByField('action')">Invoice number</b></th>
          <th><b (click)="sortByField('action')">Action</b></th>
          <th>Details</th>
        </tr>
      </table-head>

      <table-body [separated]="true">
        <tr *ngFor="let log of logs.items">
          <td>
            <badge [simple]="true" [truncate]="true" [popover]="log.id" [placement]="'right'">
              {{log.id}}
            </badge>
          </td>
          <td>
            <strong>{{ log.createdAt | dateFormatDynamic:true }}</strong>
          </td>
          <td>
            <badge *ngIf="log.manager" [simple]="true" [popover]="log.manager?.id">
              {{log.manager?.name}}
            </badge>
          </td>
          <td>
            <badge *ngIf="log.advertiser" [simple]="true" [popover]="log.advertiser?.id">
              {{log.advertiser?.name}}
            </badge>
          </td>
          <td>{{ log.invoiceNumber }}</td>
          <td>{{ log.action | advertiserActionName }}</td>
          <td>
            <btn size="sm" [outline]="true" (click)="showDetailsPopup('open', log)">Details</btn>
          </td>
        </tr>
      </table-body>

      <!--   TODO - Эту конструкцию можно будет поменять на table-control после рефакторинга ts   -->
      <div class="row pt-3 justify-content-end">
        <div class="col-auto">
          <page-control>
            <table-limit [limit]="logs.limit" (changedLimit)="tableLimit($event)"></table-limit>
            <table-pagination [page]="logs.page" [totalPages]="logs.totalPages" (currentPage)="goToPage($event)"></table-pagination>
          </page-control>
        </div>
      </div>

    </ng-container>

    <app-no-data *ngIf="!logs?.items?.length && !loading"></app-no-data>

  </page-body>

</full-page>

<app-loader [loading]="loading"></app-loader>

<modal #detailsModal size="xlg">

  <modal-header>Details</modal-header>

  <modal-body>
    <div class="offerDataWrapp">
      <div class="offerManage-modal__line">
        <div class="offerManage-modal__title">Old Data</div>
      </div>
      <ngx-json-viewer [json]="oldData"></ngx-json-viewer>
    </div>
    <div class="offerDataWrapp">
      <div class="offerManage-modal__line">
        <div class="offerManage-modal__title">New Data</div>
      </div>
      <ngx-json-viewer [json]="newData"></ngx-json-viewer>
    </div>
  </modal-body>

</modal>
