@import "variables";
@import "mixin";

.card {
  &-body {
    padding: rem(24, 12);
  }
}

.badges {
  padding-bottom: rem(16);
  justify-content: space-between;
  text-align: center;
  margin: 0 rem(-20) rem(16);

  &:not(:last-of-type) {
    border-bottom: 1px solid $border-color;
  }

  div {
    padding: rem(16, 20, 10);

    p {
      margin-bottom: 0;
    }
  }
}

:host {
  ::ng-deep {
    .badge {
      justify-content: center;
      min-width: rem(112);
    }
  }
}
