<div class="row" *hasPermission="['view_dashboard']">
  <div class="col-6 pr-2">
    <app-top-ranked></app-top-ranked>
  </div>
  <div class="col-6 pl-2">
    <app-payouts></app-payouts>
  </div>
</div>
<card class="mt-3">
  <card-body [rounded]="true">
    <ng-container *ngIf="incomes">
      <h4>{{ "dashboard.income" | translate }}</h4>
      <div class="badges">
        <div>
          <badge [primary]="true" size="xl">
            {{incomes.today.currency}} {{(incomes.today.amount | number:'1.2')}}
          </badge>
          <p>{{ "dashboard.today" | translate }}</p>
        </div>
        <div>
          <badge [info]="true" size="xl">
            {{incomes.yesterday.currency}} {{(incomes.yesterday.amount | number:'1.2')}}
          </badge>
          <p>{{ "dashboard.yesterday" | translate }}</p>
        </div>
        <div>
          <badge [secondary]="true" size="xl">
            {{incomes.lastWeek.currency}} {{(incomes.lastWeek.amount | number:'1.2')}}
          </badge>
          <p>{{ "dashboard.last7days" | translate }}</p>
        </div>
        <div>
          <badge [success]="true" size="xl">
            {{incomes.thisMonth.currency}} {{(incomes.thisMonth.amount | number:'1.2')}}
          </badge>
          <p>{{ "dashboard.thisMonth" | translate }}</p>
        </div>
        <div>
          <badge [warning]="true" size="xl">
            {{incomes.lastMonth.currency}} {{(incomes.lastMonth.amount | number:'1.2')}}
          </badge>
          <p>{{ "dashboard.lastMonth" | translate }}</p>
        </div>
        <div>
          <badge [danger]="true" size="xl">
            {{incomes.allTime.currency}} {{(incomes.allTime.amount | number:'1.2')}}
          </badge>
          <p>
            <strong>{{ 'dashboard.allTime' | translate }}</strong>
          </p>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="revenues">
      <h4>{{ "dashboard.revenues" | translate }}</h4>
      <div class="badges">
        <div>
          <badge [primary]="true" size="xl">
            {{revenues.today.currency}} {{(revenues.today.amount | number:'1.2')}}
          </badge>
          <p>{{ "dashboard.today" | translate }}</p>
        </div>
        <div>
          <badge [info]="true" size="xl">
            {{revenues.yesterday.currency}} {{(revenues.yesterday.amount | number:'1.2')}}
          </badge>
          <p>{{ "dashboard.yesterday" | translate }}</p>
        </div>
        <div>
          <badge [secondary]="true" size="xl">
            {{revenues.lastWeek.currency}} {{(revenues.lastWeek.amount | number:'1.2')}}
          </badge>
          <p>{{ "dashboard.last7days" | translate }}</p>
        </div>
        <div>
          <badge [success]="true" size="xl">
            {{revenues.thisMonth.currency}} {{(revenues.thisMonth.amount | number:'1.2')}}
          </badge>
          <p>{{ "dashboard.thisMonth" | translate }}</p>
        </div>
        <div>
          <badge [warning]="true" size="xl">
            {{revenues.lastMonth.currency}} {{(revenues.lastMonth.amount | number:'1.2')}}
          </badge>
          <p>{{ "dashboard.lastMonth" | translate }}</p>
        </div>
        <div>
          <badge [danger]="true" size="xl">
            {{revenues.allTime.currency}} {{(revenues.allTime.amount | number:'1.2')}}
          </badge>
          <p>
            <strong>{{ 'dashboard.allTime' | translate }}</strong>
          </p>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="offers">
      <h4>{{ "dashboard.offers" | translate }}</h4>
      <div class="badges">
        <div>
          <badge [primary]="true" size="xl">{{offers.active }}</badge>
          <p>{{ 'dashboard.active' | translate }}</p>
        </div>
        <div>
          <badge [info]="true" size="xl">{{offers.incent }}</badge>
          <p>{{ 'dashboard.incent' | translate }}</p>
        </div>
        <div>
          <badge [secondary]="true" size="xl">{{offers.nonIncent }}</badge>
          <p>{{ 'dashboard.nonIncent' | translate }}</p>
        </div>
        <div>
          <badge [success]="true" size="xl">{{offers.perDay }}</badge>
          <p>{{ 'dashboard.perDay' | translate }}</p>
        </div>
        <div>
          <badge [warning]="true" size="xl">{{offers.private }}</badge>
          <p>{{ 'dashboard.private' | translate }}</p>
        </div>
        <div>
          <badge size="xl">{{offers.suspended }}</badge>
          <p>{{ 'dashboard.suspended' | translate }}</p>
        </div>
        <div>
          <badge [danger]="true" size="xl">{{offers.total }}</badge>
          <p>
            <strong>{{ 'dashboard.total' | translate }}</strong>
          </p>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="superlinkPublisherIncomes">
      <ng-container *hasPermission="['view_dashboard_superlink_profit']">
        <h4>{{ "dashboard.superlinkProfit" | translate }}</h4>
        <div class="badges">
          <div>
            <badge [primary]="true" size="xl">
              {{superlinkPublisherIncomes.today.currency}} {{(superlinkPublisherIncomes.today.amount | number:'1.2')}}
            </badge>
            <p>{{ "dashboard.today" | translate }}</p>
          </div>
          <div>
            <badge [info]="true" size="xl">
              {{superlinkPublisherIncomes.yesterday.currency}}
              {{(superlinkPublisherIncomes.yesterday.amount | number:'1.2')}}
            </badge>
            <p>{{ "dashboard.yesterday" | translate }}</p>
          </div>
          <div>
            <badge [secondary]="true" size="xl">
              {{superlinkPublisherIncomes.lastWeek.currency}}
              {{(superlinkPublisherIncomes.lastWeek.amount | number:'1.2')}}
            </badge>
            <p>{{ "dashboard.last7days" | translate }}</p>
          </div>
          <div>
            <badge [success]="true" size="xl">
              {{superlinkPublisherIncomes.thisMonth.currency}}
              {{(superlinkPublisherIncomes.thisMonth.amount | number:'1.2')}}
            </badge>
            <p>{{ "dashboard.thisMonth" | translate }}</p>
          </div>
          <div>
            <badge [warning]="true" size="xl">
              {{superlinkPublisherIncomes.lastMonth.currency}}
              {{(superlinkPublisherIncomes.lastMonth.amount | number:'1.2')}}
            </badge>
            <p>{{ "dashboard.lastMonth" | translate }}</p>
          </div>
          <div>
            <badge [danger]="true" size="xl">
              {{superlinkPublisherIncomes.allTime.currency}}
              {{(superlinkPublisherIncomes.allTime.amount | number:'1.2')}}
            </badge>
            <p>
              <strong>{{ 'dashboard.allTime' | translate }}</strong>
            </p>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="superlinkSystemProfit">
      <ng-container *hasPermission="['view_dashboard_superlink_system_profit']">
        <h4>{{ "dashboard.superlinkSystemProfit" | translate }}</h4>
        <div class="badges mb-0 pb-0 border-0">
          <div>
            <badge [primary]="true" size="xl">
              {{superlinkSystemProfit.today.currency}} {{(superlinkSystemProfit.today.amount | number:'1.2')}}
            </badge>
            <p>{{ "dashboard.today" | translate }}</p>
          </div>
          <div>
            <badge [info]="true" size="xl">
              {{superlinkSystemProfit.yesterday.currency}} {{(superlinkSystemProfit.yesterday.amount | number:'1.2')}}
            </badge>
            <p>{{ "dashboard.yesterday" | translate }}</p>
          </div>
          <div>
            <badge [secondary]="true" size="xl">
              {{superlinkSystemProfit.lastWeek.currency}} {{(superlinkSystemProfit.lastWeek.amount | number:'1.2')}}
            </badge>
            <p>{{ "dashboard.last7days" | translate }}</p>
          </div>
          <div>
            <badge [success]="true" size="xl">
              {{superlinkSystemProfit.thisMonth.currency}} {{(superlinkSystemProfit.thisMonth.amount | number:'1.2')}}
            </badge>
            <p>{{ "dashboard.thisMonth" | translate }}</p>
          </div>
          <div>
            <badge [warning]="true" size="xl">
              {{superlinkSystemProfit.lastMonth.currency}} {{(superlinkSystemProfit.lastMonth.amount | number:'1.2')}}
            </badge>
            <p>{{ "dashboard.lastMonth" | translate }}</p>
          </div>
          <div>
            <badge [danger]="true" size="xl">
              {{superlinkSystemProfit.allTime.currency}} {{(superlinkSystemProfit.allTime.amount | number:'1.2')}}
            </badge>
            <p>
              <strong>{{ 'dashboard.allTime' | translate }}</strong>
            </p>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </card-body>
</card>
<!-- Loading spinner -->
<app-loader [loading]="loading"></app-loader>
<!-- Loading spinner -->
