<div class="page scrollable" perfectScrollbar>
  <div class="page-container">

    <!-- BEGIN create-pub -->
    <div class="create-pub checker">
      <!-- BEGIN create-pub__top -->
      <div class="create-pub__top">
        <div class="create-pub__name" translate="checker.checkingResults">Checking results</div>
      </div>
      <!-- END create-pub__top  -->
      <!-- BEGIN checker__content -->
      <div class="checker__content">
        <!-- BEGIN checker-name -->
        <div class="checker-name" *ngIf="checkList.offerName">
          <button class="btn btn-add checker-controls__btn" translate="checker.checkManually"
            (click)="checkOfferManually()">Check
            Manually
          </button>
          <span class="css-popover inline-block checker-name__wrap-play" style="font-size: 0">
            <label class="{{'label checker-name__play icon-status-' + checkList.offerStatusOrigin}}"></label>
            <span class="css-popover-content" [innerHtml]="checkList.offerStatusName"></span>
          </span>
          <div class="checker-name__title css-popover">
            <span [innerHtml]="checkList.offerName"> Loco Bingo 90 by Playspace (Burst)</span>
            <div class="css-popover-content" translate="checker.offerName"></div>
          </div>
          <div class="checker-name__select checker-select" document-click close-all-boxes="hideActionsTooltip()"
            style="font-size: 0">
            <input ng-model="actionsTooltip" id="checker-select__input1" hidden type="checkbox"
              class="checker-select__input">
            <label for="checker-select__input1" class="checker-select__trigger">
              <i class="fa fa-chevron-down"></i>
            </label>
            <ul class="checker-select__list" [ngClass]="{'revert': checkList.offerName.length < 15}">
              <li class="checker-select__list-item" (click)="disableChecking()"
                *ngIf="checkList.offerStatusOrigin !== 'suspended'">
                <span translate="checker.disableOfferChecking">Disable offer checking</span>
              </li>
              <li class="checker-select__list-item" (click)="enableChecking()"
                *ngIf="checkList.offerStatusOrigin === 'suspended'">
                <span translate="checker.enableOfferChecking">Enable offer checking</span>
              </li>
              <li class="checker-select__list-item" *hasPermission="['manage_offers']">
                <a [routerLink]="['/', 'manager', 'offers', 'edit', offerId]" translate="checker.editOffer">Edit offer
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- END checker-name  -->

        <!-- BEGIN checker-table -->
        <div class="checker-table" *ngIf="checkList.checks">
          <!-- BEGIN checker-table__top -->
          <div class="checker-table__top">
            <div class="checker-table__head" translate="checker.platform">Platform</div>
            <div class="checker-table__head" translate="checker.geography">Geography</div>
            <div class="checker-table__head">
              <button class="checker-select__trigger" [disabled]="dateRangeIndexes[0] > 3"
                (click)="onArrowClick('prev')">
                <i class="fa fa-chevron-left"></i>
              </button>
            </div>
            <div class="checker-table__head color-lightgray" *ngFor="let date of dateList.slice(1, 4)"
              [innerHtml]="date | checkerDate">03-06-2018
            </div>
            <div class="checker-table__head">
              <button [disabled]="dateRangeIndexes[1] === -1" class="checker-select__trigger"
                (click)="onArrowClick('next')">
                <i class="fa fa-chevron-right"></i>
              </button>
            </div>
          </div>
          <!-- END checker-table__top  -->
          <div class="checker-table__row" *ngFor="let device of checkList.checks">
            <div class="checker-table__cell semi-bold" [innerHtml]="device.name"></div>
            <div class="checker-table__cell">
              <div *ngFor="let country of device.data | keyvalue">
                <label class="label label-white css-popover">
                  <span [innerHtml]="country.key"></span>
                  <span class="css-popover-content" [innerHtml]="getCountryName(country.key)"></span>
                </label>
              </div>
            </div>
            <div class="checker-table__cell">
              <!-- BEGIN checker-circles -->
              <div class="checker-circles">
                <!-- BEGIN checker-circles__item -->
                <div class="checker-circles__item" *ngFor="let date of dateList">
                  <div *ngFor="let country of device.data | keyvalue">
                    <span *ngFor="let el of country.value[date] | keyvalue">
                      <span *ngIf="el.value" class="circle" [ngClass]="{'red': !el.value.isSuccess}"
                        (click)="getOfferCheck(el.value.id)"></span>
                      <span *ngIf="!el.value" class="circle white"></span>
                    </span>
                    <ng-container *ngIf="!country.value[date]">
                      <span class="circle white" *ngFor="let i of whiteCirclesArray"></span>
                    </ng-container>
                  </div>
                </div>
                <!-- END checker-circles__item  -->
              </div>
              <!-- END checker-circles  -->
            </div>
          </div>
        </div>
        <!-- END checker-table  -->
        <app-no-data *ngIf="!checkList.checks.length && !loading"></app-no-data>
      </div>
      <!-- END checker__content  -->
    </div>

    <!-- END create-pub  -->
  </div>

  <app-loader [loading]="loading"></app-loader>

</div>

<modal #checkerModal size="lg">

  <modal-header>
    <span class="mr-2">{{ "checker.checkDetails" | translate }}</span>
    <span [innerHtml]="checkInfo?.id"></span>
  </modal-header>

  <modal-body *ngIf="checkerModal.isOpen">
    <div class="checker-modal">
      <div class="checker-modal__title semi-bold big-font" translate="checker.source">Source</div>
      <div class="checker-modal__url">
        <span translate="checker.previewURL">Preview URL:</span>
        <a [href]="checkInfo.details.previewUrl" target="_blank" class="color-blue"
          [innerHtml]="checkInfo.details.previewUrl"></a>
      </div>
      <div class="checker-modal__url">
        <span translate="checker.URL">URL:</span>
        <a class="color-blue" target="_blank"
          [href]="checkInfo.details.redirectUrls[checkInfo.details.redirectUrls.length-1].url"
          [innerHtml]="checkInfo.details.redirectUrls[checkInfo.details.redirectUrls.length-1].url"></a>
      </div>
      <div class="checker-modal__tags">
        <span [innerHtml]="checkInfo.platform.name">iPhone</span>
        <label class="label label-darkgray" [innerHtml]="checkInfo.countryCode"></label>
        <span class="color-lightgray">
          <span [innerHtml]="checkInfo.details.duration + ' sec'"></span>
        </span>
        <span class="label label-yellow" [innerHtml]="checkInfo.details.redirectUrls.length"></span>
        <span>Checked at:
          <span [innerHtml]="checkInfo.checkedAt | dateFormatDynamic:true"></span>
        </span>
      </div>
      <div class="checker-modal__title semi-bold big-font" translate="checker.destination">Destination</div>
      <div class="checker-modal__status">
        <i class="fa" [ngClass]="checkInfo.isSuccess ? 'fa-check' : 'fa-close'"></i>
        <span [innerHtml]="checkInfo.details.redirectUrls[checkInfo.details.redirectUrls.length-1].domain"></span>

      </div>
      <div class="checker-modal__err-message color-red" [innerHtml]="checkInfo.error" *ngIf="checkInfo.error">Error:
        1407742E:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert protocol version
      </div>
      <!-- BEGIN checker-tabs -->
      <div class="checker-tabs">
        <div class="checker-tabs__left">
          <!-- BEGIN checker-tabs__list -->
          <ol class="checker-tabs__list">
            <li class="checker-tabs__item" *ngFor="let item of checkInfo.details.redirectUrls; let i = index">
              <input type="radio" id="{{'checker-tabs__checkbox' + i}}" name="checker-tabs" [checked]="i === 0">
              <label for="{{'checker-tabs__checkbox' + i}}" class="checker-tabs__link"
                [innerHtml]="item.domain">tracking.performavenues.com</label>
              <div class="checker-tabs__right">
                <perfect-scrollbar class="checker-tabs__scroll checker-tabs__wrap-text pr-3">
                  <div class="checker-tabs__text">
                    <ul style="word-break: break-word">
                      <li>
                        <b translate="checker.request">Request:</b>
                        <ul>
                          <li>
                            <b translate="checker.time">Time:</b>
                            <span [innerHtml]="item.request.time | dateFormatDynamic:true"></span>
                          </li>
                          <li>
                            <b translate="checker.method">Method:</b>
                            <span [innerHtml]="item.request.method"></span>
                          </li>
                          <li>
                            <b translate="checker.headers">Headers:</b>
                            <ul>
                              <li style="word-break: break-word;"
                                *ngFor="let header of item.request.headers | keyvalue">
                                <span [innerHtml]="header.value"></span>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <b translate="checker.response">Response:</b>
                        <ul>
                          <li>
                            <b translate="checker.time">Time:</b>
                            <span [innerHtml]="item.response.time | dateFormatDynamic:true"></span>
                          </li>
                          <li>
                            <b translate="checker.contentType">Content Type:</b>
                            <span [innerHtml]="item.response.contentType"></span>
                          </li>
                          <li>
                            <b translate="checker.redirectURL">Redirect Url:</b>
                            <span [innerHtml]="item.response.redirectUrl"></span>
                          </li>
                          <li>
                            <b translate="checker.status">Status:</b>
                            <span [innerHtml]="item.response.status"></span>
                          </li>
                          <li>
                            <b translate="checker.statusText">Status Text:</b>
                            <span [innerHtml]="item.response.statusText"></span>
                          </li>
                          <li>
                            <b translate="checker.headers">Headers:</b>
                            <ul>
                              <li style="word-break: break-word;"
                                *ngFor="let header of item.response.headers | keyvalue">
                                <span [innerHtml]="header.value"></span>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </perfect-scrollbar>
              </div>
            </li>
          </ol>
          <!-- END checker-tabs__list  -->
        </div>
      </div>
      <!-- END checker-tabs  -->
    </div>
  </modal-body>

</modal>
