<div class="createOffer__input file-upload-box">
  <input type="text" [(ngModel)]="w8w9.w8w9FileId" readonly>
  <button type="button" *ngIf="w8w9.content" class="btn btn-gray" (click)="clearW8W9()">
    <i class="fa fa-remove"></i>
  </button>
  <button type="button" *ngIf="w8w9.content" class="btn btn-gray" (click)="saveW8W9FileIdToServer()">
    <i class="fa fa-upload"></i>
  </button>
  <div class="file-upload-input">
    <label class="btn btn-ok upload-btn upload-btn-wrapper">
      <span>Browse...</span>
      <app-upload-file
        [fileSize]="26214400"
        [accept]="['application/pdf','image/jpeg','image/png','image/tiff']"
        [reset]="w8w9.w8w9FileId"
        (fullObject)="uploadW8W9($event)"
        [additionalButton]="true">
      </app-upload-file>
    </label>
  </div>
  <div class="file-upload-list">
    <div class="file-upload-list__text">{{ value }}</div>
    <div *ngIf="value">
      <button class="label label-lightgray" type="button" (click)="downloadW8W9()">
        <i class="fa fa-download"></i>
      </button>
      <button class="label label-danger" type="button" (click)="removeW8W9()">
        <i class="fa fa-remove"></i>
      </button>
    </div>
  </div>
</div>
