.table-manager-user,
.table-manager-user__top {
  .fake-table__row {
    background-color: transparent;
    align-items: flex-start;
  }
  .fake-table__cell,
  .fake-table__head {
    padding-right: 20px;
    box-sizing: border-box;
    &:nth-child(1) {
      flex: 2;
      min-width: 145px;
      //max-width: 20%;
    }
    &:nth-child(2) {
      flex: 6;
      //max-width: 30%;
    }
    &:nth-child(3) {
      flex: 3;
      //max-width: 20%;
    }
    &:nth-child(4) {
      flex: 2;
      //max-width: 10%;
    }
    &:nth-child(5) {
      flex: 1;
      //width: 10%;
      padding-right: 0;
      .actions {
        text-align: left;
      }
    }
  }
}

.scheduled-name {
  .manager-info {
    padding-top: 0;
  }
}

.fake-table {
  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__cell,
  &__head {
    flex: 1 1 100%;
    width: 1px;
  }
}

.label {
  cursor: pointer;
}
