<full-page *ngIf="(managers$ | async) as managers">

  <page-head>

    <div class="col">
      <app-search [filter]="filter"></app-search>
    </div>

    <div class="col-auto">
      <btn size="lg" routerLink="/manager/managers/create" *hasPermission="['manage_managers']">
        <i class="fa fa-user-plus mr-1"></i>{{ "managersManage.createBtn" | translate }}
      </btn>
    </div>

  </page-head>

  <page-body tableSync [data]="managers?.items">
    <ng-container *ngIf="managers?.items?.length">

      <table-head>
        <tr>
          <th>
            <span>#</span>
            <b appSortBy="status" [filter]="filter">{{ "managersManage.status" | translate }}</b>
          </th>
          <th>
            <b appSortBy="username" [filter]="filter">
              {{ "managersManage.firstName" | translate }}
              /
              {{ "managersManage.lastName" | translate }}
            </b>
            <b appSortBy="email" [filter]="filter">{{ "managersManage.email" | translate }}</b>
          </th>
          <th>
            <span>{{ "managersManage.notes" | translate }}</span><br>
            <b appSortBy="registered" [filter]="filter">{{ "managersManage.registered" | translate }}</b>
          </th>
          <th>
            <span>{{ "managersManage.roles" | translate }}</span>
          </th>
          <th>&nbsp;</th>
        </tr>
      </table-head>

      <table-body>
        <tr *ngFor="let manager of managers?.items;">

          <td [style.width.px]="162">
            <div [style.width.px]="114">
              <badge [simple]="true" [truncate]="true" [popover]="manager.id" [placement]="'right'">
                {{manager.id}}
              </badge>
              <div class="mb-1"></div>
              <app-user-statuses
                *ngIf="(managersStatuses$ | async).items as items"
                [statuses]="items"
                [statusSelected]="manager.status"
                (changeStatusEvent)="popover.show($event)"
                [permission]="['manage_managers']"
                [trigger]="''"
                [placement]="'right'"
                [popover]="statusChange"
                #popover="popover"
                [context]="{manager: manager, popover: popover}">
              </app-user-statuses>
            </div>
          </td>

          <td>
            <p><strong class="word-break">{{manager.fullName}}</strong></p>
            <p>{{manager.email}}</p>
          </td>

          <td>
            <div class="mb-1" [style.max-width.px]="350">
              <badge size="lg" [block]="true" [simple]="true" *ngIf="manager.notes">
                <i class="fa fa-comment mr-1"></i>{{manager.notes}}
              </badge>
            </div>
            <badge [secondary]="true" [popover]="popoverTime" [context]="manager">
              {{ manager.createdAt | timezone | dateFormat:true:false:'MMMM YYYY' }}
            </badge>
          </td>

          <td [style.width.px]="150">
            <badge *ngFor="let role of manager.roles" [primary]="true" [popover]="role | managerRole | async">
              {{role | managerRole | async}}
            </badge>
          </td>

          <td [style.width.px]="100" class="text-right">

            <app-actions *hasPermission="['manage_managers']">
              <a class="actions-option action-edi" [routerLink]="['/manager/managers/edit', manager.id]">
                {{ "managersManage.edit" | translate }}
              </a>
            </app-actions>
          </td>

        </tr>
      </table-body>

      <table-control *ngIf="managers?.items.length"
                     [filter]="filter"
                     [pagination]="managers">
      </table-control>

    </ng-container>
    <app-no-data *ngIf="!managers?.items?.length && !loading"></app-no-data>
  </page-body>

</full-page>

<app-loader [loading]="loading"></app-loader>

<!-- TODO - На данном этапе это предложение, нужно обсудить с дизайнерами -->
<ng-template #statusChange let-popover="popover" let-manager="manager">
  <div class="change-status-popover">
    <strong>Are you sure to change status?</strong>
    <btn (click)="changeStatus(popover.$event, manager); popover.hide()">Change</btn>
    <btn [simple]="true" (click)="popover.hide()">Cancel</btn>
  </div>
</ng-template>

<ng-template #popoverTime let-createdAt="createdAt" let-updatedAt="updatedAt">
  <div>
    <span>{{ "managersManage.registered" | translate }}</span>:
    <strong>{{createdAt | dateFormatDynamic:true}}</strong>
  </div>
  <div>
    <span>{{ "managersManage.updated" | translate }}</span>:
    <strong>{{updatedAt | dateFormatDynamic:true}}</strong>
  </div>
</ng-template>
