<div class="position-relative">

  <div
    class="form-control tags"
    [class.invalid]="invalid && touched"
    [class.disabled]="disabled"
    [class.focus]="isFocused"
    (click)="!disabled && tagInput.focus()">

    <div class="tag" *ngFor="let tag of value; let i=index" [title]="tag">
      <div>{{ tag }}</div>
      <button class="tag-remove" type="button" (click)="removeByIndex(i)" *ngIf="!disabled">
        <i class="fa fa-close"></i>
      </button>
    </div>

    <input
      #tagInput
      type="text"
      class="tag-input"
      (keydown.enter)="$event.stopPropagation(); $event.preventDefault();"
      (keyup.enter)="addTag();"
      (blur)="addTag(); markAsTouched(); isFocused = false"
      (focus)="markAsTouched(); isFocused = true"
      (keydown.backspace)="removeLastTag()"
      (keypress)="onKeyPress($event)"
      [(ngModel)]="currentInputText">
  </div>

  <validation-message [control]="control" [target]="tagInput"></validation-message>

</div>
