<card>
  <card-header>
    {{'groupUrls.mode.manage' | translate}}
  </card-header>

  <card-body>

    <!-- <form onsubmit="return false" [formGroup]="form" appScrollToFirstErrorInput disableAutocomplete>

      <div class="form-group">
        <form-label [required]="true" class="col-4">{{ "managerEdit.userName" | translate }}</form-label>
        <input-text class="col-8" formControlName="username"></input-text>
      </div>

      <ng-container formGroupName="person">

        <div class="form-group">
          <form-label [required]="true" class="col-4">{{ "managerEdit.firstName" | translate }}</form-label>
          <input-text class="col-8" formControlName="firstName"></input-text>
        </div>

        <div class="form-group">
          <form-label [required]="true" class="col-4">{{ "managerEdit.lastName" | translate }}</form-label>
          <input-text class="col-8" formControlName="lastName"></input-text>
        </div>

      </ng-container>

      <div class="form-groups" [class.form-overlay]="form.get('email').valid">

        <div class="form-group">
          <form-label class="col-4" [required]="true">{{ "managerEdit.email" | translate }}</form-label>
          <input-text class="col-8" [mask]="'email'" formControlName="email"></input-text>
        </div>

        <div class="form-group" *ngIf="form.get('email').valid">
          <form-label class="col-4">{{ "managerEdit.additionalEmail" | translate }}</form-label>
          <tags-input class="col-8" [mask]="'email'" formControlName="additionalEmails"></tags-input>
        </div>

      </div>

      <div class="form-group">
        <form-label class="col-4">{{ "managerEdit.skype" | translate }}</form-label>
        <input-text class="col-8" formControlName="skype"></input-text>
      </div>

      <div class="form-group">
        <form-label class="col-4">{{ "managerEdit.phone" | translate }}</form-label>
        <input-text class="col-8" [type]="'phone'" formControlName="phone"></input-text>
      </div>

      <div class="form-groups form-overlay" formGroupName="address">

        <div class="form-group">
          <form-label class="col-4">{{ "managerEdit.address" | translate }}</form-label>
          <input-text class="col-8" formControlName="address"></input-text>
        </div>

        <div class="form-group">
          <form-label class="col-4">{{ "managerEdit.city" | translate }}</form-label>
          <input-text class="col-8" formControlName="city"></input-text>
        </div>

        <div class="form-group">
          <form-label class="col-4">{{ "managerEdit.state" | translate }}</form-label>
          <input-text class="col-8" formControlName="state"></input-text>
        </div>

        <div class="form-group">
          <form-label class="col-4">{{ "managerEdit.country" | translate }}</form-label>
          <country-select class="col-8" formControlName="countryCode"></country-select>
        </div>

        <div class="form-group">
          <form-label class="col-4">{{ "managerEdit.zipcode" | translate }}</form-label>
          <input-text class="col-8" formControlName="zipcode"></input-text>
        </div>

      </div>

      <div class="form-group mt-5">
        <form-label class="col-4" [required]="true">{{ "managerEdit.status" | translate }}</form-label>
        <switcher class="col-8" formControlName="status">
          <switcher-btn name="status" [value]="2">{{ "managerEdit.active" | translate }}</switcher-btn>
          <switcher-btn name="status" [value]="1">{{ "managerEdit.pending" | translate }}</switcher-btn>
        </switcher>
      </div>

      <div class="form-group">
        <form-label class="col-4" [required]="true">{{ "managerEdit.mailNotification" | translate }}</form-label>
        <switcher class="col-8" formControlName="emailNotificationEnabled">
          <switcher-btn name="mailNotification" [value]="1">{{ "managerEdit.on" | translate }}</switcher-btn>
          <switcher-btn name="mailNotification" [value]="0">{{ "managerEdit.off" | translate }}</switcher-btn>
        </switcher>
      </div>

      <div class="form-group">
        <form-label class="col-4" [required]="true">{{ "managerEdit.role" | translate }}</form-label>
        <manager-roles-select class="col-8" formControlName="roles"></manager-roles-select>
      </div>

      <div class="form-group mt-5">
        <form-label class="col-4">{{ "managerEdit.notes" | translate }}</form-label>
        <area-input class="col-8" formControlName="notes"></area-input>
      </div>

      <ng-container *ngIf="!manager?.id">

        <div class="form-group">
          <form-label class="col-4" [required]="true">{{ "managerEdit.password" | translate }}</form-label>
          <password class="col-8" formControlName="password"></password>
        </div>

        <div class="form-group">
          <form-label class="col-4" [required]="true">{{ "managerEdit.confirmPassword" | translate }}</form-label>
          <password class="col-8" formControlName="confirmPassword"></password>
        </div>

      </ng-container>

    </form> -->
    <form name="form">

      <div class="form-group">
        <form-label class="col-4">{{'groupUrls.mode.mode' | translate}}</form-label>
        <switcher class="d-block col-8" [(ngModel)]="mode.mode" [ngModelOptions]="{standalone: true}">
          <switcher-btn [value]="item.id" name="mode" *ngFor="let item of modeList; let $index = index;">
            {{item.name}}</switcher-btn>
        </switcher>
      </div>

      <div class="form-group" *ngIf="mode.mode === 1">
        <b class="col substrate">{{'groupUrls.mode.dynamicMessage' | translate}}</b>
      </div>

      <ng-container *ngIf="mode.mode === 2 && mode.allowUrls.length">
        <div class="form-group" *ngFor="let url of mode.urls">
          <form-label class="col-4">{{url.name}}</form-label>
          <input-group class="col-8" iconName="percent" styleType="symbol">
            <input-integer [(ngModel)]="url.percent" [ngModelOptions]="{standalone: true}"
              (change)="onPercentChange(url, 'percent')"></input-integer>
          </input-group>
        </div>
      </ng-container>

      <ng-container *ngIf="mode.mode === 3 && mode.allowUrls.length">
        <div class="substrate pt-2" *ngFor="let groupUrl of mode.groupCountryUrls; let $index = index;">
          <btn-icon [outline]="true" type="light" icon="times" *ngIf="mode.groupCountryUrls.length > 1"
            (click)="removeNewCountryAlgorithm($index)"></btn-icon>
          <div class="form-group">
            <form-label class="col-4">{{'country' | translate}}</form-label>
            <country-select class="col-8" [(ngModel)]="groupUrl.countryCode" [multiple]="false"
              [ngModelOptions]="{standalone: true}">
            </country-select>
          </div>
          <div class="form-group" *ngFor="let url of groupUrl.urls">
            <form-label class="col-4">{{url.name}}</form-label>
            <input-group class="col-8" iconName="percent" styleType="symbol">
              <input-integer [(ngModel)]="url.percent" [ngModelOptions]="{standalone: true}"
                (change)="onPercentChange(url, 'percent')"></input-integer>
            </input-group>
          </div>
        </div>
        <btn (click)="addNewCountryAlgorithm()">
          <i class="fa fa-check mr-2"></i>
          Add Country
        </btn>
      </ng-container>




      <!-- <div class="pub-item__panel url-substrate " *ngIf="mode.mode === 3 && mode.allowUrls.length">
        <div class="pub-item__panel url-substrate group-urls-panel"
          *ngFor="let groupUrl of mode.groupCountryUrls; let $index = index;">
          <button class="createOffer__delete-btn" *ngIf="mode.groupCountryUrls.length > 1"
            (click)="removeNewCountryAlgorithm($index)"></button>
          <div class="create-pub__item pub-item">
            <label class="createOffer__label">Country</label>
            <div class="createOffer__input">
              <country-select [(ngModel)]="groupUrl.countryCode" [multiple]="false"
                [ngModelOptions]="{standalone: true}"></country-select>
            </div>
          </div>
          <div class="create-pub__item pub-item" *ngFor="let url of groupUrl.urls">
            <label class="createOffer__label" [innerHtml]="url.name"></label>
            <div class="createOffer__input createOffer__input_percent">
              <input step="any" type="number" [(ngModel)]="url.percent" min="0"
                onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : ((event.charCode >= 46 && event.charCode <= 57) || event.charCode == 44);"
                (change)="onPercentChange(url, 'percent')" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="url-shedule__new pub-item__new">
          <a class="url-shedule__add pub-item__add" (click)="addNewCountryAlgorithm()">
            <span class="url-shedule__plus">+</span>
            <strong>
              <span>Add Country</span>
            </strong>
          </a>
        </div>
      </div> -->

      <!-- <div class="create-pub__content">
        <div class="create-pub__item pub-item">
          <div class="create-pub__item pub-item">
            <label class="createOffer__label createOffer__label_required" translate="groupUrls.mode.mode"></label>
            <div class="createOffer__input">
              <div class="select-one">
                <ng-container *ngFor="let item of modeList; let $index = index;">
                  <input id="pub-item__checkbox{{$index}}" type="radio" name="select-one__radio-group" [value]="item.id"
                    [(ngModel)]="mode.mode" [ngModelOptions]="{standalone: true}">
                  <label for="pub-item__checkbox{{$index}}" class="select-one__item" [innerHtml]="item.name"
                    style="width: calc(33% - 10px)"></label>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="pub-item__panel url-substrate" *ngIf="mode.mode === 1">
          <div class="create-pub__item pub-item">
            <strong class="fz14 semi-bold" translate="groupUrls.mode.dynamicMessage"></strong>
          </div>
        </div>
        <div class="pub-item__panel url-substrate " *ngIf="mode.mode === 2 && mode.allowUrls.length">
          <div class="create-pub__item pub-item" *ngFor="let url of mode.urls">
            <label class="createOffer__label" [innerHtml]="url.name"></label>
            <div class="createOffer__input createOffer__input_percent">
              <input step="any" type="number" [(ngModel)]="url.percent" min="0"
                onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : ((event.charCode >= 46 && event.charCode <= 57) || event.charCode == 44);"
                (change)="onPercentChange(url, 'percent')" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>

        <div class="pub-item__panel url-substrate " *ngIf="mode.mode === 3 && mode.allowUrls.length">
          <div class="pub-item__panel url-substrate group-urls-panel"
            *ngFor="let groupUrl of mode.groupCountryUrls; let $index = index;">
            <button class="createOffer__delete-btn" *ngIf="mode.groupCountryUrls.length > 1"
              (click)="removeNewCountryAlgorithm($index)"></button>
            <div class="create-pub__item pub-item">
              <label class="createOffer__label">Country</label>
              <div class="createOffer__input">
                <country-select [(ngModel)]="groupUrl.countryCode" [multiple]="false"
                  [ngModelOptions]="{standalone: true}"></country-select>
              </div>
            </div>
            <div class="create-pub__item pub-item" *ngFor="let url of groupUrl.urls">
              <label class="createOffer__label" [innerHtml]="url.name"></label>
              <div class="createOffer__input createOffer__input_percent">
                <input step="any" type="number" [(ngModel)]="url.percent" min="0"
                  onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : ((event.charCode >= 46 && event.charCode <= 57) || event.charCode == 44);"
                  (change)="onPercentChange(url, 'percent')" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>
          <div class="url-shedule__new pub-item__new">
            <a class="url-shedule__add pub-item__add" (click)="addNewCountryAlgorithm()">
              <span class="url-shedule__plus">+</span>
              <strong>
                <span>Add Country</span>
              </strong>
            </a>
          </div>
        </div>
      </div> -->
    </form>
  </card-body>

  <card-footer>
    <btn [simple]="true" (click)="backToPublisherList()">{{ "advCreate.cancel" | translate }}</btn>
    <btn (click)="submitModeForm()" [disabled]="(mode.mode === 2 || mode.mode === 3) && !mode.allowUrls.length">
      {{ "groupUrls.mode.save" | translate }}
    </btn>
  </card-footer>

</card>

<!-- <div class="page scrollable" perfectScrollbar>
  <div class="page-container">
    <form name="form" class="create-pub" (ngSubmit)="submitModeForm()">
      <div class="create-pub__top">
        <div class="create-pub__name">
          <span translate="groupUrls.mode.manage"></span>
        </div>
      </div>
      <div class="create-pub__content">
        <div class="create-pub__item pub-item">
          <div class="create-pub__item pub-item">
            <label class="createOffer__label createOffer__label_required" translate="groupUrls.mode.mode"></label>
            <div class="createOffer__input">
              <div class="select-one">
                <ng-container *ngFor="let item of modeList; let $index = index;">
                  <input id="pub-item__checkbox{{$index}}" type="radio" name="select-one__radio-group" [value]="item.id"
                    [(ngModel)]="mode.mode" [ngModelOptions]="{standalone: true}">
                  <label for="pub-item__checkbox{{$index}}" class="select-one__item" [innerHtml]="item.name"
                    style="width: calc(33% - 10px)"></label>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="pub-item__panel url-substrate" *ngIf="mode.mode === 1">
          <div class="create-pub__item pub-item">
            <strong class="fz14 semi-bold" translate="groupUrls.mode.dynamicMessage"></strong>
          </div>
        </div>
        <div class="pub-item__panel url-substrate " *ngIf="mode.mode === 2 && mode.allowUrls.length">
          <div class="create-pub__item pub-item" *ngFor="let url of mode.urls">
            <label class="createOffer__label" [innerHtml]="url.name"></label>
            <div class="createOffer__input createOffer__input_percent">
              <input step="any" type="number" [(ngModel)]="url.percent" min="0"
                onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : ((event.charCode >= 46 && event.charCode <= 57) || event.charCode == 44);"
                (change)="onPercentChange(url, 'percent')" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>

        <div class="pub-item__panel url-substrate " *ngIf="mode.mode === 3 && mode.allowUrls.length">
          <div class="pub-item__panel url-substrate group-urls-panel"
            *ngFor="let groupUrl of mode.groupCountryUrls; let $index = index;">
            <button class="createOffer__delete-btn" *ngIf="mode.groupCountryUrls.length > 1"
              (click)="removeNewCountryAlgorithm($index)"></button>
            <div class="create-pub__item pub-item">
              <label class="createOffer__label">Country</label>
              <div class="createOffer__input">
                <country-select [(ngModel)]="groupUrl.countryCode" [multiple]="false"
                  [ngModelOptions]="{standalone: true}"></country-select>
              </div>
            </div>
            <div class="create-pub__item pub-item" *ngFor="let url of groupUrl.urls">
              <label class="createOffer__label" [innerHtml]="url.name"></label>
              <div class="createOffer__input createOffer__input_percent">
                <input step="any" type="number" [(ngModel)]="url.percent" min="0"
                  onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : ((event.charCode >= 46 && event.charCode <= 57) || event.charCode == 44);"
                  (change)="onPercentChange(url, 'percent')" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>
          <div class="url-shedule__new pub-item__new">
            <a class="url-shedule__add pub-item__add" (click)="addNewCountryAlgorithm()">
              <span class="url-shedule__plus">+</span>
              <strong>
                <span>Add Country</span>
              </strong>
            </a>
          </div>
        </div>
      </div>
      <div class="create-pub__bottom">
        <div class="create-pub__controls">
          <a (click)="backToPublisherList()" class="create-pub__cancel" translate="groupUrls.manage.cancel">Cancel</a>
          <button type="submit" class="btn btn-add create-pub__create"
            [disabled]="(mode.mode === 2 || mode.mode === 3) && !mode.allowUrls.length">
            <span translate="groupUrls.mode.save">Save</span>
          </button>
        </div>
      </div>
    </form>
    <app-loader [loading]="loading"></app-loader>

  </div>
</div> -->
