<full-page *ngIf="(algorithmsUrls$ | async) as algorithmsUrls">

  <page-head>
    <div class="col">
      <app-search [filter]="filter"></app-search>
    </div>
    <div class="col-auto" *hasPermission="['manage_system_resale_url']">
      <btn size="lg" [routerLink]="['/', 'manager', 'superlink', 'system', 'publisher-algorithm', 'create']"
        *hasPermission="['manage_advertisers']">
        <i class="fa fa-user-plus mr-1"></i>Create System Algorithm URL
      </btn>
    </div>
  </page-head>

  <page-body tableSync [data]="algorithmsUrls?.items">
    <ng-container *ngIf="algorithmsUrls?.items?.length">

      <table-head>
        <tr>
          <th>
            <span>#</span>
          </th>
          <th>
            <b appSortBy="name" [filter]="filter">{{ "pubAlgorithm.list.urlName" | translate }}</b>
          </th>
          <th>
            <b appSortBy="resaleUrl" [filter]="filter">{{ "pubAlgorithm.list.algorithmUrlName" | translate }}</b>
          </th>
          <th>&nbsp;</th>
        </tr>
      </table-head>

      <table-body>
        <tr *ngFor="let url of algorithmsUrls?.items; let $index = index;">
          <td [style.width.px]="162">
            <badge [simple]="true">
              {{url.id}}
            </badge>
          </td>
          <td>
            <p>{{url.name}}</p>
          </td>
          <td>
            <p>{{url.resaleUrl.name}}</p>
          </td>
          <td class="text-right" [style.width.px]="150">
            <ng-container *hasPermission="['manage_system_resale_url']">
              <a class="approvals-settings__item approvals-settings__item_edit" data-placement="left"
                [popover]="'pubAlgorithm.list.edit' | translate"
                [routerLink]="['/', 'manager', 'superlink', 'system', 'publisher-algorithm', 'edit', url.id]">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
              <a class="approvals-settings__item approvals-settings__item_delete"
                [popover]="'pubAlgorithm.list.delete' | translate" data-placement="left"
                (click)="deleteAlgorithmUrl(url.id, $index)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
            </ng-container>
          </td>
        </tr>
      </table-body>

      <table-control *ngIf="algorithmsUrls?.items.length" [filter]="filter" [pagination]="algorithmsUrls">
      </table-control>

    </ng-container>

    <app-no-data *ngIf="!algorithmsUrls?.items?.length && !loading"></app-no-data>

  </page-body>

</full-page>

<app-loader [loading]="loading"></app-loader>
