<app-filter #filterComponent>
  <ng-container filter-header>
    <timezone-select [(ngModel)]="filter.timezone"></timezone-select>
  </ng-container>

  <ng-container filter-content>
    <div class="row">
      <div class="col">
        <div class="mb-1">
          <app-offers-select [(ngModel)]="filter.offers" [selectPlaceholder]="'conversionReports.offers' | translate">
          </app-offers-select>
        </div>
        <div class="mb-1">
          <app-multy-live-select [apiUrl]="filterUrls.advertisers"
            [selectPlaceholder]="'conversionReports.advertisers' | translate" [(ngModel)]="filter.advertisers"
            [bindLabel]="'username'" [bindValue]="'id'" name="advertisers"></app-multy-live-select>
        </div>
        <div class="mb-1">
          <app-multy-live-select [apiUrl]="filterUrls.publishers"
            [selectPlaceholder]="'conversionReports.publishers' | translate" [(ngModel)]="filter.publishers"
            [bindLabel]="'username'" [bindValue]="'id'" name="publishers"></app-multy-live-select>
        </div>
        <div class="mb-1">
          <app-countries-select [(ngModel)]="filter.countries"
            [selectPlaceholder]="'conversionReports.countries' | translate"></app-countries-select>
        </div>
        <div class="mb-1">
          <ng-select [(ngModel)]="filter.unique" placeholder="Unique">
            <ng-option [value]="0">Not Unique</ng-option>
            <ng-option [value]="1">Unique</ng-option>
          </ng-select>
        </div>
      </div>
      <div class="col">
        <div class="mb-1">
          <app-platforms-select [(ngModel)]="filter.platforms"
            [selectPlaceholder]="'conversionReports.platforms' | translate"></app-platforms-select>
        </div>
        <div class="mb-1">
          <ng-select [(ngModel)]="filter.minFraud"
            [placeholder]="'conversionReports.minFraud' | translate:{symbol: '%'}">
            <ng-option [value]="0">Clear</ng-option>
            <ng-option [value]="1">Fraud</ng-option>
          </ng-select>
        </div>
        <div class="mb-1">
          <ng-select [(ngModel)]="filter.approveStatus" [items]="(approveStatuses$ | async).items" bindValue="id"
            bindLabel="value" [placeholder]="'conversionReports.approvalsStatus' | translate">
          </ng-select>
        </div>

        <div class="mb-1">
          <app-conversion-report-statuses-select [(ngModel)]="filter.statuses"
            [selectPlaceholder]="'conversionReports.status' | translate"></app-conversion-report-statuses-select>
        </div>

        <div class="mb-1">
          <ng-select [(ngModel)]="filter.sent" [placeholder]="'Postback'">
            <ng-option [value]="0">Not Sent</ng-option>
            <ng-option [value]="1">Sent</ng-option>
          </ng-select>
        </div>
      </div>
      <div class="col">
        <div class="mb-1">
          <input-text type="text" [placeholder]="'conversionReports.ip' | translate" [(ngModel)]="filter.ip">
          </input-text>
        </div>
        <div class="mb-1">
          <input-text type="text" [placeholder]="'conversionReports.convIp' | translate"
            [(ngModel)]="filter.conversionIp"></input-text>
        </div>
        <div class="mb-1">
          <input-text type="text" [placeholder]="'conversionReports.transactionId' | translate"
            [(ngModel)]="filter.transactionId"></input-text>
        </div>
        <div class="mb-1">
          <ng-select [(ngModel)]="filter.test" [placeholder]="'conversionReports.test' | translate">
            <ng-option [value]="0">Not Test</ng-option>
            <ng-option [value]="1">Test</ng-option>
          </ng-select>
        </div>
        <div class="mb-1">
          <ng-select [(ngModel)]="filter.duplicate" [placeholder]="'conversionReports.duplicate' | translate">
            <ng-option [value]="0">Not Duplicate</ng-option>
            <ng-option [value]="1">Duplicate</ng-option>
          </ng-select>
        </div>
      </div>
      <div class="col">
        <div class="mb-1">
          <input-text type="text" [placeholder]="'conversionReports.affiliateSub' | translate"
            [(ngModel)]="filter.affSub"></input-text>
        </div>
        <div class="mb-1">
          <input-text type="text" [placeholder]="'conversionReports.affiliateSub2' | translate"
            [(ngModel)]="filter.affSub2"></input-text>
        </div>
        <div class="mb-1">
          <input-text type="text" [placeholder]="'conversionReports.affiliateSub3' | translate"
            [(ngModel)]="filter.affSub3"></input-text>
        </div>
        <div class="mb-1">
          <input-text type="text" [placeholder]="'conversionReports.affiliateSub4' | translate"
            [(ngModel)]="filter.affSub4"></input-text>
        </div>
      </div>
      <div class="col">
        <div class="mb-1">
          <input-text type="text" [placeholder]="'conversionReports.advAffSub' | translate"
            [(ngModel)]="filter.advAffSub"></input-text>
        </div>
        <div class="mb-1">
          <input-text type="text" [placeholder]="'conversionReports.advAffSub2' | translate"
            [(ngModel)]="filter.advAffSub2"></input-text>
        </div>
        <div class="mb-1">
          <input-text type="text" [placeholder]="'conversionReports.advAffSub3' | translate"
            [(ngModel)]="filter.advAffSub3"></input-text>
        </div>
        <div class="mb-1">
          <input-text type="text" [placeholder]="'conversionReports.advAffSub4' | translate"
            [(ngModel)]="filter.advAffSub4"></input-text>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container filter-footer>
    <btn [simple]="true" (click)="resetFilters(); close()">{{ "dynamicReports.reset" | translate }}</btn>
    <btn (click)="applyFilters();">{{ "dynamicReports.apply" | translate }}</btn>
  </ng-container>
</app-filter>
