<full-page>
  <page-body>
    <div class="page-container support-api">
      <div class="page-row page-row-min">
        <div id="wrapper">
          <div class="ibox ui-draggable ui-droppable" style="position: relative;">
            <div class="ibox-content text-center p-md">
              <div class="row">
                <div class="text-center">
                  <h1>
                    <span class="text-navy">API V1 documentation </span>
                  </h1>
                </div>
              </div>

              <p class="text-left" [innerHtml]="successfulResponseText"></p>
              SUCCESSFUL RESPONSE EXAMPLE:
              <pre id="json2" class="text-left" [innerHtml]="successfulResponseExample"></pre>

              <h1>
                <span class="text-navy">API methods </span>
              </h1>


              <h2>
                <span class="text-success">Offers</span>
              </h2>

              <p class="text-left">
                Returns all active offers matching specified criteria and pagination.
              </p>
              REQUEST EXAMPLES:
              <pre class="text-left" [innerHtml]="offers_request">
                            </pre>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Required</th>
                    <th>Example value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>api_key</td>
                    <td>string</td>
                    <td>Yes</td>
                    <td>Unique random key</td>
                  </tr>
                  <tr>
                    <td>limit</td>
                    <td>integer</td>
                    <td>No</td>
                    <td>Items limit</td>
                  </tr>
                  <tr>
                    <td>page</td>
                    <td>integer</td>
                    <td>No</td>
                    <td>Number of page</td>
                  </tr>
                  <tr>
                    <td>platforms[]</td>
                    <td>array list</td>
                    <td>No</td>
                    <td>iPad / iPhone / Android</td>
                  </tr>
                  <tr>
                    <td>countries[]</td>
                    <td>array list</td>
                    <td>No</td>
                    <td>US / GB / IT</td>
                  </tr>
                  <tr>
                    <td>tags[]</td>
                    <td>array list</td>
                    <td>No</td>
                    <td>Adult / Games / Books</td>
                  </tr>
                  <tr>
                    <td>distributionType</td>
                    <td>string</td>
                    <td>No</td>
                    <td>web / mobile_apps</td>
                  </tr>
                  <tr>
                    <td>trafficType</td>
                    <td>integer</td>
                    <td>No</td>
                    <td>0 - ANY, 1 - Incent / 2 - Non incent</td>
                  </tr>
                  <tr>
                    <td>approved</td>
                    <td>integer</td>
                    <td>No</td>
                    <td>0 / 1</td>
                  </tr>
                  <tr>
                    <td>new</td>
                    <td>integer</td>
                    <td>No</td>
                    <td>0 / 1</td>
                  </tr>
                </tbody>
              </table>
              RESPONSE EXAMPLE:
              <pre id="json3" class="text-left"
                style="  white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word;"
                [innerHtml]="offers_response"></pre>
              <p class="text-left">
                “Cities” array represented by citie's geoname ids. If value “exclude_countries” or “exclude_cities”
                set to
                true, it means
                that provided list of countries or cities are excluded, but all the others are in set.
              </p>

              <h2>
                <span class="text-success">getCreatives</span>
              </h2>

              <p class="text-left">
                Returns for the offer creatives.
              </p>

              REQUEST EXAMPLE:
              <pre class="text-left" [innerHtml]="getCreatives_request"></pre>

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Required</th>
                    <th>Example value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>api_key</td>
                    <td>string</td>
                    <td>Yes</td>
                    <td>Unique random key</td>
                  </tr>
                  <tr>
                    <td>width</td>
                    <td>integer</td>
                    <td>No</td>
                    <td>720</td>
                  </tr>
                  <tr>
                    <td>height</td>
                    <td>integer</td>
                    <td>No</td>
                    <td>90</td>
                  </tr>
                  <tr>
                    <td>id</td>
                    <td>string</td>
                    <td>Yes</td>
                    <td>64e68826-b823-4aec-8db1-66d7dab33cb6</td>
                  </tr>

                </tbody>
              </table>
              RESPONSE EXAMPLE:
              <pre id="json" class="text-left" [innerHtml]="getCreatives_response"></pre>


              <h2>
                <span class="text-success">Approve</span>
              </h2>

              <p class="text-left">
                Requests an approval for one or more offers. Please note, that our platform has daily request limit.
                If
                you want to request
                more than this limit, please contact your Account Manager.
              </p>

              REQUEST EXAMPLE:
              <pre class="text-left" [innerHtml]="approve_request"></pre>

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Required</th>
                    <th>Example value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>api_key</td>
                    <td>string</td>
                    <td>Yes</td>
                    <td>Unique random key</td>
                  </tr>
                  <tr>
                    <td>ids[]</td>
                    <td>array list</td>
                    <td>Yes</td>
                    <td>XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX</td>
                  </tr>
                </tbody>
              </table>
              RESPONSE EXAMPLE:
              <pre id="json_approve" class="text-left" [innerHtml]="approve_response"></pre>
              <h2>
                <span class="text-success">statistics</span>
              </h2>

              <p class="text-left">
                Returns all statistics.</p>

              REQUEST EXAMPLE:
              <pre class="text-left" [innerHtml]="statistics_request"></pre>

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Required</th>
                    <th>Example value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>api_key</td>
                    <td>string</td>
                    <td>Yes</td>
                    <td>Unique random key</td>
                  </tr>
                  <tr>
                    <td>datetimeFrom</td>
                    <td>date format (yyyy-mm-dd)</td>
                    <td>No</td>
                    <td>2018-01-01</td>
                  </tr>
                  <tr>
                    <td>datetimeTo</td>
                    <td>date format (yyyy-mm-dd)</td>
                    <td>No</td>
                    <td>2018-01-01</td>
                  </tr>
                  <tr>
                    <td>offersIds[]</td>
                    <td>array list</td>
                    <td>No</td>
                    <td>64e68826-b823-4aec-8db1-66d7dab33cb6</td>
                  </tr>
                  <tr>
                    <td>countriesCodes[]</td>
                    <td>array list</td>
                    <td>No</td>
                    <td>US / IT / CA</td>
                  </tr>
                  <tr>
                    <td>platformNames[]</td>
                    <td>array list</td>
                    <td>No</td>
                    <td>Android / Desktop/ iPhone / iPad</td>
                  </tr>
                  <tr>
                    <td>cpc</td>
                    <td>integer</td>
                    <td>No</td>
                    <td>1 - show value / 0 - hide value</td>
                  </tr>
                  <tr>
                    <td>cpa</td>
                    <td>integer</td>
                    <td>No</td>
                    <td>1 - show value / 0 - hide value</td>
                  </tr>
                  <tr>
                    <td>cr</td>
                    <td>integer</td>
                    <td>No</td>
                    <td>1 - show value / 0 - hide value</td>
                  </tr>
                  <tr>
                    <td>conversions</td>
                    <td>integer</td>
                    <td>No</td>
                    <td>1 - show value / 0 - hide value</td>
                  </tr>
                  <tr>
                    <td>clicks</td>
                    <td>integer</td>
                    <td>No</td>
                    <td>1 - show value / 0 - hide value</td>
                  </tr>
                  <tr>
                    <td>platforms</td>
                    <td>integer</td>
                    <td>No</td>
                    <td>1 - show value / 0 - hide value</td>
                  </tr>
                  <tr>
                    <td>countries</td>
                    <td>integer</td>
                    <td>No</td>
                    <td>1 - show value / 0 - hide value</td>
                  </tr>
                  <tr>
                    <td>offerId</td>
                    <td>integer</td>
                    <td>No</td>
                    <td>1 - show value / 0 - hide value</td>
                  </tr>
                  <tr>
                    <td>offerName</td>
                    <td>integer</td>
                    <td>No</td>
                    <td>1 - show value / 0 - hide value</td>
                  </tr>
                </tbody>
              </table>
              RESPONSE EXAMPLE:
              <pre id="json_stats" class="text-left" [innerHtml]="staticstics_response"></pre>
              <p class="text-left">
                By default returns with only required parameter (api_key) on the current day.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </page-body>
</full-page>
