<card>

  <card-header>
    <ng-container *ngIf="!publisher?.id">{{ "pubCreate.main" | translate }}</ng-container>
    <ng-container *ngIf="publisher?.id">{{ "pubCreate.updatePublisher" | translate }}</ng-container>
  </card-header>

  <card-body>
    <form onsubmit="return false" [formGroup]="form" appScrollToFirstErrorInput disableAutocomplete>
      <div class="form-group">
        <form-label [required]="true" class="col-4">{{ "pubCreate.userName" | translate }}</form-label>
        <input-text class="col-8" formControlName="username"></input-text>
      </div>
      <ng-container formGroupName="person">
        <div class="form-group">
          <form-label class="col-4">{{ "pubCreate.firstName" | translate }}</form-label>
          <input-text class="col-8" formControlName="firstName"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{ "pubCreate.lastName" | translate }}</form-label>
          <input-text class="col-8" formControlName="lastName"></input-text>
        </div>
      </ng-container>
      <div class="form-groups" [class.form-overlay]="form.get('email').valid">
        <div class="form-group">
          <form-label class="col-4" [required]="true">{{ "pubCreate.email" | translate }}</form-label>
          <input-text class="col-8" [mask]="'email'" formControlName="email"></input-text>
        </div>
        <div class="form-group" *ngIf="form.get('email').valid">
          <form-label class="col-4">{{ "pubCreate.additionalEmails" | translate }}</form-label>
          <tags-input class="col-8" [mask]="'email'" formControlName="additionalEmails"></tags-input>
        </div>
      </div>
      <div class="form-group">
        <form-label class="col-4">{{ "pubCreate.skype" | translate }}</form-label>
        <input-text class="col-8" formControlName="skype"></input-text>
      </div>
      <div class="form-group">
        <form-label class="col-4" [required]="true">{{ "pubCreate.phone" | translate }}</form-label>
        <input-text class="col-8" [type]="'phone'" formControlName="phone"></input-text>
      </div>
      <ng-container formGroupName="address">
        <div class="form-groups form-overlay">
          <div class="form-group">
            <form-label class="col-4" [required]="true">{{ "pubCreate.address" | translate }}</form-label>
            <input-text class="col-8" formControlName="address"></input-text>
          </div>
          <div class="form-group">
            <form-label class="col-4" [required]="true">{{ "pubCreate.city" | translate }}</form-label>
            <input-text class="col-8" formControlName="city"></input-text>
          </div>
          <div class="form-group">
            <form-label class="col-4" [required]="true">{{ "pubCreate.state" | translate }}</form-label>
            <input-text class="col-8" formControlName="state"></input-text>
          </div>
          <div class="form-group">
            <form-label class="col-4" [required]="true">{{ "pubCreate.country" | translate }}</form-label>
            <country-select class="col-8" formControlName="countryCode"></country-select>
          </div>
          <div class="form-group">
            <form-label class="col-4" [required]="true">{{ "pubCreate.zipcode" | translate }}</form-label>
            <input-text class="col-8" formControlName="zipcode"></input-text>
          </div>
        </div>

        <ng-container formArrayName="additionalAddress">
          <div class="form-groups form-overlay" *ngFor="let address of additionalAddressForm?.controls; let i = index">
            <ng-container [formGroupName]="i">
              <header class="d-flex align-items-center justify-content-between mb-2">
                <h4 class="mb-0"><b>{{ "pubCreate.additionalAddress" | translate }} {{ i + 1 }}</b></h4>
                <btn [simple]="true" size="sm" (click)="removeAdditionalAddress(i)">
                  <i class="fa fa-close color-danger"></i>
                </btn>
              </header>
              <div class="form-group">
                <form-label class="col-4">{{ "pubCreate.address" | translate }}</form-label>
                <input-text class="col-8" formControlName="address"></input-text>
              </div>
              <div class="form-group">
                <form-label class="col-4">{{ "pubCreate.city" | translate }}</form-label>
                <input-text class="col-8" formControlName="city"></input-text>
              </div>
              <div class="form-group">
                <form-label class="col-4">{{ "pubCreate.state" | translate }}</form-label>
                <input-text class="col-8" formControlName="state"></input-text>
              </div>
              <div class="form-group">
                <form-label class="col-4">{{ "pubCreate.country" | translate }}</form-label>
                <country-select class="col-8" formControlName="countryCode"></country-select>
              </div>
              <div class="form-group">
                <form-label class="col-4">{{ "pubCreate.zipcode" | translate }}</form-label>
                <input-text class="col-8" formControlName="zipcode"></input-text>
              </div>
            </ng-container>
          </div>
        </ng-container>

        <div class="form-overlay-btn">
          <btn (click)="addAdditionalAddress()">
            <i class="fa fa-plus mr-2"></i>
            {{ "pubCreate.additionalAddress" | translate }}
          </btn>
        </div>
      </ng-container>
      <div class="form-group mt-5">
        <form-label class="col-4">{{ "pubCreate.status" | translate }}</form-label>
        <switcher class="col-8" formControlName="status">
          <switcher-btn name="status" [value]="1">{{ "pubCreate.active" | translate }}</switcher-btn>
          <switcher-btn name="status" [value]="0">{{ "pubCreate.pending" | translate }}</switcher-btn>
        </switcher>
      </div>

      <div class="form-group">
        <form-label class="col-4">{{ "pubCreate.isOwnPublisher" | translate }}</form-label>
        <switcher class="col-8" formControlName="isOwnPublisher">
          <switcher-btn name="partnership" [value]="1">{{ "pubCreate.yes" | translate }}</switcher-btn>
          <switcher-btn name="partnership" [value]="0">{{ "pubCreate.no" | translate }}</switcher-btn>
        </switcher>
      </div>

      <div class="form-group">
        <form-label class="col-4">{{ "pubCreate.affiliateSource" | translate }}</form-label>
        <input-text class="col-8" formControlName="affiliateSource"></input-text>
      </div>
      <div class="form-group">
        <form-label class="col-4">{{ "pubCreate.skipAffiliate" | translate }}</form-label>
        <input-text class="col-8" formControlName="skipAffiliate"></input-text>
      </div>
      <div class="form-group">
        <form-label class="col-4">{{ "pubCreate.autoapprove" | translate }}</form-label>
        <switcher class="col-8" formControlName="autoApprove">
          <switcher-btn name="autoApprove" [value]="1">{{ "pubCreate.approveEnabled" | translate }}</switcher-btn>
          <switcher-btn name="autoApprove" [value]="0">{{ "pubCreate.approveDisabled" | translate }}</switcher-btn>
        </switcher>
      </div>

      <div class="form-group">
        <form-label class="col-4">{{ "pubCreate.antiFraud" | translate }}</form-label>
        <switcher class="col-8" formControlName="antiFraud">
          <switcher-btn name="antiFraud" [value]="1">{{ "pubCreate.yes" | translate }}</switcher-btn>
          <switcher-btn name="antiFraud" [value]="0">{{ "pubCreate.no" | translate }}</switcher-btn>
        </switcher>
      </div>

      <div class="form-group">
        <form-label class="col-4">{{ "pubCreate.badTraf" | translate }}</form-label>
        <switcher class="col-8" formControlName="badTraffic">
          <switcher-btn name="badTraffic" [value]="1">{{ "pubCreate.yes" | translate }}</switcher-btn>
          <switcher-btn name="badTraffic" [value]="0">{{ "pubCreate.no" | translate }}</switcher-btn>
        </switcher>
      </div>

      <div class="form-group">
        <form-label class="col-4">{{ "pubCreate.blockBadTraffic" | translate }}</form-label>
        <switcher class="col-8" formControlName="blockBadTraffic">
          <switcher-btn name="blockBadTraffic" [value]="true">{{ "pubCreate.yes" | translate }}</switcher-btn>
          <switcher-btn name="blockBadTraffic" [value]="false">{{ "pubCreate.no" | translate }}</switcher-btn>
        </switcher>
      </div>

      <ng-container formGroupName="ipWhitelist">
        <div class="form-group">
          <form-label class="col-4">{{ "pubCreate.ipWhitelist" | translate }}</form-label>
          <switcher class="col-8" formControlName="enabledIpWhitelist">
            <switcher-btn name="enabledIpWhitelist" [value]="1">{{ "pubCreate.yes" | translate }}</switcher-btn>
            <switcher-btn name="enabledIpWhitelist" [value]="0">{{ "pubCreate.no" | translate }}</switcher-btn>
          </switcher>
        </div>
        <div class="form-group mb-2" *ngIf="form.get('ipWhitelist.enabledIpWhitelist').value">
          <form-label class="col-4">{{ "pubCreate.ipList" | translate }}</form-label>
          <tags-input class="col-8" [mask]="'ip'" formControlName="ipWhitelist"></tags-input>
        </div>
      </ng-container>

      <div class="form-group">
        <div class="col-12 text-right">
          <a class="inline-link" (click)="postbackHelpModal.open()">Help</a>
        </div>
        <form-label class="col-4">{{ "pubCreate.postbackURL" | translate }}</form-label>
        <div class="col-8">
          <input-text formControlName="postbackUrl"></input-text>
        </div>
      </div>

      <div class="form-group">
        <form-label class="col-4">{{ "pubCreate.superlinkPostbackURL" | translate }}</form-label>
        <input-text class="col-8" formControlName="postbackSuperlinkUrl"></input-text>
      </div>

      <div class="form-group" *ngIf="publisher?.id">
        <form-label class="col-4">Event Postback URL</form-label>
        <input-group class="col-8 mb-3" iconName="plus" (onClick)="postbackSuperlinkUrlModal.open()">
          <tags-input formGroupName="eventPostbacks" [value]="form.get('eventPostbacks').value | showProp:'url'"
            (removed)="removeFormArrayElement('eventPostbacks', $event)">
          </tags-input>
        </input-group>
      </div>

      <div class="form-group" *ngIf="publisher?.id">
        <form-label class="col-4">Offer Postback URL</form-label>
        <input-group class="col-8 mb-3" iconName="plus" (onClick)="offerPostbacksModal.open()">
          <tags-input formGroupName="offerPostbacks" [value]="form.get('offerPostbacks').value | showProp:'url'"
            (removed)="removeFormArrayElement('offerPostbacks', $event)">
          </tags-input>
        </input-group>
      </div>

      <div class="form-group">
        <form-label class="col-4">{{ "pubCreate.payPercent" | translate }}</form-label>
        <input-text class="col-8" formControlName="percentPay" [type]="'number'"></input-text>
      </div>

      <div class="form-group" *ngIf="skipPercentFlag">
        <form-label class="col-4">{{ "pubCreate.skipPercent" | translate }}</form-label>
        <input-text class="col-8" formControlName="percentSkip" [type]="'number'"></input-text>
      </div>

      <div class="form-group">
        <form-label class="col-4">Redirect types </form-label>
        <ng-select class="col-8" [multiple]="false" [items]="(redirectTypes$ | async).items"
          formControlName="redirectType" bindLabel="name" bindValue="id">
        </ng-select>
      </div>

      <ng-container formGroupName="offerRequestLimit">
        <div class="form-group">
          <form-label class="col-4">{{ "pubCreate.offerRequestLimit" | translate }}
            <div class="pub-item__tip">
              <span>i</span>
              <div class="pub-item__text">Set daily request limit or 0 to allow unlimited requests</div>
            </div>
          </form-label>
          <input-text class="col-8" formControlName="offerRequestLimit" [type]="'number'"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{ "pubCreate.offerRequestLeft" | translate }}
            <div class="pub-item__tip">
              <span>i</span>
              <div class="pub-item__text">
                How many requests left for today. This value will be decreased by 1 at every new request and will be
                restores to Request value at the beginning of the next day.
              </div>
            </div>
          </form-label>
          <input-text class="col-8" formControlName="offerRequestLeft" [type]="'number'"></input-text>
        </div>
      </ng-container>

      <div class="form-group">
        <form-label [required]="true" class="col-4">{{ "pubCreate.paymentTerms" | translate }}</form-label>
        <payment-terms-select class="col-8" formControlName="paymentTerms" [clearable]="false" [multiple]="false">
        </payment-terms-select>
      </div>
      <div class="form-group">
        <form-label [required]="true" class="col-4">{{ "pubManage.paymentTermsSuperlink" | translate }}</form-label>
        <payment-terms-superlink-select class="col-8" formControlName="paymentTermsSuperlink" [clearable]="false"
          [multiple]="false"></payment-terms-superlink-select>
      </div>

      <ng-container *ngIf="publisher?.id" formGroupName="resale">
        <div class="form-group">
          <form-label class="col-4" [required]="true">{{ "pubCreate.superlinkEnabled" | translate }}</form-label>
          <switcher class="col-8" formControlName="enabled">
            <switcher-btn name="enabled" [value]="true">{{ "pubCreate.yes" | translate }}</switcher-btn>
            <switcher-btn name="enabled" [value]="false">{{ "pubCreate.no" | translate }}</switcher-btn>
          </switcher>
        </div>

        <div class="form-group">
          <form-label class="col-4">{{ "pubCreate.superlinkPercent" | translate }}</form-label>
          <input-text class="col-8" formControlName="percent" [type]="'number'"></input-text>
        </div>
      </ng-container>

      <ng-container *ngIf="publisher?.id" formGroupName="paymentInfo">
        <div class="form-group">
          <form-label class="col-4">{{ "pubCreate.beneficiaryName" | translate }}</form-label>
          <input-text class="col-8" formControlName="beneficiaryName"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{ "pubCreate.beneficiaryAccount" | translate }}</form-label>
          <input-text class="col-8" formControlName="beneficiaryAccount"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{ "pubCreate.beneficiaryAddress" | translate }}</form-label>
          <input-text class="col-8" formControlName="beneficiaryAddress"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{ "pubCreate.iban" | translate }}</form-label>
          <input-text class="col-8" formControlName="iban"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{ "pubCreate.bankName" | translate }}</form-label>
          <input-text class="col-8" formControlName="bankName"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{ "pubCreate.bankAddress" | translate }}</form-label>
          <input-text class="col-8" formControlName="bankAddress"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{ "pubCreate.routing" | translate }}</form-label>
          <input-text class="col-8" formControlName="routing"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{ "pubCreate.swift" | translate }}</form-label>
          <input-text class="col-8" formControlName="swift"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{ "pubCreate.ePaymentsID" | translate }}</form-label>
          <input-text class="col-8" formControlName="epaymentsId"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{ "pubCreate.webMoneyWMZ" | translate }}</form-label>
          <input-text class="col-8" formControlName="wmz"></input-text>
        </div>
        <div class="form-group">
          <form-label class="col-4">{{ "pubCreate.payPalEmail" | translate }}</form-label>
          <input-text class="col-8" formControlName="paypalEmail"></input-text>
        </div>
      </ng-container>

      <div class="form-group" *ngIf="publisher?.id">
        <form-label class="col-4">Agreement</form-label>
        <app-upload-pub-agreement class="col-8" [publisherId]="publisher?.id" formControlName="agreementFileId">
        </app-upload-pub-agreement>
      </div>
      <div class="form-group" *ngIf="publisher?.id">
        <form-label class="col-4">W8/W9</form-label>
        <app-upload-pub-w8w9 class="col-8" [publisherId]="publisher?.id" formControlName="w8w9FileId">
        </app-upload-pub-w8w9>
      </div>
      <div class="form-group">
        <form-label class="col-4">{{ "pubCreate.notes" | translate }}</form-label>
        <area-input class="col-8" formControlName="notes"></area-input>
      </div>
      <div class="form-group">
        <form-label class="col-4">{{ "pubCreate.invoiceNotes" | translate }}</form-label>
        <input-text class="col-8" formControlName="invoiceNotes"></input-text>
      </div>
      <div class="form-group" formGroupName="manager">
        <form-label class="col-4" [required]="true">{{ "pubCreate.manager" | translate }}</form-label>
        <manager-select class="col-8" formControlName="id" [multiple]="false" [placeholder]="'Manager'"
          [clearable]="false"></manager-select>
      </div>
      <ng-container *ngIf="!publisher?.id">
        <div class="form-group">
          <form-label class="col-4" [required]="true">{{ "pubCreate.password" | translate }}</form-label>
          <password class="col-8" formControlName="password"></password>
        </div>
        <div class="form-group">
          <form-label class="col-4" [required]="true">{{ "pubCreate.confirmPassword" | translate }}</form-label>
          <password class="col-8" formControlName="confirmPassword"></password>
        </div>
      </ng-container>

    </form>

  </card-body>

  <card-footer>
    <btn [simple]="true" routerLink="/manager/publishers/list">{{ "pubCreate.cancel" | translate }}</btn>
    <btn (click)="submitform()">
      <ng-container *ngIf="!publisher?.id">{{ "pubCreate.main" | translate }}</ng-container>
      <ng-container *ngIf="publisher?.id">{{ "pubCreate.updatePublisher" | translate }}</ng-container>
    </btn>
  </card-footer>

</card>

<app-loader [loading]="loading"></app-loader>

<modal #postbackHelpModal size="lg">
  <users-publishers-help-modal></users-publishers-help-modal>
</modal>


<modal #postbackSuperlinkUrlModal size="lg" containerClass="event-postback-modal">
  <modal-header>Event Postback Modal</modal-header>
  <modal-body>
    <app-event-postback [list]="form.get('eventPostbacks').value" (onClick)="postbackSuperlinkUrlModal.close()"
      (eventPostback)="setEventPostback($event)">
    </app-event-postback>
  </modal-body>
</modal>

<modal #offerPostbacksModal size="lg" containerClass="offer-postback-modal">
  <modal-header>Offer Postback URL</modal-header>

  <modal-body>
    <app-offers-postback [list]="form.get('offerPostbacks').value" (onClick)="offerPostbacksModal.close()"
      (eventPostback)="setOfferPostback($event)">
    </app-offers-postback>
  </modal-body>
</modal>
