@import "variables";
@import "mixin";

:host {
  display: flex;
  align-items: center;

  ::ng-deep {
    .v-dash {
      font-size: rem(16);
      line-height: 1;
      display: inline-block;
      margin: rem(0, 40);
      color: var(--form-control-border);
    }
  }
}
