<div [style.padding-right.px]="scrollbarWidth">
  <table class="table table-total table-total-tableSync">
    <span class="table-total-title">Total General</span>
    <ng-content></ng-content>
  </table>
</div>
