<card>

  <card-header>
    {{ "checker.linkCheck" | translate }}
  </card-header>

  <card-body>
    <form onsubmit="return false" [formGroup]="linkForm" appScrollToFirstErrorInput disableAutocomplete>
      <div class="form-group">
        <form-label class="col-4" [required]="true">{{ "checker.location" | translate }}</form-label>
        <country-select class="col-8" formControlName="externalLocationId"></country-select>
      </div>
      <div class="form-group">
        <form-label class="col-4" [required]="true">{{ "checker.devices" | translate }}</form-label>
        <platform-select class="col-8" formControlName="externalDeviceId"></platform-select>
      </div>
      <div class="form-group">
        <form-label class="col-4" [required]="true">{{ "checker.url" | translate }}</form-label>
        <input-text class="col-8" formControlName="url"></input-text>
      </div>
    </form>
  </card-body>

  <card-footer>
    <btn [simple]="true" (click)="reset()">{{ "reset" | translate }}</btn>
    <btn (click)="checkLink()">
      {{ "checker.check" | translate }}
    </btn>
  </card-footer>

</card>


<div *ngIf="response" class="pub-checker">
  <div class="checker-tabs__text">
    <div class="checker-modal__tags">
      <span class="color-lightgray">
        <span [innerHtml]="response?.duration + ' sec'"></span>
      </span>
      <span class="label label-yellow" [innerHtml]="response?.redirectUrls?.length"></span>
    </div>
    <div class="checker-modal__title semi-bold big-font" translate="checker.destination">Destination</div>
    <div class="checker-modal__status">
      <span [innerHtml]="response?.redirectUrls[response?.redirectUrls.length-1]?.domain"></span>
    </div>
    <div class="checker-modal__err-message color-red" [innerHtml]="response?.error" *ngIf="response?.error">Error:
      1407742E:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert protocol version
    </div>
    <div class="checker-tabs">
      <div class="checker-tabs__left">
        <ol class="checker-tabs__list">
          <li class="checker-tabs__item" *ngFor="let item of response?.redirectUrls; let $index = index;">
            <input type="radio" id="{{'checker-tabs__checkbox' + $index}}" name="checker-tabs" [checked]="$index === 0">
            <label for="{{'checker-tabs__checkbox' + $index}}" class="checker-tabs__link">
              <img [src]="item.logo" style="height: 20px;width: auto;vertical-align: middle;">
              {{item.domain}}</label>
            <div class="checker-tabs__right" perfectScrollbar>
              <div class="checker-tabs__text">
                <ul style="word-break: break-word">
                  <li>
                    <b translate="checker.request">Request:</b>
                    <ul>
                      <li>
                        <b translate="checker.time">Time:</b>
                        <span [innerHtml]="item.request?.time | dateFormatDynamic:true"></span>
                      </li>
                      <li>
                        <b translate="checker.method">Method:</b>
                        <span [innerHtml]="item.request?.method"></span>
                      </li>
                      <li>
                        <b translate="checker.headers">Headers:</b>
                        <ul>
                          <li style="word-break: break-word;" *ngFor="let header of item.request?.headers | keyvalue">
                            <span [innerHtml]="header.value"></span>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <b translate="checker.response">Response:</b>
                    <ul>
                      <li>
                        <b translate="checker.time">Time:</b>
                        <span [innerHtml]="item.response?.time | dateFormatDynamic:true"></span>
                      </li>
                      <li>
                        <b translate="checker.contentType">Content Type:</b>
                        <span [innerHtml]="item.response?.contentType"></span>
                      </li>
                      <li>
                        <b translate="checker.redirectURL">Redirect Url:</b>
                        <span [innerHtml]="item.response?.redirectUrl"></span>
                      </li>
                      <li>
                        <b translate="checker.status">Status:</b>
                        <span [innerHtml]="item.response?.status"></span>
                      </li>
                      <li>
                        <b translate="checker.statusText">Status Text:</b>
                        <span [innerHtml]="item.response?.statusText"></span>
                      </li>
                      <li>
                        <b translate="checker.headers">Headers:</b>
                        <ul>
                          <li *ngFor="let header of item.response?.headers | keyvalue">
                            <span [innerHtml]="header.value"></span>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>

<app-loader [loading]="loading"></app-loader>
