<div class="page scrollable" perfectScrollbar>
  <div class="page-container">
    <div class="page-row page-row-min">
      <div class="page-cell">
        <div class="page-nav-panel filters-hide">
          <div class="col">
            <div class="page-nav">
              <a [routerLink]="['/', 'publisher', 'reports', 'dynamic']" routerLinkActive="current">
                <span translate="dynamicReports.dynamic">Dynamic</span>
              </a>
              <a [routerLink]="['/', 'publisher', 'reports', 'conversions']" [routerLinkActive]="['current']">
                <span translate="dynamicReports.conversions">Conversions</span>
              </a>
            </div>
          </div>
          <div class="col">
            <div class="interval-sel" id="filter-interval-select">
              <app-date-range-picker [startDate]="params.datetimeFrom" [endDate]="params.datetimeTo"
                (onApply)="calendarCallback($event)">
              </app-date-range-picker>
            </div>
            <button type="button" class="btn btn-filter" (click)="toggleFilter()">
              <span translate="dynamicReports.filter">Filter</span>
              <span class="icn-filter">
                <span class="icn-bar"></span>
                <span class="icn-bar"></span>
                <span class="icn-bar"></span>
              </span>
            </button>
          </div>
        </div>
        <div class="filters" [ngClass]="{'show': filtersOpened}">
          <div class="filters-header" style="font-size: 0">
            <div class="col">
              <div class="fliters-time-select">
                <div class="inp inp-select ">
                  <div class="select-field">
                    <timezone-select [(ngModel)]="params.timezone"
                      [placeholder]="'dynamicReports.timezoneSelect' | translate"></timezone-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <button type="button" class="external-filers__close" (click)="toggleFilter('clear')">
                <span translate="dynamicReports.filter">Filter</span>
                <i class="fa fa-close"></i>
              </button>
            </div>
          </div>
          <div class="filters-content">
            <div class="filters-row">
              <div class="filters-col filters-col-double filters-col-br">
                <div class="filters-col-title" translate="dynamicReports.breakdown">Break down</div>
                <div class="inp inp-check">
                  <label>
                    <input type="checkbox" [(ngModel)]="params.date" appTrueFalseValue trueValue="1" falseValue="0"
                      checked>
                    <i class="icn-check"></i>
                    <span translate="dynamicReports.date">Date</span>
                  </label>
                </div>
                <div class="inp inp-check">
                  <label>
                    <input type="checkbox" [(ngModel)]="params.clicks" appTrueFalseValue trueValue="1" falseValue="0">
                    <i class="icn-check"></i>
                    <span translate="dynamicReports.clicks">Clicks</span>
                  </label>
                </div>
                <div class="inp inp-check">
                  <label>
                    <input type="checkbox" [(ngModel)]="params.hour" appTrueFalseValue trueValue="1" falseValue="0">
                    <i class="icn-check"></i>
                    <span translate="dynamicReports.hour">Hour</span>
                  </label>
                </div>
                <div class="inp inp-check">
                  <label>
                    <input type="checkbox" [(ngModel)]="params.backUrlClicks" appTrueFalseValue trueValue="1"
                      falseValue="0">
                    <i class="icn-check"></i>
                    <span translate="dynamicReports.backTraffic">Back traffic</span>
                  </label>
                </div>
                <div class="inp inp-check">
                  <label>
                    <input type="checkbox" [(ngModel)]="params.countries" appTrueFalseValue trueValue="1"
                      falseValue="0">
                    <i class="icn-check"></i>
                    <span translate="dynamicReports.geography">Geography</span>
                  </label>
                </div>
                <div class="inp inp-check">
                  <label>
                    <input type="checkbox" [(ngModel)]="params.conversions" appTrueFalseValue trueValue="1"
                      falseValue="0">
                    <i class="icn-check"></i>
                    <span translate="dynamicReports.conversions">Conversions</span>
                  </label>
                </div>
                <div class="inp inp-check">
                  <label>
                    <input type="checkbox" [(ngModel)]="params.platforms" appTrueFalseValue trueValue="1"
                      falseValue="0">
                    <i class="icn-check"></i>
                    <span translate="dynamicReports.platforms">Platforms</span>
                  </label>
                </div>
                <div class="inp inp-check">
                  <label>
                    <input type="checkbox" [(ngModel)]="params.cpa" appTrueFalseValue trueValue="1" falseValue="0">
                    <i class="icn-check"></i>
                    <span translate="dynamicReports.CPA">CPA</span>
                  </label>
                </div>
                <div class="inp inp-check">
                  <label>
                    <input type="checkbox" [(ngModel)]="params.offerId" appTrueFalseValue trueValue="1" falseValue="0">
                    <i class="icn-check"></i>
                    <span translate="dynamicReports.offerID">Offer ID</span>
                  </label>
                </div>
                <div class="inp inp-check">
                  <label>
                    <input type="checkbox" [(ngModel)]="params.cpc" appTrueFalseValue trueValue="1" falseValue="0">
                    <i class="icn-check"></i>
                    <span translate="dynamicReports.CPC">CPC</span>
                  </label>
                </div>
                <div class="inp inp-check">
                  <label>
                    <input type="checkbox" [(ngModel)]="params.offerName" appTrueFalseValue trueValue="1"
                      falseValue="0">
                    <i class="icn-check"></i>
                    <span translate="dynamicReports.offerName">Offer name</span>
                  </label>
                </div>
                <div class="inp inp-check">
                  <label>
                    <input type="checkbox" [(ngModel)]="params.cr" appTrueFalseValue trueValue="1" falseValue="0">
                    <i class="icn-check"></i>
                    <span translate="dynamicReports.CR">CR</span>
                  </label>
                </div>
                <div class="inp inp-check">
                  <label>
                    <input type="checkbox" [(ngModel)]="params.revenues" appTrueFalseValue trueValue="1" falseValue="0">
                    <i class="icn-check"></i>
                    <span translate="dynamicReports.revenues">Revenues</span>
                  </label>
                </div>
                <div class="inp inp-check">
                  <label>
                    <input type="checkbox" [(ngModel)]="params.goalName" appTrueFalseValue trueValue="1" falseValue="0">
                    <i class="icn-check"></i>
                    <span translate="dynamicReports.goalName">Goal name</span>
                  </label>
                </div>
              </div>
              <div class="filters-col">
                <div class="filters-col-title" translate="dynamicReports.countriesSelect">Applications</div>
                <div class="inp inp-select">
                  <div class="select-field">
                    <app-countries-select [(ngModel)]="params.countriesCodes" [multiple]="true" [clearable]="false"
                      [selectPlaceholder]="'dynamicReports.countriesSelect' | translate"></app-countries-select>
                  </div>
                </div>
              </div>
              <div class="filters-col">
                <div class="filters-col-title" translate="dynamicReports.offers">Offers</div>
                <div class="inp inp-select">
                  <div class="select-field">
                    <app-pub-offer-select [(ngModel)]="params.offersIds"
                      [selectPlaceholder]="'dynamicReports.offerIDSelect' | translate"></app-pub-offer-select>
                  </div>
                </div>
                <div class="inp inp-select">
                  <div class="select-field">
                    <app-platforms-select [(ngModel)]="params.platformNames"
                      [selectPlaceholder]="'dynamicReports.platformsSelect' | translate"></app-platforms-select>
                  </div>
                </div>
              </div>
              <div class="filters-col">
                <div class="filters-col-title">Sub Aff ID</div>
                <div class="inp">
                  <input type="text" [(ngModel)]="params.subAffId" placeholder="Sub Aff ID">
                </div>
              </div>
            </div>
          </div>
          <div class="filters-footer">
            <span class="external-filers__cancel btn" (click)="resetFilter()"
              translate="dynamicReports.reset">Reset</span>
            <span class="btn btn-ok" (click)="applyFilter()" translate="dynamicReports.apply">Apply</span>
          </div>
        </div>
        <div class="fake-table__top table-performance-reports__top" *ngIf="reports.items.length">
          <div class="fake-table__row">
            <div class="fake-table__head" *ngIf="params.date || params.hour">
              <span class="clickable color-blue" [hidden]="!params.date" (click)="sortBy('date')"
                translate="dynamicReports.date">Date</span>
              <br />
              <span class="clickable color-blue" [hidden]="!params.hour" (click)="sortBy('hour')"
                translate="dynamicReports.hour">Hour</span>
            </div>
            <div class="fake-table__head" *ngIf="params.clicks || params.backUrlClicks">
              <span class="clickable color-blue" [hidden]="!params.clicks" (click)="sortBy('clicks')"
                translate="dynamicReports.clicks">Clicks</span>
              <br />
              <span class="clickable color-blue" [hidden]="!params.backUrlClicks" (click)="sortBy('backTraffic')"
                translate="dynamicReports.backTraffic">Back traffic</span>
            </div>
            <div class="fake-table__head big-cell" *ngIf="params.offerId || params.offerName">
              <span [hidden]="!params.offerId" translate="dynamicReports.offerID">Offer ID</span>
              <br />
              <span class="clickable color-blue" [hidden]="!params.offerName" (click)="sortBy('offerName')"
                translate="dynamicReports.offerName">Offer
                name</span>
            </div>
            <div class="fake-table__head" *ngIf="params.countries || params.platforms">
              <span class="clickable color-blue" [hidden]="!params.countries" (click)="sortBy('country')"
                translate="dynamicReports.country">Country</span>
              <br />
              <span class="clickable color-blue" [hidden]="!params.platforms" (click)="sortBy('platform')"
                translate="dynamicReports.platform">Platform</span>
            </div>
            <div class="fake-table__head" *ngIf="params.conversions || params.cr">
              <span class="clickable color-blue" [hidden]="!params.conversions" (click)="sortBy('conversions')"
                translate="dynamicReports.conversions">Conversions</span>
              <br />
              <span class="clickable color-blue" [hidden]="!params.cr" (click)="sortBy('cr')">CR</span>
            </div>
            <div class="fake-table__head" *ngIf="params.cpa || params.cpc">
              <span class="clickable color-blue" [hidden]="!params.cpa" (click)="sortBy('cpa')">CPA</span>
              <br />
              <span class="clickable color-blue" [hidden]="!params.cpc" (click)="sortBy('cpc')">CPC</span>
            </div>
            <div class="fake-table__head" *ngIf="params.revenues || params.goalName">
              <span class="clickable color-blue" [hidden]="!params.revenues" (click)="sortBy('revenues')"
                translate="dynamicReports.revenues">Revenue</span>
              <br />
              <span class="clickable color-blue" [hidden]="!params.goalName" (click)="sortBy('goalName')"
                translate="dynamicReports.goalName">Goal
                Name</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-row">
      <div class="page-cell">
        <div class="page-scrollable scrollable" perfectScrollbar update-flag="scrollFlag">
          <div class="content" *ngIf="!loading">
            <div class="fake-table table-performance-reports" *ngIf="reports.items.length">
              <div class="fake-table__body">
                <!-- <div class="fake-table__date table-performance-reports__date">
                    <span class="semi-bold">Today</span>
                </div> -->
                <div class="fake-table__row" *ngFor="let item of reports.items; let $index = index;">
                  <div class="fake-table__cell" *ngIf="params.date || params.hour">
                    <span [hidden]="!params.date"
                      [innerHtml]="item.date | dateFormatDynamic:false:params.timezone"></span>
                    <br />
                    <span [hidden]="!params.hour" [innerHtml]="item.hour | hoursFromNumber"></span>
                  </div>
                  <div class="fake-table__cell" *ngIf="params.clicks || params.backUrlClicks">
                    <span [hidden]="!params.clicks">
                      <strong [innerHtml]="item.clicks">3</strong>
                    </span>
                    <br />
                    <span [hidden]="!params.backUrlClicks" [innerHtml]="item.backUrlClicks"></span>
                  </div>
                  <div class="fake-table__cell big-cell" *ngIf="params.offerId || params.offerName">
                    <span [hidden]="!params.offerId" [innerHtml]="item.offerId"></span>
                    <br />
                    <span [hidden]="!params.offerName" [innerHtml]="item.offerName"></span>
                  </div>
                  <div class="fake-table__cell" *ngIf="params.countries || params.platforms">
                    <span [hidden]="!params.countries" [innerHtml]="item.countryCode"></span>
                    <br>
                    <span [hidden]="!params.platforms" [innerHtml]="item.platformName"></span>
                  </div>
                  <div class="fake-table__cell" *ngIf="params.conversions || params.cr">
                    <span *ngIf="params.conversions">
                      <strong [innerHtml]="item.conversions" class="color-green">2</strong>
                    </span>
                    <br />
                    <span [hidden]="!item.cr">{{(item.cr | number: '1.2-2') + '%'}}</span>
                  </div>
                  <div class="fake-table__cell" *ngIf="params.cpa || params.cpc">
                    <span>
                      <strong [innerHtml]="(item?.cpa?.toFixed(2) || 0) + ' ' + item.currency"
                        class="color-green">2</strong>
                    </span>
                    <br />
                    <span [innerHtml]="(item?.cpc?.toFixed(2) || 0) + ' ' + item.currency"></span>
                  </div>
                  <div class="fake-table__cell" *ngIf="params.revenues || params.goalName">
                    <span *ngIf="params.revenues">
                      <strong [innerHtml]="(item?.revenue?.toFixed(2) || 0) + ' ' + item.currency"
                        class="color-green">52.34</strong>
                      <br />
                    </span>
                    <span [hidden]="!params.goalName" [innerHtml]="item.goalName"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-no-data *ngIf="!reports.items.length && !loading"></app-no-data>
      </div>
    </div>
    <div class="page-row page-row-min">
      <div class="page-cell">
        <div class="page-footer-panel" *ngIf="reports.items.length">
          <div class="col"></div>
          <div class="col">
            <table-limit [limit]="reports.limit" (changedLimit)="tableLimit($event)"></table-limit>
          </div>
          <div class="col">
            <table-pagination [page]="reports.page" [totalPages]="reports.totalPages" (currentPage)="goToPage($event)">
            </table-pagination>
          </div>
        </div>
        <div class="content" *ngIf="reports.items.length">
          <div class="fake-table table-dynamic-reports fake-table-total">
            <span class="fake-table-total__title">Total General</span>
            <div class="fake-table__body">
              <div class="fake-table__row">
                <div class="fake-table__cell" *ngIf="params.date || params.hour">
                </div>
                <div class="fake-table__cell" *ngIf="params.clicks || params.backUrlClicks">
                </div>
                <div class="fake-table__cell big-cell" *ngIf="params.offerId || params.offerName">
                </div>
                <div class="fake-table__cell" *ngIf="params.countries || params.platforms">
                </div>
                <div class="fake-table__cell" *ngIf="params.conversions || params.cr">
                </div>
                <div class="fake-table__cell" *ngIf="params.cpa || params.cpc">
                </div>
                <div class="fake-table__cell" *ngIf="params.revenues || params.goalName">
                  <span *ngIf="params.revenues">
                    <strong
                      [innerHtml]="reports?.data?.total?.revenue[0].amount + ' ' + reports?.data?.total?.revenue[0].currency"
                      class="color-green">52.34</strong>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-loader [loading]="loading"></app-loader>
</div>
