<label class="checkbox">
  <input
    #check
    type="checkbox"
    [formControl]="control"
    (change)="changeValue($event.target.checked)">
  <i class="fa fa-{{ icon }}"></i>
  <span>
    <ng-content></ng-content>
  </span>
</label>
