<div class="form-group">
  <textarea class="form-control"
            #area
            autosize
            [value]="value"
            [formControl]="control"
            [attr.maxlength]="maxlength"
            [placeholder]="placeholder || ''"
            (focus)="markAsTouched()">
  </textarea>

  <footer class="form-group-footer" *ngIf="maxlength">
    {{ value?.length || 0 }}/{{ maxlength }}
  </footer>

  <validation-message [control]="control" [target]="area"></validation-message>
</div>
