<div class="dropdown"
     (clickOutside)="closeNotification({close: true})">

  <btn class="dropdown-toggle pl-2"
       [ngClass]="{'new': notifications.items.length}"
       [innerHTML]="notificationCount"
       [disabled]="!notifications.items.length"
       (click)="showNotification()"></btn>

  <div class="dropdown-container" *ngIf="notificationIsShown">

    <ul class="dropdown-menu">
      <li class="spinner" *ngIf="notificationLoading">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </li>

      <li *ngFor="let notification of notifications.items"
          [ngClass]="{'unread': !notification.read}">
        <span *ngIf="notification.category.name !== 'checker'"
              [innerHtml]="notification.message.name"></span>
        <a [routerLink]="['/', 'manager', 'offers', 'single-check', notification.payload.manualCheckId]"
           (click)="closeNotification({close: true})"
           *ngIf="notification.category.name === 'checker'"
           [innerHtml]="notification.message.name"></a>
      </li>
    </ul>

    <footer class="dropdown-footer" *ngIf="!noMoreNotifications">
      <btn (click)="getMoreNotifications()">Show more</btn>
    </footer>

  </div>

</div>
