@import "variables";
@import "mixin";

.dropdown {
  position: relative;
  display: inline-flex;
  height: inherit;

  &-toggle {
    padding: rem(8, 10);
    opacity: .6;
    font-size: rem(13);
    line-height: rem(20);
    font-weight: 700;
    font-family: 'FontAwesome';
    color: #fff;
    cursor: pointer;

    &:before {
      margin-right: rem(1);
      content: "\f0f3";
      vertical-align: top;
      font-size: rem(20);
      line-height: rem(40);
    }

    &.new {
      color: #02C3C8;
      opacity: 1;
    }
  }

  &-container {
    margin-left: rem(-4.5);
    width: rem(240);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: #ffffff;
    border: 1px solid $border-color;
    box-shadow: 0 9px 21px 0 var(--shadow);
    border-radius: $border-radius;

    &:before {
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      pointer-events: none;
      content: '';
      width: 0;
      height: 0;
      border: rem(7) solid;
      border-color: transparent transparent #ffffff transparent;
    }
  }

  &-menu {
    display: block;
    min-height: rem(50);
    max-height: rem(400);
    padding-top: rem(5);
    margin-top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid $border-color;

    li {
      font-size: rem(13);
      padding: rem(3, 10);

      &:not(:last-child) {
        border-bottom: 1px solid $border-color;
      }

      &.unread {
        font-weight: 700;

        &:before {
          display: inline-block;
          content: ' \25CF ';
          padding-right: rem(2);
        }
      }

      a {
        text-decoration: none;
        color: #58666E;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &-footer {
    text-align: center;
    padding: rem(10, 0);
    font-size: rem(14);

    button {
      cursor: pointer;
      outline: none;
    }
  }
}
