<full-page *ngIf="(invoices$ | async) as invoices">
  <page-head [verticalAligment]="'align-items-center'" [horisontalAligment]="'justify-content-between'">
    <div class="col-2">
      <ng-select [(ngModel)]="filter.status" [items]="(statuses$ | async).items" [bindLabel]="'name'" [bindValue]="'id'"
        (change)="changeStatus($event)" [placeholder]="'All'"></ng-select>
    </div>
    <div class="col-auto ml-auto">
      <date-range-picker [startDate]="filter.from" [endDate]="filter.to" (onApply)="calendarCallback($event)">
      </date-range-picker>
    </div>
  </page-head>
  <page-body tableSync [data]="invoices?.items">
    <ng-container *ngIf="invoices?.items?.length">
      <table-head>
        <tr>
          <th>
            <b class="clickable" [filter]="filter" appSortBy="number">#</b>
          </th>
          <th>
            <b class="clickable" [filter]="filter" appSortBy="period">{{ "pubBilling.date" | translate }}</b>
          </th>
          <th>
            <b class="clickable" [filter]="filter" appSortBy="amount">{{ "pubBilling.amount" | translate }}</b>
          </th>
          <th>
            <b class="clickable" [filter]="filter" appSortBy="currency">{{ "pubBilling.currency" | translate }}</b>
          </th>
          <th>
            <b class="clickable" [filter]="filter" appSortBy="status">{{ "pubBilling.status" | translate }}</b>
          </th>
          <th>
            <b class="clickable" [filter]="filter" appSortBy="paymentTerms">{{ "pubBilling.pt" | translate }}</b>
          </th>
          <th [style.width.px]="150">
            <p>{{ "pubBilling.invoiceActions" | translate }}</p>
          </th>
        </tr>
      </table-head>

      <table-body>
        <tr *ngFor="let invoice of invoices.items; let $index = index;">
          <td>
            <badge [simple]="true" [popover]="invoice.invoiceNumber">{{invoice.invoiceNumber}}</badge>
          </td>
          <td>
            <b [innerHtml]="invoice.period.from | dateFormat">14.12.2017</b>
            -
            <b [innerHtml]="invoice.period.to | dateFormat">14.12.2017</b>
          </td>
          <td>
            <p [innerHtml]="invoice.amountDetails.total.amount">$54,645.34</p>
          </td>
          <td>
            <badge>{{invoice.amount.currency}}</badge>
          </td>
          <td>
            <label class="label label-invoice-{{ invoice.status | publisherInvoicesStatus:'original' | async }}">
              {{invoice.status | publisherInvoicesStatus | async}}</label>
          </td>
          <td>
            <b>{{invoice.paymentInfo.paymentTerms | publisherPaymentTerms | async}}</b>
          </td>
          <td [style.width.px]="150">
            <div class="approvals-settings text-right">
              <span class="approvals-settings__item approvals-settings__item_edit"
                [popover]="'pubBilling.view' | translate"
                [routerLink]="['/', 'publisher', 'billing', 'billing-info', invoice.invoiceNumber]">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </span>
            </div>
          </td>
        </tr>
      </table-body>
      <table-control *ngIf="invoices?.items.length" [filter]="filter" [pagination]="invoices">
      </table-control>
    </ng-container>
    <app-no-data *ngIf="!invoices?.items?.length && !loading"></app-no-data>
  </page-body>
</full-page>

<app-loader [loading]="loading"></app-loader>
