<full-page>

  <page-head [verticalAligment]="'align-items-center'">

    <div class="col-auto">
      <panel-control-mini>
        <btn [success]="true" (click)="sortByStatuses('active')" [class.active]="getSelectedStatusClass('active')"
          [popover]="'manageOffers.statuses.active' | translate">
          <i class="fa fa-play" aria-hidden="true"></i>
        </btn>
        <btn (click)="sortByStatuses('suspended')" [class.active]="getSelectedStatusClass('suspended')"
          [popover]="'manageOffers.statuses.suspended' | translate">
          <i class="fa fa-forward" aria-hidden="true"></i>
        </btn>
        <btn [warning]="true" (click)="sortByStatuses('pending')" [class.active]="getSelectedStatusClass('pending')"
          [popover]="'manageOffers.statuses.pending' | translate">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
        </btn>
        <btn [danger]="true" (click)="sortByStatuses('paused')" [class.active]="getSelectedStatusClass('paused')"
          [popover]="'manageOffers.statuses.paused' | translate">
          <i class="fa fa-pause" aria-hidden="true"></i>
        </btn>
        <btn (click)="sortByStatuses('paused24')" [class.active]="getSelectedStatusClass('paused24')"
          [popover]="'manageOffers.statuses.paused24' | translate">
          <i class="fa fa-step-forward" aria-hidden="true"></i>
        </btn>
        <btn [secondary]="true" (click)="sortByStatuses('deleted')" [class.active]="getSelectedStatusClass('deleted')"
          [popover]="'manageOffers.statuses.deleted' | translate">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </btn>
      </panel-control-mini>
    </div>

    <div class="col">
      <app-search [search]="search" (submitSearch)="setSearchValue($event)"></app-search>
    </div>

    <div class="col-auto">
      <btn class="mr-2" [simple]="true" (click)="toggleFilterMode('open')">
        {{ "manageOffers.filter" | translate }}
        <i class="fa fa-filter ml-1" aria-hidden="true"></i>
      </btn>
      <btn routerLink="/manager/offers/create" *hasPermission="['manage_offers']">
        <i class="fa fa-plus mr-2" aria-hidden="true"></i>
        {{ "manageOffers.create" | translate }}
      </btn>
    </div>

    <div class="external-filers" [class.external-filers_open]="searchFilterIsOpen">
      <form novalidate [formGroup]="searchFilter" (submit)="applySearchFilters()">
        <div class="external-filers__top">
          <button type="button" class="external-filers__close" (click)="toggleFilterMode('close', true)">
            <span translate="manageOffers.advanceSearch">Filter</span>
            <i class="fa fa-close"></i>
          </button>
        </div>
        <div class="external-filers__content">
          <div class="external-filers__col">
            <div class="external-filers__box">
              <label class="createOffer__label" translate="manageOffers.offerID">Offer ID</label>
              <div class="createOffer__input">
                <div class="select-field">
                  <app-offers-select formControlName="offerIds" [multiple]="true" [clearable]="true"
                    [selectPlaceholder]="'manageOffers.addSeveral' | translate"></app-offers-select>
                </div>
              </div>
            </div>
            <div class="external-filers__box">
              <label class="createOffer__label" translate="manageOffers.appID">App ID</label>
              <div class="createOffer__input">
                <input type="text" formControlName="appId"
                  [placeholder]="'manageOffers.addSeveralWithSpace' | translate">
              </div>
            </div>
            <div class="external-filers__box">
              <div class="external-filers__label-control">
                <label class="createOffer__label" translate="manageOffers.platforms">Platforms</label>
              </div>
              <div class="createOffer__select">
                <div class="select-field">
                  <app-platforms-select formControlName="platforms" [multiple]="true" [clearable]="true"
                    [selectPlaceholder]="'manageOffers.addSeveral' | translate"></app-platforms-select>
                </div>
              </div>
            </div>
          </div>
          <div class="external-filers__col">
            <div class="external-filers__box">
              <div class="external-filers__label-control">
                <label class="createOffer__label" translate="manageOffers.realID">Real ID</label>
              </div>
              <div class="createOffer__input">
                <input type="text" formControlName="realId"
                  [placeholder]="'manageOffers.addSeveralWithSpace' | translate">
              </div>
            </div>
            <div class="external-filers__box">
              <div class="external-filers__label-control">
                <label class="createOffer__label" translate="manageOffers.payout">Payout</label>
              </div>
              <div class="filter-ranges">
                <div class="createOffer__input createOffer__input_price">
                  <input type="number" formControlName="minPayout" min="0"
                    [placeholder]="'manageOffers.min' | translate">
                </div>
                <div class="filter-ranges__divider">—</div>
                <div class="createOffer__input createOffer__input_price">
                  <input type="number" formControlName="maxPayout" min="0"
                    [placeholder]="'manageOffers.max' | translate">
                </div>
              </div>
            </div>
            <div class="external-filers__box">
              <div class="external-filers__label-control">
                <label class="createOffer__label" translate="manageOffers.currency">Currency</label>
              </div>
              <div class="createOffer__select">
                <currency-select formControlName="currency" [placeholder]="'manageOffers.currency' | translate">
                </currency-select>
              </div>
            </div>
          </div>
          <div class="external-filers__col">
            <div class="external-filers__box">
              <div class="external-filers__label-control">
                <label class="createOffer__label" translate="manageOffers.userName">Advertiser</label>
              </div>
              <div class="createOffer__select">
                <div class="select-field">
                  <app-advertisers-select formControlName="advertiser" [multiple]="true" [clearable]="true"
                    [selectPlaceholder]="'manageOffers.advIdCompany' | translate"></app-advertisers-select>
                </div>
              </div>
            </div>
            <div class="external-filers__box">
              <div class="external-filers__label-control">
                <label class="createOffer__label" translate="manageOffers.countries">Countries</label>
              </div>
              <div class="createOffer__select">
                <div class="select-field">
                  <app-countries-select formControlName="countries" [multiple]="true" [clearable]="true"
                    [selectPlaceholder]="'manageOffers.addSeveral' | translate"></app-countries-select>
                </div>
              </div>
            </div>
            <div class="external-filers__box">
              <div class="external-filers__label-control">
                <label class="createOffer__label">Distribution Type</label>
              </div>
              <div class="createOffer__select">
                <div class="select-field">
                  <app-distribution-type-select formControlName="distribution" [clearable]="true"
                    [selectPlaceholder]="'manageOffers.offersSelect.distributionType' | translate">
                  </app-distribution-type-select>
                </div>
              </div>
            </div>
          </div>
          <div class="external-filers__col">
            <div class="external-filers__box">
              <div class="external-filers__label-control">
                <label class="createOffer__label" translate="manageOffers.offerManagers">Offer Managers</label>
              </div>
              <div class="createOffer__select">
                <div class="select-field">
                  <app-managers-select formControlName="manager" [multiple]="true" [clearable]="true"
                    [selectPlaceholder]="'manageOffers.companyManager' | translate"></app-managers-select>
                </div>
              </div>
            </div>
            <div class="external-filers__box">
              <div class="external-filers__label-control">
                <label class="createOffer__label" translate="manageOffers.offerCategory">Offer Category</label>
              </div>
              <div class="createOffer__select">
                <div class="select-field">
                  <app-tags-select formControlName="tags" [multiple]="true" [clearable]="true"
                    [selectPlaceholder]="'manageOffers.addSeveral' | translate"></app-tags-select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="external-filers__bottom">
          <button class="external-filers__cancel btn" (click)="resetSearchFilters()"
            translate="manageOffers.reset">Reset</button>
          <button type="submit" class="external-filers__apply btn btn-add" translate="manageOffers.apply">Apply</button>
        </div>
      </form>
    </div>

    <div class="col-12 mt-3">
      <form novalidate [formGroup]="sortFilter" (submit)="applySortFilters()">
        <div class="row">
          <div class="col">
            <div class="d-inline-flex mb-1 mr-1">
              <ng-select formControlName="approval" [clearable]="true" [searchable]="false"
                [placeholder]="'manageOffers.filters.approvals' | translate" class="custom-select">
                <ng-option [value]="1">{{ "manageOffers.required" | translate }}</ng-option>
                <ng-option [value]="0">{{ "manageOffers.notRequired" | translate }}</ng-option>
              </ng-select>
            </div>
            <div class="d-inline-flex mb-1 mr-1">
              <ng-select formControlName="featured" [clearable]="true" [searchable]="false"
                [placeholder]="'manageOffers.filters.featured' | translate" class="custom-select">
                <ng-option [value]="1">{{ "manageOffers.featured" | translate }}</ng-option>
                <ng-option [value]="0">{{ "manageOffers.notFeatured" | translate }}</ng-option>
              </ng-select>
            </div>
            <div class="d-inline-flex mb-1 mr-1">
              <ng-select formControlName="sensitive" [clearable]="true" [searchable]="false"
                [placeholder]="'manageOffers.filters.sensitivity' | translate" class="custom-select">
                <ng-option [value]="1">{{ "manageOffers.sensitive" | translate }}</ng-option>
                <ng-option [value]="0">{{ "manageOffers.notSensitive" | translate }}</ng-option>
              </ng-select>
            </div>
            <div class="d-inline-flex mb-1 mr-1">
              <ng-select formControlName="dynamic" [searchable]="false" [placeholder]="'Dynamic Type'"
                class="custom-select">
                <ng-option [value]="1">{{ "manageOffers.dynamic" | translate }}</ng-option>
                <ng-option [value]="0">{{ "manageOffers.notDynamic" | translate }}</ng-option>
              </ng-select>
            </div>
            <div class="d-inline-flex mb-1 mr-1">
              <ng-select formControlName="adult" [clearable]="true" [searchable]="false" [placeholder]="'Content Type'"
                class="custom-select">
                <ng-option [value]="1">{{ "manageOffers.adult" | translate }}</ng-option>
                <ng-option [value]="0">{{ "manageOffers.mainstream" | translate }}</ng-option>
              </ng-select>
            </div>
            <div class="d-inline-flex mb-1 mr-1">
              <ng-select formControlName="trafficType" [searchable]="false" [clearable]="true"
                [placeholder]="'manageOffers.filters.trafficType' | translate" class="custom-select">
                <ng-option [value]="1">{{ "manageOffers.incent" | translate }}</ng-option>
                <ng-option [value]="0">{{ "manageOffers.nonIncent" | translate }}</ng-option>
              </ng-select>
            </div>
            <div class="d-inline-flex mb-1 mr-1">
              <ng-select formControlName="visibility" [searchable]="false" [clearable]="true"
                [placeholder]="'manageOffers.filters.visibility' | translate" class="custom-select">
                <ng-option [value]="1">{{ "manageOffers.public" | translate }}</ng-option>
                <ng-option [value]="0">{{ "manageOffers.private" | translate }}</ng-option>
              </ng-select>
            </div>
            <div class="d-inline-flex mb-1 mr-1">
              <ng-select formControlName="sort" [clearable]="true" [searchable]="false"
                [placeholder]="'manageOffers.filters.sortBy' | translate" class="custom-select">
                <ng-option value="offer_name">{{ "manageOffers.offerName" | translate }}</ng-option>
                <ng-option value="advertiser">{{ "manageOffers.advertiser" | translate }}</ng-option>
                <ng-option value="payout">{{ "manageOffers.payout" | translate }}</ng-option>
                <ng-option value="created_at">{{ "manageOffers.dateCreated" | translate }}</ng-option>
                <ng-option value="app_id">{{ "manageOffers.applicationId" | translate }}</ng-option>
              </ng-select>
            </div>
            <div class="d-inline-flex mb-1">
              <ng-select formControlName="order" [clearable]="true" [searchable]="false" [items]="filterSchema.order"
                [placeholder]="'manageOffers.order' | translate" bindValue="key" class="custom-select">
                <ng-template ng-label-tmp let-item="item">
                  <i class="fa" ngClass="{{item.className}}"></i>
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  <i class="fa" ngClass="{{item.className}}"></i> {{ "manageOffers."+item.value | translate }}
                </ng-template>
              </ng-select>
            </div>
          </div>
          <div class="col-auto flex-shrink-0 nowrap mb-1">
            <btn class="mr-1" [simple]="true" [popover]="'manageOffers.filters.apply' | translate" type="'submit'">
              <i class="fa fa-check-circle-o" aria-hidden="true"></i>
            </btn>
            <btn [simple]="true" [popover]="'manageOffers.filters.reset' | translate" (click)="resetSortFilters()">
              <i class="fa fa-refresh" aria-hidden="true"></i>
            </btn>
          </div>
        </div>
      </form>
    </div>

    <div class="col-12 mt-3 mb-3">
      <div class="row">
        <div class="col">
          <panel-control *hasPermission="['manage_offers']">
            <checkbox class="mr-1" (change)="checkingAllOffer($event)" [(ngModel)]="allOffersChecked"
              *hasPermission="['manage_offers']"
              [popover]="(!allOffersChecked ? 'manageOffers.selectAll' : 'manageOffers.unselectAll') | translate">
            </checkbox>
            <btn size="lg" [success]="true" [disabled]="!selectedOffers.length" (click)="changeOffersStatus('activate')"
              [popover]="'manageOffers.justForNotDeletedOffers' | translate">
              <i class="fa fa-play mr-1" aria-hidden="true"></i>
              {{ "manageOffers.statusAction.activate" | translate }}
            </btn>
            <btn size="lg" [warning]="true" [disabled]="!selectedOffers.length" (click)="changeOffersStatus('pause24')"
              [popover]="'manageOffers.justForNotDeletedOffers' | translate">
              <i class="fa fa-step-forward mr-1" aria-hidden="true"></i>
              {{ "manageOffers.statusAction.pause24" | translate }}
            </btn>
            <btn size="lg" [danger]="true" [disabled]="!selectedOffers.length" (click)="changeOffersStatus('pause')"
              [popover]="'manageOffers.justForNotDeletedOffers' | translate">
              <i class="fa fa-pause mr-1" aria-hidden="true"></i>
              {{ "manageOffers.statusAction.pause" | translate }}
            </btn>
            <btn size="lg" [secondary]="true" [disabled]="!selectedOffers.length" (click)="changeOffersStatus('delete')"
              [popover]="'manageOffers.justForNotDeletedOffers' | translate">
              <i class="fa fa-trash mr-1" aria-hidden="true"></i>
              {{ "manageOffers.statusAction.delete" | translate }}
            </btn>
            <btn size="lg" [info]="true" [disabled]="!selectedOffers.length" (click)="changeOffersStatus('restore')"
              [popover]="'manageOffers.justForDeletedOffers' | translate">
              <i class="fa fa-undo mr-1" aria-hidden="true"></i>
              {{ "manageOffers.statusAction.restore" | translate }}
            </btn>
          </panel-control>
        </div>

        <div class="col-auto">
          <btn [outline]="true" class="mr-1" size="lg" [disabled]="!selectedOffers.length" (click)="showShortInfo()">
            {{ "manageOffers.shortInfo" | translate }}
          </btn>
          <btn [outline]="true" size="lg" [disabled]="!selectedOffers.length" (click)="exportOffers()">
            {{ "manageOffers.export" | translate }}
          </btn>
        </div>
      </div>
    </div>

  </page-head>

  <page-body *ngIf="!loading">

    <ng-container>

      <card class="mb-1" *ngFor="let offer of offers.items">

        <card-body [class.open]="offer.toggleElem">
          <table>
            <tr>
              <td [style.width.px]="45">
                <checkbox [(ngModel)]="offer.isChecked" (ngModelChange)="checkingOffer($event, offer?.offer.id)"
                  [popover]="(!offer.isChecked ? 'manageOffers.unselectOffer' : 'manageOffers.selectOffer') | translate">
                </checkbox>
              </td>
              <td [style.width.px]="96" class="text-center">
                <span class="app-icon">
                  <img [src]="offer?.offer.thumbUrl">
                </span>
                <div class="mb-2"></div>
                <btn-icon class="mr-2" [type]="'warning'" [icon]="'info'" [opposite]="true"
                  [popover]="'manageOffers.infoMsg' | translate" (click)="getOfferInfo(offer)"></btn-icon>
                <a [href]="offer?.offer.previewUrl" target="_blank">
                  <btn-icon [icon]="'external-link'" [opposite]="true"
                    [popover]="'manageOffers.landingPage' | translate"></btn-icon>
                </a>
              </td>
              <td>
                <div class="mb-1">
                  <div>
                    <b [popover]="'manageOffers.offerName' | translate">
                      <i *ngIf="!offer?.offer.visible" class="fa fa-eye-slash" style="color: #02c3c8"></i>
                      <span>{{ offer?.offer?.name }}</span>
                    </b>
                    <b *ngIf="offer?.offer.sensitive"> - [SENSITIVE]</b>
                  </div>
                  <badge [size]="'sm'" [simple]="true" [truncate]="true" [popover]="'manageOffers.offerID' | translate">
                    {{ offer?.offer.id }}</badge>
                  <div class="mb-1"></div>
                  <label class="label css-popover mr-1" appCssPopover
                    [ngClass]="'icon-status-'+(offer?.offer.status | offersStatuses:'origin' | async)">
                    <span class="css-popover-content" style="text-transform: capitalize;">
                      {{offer?.offer.status | offersStatuses:'name' | async}}
                    </span>
                  </label>
                  <badge class="mr-1" [textTransform]="'uppercase'" [size]="'sm'" [secondary]="true"
                    [popover]="'manageOffers.suspensionTime' | translate"
                    *ngIf="(offer?.offer.status | offersStatuses:'origin' | async)  === 'suspended' && offer?.offer.suspendedAt">
                    {{offer?.offer.suspendedAt | timeFromNow}}
                  </badge>
                  <badge class="mr-1" [textTransform]="'uppercase'" [size]="'sm'" [secondary]="true"
                    [popover]="'manageOffers.offerType' | translate">
                    {{offer?.offer.distribution|distributionTypes}}
                  </badge>
                  <badge class="mr-1" [textTransform]="'uppercase'" [size]="'sm'"
                    [primary]="offer?.offer.creativesQuantity" [secondary]="!offer?.offer.creativesQuantity"
                    [popover]="'manageOffers.creativesAmount' | translate">
                    <i class="fa fa-paperclip mr-1" aria-hidden="true"></i>
                    {{ offer?.offer.creativesQuantity }}
                  </badge>
                  <badge [size]="'sm'" [textTransform]="'uppercase'" [danger]="true" *ngIf="offer?.offer.trafficTypeName">{{ offer?.offer.trafficTypeName }}
                  </badge>
                </div>

                <div>
                  <span class="color-light"
                    [popover]="'manageOffers.creatingDate' | translate">{{ offer?.offer.createdAt | dateFormat }}</span>&nbsp;
                  <span class="color-primary"
                    [popover]="('manageOffers.advManagerMsg' | translate) + ' ' + offer?.offer.advertiser.manager.username">
                    {{ offer?.offer.advertiser.username  + ": " }}
                    <span [innerHtml]="offer?.offer.realId" *ngIf="offer?.offer.realId" class="text-truncate"></span>
                  </span>
                  <div class="mb-1"></div>
                  <span class="app-link"
                    [popover]="'manageOffers.appIdSearch' | translate">{{ offer?.offer.appId }}</span>
                </div>
                <div class="commentary" [popover]="'commentary'" *ngIf="offer?.offer.comment">
                  <i class="fa fa-comment mr-2" aria-hidden="true"></i>
                  {{offer?.offer.comment}}
                </div>
              </td>
              <td [style.width.px]="200">
                <badge size="sm" [truncate]="true" *ngFor="let tag of offer?.offer.tags"
                  [popover]="'manageOffers.category' | translate">{{ tag?.name }}</badge>
              </td>
              <td [style.width.px]="170">
                <app-bar-chart [data]="offer.chart" [hideTitle]="true"></app-bar-chart>
                <a [routerLink]="['/manager/offers/checker', offer.offer.id]">
                  <app-check-results [data]="offer.offer.checkResults"></app-check-results>
                </a>
              </td>
              <td [style.width.px]="54">
                <btn-icon [icon]="'eye'" type="info" *ngIf="isCheckerEnabled"
                  [routerLink]="['/manager/offers/checker', offer?.offer.id]"
                  [popover]="'manageOffers.checkMsg' | translate"></btn-icon>
                <div class="mb-1"></div>
                <btn-icon [icon]="'pencil'" type="info" [routerLink]="['/manager/offers/edit', offer?.offer.id]"
                  [queryParams]="{step: 1}" *hasPermission="['manage_offers']"
                  [popover]="'manageOffers.editOffer' | translate"></btn-icon>
                <div class="mb-1"></div>
                <btn-icon [icon]="'clone'" type="primary" [routerLink]="['/manager/offers/clone', offer?.offer.id]"
                  [queryParams]="{step: 1}" *hasPermission="['manage_offers']"
                  [popover]="'manageOffers.cloneOffer' | translate"></btn-icon>
                <div class="mb-1"></div>
                <btn-icon [icon]="'bar-chart'" type="success" [routerLink]="['/manager/reports/statistics']"
                  [queryParams]="{'offers_ids[]':[offer?.offer.id]}" [popover]="'manageOffers.offerStats' | translate"
                  *hasPermission="['access_hourly_statistics']">
                </btn-icon>
                <div class="mb-1"></div>
                <btn-icon [icon]="'buysellads'" type="warning"
                  [routerLink]="['/manager/offers/caps-usage', offer?.offer.id]" *hasPermission="['manage_approvals']"
                  [popover]="'manageOffers.offerCaps' | translate">
                </btn-icon>
              </td>
            </tr>
          </table>
        </card-body>

        <card-footer>

          <ng-container *ngIf="offer.toggleElem">
            <div class="wrap-table">
              <table>
                <tr *ngFor="let goal of offer?.offer.goals">
                  <td colspan="2" [style.width.px]="145">
                    <h4 class="text-uppercase text-left light"
                      [ngClass]="{'text-through': goal?.externalData?.state === 2}"
                      [popover]="'manageOffers.goal' | translate">
                      {{ goal.type | goalsTypes }}
                    </h4>
                  </td>
                  <td [style.width.px]="300">
                    <p class="mb-2">
                      <span class="color-info mr-2"
                        [popover]="'manageOffers.goalName' | translate">{{ goal?.name }}</span>
                      <badge [size]="'sm'" *ngIf="goal.approvalsCount"
                        [popover]="'manageOffers.approvalsAmount' | translate">{{ goal.approvalsCount }}</badge>
                    </p>
                    <div class="row">
                      <div class="col-4">
                        <b *ngIf="goal.dynamicPayout">{{ goal.payout.amount + ' %' }}</b>
                        <b *ngIf="!goal.dynamicPayout">{{ goal.payout.amount+' '+goal.payout.currency }}</b>
                        <p class="light">Payout</p>
                      </div>
                      <div class="col-4">
                        <b *ngIf="goal.dynamicPayout"
                          [popover]="goal.personalPayoutsCount + 'publishers have personal payout percent'">{{ goal.pubPayout + ' %' }}</b>
                        <b *ngIf="!goal.dynamicPayout"
                          [popover]="goal.personalPayoutsCount + 'publishers have personal payout percent'">{{ goal.pubPayout+' '+goal.payout.currency }}</b>
                        <p class="light">Pub payout</p>
                      </div>
                      <div class="col-4">
                        <b *ngIf="goal.dynamicPayout">{{goal.payPercent + ' %'}}</b>
                        <b *ngIf="!goal.dynamicPayout">{{ goal.payPercent + ' %' }}</b>
                        <p class="light">Pub percent</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="col">
                        <div class="d-inline-flex flex-wrap" [popover]="'manageOffers.goalDevices' | translate">
                          <span *ngFor="let platform of goal.platforms; let index = index;" class="mr-1">
                            {{ platform.platform + ' ' + (platform.version || '')}}
                          </span>
                        </div>
                      </div>
                      <div class="col">
                        <badge [textTransform]="'uppercase'" [warning]="goal.excludeCountries"
                          [simple]="!goal.excludeCountries" *ngFor="let country of goal.countries | limitTo: goal.limit"
                          [size]="'md'" [popover]="country?.code">
                          {{ country?.name }}
                          <span *ngIf="goal.excludeCountries">-</span>
                        </badge>
                        <div class="mb-1"></div>
                        <btn [size]="'xs'" (click)="toggleGoalLimit(goal)" *ngIf="goal.countries.length > 10"
                          [popover]="goal.limit ? goal.countries.length && goal.limit !== 10 : goal.countries.length && goal.limit === 10">
                          <span *ngIf="goal.limit">
                            <span *ngIf="goal.countries.length - goal.limit !== 0"
                              [innerHTML]="goal.countries.length - goal.limit"></span>
                            {{ goal.countries.length - goal.limit === 0 ? 'collapse': 'more' }}
                          </span>
                          <span *ngIf="!goal.limit">collapse</span>
                        </btn>
                      </div>
                    </div>
                  </td>
                  <td [style.width.px]="200">
                    <ng-container>
                      <badge class="w-100" [block]="true"
                        *ngIf="goal.capUsed.daily <= goal.cap.daily || goal.cap.daily === 0"
                        [popover]="'manageOffers.dailyCapabilities' | translate">USED
                        {{ goal.capUsed.daily }}/{{ goal.cap.daily !== 0 ? goal.cap.daily : '&infin;' }} D</badge>
                      <div class="mb-1"></div>
                      <badge class="w-100" [block]="true" [danger]="true"
                        *ngIf="goal.capUsed.daily > goal.cap.daily && goal.cap.daily !== 0"
                        [popover]="'OVERCAP ' + ('manageOffers.dailyCapabilities' | translate)">OVERCAP
                        {{ goal.capUsed.daily }}/{{ goal.cap.daily }} D</badge>
                    </ng-container>

                    <ng-container>
                      <badge class="w-100" [block]="true" [success]="true"
                        *ngIf="goal.capUsed.monthly <= goal.cap.monthly  || goal.cap.monthly === 0"
                        [popover]="'manageOffers.monthlyCapabilities' | translate">
                        USED {{ goal.capUsed.monthly }}/{{ goal.cap.monthly !== 0 ? goal.cap.monthly : '&infin;' }} M
                      </badge>
                      <div class="mb-1"></div>
                      <badge class="w-100" [block]="true" [danger]="'true'"
                        *ngIf="goal.capUsed.monthly > goal.cap.monthly && goal.cap.monthly !== 0"
                        [popover]="'OVERCAP ' + ('manageOffers.monthlyCapabilities' | translate)">
                        OVERCAP {{ goal.capUsed.monthly }}/{{ goal.cap.monthly }} M
                      </badge>
                    </ng-container>

                    <ng-container>
                      <badge class="w-100" [block]="true"
                        *ngIf="goal.capClickUsed.daily <= goal.capClick.daily || goal.capClick.daily === 0"
                        [popover]="'manageOffers.dailyClickCapabilities' | translate">
                        USED Click
                        {{ goal.capClickUsed.daily }}/{{ goal.capClick.daily !== 0 ? goal.capClick.daily : '&infin;' }}
                        D
                      </badge>
                      <div class="mb-1"></div>
                      <badge class="w-100" [block]="true" [danger]="true"
                        *ngIf="goal.capClickUsed.daily > goal.capClick.daily && goal.capClick.daily !== 0"
                        [popover]="'OVERCAP ' + ('manageOffers.dailyClickCapabilities' | translate)">
                        OVERCAP Click {{ goal.capClickUsed.daily }}/{{ goal.capClick.daily }} D
                      </badge>
                    </ng-container>

                    <ng-container>
                      <badge class="w-100" [block]="true" [success]="true"
                        *ngIf="goal.capClickUsed.monthly <= goal.capClick.monthly  || goal.capClick.monthly === 0"
                        [popover]="'manageOffers.monthlyClickCapabilities' | translate">
                        USED Click
                        {{ goal.capClickUsed.monthly }}/{{ goal.capClick.monthly !== 0 ? goal.capClick.monthly : '&infin;' }}
                        M
                      </badge>
                      <div class="mb-1"></div>
                      <badge class="w-100" [block]="true" [danger]="true"
                        *ngIf="goal.capClickUsed.monthly > goal.capClick.monthly && goal.capClick.monthly !== 0"
                        [popover]="'OVERCAP' + ('manageOffers.monthlyClickCapabilities' | translate)">
                        OVERCAP Click {{ goal.capClickUsed.monthly }}/{{ goal.capClick.monthly }} M
                      </badge>
                    </ng-container>
                  </td>
                  <td [style.width.px]="170"></td>
                  <td [style.width.px]="54">
                    <btn-icon [icon]="'link'" (click)="showPostbackUrlPopup('open', goal)"
                      [popover]="'manageOffers.postBackPopup' | translate"></btn-icon>
                  </td>
                </tr>
              </table>
            </div>
          </ng-container>

          <div class="container-fluid">
            <div class="row text-center">
              <div class="col">
                <btn [size]="'sm'" [shadow]="offer.toggleElem" [simple]="true" (click)="isToggleElem(offer)"
                  [class.open]="offer.toggleElem" class="btn-toggle">
                  <ng-container *ngIf="offer.toggleElem">{{ "manageOffers.hideGoals" |  translate }}</ng-container>
                  <ng-container *ngIf="!offer.toggleElem">{{ "manageOffers.showGoals" |  translate }}</ng-container>
                  (<span class="color-info">{{ offer?.offer.goals.length }}</span>)
                  <i class="fa fa-angle-down ml-2 color-info"
                    [style.transform]="offer.toggleElem ? 'rotate(180deg)' : 'rotate(0)'"></i>
                </btn>
              </div>
            </div>
          </div>

        </card-footer>

      </card>

    </ng-container>

    <app-no-data *ngIf="!offers.items.length && !loading"></app-no-data>
    <div class="table-sticky">
      <div class="row py-3 justify-content-end" *ngIf="offers.items.length">
        <div class="col-auto">
          <page-control>
            <table-limit [limit]="offers.limit" (changedLimit)="tableLimitChange($event)"></table-limit>
            <table-pagination [page]="offers.page" [totalPages]="offers.totalPages" (currentPage)="goToPage($event)"></table-pagination>
          </page-control>
        </div>
      </div>
    </div>
  </page-body>

</full-page>

<app-loader [loading]="loading"></app-loader>

<modal #postbackModal size="xlg">
  <modal-body>
    <div *ngFor="let url of postbackUrls; let $index = index" style="margin-bottom: .5em;">
      <div class="offerManage-modal__line">
        <div class="offerManage-modal__title" translate="manageOffers.postbackUrl" *ngIf="$index === 0"></div>
        <a class="offerManage-modal__btn" [appCopyToClipboard]="url" translate="manageOffers.copyPostbackUrl"></a>
      </div>
      <div class="offerManage-modal__link">
        {{url}}
      </div>
    </div>
    <br>
    <div *ngFor="let url of pixelPostbackUrls; let $index = index" style="margin-bottom: .5em;">
      <div class="offerManage-modal__line">
        <div class="offerManage-modal__title" translate="manageOffers.trackingUrl" *ngIf="$index === 0"></div>
        <div class="offerManage-modal__title" translate="manageOffers.pixelWarning" *ngIf="$index === 0"
          style="font-size: 14px; margin-left: 5px;line-height: 1.1;"></div>
        <a class="offerManage-modal__btn" [appCopyToClipboard]="url" translate="manageOffers.copyTrackingUrl"></a>
      </div>
      <div class="offerManage-modal__link">
        <pre>{{url}}</pre>
      </div>
    </div>
  </modal-body>
</modal>

<modal #shortInfoModal size="xlg">

  <modal-body *ngIf="shortInfoModal.isOpen">
    <div class="offerManage-modal__line">
      <div class="offerManage-modal__title" translate="manageOffers.shortInfoBox.title"></div>
      <a class="offerManage-modal__btn" (click)="shortInfoModal.close()" translate="manageOffers.copyClose"
        [appCopyToClipboard]="shortInfoContent">Close</a>
    </div>
    <div class="offerManage-modal__link">
      <div *ngFor="let offer of offersShortInfo; let $index = index;">

        <input class="manage-offer-checkbox-goals" [id]="offer?.name + $index" type="checkbox" hidden>

        <label for="{{offer?.name + $index}}" style="padding-top: 5px" *ngIf="offer.goals.length">
          <strong>
            <b>{{offer?.name}}</b>
            <span style="padding: 5px 0">
              <span>—</span>
              <span style="text-transform: capitalize" [innerHtml]="offer.type"></span>
            </span>
          </strong>
          <i class="fa fa-chevron-down"></i>
        </label>
        <p><span [innerHtml]="offer.id"></span></p>
        <p><span translate="manageOffers.shortInfoBox.goals"></span></p>

        <ul *ngFor="let goal of offer.goals" style="padding: 5px 0 0 10px">
          <li>
            <span translate="manageOffers.shortInfoBox.goalsName"></span>
            <span>{{goal?.name}}</span>
          </li>
          <li>
            <span translate="manageOffers.shortInfoBox.countries"></span>
            <span *ngFor="let country of goal.countries; let $index = index;">
              <span *ngIf="goal.countriesFlag">-</span><span class="css-popover" css-popover><span
                  [innerHtml]="country?.code"></span><span *ngIf="($index + 1) < goal.countries.length">,</span>
                <span class="css-popover-content" [innerHtml]="country?.name"></span></span>
            </span>
          </li>
          <li>
            <span translate="manageOffers.shortInfoBox.cap"></span>
            <span [innerHtml]="goal.caps"></span>
          </li>
          <li>
            <span translate="manageOffers.shortInfoBox.capClick"></span>
            <span [innerHtml]="goal.capClick"></span>
          </li>
          <li>
            <span translate="manageOffers.shortInfoBox.payout"> </span>
            <span [innerHtml]="goal.payout"></span>
            <span [innerHtml]="goal.payoutFlag"></span>
          </li>
        </ul>

        <br>
      </div>
    </div>
  </modal-body>

</modal>

<modal #offerInfoModal size="lg" (onClose)="resetLinkParams()">

  <modal-header>
    <span class="light" [innerHtml]="offerInfo?.offer?.realId"></span>
    <span>{{offerInfo?.offer?.name}}</span>
  </modal-header>

  <modal-body *ngIf="offerInfoModal.isOpen">
    <div class="approvals-modal__top">
      <div class="approvals-modal__ico">
        <img [src]="offerInfo?.offer.thumbUrl" alt="">
      </div>
      <perfect-scrollbar class="approvals-modal__panel">
        <div [innerHtml]="offerInfo?.offer.description"></div>
      </perfect-scrollbar>
    </div>
    <div class="manager-panel approvals-modal__manager-panel" *ngIf="offerInfo?.offer.comment">
      <i class="fa fa-comment" aria-hidden="true"></i>
      <span [innerHtml]="offerInfo?.offer.comment"></span>
    </div>
    <div class="approvals-tabs">
      <div class="approvals-tabs__top">
        <input type="radio" id="approvals-tabs__link1" name="radio-grop-approval" checked>
        <label for="approvals-tabs__link1" class="approvals-tabs__link"
          translate="manageOffers.infoBox.information">INFORMATION</label>
        <input type="radio" id="approvals-tabs__link2" name="radio-grop-approval">
        <label for="approvals-tabs__link2" class="approvals-tabs__link"
          translate="manageOffers.infoBox.links">LINKS</label>
        <input type="radio" id="approvals-tabs__link3" name="radio-grop-approval">
        <label for="approvals-tabs__link3" class="approvals-tabs__link"
          translate="manageOffers.infoBox.publisherResume">PUBLISHER RESUME</label>
        <div class="approvals-tabs__item">
          <div class="approval-table">
            <div class="approval-table__row">
              <div class="approval-table__cell" translate="manageOffers.infoBox.status"></div>
              <div class="approval-table__cell">
                <a class="{{'approval-table__status ' + offerInfo?.offer?.statusInfo?.origin}}">
                  <span [innerHtml]="' ' + offerInfo?.offer?.statusInfo?.name" class="statusName"></span>
                </a>
              </div>
            </div>
            <div class="approval-table__row">
              <div class="approval-table__cell" translate="manageOffers.infoBox.categories">Categories</div>
              <div class="approval-table__cell">
                <label class="label label-info" *ngFor="let tag of offerInfo?.offer.tags"
                  [innerHtml]="tag?.name"></label>
              </div>
            </div>
            <div class="approval-table__row">
              <div class="approval-table__cell" translate="manageOffers.infoBox.approval">Approval</div>
              <div class="approval-table__cell" *ngIf="offerInfo?.offer.approvalRequired">
                <span translate="manageOffers.required">Required</span>
              </div>
              <div class="approval-table__cell" *ngIf="!offerInfo?.offer.approvalRequired">
                <span translate="manageOffers.notRequired">Not required</span>
              </div>
            </div>

            <div class="approval-table__row">
              <div class="approval-table__cell" translate="manageOffers.infoBox.date">Date start/end</div>
              <div class="approval-table__cell">
                <span>{{offerInfo?.offer.activationDate | dateFormat}}</span>
                &mdash;
                <span>{{offerInfo?.offer.expirationDate | dateFormat}}</span>
              </div>
            </div>
            <div class="approval-table__row">
              <div class="approval-table__cell" translate="manageOffers.infoBox.lastUpdated">
                Last updated
              </div>
              <div class="approval-table__cell" [innerHtml]="offerInfo?.offer?.updatedAt | dateFormatDynamic:true">
              </div>
            </div>
            <div class="approval-table__row">
              <div class="approval-table__cell" translate="manageOffers.infoBox.advertiser">Advertiser</div>
              <div class="approval-table__cell">
                <span class="semi-bold mr-1" [innerHtml]="offerInfo?.offer.advertiser.username"></span>
                <span [innerHtml]="offerInfo?.offer.advertiser.id"></span>
              </div>
            </div>
          </div>
          <div class="approval-goals">
            <div class="approval-goals__top">
              <div class="approval-goals__name">
                <span translate="manageOffers.infoBox.goals"></span>
                <span [innerHtml]="offerInfo?.offer.goals.length"></span>
              </div>
            </div>

            <input type="checkbox" class="approval-goals__checkbox" id="approval-goals__checkbox" checked>
            <label class="approval-goals__trigger" for="approval-goals__checkbox">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </label>
            <div class="approval-goals__items">
              <div class="approval-goals__item" *ngFor="let goal of offerInfo?.offer.goals"
                [ngClass]="{'redBorder': goal?.externalData?.state === 2}">
                <div class="approval-goals__item-line">
                  <div class="approval-goals__item-name" translate="manageOffers.infoBox.goalName">Goal name
                  </div>
                  <div class="approval-goals__item-cell lgreen">{{goal?.name}}</div>
                </div>
                <div class="approval-goals__item-line">
                  <div class="approval-goals__item-name" translate="manageOffers.infoBox.payout">Payout</div>
                  <div class="approval-goals__item-cell" *ngIf="goal.dynamicPayout">
                    <span class="red" [innerHtml]="goal.payout.amount + ' ' + '%' "></span>
                    <span class="yellow" [innerHtml]="goal.pubPayout + ' ' + '%' "></span>
                    <span class="light" [innerHtml]="goal.payPercent + ' %'"></span>
                  </div>
                  <div class="approval-goals__item-cell" *ngIf="!goal.dynamicPayout">
                    <span class="red" [innerHtml]="goal.payout.amount + ' ' + goal.payout.currency "></span>
                    <span class="yellow" [innerHtml]="goal.pubPayout + ' ' + goal.payout.currency "></span>
                    <span class="light" [innerHtml]="goal.payPercent + ' %'"></span>
                  </div>
                </div>
                <div class="approval-goals__item-line" *ngIf="goal.excludeCountries">
                  <div class="approval-goals__item-name" translate="manageOffers.infoBox.geography"></div>
                  <div class="approval-goals__item-cell">
                    <label class="label label-yellow css-popover mr-1" appCssPopover
                      *ngFor="let country of goal.countries">
                      <span [innerHtml]="'-'+country?.code"></span>
                      <span class="css-popover-content" [innerHtml]="country?.name"></span>
                    </label>
                  </div>
                </div>

                <div class="approval-goals__item-line" *ngIf="!goal.excludeCountries">
                  <div class="approval-goals__item-name" translate="manageOffers.infoBox.geography"></div>
                  <div class="approval-goals__item-cell">
                    <label class="label label-white css-popover mr-1" appCssPopover
                      *ngFor="let country of goal.countries">
                      <span [innerHtml]="country?.code"></span>
                      <span class="css-popover-content" [innerHtml]="country?.name"></span>
                    </label>
                  </div>
                </div>

                <div class="approval-goals__item-line">
                  <div class="approval-goals__item-name" translate="manageOffers.infoBox.platform">Platform
                  </div>
                  <div class="approval-goals__item-cell">
                    <span *ngFor="let platform of goal.platforms"
                      [innerHtml]="platform.platform + ' ' + (platform.version || '')"></span>
                  </div>
                </div>
                <div class="approval-goals__item-line">
                  <div class="approval-goals__item-name" translate="manageOffers.infoBox.capsDailyMonthly">
                  </div>
                  <div class="approval-goals__item-cell" [innerHtml]="goal.cap.daily+'/'+goal.cap.monthly"></div>
                </div>
                <div class="approval-goals__item-line">
                  <div class="approval-goals__item-name" translate="manageOffers.infoBox.capsClickDailyMonthly">caps
                    Daily Monthly
                  </div>
                  <div class="approval-goals__item-cell" [innerHtml]="goal.capClick.daily+'/'+goal.capClick.monthly">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="approval-stat" *ngIf="offerInfo?.offer.restrictedTraffic.length">
            <div class="approval-stat__box">
              <div class="approval-stat__item">
                <div class="approval-stat__title" translate="manageOffers.infoBox.restrictedTraffic">
                </div>
                <div class="approval-stat__line" *ngFor="let obj of offerInfo?.offer.restrictedTraffic">
                  <i class="fa fa-minus" aria-hidden="true"></i>
                  <span [innerHtml]="obj?.name"></span>
                </div>
              </div>
              <div class="approval-stat__item" *ngIf="offerInfo?.offer.allowedTraffic.length">
                <div class="approval-stat__title" translate="manageOffers.infoBox.allowedTraffic">
                </div>
                <div class="approval-stat__line" *ngFor="let obj of offerInfo?.offer.allowedTraffic">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                  <span [innerHtml]="obj?.name"></span>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="approvals-tabs__item">
          <div class="approval-links">
            <div class="approval-links__line">
              <div class="approval-links__name" translate="manageOffers.infoBox.pub">
                Publisher
              </div>
              <div class="approval-links__body">
                <div class="select-field w-100">
                  <app-approved-publisher-select [id]="offerInfo?.offer.id" [(ngModel)]="aff_id"
                    (ngModelChange)="changeOffersLink('aff_id')" [multiple]="false"
                    [selectPlaceholder]="'manageOffers.publishers' | translate"></app-approved-publisher-select>
                </div>
                <div class="approval-links__input">
                  <input type="text" placeholder="click_id" [(ngModel)]="click_id"
                    (change)="changeOffersLink('click_id')">
                  <input type="text" placeholder="Aff sub" [(ngModel)]="aff_sub" (change)="changeOffersLink('aff_sub')">
                  <input type="text" placeholder="Aff sub 2" [(ngModel)]="aff_sub2"
                    (change)="changeOffersLink('aff_sub2')">
                  <input type="text" placeholder="Aff sub 3" [(ngModel)]="aff_sub3"
                    (change)="changeOffersLink('aff_sub3')">
                  <input type="text" placeholder="Aff sub 4" [(ngModel)]="aff_sub4"
                    (change)="changeOffersLink('aff_sub4')">
                </div>
              </div>
            </div>
            <div class="approval-links__line">
              <div class="approval-links__name" translate="manageOffers.infoBox.publisherLink">Publisher link
              </div>
              <div class="approval-links__body">
                <div class="approval-links__input-decorate">
                  <input type="text" [(ngModel)]="offerInfo.links.publisherLink" readonly>
                </div>
              </div>
            </div>
            <div class="approval-links__line">
              <div class="approval-links__name" translate="manageOffers.infoBox.testLink">
                Test link
              </div>
              <div class="approval-links__body">
                <div class="approval-links__input-decorate">
                  <input type="text" [(ngModel)]="offerInfo.links.testLink" readonly>
                </div>
              </div>
            </div>
            <div class="approval-links__line"
              *ngFor="let advertLink of offerInfo.links.advertiserLinks; let $index = index;">
              <div class="approval-links__name">
                <span translate="manageOffers.infoBox.advertiserLink"></span>
                <span [innerHtml]="$index+1"></span>
              </div>
              <div class="approval-links__body">
                <div class="approval-links__input-decorate">
                  <input type="text" [ngModel]="advertLink" readonly>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="approvals-tabs__item">
          <div class="approval-links">
            <div class="approval-links__line">
              <div class="approval-links__name" translate="manageOffers.infoBox.pub">Publisher</div>
              <div class="approval-links__body">
                <div class="select-field w-100">
                  <app-approved-publisher-select [id]="offerInfo?.offer.id" [(ngModel)]="offerInfoPubResumePublisherId"
                    (ngModelChange)="setupPublisherResumeInOfferInfo(offerInfoPubResumePublisherId)" [multiple]="false"
                    [selectPlaceholder]="'manageOffers.publishers' | translate"></app-approved-publisher-select>
                </div>
                <a class="approval-links__btn" translate="manageOffers.infoBox.copy"
                  [appCopyToClipboard]="offerInfo.publisherResume">Copy
                  resume</a>
              </div>
            </div>
          </div>
          <perfect-scrollbar class="approvals-modal__panel big">
            <div style="white-space: pre-line;">
              {{offerInfo.publisherResume}}
            </div>
          </perfect-scrollbar>
        </div>
      </div>
    </div>
  </modal-body>

</modal>
