@import "variables";
@import "mixin";


:host {
  ::ng-deep {
    page-head {
      .btn {
        &-outline {
          background-color: var(--button-simple-background);

          &:disabled {
            border-color: var(--button-simple-background) !important;
            background-color: var(--button-simple-background) !important;
            color: var(--button-simple-color) !important;
            opacity: $opacity-hover;
          }
        }
      }
    }
    card-body {
      display: block;

      &.open {
        .card-body {
          position: relative;
          z-index: 1;
          border-radius: $border-radius;
          box-shadow: 0px 9px 21px var(--shadow);
        }

        & + card-footer {
          .card-footer {
            border-top-color: transparent;
          }
        }
      }

      table {
        width: 100%;
        table-layout: fixed;
        overflow-y: auto;

        @media screen and (max-height: 800px) {
          max-height: 200px;
        }
        tr {
          td {
            padding: rem(0, 10);
          }
        }
      }
    }

    card-footer {
      .card-footer {
        text-align: left;
        display: block;
      }

      .btn-toggle {
        &.open {
          position: relative;
          z-index: 2;
          top: rem(20);
        }

        .btn {
          &:hover {
            opacity: 1;
          }
        }
      }

      .wrap-table {
        max-height: 400px;
        overflow-y: auto;

        @media screen and (max-height: 800px) {
          max-height: 200px;
        }
      }

      table {
        width: 100%;
        table-layout: fixed;

        tr {
          &:not(:first-child) {
            td {
              border-top: 1px solid var(--table-border);
            }
          }

          td {
            vertical-align: top;
            padding: rem(10);
          }
        }
      }
    }
  }
}

.commentary {
  display: flex;
  border: 1px solid $border-color;
  padding: rem(8);
  margin-top: rem(8);
  margin-bottom: rem(4);
  border-radius: $border-radius;
  word-wrap: break-word;
  background-color: var(--form-control-overlay);

  .fa {
    position: relative;
    top: rem(3);
  }
}

.card-filter {
  z-index: 25;
}

.offerManage-modal__btn {
  cursor: pointer;
}

.managers-filter {
  display: flex;
  padding-bottom: rem(24);

  &__left {
    display: flex;

    &-pub {
      width: 100%;

      .approval-panel__left {
        display: flex;
      }
    }

    .ofManagers-check {
      margin-right: rem(10);
    }
  }

  .approval-panel__btn {
    height: rem(32);
    line-height: rem(32);
    padding-top: 0;
    padding-bottom: 0;

    &:focus {
      outline: none;
    }
  }

  &__controls {
    font-size: 0;
    width: rem(240);
    white-space: nowrap;
  }

  &__control {
    display: inline-block;
    width: rem(32);
    height: rem(32);
    background-color: #283B6D;
    border-radius: $border-radius;
    font-size: rem(14);
    line-height: 1;
    color: #fff;
    text-align: center;

    &:not(:last-child) {
      margin-right: rem(8);
    }

    &_suspended {
      background-color: $lgreen;
      box-shadow: 0 4px 10px rgba(17, 131, 134, .8);
    }

    &_active {
      background-color: $green;
      box-shadow: 0 4px 10px rgba(17, 131, 134, .8);
    }

    &_paused24 {
      background-color: #FFB100;
      box-shadow: 0 4px 10px rgb(197, 102, 27);
    }

    &_pause {
      background-color: $red;
      box-shadow: 0 4px 10px #D32836;
    }

    &_delete {
      background-color: gray;
      box-shadow: 0 4px 10px #4D5356;
    }
  }

  &__items {
    display: inline-block;
  }

  &__right {
    width: calc(100% - 200px);
    text-align: right;
    font-size: 0;
    padding-left: rem(5);

    .approval-panel__btn {
      &:last-child {
        padding: rem(0, 10);
      }
    }
  }

  &__panel-right {
    font-size: 0;
    display: inline-block;
    padding-left: rem(32);

    .approval-panel__btn {
      margin-left: rem(4);
    }
  }

  &__list {
    position: absolute;
    width: 100%;
    right: 0;
    top: 100%;
    background-color: #fff;
    border-radius: $border-radius;
    box-shadow: 0 9px 21px var(--shadow);
    z-index: 1;
    min-width: rem(110);
    opacity: 0;
    visibility: hidden;
    transition: all .25s;

    &[data-placement=left] {
      right: calc(-100% + 14px);
      transition: all .1s;
    }

    &-item {
      transition: color .3s;
      padding: rem(5, 10);
      cursor: pointer;
      text-align: left;

      &:first-letter {
        text-transform: uppercase;
      }

      &_active {
        background-color: rgba(2, 195, 200, .2);

        &:first-child {
          border-radius: $border-radius $border-radius 0 0;
        }

        &:last-child {
          border-radius: 0 0 $border-radius $border-radius;
        }
      }

      &:hover {
        color: $lgreen;
      }
    }
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    font-size: rem(14);
    padding-bottom: rem(2);
    position: relative;
    margin-right: rem(4);

    &-form {
      display: flex;
      flex-wrap: nowrap;
    }

    &-container {
      &.nowrap {
        padding-left: rem(5);

        .managers-filter__panel-right {
          padding-left: 0;
        }
      }
    }

    //&:not(:first-child) {
    //  margin-left: 4px;
    //}

    .ng-select {
      text-align: left;

      .ng-dropdown-panel.bottom {
        //width: 150px !important;
        width: rem(150, !important);
      }
    }
  }
}

.approval-panel {
  display: flex;
  margin-bottom: rem(14);

  &__center {
    padding-left: rem(32);
  }

  &__right {
    margin-left: auto;
  }

  &__btn {
    display: inline-block;
    background-color: #fff;
    border-radius: $border-radius;
    padding: rem(4, 16);
    font-size: rem(14);
    font-weight: 600;
    color: $gray;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    transition: all .3s;

    &_wide {
      min-width: rem(62);
      text-align: center;
      transition: all .25s;

      &:hover {
        background-color: $lgreen;
        color: #fff;
      }
    }

    &_active {
      &:hover {
        color: #fff;
        background-color: $green;
        box-shadow: 0 4px 10px #1C7C00;
      }
    }

    &_paused24 {
      &:hover {
        color: #fff;
        background-color: #FFB100;
        box-shadow: 0 4px 10px #C5661B;
      }
    }

    &_pause {
      &:hover {
        color: #fff;
        background-color: $red;
        box-shadow: 0 4px 10px #D32836;
      }
    }

    &_delete {
      &:hover {
        color: #fff;
        background-color: $gray;
        box-shadow: 0 4px 10px #4D5356;
      }
    }

    &_restore {
      &:hover {
        color: #fff;
        background-color: $lgreen;
        box-shadow: 0 4px 10px rgba(17, 131, 134, .8);
      }
    }

    &_large {
      padding-top: rem(10);
      padding-bottom: rem(10);
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }

    svg {
      fill: $gray;
      display: inline-block;
      vertical-align: middle;
    }

    &[disabled] {
      color: #DEDEDE;
      cursor: not-allowed;
      background-color: #fff;
      box-shadow: none;

      svg {
        fill: #DEDEDE;
      }
    }
  }
}

.approval-check {
  background-color: #fff;
  border-radius: $border-radius;
  width: rem(81);
  height: rem(40);
  //padding-left: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 9px 21px var(--shadow);
  position: relative;
  justify-content: center;

  &_open {
    .approval-check__menu {
      display: block;
    }

    .approval-check__arrow {
      .fa {
        transform: rotate(180deg);
      }
    }
  }

  &__arrow {
    color: $lgreen;
    font-size: rem(13);
    display: inline-block;
    width: rem(24);
    height: rem(24);
    border-radius: $border-radius;
    box-shadow: 0 9px 21px var(--shadow);
    text-align: center;
    line-height: rem(24);
    margin-left: rem(4);
    cursor: pointer;

    .fa {
      transition: all .3s;
    }
  }

  &__input {
    margin: 0;
    height: rem(24);
  }

  &__menu {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: rem(3);
    width: 100%;
    z-index: 1;
    display: none;

    &-list {
      box-shadow: 0 9px 21px var(--shadow);
      background-color: #fff;
      border-radius: $border-radius;
      padding: rem(3, 0);
    }

    &-item {
      padding-left: rem(20);
      font-size: rem(14);
      transition: color .3s;
      text-decoration: none;

      &:hover {
        color: $lgreen;
      }
    }
  }

  &.ofManagers-check {
    box-shadow: none;
    //padding-left: 5px;
    width: rem(76);
    box-sizing: border-box;

    .approval-check__arrow {
      box-shadow: none;
      margin-left: rem(1);
    }
  }
}

.app-icon {
  img {
    width: rem(64);
    border-radius: $border-radius;
  }
}

.app-setting {
  flex-wrap: wrap;
  color: #8898A0;
  font-size: rem(18);
  font-weight: 600;
  width: 100%;
  line-height: 1.3;

  &__ico {
    margin-right: rem(5);
    display: inline-block;
    width: rem(20);
    height: rem(20);
  }

  &__name {
    display: inline;

    .css-popover {
      margin-left: rem(5);

      i.fa {
        margin-right: 0;
      }
    }

    .fa {
      color: $lblue;
    }

    &_fire {
      position: relative;

      .app-setting__tip {
        width: rem(12);
        height: rem(12);
        border-radius: $rounded;
        display: inline-block;
        background-color: $red;
      }
    }
  }

  &__wrap {
    display: inline-block;
    vertical-align: middle;
  }

  &_small {
    font-size: rem(14);
  }

  .fa,
  img {
    margin-right: rem(5);
  }

  &__count {
    color: $lgreen;
    display: inline-block;
    padding-left: rem(16);
  }
}

.offer-managers {
  &__line {
    display: flex;
    justify-content: flex-end;
  }

  &__dots {
    font-size: 0;
    padding-top: rem(5);
    display: inline-block;
    padding-right: rem(20);

    span {
      display: block;
      width: rem(4);
      height: rem(4);
      border-radius: $rounded;
      background-color: $green;
      margin: rem(0, 5, 3);

      &.red {
        background-color: $red;
      }
    }
  }

  &__num {
    padding: rem(5, 0);
  }

  &__link {
    font-size: rem(12);

    >span {
      display: inline-block;
      font-size: rem(10);
      width: rem(14);
      height: rem(14);
      line-height: rem(14);
      border: 1px solid $border-color;
      color: $lgreen;
      text-align: center;
      border-radius: $border-radius;
      cursor: pointer;
    }

    +.app-link {

      span+span {
        margin-left: rem(5);
      }
    }
  }
}

.manager-goals {
  position: relative;
  padding-bottom: rem(16);
  margin-top: rem(16);

  &__type {
    padding-bottom: rem(4);
    font-size: rem(11);
    color: #283B6D;

    span {
      margin-right: rem(3);
    }
  }

  &__devices {
    display: inline-block;
  }

  &__count {
    display: inline-block;
    margin-left: rem(8);
    color: $lgreen;
    font-weight: 700;
  }

  &__items {
    border-radius: 0 0 $border-radius $border-radius;
    margin-top: rem(2);
    background-color: $llgray;
    display: none;
  }

  &__item {
    display: flex;
    padding: rem(8);
    font-size: rem(12);
    position: relative;

    &:not(:last-child) {
      &:after {
        content: '';
        position: absolute;
        left: rem(8);
        width: calc(100% - 16px);
        height: 1px;
        background-color: #DEDEDE;
        bottom: 0;
      }
    }

    &-name {
      color: $lgreen;
      font-weight: 600;

      &>* {
        &:not(:last-child) {
          margin-right: rem(3);
        }
      }
    }

    &-payout {
      &>* {
        &:not(:last-child) {
          margin-right: rem(3);
        }
      }
    }
  }

  &__link {
    display: inline-block;
    width: rem(22);
    height: rem(22);
    border: 1px solid #c4c4c4;
    text-align: center;
    line-height: rem(22);
    border-radius: $border-radius;
    background-color: #fff;
    font-size: rem(13);
    position: absolute;
    top: rem(4);
    right: rem(8);

    .fa {
      margin-right: 0;
    }
  }

  &__col {
    >label {
      padding-right: rem(5);
    }

    &:nth-child(1) {
      width: 22.5%;
      padding-right: rem(15);
    }

    &:nth-child(2) {
      width: 23.5%;
      box-sizing: border-box;
      padding-right: rem(10);
      padding-top: rem(2);
    }

    &:nth-child(3) {
      width: 26.5%;
      padding-right: rem(20);
      box-sizing: border-box;
    }

    &:nth-child(4) {
      width: 27.5%;
      padding-right: rem(40);
      box-sizing: border-box;
    }
  }

  &__top {
    border-radius: $border-radius;
    background-color: $llgray;
    padding: rem(8);
  }

  &__name {
    font-size: rem(13);
    font-weight: 600;
  }

  &__trigger {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: rem(32);
    cursor: pointer;
    color: $lgreen;

    .css-popover-content {
      span {
        &:nth-child(2) {
          display: none;
        }
      }
    }

    .fa {
      position: absolute;
      top: rem(8);
      right: rem(8);
      transition: transform .3s;
    }

    &-check {
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      display: none;

      &:checked {
        ~.manager-goals__items {
          display: block;
        }

        +.manager-goals__trigger {
          .fa {
            transform: rotate(180deg);
          }

          .css-popover-content {
            span {
              display: none;

              &:nth-child(2) {
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}

.offerManage-modal {
  border-radius: $border-radius;
  width: rem(1000);
  left: calc(50% - 500px);

  &__line {
    display: flex;
    align-items: center;
    margin-bottom: rem(7);
  }

  &-pub__line {
    margin-bottom: 0;
  }

  &__title {
    font-size: rem(18);
    color: $gray;
    font-weight: 600;
  }

  &__btn {
    margin-left: auto;
    font-size: rem(13);
    padding: rem(3, 8);
    border-radius: $border-radius;
    border: 1px solid $lgreen;
    text-decoration: none;
    display: inline-block;
  }

  &__link {
    color: $gray;
    font-size: rem(12);
    padding: rem(8);
    border-radius: $border-radius;
    background-color: $llgray;
    border: 1px solid $border-color;
  }
}

.approval-circles {
  cursor: pointer;
  display: block;
  text-align: center;
  margin-left: rem(16);

  &__row {
    font-size: 0;
  }

  .circle {
    display: inline-block;
    width: rem(7);
    height: rem(7);
    border-radius: $rounded;
    cursor: pointer;
    margin: rem(4);
    background-color: $green;

    &.red {
      background-color: $red;
    }

    &.green {
      background-color: $green;
    }

    &.white {
      background-color: #fff;
      border: 1px solid #C4C4C4; //cursor: text;
    }
  }
}

.approval-circles__offers {
  .circle {
    width: rem(4);
    height: rem(4);
    margin: rem(2, 5);

    //&.white {
    //  width: rem(2);
    //  height: rem(2);
    //}
  }
}

.fake-managers {
  .approvals-input.inp {
    margin-top: rem(19);
  }

  .app-setting__name {
    margin-bottom: rem(4);
  }

  .app-setting__ico {
    margin-right: rem(2);
  }

  .actions {
    margin: 0 auto;
    display: block;
    height: rem(24);
    width: rem(24);
  }

  .approvals-settings__item {
    //margin: 0 auto 4px;
    margin: rem(0, auto, 4);
  }

  .fake-table__body {
    padding-top: rem(6);
  }

  .manager-panel {
    margin-top: 0;
  }

  .fake-table__row {
    background-color: transparent;
    align-items: flex-start;
    padding: rem(0, 12, 24);
    margin-left: rem(-8);
    margin-right: rem(-8);
    border-bottom: 1px solid #eee;
    width: calc(100% + 16px);
    flex-wrap: wrap;
  }

  .fake-table__bottom {
    padding-left: rem(123);
    width: calc(100% - 203px);
  }

  .fake-table__cell {
    &:nth-child(1) {
      width: rem(28);
      padding: 0;
    }

    &:nth-child(2) {
      width: rem(95);
    }

    &:nth-child(3) {
      width: calc(72% - 233px);
      padding-right: rem(32);
    }

    &:nth-child(4) {
      width: calc(16% + 10px);
    }

    &:nth-child(5) {
      width: calc(12% + 20px);
      padding-right: 0;
    }

    &:nth-child(6) {
      width: rem(80);
    }

    &:not(:first-child) {
      padding-top: rem(18);
    }
  }

  .fake-managers__name {
    font-size: rem(14);
    color: #58666E;
    font-weight: 600;
  }
}

.approvals-settings {
  font-size: 0;

  &__item {
    display: block;
    font-size: rem(15);
    color: $gray;
    cursor: pointer;
    text-align: center;
    border-radius: $border-radius;
    line-height: rem(22);
    width: rem(22);
    height: rem(22);
    border: 1px solid $border-color;
    margin-bottom: rem(4);
    position: relative;
    transition: all .3s;

    &:hover {
      border-color: $green;
      background-color: #E1F2DF;
    }

    &_green {
      background-color: $green;
      border-color: $green;

      &:hover {
        background-color: $green;
        border-color: $green;
      }
    }

    &_yellow {
      &:hover {
        border-color: #FFB100;
        background-color: #FFF7E5;
      }
    }

    &_delete {
      &:hover {
        border-color: $red;
        background-color: #FEEAEE;
      }
    }

    &_edit {
      &:hover {
        color: $lgreen;
        border-color: #fff;
        background-color: #fff;
        box-shadow: 0 9px 21px var(--shadow);
      }
    }

    &_email-sent {
      color: white;
      background-color: $green;
      border-color: $green;

      i {
        color: white;
      }

      &:hover {
        color: white;
        background-color: $green;
        border-color: $green;
      }
    }

    &_declined {
      color: #fff;
      background-color: #FFB100;
      border-color: #FFB100;

      &:hover {
        background-color: #FFB100;
      }
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.icon-status {
  position: relative;

  &-active,
  &-2 {
    background-color: #0DBC00;

    &:before {
      content: "\F04B";
      font-family: 'FontAwesome';
    }
  }

  &-suspended,
  &-5 {
    background-color: #0DBC00;

    &:before {
      content: "\F04E";
      font-family: 'FontAwesome';
    }
  }

  &-paused24,
  &-6 {
    background-color: #FFB100;

    &:before {
      content: "\F051";
      font-family: 'FontAwesome';
    }
  }

  &-pending,
  &-1 {
    background-color: #FFB100;

    &:before {
      content: "\F017";
      font-family: 'FontAwesome';
    }
  }

  &-paused,
  &-3 {
    background-color: #F33155;

    &:before {
      content: "\F04C";
      font-family: 'FontAwesome';
    }
  }

  &-deleted,
  &-4 {
    background-color: #58666E;

    &:before {
      content: "\F1F8";
      font-family: 'FontAwesome';
    }
  }
}

.approval-links__btn {
  cursor: pointer;
}


.disabledGoal {
  text-decoration: line-through;
}

.approval-links__input {
  input::placeholder {
    color: #8898a0;
  }

  input {
    &:last-child {
      margin-top: rem(10);
    }
  }
}

.statusName {
  text-transform: capitalize;
}

// .external-modal__content {
//   max-height: calc(90vh - 260px);
// }

.offerManage-modal__link {
  overflow: hidden;
}
