* {
  box-sizing: border-box;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;

  th {
    text-align: left;
  }

  th,
  td {
    padding: .5rem .75rem;
    font-size: .875rem;
  }
}

h2 {
  font-size: 18px;
  font-weight: 600;
}

.pl-0 {
  padding-left: 0;
}

.form-control {
  display: inline-block;
  width: 100%;
  border: 1px solid #dedede;
  height: 32px;
  padding: 0 7px;
  border-radius: 4px;
  box-sizing: border-box;
  color: #58666e;
  position: relative;
  z-index: 2;
  background-color: #fff;
  box-shadow: none;
  margin: 0;

  @at-root {
    textarea#{&} {
      height: 128px;
      padding: 7px;
      resize: vertical;
      box-sizing: border-box;
    }
  }
}

table{
  th, td{
    &:nth-child(1){
      width: 5%;
    }
    &:nth-child(2){
      width: 20%;
    }
    &:nth-child(3){
      width: 20%;
    }
    &:nth-child(4){
      width: 20%;
    }
  }
}
