<card>

  <card-header>
    <div class="col-12 text-center">
      <btn [simple]="true" routerLink="/manager/billing/cross-payments/list">Back</btn>
      <btn (click)="downloadPayment()">
        <i class="fa fa-print mr-1"></i> Download as PDF
      </btn>
    </div>
  </card-header>

  <card-body>
    <table width="100%" border="0" *ngIf="invoice?.paymentDirection === 1">
      <tr>
        <td>
          <span>Bill to:</span>
          <address>
            <strong>{{ invoice?.advertiser?.name | uppercase }}</strong><br>
            {{ invoice?.paymentInfo?.address }} <br>
            <abbr title="Phone"> Phone: </abbr>{{ invoice?.paymentInfo?.phone }}<br />
            <abbr title="Email"> Email: </abbr> <a href="mailto:{{ invoice?.paymentInfo?.email }}">{{
            invoice?.paymentInfo?.email }}</a>
          </address>
        </td>
        <td align="right">
          <div>
            <span>From:</span>
            <address>
              <strong>{{ invoice?.company?.name | uppercase }}</strong><br>
              {{ invoice?.company?.address }} <br>
              <abbr title="Phone"> Phone: </abbr>{{ invoice?.company?.phone }}<br />
              <abbr title="Email"> Email: </abbr> <a href="mailto:{{ invoice?.company?.email }}">{{
              invoice?.company?.email }}</a>
            </address>
          </div>
        </td>
      </tr>
    </table>
    <table width="100%" border="0" *ngIf="invoice?.paymentDirection === 2">
      <tr>
        <td>
          <span>Bill to:</span>
          <address>
            <strong>{{ invoice?.company?.name | uppercase }}</strong><br>
            {{ invoice?.company?.address}} <br>
            <abbr title="Phone"> Phone: </abbr>{{ invoice?.company?.phone }}<br />
            <abbr title="Email"> Email: </abbr> <a href="mailto:{{ invoice?.company?.email }}">{{
            invoice?.company?.email }}</a>
          </address>
        </td>
        <td align="right">
          <div>
            <span>From:</span>
            <address>
              <strong>{{ invoice?.publisher?.name | uppercase }}</strong><br>
              {{ invoice?.paymentInfo?.address}} <br>
              <abbr title="Phone"> Phone: </abbr>{{ invoice?.paymentInfo.phone }}<br />
              <abbr title="Email"> Email: </abbr> <a href="mailto:{{ invoice?.paymentInfo?.email }}">{{
              invoice?.paymentInfo?.email }}</a>
            </address>
          </div>
        </td>
      </tr>
    </table>
    <br />

    <div>
      <span style="padding-left: 20%;">
        <strong>Invoice period:</strong> {{ invoice?.period?.from | dateFormatDynamic }} - {{
        invoice?.period?.to | dateFormatDynamic }}
      </span>
      <br />
    </div>

    <br />

    <div>
      <strong>{{ invoice?.company?.name | uppercase }}</strong>
      <br />
    </div>

    <div>
      <table class="table invoice-table">
        <thead>
        <tr>
          <th></th>
          <th>Invoice number</th>
          <th>Invoice date</th>
          <th>Total Price</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let advertiserInvoice of invoice?.advertiserInvoices; let index = index;">
          <td>{{ index + 1 }}</td>
          <td>{{ advertiserInvoice.invoiceNumber }}</td>
          <td>{{ advertiserInvoice.invoiceDate | dateFormatDynamic }}</td>
          <td>{{ advertiserInvoice.total.amount }} {{ advertiserInvoice.total.currency }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div style="float:right">
      <strong> Total: {{ invoice?.advertiserInvoicesTotal?.amount }} {{
        invoice?.advertiserInvoicesTotal?.currency }} </strong>
    </div>

    <br />

    <div>
      <strong>{{ invoice?.publisher?.name | uppercase }}</strong>
      <br />
    </div>

    <div>
      <table class="table invoice-table">
        <thead>
        <tr>
          <th></th>
          <th>Invoice number</th>
          <th>Invoice period</th>
          <th>Total Price</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let publisherInvoice of invoice?.publisherInvoices; let index = index">
          <td>{{ index + 1 }}</td>
          <td>{{ publisherInvoice.invoiceNumber }}</td>
          <td>{{ publisherInvoice.period?.from | dateFormatDynamic }} - {{ publisherInvoice.period?.to |
            dateFormatDynamic }}</td>
          <td>{{ publisherInvoice.amountDetails.total.amount }} {{
            publisherInvoice.amountDetails.total.currency }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-right">
      <strong> Total: {{ invoice?.publisherInvoicesTotal?.amount }} {{
        invoice?.publisherInvoicesTotal?.currency }} </strong>
    </div>

    <br />

    <div class="text-right">
      <strong style="font-size: large"> Total amount: {{ invoice?.amount?.amount }} {{
        invoice?.amount?.currency }}
      </strong>
    </div>
  </card-body>

</card>
