<card>

  <card-header>Buttons</card-header>

  <card-body>

    <div class="row mb-3">
      <div class="col-12 text-left">
        <form-label>
          <code>btn-icon</code>
        </form-label>
        <btn-icon class="mr-3" type="info" icon="pencil"></btn-icon>
        <btn-icon class="mr-3" type="danger" icon="pencil"></btn-icon>
        <btn-icon class="mr-3" type="success" icon="pencil"></btn-icon>
        <btn-icon class="mr-3" type="warning" icon="pencil"></btn-icon>
        <btn-icon class="mr-3" type="primary" icon="pencil"></btn-icon>
        <btn-icon class="mr-3" type="light" icon="pencil"></btn-icon>
        <btn-icon class="mr-3" type="dark" icon="pencil"></btn-icon>
        <btn-icon class="mr-3" type="secondary" icon="pencil"></btn-icon>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12 text-left">
        <form-label>
          <code>btn-icon [outline]="true"</code>
        </form-label>
        <btn-icon class="mr-3" [outline]="true" type="info" icon="pencil"></btn-icon>
        <btn-icon class="mr-3" [outline]="true" type="danger" icon="pencil"></btn-icon>
        <btn-icon class="mr-3" [outline]="true" type="success" icon="pencil"></btn-icon>
        <btn-icon class="mr-3" [outline]="true" type="warning" icon="pencil"></btn-icon>
        <btn-icon class="mr-3" [outline]="true" type="primary" icon="pencil"></btn-icon>
        <btn-icon class="mr-3" [outline]="true" type="light" icon="pencil"></btn-icon>
        <btn-icon class="mr-3" [outline]="true" type="dark" icon="pencil"></btn-icon>
        <btn-icon class="mr-3" [outline]="true" type="secondary" icon="pencil"></btn-icon>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12 text-left">
        <form-label>
          <code>btn-icon [opposite]="true"</code>
        </form-label>
        <btn-icon class="mr-3" [opposite]="true" type="info" icon="pencil"></btn-icon>
        <btn-icon class="mr-3" [opposite]="true" type="danger" icon="pencil"></btn-icon>
        <btn-icon class="mr-3" [opposite]="true" type="success" icon="pencil"></btn-icon>
        <btn-icon class="mr-3" [opposite]="true" type="warning" icon="pencil"></btn-icon>
        <btn-icon class="mr-3" [opposite]="true" type="primary" icon="pencil"></btn-icon>
        <btn-icon class="mr-3" [opposite]="true" type="light" icon="pencil"></btn-icon>
        <btn-icon class="mr-3" [opposite]="true" type="dark" icon="pencil"></btn-icon>
        <btn-icon class="mr-3" [opposite]="true" type="secondary" icon="pencil"></btn-icon>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <form-label>
            <code>btn [block]="true"</code>
          </form-label>
          <btn [block]="true">Button</btn>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-2">
        <form-label>
          <code>btn size="xs|sm|md|lg|xl"</code>
        </form-label>
        <div class="mb-3">
          <btn size="xs">Button</btn>
        </div>
        <div class="mb-3">
          <btn size="sm">Button</btn>
        </div>
        <div class="mb-3">
          <btn>Button</btn>
        </div>
        <div class="mb-3">
          <btn size="lg">Button</btn>
        </div>
        <div class="mb-3">
          <btn size="xl">Button</btn>
        </div>
        <div class="mb-3">
          <btn size="xl">
            <i class="fa fa-check mr-2"></i>
            Button
          </btn>
        </div>
        <div class="mb-3">
          <btn size="xl">
            Button
            <i class="fa fa-check ml-2"></i>
          </btn>
        </div>
      </div>

      <div class="col-3">
        <form-label>
          <code>btn</code>
        </form-label>
        <div class="mb-3">
          <btn [outline]="true" [disabled]="true">Button</btn>
        </div>
        <div class="mb-3">
          <btn [disabled]="true">Button</btn>
        </div>
        <div class="mb-3">
          <btn [outline]="true">Button</btn>
        </div>
        <div class="mb-3">
          <btn [danger]="true">Button</btn>
        </div>
        <div class="mb-3">
          <btn [warning]="true">Button</btn>
        </div>
        <div class="mb-3">
          <btn [success]="true">Button</btn>
        </div>
        <div class="mb-3">
          <btn [secondary]="true">Button</btn>
        </div>
        <div class="mb-3">
          <btn [simple]="true">Button</btn>
        </div>
        <div class="mb-3">
          <btn [link]="true">Button</btn>
        </div>
      </div>

    </div>

  </card-body>

</card>
