<app-filter #filterComponent>
  <ng-container filter-header>
    <timezone-select [(ngModel)]="filter.timezone"></timezone-select>
  </ng-container>

  <ng-container filter-content>
    <div class="row">
      <div class="col">
        <div class="mb-2">
          <app-multy-live-select [apiUrl]="filterUrls.advertisers"
                                 [selectPlaceholder]="'conversionReports.advertisers' | translate"
                                 [(ngModel)]="filter.advertisers"></app-multy-live-select>
        </div>
        <div class="mb-2">
          <app-multy-live-select [apiUrl]="filterUrls.publishers"
                                 [selectPlaceholder]="'conversionReports.publishers' | translate"
                                 [(ngModel)]="filter.publishers"></app-multy-live-select>
        </div>
        <div class="mb-2">
          <app-countries-select [(ngModel)]="filter.countries"></app-countries-select>
        </div>
      </div>
      <div class="col">
        <div class="mb-2">
          <app-platforms-select [(ngModel)]="filter.platforms"></app-platforms-select>
        </div>
      </div>
      <div class="col">
        <div class="mb-2">
          <input-text [placeholder]="'conversionReports.ip' | translate" [(ngModel)]="filter.ip"></input-text>
        </div>
        <div class="mb-2">
          <input-text [placeholder]="'conversionReports.convIp' | translate" [(ngModel)]="filter.conversionIp"></input-text>
        </div>
        <div class="mb-2">
          <input-text [placeholder]="'conversionReports.transactionId' | translate" [(ngModel)]="filter.transactionId"></input-text>
        </div>
        <div class="mb-2">
          <ng-select [(ngModel)]="filter.duplicate" [items]="duplicateList" bindValue="value" bindLabel="label"
                     [placeholder]="'conversionReports.duplicate' | translate">
          </ng-select>
        </div>
      </div>
      <div class="col">
        <div class="mb-2">
          <input-text [placeholder]="'conversionReports.affiliateSub' | translate" [(ngModel)]="filter.affSub"></input-text>
        </div>
        <div class="mb-2">
          <input-text [placeholder]="'conversionReports.affiliateSub2' | translate" [(ngModel)]="filter.affSub2"></input-text>
        </div>
        <div class="mb-2">
          <input-text [placeholder]="'conversionReports.affiliateSub3' | translate" [(ngModel)]="filter.affSub3"></input-text>
        </div>
        <div class="mb-2">
          <input-text [placeholder]="'conversionReports.affiliateSub4' | translate" [(ngModel)]="filter.affSub4"></input-text>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container filter-footer>
    <btn [simple]="true" (click)="resetFilters(); close()">{{ "conversionReports.reset" | translate }}</btn>
    <btn (click)="applyFilters();">{{ "conversionReports.apply" | translate }}</btn>
  </ng-container>

</app-filter>
