.actions {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  &.actions_reverse {
    .actions-options {
      top: auto;
      bottom: 100%;
    }
  }

  .actions-toggle {
    display: block;
    position: relative;
    width: 50px;
    height: 30px;
    cursor: pointer;

    &:after {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\f141";
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 50%;
      top: 50%;
      margin: -10px 0 0 -10px;
      color: $lgreen;
    }
  }

  .actions-options {
    display: none;
    position: absolute;
    right: -9px;
    top: 50%;
    margin-top: 10px;
    width: 192px;
    background: #fff;
    z-index: 10;
    padding: 10px 0 12px;
    -webkit-box-shadow: 0 7px 19px 2px rgba(22, 32, 72, .15);
    box-shadow: 0 9px 21px 0 rgba(22, 32, 72, .15);
    border-radius: 4px;

    &_top {
      top: auto;
      bottom: 100%;
    }

    table {
      padding: 10px;

      td {
        padding: 3px 6px;
      }
    }
  }

  &:hover {
    .actions-options {
      display: block;
    }
  }

  .sep {
    display: block;
    margin: 8px 0;
    position: relative;
    height: 1px;

    &:after {
      content: '';
      position: absolute;
      background: #e5e5e5;
      height: 1px;
      top: 0;
      left: 22px;
      right: 24px;
    }
  }


}

.actions-option {
  text-align: left;
  width: 100%;
  display: block;
  text-decoration: none !important;
  font: 14px/20px $font;
  padding: 6px 25px 6px 48px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  color: #58666e !important;

  &_red {
    color: #EB5757;
  }

  &[disable] {
    color: #DEDEDE;
    cursor: text;
  }

  &_min {
    padding-left: 20px;
  }

  &:before {
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    display: block;
    width: 25px;
    height: 20px;
    left: 21px;
    top: 8px;
    font-size: 16px;
    //line-height: 20px;
    line-height: 1;
  }

  &.action-edi:before {
    content: "\f040";
  }

  &.action-dow:before {
    content: "\f019";
  }

  &.action-sen:before {
    content: "\f1d8";
  }

  &.action-rem:before {
    content: "\f00d";
  }

  &.action-vie:before {
    content: "\f06e";
  }

  &.action-ban:before {
    content: "\f05e";
  }

  &.action-trash:before {
    content: "\f1f8";
  }

  &.action-nota:before {
    content: url('/assets/images/icon-nota.svg');
  }

  &.action-parts:before {
    content: '\f0c5';
  }

  &.action-login-as:before {
    content: "\f0ec";
  }

  &.action-check:before {
    content: "\F274";
  }
}
