.content {
  a {
    color: #11a0f8;
    text-decoration: none;

    @at-root {
      &:not([href]):not([tabindex]) {
        color: #11a0f8;
        text-decoration: none;
      }
    }
  }
}

.rise {
  color: #0dbc00;
}

.fall {
  color: #f33155;
}

.content strong,
.content .strong,
.content b,
.content .b {
  font-weight: bold;
}

.content .align-top {
  vertical-align: top;
}

.content table {
  width: 100%;
  font: 13px/16px 'Roboto', sans-serif;
  color: #58666e;
  border-collapse: collapse;
  position: relative;
}

.content table thead {
  font: 13px/16px 'Roboto', sans-serif;
  color: #8898a0;
  text-align: left;
}

.content table thead th {
  vertical-align: bottom;
  word-wrap: break-word;
  word-break: break-all;
}

.content table thead th>span,
.content table thead th>div {
  display: block;
  padding: 10px 3px 10px 3px;
}

.content table .tbody-title {
  font-weight: bold;
}

.content table .tbody-title td {
  position: relative;
  border-bottom: none;
}

.content table .tbody-title td:last-child {
  border-bottom-right-radius: 0;
}

.content table .tbody-title td:first-child {
  border-bottom-left-radius: 0;
}

.content table .tbody-title td>span {
  display: block;
  vertical-align: bottom;
  padding: 13px 15px 6px;
  background: #fff;
  border-radius: 4px;
}

.content table .tbody-title td>span:after {
  content: '';
  display: block;
  position: absolute;
  left: 93px;
  right: 3px;
  height: 1px;
  background: #e5e5e5;
  bottom: 8px;
}

.content table .tbody-title:hover td:first-child,
.content table .tbody-title:hover td:last-child {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.content table .tbody-title:hover td:before,
.content table .tbody-title:hover td:after {
  display: none;
}

.content table .tbody-title+tr td:last-child {
  border-top-right-radius: 0;
}

.content table .tbody-title+tr td:first-child {
  border-top-left-radius: 0;
}

.content table .tbody-title+tr:hover td:before {
  display: none;
}

.content table tbody:after {
  content: '';
  display: block;
  height: 8px;
  width: 100%;
}

.content table tbody:last-child:after {
  display: none;
}

.content table tbody th,
.content table tbody td {
  background: #fff;
  border-bottom: 1px solid #eeeeee;
  position: relative;
}

.content table tbody td {
  vertical-align: bottom;
}

.content table tbody td.align-top {
  vertical-align: top;
}

.content table tbody td.align-middle {
  vertical-align: middle;
}

.content table tbody td:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.content table tbody td:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.content table tbody td>span,
.content table tbody td>div {
  display: block;
  padding: 10px 3px 20px 3px;
  min-width: 50px;
}

.content table tbody tr:hover td:first-child {
  -webkit-box-shadow: -2px 3px 9px 0px rgba(22, 32, 72, 0.1);
  box-shadow: -2px 3px 9px 0px rgba(22, 32, 72, 0.1);
}

.content table tbody tr:hover td:last-child {
  -webkit-box-shadow: 4px 3px 5px 0px rgba(22, 32, 72, 0.1);
  box-shadow: 4px 3px 5px 0px rgba(22, 32, 72, 0.1);
}

.content table tbody tr:hover td:before,
.content table tbody tr:hover td:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
}

.content table tbody tr:hover td:before {
  bottom: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#162048), to(rgba(22, 32, 72, 0)));
  background: -webkit-linear-gradient(bottom, #162048 0%, rgba(22, 32, 72, 0) 100%);
  background: -o-linear-gradient(bottom, #162048 0%, rgba(22, 32, 72, 0) 100%);
  background: linear-gradient(to top, #162048 0%, rgba(22, 32, 72, 0) 100%);
  height: 8px;
  opacity: .07;
}

.content table tbody tr:hover td:after {
  top: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#162048), to(rgba(22, 32, 72, 0)));
  background: -webkit-linear-gradient(top, #162048 0%, rgba(22, 32, 72, 0) 100%);
  background: -o-linear-gradient(top, #162048 0%, rgba(22, 32, 72, 0) 100%);
  background: linear-gradient(to bottom, #162048 0%, rgba(22, 32, 72, 0) 100%);
  height: 26px;
  opacity: .1;
}

.content table tbody tr:hover:last-child:hover td:after {
  height: 6px;
}

.content table .actions {
  float: right;
}

.content .table-thead-tools-statistics thead td,
.content .table-thead-tools-statistics tbody td {
  vertical-align: top;
}

.content .table-tools-statistics thead td,
.content .table-tools-statistics tbody td {
  vertical-align: top;
}

.content .table-offers-creatives table {
  font-size: 14px;
}

.content table tbody tr:hover td:before,
.content table tbody tr:hover td:after,
.content table tbody tr:hover td {
  content: none;
}

.content table tbody tr:hover td:first-child,
.content table tbody tr:hover td:last-child {
  -webkit-box-shadow: none;
  box-shadow: none;
}
