.filters {
  display: none;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 16px;
  -webkit-box-shadow: 0 9px 21px 0 rgba(22, 32, 72, 0.15);
  box-shadow: 0 9px 21px 0 rgba(22, 32, 72, 0.15);
}

.filters.show {
  display: block;
  position: relative;
  z-index: 2;
}

.filters-header {
  -webkit-box-shadow: 0 9px 21px 0 rgba(22, 32, 72, 0.15);
  box-shadow: 0 9px 21px 0 rgba(22, 32, 72, 0.15);
  text-align: right;
}

.filters-header .col {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  text-align: left;
}

.filters-header .col+.col {
  text-align: right;
}

.filters-header .btn-filter {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.filters-footer {
  padding: 25px 25px 25px 25px;
  border-top: 1px solid #DEDEDE;
  text-align: center;
}

.filters-content {
  padding: 8px 8px 16px;
}

.filters-content .col {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  margin: 0 16px 16px;
}

.filters-content:after {
  content: '';
  display: block;
  position: relative;
  width: 100%;
  clear: both;
}

.filters-content:after:after,
.filters-content:after:before {
  width: 100%;
  clear: both;
  content: '';
  display: table;
}

.filters-row {
  display: block;
  clear: both;
}

.filters-col {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px 16px;
  float: left;
  width: 232px;
}

.filters-col .inp-check {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.filters-col-double {
  width: 362px;
  float: left;
}

.filters-col-double .inp-check {
  width: 140px;
  margin-right: 2px;
}

.filters-col-br:after {
  content: '';
  border-right: 1px solid #DEDEDE;
  width: 0;
  position: absolute;
  top: 52px;
  bottom: 16px;
  right: 0;
}

.filters-col-title {
  font: 14px/16px 'Roboto', sans-serif;
  color: #58666e;
  margin-bottom: 20px;
}

.filters .slider .slider-btn-more,
.filters .slider .slider-btn-less {
  max-width: 330px;
}

.filters .fliters-time-select {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  position: relative;
  font: 14px/24px 'Roboto', sans-serif;
  color: #58666e;
  margin: 5px 0;
}

.filters .fliters-time-select .num {
  font-weight: 600;
}

.filters .fliters-time-select .fliters-time-select-current {
  position: relative;
  padding: 8px 32px 8px 24px;
}

.filters .fliters-time-select .fliters-time-select-current__text {
  display: inline-block;
  position: relative;
}

.filters .fliters-time-select .fliters-time-select-current__text:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\F107";
  display: block;
  font-size: 16px;
  line-height: 16px;
  width: 32px;
  height: 16px;
  color: #02c3c8;
  position: absolute;
  right: -37px;
  top: 50%;
  margin-top: -6px;
  text-align: center;
}

.filters .fliters-time-select .fliters-time-select-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding-top: 2px;
  z-index: 100;
}

.filters .fliters-time-select.up .fliters-time-select {
  padding-top: 0;
  padding-bottom: 2px;
  top: auto;
  bottom: 100%;
}

.filters .fliters-time-select .pages-count-list {
  max-height: 300px;
  overflow: auto;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 9px 21px 0 rgba(22, 32, 72, 0.15);
  box-shadow: 0 9px 21px 0 rgba(22, 32, 72, 0.15);
}

.filters .fliters-time-select .fliters-time-select-item {
  padding: 4px 21px;
  display: block;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filters .fliters-time-select .fliters-time-select-item:hover {
  color: #02c3c8;
}

.filters .fliters-time-select:hover .fliters-time-select-current__text:after {
  content: "\F106";
}

.filters .fliters-time-select:hover .fliters-time-select-dropdown {
  display: block;
}

.filters .btn-ok {
  font-size: 16px;
  padding: 6px 8px;
  min-width: 62px;
}
