.icon-status {
  position: relative;
}

.icon-status-active,
.icon-status-2 {
  background-color: #0DBC00;
}

.icon-status-active:before,
.icon-status-2:before {
  content: "\F04B";
  font-family: 'FontAwesome';
}

.icon-status-suspended,
.icon-status-5 {
  background-color: #0DBC00;
}

.icon-status-suspended:before,
.icon-status-5:before {
  content: "\F04E";
  font-family: 'FontAwesome';
}

.icon-status-paused24,
.icon-status-6 {
  background-color: #FFB100;
}

.icon-status-paused24:before,
.icon-status-6:before {
  content: "\F051";
  font-family: 'FontAwesome';
}

.icon-status-pending,
.icon-status-1 {
  background-color: #FFB100;
}

.icon-status-pending:before,
.icon-status-1:before {
  content: "\F017";
  font-family: 'FontAwesome';
}

.icon-status-paused,
.icon-status-3 {
  background-color: #F33155;
}

.icon-status-paused:before,
.icon-status-3:before {
  content: "\F04C";
  font-family: 'FontAwesome';
}

.icon-status-deleted,
.icon-status-4 {
  background-color: #58666E;
}

.icon-status-deleted {
  span {
    margin-left: 5px;
  }
}

.icon-status-deleted:before,
.icon-status-4:before {
  content: "\F1F8";
  font-family: 'FontAwesome';
}
