.inp {
  margin: 16px 0;

  input,
  textarea,
  .choices__inner {
    display: block;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    //height: 32px;
    font: 13px/18px $font;
    padding: 6px 6px;
    border: 1px solid $border-color;
    border-radius: 4px;
    color: #8898A0;

    &::-webkit-input-placeholder {
      opacity: .5;
    }

    &::-moz-placeholder {
      opacity: .5;
    }

    &:-ms-input-placeholder {
      opacity: .5;
    }

    &:focus {
      outline: none;
    }
  }

  &.inp-check {
    position: relative;
    font: 13px/16px $font;
    color: #8898A0;
    margin: 4px 0;
    box-sizing: border-box;

    input {
      &[disabled]+.icn-check {
        background-color: #f5f5f5;
      }
    }

    &:hover {
      color: $gray;
    }

    .icn-check {
      display: block;
      position: relative;
      //position: absolute;
      //left: 0;
      //top: 0;
      box-sizing: border-box;
      width: 24px;
      height: 24px;
      border: 1px solid $border-color;
      border-radius: 4px;
      background-color: #fff;

      &:after {
        content: '';
        display: block;
        width: 5px;
        height: 8px;
        border: solid #fff;
        border-width: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -3px;
        margin-top: -5px;
        border-radius: 1px;
      }
    }

    label {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-bottom: 0;
      //padding: 4px 0;

      .icn-check {
        flex-shrink: 0;

        &+span {
          margin-left: 10px;
        }
      }
    }

    input {
      display: none;

      &:checked+.icn-check {
        background-color: #21CACF;
        border-color: transparent;

        &:after {
          border-width: 0 2px 2px 0;
        }
      }
    }
  }

  &.inp-check_checked .icn-check {
    background: #21CACF;
    border-color: transparent;

    &:after {
      border-width: 0 2px 2px 0;
    }
  }

  &.inp-check_disable {
    .icn-check {
      background: url('/assets/images/icon-delete-red.svg') no-repeat center center / 11px 11px;
    }

    input:checked+.icn-check {
      border: 1px solid $border-color;
      background: url(./assets/images/icon-delete-red.svg?v=0.0.57) no-repeat center center / 11px 11px;

      &:after {
        content: none;
      }
    }
  }

  &.inp-check_unknown {
    .icn-check:after {
      content: '?';
      font-weight: 900;
      color: #F9B014;
      font-size: 13px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      height: auto;
      margin: 0;
      padding: 0;
    }

    input:checked+.icn-check {
      background-color: transparent;
      border: 1px solid $border-color;
    }
  }

  //.select2-container {
  //  width: 100% !important;
  //  display: block;
  //
  //  .select2-selection--single {
  //    height: 32px;
  //
  //    .select2-selection__rendered {
  //      padding: 6px 32px 6px 6px;
  //    }
  //  }
  //
  //  .select2-selection--multiple {
  //    .select2-selection__rendered {
  //      padding-left: 6px;
  //      margin-bottom: -4px;
  //    }
  //  }
  //
  //  .select2-selection {
  //    .select2-search--inline {
  //      .select2-search__field {
  //        margin-top: 0;
  //      }
  //    }
  //  }
  //}
}

.createOffer__input input::-webkit-input-placeholder {
  color: #8898A0;
  opacity: .6;
}

.createOffer__input input::-moz-placeholder {
  color: #8898A0;
  opacity: .6;
}

.createOffer__input input:-ms-input-placeholder {
  color: #8898A0;
  opacity: .6;
}

.createOffer__input input:-moz-placeholder {
  color: #8898A0;
  opacity: .6;
}

.createOffer__input input:focus {
  border-color: #02c3c8;
  outline: none;
}

.createOffer__input input[type='number'] {
  max-width: 80px;
}

.createOffer__input input[type='number'].input-large {
  max-width: 100%;
}

.createOffer__input_eye:after {
  content: "\F06E";
}

.createOffer__input_valid:after {
  content: "\F078";
  right: 14px;
  font-size: 11px;
}

.createOffer__input_calendar .createOffer__input-wrap:after {
  content: "\F073";
}

.createOffer__input_price {
  max-width: 80px;
}

.createOffer__input_price:after {
  content: '$';
  color: #8898A0;
  font-family: 'Roboto', sans-serif;
}

.createOffer__input_num {
  max-width: 80px;
}

.createOffer__input_percent {
  max-width: 80px;
}

.createOffer__input_percent:after {
  content: '%' !important;
  color: #8898A0;
  background: none !important;
  height: auto !important;
  opacity: 1 !important;
  font-family: 'Roboto', sans-serif;
}

.input-icon-percent {
  .createOffer__input {
    position: relative;
    display: inline-flex !important;
    width: auto !important;

    &::after {
      content: '%' !important;
      color: #8898A0;
      background: none !important;
      height: auto !important;
      opacity: 1 !important;
      font-family: 'Roboto', sans-serif;
    }

    input[type=number] {
      padding-right: 1.25rem;
    }
  }
}

.createOffer__input_mins {
  max-width: 80px;
}

.createOffer__input_mins:after {
  content: 'mins';
  right: 8px;
  color: #8898A0;
  font-family: 'Roboto', sans-serif;
}

.createOffer__input_gray input {
  background-color: #f5f5f5;
  border-color: #DEDEDE;
}

.createOffer__input-rub:after {
  content: '';
  width: 14px;
  height: 12px;
  opacity: .4;
}

.createOffer__input-eur:after {
  content: '';
  width: 14px;
  height: 12px;
  opacity: .4;
}

.createOffer__input-gbp:after {
  content: '';
  width: 14px;
  height: 12px;
  opacity: .4;
}

.createOffer__input-cad:after {
  content: '';
  width: 14px;
  height: 12px;
  opacity: .4;
}

.createOffer__input-brl:after {
  content: '';
  width: 14px;
  height: 12px;
  opacity: .4;
}

.createOffer__input-cny:after {
  content: '';
  width: 14px;
  height: 12px;
  opacity: .4;
}

.createOffer__input-inr:after {
  content: '';
  width: 14px;
  height: 12px;
  opacity: .4;
}

.createOffer__input-jpy:after {
  content: '';
  width: 14px;
  height: 12px;
  opacity: .4;
}

.createOffer__input-krw:after {
  content: '';
  width: 14px;
  height: 12px;
  opacity: .4;
}

/* end inp */
