/* label */
.label {
  display: inline-block;
  font: bold 11px/12px $font;
  padding: 3px 8px;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  background: #88a0ae;
  color: #fff;
  margin: 2px;

  &.label-success {
    background: #1da5f8;
  }

  &.label-info {
    background: $lgreen;
  }

  &.label-warning {
    background: #f8ac59;
  }

  &.label-danger {
    background: $red;
  }

  &.label-primary {
    background: #1ab394;
  }

  &.label-ok {
    background: $green;
  }

  &.label-green {
    background-color: $green;
  }

  &.label-blue {
    background-color: $lblue;
  }

  &.label-yellow {
    color: #fff;
    background-color: #FFB100;
  }

  &.label-darkgray {
    color: #000;
    background-color: #C4C4C4;
  }

  &.label-lightgray {
    color: $gray;
    background-color: #dedede;
  }

  &.label-whitegray {
    color: #fff;
    background-color: #88A0AE;
  }

  &.label-white {
    font-weight: 700;
    background-color: #fff;
    color: $gray;
  }

  &.label-date-created {
    font-weight: 600;
    background: #cedae1;
    color: $gray;
  }

  &.label-date-paid {
    font-weight: 600;
    background: $lgreen;
  }

  &.label-invoice-paid {
    background-color: $green;
  }

  &.label-invoice-unpaid {
    background: #f8ac59;
  }

  &.label-invoice-rejected {
    background: $red;
  }

  &.label-invoice-merged {
    background: #1da5f8;
  }

  &.label-big {
    font-size: 14px;
    padding: 6px 9px;
  }

  &.label-long {
    max-width: 60px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 10px;
    overflow-x: hidden;
  }

  &.label-icon {
    padding: 0;
    width: 24px;
    height: 24px;
    line-height: 23px;
    text-align: center;
    font-size: 12px;
  }

  .icn-link {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 12px;
    height: 12px;
    font-size: 11px;
    line-height: 12px;
    text-align: center;

    &:before {
      content: "\f0c1";
    }
  }

  .icn-remove,
  .icn-ok {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    line-height: 12px;
    margin-right: 8px;
  }

  .icn-remove:before {
    content: "\f00d";
  }

  .icn-ok:before {
    content: "\f00c";
  }

  &.label-no-margin {
    margin: 2px 0;
  }
}

/* end label */
