.live-select {
  width: 100%;
  display: block;
}

.live-select {
  height: 30px;
  position: relative;
  width: 100%;
  border-radius: 4px;
  border: 1px solid $border-color;
  cursor: pointer;
}

.live-select__loading {
  font-size: 13px;
  padding: 5px 10px;
}

.live-select__list {
  max-height: 280px;
  overflow: auto;
  position: relative;
}

.live-select__list.hidden {
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.live-select__selected,
.live-select__placeholder {
  font-size: 14px;
  padding-left: 10px;
  line-height: 30px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.live-select__placeholder {
  opacity: .6;
}

.live-select:focus {
  outline: none;
}

.live-select.open {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.live-select.open .live-select__content {
  display: block;
}

.live-select__content {
  max-height: 315px;
  position: absolute;
  top: 100%;
  left: -1px;
  width: 100%;
  border: 1px solid $border-color;
  border-radius: 0 0 4px 4px;
  border-top: none;
  display: none;
  background-color: #fff;
  z-index: 3;
}

.live-select__input {
  padding: 4px;
  border-top: 1px solid #dedede;
}

.live-select__input input {
  height: 25px;
  width: 100% !important;
}

.live-select__item {
  font-size: 13px;
  padding: 6px 0 6px 5px;
  cursor: pointer;
}

.live-select__item.active {
  background-color: #58666e;
  color: #fff;
}

.live-select__item:hover {
  color: #fff;
  background-color: #02c3c8;
}

.live-select .ps:hover>.ps__scrollbar-y-rail:hover {
  background-color: transparent;
}
