/* start header */
.header {
  .ng-dropdown-panel .ng-dropdown-panel-items {
    margin-bottom: 0;
  }

  .ng-select.ng-select-single {
    .ng-select-container {
      height: 30px;
      min-height: 30px;
      min-width: 65px;
    }
  }
}

/* end header */

/* page */
.page {
  position: absolute;
  top: 64px;
  left: 240px;
  right: 0;
  bottom: 0;
  padding: 24px 22px 24px 16px;

  .min-side & {
    left: 80px !important;
  }

  &_small-padding {
    padding-bottom: 10px;
  }

  .page-container {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .page-row {
    display: table-row;
    position: relative;

    &.page-row-min {
      height: 10px;
      //.page-cell {
      //    height: 10px;
      //}
    }
  }

  .page-cell {
    display: table-cell;
    position: relative;
    // height: 400px;
  }

  .page-scrollable {
    position: absolute;
    //left: 0;
    top: 0;
    right: -22px;
    left: -16px;
    padding-left: 16px;
    padding-right: 22px;
    padding-bottom: 0;
    bottom: 0;

    // display: none;
    //overflow-x: visible !important;
    .content {
      position: relative;
    }
  }

  &.continues {
    .page-scrollable {
      position: relative;
      right: 0;
      left: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
  }
}

/* end page */

/* start page-nav */
.page-nav>a,
.page-nav>span {
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font: 23px/30px 'Roboto', sans-serif;
  letter-spacing: .8px;
  color: #58666e;
  text-decoration: none;
  padding-right: 23px;
  padding-left: 12px;
}

.page-nav>a span,
.page-nav>span span {
  display: block;
  position: relative;
  padding: 0px 0 10px;
}

.page-nav>a+a,
.page-nav>span+a,
.page-nav>a+span,
.page-nav>span+span {
  padding-left: 30px;
}

.page-nav>a+a:before,
.page-nav>span+a:before,
.page-nav>a+span:before,
.page-nav>span+span:before {
  content: '';
  width: 1px;
  height: 16px;
  background: #bebebe;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
}

.page-nav>a.current,
.page-nav>span.current {
  color: #17294d;
}

.page-nav>a.current span:after,
.page-nav>span.current span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 2px;
  background: #17294d;
  opacity: .76;
}

/* end page-nav */

/* page-nav-panel */
.page-nav-panel {
  margin-bottom: 24px;

  .btn+.wrap-search {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
  }

  &_min {
    margin-bottom: 16px;
  }

  &:after {
    content: '';
    display: block;
    position: relative;
    width: 100%;
    clear: both;

    &:after,
    &:before {
      width: 100%;
      clear: both;
      content: '';
      display: table;
    }
  }

  .col {
    float: left;

    &:last-child:not(:first-child) {
      float: right;
    }

    +.col {
      .interval-sel {
        &:not(:last-child) {
          margin-right: 41px;

          &:after {
            content: '';
            width: 1px;
            height: 16px;
            background: #bebebe;
            top: 50%;
            right: -25px;
            margin-top: -9px;
            position: absolute;
          }
        }
      }
    }
  }

  .col-pad {
    padding-left: 150px;
  }

  .page-nav {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
  }

  .btn {
    margin-left: 11px;
  }

  .col:first-child {
    .daterangepicker {
      right: auto !important;
      left: 0 !important;
    }
  }

  .label-total {
    display: inline-block;
    vertical-align: top;
    font: 16px/20px $font;
    color: $gray;

    strong,
    .strong {
      font-weight: bold;
      color: $lgreen;
    }
  }
}

.page-footer-panel {
  margin-top: 16px;
  font-size: 0;

  .col {
    display: inline-block;
    vertical-align: bottom;
    width: 33.333%;
    box-sizing: border-box;
    padding: 0 16px;
    text-align: left;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    +.col {
      text-align: center;

      +.col {
        text-align: right;
      }
    }
  }
}

/* end page-nav-panel */

.page-row__wrap {
  position: relative;
}
