@import "variables";
@import "mixin";

/* css-popover */

.css-popover {
  display: inline-grid;
  position: relative;

  &:hover,
  &.active {
    .css-popover-content {
      opacity: 1;
      visibility: visible;

      &:hover {
        display: none;
      }
    }
  }

  &-content {
    position: absolute;
    bottom: calc(100% + 7px);
    max-width: rem(400);
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    padding: rem(6, 15);
    border: 1px solid $border-color;
    border-radius: $border-radius;
    line-height: 1.2;
    font-size: rem(12);
    color: #58666e;
    font-weight: 600;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0 9px 21px var(--shadow);
    opacity: 0;
    visibility: hidden;
    transition: opacity .25s, visibility .25s;
    white-space: nowrap;
    text-align: center;
    text-transform: none;
    backface-visibility: hidden;

    &:after {
      content: '';
      width: rem(10);
      height: rem(10);
      border-width: rem(1);
      border-width: 1px;
      border-style: solid;
      border-color: transparent transparent $border-color $border-color;
      position: absolute;
      top: calc(100% - 6px);
      left: calc(50% - 6px);
      background-color: #fff;
      transform: rotate(-45deg);
    }
  }

  &[data-placement='right'] {
    .css-popover-content {
      top: 50%;
      transform: translate(0, -50%);
      left: calc(100% + 7px);
      bottom: auto;

      &:after {
        top: calc(50% - 6px);
        left: rem(-6);
        border-color: $border-color transparent transparent $border-color;
      }
    }
  }

  &[data-placement='left'] {
    .css-popover-content {
      top: 50%;
      transform: translate(0, -50%);
      right: calc(100% + 7px);
      left: auto;
      bottom: auto;

      &:after {
        top: calc(50% - 6px);
        right: rem(-6);
        left: auto;
        border-color: transparent $border-color $border-color transparent;
      }
    }
  }

  &[data-placement='bottom'] {
    .css-popover-content {
      top: calc(100% + 7px);
      transform: translate(-50%, 0);
      bottom: auto;

      &:after {
        top: rem(-6);
        bottom: auto;
        border-color: $border-color $border-color transparent transparent;
      }
    }
  }

  &[data-wrap='wrap'] {
    .css-popover-content {
      white-space: normal;
    }
  }

  &[data-line='multiple'] {
    .css-popover-content {
      width: rem(220);
    }
  }

  &[data-theme='gray'] {

    .css-popover-content {
      color: #fff;
      background-color: #88A0AE;
      border-color: transparent;

      &:after {
        background: #88A0AE;
        border-color: transparent;
      }
    }
  }

  &[data-popover='true'] {

    &:hover {
      .css-popover-content {
        transition-delay: 0s;
      }
    }

    .css-popover-content {
      display: inline-block;
      transition-delay: .2s;

      &:hover {
        opacity: 1;
        visibility: visible;
        display: inline-block !important;
      }
    }
  }
}

/* end css-popover */
