.status-select {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.status-select .status-select-current {
  display: block;
  position: relative;
  color: #58666e;
  font: 600 13px/16px 'Roboto', sans-serif;
  padding: 3px 25px 3px 6px;
  background: #e5f9f9;
  border: 1px solid #02c3c8;
  border-radius: 4px;
}

.status-select .status-select-current:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\F107";
  position: absolute;
  right: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  font-size: 14px;
  line-height: 20px;
  color: #02c3c8;
  text-align: center;
}

.status-select .status-select-options {
  display: none;
  color: #58666e;
  font: 600 13px/16px 'Roboto', sans-serif;
  background: #e5f9f9;
  border: 1px solid #02c3c8;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  min-width: 84px;
  max-height: 128px;
  overflow-y: auto;
}

.status-select .status-select-option {
  display: block;
  color: inherit;
  padding: 3px 10px;
  cursor: pointer;
}

.status-select .status-select-option:hover {
  color: #000;
}

.status-select:hover .status-select-options {
  display: block;
}

.status-select {
  display: inline-block;
  .select {

    &-status {
      display: flex;
      &__text {
        width: 90px;
        height: 22px;
        line-height: 22px;
        border-radius: 4px;
        text-align: center;
        box-shadow: 0 4px 10px rgba(5, 23, 0, .25);
        border: 1px solid transparent;
      }
      &__ico {
        cursor: pointer;
        display: inline-block;
        height: 22px;
        width: 22px;
        text-align: center;
        line-height: 22px;
        border: 1px solid transparent;
        margin-left: 2px;
        border-radius: 4px;
        box-shadow: 0 4px 10px rgba(5, 23, 0, .35);
        font-size: 10px;
      }

      &_active {
        .select-status__text, .select-status__ico {
          background-color: #1da5f8;
          border-color: $lblue;
          color: white;
        }
      }
      &_pending {
        .select-status__text, .select-status__ico {
          background-color: $red;
          border-color: $red;
          color: white;
        }
      }
      &_banned {
        .select-status__text, .select-status__ico {
          background-color: $dgray;
          border-color: $ddgray;
          color: white;
        }
      }
      &_deactivated {
        .select-status__text, .select-status__ico {
          background-color: $dgray;
          border-color: $ddgray;
          color: white;
        }
      }
      &_deleted {
        .select-status__text, .select-status__ico {
          background-color: $dgray;
          border-color: $ddgray;
          color: white;
        }
      }
      &_frozen {
        .select-status__text, .select-status__ico {
          border-color: #C4C4C4;
          color: $gray;
          background-color: #dedede;
        }
      }
    }
  }
}

.select {
  &-options {
    width: 118px;
    margin: -5px -9px;
  }
  &-option {
    color: $gray;
    font-weight: 600;
    font-size: 13px;
    padding: 8px 8px;
    transition: 0s;
    cursor: pointer;
    text-align: left;
    &:hover {
      color: $lgreen;
    }
  }
}


