.slider .slider-content {
  display: none;
}

.slider.open .slider-content {
  display: block;
}

.slider.open .slider-btn-less {
  display: block;
}

.slider.open .slider-btn-more {
  display: none;
}

.slider .slider-btn-more,
.slider .slider-btn-less {
  display: block;
  cursor: pointer;
  font: 13px/16px 'Roboto', sans-serif;
  text-align: center;
  text-decoration: none;
  padding: 16px 16px;
  clear: both;
}

.slider .slider-btn-more:after,
.slider .slider-btn-less:after {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 16px;
  color: #02c3c8;
  margin-left: 16px;
}

.slider .slider-btn-more:after {
  content: "\F107";
}

.slider .slider-btn-less {
  display: none;
}

.slider .slider-btn-less:after {
  content: "\F106";
}
