.tab-links {
  margin: 0 18px 10px;
  font-size: 0;
}

.tab-links .tab-link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font: 300 14px/16px 'Roboto', sans-serif;
  letter-spacing: -0.2px;
  padding: 8px 16px;
  min-width: 62px;
  text-align: center;
  margin: 0 3px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.tab-links .tab-link:before {
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  content: '';
  width: 100%;
  height: 100%;
  background: #21396c;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.tab-links .tab-link.current {
  font-weight: 600;
  margin: 0 5px;
}

.tab-links .tab-link.current:before {
  background: #1b2e58;
  -webkit-transform: scale(1.125);
  -ms-transform: scale(1.125);
  transform: scale(1.125);
  -webkit-box-shadow: 0 9px 21px 0 rgba(22, 32, 72, 0.15);
  box-shadow: 0 9px 21px 0 rgba(22, 32, 72, 0.15);
}

.tab-links .select-field {
  width: 100px;
  //float: right;
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;

  .ng-select.ng-select-single .ng-select-container {
    height: 34px;
    min-height: 34px;
  }
}

//.tab-links .select-field select {
//  height: 30px;
//  width: 100%;
//}
//
//.tab-links .select-field .select2-container .select2-selection--single {
//  height: 32px;
//}
//
//.tab-links .select-field .select2-container--custom .select2-selection--single .select2-selection__rendered {
//  line-height: 30px;
//}
