
.table-thead,
.table-tfoot {
  width: 100%;
  overflow: hidden;
}

.table-thead td>span>div,
.table-tfoot td>span>div,
.table-thead th>span>div,
.table-tfoot th>span>div,
.table-thead td>div>div,
.table-tfoot td>div>div,
.table-thead th>div>div,
.table-tfoot th>div>div,
.table-thead td>span>span,
.table-tfoot td>span>span,
.table-thead th>span>span,
.table-tfoot th>span>span,
.table-thead td>div>span,
.table-tfoot td>div>span,
.table-thead th>div>span,
.table-tfoot th>div>span {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.table-tfoot {
  margin-bottom: -24px;
  margin-left: -16px;
  margin-right: -22px;
  margin-top: 16px;
  padding: 10px 22px 0 16px;
  background: #fff;
}

.table-tfoot table {
  color: #12213e;
  text-transform: uppercase;
  font-weight: bold;
}
