.tags {
  margin: 0 18px 10px;
}

.tags .tag {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 112px;
  height: 32px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font: 600 14px/16px 'Roboto', sans-serif;
  letter-spacing: -0.2px;
  padding: 8px 32px 8px 10px;
  text-align: left;
  color: #fff;
  text-decoration: none;
  background: #02c3c8;
  border-radius: 4px;
}

.tags .tag .icn-tag-remove {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.tags .tag .icn-tag-remove:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\F00D";
}

.tags .tag .icn-tag-remove:hover {
  color: #f33155;
}

.tags .tags-clear {
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 32px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font: 600 14px/16px 'Roboto', sans-serif;
  letter-spacing: -0.2px;
  padding: 7px 10px;
  text-decoration: none;
  background: transparent;
  border-radius: 4px;
  color: #f33155;
  border: 1px solid #f33155;
}

.tags .tags-clear:hover {
  background: #f33155;
  color: #fff;
}
