@import "variables";
@import "mixin";

.webui-popover.webui-popover-custom,
.webui-popover.webui-popover-custom-inverse {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: $border-radius;
  box-shadow: 0 9px 21px 0 var(--shadow);
  min-height: rem(18);
}

.webui-popover.webui-popover-custom.top,
.webui-popover.webui-popover-custom-inverse.top,
.webui-popover.webui-popover-custom.top-left,
.webui-popover.webui-popover-custom-inverse.top-left,
.webui-popover.webui-popover-custom.top-right,
.webui-popover.webui-popover-custom-inverse.top-right {
  margin-top: rem(-7);
}

.webui-popover.webui-popover-custom.right,
.webui-popover.webui-popover-custom-inverse.right,
.webui-popover.webui-popover-custom.right-top,
.webui-popover.webui-popover-custom-inverse.right-top,
.webui-popover.webui-popover-custom.right-bottom,
.webui-popover.webui-popover-custom-inverse.right-bottom {
  margin-left: rem(7);
}

.webui-popover.webui-popover-custom.bottom,
.webui-popover.webui-popover-custom-inverse.bottom,
.webui-popover.webui-popover-custom.bottom-left,
.webui-popover.webui-popover-custom-inverse.bottom-left,
.webui-popover.webui-popover-custom.bottom-right,
.webui-popover.webui-popover-custom-inverse.bottom-right {
  margin-top: rem(7);
}

.webui-popover.webui-popover-custom.left,
.webui-popover.webui-popover-custom-inverse.left,
.webui-popover.webui-popover-custom.left-top,
.webui-popover.webui-popover-custom-inverse.left-top,
.webui-popover.webui-popover-custom.left-bottom,
.webui-popover.webui-popover-custom-inverse.left-bottom {
  margin-left: rem(-7);
}

.webui-popover.webui-popover-custom .webui-popover-content,
.webui-popover.webui-popover-custom-inverse .webui-popover-content {
  padding: rem(2, 8, 4, 8);
}

.webui-popover.webui-popover-custom .webui-popover-content>div:first-child,
.webui-popover.webui-popover-custom-inverse .webui-popover-content>div:first-child {
  width: auto;
}

.webui-popover.webui-popover-custom.webui-popover-custom-inverse,
.webui-popover.webui-popover-custom-inverse.webui-popover-custom-inverse {
  background-color: #88a0ae;
  color: #fff;
  border-color: transparent;
}

.webui-popover.webui-popover-custom>.webui-arrow,
.webui-popover.webui-popover-custom-inverse>.webui-arrow {
  border-width: rem(8);
}

.webui-popover.webui-popover-custom>.webui-arrow.webui-arrow:after,
.webui-popover.webui-popover-custom-inverse>.webui-arrow.webui-arrow:after {
  border-width: rem(7);
}

.webui-popover.webui-popover-custom.top>.webui-arrow,
.webui-popover.webui-popover-custom-inverse.top>.webui-arrow,
.webui-popover.webui-popover-custom.top-right>.webui-arrow,
.webui-popover.webui-popover-custom-inverse.top-right>.webui-arrow,
.webui-popover.webui-popover-custom.top-left>.webui-arrow,
.webui-popover.webui-popover-custom-inverse.top-left>.webui-arrow {
  bottom: rem(-8);
  margin-left: rem(-8);
  border-top-color: #e1e1e1;
}

.webui-popover.webui-popover-custom.top>.webui-arrow:after,
.webui-popover.webui-popover-custom-inverse.top>.webui-arrow:after,
.webui-popover.webui-popover-custom.top-right>.webui-arrow:after,
.webui-popover.webui-popover-custom-inverse.top-right>.webui-arrow:after,
.webui-popover.webui-popover-custom.top-left>.webui-arrow:after,
.webui-popover.webui-popover-custom-inverse.top-left>.webui-arrow:after {
  margin-left: rem(-7);
  border-top-color: #fff;
  border-bottom-width: 0;
}

.webui-popover.webui-popover-custom.right>.webui-arrow,
.webui-popover.webui-popover-custom-inverse.right>.webui-arrow,
.webui-popover.webui-popover-custom.right-top>.webui-arrow,
.webui-popover.webui-popover-custom-inverse.right-top>.webui-arrow,
.webui-popover.webui-popover-custom.right-bottom>.webui-arrow,
.webui-popover.webui-popover-custom-inverse.right-bottom>.webui-arrow {
  left: rem(-8);
  margin-top: rem(-8);
  border-right-color: #e1e1e1;
}

.webui-popover.webui-popover-custom.right>.webui-arrow:after,
.webui-popover.webui-popover-custom-inverse.right>.webui-arrow:after,
.webui-popover.webui-popover-custom.right-top>.webui-arrow:after,
.webui-popover.webui-popover-custom-inverse.right-top>.webui-arrow:after,
.webui-popover.webui-popover-custom.right-bottom>.webui-arrow:after,
.webui-popover.webui-popover-custom-inverse.right-bottom>.webui-arrow:after {
  bottom: rem(-7);
  border-right-color: #fff;
  border-left-width: 0;
}

.webui-popover.webui-popover-custom.bottom>.webui-arrow,
.webui-popover.webui-popover-custom-inverse.bottom>.webui-arrow,
.webui-popover.webui-popover-custom.bottom-right>.webui-arrow,
.webui-popover.webui-popover-custom-inverse.bottom-right>.webui-arrow,
.webui-popover.webui-popover-custom.bottom-left>.webui-arrow,
.webui-popover.webui-popover-custom-inverse.bottom-left>.webui-arrow {
  top: rem(-8);
  margin-left: rem(-8);
  border-bottom-color: #e1e1e1;
}

.webui-popover.webui-popover-custom.bottom>.webui-arrow:after,
.webui-popover.webui-popover-custom-inverse.bottom>.webui-arrow:after,
.webui-popover.webui-popover-custom.bottom-right>.webui-arrow:after,
.webui-popover.webui-popover-custom-inverse.bottom-right>.webui-arrow:after,
.webui-popover.webui-popover-custom.bottom-left>.webui-arrow:after,
.webui-popover.webui-popover-custom-inverse.bottom-left>.webui-arrow:after {
  margin-left: rem(-7);
  border-bottom-color: #fff;
  border-top-width: 0;
}

.webui-popover.webui-popover-custom.left>.webui-arrow,
.webui-popover.webui-popover-custom-inverse.left>.webui-arrow,
.webui-popover.webui-popover-custom.left-top>.webui-arrow,
.webui-popover.webui-popover-custom-inverse.left-top>.webui-arrow,
.webui-popover.webui-popover-custom.left-bottom>.webui-arrow,
.webui-popover.webui-popover-custom-inverse.left-bottom>.webui-arrow {
  right: rem(-8);
  margin-top: rem(-8);
  border-left-color: #e1e1e1;
}

.webui-popover.webui-popover-custom.left>.webui-arrow:after,
.webui-popover.webui-popover-custom-inverse.left>.webui-arrow:after,
.webui-popover.webui-popover-custom.left-top>.webui-arrow:after,
.webui-popover.webui-popover-custom-inverse.left-top>.webui-arrow:after,
.webui-popover.webui-popover-custom.left-bottom>.webui-arrow:after,
.webui-popover.webui-popover-custom-inverse.left-bottom>.webui-arrow:after {
  border-left-color: #fff;
  bottom: rem(-7);
  border-right-width: 0;
}

.webui-popover.webui-popover-custom.webui-popover-custom-inverse.top>.webui-arrow,
.webui-popover.webui-popover-custom-inverse.webui-popover-custom-inverse.top>.webui-arrow,
.webui-popover.webui-popover-custom.webui-popover-custom-inverse.top-left>.webui-arrow,
.webui-popover.webui-popover-custom-inverse.webui-popover-custom-inverse.top-left>.webui-arrow,
.webui-popover.webui-popover-custom.webui-popover-custom-inverse.top-right>.webui-arrow,
.webui-popover.webui-popover-custom-inverse.webui-popover-custom-inverse.top-right>.webui-arrow,
.webui-popover.webui-popover-custom.webui-popover-custom-inverse.top>.webui-arrow:after,
.webui-popover.webui-popover-custom-inverse.webui-popover-custom-inverse.top>.webui-arrow:after,
.webui-popover.webui-popover-custom.webui-popover-custom-inverse.top-left>.webui-arrow:after,
.webui-popover.webui-popover-custom-inverse.webui-popover-custom-inverse.top-left>.webui-arrow:after,
.webui-popover.webui-popover-custom.webui-popover-custom-inverse.top-right>.webui-arrow:after,
.webui-popover.webui-popover-custom-inverse.webui-popover-custom-inverse.top-right>.webui-arrow:after {
  border-top-color: #88a0ae;
}

.webui-popover.webui-popover-custom.webui-popover-custom-inverse.right>.webui-arrow,
.webui-popover.webui-popover-custom-inverse.webui-popover-custom-inverse.right>.webui-arrow,
.webui-popover.webui-popover-custom.webui-popover-custom-inverse.right-top>.webui-arrow,
.webui-popover.webui-popover-custom-inverse.webui-popover-custom-inverse.right-top>.webui-arrow,
.webui-popover.webui-popover-custom.webui-popover-custom-inverse.right-bottom>.webui-arrow,
.webui-popover.webui-popover-custom-inverse.webui-popover-custom-inverse.right-bottom>.webui-arrow,
.webui-popover.webui-popover-custom.webui-popover-custom-inverse.right>.webui-arrow:after,
.webui-popover.webui-popover-custom-inverse.webui-popover-custom-inverse.right>.webui-arrow:after,
.webui-popover.webui-popover-custom.webui-popover-custom-inverse.right-top>.webui-arrow:after,
.webui-popover.webui-popover-custom-inverse.webui-popover-custom-inverse.right-top>.webui-arrow:after,
.webui-popover.webui-popover-custom.webui-popover-custom-inverse.right-bottom>.webui-arrow:after,
.webui-popover.webui-popover-custom-inverse.webui-popover-custom-inverse.right-bottom>.webui-arrow:after {
  border-right-color: #88a0ae;
}

.webui-popover.webui-popover-custom.webui-popover-custom-inverse.bottom>.webui-arrow,
.webui-popover.webui-popover-custom-inverse.webui-popover-custom-inverse.bottom>.webui-arrow,
.webui-popover.webui-popover-custom.webui-popover-custom-inverse.bottom-left>.webui-arrow,
.webui-popover.webui-popover-custom-inverse.webui-popover-custom-inverse.bottom-left>.webui-arrow,
.webui-popover.webui-popover-custom.webui-popover-custom-inverse.bottom-right>.webui-arrow,
.webui-popover.webui-popover-custom-inverse.webui-popover-custom-inverse.bottom-right>.webui-arrow,
.webui-popover.webui-popover-custom.webui-popover-custom-inverse.bottom>.webui-arrow:after,
.webui-popover.webui-popover-custom-inverse.webui-popover-custom-inverse.bottom>.webui-arrow:after,
.webui-popover.webui-popover-custom.webui-popover-custom-inverse.bottom-left>.webui-arrow:after,
.webui-popover.webui-popover-custom-inverse.webui-popover-custom-inverse.bottom-left>.webui-arrow:after,
.webui-popover.webui-popover-custom.webui-popover-custom-inverse.bottom-right>.webui-arrow:after,
.webui-popover.webui-popover-custom-inverse.webui-popover-custom-inverse.bottom-right>.webui-arrow:after {
  border-bottom-color: #88a0ae;
}

.webui-popover.webui-popover-custom.webui-popover-custom-inverse.left>.webui-arrow,
.webui-popover.webui-popover-custom-inverse.webui-popover-custom-inverse.left>.webui-arrow,
.webui-popover.webui-popover-custom.webui-popover-custom-inverse.left-top>.webui-arrow,
.webui-popover.webui-popover-custom-inverse.webui-popover-custom-inverse.left-top>.webui-arrow,
.webui-popover.webui-popover-custom.webui-popover-custom-inverse.left-bottom>.webui-arrow,
.webui-popover.webui-popover-custom-inverse.webui-popover-custom-inverse.left-bottom>.webui-arrow,
.webui-popover.webui-popover-custom.webui-popover-custom-inverse.left>.webui-arrow:after,
.webui-popover.webui-popover-custom-inverse.webui-popover-custom-inverse.left>.webui-arrow:after,
.webui-popover.webui-popover-custom.webui-popover-custom-inverse.left-top>.webui-arrow:after,
.webui-popover.webui-popover-custom-inverse.webui-popover-custom-inverse.left-top>.webui-arrow:after,
.webui-popover.webui-popover-custom.webui-popover-custom-inverse.left-bottom>.webui-arrow:after,
.webui-popover.webui-popover-custom-inverse.webui-popover-custom-inverse.left-bottom>.webui-arrow:after {
  border-left-color: #88a0ae;
}

.webui-popover.webui-popover-custom {
  font-family: 'Roboto', sans-serif;
  font-size: rem(12);
  line-height: rem(16);
  pointer-events: none;
}

.webui-popover.webui-popover-custom-inverse {
  font-family: 'Roboto', sans-serif;
  font-size: rem(14);
  line-height: rem(18);
}
