<modal-header>{{ "pubCreate.macrosTitle" | translate }}</modal-header>
<modal-body>

  <card>
    <card-header>
      <div class="table-thead table-thead-dynamic-reports">
        <table class="table-scrollable-thead">
          <thead>
            <tr>
              <td translate="pubCreate.macro">Macro</td>
              <td translate="pubCreate.description">Description</td>
              <td translate="pubCreate.example">Example</td>
            </tr>
          </thead>
        </table>
      </div>
    </card-header>
    <card-body>
      <div class="content">
        <div class="table-dynamic-reports">
          <table class="table-scrollable">
            <tbody>
              <tr>
                <td>{{'{'}}offer_id{{'}'}}</td>
                <td translate="pubCreate.offerIdMacrosHint">offerIdMacrosHint</td>
                <td>111</td>
              </tr>
              <tr>
                <td>{{'{'}}offer_name{{'}'}}</td>
                <td translate="pubCreate.offerNameMacrosHint"></td>
                <td>Game of war</td>
              </tr>
              <tr>
                <td>{{'{'}}click_id{{'}'}}</td>
                <td translate="pubCreate.clickIdMacrosHint"></td>
                <td>b965e8b7e6fd5dbff3334675899af5cb</td>
              </tr>
              <tr>
                <td>{{'{'}}ip{{'}'}}</td>
                <td translate="pubCreate.ipMacrosHint">ipMacrosHint</td>
                <td>111.222.333.444
                </td>
              </tr>
              <tr>
                <td>{{'{'}}session_ip{{'}'}}</td>
                <td translate="pubCreate.sessionIpMacrosHint">sessionIpMacrosHint</td>
                <td>111.222.333.444
                </td>
              </tr>
              <tr>
                <td>{{'{'}}country{{'}'}}</td>
                <td translate="pubCreate.countryMacrosHint">countryMacrosHint</td>
                <td>US</td>
              </tr>
              <tr>
                <td>{{'{'}}payout{{'}'}}</td>
                <td translate="pubCreate.payoutMacrosHint">payoutMacrosHint</td>
                <td>0.75</td>
              </tr>
              <tr>
                <td>{{'{'}}currency{{'}'}}</td>
                <td translate="pubCreate.currencyMacrosHint">currencyMacrosHint</td>
                <td>USD</td>
              </tr>
              <tr>
                <td>
                  {{'{'}}aff_sub{{'}'}}
                </td>
                <td>A macros for the Publisher's source of traffic</td>
                <td>128-character length string value</td>
              </tr>
              <tr>
                <td>
                  {{'{'}}aff_sub2{{'}'}} <br>
                  {{'{'}}aff_sub3{{'}'}} <br>
                  {{'{'}}aff_sub4{{'}'}}
                </td>
                <td translate="pubCreate.affSubMacrosHint">affSubMacrosHint</td>
                <td>128-character length string value</td>
              </tr>
              <tr>
                <td>{{'{'}}device_brand{{'}'}}</td>
                <td translate="pubCreate.deviceBrandMacrosHint">deviceBrandMacrosHint</td>
                <td>Google</td>
              </tr>
              <tr>
                <td>{{'{'}}device_model{{'}'}}</td>
                <td translate="pubCreate.deviceModelMacrosHint">deviceModelMacrosHint</td>
                <td>Nexus 5</td>
              </tr>
              <tr>
                <td>{{'{'}}device_os{{'}'}}</td>
                <td translate="pubCreate.deviceOsMacrosHint">deviceOsMacrosHint</td>
                <td>Android</td>
              </tr>
              <tr>
                <td>{{'{'}}device_os_version{{'}'}}</td>
                <td translate="pubCreate.deviceOsVersionMacrosHint">deviceOsVersionMacrosHint</td>
                <td>5.1</td>
              </tr>
              <tr>
                <td>{{'{'}}device_id{{'}'}}</td>
                <td translate="pubCreate.deviceIdMacrosHint">deviceIdMacrosHint</td>
                <td>Any string value</td>
              </tr>
              <tr>
                <td>{{'{'}}platform{{'}'}}</td>
                <td translate="pubCreate.platformMacrosHint">platformMacrosHint</td>
                <td>Android</td>
              </tr>
              <tr>
                <td>{{'{'}}datetime{{'}'}}</td>
                <td translate="pubCreate.datetimeMacrosHint">datetimeMacrosHint</td>
                <td>2015-07-14 09:02:08</td>
              </tr>
              <tr>
                <td>{{'{'}}android_id{{'}'}}</td>
                <td translate="pubCreate.androidIdMacrosHint">androidIdMacrosHint</td>
                <td>62c7c7042511c086</td>
              </tr>
              <tr>
                <td>{{'{'}}idfa{{'}'}}</td>
                <td translate="pubCreate.idfaMacrosHint">idfaMacrosHint</td>
                <td>AEBE52E7-03EE-455A-B3C4-E57283966239</td>
              </tr>
              <tr>
                <td>{{'{'}}advertiser_id{{'}'}}</td>
                <td translate="pubCreate.advertiserIdMacrosHint">advertiserIdMacrosHint</td>
                <td>1234</td>
              </tr>
              <tr>
                <td>{{'{'}}aff_id{{'}'}}, {{'{'}}pub_id{{'}'}}</td>
                <td translate="pubCreate.affIdMacrosHint">affIdMacrosHint</td>
                <td>4557</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </card-body>
    <card-footer>
      <div class="postback-modal__item">
        <div class="postback-modal__name" translate="pubCreate.postbackUrlExample">postbackUrlExample</div>
        <div class="postback-modal__text">
          'https://example.com/postback.php?offer_id={{'{'}}offer_id{{'}'}}&amp;payout={{'{'}}payout{{'}'}}&amp;currency={{'{'}}currency{{'}'}}'
        </div>
      </div>
      <div class="postback-modal__item">
        <div class="postback-modal__name" translate="pubCreate.macrosExample"></div>
        <div class="postback-modal__text">
          'https://example.com/postback.php?offer_id={{'{'}}offer_id{{'}'}}&amp;offer_name={{'{'}}offer_name{{'}'}}&amp;transaction_id={{'{'}}click_id{{'}'}}&amp;aff_id={{'{'}}aff_id{{'}'}}&amp;ip={{'{'}}ip{{'}'}}&amp;session_ip={{'{'}}session_ip{{'}'}}&amp;country={{'{'}}country{{'}'}}&amp;payout={{'{'}}payout{{'}'}}&amp;currency={{'{'}}currency{{'}'}}&amp;aff_sub={{'{'}}aff_sub{{'}'}}&amp;aff_sub2={{'{'}}aff_sub2{{'}'}}&amp;aff_sub3={{'{'}}aff_sub3{{'}'}}&amp;aff_sub4={{'{'}}aff_sub4{{'}'}}&amp;device_brand={{'{'}}device_brand{{'}'}}&amp;device_model={{'{'}}device_model{{'}'}}&amp;device_os={{'{'}}device_os{{'}'}}&amp;device_os_version={{'{'}}device_os_version{{'}'}}&amp;platform={{'{'}}platform{{'}'}}'
        </div>
      </div>
    </card-footer>
  </card>

</modal-body>
