@import "variables";
@import "mixin";

.sidebar {
  position: fixed;
  top: $headerHeight;
  left: 0;
  bottom: 0;
  z-index:1;
  width: $sidebarWidth;
  background-color: var(--sidebar-background);

  .menu-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: $sidebarWidth;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0 !important;
    }

    &::-webkit-scrollbar-track {
      box-shadow: none !important;
      background-color: transparent !important;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent !important;
    }

    .isSmall & {
      //&.isNewWidth {
        width: rem(320);
      //}
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    width: 100%;
    background-color: var(--sidebar-background);

    .isSmall & {
      width: $sidebarWidthMin;
    }

    .stats {
      background-color: var(--sidebar-background-statistics);
    }
  }

  .pub-admin__logout {
    cursor: pointer;
  }

  .pub-about-panel {
    &__contact {
      color: var(--sidebar-color);
    }
  }
}

.nav {
  font-size: rem(13);
  line-height: 1.5384;
  color: var(--sidebar-color);
  padding-top: rem(19);
  padding-bottom: rem(59);

  a,
  span {
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    backface-visibility: hidden;
  }

  &-dash {
    position: relative;
    margin: rem(10, 0);
    height: 1px;
    pointer-events: none;

    &:after {
      position: absolute;
      content: '';
      top: 0;
      right: rem(20);
      left: rem(16);
      height: 1px;
      background-color: rgba(255, 255, 255, .3);
      z-index: 1;
    }
  }

  &-item {
    position: relative;

    .isSmall & {
      &:hover {
        background-color: var(--sidebar-background-active);

        .lbl {
          color: var(--sidebar-color);
        }

        // .lbl,
        // .nav-drop {
        //   display: block;
        // }

        &:before {
          width: rem(4);
        }
      }
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      width: 0;
      background-color: var(--sidebar-color-active);
      transition: width .15s ease-in-out;
    }

    & > a,
    & > span {
      position: relative;
      min-height: rem(49);
      height: 1px;
      padding: rem(17, 63, 16, 44);
      display: flex;
      align-items: center;
      color: var(--sidebar-color);
      line-height: 1;
      transition: color .15s ease-in-out, background-color .15s ease-in-out;

      .isSmall & {
        padding: rem(17, 12, 16);
      }

      .fa {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "FontAwesome";
        position: absolute;
        left: rem(12);
        top: rem(15);
        width: rem(25);
        height: rem(20);
        font-size: rem(16);
        line-height: 1;
        color: var(--sidebar-color-icons);
        text-align: center;
        transition: color .15s ease-in-out;

        &-dollar {
          content: '\f155';
          width: rem(18);
          height: rem(18);
          background-color: var(--sidebar-color-icons);
          color: var(--sidebar-background);
          border-radius: $rounded;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: rem(12);
          font-weight: 700;
          left: rem(16);
          transition: color .15s ease-in-out, background-color .15s ease-in-out;

          .isSmall & {
            left: rem(19) !important;
          }
        }

        .isSmall & {
          left: rem(16);
        }
      }

      .lbl {
        .isSmall & {
          display: none;
          position: absolute;
          top: 0;
          left: 100%;
          height: rem(49);
          width: $sidebarWidth;
          padding: rem(17, 35, 16, 58);
          z-index: 1;
          background-color: var(--sidebar-background-active);
        }
      }

      &:hover {
        color: var(--sidebar-color-active);

        .fa {
          color: var(--sidebar-color-active);

          &-dollar {
            background-color: var(--sidebar-color-active);
            color: var(--sidebar-background);
          }
        }
      }
    }

    &.current, &.open {
      background-color: var(--sidebar-background-active);

      &:hover {
        //& > a,
        & > span {
          color: var(--sidebar-color);

          .fa {
            color: var(--sidebar-color);

            &-dollar {
              background-color: var(--sidebar-color);
              color: var(--sidebar-background-active);
            }
          }
        }
      }

      &:before {
        width: rem(4);
      }
    }

    &.current {
      & > a {
        color: var(--sidebar-color-active);

        .fa {
          color: var(--sidebar-color-active);
        }
      }

      & > a,
      & > span {
        font-weight: 700;
      }
    }

    &.open {
      .nav-drop {
        display: block;
      }

      .lbl {
        .isSmall & {
          display: block;
        }
      }
    }

    &.nav-parent {
      & > span {
        &::after {
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: "\f105";
          font-size: rem(14);
          line-height: rem(12);
          color: var(--sidebar-color-active);
          width: rem(10);
          height: rem(12);
          position: absolute;
          right: rem(17);
          top: rem(18);
          text-align: center;
          transition: transform .15s ease-in-out;

          .isSmall & {
            display: none;
          }
        }
      }

      &.open {
        & > span {
          &::after {
            transform: rotate(90deg);
          }
        }
      }
    }

    .num {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: rem(20);
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: rem(13);
      line-height: 1;
      font-weight: 600;
      color: var(--sidebar-color-active);
      border-radius: $border-radius;

      .isSmall & {
        min-width: rem(18);
        height: rem(18);
        right: rem(3);
        font-size: rem(12);
      }
    }
  }

  &-drop {
    position: relative;
    display: none;
    padding-top: rem(5);
    padding-bottom: rem(5);

    .isSmall & {
      padding-bottom: rem(10);
      position: absolute;
      top: rem(49);
      left: 100%;
      width: $sidebarWidth;
      z-index: 1;
      background-color: var(--sidebar-background-active);
    }

    li {
      & > a,
      & > span {
        display: block;
        position: relative;
        padding: rem(10, 35, 10, 44);
        color: var(--sidebar-color);
        line-height: 1;
        transition: color .15s ease-in-out, font-weight .15s ease-in-out;

        .isSmall & {
          padding-left: rem(58);
        }

        &:hover {
          color: var(--sidebar-color-active);
        }
      }

      &.current {
        a,
        span {
          color: var(--sidebar-color-active);
          font-weight: 700;
        }
      }
    }

    .nav-inner {
      position: relative;

      &::before {
        position: absolute;
        content: '';
        top: rem(5);
        left: rem(32  );
        height: calc(100% - 8px);
        width: 0;
        background-color: var(--sidebar-color-active);
        transition: width .15s ease-in-out;
      }

      & > span,
      & > a {
        &::after {
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: "\f105";
          font-size: rem(14);
          line-height: rem(12);
          color: var(--sidebar-color-active);
          width: rem(10);
          height: rem(12);
          position: absolute;
          right: rem(17);
          top: rem(12);
          text-align: center;
          transition: transform .15s ease-in-out;
        }
      }

      ul {
        display: none;

        li {
          padding-left: rem(12);
        }
      }

      &.current,
      &.open {
        ul {
          display: block;
        }
      }

      &.open {
        &:before {
          width: rem(3);
        }

        & > span,
        & > a {
          color: var(--sidebar-color);

          &::after {
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}

.stats {
  display: flex;
  flex-wrap: wrap;
  width: $sidebarWidth;
  padding: rem(8, 0, 8, 8);

  &:after {
    content: '';
    display: block;
    position: relative;
    width: 100%;
    clear: both;

    &:after,
    &:before {
      width: 100%;
      clear: both;
      content: '';
      display: table;
    }
    height: 1px;
  }

  .isSmall & {
    width: auto;
    padding-left: 0;
    padding-right: 0;

    .stats-item-isSmall-visible {
      flex: 1 0 100%;
      max-width: 100%;
    }

    .stats-item-isSmall-disable {
      opacity: 0;
      visibility: hidden;
      flex: 1 0 0;
      max-width: 0;
      padding: 0;
    }
  }

  .stats-item-isSmall-visible {
    transition: max-width .15s ease-in-out, flex .15s ease-in-out;
  }

  .stats-item-isSmall-disable {
    transition: opacity .15s ease-in-out,
    visibility .15s ease-in-out,
    max-width .15s ease-in-out,
    flex .15s ease-in-out,
    padding .15s ease-in-out;
  }

  &-col {
    flex: 1 0 50%;
    max-width: 50%;

    &:nth-child(2n + 1) {
      padding-right: rem(8);

      .isSmall & {
        padding-right: 0;
      }
    }

    &:nth-child(2n) {
      padding-left: rem(8);

      .isSmall & {
        padding-top: rem(8);
        padding-left: 0;
      }
    }

    .min-hidden {
      .isSmall & {
        display: none;
      }
    }

    .isSmall & {
      flex: 1 0 100%;
      max-width: 100%;
    }
  }

  &-subtitle {
    font-size: rem(10);
    line-height: rem(12);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: rem(.4);
    margin-top: rem(8);
    margin-bottom: rem(8);
    color: var(--sidebar-color);
  }

  &-bg-active {
    padding: rem(4, 4, 4, 8);
    //border: 1px solid var(--sidebar-color);
    background-color: var(--sidebar-background);
    border-radius: $border-radius;
    box-sizing: border-box;

    & + & {
      margin-top: rem(8);
    }

    .isSmall & {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &-time {
    position: relative;
    padding-right: rem(20);

    .isSmall & {
      text-align: center;
      padding-right: 0;
    }

    // &::after {
    //   position: absolute;
    //   top: 50%;
    //   transform: translateY(-50%);
    //   right: .5rem;
    //   content: '\f107';
    //   font-family: FontAwesome;
    //   font-size: 1rem;
    //   line-height: 1;
    //   color: #02c3c8;
    //   font-weight: 700;
    //   z-index: 1;

    //   .isSmall & {
    //     opacity: 0;
    //   }
    // }
  }

  &-item {
    position: relative;
    padding: rem(5, 0);

    & + & {
      margin-top: rem(5);
    }

    .isSmall & {
      text-align: center;

      &.min-hidden {
        display: none;
      }
    }

    &-title {
      font-size: rem(10);
      line-height: 1;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: rem(4);
      color: var(--sidebar-color-statistics);
      letter-spacing: rem(.4);

      & > a {
        color: inherit;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }

      &.min {
        display: none;
      }
      .isSmall & {
        display: none;

        &.min {
          display: block;
        }
      }
    }

    &-value {
      font-size: rem(14);
      line-height: 1;
      font-weight: 500;

      .num {
        display: inline-block;
        min-width: rem(35);
        color: var(--sidebar-color);

        &-usd {
          color: var(--sidebar-color-active);
        }
      }
    }
  }
}
