<app-filter #filterComponent>
  <ng-container filter-header>
    <timezone-select [(ngModel)]="filter.timezone"></timezone-select>
  </ng-container>
  <ng-container filter-content>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-12">
            <form-label>{{ "dynamicReports.breakdown" | translate }}</form-label>
          </div>
          <div class="col">
            <div class="mb-1">
              <checkbox  [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.date">{{'dynamicReports.date' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox  [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.clicks">{{'dynamicReports.date' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox  [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.hour">{{'dynamicReports.hour' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox  [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.backUrlClicks">{{'dynamicReports.backTraffic' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox  [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.countries">{{'dynamicReports.geography' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox  [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.conversions">{{'dynamicReports.conversions' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox  [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.platforms">{{'dynamicReports.platforms' | translate}}</checkbox>
            </div>
          </div>
          <div class="col">
            <div class="mb-1">
              <checkbox  [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.cpa">{{'dynamicReports.CPA' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox  [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.offerId">{{'dynamicReports.offerID' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox  [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.cpc">{{'dynamicReports.CPC' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox  [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.offerName">{{'dynamicReports.offerName' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox  [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.cr">{{'dynamicReports.CR' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox  [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.revenues">{{'dynamicReports.revenues' | translate}}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox  [trueValue]="1" [falseValue]="0" [(ngModel)]="filter.goalName">{{'dynamicReports.goalName' | translate}}</checkbox>
            </div>
          </div>
        </div>

      </div>
      <div class="col">
        <form-label>{{ "dynamicReports.countriesSelect" | translate }}</form-label>
        <div class="mb-1">
          <country-select [(ngModel)]="filter.countriesCodes" [multiple]="true" [clearable]="false"
            [placeholder]="'dynamicReports.countriesSelect' | translate"></country-select>
        </div>
      </div>
      <div class="col">
        <form-label>{{ "dynamicReports.offers" | translate }}</form-label>
        <div class="mb-1">
          <app-pub-offer-select [(ngModel)]="filter.offersIds"
            [selectPlaceholder]="'dynamicReports.offerIDSelect' | translate"></app-pub-offer-select>
        </div>
        <div class="mb-1">
          <app-platforms-select [(ngModel)]="filter.platformNames"
            [selectPlaceholder]="'dynamicReports.platformsSelect' | translate"></app-platforms-select>
        </div>
      </div>
      <div class="col">
        <form-label>Sub Aff ID</form-label>
        <input-text [(ngModel)]="filter.subAffId" placeholder="Sub Aff ID"></input-text>
      </div>
    </div>
  </ng-container>
  <ng-container filter-footer>
    <btn [simple]="true" (click)="resetFilters(); close()">{{ "dynamicReports.reset" | translate }}</btn>
    <btn (click)="applyFilters();">{{ "dynamicReports.apply" | translate }}</btn>
  </ng-container>
</app-filter>
