<div class="dash pub-dash" style="margin-top:16px">
  <div class="dash__item">
    <div class="dash-item__top">
      <div class="dash-item__title" translate="dashboard.geography"></div>
    </div>
    <div class="dash-item__body">
      <div style="text-align: center; font-size: 14px; padding-top: 10px;" *ngIf="geoData.length === 0" translate="dashboard.noItems"></div>
      <div class="dash-table__wrap" *ngIf="geoData.length !== 0">
        <!-- BEGIN dash-table -->
        <div class="dash-table">
          <div class="dash-table__top">
            <div class="dash-table__head" translate="dashboard.country"></div>
            <div class="dash-table__head" translate="dashboard.clicks"></div>
            <div class="dash-table__head" translate="dashboard.conversions"></div>
            <div class="dash-table__head" translate="dashboard.payout"></div>
          </div>
          <div class="dash-table__body" perfectScrollbar>
            <!-- BEGIN dash-table__row -->
            <div class="dash-table__row" *ngFor="let item of geoData">
              <div class="dash-table__cell">
                <div class="dash-table__country">
                  <span class="{{'country-ico ' + 'country-ico_' + item.country.toLowerCase()}}"></span>
                  <span [innerHtml]="item.country"></span>
                </div>
              </div>
              <div class="dash-table__cell" [innerHtml]="item.clicks"></div>
              <div class="dash-table__cell" [innerHtml]="item.conversions"></div>
              <div class="dash-table__cell">
                <label class="label label-blue" [innerHtml]="item.payout+' '+item.currency"></label>
              </div>
            </div>
            <!-- END dash-table__row  -->
          </div>
        </div>
        <!-- END dash-table  -->
        <div class="dash-pie-chart">
          <app-doughnut-chart [datasets]="[clicksPieChartParams]" label="Clicks"></app-doughnut-chart>
          <app-doughnut-chart [datasets]="[conversionsPieChartParams]" label="Conversions"></app-doughnut-chart>
          <app-doughnut-chart [datasets]="[payoutPieChartParams]" label="Payout"></app-doughnut-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="dash__item">
    <div class="dash-item__top">
      <div class="dash-item__title"></div>
    </div>
    <div class="dash-item__body">
      <div class="dash-payouts__chart">
        <perfect-scrollbar [config]="scrollConfig">
          <app-geo-chart [geoData]="geoData"></app-geo-chart>
        </perfect-scrollbar>
      </div>
    </div>
  </div>
</div>
