<card>

  <card-header>
    <div class="col-12 text-center">
      <btn [simple]="true" [routerLink]="['/', 'manager', 'billing', 'advertisers', 'invoices-merged', 'list']">
        Back
      </btn>
      <btn (click)="downloadInvoice()">
        <i class="fa fa-print"></i> Download as PDF
      </btn>
    </div>
  </card-header>

  <card-body>
    <table width="100%">
      <tr>
        <td align="left">
          <strong>{{invoice?.company.name }}</strong>
          <p>{{invoice?.company?.address }}</p>
          <p>Email: {{invoice?.company?.email }}</p>
          <p>Phone: {{invoice?.company?.phone }}</p>
        </td>
        <td align="right">
          <h2 style="margin-top: 0;">INVOICES #{{invoice?.mergedName }}</h2>
          <h2 style="margin-top: 0;"> <strong>Date:</strong> {{invoice?.invoices[0].invoiceDate |
            dateFormatDynamic}} -
            {{invoice?.invoices[invoice?.invoices.length - 1].invoiceDate | dateFormatDynamic}} </h2>
          <h2 style="margin-top: 0;"> <strong>Due Date:</strong> {{invoice?.invoices[invoice?.invoices.length -
          1].dueDate | dateFormatDynamic
            }} </h2>
        </td>
      </tr>
    </table>

    <hr>
    <br />

    <p class="mb-1">
      <strong>Bill to:</strong>
    </p>
    <p>
      {{invoice?.username}}
      <br /> {{invoice?.address }}
      <br /> {{invoice?.notes }}
    </p>
    <h2>&nbsp;
      <!--Title-->
    </h2>

    <ng-container *ngIf="invoice?.invoices">
      <div *ngFor="let invoice of invoice?.invoices" class="invoice mb-4">
        <h3 class="invoice__id" style="margin-top: 1em;"><strong>INVOICE</strong> #{{invoice?.invoiceNumber }}</h3>
        <p class="invoice__date"><strong>Date:</strong> {{invoice?.invoiceDate | dateFormat }}</p>
        <p class="invoice__date"><strong>Due date:</strong> {{invoice?.dueDate | dateFormat }}</p>
        <table class="invoice__table invoice-table mt-4">
          <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-left">Item Description</th>
            <th class="text-center">Quantity</th>
            <th class="text-center">Unit price ({{invoice?.currency }})</th>
            <th class="text-center">Total ({{invoice?.currency }})</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of invoice?.items; let $index = index;">
            <td class="text-center">{{$index + 1}}</td>
            <td>{{item.name }}</td>
            <td class="text-center">{{item.quantity}}</td>
            <td class="text-center">{{item.unitPrice}}</td>
            <td class="text-center">{{item.total }}</td>
          </tr>
          <tr *ngFor="let crossPayment of invoice?.crossPayments; let $index = index;">
            <td class="text-center">{{$index + 1}}</td>
            <td>{{crossPayment.name }}</td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center">{{crossPayment.total }}</td>
          </tr>
          <tr *ngFor="let deduction of invoice?.deductions; let $index = index;">
            <td class="text-center">{{$index + 1}}</td>
            <td>{{deduction.name}}</td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center">{{deduction.total }}</td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="4" class="pl-2">
              <strong>Total</strong>
            </td>
            <td class="text-center">
              <strong>{{invoice?.total }}</strong>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </ng-container>

    <p class="requisites">All payments should be sent to:
      <br />
      <strong *ngIf="invoice?.company?.payments?.paymentAccountNumber">Account No:</strong>
      {{invoice?.company?.payments?.paymentAccountNumber }}
      <br />
      <strong *ngIf="invoice?.company?.payments?.paymentIban">IBAN:</strong>
      {{invoice?.company?.payments?.paymentIban }}
      <br />
      <strong *ngIf="invoice?.company?.payments?.paymentSwift">SWIFT:</strong>
      {{invoice?.company?.payments?.paymentSwift }}
      <br />
      <strong *ngIf="invoice?.company?.payments?.paymentBankName">Bank name:</strong>
      {{invoice?.company?.payments?.paymentBankName }}
      <br />
      <strong *ngIf="invoice?.company?.payments?.paymentBankAddress">Bank address:</strong>
      {{invoice?.company?.payments?.paymentBankAddress }}
      <br />
      <strong *ngIf="invoice?.company?.payments?.paymentPayoneer">Payoneer:</strong>
      {{invoice?.company?.payments?.paymentPayoneer }}
      <br />
      <strong *ngIf="invoice?.company?.payments?.paymentPaypal">PayPal:</strong>
      {{invoice?.company?.payments?.paymentPaypal }}
      <br />
      <strong *ngIf="invoice?.company?.payments?.paymentEpayments">e-Wallet number:</strong>
      {{invoice?.company?.payments?.paymentEpayments }}
      <br />
      <strong *ngIf="invoice?.company?.payments?.paymentOther">Other:</strong>
      {{invoice?.company?.payments?.paymentOther }}
    </p>
  </card-body>

</card>
