<form [formGroup]="emailsForm" novalidate (ngSubmit)="submitEmails()" (keydown.enter)="$event.preventDefault()">
  <div class="add-email__items">
    <div class="createOffer__input add-email__item"
         [class.createOffer__input_invalid]="submitted && emailsForm.controls['emails'].controls[$index].controls['email'].invalid"
         formArrayName="emails"
         *ngFor="let item of emailsForm['controls'].emails['controls']; let $index = index;">
      <ng-container [formGroupName]="$index">
        <input title="Additional Email" formControlName="email" type="email" autofocus>
        <button type="button" class="createOffer__input_delete-btn" (click)="removeFromFormArray('emails', $index)"></button>
        <button type="button" class="pub-item__plus" (click)="addItem()">+</button>
      </ng-container>
    </div>
  </div>
  <div class="add-email__controls">
    <button class="add-email__cancel" type="reset" (click)="closeEmailModal()">Cancel</button>
    <button class="add-email__save btn btn-ok">Save</button>
  </div>
</form>
