<div class="page scrollable" perfectScrollbar>
  <div class="page-container">
    <div class="page-row page-row-min">
      <div class="page-cell">
        <div class="page-nav-panel">
          <div class="external-filers" [ngClass]="{'external-filers_open': searchFilter}">
            <div class="external-filers__top">
              <button type="button" class="external-filers__close" (click)="toggleFilterMode()">
                <i class="fa fa-close"></i>
                <span>Close</span>
              </button>
            </div>
            <div class="external-filers__content">
              <div class="external-filers__col">
                <div class="external-filers__box">
                  <label class="createOffer__label">Publishers</label>
                  <div class="createOffer__input">
                    <div class="inp">
                      <div class="select-field">
                        <app-publishers-select [(ngModel)]="params.pub_ids" [selectPlaceholder]="'Publishers'">
                        </app-publishers-select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="external-filers__col">
                <div class="external-filers__box">
                  <div class="external-filers__label-control">
                    <label class="createOffer__label">Aff Sub</label>
                  </div>
                  <div class="createOffer__input">
                    <input type="text" [(ngModel)]="params.aff_subs">
                  </div>
                </div>
              </div>
              <div class="external-filers__col">
                <div class="external-filers__box">
                  <div class="external-filers__label-control">
                    <label class="createOffer__label">Hash</label>
                  </div>
                  <div class="createOffer__input">
                    <input type="text" [(ngModel)]="params.hashes">
                  </div>
                </div>
              </div>
            </div>
            <div class="external-filers__bottom">
              <button type="reset" class="external-filers__cancel btn" (click)="resetFilters()">Reset</button>
              <button type="submit" class="external-filers__apply btn btn-add" (click)="applyFilters()">Apply</button>
            </div>
          </div>
          <div class="col"></div>
          <div class="col">
            <a class="btn btn-light" (click)="toggleFilterMode()">
              <i class="fa fa-search fa-icon-reverse-right" aria-hidden="true"></i>
              <span>Advanced Search</span>
            </a>
          </div>

        </div>
      </div>
    </div>

    <div class="page-row page-row-min" *ngIf="sercrets.items.length">
      <div class="page-cell">
        <div class="fake-table__top settings-secret-table__top bilParts-table__top">
          <div class="fake-table__row ">
            <div class="fake-table__head">
              <span>ID</span>
            </div>
            <div class="fake-table__head">
              <span>Hash</span>
            </div>
            <div class="fake-table__head">
              <span>Publisher Name</span>
            </div>
            <div class="fake-table__head">
              <span>Publisher ID</span>
            </div>
            <div class="fake-table__head">
              <span>Aff Sub</span>
            </div>
            <div class="fake-table__head"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="page-row">
      <div class="page-cell">
        <perfect-scrollbar class="page-scrollable scrollable" perfectScrollbar>
          <div class="content" *ngIf="!loading">
            <div class="fake-table bilParts-table settings-secret-table">
              <div class="fake-table__body-wrap">
                <div class="fake-table__body">
                  <div class="fake-table__item" *ngFor="let secret of sercrets.items; let $index = index;">
                    <div class="fake-table__row">
                      <div class="fake-table__cell">
                        <span [innerHtml]="secret.id"></span>
                      </div>
                      <div class="fake-table__cell">
                        <span [innerHtml]="secret.hash"></span>
                      </div>
                      <div class="fake-table__cell">
                        <span [innerHtml]="secret.pubName"></span>
                      </div>
                      <div class="fake-table__cell">
                        <span class="css-popover inline-block" data-popover="true" appCssPopover>
                          <label class="label label-lightgray label-long" [innerHtml]="secret.pubId"></label>
                          <span class="css-popover-content" [innerHtml]="secret.pubId"></span>
                        </span>
                      </div>
                      <div class="fake-table__cell">
                        <span class="css-popover inline-block" data-popover="true" appCssPopover *ngIf="secret.affSub">
                          <label class="label label-lightgray label-long" [innerHtml]="secret.affSub"></label>
                          <span class="css-popover-content" [innerHtml]="secret.affSub"></span>
                        </span>
                      </div>
                      <div class="fake-table__cell">
                        <div class="approvals-settings inline-block">
                          <a class="approvals-settings__item approvals-settings__item_remove css-popover"
                            data-placement="left" (click)="removeSecret(secret.id, $index)"
                            *hasPermission="['delete_secret']">
                            <i class="fa fa-remove" aria-hidden="true"></i>
                            <span class="css-popover-content">Remove</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <app-no-data *ngIf="!sercrets.items.length && !loading"></app-no-data>
        </perfect-scrollbar>
      </div>
    </div>
    <div class="page-row page-row-min" *ngIf="!loading">
      <div class="page-cell">
        <div class="page-footer-panel">
          <div class="col"></div>
          <div class="col">
            <table-limit [limit]="sercrets.limit" (changedLimit)="tableLimit($event)"></table-limit>
          </div>
          <div class="col">
            <h2>Pagintation</h2>
            <table-pagination [page]="sercrets.page" [totalPages]="sercrets.totalPages"
              (currentPage)="goToPage($event)">
            </table-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-loader [loading]="loading"></app-loader>

</div>
