@import "mixin";

:host {
  ::ng-deep {
    .card-header {
      padding: rem(4, 16);
      min-height: 40px;

      .btn {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        color: #88a0ae !important;
        font-size: rem(14);

        .fa {
          margin-left: 5px;
          color: #88a0ae !important;
        }
      }
    }
  }
}

card {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 15;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(20px);
  transition: .2s;

  &.open {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
  }
}

card-header {
  position: relative;
  btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
}
