<card [class.open]="isOpen">

  <card-header>

    <ng-content select="[filter-header]"></ng-content>

    <btn [link]="true" (click)="close()">
      <span>Close</span>
      <i class="fa fa-close"></i>
    </btn>

  </card-header>

  <card-body>

    <ng-content select="[filter-content]"></ng-content>

  </card-body>

  <card-footer>

    <ng-content select="[filter-footer]"></ng-content>

  </card-footer>

</card>
