<div class="page scrollable" perfectScrollbar>
  <div class="page-container scheduled-table">
    <div class="page-row page-row-min">
      <div class="page-cell">
        <div class="content" *ngIf="!loading">
          <div class="table-thead table-thead-publishers-manage" *ngIf="groupUrls.items.length">
            <div class="fake-table__top table-group-urls__top">
              <div class="fake-table__row">
                <div class="fake-table__head">
                  <span>#</span>
                </div>
                <div class="fake-table__head">
                  <span class="inline-block semi-bold" translate="groupUrls.list.name"></span>
                </div>
                <div class="fake-table__head">
                  <span class="inline-block semi-bold" translate="groupUrls.list.trafficType"></span>
                </div>
                <div class="fake-table__head">
                  <span class="inline-block semi-bold" translate="groupUrls.list.distributionType"></span>
                </div>
                <div class="fake-table__head">
                  <span class="inline-block semi-bold" translate="groupUrls.list.contentType"></span>
                </div>
                <div class="fake-table__head">
                  <span class="inline-block semi-bold" translate="groupUrls.list.dynamicType"></span>
                </div>
                <div class="fake-table__head">
                  <span class="inline-block semi-bold" translate="groupUrls.list.monetizationModel"></span>
                </div>
                <div class="fake-table__head">
                  <span class="inline-block semi-bold" translate="groupUrls.list.mode"></span>
                </div>
                <div class="fake-table__head"><span></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="page-row">
      <div class="page-cell">
        <div class="page-scrollable scrollable" perfectScrollbar update-flag="scrollFlag">
          <div class="content" *ngIf="groupUrls.items.length">
            <div class="table-publishers-manage">
              <div class="fake-table table-group-urls">
                <div class="fake-table__body">
                  <div class="fake-table__row" *ngFor="let url of groupUrls.items; let $index = index;">
                    <div class="fake-table__cell">
                      <span>
                        <span [innerHtml]="url?.id"></span>
                      </span>
                    </div>
                    <div class="fake-table__cell">
                      <span class="wordBreak" [innerHtml]="url?.name"></span>
                    </div>
                    <div class="fake-table__cell">
                      <span>
                        <span [innerHtml]="url?.trafficTypeName"></span>
                      </span>
                    </div>
                    <div class="fake-table__cell">
                      <span>
                        <span [innerHtml]="url?.distributionName"></span>
                      </span>
                    </div>
                    <div class="fake-table__cell">
                      <span>
                        <span [innerHtml]="url?.contentTypeName"></span>
                      </span>
                    </div>
                    <div class="fake-table__cell">
                      <span>
                        <span [innerHtml]="url?.dynamicTypeName"></span>
                      </span>
                    </div>
                    <div class="fake-table__cell">
                      <span>
                        <span [innerHtml]="url?.monetizationModelName"></span>
                      </span>
                    </div>
                    <div class="fake-table__cell">
                      <span>
                        <span [innerHtml]="url?.modeName"></span>
                      </span>
                    </div>
                    <div class="fake-table__cell">
                      <div class="approvals-settings">
                        <a *ngIf="url.link" class="approvals-settings__item approvals-settings__item_edit"
                          [popover]="groupLinkPopover" [context]="{url : url}">
                          <i class="fa fa-link" aria-hidden="true"></i>
                        </a>
                        <a class="approvals-settings__item approvals-settings__item_edit"
                          [popover]="'groupUrls.list.modeManage' | translate"
                          [routerLink]="['/', 'publisher', 'superlink', 'group-urls', 'mode', url.id]">
                          <i class="fa fa-wrench" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <app-no-data *ngIf="!groupUrls.items.length && !loading"></app-no-data>
        </div>
      </div>
    </div>
    <div class="page-row page-row-min" *ngIf="groupUrls.items.length">
      <div class="page-cell">
        <div class="page-footer-panel">
          <div class="col"></div>
          <div class="col">
            <table-limit [limit]="groupUrls?.limit" (changedLimit)="tableLimit($event)"></table-limit>
          </div>
          <div class="col">
            <table-pagination [page]="groupUrls?.page" [totalPages]="groupUrls?.totalPages"
              (currentPage)="goToPage($event)">
            </table-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Loading spinner -->
  <app-loader [loading]="loading"></app-loader>
  <!-- Loading spinner -->
</div>

<ng-template #groupLinkPopover let-url="url">
  <p>
    <span translate="groupUrls.list.groupLink"></span>
    <br>
    <span [innerHtml]="url?.link" [appCopyToClipboard]="url?.link"></span>
  </p>
</ng-template>
