@import "variables";
@import "mixin";

.row {
  margin-bottom: -1rem;
}

:host {
  flex-shrink: 0;
  width: 100%;

  ::ng-deep {
    .v-dash {
      font-size: rem(16);
      line-height: 1;
      display: inline-block;
      margin: rem(0, 40);
      color: var(--form-control-border);
    }
  }
}
