<div class="row py-3 justify-content-end">
  <div class="col-auto d-flex">
    <table-limit [filter]="filter"></table-limit>
    <table-pagination [filter]="filter"
                    [page]="pagination?.page"
                    [totalPages]="pagination?.totalPages">
    </table-pagination>
  </div>
</div>
