<div class="owl-single-picker-container datemonth-picker"
     [class.to-right]="position === 'right'"
     #pickerHtml>

  <div class="position-relative">
    <input type="text"
           class="form-control"
           [value]="inputValue"
           (blur)="setInputValue($event.target.value)"
           (click)="showPicker()"
           [disabled]="disabled"
           #dateInput>

    <validation-message [control]="control" [target]="dateInput"></validation-message>
  </div>


  <div class="owl-single-picker" *ngIf="isOpened">

    <div>
      <owl-date-time-inline
        [(ngModel)]="dateTime"
        [startView]="'year'"
        [max]="maxDateTime"
        (monthSelected)="chosenMonthHandler($event)"
        [pickerType]="'calendar'">
      </owl-date-time-inline>
    </div>

  </div>

</div>
