<ng-container *ngIf="control?.touched && control?.errors">
  <div class="error server" *ngIf="control?.errors['server']" [class.css-popover-content]="isPopover">
    {{ control?.errors['server'] }}
  </div>
  <ng-container *ngIf="!control?.errors['server']">
    <div class="error front" [class.css-popover-content]="isPopover" *ngFor="let error of validationErrors()">
      <div>{{ error }}</div>
    </div>
  </ng-container>
</ng-container>
