<full-page *ngIf="(publisherUrls$ | async) as publisherUrls">

  <page-head [horisontalAligment]="'justify-content-between'" [verticalAligment]="'align-items-center'">

    <div class="col-3">
      <app-search [filter]="filter"></app-search>
    </div>

    <div class="col-auto">
      <btn size="lg" [routerLink]="['/', 'manager', 'superlink', 'publishers-urls', 'create']"
        *hasPermission="['manage_publisher_resale_url']" >
        <i class="fa fa-user-plus mr-1"></i>{{ "pubAlgorithm.list.createBtn" | translate }}
      </btn>
    </div>

  </page-head>

  <page-body tableSync [data]="publisherUrls?.items">

    <ng-container *ngIf="publisherUrls?.items?.length">

      <table-head>
        <tr>
          <th appSortBy="id" [filter]="filter" [style.width.px]="100">
            <b>#</b>
          </th>
          <th>
            <b appSortBy="publisher" [filter]="filter">{{ "pubAlgorithm.list.publisher" | translate }}</b>
          </th>
          <th>
            <b appSortBy="name" [filter]="filter">{{ "pubAlgorithm.list.urlName" | translate }}</b>
          </th>
          <th>
            <b appSortBy="resaleUrl" [filter]="filter">{{ "pubAlgorithm.list.algorithmUrlName" | translate }}</b>
          </th>
          <th [style.width.px]="50">&nbsp;</th>
        </tr>
      </table-head>

      <table-body>
        <tr *ngFor="let url of publisherUrls?.items;">
          <td [style.width.px]="100">
            <badge [simple]="true">
              {{url.id}}
            </badge>
          </td>
          <td>
            <span [popover]="url.publisher.id">{{url.publisher.name}}</span>
          </td>
          <td>
            <p>{{url.name}}</p>
          </td>
          <td>
            <p>{{url.resaleUrl.name}}</p>
          </td>

          <td [style.width.px]="50">
            <div *hasPermission="['manage_publisher_resale_url']">
              <a class="approvals-settings__item approvals-settings__item_edit" data-placement="left"
                [popover]="'pubAlgorithm.list.edit' | translate"
                [routerLink]="['/', 'manager', 'superlink', 'publishers-urls', 'edit', url.id]">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
              <a class="approvals-settings__item approvals-settings__item_delete"
                [popover]="'pubAlgorithm.list.delete' | translate" data-placement="left" (click)="delete(url.id)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
            </div>
          </td>
        </tr>
      </table-body>
      <table-control *ngIf="publisherUrls?.items.length" [filter]="filter" [pagination]="publisherUrls">
      </table-control>
    </ng-container>
    <app-no-data *ngIf="!publisherUrls?.items?.length && !loading"></app-no-data>
  </page-body>
</full-page>
<app-loader [loading]="loading"></app-loader>
