<card>

  <card-header>
    Form inputs
  </card-header>

  <card-body>

    <form [formGroup]="formInputs" disableAutocomplete>

      <form-label>1. Input default</form-label>
      <input-text class="mb-3" formControlName="defaultInput"></input-text>

      <form-label [required]="true">2. Input required</form-label>
      <input-text class="mb-3" formControlName="requiredInput"></input-text>

      <form-label>3. Input disabled</form-label>
      <input-text class="mb-3" formControlName="disabledInput"></input-text>

      <form-label>4. Input masked</form-label>
      <input-text class="mb-3" formControlName="maskedInput" [mask]="'email'"></input-text>

      <form-label>5. Input integer</form-label>
      <input-integer class="mb-3" formControlName="integerInput"></input-integer>

      <form-label>6. Input decimal</form-label>
      <input-decimal class="mb-3" formControlName="decimalInput"></input-decimal>

      <form-label>7. Input group with btn</form-label>
      <input-group class="mb-3" iconName="plus" (onClick)="inputGroupClicked()">
        <input-text formControlName="groupInput"></input-text>
      </input-group>

      <form-label>8. Input group with btn left</form-label>
      <input-group class="mb-3" iconName="plus" order="toLeft" (onClick)="inputGroupClicked()">
        <input-text formControlName="groupInput"></input-text>
      </input-group>

      <form-label>9. Input group with icon</form-label>
      <input-group class="mb-3" iconName="percent" styleType="symbol">
        <input-text formControlName="groupInput"></input-text>
      </input-group>

      <form-label>10. Input group with icon left</form-label>
      <input-group class="mb-3" iconName="percent" styleType="symbol" order="toLeft">
        <input-text formControlName="groupInput"></input-text>
      </input-group>

      <form-label>11. Input group construct</form-label>
      <input-group class="mb-3" order="toLeft" iconName="plus" (onClick)="inputGroupClicked()">
        <input-group iconName="plus" (onClick)="inputGroupClicked()">
          <tags-input formControlName="tagsInput"></tags-input>
        </input-group>
      </input-group>

      <form-label>12. Tags input</form-label>
      <tags-input class="mb-3" formControlName="tagsInput"></tags-input>

      <form-label>13. Tags input masked</form-label>
      <tags-input [mask]="'email'" class="mb-3" formControlName="tagsInputMasked"></tags-input>

      <form-label>14. Input password</form-label>
      <password class="mb-3" formControlName="password"></password>

      <form-label>15. Textarea</form-label>
      <area-input class="mb-1" formControlName="areaInput" [maxlength]="100"></area-input>

    </form>

    <!--<pre>-->
      <!--<code>-->
<!--{{ formInputs.getRawValue() | json }}-->
      <!--</code>-->
    <!--</pre>-->

  </card-body>

  <card-footer>
    Card footer
  </card-footer>

</card>
