<full-page>

  <page-head>

    <div class="col">
      <div class="flex align-items-center">

        <strong class="mr-2">Show:</strong>

        <div class="inline-block mr-3">
          <ng-select [clearable]="false" [ngModel]="statusFilter" (change)="setStatusFilter($event)">
            <ng-option value="All">All</ng-option>
            <ng-option *ngFor="let status of scrubStatuses" [value]="status">
              {{ status.name }}
            </ng-option>
          </ng-select>
        </div>

        <btn size="lg" routerLink="/manager/billing/publishers/scrubs/create">Create Scrub</btn>
      </div>
    </div>

    <div class="col-auto">
      <div class="flex align-items-center">
        <date-range-picker [startDate]="params.dateFrom" [endDate]="params.dateTo"
                           (onApply)="calendarCallback($event)">
        </date-range-picker>

        <btn [simple]="true" size="lg" class="ml-3" (click)="filterComponent.open()">
          Filter
          <i class="fa fa-filter ml-1"></i>
        </btn>
      </div>
    </div>

    <app-filter #filterComponent>
      <ng-container filter-content>
        <div class="row">
          <div class="col-3">
            <div class="mb-2">
              <form-label>Advertisers</form-label>
              <advertiser-select [(ngModel)]="params.advertiserIds"></advertiser-select>
            </div>
            <div class="mb-2">
              <form-label>Offers</form-label>
              <app-offers-select [multiple]="true" [(ngModel)]="params.offerIds"></app-offers-select>
            </div>
          </div>
          <div class="col-3">
            <div class="mb-2">
              <form-label>Advertiser Managers</form-label>
              <manager-select [multiple]="true" [(ngModel)]="params.advertiserManagerIds"></manager-select>
            </div>
            <div class="mb-2">
              <form-label>&nbsp;</form-label>
              <checkbox [(ngModel)]="params.total">Show total</checkbox>
            </div>
          </div>
          <div class="col-3">
            <div class="mb-2">
              <form-label>Publishers</form-label>
              <publisher-select [multiple]="true" [(ngModel)]="params.publisherIds"></publisher-select>
            </div>
          </div>
          <div class="col-3">
            <div class="mb-2">
              <form-label>Publisher Managers</form-label>
              <manager-select [multiple]="true" [(ngModel)]="params.publisherManagerIds"></manager-select>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container filter-footer>

        <btn [simple]="true" (click)="resetFilters(); filterComponent.close()">Reset</btn>
        <btn (click)="applyFilters(); filterComponent.close()">Apply</btn>

      </ng-container>
    </app-filter>

  </page-head>

  <page-body tableSync [data]="scrubs.items">

    <ng-container *ngIf="scrubs?.items?.length">
      <table-head>
        <tr>
          <th>
            <b (click)="sortByField('period')">Scrub Period</b>
            <b (click)="sortByField('createdAt')">Scrub Created</b>
          </th>
          <th>
            <b (click)="sortByField('advertiserName')">Advert Name</b>
            <b (click)="sortByField('advertiserId')">Advert ID</b>
            <b (click)="sortByField('managerName')">Manager Name</b>
            <b (click)="sortByField('managerId')">Manager Id</b>
          </th>
          <th>
            <b (click)="sortByField('offerName')">Offer Name</b>
            <b (click)="sortByField('offerId')">Offer ID</b>
          </th>
          <th>Scrub Notes</th>
          <th><b (click)="sortByField('revenue')">Revenue Amount</b></th>
          <th><b (click)="sortByField('costs')">Revenue Amount</b></th>
          <th><b (click)="sortByField('status')">Status</b></th>
          <th class="text-right">Options</th>
        </tr>
      </table-head>

      <table-body>
        <ng-container *ngFor="let scrub of scrubs.items; let $index = index;">
          <tr>
            <td>
              <div class="mb-1">
                <badge [simple]="true">
                  {{scrub.dateFrom | dateFormatDynamic}} - {{scrub.dateTo | dateFormatDynamic}}
                </badge>
              </div>
              <badge [simple]="true">{{ scrub.createdAt | dateFormatDynamic:true }}</badge>
            </td>
            <td>
              <div class="mb-1">
                <a target="_blank" [routerLink]="['/manager/advertisers/edit', scrub.advertiser.id]">
                  {{ scrub.advertiser.name }}
                </a>
              </div>
              <div class="mb-1">
                <badge [simple]="true">{{ scrub.advertiser.id }}</badge>
              </div>
              <div class="mb-1">{{ scrub.advertiser.managerName }}</div>
              <badge [simple]="true">{{ scrub.advertiser.managerId }}</badge>
            </td>
            <td>
              <div class="mb-1">
                <a target="_blank" [routerLink]="['/manager/offers/edit', scrub.offer.id]">
                  {{ scrub.offer.name }}
                </a>
              </div>
              <badge [simple]="true">{{ scrub.offer.id }}</badge>
            </td>
            <td>
              <input-text placeholder="Notes..." [(ngModel)]="scrub.notes"></input-text>
            </td>
            <td>
              <strong popover="Revenue">
                {{ scrub.revenue.amount }} {{ scrub.revenue.currency }}
              </strong>
            </td>
            <td>
              <div class="flex align-items-center">
                <input-decimal
                  popover="Costs"
                  [isInvalid]="scrub.hasError && !scrub.costs.amount"
                  [(ngModel)]="scrub.costs.amount"
                  (change)="setEditingAmount(scrub)">
                </input-decimal>
                <span class="ml-1 text-nowrap">{{ scrub.costs.currency }}</span>
              </div>
            </td>
            <td>
              <div class="createOffer__input createOffer__select publisher-scrubs-select">
                <badge *ngIf="!scrub.availableStatuses.length">{{ scrub.statusName }}</badge>
                <div *ngIf="scrub.availableStatuses.length" class="status-select">
                  <div class="status-select-current" [innerHtml]="scrub.statusName"></div>
                  <div class="status-select-options">
                <span class="status-select-option" *ngFor="let status of scrub.availableStatusesArr"
                      [innerHtml]="status.name"
                      (click)="changeStatus(scrub, status.id, status.name, 'status')"></span>
                  </div>
                </div>
              </div>
            </td>
            <td class="text-right">
              <div class="mb-1">
                <btn-icon
                  icon="envelope"
                  type="success"
                  [opposite]="scrub.emailSent"
                  [popover]="iconPopoverTmpl"
                  (click)="sendEmail(scrub)">
                  <ng-template #iconPopoverTmpl>
                    <ng-container *ngIf="!scrub.emailSent">Send Emails</ng-container>
                    <ng-container *ngIf="scrub.emailSent">Emails already sent</ng-container>
                  </ng-template>
                </btn-icon>
              </div>
              <div class="mb-1">
                <btn-icon icon="save" popover="Save scrub" (click)="updateScrub(scrub, $index)"></btn-icon>
              </div>
              <div class="mb-1">
                <btn-icon [icon]="scrub.expandTable ? 'chevron-up' : 'chevron-down'"
                          (click)="expandTable($event, scrub)">
                </btn-icon>
              </div>
            </td>
          </tr>
          <tr *ngIf="scrub.expandTable">
            <td colspan="8">
              <strong>Billing Parts</strong>
              <table width="100%">
                <thead>
                <tr>
                  <th>
                    <span>Invoice Number</span><br/>
                    <span>Billing Part ID</span>
                  </th>
                  <th>
                    <span>Pub Name</span><br>
                    <span>Pub ID</span><br>
                    <span>Manager Name</span><br>
                    <span>Manager ID</span><br>
                  </th>
                  <th>Notes</th>
                  <th>Amount</th>
                  <th>Type</th>
                  <th>Finance Status</th>
                  <th>Options</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let part of scrub.parts; let $index = index">
                  <ng-template
                    [ngTemplateOutlet]="part.editing ? editScrubPart : simpleScrubPart"
                    [ngTemplateOutletContext]="{ $implicit: part, scrub : scrub, $index : $index }">
                  </ng-template>
                </tr>
                <tr>
                  <td colspan="4" align="left">
                    <btn [secondary]="true" (click)="addNewPart(scrub.parts)" popover="Add new part">
                      <i class="fa fa-plus"></i>
                    </btn>
                  </td>
                  <td colspan="4" align="right">
                    <btn (click)="updateParts(scrub.id, scrub.parts)" popover="Save changes">
                      <i class="fa fa-save"></i>
                    </btn>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </ng-container>
      </table-body>

      <!--   TODO - Эту конструкцию можно будет поменять на table-control после рефакторинга ts   -->
      <div class="row">
        <div class="total" *ngIf="scrubs.data && scrubs.data.total">
          <div class="fake-table">
            <div class="fake-table__body-wrap">
              <div class="fake-table__body">
                <div class="fake-table__row">
                  <div class="fake-table__cell">
                    <strong>Total:</strong>
                  </div>
                  <div class="fake-table__cell" *ngFor="let item of scrubs.data.total.costs">
                    <span>Costs Amount:</span>
                    <b>{{item.amount}} {{item.currency}}</b>
                  </div>
                  <div class="fake-table__cell" *ngFor="let item of scrubs.data.total.revenue">
                    <span>Revenue Amount:</span>
                    <b>{{item.amount}} {{item.currency}}</b>
                  </div>

                  <div class="fake-table__cell" *ngFor="let item of scrubs.data.amountsByType | keyvalue">
                    <span>{{item.key}}:</span>
                    <b>{{item.value[0].amount}} {{item.value[0].currency}}</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pt-3 justify-content-end table-control">
        <div class="col-auto">
          <page-control>
            <table-limit [limit]="scrubs.limit" (changedLimit)="tableLimit($event)"></table-limit>
            <table-pagination [page]="scrubs.page" [totalPages]="scrubs.totalPages" (currentPage)="goToPage($event)"></table-pagination>
          </page-control>
        </div>
      </div>
    </ng-container>

    <app-no-data *ngIf="!scrubs?.items?.length && !loading"></app-no-data>

  </page-body>

</full-page>

<app-loader [loading]="loading"></app-loader>

<ng-template #simpleScrubPart let-part let-scrub="scrub" let-$index="$index">
  <td>
    <div class="mb-1">
      <app-publisher-invoice-select
        *ngIf="!part.invoice"
        [dateFrom]="params.dateFrom"
        [dateTo]="params.dateTo"
        [multiple]="false"
        [(ngModel)]="part.invoiceNumber">
      </app-publisher-invoice-select>
    </div>
    <div class="mb-1" *ngIf="part.invoice">
      <badge [primary]="true">{{ part.invoice.invoiceNumber }}</badge>
    </div>
  </td>
  <td>
    <div class="mb-1" *ngIf="part.publisher">
      <a target="_blank" [routerLink]="['/manager/publishers/edit', part.publisher.id]">
        {{ part.publisher.name }}
      </a>
    </div>
    <div class="mb-1" *ngIf="part.publisher">
      <badge [simple]="true">{{ part.publisher.id }}</badge>
    </div>
    <div class="mb-1" *ngIf="part.publisher">
      <a target="_blank" [routerLink]="['/manager/managers/edit', part.publisher.managerId]">
        {{ part.publisher.managerName }}
      </a>
    </div>
    <badge [simple]="true">{{ part.publisher.managerId }}</badge>
  </td>
  <td>
    <input-text placeholder="Notes..." [(ngModel)]="part.notes"></input-text>
  </td>
  <td>
    <input-decimal
      placeholder="Amount"
      [isInvalid]="part.hasError && !part.amount.amount"
      [(ngModel)]="part.amount.amount"
      (change)="setEditingAmount(part)">
    </input-decimal>
  </td>
  <td>
    <badge *ngIf="!part.availableTypes.length">{{ part.typeName }}</badge>
    <div *ngIf="part.availableTypes.length" class="status-select">
      <div class="status-select-current" [innerHtml]="part.typeName"></div>
      <div class="status-select-options">
        <span class="status-select-option" *ngFor="let type of part.availableTypesArr"
              [innerHtml]="type.name"
              (click)="changeStatus(part, type.id, type.name, 'type')"></span>
      </div>
    </div>
  </td>
  <td>
    <ng-select
      [class.ng-invalid]="part.hasError && !part.status"
      [items]="partStatuses"
      bindLabel="name"
      bindValue="id"
      [(ngModel)]="part.status">
    </ng-select>
  </td>
  <td>
    <btn-icon icon="trash" popover="Delete offer" (click)="deletePart(scrub, part.id, $index)"></btn-icon>
  </td>
</ng-template>

<ng-template #editScrubPart let-part let-scrub="scrub" let-$index="$index">
  <td>
    <app-publisher-invoice-select
      [dateFrom]="params.dateFrom"
      [dateTo]="params.dateTo"
      [multiple]="false"
      [(ngModel)]="part.invoiceNumber">
    </app-publisher-invoice-select>
  </td>
  <td>
    <publisher-select [(ngModel)]="part.publisher.id"></publisher-select>
  </td>
  <td>
    <input-text placeholder="Notes..." [(ngModel)]="part.notes"></input-text>
  </td>
  <td>
    <input-decimal
      placeholder="Amount"
      [isInvalid]="part.hasError && !part.amount.amount"
      [(ngModel)]="part.amount.amount"
      (change)="setEditingAmount(part)">
    </input-decimal>
  </td>
  <td>
    <ng-select
      [class.ng-invalid]="part.hasError && !part.type"
      [items]="partTypes"
      bindLabel="name"
      bindValue="id"
      [(ngModel)]="part.type">
    </ng-select>
  </td>
  <td>
    <ng-select
      [class.ng-invalid]="part.hasError && !part.status"
      [items]="partStatuses"
      bindLabel="name"
      bindValue="id"
      [(ngModel)]="part.status">
    </ng-select>
  </td>
  <td>
    <btn-icon icon="trash" popover="Delete offer" (click)="deletePart(scrub, part.id, $index)"></btn-icon>
  </td>
</ng-template>
