<full-page *ngIf="(algorithmsUrls$ | async) as algorithmsUrls">

  <page-head>

    <div class="col">
      <app-search [filter]="filter"></app-search>
    </div>

    <div class="col-auto">
      <btn size="lg" routerLink="/manager/superlink/algorithms-urls/create" *hasPermission="['manage_publisher_resale_url']">
        <i class="fa fa-user-plus mr-1"></i>{{ "algorithm.list.createBtn" | translate }}
      </btn>

    </div>

  </page-head>

  <page-body tableSync [data]="algorithmsUrls?.items">

    <ng-container *ngIf="algorithmsUrls?.items?.length">

      <table-head>
        <tr>
          <th>
            <span>#</span>
          </th>
          <th>
            <b appSortBy="advertiser" [filter]="filter">{{ "algorithm.list.advertiser" | translate }}</b>
          </th>
          <th>
            <b appSortBy="name" [filter]="filter">{{ "algorithm.list.name" | translate }}</b>
          </th>
          <th>
            <b appSortBy="url" [filter]="filter">{{ "algorithm.list.url" | translate }}</b>
          </th>
          <th>
            <b appSortBy="trafficType" [filter]="filter">{{ "algorithm.list.trafficType" | translate }}</b>
          </th>
          <th>
            <b appSortBy="distributionType" [filter]="filter">{{ "algorithm.list.distributionType" | translate }}</b>
          </th>
          <th>
            <b appSortBy="contentType" [filter]="filter">{{ "algorithm.list.contentType" | translate }}</b>
          </th>
          <th>
            <b appSortBy="dynamicType" [filter]="filter">{{ "algorithm.list.dynamicType" | translate }}</b>
          </th>
          <th>
            <b appSortBy="monetizationModel" [filter]="filter">{{ "algorithm.list.monetizationModel" | translate }}</b>
          </th>
          <th>&nbsp;</th>
        </tr>
      </table-head>

      <table-body>
        <tr *ngFor="let url of algorithmsUrls?.items;">
          <td [style.width.px]="162">
            <badge [simple]="true">
              {{url.id}}
            </badge>
          </td>
          <td>
            <badge [simple]="true" [truncate]="true" [popover]="url.advertiser.id">
              {{url.advertiser.name}}
            </badge>
          </td>
          <td>
            <p>{{url.name}}</p>
          </td>
          <td>
            <badge [simple]="true" [truncate]="true" [popover]="url.url">
              {{url.url}}
            </badge>
          </td>
          <td>
            <p>{{url.trafficType | urlTrafficType | async}}</p>
          </td>
          <td>
            <p>{{url.distribution | urlDistributionType | async}}</p>
          </td>
          <td>
            <p>{{url.contentType | urlContentType | async}}</p>
          </td>
          <td>
            <p>{{url.dynamicType | urlDynamicType | async}}</p>
          </td>
          <td>
            <p>{{url.monetizationModel | urlMonetizationType | async}}</p>
          </td>
          <td class="text-right" [style.width.px]="150">
            <app-actions *hasPermission="['manage_algorithm_resale_url']">
              <a class="actions-option action-edi" [routerLink]="['/manager/superlink/algorithms-urls/edit', url.id]">
                {{ "algorithm.list.edit" | translate }}
              </a>
            </app-actions>
          </td>
        </tr>
      </table-body>

      <table-control *ngIf="algorithmsUrls?.items.length" [filter]="filter" [pagination]="algorithmsUrls">
      </table-control>

    </ng-container>

    <app-no-data *ngIf="!algorithmsUrls?.items?.length && !loading"></app-no-data>

  </page-body>

</full-page>

<app-loader [loading]="loading"></app-loader>
