<full-page *ngIf="(statistics$ | async) as statistics">

  <pub-reports-statistics-filter #filterComponent [filter]="filter" (onApply)="applyFilters($event)"
    (onCancel)="applyFilters($event)"></pub-reports-statistics-filter>

  <page-head [verticalAligment]="'align-items-center'" [horisontalAligment]="'justify-content-between'">

    <div class="col-auto page-nav">
      <a [routerLink]="['/', 'publisher', 'reports', 'statistics']" routerLinkActive="current">
        <span translate="dynamicReports.statistics">Dynamic</span>
      </a>
      <a [routerLink]="['/', 'publisher', 'reports', 'conversions']" [routerLinkActive]="['current']">
        <span translate="dynamicReports.conversions">Conversions</span>
      </a>
    </div>
    <div class="col-auto ml-auto">
      <date-range-picker [startDate]="filter.datetimeFrom" [endDate]="filter.datetimeTo"
        (onApply)="calendarCallback($event)">
      </date-range-picker>
    </div>
    <div class="col-auto">
      <btn [simple]="true" size="lg" class="mr-2" (click)="filterComponent.open()">
        <i class="fa fa-search mr-1"></i>{{ "dynamicReports.filter" | translate }}
      </btn>
    </div>

  </page-head>

  <page-body tableSync [data]="statistics?.items">

    <ng-container *ngIf="statistics?.items?.length">
      <table-head>
        <tr>
          <th *ngIf="filter.date || filter.hour">
            <b class="clickable" *ngIf="filter.date" [filter]="filter"
              appSortBy="date">{{ "dynamicReports.date" | translate }}</b>
            <b class="clickable" *ngIf="filter.hour" [filter]="filter"
              appSortBy="hour">{{ "dynamicReports.hour" | translate }}</b>
          </th>
          <th *ngIf="filter.clicks || filter.backUrlClicks">
            <b class="clickable" *ngIf="filter.clicks" [filter]="filter"
              appSortBy="clicks">{{ "dynamicReports.clicks" | translate }}</b>
            <b class="clickable" *ngIf="filter.backUrlClicks" [filter]="filter"
              appSortBy="backTraffic">{{ "dynamicReports.backTraffic" | translate }}</b>
          </th>
          <th class="fake-table__head big-cell" *ngIf="filter.offerId || filter.offerName">
            <p *ngIf="filter.offerId">{{ "dynamicReports.offerID" | translate }}</p>
            <b class="clickable" *ngIf="filter.offerName" [filter]="filter"
              appSortBy="offerName">{{ "dynamicReports.offerName" | translate }}</b>
          </th>
          <th *ngIf="filter.countries || filter.platforms">
            <b class="clickable" *ngIf="filter.countries" [filter]="filter"
              appSortBy="country">{{ "dynamicReports.country" | translate }}</b>
            <b class="clickable" *ngIf="filter.platforms" [filter]="filter"
              appSortBy="platform">{{ "dynamicReports.platform" | translate }}</b>
          </th>
          <th *ngIf="filter.conversions || filter.cr">
            <b class="clickable" *ngIf="filter.conversions" [filter]="filter"
              appSortBy="conversions">{{ "dynamicReports.conversions" | translate }}</b>
            <b class="clickable" *ngIf="filter.cr" [filter]="filter" appSortBy="cr">CR</b>
          </th>
          <th *ngIf="filter.cpa || filter.cpc">
            <b class="clickable" *ngIf="filter.cpa" [filter]="filter" appSortBy="cpa">CPA</b>
            <b class="clickable" *ngIf="filter.cpc" [filter]="filter" appSortBy="cpc">CPC</b>
          </th>
          <th *ngIf="filter.revenues || filter.goalName">
            <b class="clickable" *ngIf="filter.revenues" [filter]="filter"
              appSortBy="revenues">{{ "dynamicReports.revenues" | translate }}</b>
            <b class="clickable" *ngIf="filter.goalName" [filter]="filter"
              appSortBy="goalName">{{ "dynamicReports.goalName" | translate }}</b>
          </th>
        </tr>
      </table-head>

      <table-body>
        <tr *ngFor="let item of statistics.items; let $index = index;">
          <td *ngIf="filter.date || filter.hour">
            <p [hidden]="!filter.date" [innerHtml]="item.date | dateFormatDynamic:false:filter.timezone"></p>
            <p [hidden]="!filter.hour" [innerHtml]="item.hour | hoursFromNumber"></p>
          </td>
          <td *ngIf="filter.clicks || filter.backUrlClicks">
            <b [hidden]="!filter.clicks" [innerHtml]="item.clicks">3</b>
            <p [hidden]="!filter.backUrlClicks" [innerHtml]="item.backUrlClicks"></p>
          </td>
          <td *ngIf="filter.offerId || filter.offerName">
            <p [hidden]="!filter.offerId" [innerHtml]="item.offerId"></p>
            <p [hidden]="!filter.offerName" [innerHtml]="item.offerName"></p>
          </td>
          <td *ngIf="filter.countries || filter.platforms">
            <p [hidden]="!filter.countries" [innerHtml]="item.countryCode"></p>
            <p [hidden]="!filter.platforms" [innerHtml]="item.platformName"></p>
          </td>
          <td *ngIf="filter.conversions || filter.cr">
            <b *ngIf="filter.conversions" [innerHtml]="item.conversions" class="color-green">2</b>
            <p [hidden]="!item.cr">{{(item.cr | number: '1.2-2') + '%'}}</p>
          </td>
          <td *ngIf="filter.cpa || filter.cpc">
            <b *ngIf="filter.cpa" [innerHtml]="(item?.cpa?.toFixed(2) || 0) + ' ' + item.currency"
              class="color-green">2</b>
            <p *ngIf="filter.cpc" [innerHtml]="(item?.cpc?.toFixed(2) || 0) + ' ' + item.currency"></p>
          </td>
          <td *ngIf="filter.revenues || filter.goalName">
            <b *ngIf="filter.revenues" [innerHtml]="(item?.revenue?.toFixed(2) || 0) + ' ' + item.currency"
              class="color-green">52.34</b>
            <p [hidden]="!filter.goalName" [innerHtml]="item.goalName"></p>
          </td>
        </tr>
      </table-body>

      <table-control *ngIf="statistics?.items.length" [filter]="filter" [pagination]="statistics">
      </table-control>

      <table-total [title]="'Total General'">
        <tr>
          <td *ngIf="filter.date || filter.hour">
          </td>
          <td *ngIf="filter.clicks || filter.backUrlClicks">
          </td>
          <td class="fake-table__cell big-cell" *ngIf="filter.offerId || filter.offerName">
          </td>
          <td *ngIf="filter.countries || filter.platforms">
          </td>
          <td *ngIf="filter.conversions || filter.cr">
          </td>
          <td *ngIf="filter.cpa || filter.cpc">
          </td>
          <td *ngIf="filter.revenues || filter.goalName">
            <strong *ngIf="filter.revenues"
              [innerHtml]="statistics?.data?.total[0].amount + ' ' + statistics?.data?.total[0].currency"
              class="color-green">52.34</strong>
          </td>
        </tr>
      </table-total>

    </ng-container>

    <app-no-data *ngIf="!statistics?.items?.length && !loading"></app-no-data>

  </page-body>

</full-page>

<app-loader [loading]="loading"></app-loader>
