<form [formGroup]="eventPostbackForm" (keydown.enter)="$event.preventDefault()">
  <div class="add-email__items">
    <div class="createOffer__input add-email__item"
         formArrayName="postbacks"
         *ngFor="let item of eventPostbackForm['controls'].postbacks['controls']; let $index = index;">
      <ng-container [formGroupName]="$index">
        <app-goals-select formControlName="goalId" [selectPlaceholder]="''"></app-goals-select>
        <input-text formControlName="url"></input-text>
        <button type="button" class="createOffer__input_delete-btn" (click)="removeFromFormArray('postbacks', $index)"></button>
        <button type="button" class="pub-item__plus" (click)="addEvent()">+</button>
      </ng-container>
    </div>
  </div>
  <div class="add-email__controls">
    <button class="add-email__cancel" type="button" (click)="closeModal()">Cancel</button>
    <button class="add-email__save btn btn-ok" type="button" (click)="submitForm()" [disabled]="eventPostbackForm.invalid">Save</button>
  </div>
</form>
