<card>
  <card-body>

    <img *ngIf="logo" [src]="logo" class="logoInLogin" alt="">

    <h1 class="mb-4">Log-in</h1>

    <form novalidate [formGroup]="login" (submit)="onSignIn()">

      <input-text class="mb-2" placeholder="Email" formControlName="email"></input-text>

      <password class="mb-2" placeholder="Password" formControlName="password"></password>

      <switcher formControlName="role" *ngIf="!withParam">
        <switcher-btn name="role" [value]="'manager'">Manager</switcher-btn>
        <switcher-btn name="role" [value]="'publisher'">Publisher</switcher-btn>
      </switcher>

      <btn class="mt-4 mb-3" size="lg" [block]="true" [type]="'submit'">Login</btn>

      <p class="text-center">
        <a routerLink="/forgot-password" class="inline-link">Forgot Password?</a>
      </p>

      <checkbox formControlName="_tos" [@openClose]="showTerms ? 'open' : 'closed'">
        I agree with the
        <a href="https://orangear.com/terms" target="_blank" rel="noopener">terms of use</a>
        and
        <a href="https://orangear.com/privacy" target="_blank" rel="noopener">privacy policy</a>
      </checkbox>

    </form>

  </card-body>

  <app-loader [loading]="loading"></app-loader>
</card>
