.h-1px {
  height: 1px !important;
}

.min-h-100 {
  min-height: 100%;
}

.max-h-100 {
  max-height: 100%;
}

.h-100vh {
  height: 100vh;
}

.min-h-100vh {
  min-height: 100vh;
}

.max-h-100vh {
  min-height: 100vh;
}

.min-h-auto {
  min-height: auto !important;
}

.max-h-auto {
  min-height: auto !important;
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.h-inherit {
  height: inherit !important;
}

.h-auto {
  height: auto !important;
}

.mw-100 {
  max-width: 100% !important;
}

.mw-50 {
  max-width: 50% !important;
}
.w-80px {
  width: 80px;
}
.w-130px {
  width: 130px;
}
.w-150px {
  width: 150px;
}
.w-200px {
  width: 200px;
}
.max-w-80px {
  max-width: 80px;
}
