<app-filter #filterComponent>
  <ng-container filter-header>
    <timezone-select [(ngModel)]="filter.timezone"></timezone-select>
  </ng-container>

  <ng-container filter-content>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-12">
            <form-label>{{ "dynamicReports.breakdown" | translate }}</form-label>
          </div>
          <div class="col">
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.date" [trueValue]="1" [falseValue]="0">
                {{ "dynamicReports.date" | translate }}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.resale_name" [trueValue]="1" [falseValue]="0">
                {{ "dynamicReports.resaleName" | translate }}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.group_name" [trueValue]="1" [falseValue]="0">
                {{ "dynamicReports.groupName" | translate }}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.adv_name" [trueValue]="1" [falseValue]="0">
                {{ "dynamicReports.advertiserName" | translate }}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.month" [trueValue]="1" [falseValue]="0">
                {{ "dynamicReports.month" | translate }}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.pub_id" [trueValue]="1" [falseValue]="0">
                {{ "dynamicReports.pubID" | translate }}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.hour" [trueValue]="1" [falseValue]="0">
                {{ "dynamicReports.hour" | translate }}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.countries" [trueValue]="1" [falseValue]="0">
                {{ "dynamicReports.geography" | translate }}</checkbox>
            </div>
          </div>
          <div class="col">
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.platforms" [trueValue]="1" [falseValue]="0">
                {{ "dynamicReports.platforms" | translate }}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.pub_name" [trueValue]="1" [falseValue]="0">
                {{ "dynamicReports.publisherName" | translate }}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.pub_man" [trueValue]="1" [falseValue]="0">
                {{ "dynamicReports.affiliateManager" | translate }}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.adv_man" [trueValue]="1" [falseValue]="0">
                {{ "dynamicReports.accountManager" | translate }}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.non_zero_revenue" [trueValue]="1" [falseValue]="0">
                {{ "dynamicReports.nonZeroRevenue" | translate }}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.adv_id" [trueValue]="1" [falseValue]="0">
                {{ "dynamicReports.advertiserID" | translate }}</checkbox>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <form-label>{{ "dynamicReports.applications" | translate }}</form-label>
        <div class="mb-2">
          <app-countries-select [(ngModel)]="filter.countries_codes"
            [selectPlaceholder]="'dynamicReports.countriesSelect' | translate"></app-countries-select>
        </div>
        <div class="mb-2">
          <app-group-urls-select [(ngModel)]="filter.groups_ids"
            [selectPlaceholder]="'dynamicReports.groupsIds' | translate"></app-group-urls-select>
        </div>
        <div class="mb-2">
          <app-platforms-select [(ngModel)]="filter.platforms_names"
            [selectPlaceholder]="'dynamicReports.platformsSelect' | translate"></app-platforms-select>
        </div>
        <div class="mb-2">
          <input-text type="text" [(ngModel)]="filter.sub_aff_id" [placeholder]="'Sub Aff ID'"></input-text>
        </div>
      </div>
      <div class="col">
        <form-label>{{ "dynamicReports.type" | translate }}</form-label>
        <div class="mb-2">
          <app-multy-live-select [apiUrl]="filterUrls.advertisers" [multiple]="true" [(ngModel)]="filter.adv_ids"
            [selectPlaceholder]="'dynamicReports.advertiserIDSelect' | translate"></app-multy-live-select>
        </div>
        <div class="mb-2">
          <app-multy-live-select [apiUrl]="filterUrls.managers" [multiple]="true" [(ngModel)]="filter.man_ids"
            [selectPlaceholder]="'dynamicReports.managerNamesSelect' | translate"></app-multy-live-select>
        </div>
      </div>
      <div class="col">
        <form-label>&nbsp;</form-label>
        <div class="mb-2">
          <currency-select [placeholder]="'Currency'" [(ngModel)]="filter.total_currency" [clearable]="true">
          </currency-select>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="slider" [ngClass]="{'open': additionalFilterIsOpen}">
        <div class="slider-btn slider-btn-more" (click)="toggleAdditionalFilter()" translate="dynamicReports.more">More
        </div>
        <div class="slider-content">
          <div class="col">
            <form-label>{{ "dynamicReports.dataColumns" | translate }}</form-label>
            <div class="row">
              <div class="col">
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.clicks" [trueValue]="1" [falseValue]="0">
                    {{ "dynamicReports.clicks" | translate }}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.pub_cr" [trueValue]="1" [falseValue]="0">
                    {{ "dynamicReports.pubsCR" | translate }}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.rpc" [trueValue]="1" [falseValue]="0">
                    {{ "dynamicReports.RPC" | translate }}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.conv" [trueValue]="1" [falseValue]="0">
                    {{ "dynamicReports.conversions" | translate }}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.costs" [trueValue]="1" [falseValue]="0">
                    {{ "dynamicReports.costs" | translate }}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.pub_conv" [trueValue]="1" [falseValue]="0">
                    {{ "dynamicReports.pubsConversions" | translate }}</checkbox>
                </div>
              </div>
              <div class="col">
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.revenues" [trueValue]="1" [falseValue]="0">
                    {{ "dynamicReports.revenues" | translate }}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.cpa" [trueValue]="1" [falseValue]="0">
                    {{ "dynamicReports.CPA" | translate }}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.pub_cpa" [trueValue]="1" [falseValue]="0">
                    {{ "dynamicReports.pubsCPA" | translate }}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.profit" [trueValue]="1" [falseValue]="0">
                    {{ "dynamicReports.profit" | translate }}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.cpc" [trueValue]="1" [falseValue]="0">
                    {{ "dynamicReports.CPC" | translate }}</checkbox>
                </div>
                <div class="mb-1">
                  <checkbox [(ngModel)]="filter.cr" [trueValue]="1" [falseValue]="0">
                    {{ "dynamicReports.CR" | translate }}</checkbox>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="mt-3 mb-1">
              <checkbox [(ngModel)]="filter.duplicates" [trueValue]="1" [falseValue]="0">
                {{ "dynamicReports.duplicates" | translate:{symbol:''} }}</checkbox>
            </div>
            <div class="mb-1">
              <checkbox [(ngModel)]="filter.duplicates_perc" [trueValue]="1" [falseValue]="0">
                {{ "dynamicReports.duplicates" | translate:{symbol:'%'} }}</checkbox>
            </div>
          </div>
        </div>
        <div class="slider-btn slider-btn-less" (click)="toggleAdditionalFilter()" translate="">
          {{ "dynamicReports.less" | translate }}</div>
      </div>
    </div>
  </ng-container>

  <ng-container filter-footer>
    <btn [simple]="true" (click)="resetFilters(); close()">{{ "dynamicReports.reset" | translate }}</btn>
    <btn (click)="applyFilters();">{{ "dynamicReports.apply" | translate }}</btn>
  </ng-container>

</app-filter>
