<card>

  <card-body>

    <img *ngIf="logo" [src]="logo" class="logoInLogin">

    <h1 class="mb-4">Registration</h1>

    <switcher class="mb-4" [(ngModel)]="role">
      <switcher-btn name="publisher" [value]="'publisher'">Publisher</switcher-btn>
    </switcher>

    <form name="registration" [formGroup]="user" (submit)="submitRegistration()" disableAutocomplete>

      <input-text class="mb-2" [placeholder]="'User Name'" formControlName="username"></input-text>
      <input-text class="mb-2" [placeholder]="'Email'" formControlName="email"></input-text>
      <input-text class="mb-2" [placeholder]="'Phone'" formControlName="phone"></input-text>
      <input-text class="mb-2" [placeholder]="'Company'" formControlName="company" *ngIf="role === 'advertiser'"></input-text>

      <country-select class="mb-2" formControlName="countryCode" [placeholder]="'Country'"></country-select>

      <input-text class="mb-2" [placeholder]="'Zip'" formControlName="zipcode"></input-text>
      <input-text class="mb-2" [placeholder]="'Region/State'" formControlName="state"></input-text>
      <input-text class="mb-2" [placeholder]="'City'" formControlName="city"></input-text>
      <input-text class="mb-2" [placeholder]="'Address'" formControlName="address"></input-text>
      <input-text *ngIf="role === 'publisher'" class="mb-2" [placeholder]="'Traffic source'" formControlName="affiliateSource"></input-text>

      <password class="mb-2" [placeholder]="'Password'" formControlName="password"></password>
      <password class="mb-4" [placeholder]="'Confirm Password'" formControlName="confirmPassword"></password>

      <checkbox formControlName="aggreements">
        I agree with the
        <a href="https://orangear.com/terms" target="_blank" rel="noopener">terms of use</a>
        and
        <a href="https://orangear.com/privacy" target="_blank" rel="noopener">privacy policy</a>
      </checkbox>

      <div class="text-center" *ngIf="user.invalid">
        <app-validation-message [control]="user"></app-validation-message>
      </div>

      <btn class="mb-4 mt-2" size="lg" [block]="true" [type]="'submit'">Registration</btn>

      <p class="text-center">
        <a routerLink="/login" class="url-link inline-link" style="font-size: 12px">Cancel</a>
      </p>

    </form>

    <app-loader [loading]="loading"></app-loader>

  </card-body>

</card>
