<div class="actions">
  <span class="actions-toggle"
        [popover]="popoverContent"
        [placement]="'bottom-end'"
        [distance]="0"
        #popover="popover">
  </span>
</div>

<ng-template #popoverContent>
  <div class="actions-options" (click)="popover.hide()">
    <ng-content></ng-content>
  </div>
</ng-template>
