<div class="owl-single-picker-container"
     [class.to-right]="position === 'right'"
     #pickerHtml>

  <input type="text"
         [value]="inputValue"
         (blur)="setInputValue($event.target.value)"
         (click)="showPicker()"
         [disabled]="disabled"
         *ngIf="inputType"
         #dateInput>

  <label class="interval-sel-toggle" (click)="showPicker()" *ngIf="!inputType">
    Show: <span class="datepicker-dates">{{ inputValue }}</span>
  </label>

  <div class="owl-single-picker" *ngIf="isOpened">

    <div>
      <owl-date-time-inline [(ngModel)]="dateTime" [pickerType]="'calendar'"></owl-date-time-inline>
    </div>

    <div class="owl-single-picker-btns">
      <button type="button" class="btn btn-lightgray" (click)="resetPicker()">Cancel</button>
      <button type="button" class="btn btn-success" (click)="applyChanges()">Apply</button>
    </div>

  </div>

</div>
