<card>
  <card-header>
    <h4>{{ "dashboard.payouts" | translate }}</h4>
  </card-header>

  <card-body [rounded]="true" *ngIf="chartData.data.length">
    <app-linear-chart [datasets]="[chartData]" [labels]="chartLabels" [labelCallback]="labelTransformCallback"></app-linear-chart>
  </card-body>
</card>
