@import "variables";
@import "mixin";

//.card {
//  &-header {
//    min-height: rem(40);
//    height: 1px;
//    padding: rem(4, 12);
//  }
//
//  &-body {
//    padding: rem(16, 12);
//  }
//}

card {
  height: 100%;
}

:host {
  ::ng-deep {
    .card {
      height: 100%;
    }

    .card-body {
      padding: rem(16, 12);
    }
  }
}
