<div class="page scrollable" perfectScrollbar>
  <div *ngFor="let form of settings.items">
    <form class="create-pub" (ngSubmit)="saveSettings(form)">
      <div class="create-pub__top">
        <div class="create-pub__name" [innerHtml]="form.name"></div>
      </div>
      <div class="create-pub__content">
        <div class="create-pub__item pub-item" *ngFor="let item of form.settings; let $index = index"
          [ngClass]="{'widePubItem': item.type === 9}">
          <label class="createOffer__label">
            {{item.name}}
            <span class="css-popover" data-placement="bottom">
              <i class="fa fa-info-circle" *ngIf="item.name === 'Publisher API request limit'"></i>
              <span class="css-popover-content" translate="core.publisherAPIRequestLimit">
              </span>
            </span>
            <span class="css-popover" data-placement="bottom">
              <i class="fa fa-info-circle" *ngIf="item.name === 'Company Logo'"></i>
              <span class="css-popover-content" translate="core.recommendedForCompanyLogo">
              </span>
            </span>
          </label>
          <div class="createOffer__input" [class.createOffer__input_invalid]="errors[item.id]">
            <div class="createOffer__input" *ngIf="item.typeValue === 'text'">
              <input type="{{item.typeValue}}" step="any" min="0" [(ngModel)]="item.value" placeholder="{{item.name}}"
                [ngModelOptions]="{standalone: true}">
              <div class="createOffer__input__error-message css-popover" appCssPopover *ngIf="errors[item.id]">
                <div class="error server css-popover-content">
                  {{errors[item.id]}}
                </div>
              </div>
            </div>
            <div class="createOffer__input" *ngIf="item.typeValue === 'number'">
              <input type="{{item.typeValue}}" step="any" min="0" [(ngModel)]="item.value" placeholder="{{item.name}}"
                [ngModelOptions]="{standalone: true}">
              <div class="createOffer__input__error-message css-popover" appCssPopover *ngIf="errors[item.id]">
                <div class="error server css-popover-content">
                  {{errors[item.id]}}
                </div>
              </div>
            </div>
            <div *ngIf="item.typeValue === 'email'">
              <input type="{{item.typeValue}}" [(ngModel)]="item.value" placeholder="{{item.name}}"
                [ngModelOptions]="{standalone: true}">

              <div class="createOffer__input__error-message css-popover" appCssPopover *ngIf="errors[item.id]">
                <div class="error server css-popover-content">
                  {{errors[item.id]}}
                </div>
              </div>
            </div>
            <div class="createOffer__input" *ngIf="item.typeValue === 'password'">
              <input type="{{item.typeValue}}" [(ngModel)]="item.value" placeholder="{{item.name}}"
                [ngModelOptions]="{standalone: true}">
            </div>
            <div class="createOffer__input w-auto d-flex align-items-center justify-content-center"
              *ngIf="item.type === 9">
              <label class="btn upload-btn-wrapper">
                <span>Upload a file</span>
                <app-upload-file [fileSize]="1572864"
                  [accept]="['image/jpeg','image/jpg','image/png', 'image/vnd.microsoft.icon', 'image/x-icon']"
                  (value)="setLogo($event, item, item.name === 'Company favicon')" [reset]="item.value">
                </app-upload-file>
              </label>
              <div class="previewLogo" *ngIf="item.value">
                <figure>
                  <img [src]="item.payload.baseUri + item.value" alt="" class="companyLogo">
                </figure>
                <button type="button" (click)="removeLogo(item, item.name === 'Company favicon')">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <div class="createOffer__input" *ngIf="item.typeValue === 'date'">
              <label class="datepicker-single-field">
                <span class="current" [innerHtml]="item.value"></span>
              </label>
              <date-picker [(ngModel)]="item.value"></date-picker>
            </div>

            <div class="createOffer__input" *ngIf="item.typeValue === 'datetime'">
              <date-time-picker [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}" [minDate]="today">
              </date-time-picker>
            </div>

            <div class="createOffer__input" *ngIf="item.type === 8">
              <timezone-select *ngIf="item.payload.src === 'settings/timezones'" [(ngModel)]="item.value"
                [ngModelOptions]="{standalone: true}"></timezone-select>
              <app-managers-select *ngIf="item.payload.src === 'settings/managers'" [multiple]="false"
                [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}"></app-managers-select>
            </div>
            <div class="createOffer__input pub-item" *ngIf="item.typeValue === 'checkbox'">
              <checkbox [(ngModel)]="item.value" [name]="item.name"></checkbox>
            </div>
            <div class="createOffer__input" *ngIf="item.typeValue === 'select'">
              <div class="select-field">
                <timezone-select *ngIf="item.payload.src === 'settings/timezones'" [(ngModel)]="item.value"
                  [ngModelOptions]="{standalone: true}"></timezone-select>
                <app-managers-select *ngIf="item.payload.src === 'settings/managers'" [multiple]="false"
                  [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}"></app-managers-select>
              </div>
            </div>

            <div class="createOffer__input" *ngIf="item.typeValue === 'multiSelect'">
              <div class="select-field">
                <app-distribution-type-select [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}"
                  [multiple]="true" [clearable]="true"
                  [selectPlaceholder]="'manageOffers.offersSelect.distributionType' | translate">
                </app-distribution-type-select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="create-pub__bottom">
        <div class="create-pub__controls">
          <button type="submit" class="btn btn-ok create-pub__create">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
