<full-page>

  <page-head [horisontalAligment]="'justify-content-end'">
    <div class="col-auto">
      <btn (click)="newScheduleRow()">
        <i class="fa fa-plus mr-2" aria-hidden="true"></i>
        {{ "scheduler.create" | translate }}
      </btn>
    </div>
  </page-head>

  <page-body tableSync>
    <table-head [separated]="true">
      <tr>
        <th>
          <p>{{ "scheduler.task" | translate }}</p>
          <p>{{ "scheduler.status" | translate }}</p>
          <p>{{ "scheduler.lastExecution" | translate }}</p>
        </th>
        <th>
          <p>{{ "scheduler.name" | translate }}</p>
        </th>
        <th>
          <p>{{ "scheduler.minute" | translate }}</p>
        </th>
        <th>
          <p>{{ "scheduler.hour" | translate }}</p>
        </th>
        <th>
          <p>{{ "scheduler.day" | translate }}</p>
        </th>
        <th>
          <p>{{ "scheduler.month" | translate }}</p>
        </th>
        <th>
          <p>{{ "scheduler.dayOfWeek" | translate }}</p>
        </th>
        <th>
          <p>{{ "scheduler.params" | translate }}</p>
        </th>
        <th>
          <p>{{ "scheduler.disabled" | translate }}</p>
        </th>
        <th>
          <p>Repeat after fail</p>
        </th>
        <th></th>
      </tr>
    </table-head>
    <table-body [separated]="true">
      <tr *ngIf="addSchedule">
        <td>
          <ng-select [items]="scheduleCommands" bindLabel="id" bindValue="id"
                     [(ngModel)]="newSchedule.command">
          </ng-select>
        </td>
        <td>
          <input-text title="name" [(ngModel)]="newSchedule.name"></input-text>
        </td>
        <td>
          <input-text title="minutes" [(ngModel)]="newSchedule.cronArray[0]"></input-text>
        </td>
        <td>
          <input-text title="hours" [(ngModel)]="newSchedule.cronArray[1]"></input-text>
        </td>
        <td>
          <input-text title="days" [(ngModel)]="newSchedule.cronArray[2]"></input-text>
        </td>
        <td>
          <input-text title="months" [(ngModel)]="newSchedule.cronArray[3]"></input-text>
        </td>
        <td>
          <input-text title="days of week" [(ngModel)]="newSchedule.cronArray[4]"></input-text>
        </td>
        <td>
          <input-text title="days of week" [(ngModel)]="newSchedule.arguments"></input-text>
        </td>
        <td>
          <checkbox [(ngModel)]="newSchedule.disabled"></checkbox>
        </td>
        <td>
          <checkbox [(ngModel)]="newSchedule.repeatAfterFail"></checkbox>
        </td>

        <td>
          <btn-icon type="info" icon="floppy-o" (click)="saveNewSchedule()" [popover]="'scheduler.save' | translate"></btn-icon>
          <div class="mb-1"></div>
          <btn-icon type="danger" icon="trash-o" (click)="clearNewSchedule()" [popover]="'scheduler.delete' | translate"></btn-icon>
        </td>
      </tr>

      <tr *ngFor="let obj of schedule; let $index = index;">
        <td>
          <p [innerHtml]="obj.command"></p>
          <badge [success]="obj.status === 2" [danger]="obj.status === 3" [warning]="obj.status === 1"
                 [size]="'sm'" [popover]="'Task status'">
            <span *ngIf="obj.status === 1">In progress</span>
            <span *ngIf="obj.status === 2">Done</span>
            <span *ngIf="obj.status === 3">Failed</span>
          </badge>
          <p [innerHtml]="obj.lastExecution | timezone:'MM/dd/yyyy'"></p>
          <p [innerHtml]="obj.lastExecution | timezone:'HH:mm:ss'"></p>
        </td>
        <td>
          <input-text title="name" [(ngModel)]="obj.name"></input-text>
        </td>
        <td>
          <input-text title="minutes" [(ngModel)]="obj.cronArray[0]"></input-text>
        </td>
        <td>
          <input-text title="hours" [(ngModel)]="obj.cronArray[1]"></input-text>
        </td>
        <td>
          <input-text title="days" [(ngModel)]="obj.cronArray[2]"></input-text>
        </td>
        <td>
          <input-text title="months" [(ngModel)]="obj.cronArray[3]"></input-text>
        </td>
        <td>
          <input-text title="days of week" [(ngModel)]="obj.cronArray[4]"></input-text>
        </td>
        <td>
          <input-text *ngIf="obj.argumentsType === 1" title="days of week" [(ngModel)]="obj.arguments"></input-text>
          <btn (click)="openArgumentsModal(obj.arguments, obj.id)" *ngIf="obj.argumentsType === 2">Set</btn>
        </td>
        <td>
          <checkbox [(ngModel)]="obj.disabled"></checkbox>
        </td>
        <td>
          <checkbox [(ngModel)]="obj.repeatAfterFail"></checkbox>
        </td>
        <td>
          <btn-icon type="info" icon="floppy-o" (click)="updateSchedule(obj)" [popover]="'scheduler.save' | translate"></btn-icon>
          <div class="mb-1"></div>
          <btn-icon type="danger" icon="trash-o" (click)="deleteSchedule(obj.id, $index)" [popover]="'scheduler.delete' | translate"></btn-icon>
          <div class="mb-1"></div>
          <btn-icon type="success" icon="play" (click)="runSchedule(obj.id, $index)" [popover]="'scheduler.play' | translate" *hasPermission="['run_scheduler_task']"></btn-icon>
        </td>
      </tr>

    </table-body>

  </page-body>

</full-page>

<app-loader [loading]="loading"></app-loader>

<modal #argumentsModal size="lg">

  <modal-header>Auto-approve offers of the selected publishers to selected advertisers</modal-header>

  <modal-body>
    <form (ngSubmit)="updateArguments()" *ngIf="argumentsModal.isOpen">
      <div class="row align-items-end" *ngFor="let obj of extendsArguments.data; let $index = index;">
        <div class="col-3">
          <form-label>Publishers</form-label>
          <app-publishers-select [(ngModel)]="obj.publisherIds" data-placeholder="Publishers"
                                 [ngModelOptions]="{standalone: true}"></app-publishers-select>
        </div>
        <div class="col-3">
          <form-label>Advertisers</form-label>
          <app-advertisers-select [(ngModel)]="obj.advertiserIds"
                                  [ngModelOptions]="{standalone: true}"></app-advertisers-select>
        </div>
        <div class="col-auto">
          <btn (click)="addPairArguments()">
            <i class="fa fa-close mr-1"></i>
            Add pair</btn>
        </div>
        <div class="col-auto">
          <btn [danger]="true" (click)="removePairArguments($index)">
            <i class="fa fa-close mr-1"></i>
            Remove pair</btn>
        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <btn [simple]="true" (click)="argumentsModal.close()">Cancel</btn>
    <btn (click)="updateArguments()">Save</btn>
  </modal-footer>

</modal>
