<perfect-scrollbar class="page scrollable" perfectScrollbar (click)="closeRangeFilter()">
  <!-- BEGIN income -->
  <div class="income pub-income">
    <!-- BEGIN income__item -->
    <div class="income__item">
      <div class="income__title" translate="dashboard.income"></div>
      <div class="income__line">
        <div class="income__cell">
          <div class="income__panel income__panel_light-blue" [innerHtml]="totalOffers[1]+' '+currency"></div>
          <div class="income__date">
            <span translate="dashboard.today"></span>
          </div>
        </div>
        <div class="income__cell">
          <div class="income__panel income__panel_blue" [innerHtml]="totalOffers[2]+' '+currency"></div>
          <div class="income__date">
            <span translate="dashboard.yesterday"></span>
          </div>
        </div>
        <div class="income__cell">
          <div class="income__panel income__panel_gray" [innerHtml]="totalOffers[3]+' '+currency"></div>
          <div class="income__date">
            <span translate="dashboard.last7days"></span>
          </div>
        </div>
        <div class="income__cell">
          <div class="income__panel income__panel_green" [innerHtml]="totalOffers[4]+' '+currency"></div>
          <div class="income__date">
            <span translate="dashboard.thisMonth"></span>
          </div>
        </div>
        <div class="income__cell">
          <div class="income__panel income__panel_yellow" [innerHtml]="totalOffers[5]+' '+currency"></div>
          <div class="income__date">
            <span translate="dashboard.lastMonth"></span>
          </div>
        </div>
        <div class="income__cell">
          <div class="income__panel income__panel_red" [innerHtml]="totalOffers[6]+' '+currency"></div>
          <div class="income__date">
            <span translate="dashboard.allTime"></span>
          </div>
        </div>
      </div>
    </div>
    <!-- END income__item  -->
  </div>
  <!-- END income  -->
  <!-- BEGIN dash -->
  <div class="dash pub-dash" style="margin-top: 16px">
    <!-- BEGIN dash -->
    <div class="dash__item dash-payouts">
      <app-payouts [period]="period"></app-payouts>
    </div>

    <div class="dash__item dash-payouts">
      <app-conversions [period]="period"></app-conversions>
    </div>
  </div>
  <!-- END dash  -->

  <app-geography *ngIf="currency" [currency]="currency" [period]="period"></app-geography>

  <!-- BEGIN dash -->
  <div class="dash pub-dash" style="margin-top:16px">
    <div class="dash__item dash-payouts">
      <div class="dash-item__top">
        <div class="dash-item__title" translate="dashboard.topRanked"></div>
      </div>
      <div class="dash-item__body">
        <app-bar-chart [data]="offerChartParams"></app-bar-chart>
      </div>
    </div>
    <div class="dash__item">
      <!-- BEGIN top-offers -->
      <div class="dash-ranked dash-item">
        <div class="dash-item__top">
          <div class="dash-item__title" translate="dashboard.topOffers"></div>
        </div>
        <div class="dash-item__body">
          <div style="text-align: center; font-size: 14px; padding-top: 10px;" *ngIf="topOffers.length === 0"
            translate="dashboard.noItems"></div>
          <div class="dash-ranked__items" perfectScrollbar>
            <div class="dash-ranked__item" *ngFor="let offer of topOffers;let $index = index;">
              <div class="dash-ranked__name">
                <div class="dash-ranked__ico" style="max-width: 55px;">
                  <img *ngIf="!offer.thumbUrl" src="assets/images/user-ico1.png">
                  <img *ngIf="offer.thumbUrl" [src]="offer.thumbUrl">
                </div>
                <a class="clickable" [routerLink]="['/', 'publisher', 'offers', 'detail', offer.id]">
                  <strong [innerHtml]="offer.name"></strong>
                </a>
              </div>
              <div class="dash-ranked__prise">
                <strong>{{offer.payouts.amountsForFront}}</strong>
                <strong>{{offer.payouts.amountPercentsForFront}}</strong>
                <button class="btn" (click)="showOfferInfo(offer.id)">
                  <i class="fa fa-info"></i>
                </button>
              </div>
            </div>
          </div>
          <a [routerLink]="['/', 'publisher', 'offers']" class="dash-ranked__btn">
            <span translate="dashboard.more"></span>
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <!-- END top-offers  -->
    </div>

  </div>

  <!-- Loading spinner -->
  <app-loader [loading]="loading"></app-loader>
  <!-- Loading spinner -->
</perfect-scrollbar>

<modal #descriptionModal size="xlg">

  <modal-header>{{ "dashboard.offersQuickInfo" | translate }}</modal-header>

  <modal-body *ngIf="descriptionModal.isOpen">
    <div class="clr">
      <div class="thumb-icon pull-left" style="margin-right: 16px">
        <img [src]="offer.thumbUrl">
      </div>
      <div class="big-font pull-left">
        <span class="semi-bold inline-block" [innerHtml]="offer.name"></span>
        <br>
        <label class="label label-lightgray label-no-margin" [innerHtml]="offer.id"></label>
        <br>
        <span class="small-font" translate="dashboard.viewFullDetails"></span>
      </div>
      <div class="pull-right">
        <div class="inline-block css-popover" appCssPopover *ngIf="offer.approvalRequired && !offer.offerApproval"
          (click)="approveOffersRequest(offer.id)">
          <button class="btn btn-warning">
            <i class="fa fa-shopping-cart"></i>
            <span translate="dashboard.requestOffer">Request offer</span>
          </button>
          <span class="css-popover-content" translate="dashboard.pressRequestOffer">Press to request offer</span>
        </div>
        <ng-container *ngIf="offer.offerApproval">
          <label class="label label-lightgray" *ngIf="offer.offerApproval.status === 1 && offer.approvalRequired"
            translate="dashboard.pendingApproval">Pending approval</label>
          <label class="label label-lightgray" *ngIf="offer.offerApproval.status === 3 && !offer.approvalRequired"
            translate="dashboard.lockedOffer">Offer is locked</label>
          <label class="label label-yellow" *ngIf="offer.offerApproval.status === 3 && offer.approvalRequired"
            translate="dashboard.requestDeclined">
            Request declined</label>
          <div class="inline-block css-popover" appCssPopover
            *ngIf="(offer.offerApproval.status === 2 && offer.approvalRequired) || !offer.approvalRequired">
            <a [routerLink]="['/', 'publisher', 'offers', 'detail', offer.id]" class="btn btn-ok">
              <i class="fa fa-volume-up"></i>
              <span translate="dashboard.promote">Promote</span>
            </a>
            <span class="css-popover-content" translate="dashboard.viewOfferDetail">View offer detail and grab
              tracking links</span>
          </div>
        </ng-container>
      </div>
    </div>
    <br />
    <perfect-scrollbar class="scrollable-text position-relative">
      <div class="p-2 pr-3">
        <span [innerHtml]="offer.description"></span>
        <p *ngFor="let item of offer.descriptionFlow;let $index = index;">
          <span *ngIf="$index" [innerHtml]="$index + '. '"></span>
          <span [innerHtml]="item"></span>
        </p>
      </div>
    </perfect-scrollbar>
    <br />
    <div class="flex quick-info">
      <div class="quick-info__left">
        <table class="quick-info__table">
          <tr>
            <td translate="dashboard.infoBox.categories">Categories</td>
            <td>
              <label class="label label-info">Games</label>
            </td>
          </tr>
          <tr>
            <td translate="dashboard.infoBox.approval">Approval</td>
            <td>
              <label class="label label-lightgray"
                [innerHtml]="offer.approvalRequired ? 'Required': 'Not Required'"></label>
            </td>
          </tr>
          <tr>
            <td translate="dashboard.expirationDate">Expiration date</td>
            <td>
              <span class="semi-bold">{{offer.expirationDate | dateFormat}}</span>
              <label class="label label-lightgray">{{getExpirationDaysLeft(offer.expirationDate)}} days
                left</label>
            </td>
          </tr>
          <tr>
            <td translate="dashboard.landingPage">Landing page</td>
            <td>
              <a [href]="offer.previewUrl" class="blue-color" style="text-decoration: none">Preview
                <i class="fa fa-link"></i>
              </a>
            </td>
          </tr>
        </table>
        <!-- BEGIN approval-goals -->
        <div class="approval-goals pub-approval-goals">
          <div class="approval-goals__top">
            <div class="approval-goals__name">
              <span translate="dashboard.infoBox.goals">Goals</span>
              <span [innerHtml]="offer.goals.length"></span>
            </div>
          </div>

          <input type="checkbox" class="approval-goals__checkbox" id="approval-goals__checkbox">
          <label class="approval-goals__trigger" for="approval-goals__checkbox">
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </label>
          <!-- BEGIN approval-goals__items -->
          <div class="approval-goals__items">
            <!-- BEGIN approval-goals__item -->
            <div class="approval-goals__item" *ngFor="let goal of offer.goals">
              <div class="approval-goals__item-line">
                <div class="approval-goals__item-name" translate="dashboard.infoBox.goalName">
                  Goal name
                </div>
                <div class="approval-goals__item-cell lgreen" [innerHtml]="goal.name">
                </div>
              </div>
              <div class="approval-goals__item-line">
                <div class="approval-goals__item-name" translate="dashboard.infoBox.payout">
                  Payout
                </div>
                <div class="approval-goals__item-cell">
                  <span class="red semi-bold">
                    <span [innerHtml]="goal.publisherPayout.amount"></span>
                    <span [innerHtml]="goal.publisherPayout.currency" *ngIf="!goal.dynamicPayout"></span>
                    <span *ngIf="goal.dynamicPayout">%</span>
                  </span>
                </div>
              </div>
              <div class="approval-goals__item-line" *ngIf="goal.excludeCountries">
                <div class="approval-goals__item-name" translate="dashboard.infoBox.geography">Geography
                </div>
                <div class="approval-goals__item-cell">
                  <label class="label label-yellow css-popover" *ngFor="let country of goal.countries">
                    <span [innerHtml]="'-'+country.code"></span>
                    <span class="css-popover-content" [innerHtml]="country.name"></span>
                  </label>
                </div>
              </div>

              <div class="approval-goals__item-line" *ngIf="!goal.excludeCountries">
                <div class="approval-goals__item-name" translate="dashboard.infoBox.geography">Geography</div>
                <div class="approval-goals__item-cell">
                  <label class="label label-white css-popover" *ngFor="let country of goal.countries">
                    <span [innerHtml]="country.code"></span>
                    <span class="css-popover-content" [innerHtml]="country.name"></span>
                  </label>
                </div>
              </div>

              <div class="approval-goals__item-line">
                <div class="approval-goals__item-name" translate="dashboard.infoBox.platform">Platform</div>
                <div class="approval-goals__item-cell">
                  <span *ngFor="let platform of goal.platforms">
                    <span [innerHtml]="platform.platform"></span>
                    <span *ngIf="platform.version" [innerHtml]="platform.version"></span>
                  </span>
                </div>
              </div>
              <div class="approval-goals__item-line">
                <div class="approval-goals__item-name" translate="dashboard.infoBox.capsDailyMonthly">caps Daily
                  Monthly
                </div>
                <div class="approval-goals__item-cell" [innerHtml]="goal.cap.daily+'/'+goal.cap.monthly"></div>
              </div>
            </div>
            <!-- END approval-goals__item  -->
          </div>
          <!-- END approval-goals__items  -->
        </div>
        <!-- END approval-goals  -->
      </div>

      <div class="quick-info__right">
        <div class="quick-info__title semi-bold" translate="dashboard.infoBox.restrictedTraffic">
          Restricted traffic
        </div>
        <label class="label label-yellow" *ngFor="let item of offer.restrictedTraffic" [innerHtml]="item.name"></label>
        <br>
        <br>
        <div class="quick-info__title semi-bold" *ngIf="offer.allowedTraffic.length"
          translate="dashboard.infoBox.allowedTraffic">
          Allowed traffic
        </div>
        <label class="label label-info" *ngFor="let item of offer.allowedTraffic" [innerHtml]="item.name"></label>
      </div>
    </div>
  </modal-body>

  <modal-footer *ngIf="descriptionModal.isOpen">
    <btn (click)="toggleDescriptionModal()">{{ "dashboard.close" | translate }}</btn>
    <btn [routerLink]="['/', 'publisher', 'offers', 'detail', offer.id]">{{ "dashboard.offerDetails" | translate }}
    </btn>
  </modal-footer>

</modal>



<!-- <card>
  <card-body [rounded]="true">
    <div class="row">
      <div class="col-12">
        <h4>{{ "dashboard.income" | translate }}</h4>
        <div class="badges">
          <div>
            <badge [primary]="true" size="xl">{{ totalOffers[1]+' '+currency}}</badge>
            <p>{{ 'dashboard.today' | translate }}</p>
          </div>
          <div>
            <badge [info]="true" size="xl">{{ totalOffers[2]+' '+currency}}</badge>
            <p>{{ 'dashboard.yesterday' | translate }}</p>
          </div>
          <div>
            <badge [secondary]="true" size="xl">{{ totalOffers[3]+' '+currency}}</badge>
            <p>{{ 'dashboard.last7days' | translate }}</p>
          </div>
          <div>
            <badge [success]="true" size="xl">{{ totalOffers[4]+' '+currency}}</badge>
            <p>{{ 'dashboard.thisMonth' | translate }}</p>
          </div>
          <div>
            <badge [warning]="true" size="xl">{{ totalOffers[5]+' '+currency}}</badge>
            <p>{{ 'dashboard.lastMonth' | translate }}</p>
          </div>
          <div>
            <badge [danger]="true" size="xl">{{ totalOffers[6]+' '+currency}}</badge>
            <p>
              <strong>{{ 'dashboard.allTime' | translate }}</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </card-body>
</card>

<card class="mt-3">
  <card-body [rounded]="true">
    <div class="row">
      <div class="col">
        <app-payouts [period]="period"></app-payouts>
      </div>
      <div class="col">
        <app-conversions [period]="period"></app-conversions>
      </div>
    </div>
  </card-body>
</card>

<card class="mt-3">
  <card-body [rounded]="true">
    <div class="row">
      <div class="col">
        <app-geography *ngIf="currency" [currency]="currency" [period]="period"></app-geography>
      </div>
    </div>
  </card-body>
</card>

<card class="mt-3">
  <card-body [rounded]="true">
    <div class="row">
      <div class="col">
        <div class="dash-item__top">
          <div class="dash-item__title" translate="dashboard.topRanked"></div>
        </div>
        <div class="dash-item__body">
          <app-bar-chart [data]="offerChartParams"></app-bar-chart>
        </div>
      </div>
      <div class="col">
        <div class="dash__item">
          <div class="dash-ranked dash-item">
            <div class="dash-item__top">
              <div class="dash-item__title" translate="dashboard.topOffers"></div>
            </div>
            <div class="dash-item__body">
              <div style="text-align: center; font-size: 14px; padding-top: 10px;" *ngIf="topOffers.length === 0"
                translate="dashboard.noItems"></div>
              <div class="dash-ranked__items" perfectScrollbar>
                <div class="dash-ranked__item" *ngFor="let offer of topOffers;let $index = index;">
                  <div class="dash-ranked__name">
                    <div class="dash-ranked__ico" style="max-width: 55px;">
                      <img *ngIf="!offer.thumbUrl" src="assets/images/user-ico1.png">
                      <img *ngIf="offer.thumbUrl" [src]="offer.thumbUrl">
                    </div>
                    <a class="clickable" [routerLink]="['/', 'publisher', 'offers', 'detail', offer.id]">
                      <strong [innerHtml]="offer.name"></strong>
                    </a>
                  </div>
                  <div class="dash-ranked__prise">
                    <strong>{{offer.payouts.amountsForFront}}</strong>
                    <strong>{{offer.payouts.amountPercentsForFront}}</strong>
                    <button class="btn" (click)="showOfferInfo(offer.id)">
                      <i class="fa fa-info"></i>
                    </button>
                  </div>
                </div>
              </div>
              <a [routerLink]="['/', 'publisher', 'offers']" class="dash-ranked__btn">
                <span translate="dashboard.more"></span>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </card-body>
</card>


<app-loader [loading]="loading"></app-loader>


<modal #descriptionModal size="xlg">
  <modal-header>{{ "dashboard.offersQuickInfo" | translate }}</modal-header>
  <modal-body *ngIf="descriptionModal.isOpen">
    <div class="clr">
      <div class="thumb-icon pull-left" style="margin-right: 16px">
        <img [src]="offer.thumbUrl">
      </div>
      <div class="big-font pull-left">
        <span class="semi-bold inline-block" [innerHtml]="offer.name"></span>
        <br>
        <label class="label label-lightgray label-no-margin" [innerHtml]="offer.id"></label>
        <br>
        <span class="small-font" translate="dashboard.viewFullDetails"></span>
      </div>
      <div class="pull-right">
        <div class="inline-block css-popover" appCssPopover *ngIf="offer.approvalRequired && !offer.offerApproval"
          (click)="approveOffersRequest(offer.id)">
          <button class="btn btn-warning">
            <i class="fa fa-shopping-cart"></i>
            <span translate="dashboard.requestOffer">Request offer</span>
          </button>
          <span class="css-popover-content" translate="dashboard.pressRequestOffer">Press to request offer</span>
        </div>
        <ng-container *ngIf="offer.offerApproval">
          <label class="label label-lightgray" *ngIf="offer.offerApproval.status === 1 && offer.approvalRequired"
            translate="dashboard.pendingApproval">Pending approval</label>
          <label class="label label-lightgray" *ngIf="offer.offerApproval.status === 3 && !offer.approvalRequired"
            translate="dashboard.lockedOffer">Offer is locked</label>
          <label class="label label-yellow" *ngIf="offer.offerApproval.status === 3 && offer.approvalRequired"
            translate="dashboard.requestDeclined">
            Request declined</label>
          <div class="inline-block css-popover" appCssPopover
            *ngIf="(offer.offerApproval.status === 2 && offer.approvalRequired) || !offer.approvalRequired">
            <a [routerLink]="['/', 'publisher', 'offers', 'detail', offer.id]" class="btn btn-ok">
              <i class="fa fa-volume-up"></i>
              <span translate="dashboard.promote">Promote</span>
            </a>
            <span class="css-popover-content" translate="dashboard.viewOfferDetail">View offer detail and grab
              tracking links</span>
          </div>
        </ng-container>
      </div>
    </div>
    <br />
    <perfect-scrollbar class="scrollable-text position-relative">
      <div class="p-2 pr-3">
        <span [innerHtml]="offer.description"></span>
        <p *ngFor="let item of offer.descriptionFlow;let $index = index;">
          <span *ngIf="$index" [innerHtml]="$index + '. '"></span>
          <span [innerHtml]="item"></span>
        </p>
      </div>
    </perfect-scrollbar>
    <br />
    <div class="flex quick-info">
      <div class="quick-info__left">
        <table class="quick-info__table">
          <tr>
            <td translate="dashboard.infoBox.categories">Categories</td>
            <td>
              <label class="label label-info">Games</label>
            </td>
          </tr>
          <tr>
            <td translate="dashboard.infoBox.approval">Approval</td>
            <td>
              <label class="label label-lightgray"
                [innerHtml]="offer.approvalRequired ? 'Required': 'Not Required'"></label>
            </td>
          </tr>
          <tr>
            <td translate="dashboard.expirationDate">Expiration date</td>
            <td>
              <span class="semi-bold">{{offer.expirationDate | dateFormat}}</span>
              <label class="label label-lightgray">{{getExpirationDaysLeft(offer.expirationDate)}} days
                left</label>
            </td>
          </tr>
          <tr>
            <td translate="dashboard.landingPage">Landing page</td>
            <td>
              <a [href]="offer.previewUrl" class="blue-color" style="text-decoration: none">Preview
                <i class="fa fa-link"></i>
              </a>
            </td>
          </tr>
        </table>
        <div class="approval-goals pub-approval-goals">
          <div class="approval-goals__top">
            <div class="approval-goals__name">
              <span translate="dashboard.infoBox.goals">Goals</span>
              <span [innerHtml]="offer.goals.length"></span>
            </div>
          </div>
          <input type="checkbox" class="approval-goals__checkbox" id="approval-goals__checkbox">
          <label class="approval-goals__trigger" for="approval-goals__checkbox">
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </label>
          <div class="approval-goals__items">
            <div class="approval-goals__item" *ngFor="let goal of offer.goals">
              <div class="approval-goals__item-line">
                <div class="approval-goals__item-name" translate="dashboard.infoBox.goalName">
                  Goal name
                </div>
                <div class="approval-goals__item-cell lgreen" [innerHtml]="goal.name">
                </div>
              </div>
              <div class="approval-goals__item-line">
                <div class="approval-goals__item-name" translate="dashboard.infoBox.payout">
                  Payout
                </div>
                <div class="approval-goals__item-cell">
                  <span class="red semi-bold">
                    <span [innerHtml]="goal.publisherPayout.amount"></span>
                    <span [innerHtml]="goal.publisherPayout.currency" *ngIf="!goal.dynamicPayout"></span>
                    <span *ngIf="goal.dynamicPayout">%</span>
                  </span>
                </div>
              </div>
              <div class="approval-goals__item-line" *ngIf="goal.excludeCountries">
                <div class="approval-goals__item-name" translate="dashboard.infoBox.geography">Geography
                </div>
                <div class="approval-goals__item-cell">
                  <label class="label label-yellow css-popover" *ngFor="let country of goal.countries">
                    <span [innerHtml]="'-'+country.code"></span>
                    <span class="css-popover-content" [innerHtml]="country.name"></span>
                  </label>
                </div>
              </div>
              <div class="approval-goals__item-line" *ngIf="!goal.excludeCountries">
                <div class="approval-goals__item-name" translate="dashboard.infoBox.geography">Geography</div>
                <div class="approval-goals__item-cell">
                  <label class="label label-white css-popover" *ngFor="let country of goal.countries">
                    <span [innerHtml]="country.code"></span>
                    <span class="css-popover-content" [innerHtml]="country.name"></span>
                  </label>
                </div>
              </div>
              <div class="approval-goals__item-line">
                <div class="approval-goals__item-name" translate="dashboard.infoBox.platform">Platform</div>
                <div class="approval-goals__item-cell">
                  <span *ngFor="let platform of goal.platforms">
                    <span [innerHtml]="platform.platform"></span>
                    <span *ngIf="platform.version" [innerHtml]="platform.version"></span>
                  </span>
                </div>
              </div>
              <div class="approval-goals__item-line">
                <div class="approval-goals__item-name" translate="dashboard.infoBox.capsDailyMonthly">caps Daily
                  Monthly
                </div>
                <div class="approval-goals__item-cell" [innerHtml]="goal.cap.daily+'/'+goal.cap.monthly"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="quick-info__right">
        <div class="quick-info__title semi-bold" translate="dashboard.infoBox.restrictedTraffic">
          Restricted traffic
        </div>
        <label class="label label-yellow" *ngFor="let item of offer.restrictedTraffic" [innerHtml]="item.name"></label>
        <br>
        <br>
        <div class="quick-info__title semi-bold" *ngIf="offer.allowedTraffic.length"
          translate="dashboard.infoBox.allowedTraffic">
          Allowed traffic
        </div>
        <label class="label label-info" *ngFor="let item of offer.allowedTraffic" [innerHtml]="item.name"></label>
      </div>
    </div>
  </modal-body>

  <modal-footer *ngIf="descriptionModal.isOpen">
    <btn (click)="toggleDescriptionModal()">{{ "dashboard.close" | translate }}</btn>
    <btn [routerLink]="['/', 'publisher', 'offers', 'detail', offer.id]">{{ "dashboard.offerDetails" | translate }}
    </btn>
  </modal-footer>

</modal> -->
