@import "mixin";

.card-body {
  max-width: rem(700);
}

.createOffer__input input {
  z-index: 0;
}

.create-pub .createOffer__input {
  //width: 100%;
}

.createOffer__input input[type='number'] {
  max-width: 200px;
}

.css-popover[data-popover='true'] {
  .css-popover-content {
    z-index: 3;
  }
}
