<div class="d-flex flex-column position-relative">
  <!-- BEGIN create-pub -->
  <form class="card" #form="ngForm" [appScrollToFirstErrorInput]="errors" [formGroup]="integrationForm"
    (ngSubmit)="manageIntegration()">

    <div class="card-header">
      <h4 class="card-title">Manage Integration</h4>
    </div>

    <div class="card-body">

      <div class="form-group">
        <!-- <label class="createOffer__label createOffer__label_required">Advertiser</label> -->
        <app-form-label class="col-4" [required]="true">Advertiser</app-form-label>
        <div class="col-8 createOffer__input" [ngClass]="{'createOffer__input_invalid': form.submitted && integrationForm.controls['advertiserId'].invalid}">
          <app-advertisers-select style="width: 100%" [multiple]="false" formControlName="advertiserId"
            [selectPlaceholder]="'Select Advertiser'"></app-advertisers-select>
          <app-validation-message [control]="integrationForm.get('advertiserId')"></app-validation-message>
        </div>
      </div>

      <div class="form-groups" formGroupName="credentials">
        <div class="form-overlay">
          <div class="form-group">
            <app-form-label class="col-4" [required]="true">Platform</app-form-label>
            <div class="col-8 createOffer__input" [ngClass]="{'createOffer__input_invalid': form.submitted && integrationForm.controls['credentials'].controls['platform'].invalid}">
              <app-integrations-platforms-select style="width: 100%" [multiple]="false" formControlName="platform"></app-integrations-platforms-select>
              <app-validation-message [control]="integrationForm.get('credentials').get('platform')"></app-validation-message>
            </div>
          </div>
          <div class="form-group">
            <label class="col-4 createOffer__label createOffer__label_required">Login
              <span class="css-popover" appCssPopover data-popover="true" *ngIf="additionalInfo">
              <i class="fa fa-info-circle"></i>
              <span class="css-popover-content">
                {{additionalInfo.login}}
              </span>
            </span>
            </label>
            <app-input-text class="col-8" formControlName="login" (ngModelChange)="checkForUpdate()"></app-input-text>
          </div>
          <div class="form-group">
            <label class="col-4 createOffer__label createOffer__label_required">Password
              <span class="css-popover" appCssPopover data-popover="true" *ngIf="additionalInfo">
              <i class="fa fa-info-circle"></i>
              <span class="css-popover-content">
                {{additionalInfo.password}}
              </span>
            </span>
            </label>
            <app-input-text class="col-8" formControlName="password" (ngModelChange)="checkForUpdate()"></app-input-text>
          </div>
        </div>
        <hr style="border: none;" />
        <div class="form-overlay-btn">
          <button class="btn" type="button" [ngClass]="{'btn-success': integrationVerify === true, 'btn-error': integrationVerify === false}"
                  (click)="testCredentials(integrationForm.controls['credentials'].value)" [disabled]="loading">
            Test Credentials
            <span class="btn-ajax-icon" *ngIf="loading"></span>
            <span class="btn-success-icon" *ngIf="integrationVerify === true"></span>
            <span class="btn-error-icon" *ngIf="integrationVerify === false"></span>
          </button>
        </div>
      </div>

      <div class="form-groups">
        <div class="form-group">
          <app-form-label class="col-4">Goal Auto Disable Period.</app-form-label>
          <ng-select class="col-8 w-100" [items]="autoDisabledPeriod" bindLabel="label" bindValue="value" formControlName="autoPausePeriod"
                     [clearable]="true" [placeholder]="'Never'"></ng-select>
        </div>
        <div class="form-group">
          <app-form-label class="col-4">Enabled</app-form-label>
          <div class="col-8">
            <app-switcher class="d-block w-80px" formControlName="enabled">
              <app-switch-btn name="enabled" [value]="true"><span translate="switch.yes"></span></app-switch-btn>
              <app-switch-btn name="enabled" [value]="false"><span translate="switch.no"></span></app-switch-btn>
            </app-switcher>
          </div>
        </div>
        <div class="form-group">
          <app-form-label class="col-4">Auto Changes</app-form-label>
          <div class="col-8">
            <app-switcher class="d-block w-80px" formControlName="autoChanges">
              <app-switch-btn name="autoChanges" [value]="true"><span translate="switch.yes"></span></app-switch-btn>
              <app-switch-btn name="autoChanges" [value]="false"><span translate="switch.no"></span></app-switch-btn>
            </app-switcher>
          </div>
        </div>
      </div>

      <ng-container formGroupName="autoImport">
        <div class="form-group">
          <app-form-label class="col-4">Auto Import</app-form-label>
          <div class="col-8">
            <app-switcher class="d-block w-80px" formControlName="autoImportEnabled">
              <app-switch-btn name="autoImportEnabled" [value]="true"><span translate="switch.yes"></span></app-switch-btn>
              <app-switch-btn name="autoImportEnabled" [value]="false"><span translate="switch.no"></span></app-switch-btn>
            </app-switcher>
          </div>
        </div>
        <div class="form-group">
          <app-form-label class="col-4">Offer Status</app-form-label>
          <div class="col-8">
            <ng-select [items]="offerStatuses" bindLabel="name" bindValue="id" formControlName="offerStatus"
                       [clearable]="false" class="w-100"></ng-select>
          </div>
        </div>
        <div class="form-group">
          <app-form-label class="col-4">Default tag</app-form-label>
          <div class="col-8">
            <ng-select [items]="tags" bindLabel="name" bindValue="id" formControlName="defaultTagId" [clearable]="false"
                       class="w-100"></ng-select>
          </div>
        </div>
        <div class="form-group">
          <app-form-label class="col-4">Margin</app-form-label>
          <app-input-number class="col-8" formControlName="margin"></app-input-number>
        </div>
        <div class="form-group">
          <app-form-label class="col-4">Currency</app-form-label>
          <currency-select class="col-3" formControlName="currency" [clearable]="true"></currency-select>
        </div>
        <div class="form-group">
          <app-form-label class="col-4">Min Price</app-form-label>
          <app-input-number class="col-8" [submitted]="form.submitted" formControlName="minPrice"></app-input-number>
        </div>
        <div class="form-group">
          <app-form-label class="col-4">Max Price</app-form-label>
          <app-input-number class="col-8" [submitted]="form.submitted" formControlName="maxPrice"></app-input-number>
        </div>
        <div class="form-group">
          <app-form-label class="col-4">Adding Immediate Offer Pause Text</app-form-label>
          <div class="col-8">
            <app-switcher class="d-block w-80px" formControlName="addPauseText">
              <app-switch-btn name="addPauseText" [value]="true"><span translate="switch.yes"></span></app-switch-btn>
              <app-switch-btn name="addPauseText" [value]="false"><span translate="switch.no"></span></app-switch-btn>
            </app-switcher>
          </div>
        </div>
        <div class="form-group">
          <app-form-label class="col-4">Convert Non-Incent to Incent</app-form-label>
          <div class="col-8">
            <app-switcher class="d-block w-80px" formControlName="convertNonIncentToIncent">
              <app-switch-btn name="convertNonIncentToIncent" [value]="true"><span translate="switch.yes"></span></app-switch-btn>
              <app-switch-btn name="convertNonIncentToIncent" [value]="false"><span translate="switch.no"></span></app-switch-btn>
            </app-switcher>
          </div>
        </div>
        <div class="form-group">
          <app-form-label class="col-4">Delete Offer Description</app-form-label>
          <div class="col-8">
            <app-switcher class="d-block w-80px" formControlName="deleteDescription">
              <app-switch-btn name="deleteDescription" [value]="true"><span translate="switch.yes"></span></app-switch-btn>
              <app-switch-btn name="deleteDescription" [value]="false"><span translate="switch.no"></span></app-switch-btn>
            </app-switcher>
          </div>
        </div>
        <div class="form-group">
          <app-form-label class="col-4">Geo</app-form-label>
          <app-countries-select class="col-8" formControlName="geo"></app-countries-select>
        </div>
        <div class="form-group">
          <app-form-label class="col-4">Restrictions for Incent Offers</app-form-label>
          <div class="col-8">
            <ng-select [items]="restrictions" bindLabel="name" bindValue="id" [multiple]="true" formControlName="restrictionsForIncent"
              class="w-100">
            </ng-select>
          </div>
        </div>
        <div class="form-group">
          <app-form-label class="col-4">Restrictions for Non Incent Offers</app-form-label>
          <div class="col-8">
            <ng-select [items]="restrictions" bindLabel="name" bindValue="id" [multiple]="true" formControlName="restrictionsForNonIncent"
              class="w-100">
            </ng-select>
          </div>
        </div>
        <div class="form-group">
          <app-form-label class="col-4">Platforms</app-form-label>
          <div class="col-8">
            <ng-select [items]="platformNames" [multiple]="true" formControlName="platforms" class="w-100">
            </ng-select>
          </div>
        </div>
      </ng-container>

      <ng-container>
        <div class="form-group">
          <app-form-label class="col-4">Required Approval</app-form-label>
          <div class="col-8">
            <app-switcher class="d-block w-80px" formControlName="approvalRequired">
              <app-switch-btn name="approvalRequired" [value]="true"><span translate="switch.yes"></span></app-switch-btn>
              <app-switch-btn name="approvalRequired" [value]="false"><span translate="switch.no"></span></app-switch-btn>
            </app-switcher>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="isCheckerEnabled">
        <div class="form-group">
          <app-form-label class="col-4">Auto Suspend Enabled</app-form-label>
          <div class="col-8">
            <app-switcher class="d-block w-80px" formControlName="autoSuspendEnabled">
              <app-switch-btn name="autoSuspendEnabled" [value]="true" (change)="changeAutoSuspendEnabled(integrationForm.get('autoSuspendEnabled'), integrationForm.get('autoSuspendFailedChecksCount'))"><span
                translate="switch.yes"></span></app-switch-btn>
              <app-switch-btn name="autoSuspendEnabled" [value]="false" (change)="changeAutoSuspendEnabled(integrationForm.get('autoSuspendEnabled'), integrationForm.get('autoSuspendFailedChecksCount'))"><span
                translate="switch.no"></span></app-switch-btn>
            </app-switcher>
          </div>
        </div>
        <div class="form-group">
          <app-form-label class="col-4">Fail Checks for Auto Suspend</app-form-label>
          <div class="col-8">
            <div class="createOffer__input" [ngClass]="{
              'createOffer__input_invalid': integrationForm.get('autoSuspendFailedChecksCount')?.touched && integrationForm.get('autoSuspendFailedChecksCount')?.invalid
            }">
              <app-input-number formControlName="autoSuspendFailedChecksCount"></app-input-number>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="form-group">
        <app-form-label class="col-4">Period</app-form-label>
        <div class="col-8">
          <app-input-number formControlName="period" [submitted]="form.submitted"></app-input-number>
          <div class="pub-item__tip">
            <span>i</span>
            <div class="pub-item__text">In minutes, min - 5, max - 60</div>
          </div>
        </div>
      </div>

    </div>

    <div class="card-footer">
      <a class="btn btn-link" [routerLink]="['/', 'manager', 'offers', 'integrations']">Cancel</a>
      <button type="submit" class="btn" *ngIf="!integrationId">Create Integration</button>
      <button type="submit" class="btn" *ngIf="integrationId">Update Integration</button>
    </div>

  </form>

</div>
