<card>
  <card-header>Badges</card-header>

  <card-body>

    <h4>Types</h4>
    <div class="row">
      <div class="col">
        <badge>Lorem ipsum.</badge>
      </div>
      <div class="col">
        <badge [primary]="true">Lorem ipsum.</badge>
      </div>
      <div class="col">
        <badge [info]="true">Lorem ipsum.</badge>
      </div>
      <div class="col">
        <badge [success]="true">Lorem ipsum.</badge>
      </div>
      <div class="col">
        <badge [warning]="true">Lorem ipsum.</badge>
      </div>
      <div class="col">
        <badge [danger]="true">Lorem ipsum.</badge>
      </div>
      <div class="col">
        <badge [simple]="true">Lorem ipsum.</badge>
      </div>
      <div class="col">
        <badge [secondary]="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, molestias!</badge>
      </div>
      <div class="col">
        <badge class="d-block w-130px" [truncate]="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, molestias!</badge>
      </div>
    </div>

    <h4 class="mt-3">Size</h4>
    <div class="row">
      <div class="col">
        <badge class="mr-3" size="xs">Badge</badge>
        <badge class="mr-3" size="sm">Badge</badge>
        <badge class="mr-3" size="md">Badge</badge>
        <badge class="mr-3" size="lg">Badge</badge>
        <badge class="mr-3" size="xl">Badge</badge>
      </div>
    </div>

  </card-body>

</card>
