.fake-table__cell:nth-child(1),
.fake-table__head:nth-child(1) {
  width: 5%;
}

.fake-table__cell:nth-child(2),
.fake-table__head:nth-child(2),
.fake-table__cell:nth-child(3),
.fake-table__head:nth-child(3),
.fake-table__cell:nth-child(4),
.fake-table__head:nth-child(4),
.fake-table__cell:nth-child(5),
.fake-table__head:nth-child(5),
.fake-table__cell:nth-child(6),
.fake-table__head:nth-child(6),
.fake-table__cell:nth-child(7),
.fake-table__head:nth-child(7) {
  width: 16%;
}

.external-filers__col {
  width: 23%;
  padding-right: 24px;
}

.external-filers__box .inp.inp-check {
   margin-top: 0; 
}