<full-page>

  <page-head class="pb-4">
    <div class="col"></div>
    <div class="col-auto">
      <div class="d-flex align-items-center">

        <date-range-picker
          [startDate]="params.dateFrom"
          [endDate]="params.dateTo"
          (onApply)="calendarCallback($event)">
        </date-range-picker>

        <btn class="ml-3" size="lg" [simple]="true" (click)="filterComponent.toggle()">
          Filter
          <i class="fa fa-filter ml-1"></i>
        </btn>
      </div>

    </div>

    <app-filter #filterComponent>
      <ng-container filter-content>
        <div class="row">
          <div class="col-3">
            <div class="mb-2">
              <form-label>Actions</form-label>
              <app-multy-live-select
                [apiUrl]="'/billing_logger/publisher_invoice/actions'"
                [bindLabel]="'name'"
                [bindValue]="'id'"
                [(ngModel)]="params.actionsIds">
              </app-multy-live-select>
            </div>
            <div class="mb-2">
              <form-label>Invoice Number</form-label>
              <tags-input [(ngModel)]="params.invoicesNumbers"></tags-input>
            </div>
          </div>
          <div class="col-3">
            <div class="mb-2">
              <form-label>Managers</form-label>
              <manager-select [multiple]="true" [(ngModel)]="params.managersIds"></manager-select>
            </div>
            <div class="mb-2">
              <form-label>Publishers</form-label>
              <publisher-select [multiple]="true" [(ngModel)]="params.publishersIds"></publisher-select>
            </div>
          </div>
          <div class="col-3">
            <div class="mb-2">
              <form-label>Action executor</form-label>
              <ng-select
                [multiple]="false"
                [items]="systems"
                [(ngModel)]="params.isSystem"
                bindLabel="name"
                bindValue="id">
              </ng-select>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container filter-footer>

        <btn [simple]="true" (click)="resetFilters(); filterComponent.close()">Reset</btn>
        <btn (click)="applyFilters(); filterComponent.close()">Apply</btn>

      </ng-container>
    </app-filter>
  </page-head>

  <page-body  tableSync [data]="logs?.items">

    <ng-container *ngIf="logs?.items?.length">

      <table-head>
        <tr>
          <th>#</th>
          <th><b (click)="sortByField('date')">Date</b></th>
          <th>
            <b (click)="sortByField('managerId')">Manager ID</b>
            <span>Manager</span>
          </th>
          <th>
            <span>Publisher ID</span><br/>
            <span>Publisher</span>
          </th>
          <th>Invoice number</th>
          <th>
            <b (click)="sortByField('action')">Action</b>
            <span>Is System</span>
          </th>
          <th>Details</th>
        </tr>
      </table-head>

      <table-body [separated]="true">
        <tr *ngFor="let log of logs.items">
          <td>
            <badge [simple]="true" [truncate]="true" [popover]="log?.id">{{ log?.id }}</badge>
          </td>
          <td>
            <strong>{{ log?.createdAt | dateFormatDynamic:true }}</strong>
          </td>
          <td>
            <badge [simple]="true" [popover]="log?.manager?.id" *ngIf="log?.manager">{{ log?.manager?.name }}</badge>
          </td>
          <td>
            <badge [simple]="true" [popover]="log?.publisher?.id">{{ log?.publisher?.name }}</badge>
          </td>
          <td>{{ log?.invoiceNumber }}</td>
          <td>
            <span>{{ log?.action | publisherActionName }}</span><br>
            <badge [primary]="true" *ngIf="log?.isSystem">System</badge>
          </td>
          <td>
            <btn size="xs" [outline]="true" (click)="showDetailsPopup('open', log)">Details</btn>
          </td>
        </tr>
      </table-body>

      <!--   TODO - Эту конструкцию можно будет поменять на table-control после рефакторинга ts   -->
      <div class="row pt-3 justify-content-end table-control">
        <div class="col-auto">
          <page-control>
            <table-limit [limit]="logs.limit" (changedLimit)="tableLimit($event)"></table-limit>
            <table-pagination [page]="logs.page" [totalPages]="logs.totalPages" (currentPage)="goToPage($event)"></table-pagination>
          </page-control>
        </div>
      </div>

    </ng-container>

    <app-no-data *ngIf="!logs.items.length && !loading"></app-no-data>

  </page-body>

</full-page>

<app-loader [loading]="loading"></app-loader>

<modal #detailsModal size="xlg">

  <modal-header>Details</modal-header>

  <modal-body>

    <div class="offerDataWrapp">
      <div class="offerManage-modal__line">
        <div class="offerManage-modal__title">Old Data</div>
      </div>
      <ngx-json-viewer [json]="oldData"></ngx-json-viewer>
    </div>
    <div class="offerDataWrapp">
      <div class="offerManage-modal__line">
        <div class="offerManage-modal__title">New Data</div>
      </div>
      <ngx-json-viewer [json]="newData"></ngx-json-viewer>
    </div>

  </modal-body>

</modal>
