<app-filter #filterComponent>
  <ng-container filter-content>

    <div class="row">
      <div class="col-3">
        <div class="mb-2">
          <form-label>{{ "advManage.status" | translate }}</form-label>
          <ng-select [(ngModel)]="filter.status"
                     [items]="(advertisersStatuses$ | async)?.items"
                     bindLabel="name"
                     bindValue="id"
                     [clearable]="false"
                     [placeholder]="'advManage.status' | translate">
          </ng-select>
        </div>

        <div class="mb-2">
          <form-label>{{ "advManage.manager" | translate }}</form-label>
          <app-managers-select [(ngModel)]="filter.managersIds" [selectPlaceholder]="'advManage.manager' | translate"></app-managers-select>
        </div>

        <div class="mb-2">
          <form-label>{{ "advManage.firstName" | translate }}</form-label>
          <input-text [placeholder]="'advManage.firstName' | translate" [(ngModel)]="filter.firstName"></input-text>
        </div>

        <div class="mb-2">
          <form-label>{{ "advManage.lastName" | translate }}</form-label>
          <input-text [placeholder]="'advManage.lastName' | translate" [(ngModel)]="filter.lastName"></input-text>
        </div>
      </div>

      <div class="col-3">
        <div class="mb-2">
          <form-label>{{ "advManage.username" | translate }}</form-label>
          <input-text [placeholder]="'advManage.username' | translate" [(ngModel)]="filter.username"></input-text>
        </div>

        <div class="mb-2">
          <form-label>{{ "advManage.email" | translate }}</form-label>
          <input-text [placeholder]="'advManage.email' | translate" [(ngModel)]="filter.email"></input-text>
        </div>

        <div class="mb-2">
          <form-label>{{ "advManage.skype" | translate }}</form-label>
          <input-text [placeholder]="'advManage.skype' | translate" [(ngModel)]="filter.skype"></input-text>
        </div>

      </div>

      <div class="col-3">
        <div class="mb-2">
          <form-label>{{ "advManage.address" | translate }}</form-label>
          <input-text [placeholder]="'advManage.address' | translate" [(ngModel)]="filter.address"></input-text>
        </div>

        <div class="mb-2">
          <form-label>{{ "advManage.countriesCodes" | translate }}</form-label>
          <country-select [(ngModel)]="filter.countriesCodes"
                          [multiple]="true"
                          [clearable]="true"
                          [placeholder]="'advManage.countriesCodes' | translate">
          </country-select>
        </div>

        <div class="mb-2">
          <form-label>{{ "advManage.zipcode" | translate }}</form-label>
          <input-text [placeholder]="'advManage.zipcode' | translate" [(ngModel)]="filter.zipcode"></input-text>
        </div>

      </div>

      <div class="col-3">
        <div class="mb-2">
          <form-label>{{ "advManage.phone" | translate }}</form-label>
          <input-text [placeholder]="'advManage.phone' | translate" [(ngModel)]="filter.phone"></input-text>
        </div>

        <div class="mb-2">
          <form-label>{{ "advManage.notes" | translate }}</form-label>
          <input-text [placeholder]="'advManage.notes' | translate" [(ngModel)]="filter.notes"></input-text>
        </div>

        <div class="mb-2">
          <form-label>{{ "advManage.url" | translate }}</form-label>
          <input-text [placeholder]="'advManage.url' | translate" [(ngModel)]="filter.url"></input-text>
        </div>

      </div>
    </div>

  </ng-container>

  <ng-container filter-footer>

    <btn [simple]="true" (click)="resetFilters(); close()">Reset</btn>
    <btn (click)="applyFilters(); close()">Apply</btn>

  </ng-container>
</app-filter>
