<app-filter #filterComponent>
  <ng-container filter-header>
    <timezone-select [(ngModel)]="filter.timezone"></timezone-select>
  </ng-container>

  <ng-container filter-content>
    <div class="row">
      <div class="col">
        <div class="mb-1">
          <app-multy-live-select [apiUrl]="filterUrls.advertisers" [multiple]="true" [(ngModel)]="filter.advertisers"
            [selectPlaceholder]="'conversionReports.advertisers' | translate">
          </app-multy-live-select>
        </div>
        <div class="mb-1">
          <app-multy-live-select [apiUrl]="filterUrls.publishers" [multiple]="true" [(ngModel)]="filter.publishers"
            [selectPlaceholder]="'conversionReports.publishers' | translate">
          </app-multy-live-select>
        </div>
        <div class="mb-1">
          <country-select [(ngModel)]="filter.countries"
            [placeholder]="'conversionReports.countries' | translate"></country-select>
        </div>
      </div>
      <div class="col">
        <div class="mb-1">
          <app-platforms-select [(ngModel)]="filter.platforms"
            [selectPlaceholder]="'conversionReports.platforms' | translate"></app-platforms-select>
        </div>
      </div>
      <div class="col">
        <div class="mb-1">
          <input-text type="text" [placeholder]="'conversionReports.ip' | translate" [(ngModel)]="filter.ip">
          </input-text>
        </div>
        <div class="mb-1">
          <input-text type="text" [placeholder]="'conversionReports.convIp' | translate"
            [(ngModel)]="filter.conversionIp"></input-text>
        </div>
        <div class="mb-1">
          <input-text type="text" [placeholder]="'conversionReports.transactionId' | translate"
            [(ngModel)]="filter.transactionId"></input-text>
        </div>
        <div class="mb-1">
          <ng-select [(ngModel)]="filter.duplicate" [items]="duplicateList" bindValue="value" bindLabel="label"
            [placeholder]="'conversionReports.duplicate' | translate">
          </ng-select>
        </div>
      </div>
      <div class="col">
        <div class="mb-1">
          <input-text type="text" [placeholder]="'conversionReports.affiliateSub' | translate"
            [(ngModel)]="filter.affSub"></input-text>
        </div>
        <div class="mb-1">
          <input-text type="text" [placeholder]="'conversionReports.affiliateSub2' | translate"
            [(ngModel)]="filter.affSub2"></input-text>
        </div>
        <div class="mb-1">
          <input-text type="text" [placeholder]="'conversionReports.affiliateSub3' | translate"
            [(ngModel)]="filter.affSub3"></input-text>
        </div>
        <div class="mb-1">
          <input-text type="text" [placeholder]="'conversionReports.affiliateSub4' | translate"
            [(ngModel)]="filter.affSub4"></input-text>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container filter-footer>
    <btn [simple]="true" (click)="resetFilters(); close()">{{ "conversionReports.reset" | translate }}</btn>
    <btn (click)="applyFilters();">{{ "conversionReports.apply" | translate }}</btn>
  </ng-container>

</app-filter>
