<div class="page scrollable" perfectScrollbar>
  <div class="page-container">
    <div class="page-row page-row-min">
      <div class="page-cell">
        <!-- BEGIN page-nav-panel -->
        <form [formGroup]="filterForm" (ngSubmit)="applyFilter()">
          <div class="page-nav-panel">
            <div class="col">
              <div class="wrap-search">
                <app-search [search]="search" (submitSearch)="applyFilter($event)"></app-search>
              </div>
            </div>
            <!-- BEGIN external-filers -->
            <div class="external-filers" [ngClass]="{'external-filers_open': filterIsVisible}">
              <!-- BEGIN external-filers__top -->
              <div class="external-filers__top">
                <button type="button" class="external-filers__close" (click)="toggleFilterVisibility()">
                  <span translate="approvals.advanceSearch"></span>
                  <i class="fa fa-close"></i>
                </button>
              </div>
              <!-- END external-filers__top  -->
              <!-- BEGIN external-filers__content -->
              <div class="external-filers__content">
                <div class="external-filers__col">
                  <!-- BEGIN external-filers__box -->
                  <div class="external-filers__box">
                    <div class="external-filers__label-control">
                      <label class="createOffer__label" translate="approvals.publisher">Publisher</label>
                      <a class="external-filers__label-btn" (click)="resetFilter('publisherIds')">
                        <span translate="approvals.clear"></span>
                        <svg viewBox="0 0 24 24" version="1.1" x="0px" y="0px">
                          <g transform="translate(0,-1028.3622)">
                            <path d="M 1.4966617,1050.8532 22.503338,1029.8465" fill="none" stroke-width="4"
                              stroke-linecap="round" stroke-linejoin="round" stroke-opacity="1" stroke-miterlimit="4"
                              stroke-dasharray="none"></path>
                            <path d="M 22.503338,1050.8532 1.4966617,1029.8465" fill="none" stroke-width="4"
                              stroke-linecap="round" stroke-linejoin="round" stroke-opacity="1" stroke-miterlimit="4"
                              stroke-dasharray="none"></path>
                          </g>
                        </svg>
                      </a>
                    </div>
                    <div class="createOffer__select">
                      <div class="inp">
                        <div class="select-field">
                          <app-publishers-select [selectPlaceholder]="'approvals.multipleSelect' | translate"
                            formControlName="publisherIds"></app-publishers-select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END external-filers__box  -->

                  <!-- BEGIN external-filers__box -->
                  <div class="external-filers__box">
                    <div class="external-filers__label-control">
                      <label class="createOffer__label"
                        translate="approvals.publishersManager">publishersManager</label>
                      <a class="external-filers__label-btn" (click)="resetFilter('publisherManagerIds')">
                        <span translate="approvals.clear"></span>
                        <svg viewBox="0 0 24 24" version="1.1" x="0px" y="0px">
                          <g transform="translate(0,-1028.3622)">
                            <path d="M 1.4966617,1050.8532 22.503338,1029.8465" fill="none" stroke-width="4"
                              stroke-linecap="round" stroke-linejoin="round" stroke-opacity="1" stroke-miterlimit="4"
                              stroke-dasharray="none"></path>
                            <path d="M 22.503338,1050.8532 1.4966617,1029.8465" fill="none" stroke-width="4"
                              stroke-linecap="round" stroke-linejoin="round" stroke-opacity="1" stroke-miterlimit="4"
                              stroke-dasharray="none"></path>
                          </g>
                        </svg>
                      </a>
                    </div>
                    <div class="createOffer__select">
                      <div class="inp">
                        <div class="select-field">
                          <app-managers-select [selectPlaceholder]="'approvals.multipleSelect' | translate"
                            formControlName="publisherManagerIds"></app-managers-select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END external-filers__box  -->

                  <!-- BEGIN external-filers__box -->
                  <div class="external-filers__box">
                    <div class="external-filers__label-control">
                      <label class="createOffer__label">Sensitive</label>
                      <a class="external-filers__label-btn" (click)="resetFilter('sensitive')">
                        <span translate="approvals.clear"></span>
                        <svg viewBox="0 0 24 24" version="1.1" x="0px" y="0px">
                          <g transform="translate(0,-1028.3622)">
                            <path  d="M 1.4966617,1050.8532 22.503338,1029.8465" fill="none" stroke-width="4"
                              stroke-linecap="round" stroke-linejoin="round" stroke-opacity="1" stroke-miterlimit="4"
                              stroke-dasharray="none"></path>
                            <path d="M 22.503338,1050.8532 1.4966617,1029.8465" fill="none" stroke-width="4"
                              stroke-linecap="round" stroke-linejoin="round" stroke-opacity="1" stroke-miterlimit="4"
                              stroke-dasharray="none"></path>
                          </g>
                        </svg>
                      </a>
                    </div>
                    <div class="createOffer__select">
                      <div class="inp">
                        <div class="select-field">
                          <ng-select [items]="sensitives" bindLabel="label" bindValue="key" formControlName="sensitive">
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END external-filers__box  -->
                </div>
                <div class="external-filers__col">
                  <!-- BEGIN external-filers__box -->
                  <div class="external-filers__box">
                    <div class="external-filers__label-control">
                      <label class="createOffer__label" translate="approvals.advert">advertiserIds</label>
                      <a class="external-filers__label-btn" (click)="resetFilter('advertiserIds')">
                        <span translate="approvals.clear"></span>
                        <svg viewBox="0 0 24 24" version="1.1" x="0px" y="0px">
                          <g transform="translate(0,-1028.3622)">
                            <path d="M 1.4966617,1050.8532 22.503338,1029.8465" fill="none" stroke-width="4"
                              stroke-linecap="round" stroke-linejoin="round" stroke-opacity="1" stroke-miterlimit="4"
                              stroke-dasharray="none"></path>
                            <path d="M 22.503338,1050.8532 1.4966617,1029.8465" fill="none" stroke-width="4"
                              stroke-linecap="round" stroke-linejoin="round" stroke-opacity="1" stroke-miterlimit="4"
                              stroke-dasharray="none"></path>
                          </g>
                        </svg>
                      </a>
                    </div>
                    <div class="createOffer__select">
                      <div class="inp">
                        <div class="select-field">
                          <app-advertisers-select [selectPlaceholder]="'approvals.multipleSelect' | translate"
                            formControlName="advertiserIds"></app-advertisers-select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END external-filers__box  -->
                  <!-- BEGIN external-filers__box -->
                  <div class="external-filers__box">
                    <div class="external-filers__label-control">
                      <label class="createOffer__label" translate="approvals.advertManager">advertiserManagerIds</label>
                      <a class="external-filers__label-btn" (click)="resetFilter('advertiserManagerIds')">
                        <span translate="approvals.clear"></span>
                        <svg viewBox="0 0 24 24" version="1.1" x="0px" y="0px">
                          <g transform="translate(0,-1028.3622)">
                            <path d="M 1.4966617,1050.8532 22.503338,1029.8465" fill="none" stroke-width="4"
                              stroke-linecap="round" stroke-linejoin="round" stroke-opacity="1" stroke-miterlimit="4"
                              stroke-dasharray="none"></path>
                            <path d="M 22.503338,1050.8532 1.4966617,1029.8465" fill="none" stroke-width="4"
                              stroke-linecap="round" stroke-linejoin="round" stroke-opacity="1" stroke-miterlimit="4"
                              stroke-dasharray="none"></path>
                          </g>
                        </svg>
                      </a>
                    </div>

                    <div class="createOffer__select">
                      <div class="inp">
                        <div class="select-field">
                          <app-managers-select [selectPlaceholder]="'approvals.multipleSelect' | translate"
                            formControlName="advertiserManagerIds"></app-managers-select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END external-filers__box  -->
                </div>
                <div class="external-filers__col">
                  <!-- BEGIN external-filers__box -->
                  <div class="external-filers__box">
                    <div class="external-filers__label-control">
                      <label class="createOffer__label" translate="approvals.offer">offerIds</label>
                      <a class="external-filers__label-btn" (click)="resetFilter('offerIds')">
                        <span translate="approvals.clear"></span>
                        <svg viewBox="0 0 24 24" version="1.1" x="0px" y="0px">
                          <g transform="translate(0,-1028.3622)">
                            <path d="M 1.4966617,1050.8532 22.503338,1029.8465" fill="none" stroke-width="4"
                              stroke-linecap="round" stroke-linejoin="round" stroke-opacity="1" stroke-miterlimit="4"
                              stroke-dasharray="none"></path>
                            <path d="M 22.503338,1050.8532 1.4966617,1029.8465" fill="none" stroke-width="4"
                              stroke-linecap="round" stroke-linejoin="round" stroke-opacity="1" stroke-miterlimit="4"
                              stroke-dasharray="none"></path>
                          </g>
                        </svg>
                      </a>
                    </div>
                    <div class="createOffer__select">
                      <div class="inp">
                        <div class="select-field">
                          <app-offers-select [selectPlaceholder]="'approvals.multipleSelect' | translate"
                            formControlName="offerIds"></app-offers-select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END external-filers__box  -->
                  <!-- BEGIN external-filers__box -->
                  <div class="external-filers__box">
                    <div class="external-filers__label-control">
                      <label class="createOffer__label" translate="approvals.approvalStatus">statuses</label>
                    </div>
                    <div class="createOffer__select">
                      <div class="inp">
                        <div class="select-field">
                          <ng-select [placeholder]="'approvals.multipleSelect' | translate"
                            [items]="offerApprovalStatuses" bindLabel="name" bindValue="id" formControlName="statuses"
                            [multiple]="true">
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END external-filers__box  -->
                </div>
              </div>
              <!-- END external-filers__content  -->
              <!-- BEGIN external-filers__bottom -->
              <div class="external-filers__bottom">
                <button class="external-filers__cancel btn" (click)="resetFilters()"
                  translate="approvals.reset">resetFilters
                </button>
                <button type="submit" class="external-filers__apply btn btn-add" translate="approvals.apply"
                  (click)="applyFilter()">applyFilter
                </button>
                <!-- <button class="external-filers__apply btn btn-add"></button> -->
              </div>
              <!-- END external-filers__bottom  -->
            </div>
            <!-- END external-filers  -->
            <div class="col">
              <a class="btn btn-light" (click)="toggleFilterVisibility('show')">
                <i class="fa fa-search fa-icon-reverse-right" aria-hidden="true"></i>
                <span translate="approvals.advanceSearch"></span>
              </a>
            </div>
          </div>
        </form>
        <!-- END page-nav-panel  -->
        <!-- BEGIN approval-panel -->
        <div class="approval-panel align-center">
          <div class="approval-panel__left">
            <!-- BEGIN approval-check -->
            <div class="approval-check">
              <div class="inp inp-check approval-check__input">
                <label>
                  <input type="checkbox" [(ngModel)]="allOffersChecked" (ngModelChange)="checkingAllOffer()">
                  <i class="icn-check"></i>
                </label>
                <div class="css-popover-content">
                  <span translate="approvals.selectAll" *ngIf="!allOffersChecked"></span>
                  <span translate="approvals.deselectAll" *ngIf="allOffersChecked"></span>
                </div>
              </div>
            </div>
            <!-- END approval-check  -->
          </div>
          <div class="approval-panel__right">
            <button [disabled]="selectedOffers.length === 0" class="approval-panel__btn" (click)="massApprove()">
              <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="15" viewBox="0 0 15 15" version="1.1
             " xmlns="http://www.w3.org/2000/svg">
                <g id="Canvas" transform="translate(6308 -1974)">
                  <g id="Union">
                    <use xlink:href="#path0_fill" transform="translate(-6308 1974)" />
                  </g>
                </g>
                <path fill-rule="evenodd"
                  d="M 12.9941 4.33228L 15 5.49023L 13.8398 7.49988L 15 9.50952L 12.9941 10.6675L
              12.9941 12.9937L 10.668 12.9937L 9.50977 14.9998L 7.5 13.8395L 5.49023 14.9998L 4.33203 12.9937L 2.01367 12.9937L
              2.01367 10.672L 0 9.50952L 1.16016 7.49988L 0 5.49023L 2.01367 4.32776L 2.01367 2.01306L 4.32812 2.01306L 5.49023
              0L 7.5 1.16028L 9.50977 0L 10.6719 2.01306L 12.9941 2.01306L 12.9941 4.33228ZM 6.29785 3.79626L 4.2124 10.0527C
              4.03027 10.5992 4.43701 11.1637 5.01318 11.1637C 5.40088 11.1637 5.73828 10.9 5.83203 10.5243L 6.12988 9.33362L
              8.875 9.33362L 9.17285 10.5243C 9.2666 10.9 9.60449 11.1637 9.9917 11.1637C 10.5679 11.1637 10.9746 10.5992 10.7925
              10.0527L 8.70703 3.79626C 8.53418 3.27795 8.04883 2.92822 7.50244 2.92822C 6.95605 2.92822 6.4707 3.27795 6.29785
              3.79626ZM 7.50244 5.67334C 6.99707 5.67334 6.5874 6.08301 6.5874 6.58838C 6.5874 7.09375 6.99707 7.50342 7.50244
              7.50342C 8.00781 7.50342 8.41748 7.09375 8.41748 6.58838C 8.41748 6.08301 8.00781 5.67334 7.50244 5.67334Z" />
              </svg>
              <span translate="approvals.approve"></span>
            </button>
            <button [disabled]="!selectedOffers.length" class="approval-panel__btn" (click)="massDecline()">
              <i class="fa fa-close" aria-hidden="true"></i>
              <span translate="approvals.decline"></span>
            </button>
          </div>
        </div>
        <!-- END approval-panel  -->
        <div class="content" *ngIf="offerApprovals.items.length">
          <div class="table-thead table-thead-approvals">
            <div class="fake-table__top table-approvals__top table-scrollable-thead">
              <div class="fake-table__row fake-table__row_white">
                <div class="fake-table__head">
                  <span>
                    <span (click)="sortByField( 'default')" data-placement="right">
                      <span class="clickable semi-bold">#</span>
                      <span class="css-popover-content" translate="approvals.sort.number"></span>
                    </span>
                  </span>
                </div>
                <div class="fake-table__head">
                  <span>
                    <span (click)="sortByField( 'publisher')">
                      <span class="clickable semi-bold" translate="approvals.publisher">publisher</span>
                      <span class="css-popover-content" translate="approvals.sort.publisher"></span>
                    </span>
                    <br>
                    <span translate="approvals.publishersManager"></span>
                  </span>
                </div>
                <div class="fake-table__head fake-table__head--width-half">
                  <span>
                    <span (click)="sortByField( 'offer')">
                      <span class="clickable semi-bold" translate="approvals.offer">offer</span>
                      <span class="css-popover-content" translate="approvals.sort.offer"></span>
                    </span>
                  </span>
                </div>
                <!--<th><span>Stats</span></th>-->
                <div class="fake-table__head">
                  <span translate="approvals.check"></span>
                </div>
                <div class="fake-table__head" *hasPermission="[ 'view_cap_usage']">
                  <span>
                    <span (click)="sortByField( 'caps')">
                      <span class="clickable semi-bold" translate="approvals.caps"></span>
                      <span class="css-popover-content" translate="approvals.sort.caps"></span>
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-no-data *ngIf="!offerApprovals.items.length && !loading"></app-no-data>

      </div>
    </div>

    <div class="page-row">
      <div class="page-cell" #perfectScrollbarContainer>
        <perfect-scrollbar class="page-scrollable scrollable" perfectScrollbar>
          <div class="content" *ngIf="!loading">
            <div class="table-scrollable table-approvals fake-table">
              <div class="fake-table__body">
                <div class="fake-table__row fake-table__row_white"
                  *ngFor="let offer of offerApprovals.items; let index = index;">
                  <div class="align-items-start fake-table__cell">
                    <label class="approvals-id d-inline-block mw-100" style="top: -4px" data-placement="right"
                      [popover]="offer.id">
                      <label [innerHtml]="offer.id" class="label label-lightgray label-long"></label>
                    </label>
                    <div class="inp inp-check approvals-input">
                      <label class="css-popover d-inline-block" [popover]="" data-placement="right">
                        <input checked type="checkbox" [(ngModel)]="offer.isChecked"
                          (ngModelChange)="checkingOffer(offer.isChecked, offer.id)">
                        <i class="icn-check"></i>
                        <span class="css-popover-content">
                          <span translate="approvals.selectOffer" *ngIf="!offer.isChecked"></span>
                          <span translate="approvals.deselectOffer" *ngIf="offer.isChecked"></span>
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="align-items-start fake-table__cell">
                    <span class="scheduled-social anager-info__social position-relative" style="top: -3px">
                      <span
                        class="{{'country-ico ' + 'country-ico_' + offer.publisher.address.countryCode.toLowerCase()}}"></span>
                      <span class="scheduled-social__name"
                        [innerHtml]="offer.publisher.address.countryCode | country"></span>
                    </span>
                    <br />
                    <div class="semi-bold inline-block" [popover]="'approvals.filter.pub' | translate"
                      (click)="filterByField('publisherIds', offer.publisher.id, offer.publisher.username)">
                      <p class="clickable word-break" [innerHtml]="offer.publisher.username"></p>
                    </div>
                    <br />
                    <span class="approvals__user-name clickable" [popover]="'approvals.filter.pubManager' | translate"
                      (click)="filterByField('publisherManagerIds', offer.publisher.manager.id, offer.publisher.manager.username)">
                      <span [innerHtml]="offer.publisher.manager.username"></span>
                    </span>

                  </div>
                  <div class="align-items-start fake-table__cell fake-table__cell--width-half">
                    <span>
                      <!-- BEGIN creatives-box -->
                      <div class="creatives-box approvals-box">
                        <div class="creatives-box__ico">
                          <div class="scheduled-icon">
                            <img [src]="offer.offer.thumbUrl">
                          </div>
                        </div>
                        <div class="creatives-box__info">
                          <p class="semi-bold">
                            <span class="inline-block" [popover]="'approvals.offerName' | translate">
                              <span>{{offer.offer.name}}</span>
                            </span>
                            <strong class="color-lightgray" *ngIf="offer.offer.sensitive"> - [SENSITIVE]</strong>
                          </p>
                          <span [popover]="'approvals.infoMessage' | translate" *hasPermission="['view_offers']">
                            <a class="approvals-btn" translate="approvals.info"
                              (click)="getOfferInfo(offer.offer.id)">info</a>
                          </span>
                          <span [popover]="'approvals.checkMessage' | translate" *hasPermission="['view_offers']">
                            <a class="approvals-btn approvals-btn_green" translate="approvals.check"
                              [routerLink]="['/','manager', 'offers', 'checker', offer.offer.id]">check</a>
                          </span>

                          <a [routerLink]="['/', 'manager', 'offers', 'caps-usage', offer.offer.id]"
                            *hasPermission="['view_cap_usage']" class="label-info label clickable" appCssPopover
                            style="color: #fff">
                            <span [innerHtml]="offer.offer.approvalsQuantity"></span>
                            <div class="css-popover-content">
                              <span translate="approvals.approvedPubMsg"></span>
                              <br>
                              <strong translate="approvals.openOfferCap"></strong>
                            </div>
                          </a>
                          <!--TODO Check response-->
                          <label class="label label-danger" *ngIf="offer.sensitive"
                            translate="approvals.sensitive"></label>
                          <p>
                            <span class="clickable approvals-offer__name semi-bold"
                              [popover]="'approvals.filter.advert' | translate" *ngIf="offer.offer.advertiser.username"
                              (click)="filterByField('advertiserIds', offer.offer.advertiser.id, offer.offer.advertiser.username)">
                              <span [innerHtml]="offer.offer.advertiser.username"></span>
                            </span>
                            <span class="clickable" [popover]="'approvals.filter.advertManager' | translate"
                              (click)="filterByField('advertiserManagerIds', offer.offer.advertiser.manager.id, offer.offer.advertiser.manager.username)">
                              <span [innerHtml]="offer.offer.advertiser.manager.username"></span>
                            </span>
                          </p>
                          <div class="manager-panel" *ngIf="offer.offer.comment">
                            <i class="fa fa-comment" aria-hidden="true"></i>
                            <span [innerHtml]="offer.offer.comment"></span>
                          </div>
                        </div>
                      </div>
                      <!-- END creatives-box  -->
                    </span>
                  </div>
                  <div class="align-items-start fake-table__cell">
                    <!-- BEGIN approval-stats -->
                    <a class="approval-circles" data-placement="left" [popover]="'approvals.checkingPage' | translate"
                      [routerLink]="['/', 'manager', 'offers', 'checker', offer.offer.id]">
                      <app-check-results [data]="offer.offer.checkResults"></app-check-results>
                    </a>
                    <!-- END approval-stats  -->
                  </div>
                  <div class="align-items-start fake-table__cell">
                    <span>
                      <span class="approvals__capabilities">
                        <span class="wrap-actions">
                          <div class="actions mr-1" *ngFor="let cap of offer.offerGoalPublishers">
                            <span class="approvals__capabilities-label" [popover]=""
                              *ngIf="offer.statusName === 'Approve'">
                              <label class="label label-green text-truncate">
                                {{cap.goal.name}} {{cap.cap.daily || '&infin;'}} D
                                <span class="css-popover-content">{{cap.goal.name}} {{cap.cap.daily || '&infin;'}}
                                  D</span>
                              </label>
                            </span>
                          </div>
                        </span>
                        <!-- /.wrap-actions -->
                        <!-- BEGIN approvals-settings -->
                        <div class="approvals-settings"
                          *ngIf="offer.statusName === 'Approve' || offer.statusName === 'Disapproved'">
                          <span class="approvals-settings__item approvals-settings__item_green"
                            [popover]="'approvals.approved' | translate" *ngIf="offer.statusName==='Approve'">
                            <img src="assets/images/icon-a-white.svg" alt="">
                          </span>
                          <span
                            class="approvals-settings__item approvals-settings__item_yellow approvals-settings__item_declined"
                            [popover]="'approvals.declined' | translate" data-placement="top"
                            *ngIf="offer.statusName==='Disapproved'">
                            <i class="fa fa-remove" aria-hidden="true"></i>
                          </span>

                          <a class="approvals-settings__item approvals-settings__item_edit"
                            [popover]="'approvals.editOffer' | translate" *hasPermission="['manage_offers']"
                            [routerLink]="['/', 'manager', 'offers', 'edit', offer.offer.id]">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                          </a>

                          <div class="actions">
                            <span class="approvals-settings__item" (mouseenter)="tooltipPosition($event)">
                              <img src="assets/images/icon-down.svg" alt="">
                            </span>
                            <div class="actions-options" [ngClass]="{ 'actions-options_top': tooltipTop}">
                              <a class="actions-option action-nota" (click)="unApproveOffer(offer.id)"
                                translate="approvals.unApprove">unApprove</a>
                              <a class="actions-option action-rem" (click)="declineOffer(offer.id)"
                                translate="approvals.decline">decline</a>
                              <a class="actions-option action-trash" (click)="deleteOffer(offer.id, index)"
                                translate="approvals.delete">delete</a>
                            </div>
                          </div>
                          <!--<span class="approvals-settings__item"><i class="fa fa-trash-o" aria-hidden="true"></i></span>-->
                          <!--<span class="approvals-settings__item"><i class="fa fa-pencil" aria-hidden="true"></i></span>-->
                        </div>
                        <div class="approvals-settings" *ngIf="offer.statusName === 'Pending'">
                          <span class="approvals-settings__item" [popover]="'approvals.approve' | translate"
                            data-placement="top" (click)="getGoals(offer.id, offer.offer.id, offer.offer.name)">
                            <img src="assets/images/icon-a.svg" alt="">
                          </span>

                          <span class="approvals-settings__item approvals-settings__item_yellow"
                            [popover]="'approvals.decline' | translate" data-placement="top"
                            (click)="declineOffer(offer.id)">
                            <i class="fa fa-remove" aria-hidden="true"></i>
                          </span>

                          <span class="approvals-settings__item approvals-settings__item_delete"
                            [popover]="'approvals.delete' | translate" data-placement="top"
                            (click)="deleteOffer(offer.id, index)">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                          </span>

                          <span class="approvals-settings__item approvals-settings__item_edit"
                            [popover]="'approvals.editOffer' | translate" *hasPermission="['manage_offers']"
                            [routerLink]="['/', 'manager', 'offers', 'edit', offer.offer.id]">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                          </span>
                        </div>
                        <!-- END approvals-settings  -->
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </perfect-scrollbar>
      </div>
    </div>
    <div class="page-row page-row-min" *ngIf="offerApprovals.items.length">
      <div class="page-cell">
        <div class="page-footer-panel">
          <div class="col"></div>
          <div class="col">
            <table-limit [limit]="params.limit" (changedLimit)="tableLimit($event)"></table-limit>
          </div>
          <div class="col">
            <table-pagination [page]="offerApprovals.page" [totalPages]="offerApprovals.totalPages"
              (currentPage)="goToPage($event)"></table-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-loader [loading]="loading"></app-loader>

</div>

<modal #approveModal size="xlg">

  <modal-header>{{ oferName }}</modal-header>

  <modal-body>
    <form *ngIf="approveModal.isOpen" class="approvals-modal" (ngSubmit)="approveOffer()">
      <div class="approve-box">
        <div class="approve-box__line">
          <div class="approve-box__name" translate="approvals.goalName">Goal name</div>
          <div class="approve-box__name">Cap Click Daily</div>
          <div class="approve-box__name">Cap Click Monthly</div>
          <div class="approve-box__name" translate="approvals.dailyCapabilities">Daily capabilities</div>
          <div class="approve-box__name" translate="approvals.personalPayout">Personal payout</div>
          <div class="approve-box__name"></div>
        </div>
        <div class="approve-box__line" *ngFor="let goal of offerGoals.goals; let index = index;">
          <div class="approve-box__name lgreen">{{goal.name}}</div>

          <div class="approve-box__check createOffer-advert-form noWrappStyle">
            <div class="createOffer__input"
                 [ngClass]="{'createOffer__input_invalid': errors && errors['goals[' + index + '][capClickDaily]']}">
              <app-input-number [integer]="true" [(ngModel)]="goal.capClick.daily"
                                [ngModelOptions]="{standalone: true}"></app-input-number>
              /
              <div class="createOffer__input__error-message createOffer__input__error-message_bottom"
                   style="left: auto;right: 38px; z-index: 10;"
                   *ngIf="errors && errors['goals[' + index + '][capClickDaily]']">
                <span>{{errors['goals[' + index + '][capClickDaily]'][0]}}</span>
              </div>

              <span *ngIf="goal.capClick.dailyForView" [innerHtml]="goal.capClick.dailyForView"></span>
              <span *ngIf="goal.capClick.dailyForView === 0">&infin;</span>
            </div>
          </div>
          <div class="approve-box__check createOffer-advert-form noWrappStyle">
            <div class="createOffer__input"
                 [ngClass]="{'createOffer__input_invalid': errors && errors['goals[' + index + '][capClickMonthly]']}">
              <input type="number" [(ngModel)]="goal.capClick.monthly" step="any" min="0" max="100"
                     [ngModelOptions]="{standalone: true}"> /
              <div class="createOffer__input__error-message createOffer__input__error-message_bottom"
                   style="left: auto;right: 10px; z-index: 10;"
                   *ngIf="errors && errors['goals[' + index + '][capClickMonthly]']">
                <span>{{errors['goals[' + index + '][capClickMonthly]'][0]}}</span>
              </div>

              <span *ngIf="goal.capClick.monthlyForView" [innerHtml]="goal.capClick.monthlyForView"></span>
              <span *ngIf="goal.capClick.monthlyForView === 0">&infin;</span>
            </div>
          </div>
          <div class="approve-box__check createOffer-advert-form noWrappStyle">
            <div class="createOffer__input"
                 [ngClass]="{'createOffer__input_invalid': errors && errors['goals[' + index + '][capDaily]']}">
              <app-input-number [integer]="true" [(ngModel)]="goal.cap.daily" [submitted]="false"
                                [ngModelOptions]="{standalone: true}"></app-input-number>
              /
              <div class="createOffer__input__error-message createOffer__input__error-message_bottom"
                   style="margin-right: 12px;" *ngIf="errors && errors['goals[' + index + '][capDaily]']">
                <span>{{errors['goals[' + index + '][capDaily]'][0]}}</span>
              </div>
            </div>
            <span *ngIf="goal.cap.dailyForView" [innerHtml]="goal.cap.dailyForView"></span>
            <span *ngIf="goal.cap.dailyForView === 0">&infin;</span>
          </div>
          <div class="approve-box__check createOffer-advert-form noWrappStyle">
            <div class="createOffer__input createOffer__input_price">
              <app-input-number [numberAfterPoint]="2" [(ngModel)]="goal.price"
                                (ngModelChange)="changeGoals(goal, 'price')" [ngModelOptions]="{standalone: true}"></app-input-number>
            </div>
            <div class="createOffer__input createOffer__input_percent"
                 [ngClass]="{'createOffer__input_invalid': errors && errors['goals[' + index + '][payPercent]']}">
              <app-input-number [numberAfterPoint]="2" [(ngModel)]="goal.payPercent"
                                (ngModelChange)="changeGoals(goal, 'percent')" [ngModelOptions]="{standalone: true}"></app-input-number>
              <div class="createOffer__input__error-message createOffer__input__error-message_bottom"
                   style="margin-right: 12px;" *ngIf="errors && errors['goals[' + index + '][payPercent]']">
                <span>{{errors['goals[' + index + '][payPercent]'][0]}}</span>
              </div>
            </div>
            <span [innerHtml]=" '/of '+ goal.payout.amount + ' ' + goal.payout.currency"></span>
          </div>

          <div class="approve-box__check">
            <div class="inp inp-check">
              <label>
                <input type="checkbox" [(ngModel)]="goal.enabled" [ngModelOptions]="{standalone: true}">
                <i class="icn-check"></i>
              </label>
            </div>
          </div>
        </div>

      </div>
    </form>
  </modal-body>

  <modal-footer>
    <btn [simple]="true" (click)="toggleApproveModal()">{{ "approvals.goalsCancel" | translate }}</btn>
    <btn (click)="approveOffer()">{{ "approvals.goalsSave" | translate }}</btn>
  </modal-footer>

</modal>

<modal #offerInfoModal>

  <modal-header>
    <span class="light">{{ offerInfo?.offer?.realId }}</span>
    <span>{{offerInfo?.offer?.name}}</span>
  </modal-header>

  <modal-body *ngIf="offerInfoModal.isOpen">
    <div class="approvals-modal__top">
      <div class="approvals-modal__ico">
        <img [src]="offerInfo.offer.thumbUrl" alt="">
      </div>
      <perfect-scrollbar class="approvals-modal__panel">
        <div>{{offerInfo.offer.description}}</div>
      </perfect-scrollbar>
    </div>
    <div class="manager-panel approvals-modal__manager-panel" *ngIf="offerInfo.offer.comment">
      <i class="fa fa-comment" aria-hidden="true"></i>
      <span [innerHtml]="offerInfo.offer.comment"></span>
    </div>
    <!-- BEGIN approvals-tabs -->
    <div class="approvals-tabs">
      <div class="approvals-tabs__top">
        <input type="radio" id="approvals-tabs__link1" name="radio-grop-approval" checked>
        <label for="approvals-tabs__link1" class="approvals-tabs__link"
          translate="approvals.infoBox.information">INFORMATION</label>
        <input type="radio" id="approvals-tabs__link2" name="radio-grop-approval">
        <label for="approvals-tabs__link2" class="approvals-tabs__link"
          translate="approvals.infoBox.links">LINKS</label>
        <input type="radio" id="approvals-tabs__link3" name="radio-grop-approval">
        <label for="approvals-tabs__link3" class="approvals-tabs__link"
          translate="approvals.infoBox.publisherResume">PUBLISHER
          RESUME</label>
        <div class="approvals-tabs__item">
          <!-- BEGIN approval-table -->
          <div class="approval-table">
            <div class=" approval-table__row">
              <div class="approval-table__cell" translate="approvals.infoBox.status"></div>
              <div class="approval-table__cell">
                <a [ngClass]="'approval-table__status ' + offerInfo.offer.statusName">
                  <span [innerHtml]=" ' ' + offerInfo.offer.statusName" class="statusName"></span>
                </a>
              </div>
            </div>
            <div class="approval-table__row">
              <div class="approval-table__cell" translate="approvals.infoBox.categories">Categories</div>
              <div class="approval-table__cell">
                <!-- <label class="label label-info" ng-repeat="tag in offerInfo.offer.tags" [innerHtml]="tag.username"></label> -->
                <label class="label label-info" *ngFor="let tag of offerInfo.offer.tags" [innerHtml]="tag.name"></label>
              </div>
            </div>
            <div class="approval-table__row">
              <div class="approval-table__cell" translate="approvals.infoBox.approval">Approval</div>
              <div class="approval-table__cell" *ngIf="offerInfo.offer.approvalRequired">
                <span translate="approvals.required">Required</span>
              </div>
              <div class="approval-table__cell" *ngIf="!offerInfo.offer.approvalRequired">
                <span translate="approvals.notRequired">Not required</span>
              </div>
            </div>
            <div class="approval-table__row">
              <div class="approval-table__cell" translate="approvals.infoBox.date">Date start/end</div>
              <div class="approval-table__cell">
                <span [innerHtml]="offerInfo.offer.activationDate | dateFormat"></span>
                &mdash;
                <span [innerHtml]="offerInfo.offer.expirationDate | dateFormat"></span>
              </div>
            </div>
            <div class="approval-table__row">
              <div class="approval-table__cell" translate="approvals.infoBox.lastUpdated">
                Last updated
              </div>
              <!-- <div class="approval-table__cell" [innerHtml]="offerInfo.offer.updatedAt | dateFormat:true"></div> -->
              <div class="approval-table__cell"
                [innerHtml]="offerInfo.offer.updatedAt | timezone:'MM/dd/yyyy HH:mm:ss'"></div>
            </div>
            <div class="approval-table__row">
              <div class="approval-table__cell" translate="approvals.infoBox.advertiser">Advertiser</div>
              <div class="approval-table__cell">
                <span class="semi-bold" [innerHtml]="offerInfo.offer.advertiser.username"></span>
                <span [innerHtml]="offerInfo.offer.advertiser.id"></span>
              </div>
            </div>
          </div>
          <!-- END approval-table  -->
          <!-- BEGIN approval-goals -->
          <div class="approval-goals">
            <div class=" approval-goals__top">
              <div class="approval-goals__name">
                <span translate="approvals.infoBox.goals"></span>
                <span [innerHtml]="offerInfo.offer.goals.length"></span>
              </div>
            </div>

            <input type="checkbox" class="approval-goals__checkbox" id="approval-goals__checkbox" checked>
            <label class="approval-goals__trigger" for="approval-goals__checkbox">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </label>
            <!-- BEGIN approval-goals__items -->
            <div class="approval-goals__items">
              <!-- BEGIN approval-goals__item -->
              <div class="approval-goals__item" *ngFor="let goal of offerInfo.offer.goals">
                <div class="approval-goals__item-line">
                  <div class="approval-goals__item-name" translate="approvals.infoBox.goalName">Goal name
                  </div>
                  <div class="approval-goals__item-cell lgreen" [innerHtml]="goal.name"></div>
                </div>
                <div class="approval-goals__item-line">
                  <div class="approval-goals__item-name" translate="approvals.infoBox.payout">Payout</div>
                  <div class="approval-goals__item-cell">
                    <span class="red" [innerHtml]="goal.payout.amount + ' ' + goal.payout.currency"></span>
                    <span class="yellow" [innerHtml]="goal.pubPayout + ' ' + goal.payout.currency"></span>
                    <span class="light" [innerHtml]="goal.payPercent+ '% '"></span>
                  </div>
                </div>
                <div class="approval-goals__item-line" *ngIf="goal.excludeCountries">
                  <div class="approval-goals__item-name" translate="approvals.infoBox.geography"></div>
                  <div class="approval-goals__item-cell">
                    <label class="label label-yellow mr-1" [popover]="country| country"
                      *ngFor="let country of goal.countries">
                      <span [innerHtml]=" '- '+country"></span>
                    </label>
                  </div>
                </div>

                <div class="approval-goals__item-line" *ngIf="!goal.excludeCountries">
                  <div class="approval-goals__item-name" translate="approvals.infoBox.geography"></div>
                  <div class="approval-goals__item-cell">
                    <label class="label label-white" [popover]="country | country"
                      *ngFor="let country of goal.countries">
                      <span [innerHtml]="country"></span>
                    </label>
                  </div>
                </div>

                <div class="approval-goals__item-line">
                  <div class="approval-goals__item-name" translate="approvals.infoBox.platform">Platform
                  </div>
                  <div class="approval-goals__item-cell">
                    <span *ngFor="let platform of goal.platforms" [innerHtml]="platform.platform + '
              ' + (platform.version || ' ')"></span>
                  </div>
                </div>
                <div class="approval-goals__item-line">
                  <div class="approval-goals__item-name" translate="approvals.infoBox.capsDailyMonthly">
                  </div>
                  <div class="approval-goals__item-cell" [innerHtml]="goal.cap.daily+ '/ '+goal.cap.monthly"></div>
                </div>
              </div>
              <!-- END approval-goals__item  -->
            </div>
            <!-- END approval-goals__items  -->
          </div>
          <!-- END approval-goals  -->
          <!-- BEGIN approval-stat -->
          <div class="approval-stat" *ngIf="offerInfo.offer.restrictedTraffic.length">
            <div class="approval-stat__box">
              <div class="approval-stat__item">
                <div class="approval-stat__title" translate="approvals.infoBox.restrictedTraffic">
                </div>
                <div class="approval-stat__line" *ngFor="let obj of offerInfo.offer.restrictedTraffic">
                  <i class="fa fa-minus" aria-hidden="true"></i>
                  <span [innerHtml]="obj.name"></span>
                </div>
              </div>
              <div class="approval-stat__item" *ngIf="offerInfo.offer.allowedTraffic.length">
                <div class="approval-stat__title" translate="approvals.infoBox.allowedTraffic">
                </div>
                <div class="approval-stat__line" *ngFor="let obj of offerInfo.offer.allowedTraffic">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                  <span [innerHtml]="obj.name"></span>
                </div>
              </div>
            </div>
          </div>
          <!-- END approval-stat  -->
        </div>
        <div class="approvals-tabs__item">
          <div class="approval-links">
            <div class="approval-links__line">
              <div class="approval-links__name" translate="approvals.infoBox.pub">
                Publisher
              </div>
              <div class="approval-links__body">
                <div class="select-field">
                  <app-approved-publisher-select [id]="offerInfo.offer.id" [(ngModel)]="aff_id"
                    (ngModelChange)="changeOffersLink( 'aff_id')" [multiple]="false"></app-approved-publisher-select>
                </div>
                <div class="approval-links__input">
                  <input type="text" placeholder="Aff sub 1" [(ngModel)]="aff_sub"
                    (ngModelChange)="changeOffersLink('aff_sub')">
                  <input type="text" placeholder="Aff sub 2" [(ngModel)]="aff_sub2"
                    (ngModelChange)="changeOffersLink('aff_sub2')">
                  <input type="text" placeholder="Aff sub 3" [(ngModel)]="aff_sub3"
                    (ngModelChange)="changeOffersLink('aff_sub3')">
                  <input type="text" placeholder="Aff sub 4" [(ngModel)]="aff_sub4"
                    (ngModelChange)="changeOffersLink('aff_sub4')">
                </div>
              </div>
            </div>
            <div class="approval-links__line">
              <div class="approval-links__name" translate="approvals.infoBox.publisherLink">Publisher link
              </div>
              <div class="approval-links__body">
                <div class="approval-links__input-decorate">
                  <input type="text" [(ngModel)]="offerInfo.links.publisherLink" readonly>
                </div>
              </div>
            </div>
            <div class="approval-links__line">
              <div class="approval-links__name" translate="approvals.infoBox.testLink">
                Test link
              </div>
              <div class="approval-links__body">
                <div class="approval-links__input-decorate">
                  <input type="text" [(ngModel)]="offerInfo.links.testLink" readonly>
                </div>
              </div>
            </div>
            <div class="approval-links__line"
              *ngFor="let advertLink of offerInfo.links.advertiserLinks; let index= index">
              <div class="approval-links__name">
                <span translate="approvals.infoBox.advertiserLink"></span>
                <span [innerHtml]="index+1"></span>
              </div>
              <div class="approval-links__body">
                <div class="approval-links__input-decorate">
                  <input type="text" [ngModel]="advertLink" readonly>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="approvals-tabs__item">
          <div class="approval-links">
            <div class="approval-links__line">
              <div class="approval-links__name" translate="approvals.infoBox.pub">Publisher</div>
              <div class="approval-links__body">
                <div class="select-field">
                  <app-publishers-select [(ngModel)]="offerInfoPubResumePublisherId"
                    (ngModelChange)="setupPublisherResumeInOfferInfo($event)" [multiple]="false"
                    [selectPlaceholder]="'approvals.publishers' | translate"></app-publishers-select>
                </div>
                <a class="approval-links__btn" translate="approvals.infoBox.copy"
                  [appCopyToClipboard]="offerInfo.publisherResume">Copy
                  resume</a>
              </div>
            </div>
          </div>
          <perfect-scrollbar class="approvals-modal__panel big">
            <div style="white-space: pre-line;">{{offerInfo.publisherResume}}</div>
          </perfect-scrollbar>
        </div>
      </div>
      <!-- END approvals-tabs  -->
    </div>
  </modal-body>

</modal>
