<card>
  <card-header>
    <ng-container *ngIf="!invoiceId">Create invoice</ng-container>
    <ng-container *ngIf="invoiceId">Update invoice</ng-container>
  </card-header>

  <card-body>
    <form (submit)="submitInvoiceForm()" [formGroup]="form">
      <div class="form-group">
        <form-label class="col-4" [required]="true">Advertiser</form-label>
        <advertiser-select class="col-8" formControlName="advertiserId"></advertiser-select>
      </div>
      <div class="form-group">
        <div class="col-4"></div>
        <div class="col-8">
          <div class="form-groups form-overlay">
            <div class="form-group">
              <div class="col-6 pr-1">
                <form-label [required]="true">Invoice date (net starting point)</form-label>
                <date-picker formControlName="invoiceDate"></date-picker>
              </div>
              <div class="col-6 pl-1">
                <form-label [required]="true">Payment month</form-label>
                <date-month-picker formControlName="invoiceMonth"
                                   [disabled]="form.get('invoiceMonth').disabled">
                </date-month-picker>
              </div>
            </div>
            <div class="form-group">
              <div class="col-4 pr-1">
                <form-label>Our amount</form-label>
                <input-decimal [min]="0" formControlName="ourAmount"></input-decimal>
              </div>
              <div class="col-4 pl-1">
                <form-label>Advertiser amount</form-label>
                <input-decimal [min]="0" formControlName="advertiserAmount"></input-decimal>
              </div>
              <div class="col-1"></div>
              <div class="col-3">
                <form-label [required]="true">Currency</form-label>
                <currency-select formControlName="currency"></currency-select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group mb-5">
        <form-label class="col-4">Additional info</form-label>
        <area-input class="col-8" formControlName="info"></area-input>
      </div>
      <div class="form-group align-items-start">
        <form-label class="col-4">App Promotions</form-label>
        <div class="col-8">
          <div class="form-groups form-overlay" formArrayName="items"
               *ngFor="let item of formItems.controls; let $index = index;">

            <ng-container [formGroupName]="$index">

              <header [style.height.px]="28" class="d-flex align-items-center justify-content-between mb-2">
                <h4 class="mb-0"><b>{{ $index + 1 }}</b></h4>
                <ng-container *ngIf="formItems.controls.length > 1">
                  <btn [simple]="true" size="sm" (click)="removeFromFormArray('items', $index)">
                    <i class="fa fa-close color-danger"></i>
                  </btn>
                </ng-container>
              </header>

              <div class="form-group">
                <input-text class="col-12" placeholder="Name" formControlName="name"></input-text>
              </div>
              <div class="form-group">
                <div class="col-4 pr-1">
                  <input-decimal placeholder="Price" formControlName="unitPrice"></input-decimal>
                </div>
                <div class="col-4 pl-1">
                  <input-decimal placeholder="Quantity" formControlName="quantity"></input-decimal>
                </div>
                <div class="col-1"></div>
                <div class="col-3">
                  <input-decimal [min]="0" placeholder="Sum" formControlName="total"></input-decimal>
                </div>
              </div>
            </ng-container>
          </div>

          <div class="form-overlay-btn">
            <btn (click)="addItem()">
              <i class="fa fa-plus mr-2"></i>
              <strong>Add</strong> promotion
            </btn>
          </div>
        </div>
      </div>
      <div class="form-group align-items-start">
        <form-label class="col-4">Deductions</form-label>
        <div class="col-8">
          <div class="form-groups form-overlay" formArrayName="deductions"
               *ngFor="let item of formDeductions.controls;  let $index = index;">

            <ng-container [formGroupName]="$index">

              <header [style.height.px]="28" class="d-flex align-items-center justify-content-between mb-2">
                <h4 class="mb-0"><b>{{ $index + 1 }}</b></h4>
                <btn [simple]="true" size="sm" (click)="removeFromFormArray('deductions', $index)">
                  <i class="fa fa-close color-danger"></i>
                </btn>
              </header>

              <div class="form-group">
                <input-text class="col-12" placeholder="Name" formControlName="name"></input-text>
              </div>
              <div class="form-group">
                <div class="col-7 pr-1">
                  <date-month-picker formControlName="month"></date-month-picker>
                </div>
                <div class="col-5 pl-1">
                  <input-decimal placeholder="Sum" formControlName="amount"></input-decimal>
                </div>
              </div>

            </ng-container>
          </div>

          <div class="form-overlay-btn">
            <btn (click)="addDeductions()">
              <i class="fa fa-plus mr-2"></i>
              <strong>Add</strong> deduction
            </btn>
          </div>
        </div>
      </div>

      <app-validation-message [control]="form"></app-validation-message>
    </form>
  </card-body>

  <card-footer>
    <btn [simple]="true" routerLink="/manager/billing/advertisers">Cancel</btn>
    <btn (click)="submitInvoiceForm()">
      {{(invoiceId) ? 'Update invoice' : 'Create invoice'}}
    </btn>
  </card-footer>

  <app-loader [loading]="loading"></app-loader>

</card>

