input.ng-dirty.ng-touched.ng-invalid {
  border-color: #f33155;
  color: #f33155;
  background-color: #FFF3F5 !important;
}

strong{
  margin-right: 5px;
}

.advertiser-select {
  app-multy-live-select {
    display: block;
    width: 100%;
  }
}

form {
  max-width: 700px;
}
