<card>
  <card-header>
    <ng-container *ngIf="!algorithmUrl.id">{{ "algorithm.manage.create" | translate }}</ng-container>
    <ng-container *ngIf="algorithmUrl.id">{{ "algorithm.manage.update" | translate }}</ng-container>
  </card-header>
  <card-body>
    <form onsubmit="return false" [formGroup]="algorithmUrlForm" appScrollToFirstErrorInput disableAutocomplete>
      <div class="form-group" formGroupName="advertiser">
        <form-label [required]="true" class="col-4">{{ "algorithm.manage.advertiser" | translate }}</form-label>
        <advertiser-select class="col-8" formControlName="id" [multiple]="false"
          [placeholder]="'algorithm.manage.advertiserSelect' | translate"></advertiser-select>
      </div>
      <div class="form-group">
          <form-label [required]="true" class="col-4">{{ "algorithm.manage.url" | translate }}</form-label>
          <input-text class="col-8" formControlName="url"></input-text>
        </div>
      <div class="form-group">
        <form-label [required]="true" class="col-4">{{ "algorithm.manage.name" | translate }}</form-label>
        <input-text class="col-8" formControlName="name"></input-text>
      </div>
      <div class="form-group">
        <form-label [required]="true" class="col-4">{{ "algorithm.manage.distribution" | translate }}</form-label>
        <div class="col-8">
          <ng-select #distribution [placeholder]="'algorithm.manage.distributionSelect' | translate"
            [items]="(distributionList$ | async).items" bindLabel="name" bindValue="id" [multiple]="false"
            [clearable]="true" formControlName="distribution" [virtualScroll]="true"></ng-select>
          <validation-message [control]="algorithmUrlForm.get('distribution')"
            [target]="distribution?.filterInput?.nativeElement"></validation-message>
        </div>
      </div>
      <div class="form-group">
        <form-label [required]="true" class="col-4">{{ "algorithm.manage.dynamicType" | translate }}</form-label>
        <div class="col-8">
          <ng-select #dynamicType [placeholder]="'algorithm.manage.dynamicTypeSelect' | translate"
            [items]="(dynamicTypeList$ | async).items" bindLabel="name" bindValue="id" [multiple]="false"
            [clearable]="true" formControlName="dynamicType" [virtualScroll]="true"></ng-select>
          <validation-message [control]="algorithmUrlForm.get('dynamicType')"
            [target]="dynamicType?.filterInput?.nativeElement"></validation-message>
        </div>
      </div>
      <div class="form-group">
        <form-label [required]="true" class="col-4">{{ "algorithm.manage.contentType" | translate }}</form-label>
        <div class="col-8">
          <ng-select #contentType [placeholder]="'algorithm.manage.contentTypeSelect' | translate"
            [items]="(contentTypeList$ | async).items" bindLabel="name" bindValue="id" [multiple]="false"
            [clearable]="true" formControlName="contentType" [virtualScroll]="true"></ng-select>
          <validation-message [control]="algorithmUrlForm.get('contentType')"
            [target]="contentType?.filterInput?.nativeElement"></validation-message>
        </div>
      </div>
      <div class="form-group">
        <form-label [required]="true" class="col-4">{{ "algorithm.manage.trafficType" | translate }}</form-label>
        <div class="col-8">
          <ng-select #trafficType [placeholder]="'algorithm.manage.trafficTypeSelect' | translate"
            [items]="(trafficTypeList$ | async).items" bindLabel="name" bindValue="id" [multiple]="false"
            [clearable]="true" formControlName="trafficType" [virtualScroll]="true"></ng-select>
          <validation-message [control]="algorithmUrlForm.get('trafficType')"
            [target]="trafficType?.filterInput?.nativeElement"></validation-message>
        </div>
      </div>
      <div class="form-group">
        <form-label [required]="true" class="col-4">{{ "algorithm.manage.monetizationModel" | translate }}</form-label>
        <div class="col-8">
          <ng-select #monetizationModel [placeholder]="'algorithm.manage.monetizationModelSelect' | translate"
            [items]="(monetizationList$ | async).items" bindLabel="name" bindValue="id" [multiple]="false"
            [clearable]="true" formControlName="monetizationModel" [virtualScroll]="true"></ng-select>
          <validation-message [control]="algorithmUrlForm.get('monetizationModel')"
            [target]="monetizationModel?.filterInput?.nativeElement"></validation-message>
        </div>
      </div>
    </form>
  </card-body>
  <card-footer>
    <btn [simple]="true" routerLink="/manager/superlink/algorithms-urls/list">{{ "advCreate.cancel" | translate }}</btn>
    <btn (click)="submitUrlForm()">
      <ng-container *ngIf="!algorithmUrl?.id">{{ "algorithm.manage.create" | translate }}</ng-container>
      <ng-container *ngIf="algorithmUrl?.id">{{ "algorithm.manage.edit" | translate }}</ng-container>
    </btn>
  </card-footer>

</card>
<app-loader [loading]="loading"></app-loader>
