<modal #modal>

  <modal-header>Remove Approvals</modal-header>

 <modal-body>
   <div class="add-email__input-date">
     <div class="createOffer__input">
       <div class="createOffer__label">Start Date</div>
       <div class="createOffer__input-wrap">
         <date-picker [(ngModel)]="removeApprovalsDateStart"></date-picker>
       </div>
     </div>
     <div class="createOffer__input">
       <div class="createOffer__label">End Date</div>
       <div class="createOffer__input-wrap">
         <date-picker [(ngModel)]="removeApprovalsDateEnd"></date-picker>
       </div>
     </div>
     <div class="createOffer__input">
       <div class="inp inp-check">
         <label>
           <input type="checkbox" [(ngModel)]="removeApprovalsForAllTime">
           <i class="icn-check mr-2"></i>
           Remove approvals for all time
         </label>
       </div>
     </div>
   </div>
 </modal-body>

  <modal-footer>
    <btn (click)="modal.close()">Cancel</btn>
    <btn (click)="removeApprovals()">Delete</btn>
  </modal-footer>

</modal>

<confirm #confirm [loading]="loading">
  <div>Are you sure to remove all approve offers for {{ pubNameForRemoveApprovals }}?</div>
</confirm>
