<div class="datepicker-container" #pickerHtml>

  <div (click)="showPicker()" class="datepicker-field">

    <span class="picker-label">Show: </span>

    <span class="datepicker-dates">
      {{ startDateMoment.format(showFormat) + ' - ' + endDateMoment.format(showFormat) }}
    </span>

    <span class="interval-sel-toggle"></span>

  </div>

  <div class="datepicker" [class.isOpen]="isOpen">

    <div class="picker-filters">
      <span [ngClass]="{ active : filteredBy == FILTERS.TODAY }" (click)="setFilter(FILTERS.TODAY)">{{ "core.calendar.today" | translate }}</span>
      <span [ngClass]="{ active : filteredBy == FILTERS.YESTERDAY }" (click)="setFilter(FILTERS.YESTERDAY)">{{ "core.calendar.yesterday" | translate }}</span>
      <span [ngClass]="{ active : filteredBy == FILTERS.LAST_WEEK }" (click)="setFilter(FILTERS.LAST_WEEK)">{{ "core.calendar.lastWeek" | translate }}</span>
      <span [ngClass]="{ active : filteredBy == FILTERS.LAST_MONTH }" (click)="setFilter(FILTERS.LAST_MONTH)">{{ "core.calendar.lastMonth" | translate }}</span>
      <span [ngClass]="{ active : filteredBy == FILTERS.LAST_3_MONTH }" (click)="setFilter(FILTERS.LAST_3_MONTH)">{{ "core.calendar.last3Month" | translate }}</span>
    </div>

    <div class="pickers">
      <owl-date-time-inline
        [(ngModel)]="dateTimeRange"
        [selectMode]="'range'"
        [pickerType]="'calendar'">
      </owl-date-time-inline>
      <owl-date-time-inline
        [(ngModel)]="dateTimeRange"
        [selectMode]="'range'"
        [pickerType]="'calendar'">
      </owl-date-time-inline>
    </div>

    <div class="pickers-footer">
      <div class="picker-date-preview">
        <ng-container *ngIf="startDateMoment">{{ startDateMoment.format(showFormat) }}</ng-container>
        <ng-container *ngIf="startDateMoment && endDateMoment">&nbsp;-&nbsp;</ng-container>
        <ng-container *ngIf="endDateMoment">{{ endDateMoment.format(showFormat) }}</ng-container>
      </div>
      <div class="picker-btns">
        <button class="btn btn-link" (click)="resetPicker()">{{ "core.calendar.cancel" | translate }}</button>
        <button class="btn" (click)="applyChanges()">{{ "core.calendar.apply" | translate }}</button>
      </div>
    </div>
  </div>
</div>
