@import "../../../../../theme/new-styles/base/variables";

.datepicker-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.datepicker-input {
  display: inline-block;
  width: 200px;
  height: 25px;
  vertical-align: middle;
}

.interval-sel-toggle {
  display: inline-block;
  vertical-align: middle;
}

.datepicker-field {
  cursor: pointer;
}

.datepicker-dates {
  display: inline-block;
  vertical-align: middle;
  font: 16px/24px Roboto, sans-serif;
  color: var(--calendar-color-active);
  font-weight: 600;
  position: relative;
  top: 1px;
}

.picker-label {
  font: 16px/24px 'Roboto', sans-serif;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.picker-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px;

  span {
    text-transform: uppercase;
    color: var(--calendar-color-active);
    font: bold 12px/15px 'Roboto', sans-serif;
    cursor: pointer;
    border-bottom: 1px solid transparent;

    &.active,
    &:hover {
      color: var(--calendar-color-hover);
    }

    &.active {
      border-bottom-color: var(--calendar-color-hover);
    }
  }
}

.datepicker {
  background: #fff;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 100;
  box-shadow: 0 9px 21px 0 var(--shadow);
  border-radius: $border-radius;
  display: none;

  &.isOpen {
    display: block;
  }

  &:before {
    content: "";
    position: absolute;
    right: 5px;
    top: -6px;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 6px solid #fff;
  }

  .pickers {
    display: flex;

    owl-date-time-inline {
      &:first-child {
        border-right: 1px solid #e5e5e5;
      }
    }
  }
}

.pickers-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 20px;

  > div {
    flex: 1;
    text-align: center;
  }

  .picker-date-preview {
    color: #8898a0;
  }

  .btn {
    min-width: 70px;
  }
}
