.table-offers-integrations {
  .fake-table__cell {
    flex: 1 1 100%;
    width: 1px !important;

    &.w-70px {
      max-width: 70px !important;
    }

    //&:nth-child(4) {
    //  width: 100px !important;
    //}
    //
    &:nth-child(1) {
      max-width: 50px;
    }
    &:nth-child(2) {
      min-width: 250px;
    }
    &:nth-child(3) {
      //max-width: 15%;
      max-width: 200px;
    }
    &:nth-child(4) {
      //width: 22% !important;
      //max-width: 10%;
      max-width: 160px;
    }
    &:nth-child(5) {
      //min-width: 250px;
      min-width: 300px;
    }
    //
    //&:nth-child(9) {
    //  width: 50px !important;
    //}
  }
}

.table-offers-integrations__top {
  .fake-table__head {
    flex: 1 1 100%;
    width: 1px !important;

    &.w-70px {
      max-width: 70px !important;
    }

    &:nth-child(1) {
      max-width: 50px;
    }
    &:nth-child(2) {
      min-width: 250px;
    }
    &:nth-child(3) {
      //max-width: 20%;
      max-width: 200px;
    }
    &:nth-child(4) {
    //  width: 100px !important;
    // max-width: 10%;
     max-width: 160px;
    }
    &:nth-child(5) {
      //min-width: 250px;
      min-width: 300px;
    }
    //
    //&:nth-child(5) {
    //  width: 22% !important;
    //}
    //
    //&:nth-child(6),
    //&:nth-child(7),
    //&:nth-child(8) {
    //  width: 22% !important;
    //}
    //
    //&:nth-child(9) {
    //  width: 50px !important;
    //}
  }
}
