<div class="page-container">
  <div class="page-row page-row-min">
    <div class="page-cell">
      <div class="page-nav-panel">
        <div class="col">
          <a [routerLink]="['/', 'manager', 'offers', 'integrations', 'create']" class="btn btn-add">
            <span class="icn-plus">
              <span class="icn-bar"></span>
              <span class="icn-bar"></span>
            </span>
            Add Integration
          </a>
        </div>
        <!-- BEGIN external-filers -->
        <div class="external-filers" [ngClass]="{'external-filers_open': searchFilter}">
          <!-- BEGIN external-filers__top -->
          <div class="external-filers__top">
            <button type="button" class="external-filers__close" (click)="toggleSearchFilter()">
              <span>Filter</span>
              <i class="fa fa-close"></i>
            </button>
          </div>
          <!-- END external-filers__top  -->
          <!-- BEGIN external-filers__content -->
          <div class="external-filers__content">
            <div class="external-filers__col">
              <!-- BEGIN external-filers__box -->
              <div class="external-filers__box">
                <label class="createOffer__label">Advertisers</label>
                <div class="inp">
                  <app-advertisers-select [(ngModel)]="params.advertiserIds"></app-advertisers-select>
                </div>
              </div>
              <!-- END external-filers__box  -->
              <!-- BEGIN external-filers__box -->
              <div class="external-filers__box">
                <label class="createOffer__label">Platforms</label>
                <div class="inp">
                  <app-integrations-platforms-select [(ngModel)]="params.platforms"></app-integrations-platforms-select>
                </div>
              </div>
              <!-- END external-filers__box  -->
            </div>
            <div class="external-filers__col">
              <!-- BEGIN external-filers__box -->
              <div class="external-filers__box">
                <label class="createOffer__label">Enabled</label>
                <div class="inp">
                  <ng-select [items]="enabledOptions" bindLabel="name" bindValue="id" [(ngModel)]="params.enabled">
                  </ng-select>
                </div>
              </div>
              <div class="external-filers__box">
                <label class="createOffer__label">Approval Required</label>
                <div class="inp">
                  <ng-select [items]="enabledOptions" bindLabel="name" bindValue="id"
                    [(ngModel)]="params.approvalRequired">
                  </ng-select>
                </div>
              </div>
              <!-- END external-filers__box  -->
            </div>
            <div class="external-filers__col">
              <!-- BEGIN external-filers__box -->
              <div class="external-filers__box">
                <label class="createOffer__label">Auto Changes</label>
                <div class="inp">
                  <ng-select [items]="enabledOptions" bindLabel="name" bindValue="id" [(ngModel)]="params.autoChanges">
                  </ng-select>
                </div>
              </div>
              <!-- END external-filers__box  -->
            </div>
            <div class="external-filers__col">
              <!-- BEGIN external-filers__box -->
              <div class="external-filers__box">
                <label class="createOffer__label">Auto Import</label>
                <div class="inp">
                  <ng-select [items]="enabledOptions" bindLabel="name" bindValue="id" [(ngModel)]="params.autoImport">
                  </ng-select>
                </div>
              </div>
              <!-- END external-filers__box  -->
            </div>
          </div>
          <!-- END external-filers__content  -->
          <!-- BEGIN external-filers__bottom -->
          <div class="external-filers__bottom">
            <a class="external-filers__cancel" (click)="resetFilters()">Reset</a>
            <a class="external-filers__apply btn btn-add" (click)="applyFilters()">Apply</a>
          </div>
          <!-- END external-filers__bottom  -->
        </div>
        <!-- END external-filers  -->
        <div class="col">
          <a class="btn btn-filter" (click)="toggleSearchFilter()">
            Filter
            <span class="icn-filter">
              <span class="icn-bar"></span>
              <span class="icn-bar"></span>
              <span class="icn-bar"></span>
            </span>
          </a>
        </div>
      </div>
      <div class="content" *ngIf="integrations.items.length" perfectScrollbar>
        <div class="table-thead table-thead-advertiser-billing">
          <div class="fake-table__top table-offers-integrations__top table-scrollable-thead">
            <div class="fake-table__row">
              <div class="fake-table__head w-40px">
                <span>#</span>
              </div>
              <div class="fake-table__head">
                <span>
                  <span class="inline-block clickable css-popover semi-bold" appCssPopover position="right"
                    (click)="sortByField('advertiserId')">
                    <span>Advertiser ID</span>
                    <span class="css-popover-content">Sort by Scrub Advertiser ID</span>
                  </span>
                  <br>
                  <span>Advertiser Name</span>
                </span>
              </div>
              <div class="fake-table__head">
                <span class="inline-block clickable css-popover semi-bold" appCssPopover position="right"
                  (click)="sortByField('platform')">
                  <span>Platform</span>
                  <span class="css-popover-content">Sort by Scrub Created</span>
                </span>
              </div>
              <div class="fake-table__head">
                <span>
                  <span>Status</span>
                  <br>
                  <span>Last start</span>
                </span>
              </div>
              <div class="fake-table__head">
                <span>
                  <span>Login</span>
                  <br>
                  <span>Password</span>
                </span>
              </div>
              <div class="fake-table__head w-70px">
                <span class="inline-block clickable css-popover semi-bold" appCssPopover position="left"
                  (click)="sortByField('autoImport')">
                  <span>Auto Import</span>
                  <span class="css-popover-content">Sort by Scrub Auto Import</span>
                </span>
              </div>
              <div class="fake-table__head w-70px">
                <span class="inline-block clickable css-popover semi-bold" appCssPopover position="left"
                  (click)="sortByField('autoChanges')">
                  <span>Auto Changes</span>
                  <span class="css-popover-content">Sort by Scrub Auto Changes</span>
                </span>
              </div>
              <div class="fake-table__head w-70px">
                <span class="inline-block clickable css-popover semi-bold" appCssPopover position="left"
                  (click)="sortByField('enabled')">
                  <span>Enable</span>
                  <span class="css-popover-content">Sort by Scrub Enable</span>
                </span>
              </div>
              <div class="fake-table__head w-70px">
                <span class="inline-block clickable css-popover semi-bold" appCssPopover position="left"
                  (click)="sortByField('approvalRequired')">
                  <span>Approval Required</span>
                  <span class="css-popover-content">Sort by Approval Required</span>
                </span>
              </div>
              <div class="fake-table__head w-70px pr-0"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-row">
    <div class="page-cell">
      <perfect-scrollbar class="page-scrollable scrollable" perfectScrollbar>
        <div class="content" *ngIf="!loading">
          <div class="table-advertiser-billing">
            <div class="table-scrollable table-offers-integrations fake-table">
              <div class="fake-table__body">
                <div class="fake-table__row" *ngFor="let integration of integrations.items">
                  <div class="fake-table__cell w-40px">
                    <span>
                      <a [innerHtml]="integration.id" class="text-nowrap"></a>
                    </span>
                  </div>
                  <div class="fake-table__cell">
                    <span>
                      <span [innerHtml]="integration.advertiserId"></span>
                      <br>
                      <a [innerHtml]="integration.advertiserName"
                        [routerLink]="['/', 'manager', 'offers', 'integrations', 'edit', integration.advertiserId]"></a>
                    </span>
                  </div>
                  <div class="fake-table__cell">
                    <span>
                      <span [innerHtml]="integration.credentials.platform"></span>
                    </span>
                  </div>
                  <div class="fake-table__cell">
                    <span>
                      <span class="label " [ngClass]="{
                          'label-green': integration.statusOriginal === 'done',
                          'label-invoice-rejected': integration.statusOriginal === 'in progress'
                        }" [innerHtml]="integration.statusName"></span>
                      <br>
                      <span [innerHtml]="integration.lastExecutionStart | timezone:'MM/dd/yyyy'"></span>
                      <br>
                      <span [innerHtml]="integration.lastExecutionStart | timezone:'HH:mm:ss'"></span>

                    </span>
                  </div>
                  <div class="fake-table__cell">
                    <span>
                      <span class="label label-lightgray" *ngIf="integration.credentials.login">
                        <span [innerHtml]="integration.credentials.login"></span>
                      </span>
                      <div>
                        <span class="label label-lightgray" [innerHtml]="integration.credentials.password"></span>
                      </div>
                    </span>
                  </div>
                  <div class="fake-table__cell w-70px">
                    <span>
                      <div class="inp inp-check approval-check__input">
                        <label>
                          <input type="checkbox" [(ngModel)]="integration.autoImport.enabled" disabled>
                          <i class="icn-check"></i>
                        </label>
                      </div>
                    </span>
                  </div>
                  <div class="fake-table__cell w-70px">
                    <span>
                      <div class="inp inp-check approval-check__input">
                        <label>
                          <input type="checkbox" [(ngModel)]="integration.autoChanges" disabled>
                          <i class="icn-check"></i>
                        </label>
                      </div>
                    </span>
                  </div>
                  <div class="fake-table__cell w-70px">
                    <span>
                      <div class="inp inp-check approval-check__input">
                        <label>
                          <input type="checkbox" [(ngModel)]="integration.enabled" disabled>
                          <i class="icn-check"></i>
                        </label>
                      </div>
                    </span>
                  </div>
                  <div class="fake-table__cell w-70px">
                    <span>
                      <div class="inp inp-check approval-check__input">
                        <label>
                          <input type="checkbox" [(ngModel)]="integration.approvalRequired" disabled>
                          <i class="icn-check"></i>
                        </label>
                      </div>
                    </span>
                  </div>
                  <div class="fake-table__cell w-70px pr-0">
                    <div class="approvals-settings">
                      <a [routerLink]="['/', 'manager', 'offers', 'integrations', 'edit', integration.id]"
                        class="approvals-settings__item approvals-settings__item_edit css-popover"
                        data-placement="left">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <span class="css-popover-content ng-scope">Edit Integration</span>
                      </a>
                      <ng-container *ngIf="integration.status !== 2">
                        <a class="approvals-settings__item approvals-settings__item_edit css-popover"
                           *hasPermission="['manual_start_integration']"
                           (click)="startIntegration(integration)" data-placement="left">
                          <i class="fa fa-play" aria-hidden="true"></i>
                          <span class="css-popover-content ng-scope">Start Integration</span>
                        </a>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-no-data *ngIf="!integrations.items.length && !loading"></app-no-data>
      </perfect-scrollbar>
    </div>
  </div>
  <div class="page-row page-row-min" *ngIf="integrations.items.length">
    <div class="page-cell">
      <div class="page-footer-panel">
        <div class="col"></div>
        <div class="col">
          <table-limit [limit]="params.limit" (changedLimit)="tableLimit($event)"></table-limit>
        </div>
        <div class="col">
          <table-pagination [page]="integrations.page" [totalPages]="integrations.totalPages"
            (currentPage)="goToPage($event)">
          </table-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loader [loading]="loading"></app-loader>
