<full-page>

  <page-head class="pb-4">
    <div class="col">
      <app-search [search]="params.search" name="search" (submitSearch)="applySearch($event)"></app-search>
    </div>
    <div class="col-auto">
      <div class="d-flex align-items-center">

        <date-range-picker
          [startDate]="params.date_from"
          [endDate]="params.date_to"
          (onApply)="calendarCallback($event)">
        </date-range-picker>

        <btn class="ml-3"
             size="lg"
             routerLink="/manager/billing/publishers/invoices/create"
             *hasPermission="['create_custom_publisher_invoice']">
          Create Invoice
        </btn>

        <btn class="ml-2" size="lg" [simple]="true" (click)="filterComponent.toggle()">
          Filter
          <i class="fa fa-filter ml-1"></i>
        </btn>

      </div>
    </div>

    <div class="col-12">
      <div class="d-flex align-items-center">
        <span class="mr-2">
          Total unpaid:
          <strong>{{ totalUnpaid.amount }} {{ totalUnpaid.currency }}</strong>
        </span>
        <btn (click)="mergeInvoices()" [disabled]="selectedInvoices.length <= 1">
          {{ "pubBilling.merge" | translate }}
        </btn>
      </div>
    </div>

    <app-filter #filterComponent>
      <ng-container filter-content>
        <div class="row">
          <div class="col-3">
            <div class="mb-2">
              <form-label>{{ "pubBilling.pubId" | translate }}</form-label>
              <publisher-select [multiple]="true" [(ngModel)]="params.publisher_id"></publisher-select>
            </div>
            <div class="mb-2">
              <form-label>{{ "pubBilling.managerIds" | translate }}</form-label>
              <manager-select [(ngModel)]="params.manager_id"></manager-select>
            </div>
          </div>
          <div class="col-3">
            <div class="mb-2">
              <form-label>{{ "pubBilling.paymentTerms" | translate }}</form-label>
              <payment-terms-select [(ngModel)]="params.payment_terms"></payment-terms-select>
            </div>
            <div class="mb-2">
              <form-label>Type</form-label>
              <ng-select [(ngModel)]="params.type" [items]="invoicesType" bindLabel="name" bindValue="id"></ng-select>
            </div>
          </div>
          <div class="col-3">
            <div class="mb-2">
              <form-label>{{ "pubBilling.status" | translate }}</form-label>
              <app-invoice-statuses [(ngModel)]="params.status"></app-invoice-statuses>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container filter-footer>

        <btn [simple]="true" (click)="resetFilters(); filterComponent.close()">Reset</btn>
        <btn (click)="applyFilters(); filterComponent.close()">Apply</btn>

      </ng-container>

    </app-filter>
  </page-head>

  <page-body  tableSync [data]="invoices?.items">

    <ng-container *ngIf="invoices?.items?.length">
      <table-head>
        <tr>
          <th></th>
          <th><b class="clickable" (click)="sortByField('number')">{{ "pubBilling.table.number" | translate }}</b></th>
          <th><b class="clickable" (click)="sortByField('period')">{{ "pubBilling.table.period" | translate }}</b></th>
          <th>
            <b class="clickable" (click)="sortByField('publisherName')">{{ "pubBilling.table.pubName" | translate }}</b>
            <b class="clickable" (click)="sortByField('publisherId')">{{ "pubBilling.table.pubId" | translate }}</b>
          </th>
          <th>
            <b class="clickable" (click)="sortByField('amount')">{{ "pubBilling.table.amount" | translate }}</b>
            <b class="clickable" (click)="sortByField('currency')">{{ "pubBilling.table.currency" | translate }}</b>
            <b class="clickable" (click)="sortByField('paymentTerms')">{{ "pubBilling.table.payTerms" | translate }}</b>
          </th>
          <th>
            <b class="clickable" (click)="sortByField('createdAt')">{{ "pubBilling.table.dateCreated" | translate }}</b>
            <b class="clickable" (click)="sortByField('paidAt')">{{ "pubBilling.table.datePaid" | translate }}</b>
            <b class="clickable" (click)="sortByField('rejectedAt')">{{ "pubBilling.table.dateRejected" | translate }}</b>
          </th>
          <th>
            <b class="clickable" (click)="sortByField('status')">{{ "pubBilling.table.status" | translate }}</b>
            <span>Has Cross Payment</span>
          </th>
          <th>
            <span>Details</span><br/>
            <span>Invoices</span>
          </th>
          <th></th>
          <th></th>
        </tr>
      </table-head>

      <table-body>
        <tr *ngFor="let invoice of invoices.items; let index = index;">
          <td [style.width.px]="54">
            <checkbox [(ngModel)]="invoice.isChecked" (change)="checkingInvoice(invoice.isChecked, invoice.id)"></checkbox>
          </td>
          <td>{{ invoice.invoiceNumber }}</td>
          <td>
            <span>{{ invoice.period.from | dateFormatDynamic }} - {{ invoice.period.to | dateFormatDynamic }}</span><br/>
            <badge [primary]="true">{{ invoice.type }}</badge>
          </td>
          <td>
            <a [popover]="popoverTemplate">
              {{ invoice.publisher.name }}
              <ng-template #popoverTemplate>
                {{ "pubBilling.managedBy" | translate }} {{ invoice.publisher.managerName }}
              </ng-template>
            </a><br/>
            <span>{{ invoice.publisher.manager_id }}</span><br/>
            <span>{{ invoice.publisher.id }}</span>
          </td>
          <td>
            <span>
              <span>{{ invoice.amount.amount }}</span>
              <span *ngFor="let part of invoice.amountDetails.parts | keyvalue">
                <ng-container *ngIf="part.value.amount !== 0">
                  {{part.value.action + ' ' + part.value.amount}}
                </ng-container>
              </span>
              <span *ngIf="invoice.amount.amount !== invoice.amountDetails.total.amount">
                = {{ invoice.amountDetails.total.amount }}
              </span>
            </span><br/>
            <strong>{{ invoice.amount.currency }}</strong><br/>
            <badge [secondary]="true">{{ invoice.paymentInfo.paymentTerms | paymentTerms | async }}</badge>
          </td>
          <td>
            <div class="mb-1"><badge [secondary]="true">{{ invoice.createdAt | dateFormatDynamic }}</badge></div>
            <div class="mb-1" *ngIf="invoice.paidAt">
              <badge>{{ invoice.paidAt | dateFormatDynamic }}</badge>
            </div>
            <div class="mb-1" *ngIf="invoice.rejectedAt">
              <badge [simple]="true">{{ invoice.rejectedAt | dateFormatDynamic }}</badge>
            </div>
          </td>
          <td>
            <div class="mb-1" *ngIf="!invoice.availableStatuses.length">
              <badge>{{ invoice.status | invoicesStatus }}</badge>
            </div>
            <div *ngIf="invoice.availableStatuses.length" class="status-select mb-1">
              <div class="status-select-current" [innerHtml]="invoice.status | invoicesStatus"></div>
              <div class="status-select-options">
                <ng-container *ngFor="let status of invoice.availableStatusesArr">
                                <span *ngIf="status.id !== 4" class="status-select-option" [innerHtml]="status.name"
                                      (click)="changeOfferStatus(invoice, status.id)"></span>
                </ng-container>
              </div>
            </div>
            <badge [primary]="true" *ngIf="invoice?.hasCrossPayment">Has Cross Payment</badge>
          </td>
          <td>
            <div class="mb-1">
              <a class="inline-link" (click)="getInvoiceInfo(invoice.id)">
                {{ "pubBilling.details" | translate }}
              </a>
            </div>
            <div class="mb-1">
              <btn [outline]="true" size="xs" (click)="toggleUploadModal('open', invoice.id)">
                Upload <i class="fa fa-upload ml-1"></i>
              </btn>
            </div>
            <div class="mb-1" *ngIf="invoice.fileId">
              <btn [outline]="true" size="xs" (click)="downloadInvoiceFile(invoice.id)">
                Download <i class="fa fa-download ml-1"></i>
              </btn>
            </div>
          </td>
          <td [style.width.px]="80">
            <app-actions>
              <a class="actions-option action-edi"
                 [routerLink]="['/', 'manager', 'billing', 'publishers', 'invoices', 'edit', invoice.id]"
                 translate="pubBilling.edit"></a>
              <a class="actions-option action-vie"
                 [routerLink]="['/', 'manager', 'billing', 'publishers', 'invoices', 'info', invoice.id]"
                 translate="pubBilling.view"></a>
            </app-actions>
          </td>
        </tr>
      </table-body>

      <!--   TODO - Эту конструкцию можно будет поменять на table-control после рефакторинга ts   -->
      <div class="row pt-3 justify-content-end table-control">
        <div class="col-auto">
          <page-control>
            <table-limit [limit]="invoices.limit" (changedLimit)="tableLimit($event)"></table-limit>
            <table-pagination [page]="invoices.page" [totalPages]="invoices.totalPages" (currentPage)="goToPage($event)"></table-pagination>
          </page-control>
        </div>
      </div>

    </ng-container>

    <app-no-data *ngIf="!invoices?.items?.length && !loading"></app-no-data>

  </page-body>

</full-page>

<app-loader [loading]="loading"></app-loader>

<modal #invoiceModal>
  <modal-header>
    <span>{{ '#' + invoiceInfo?.invoiceNumber }}</span>
    <span class="ml-2">{{ "pubBilling.invoiceDetails" | translate }}</span>
    <badge class="ml-2">{{ invoiceInfo?.status | invoicesStatus }}</badge>
  </modal-header>

  <modal-body>

    <div class="pay-detail__items">
      <!-- BEGIN pay-detail__item -->
      <div class="pay-detail__item">
        <div class="pay-detail__header" translate="pubBilling.payeeDetails"></div>
        <div class="pay-detail__table">
          <div class="pay-detail__row">
            <div class="pay-detail__cell" translate="pubBilling.name"></div>
            <div class="pay-detail__cell" [innerHtml]="invoiceInfo?.publisher.name"></div>
          </div>
          <div class="pay-detail__row">
            <div class="pay-detail__cell" translate="pubBilling.address"></div>
            <div class="pay-detail__cell" [innerHtml]="invoiceInfo?.paymentInfo.address"></div>
          </div>
          <div class="pay-detail__row">
            <div class="pay-detail__cell" translate="pubBilling.phone"></div>
            <div class="pay-detail__cell" [innerHtml]="invoiceInfo?.paymentInfo.phone"></div>
          </div>
          <div class="pay-detail__row">
            <div class="pay-detail__cell" translate="pubBilling.email"></div>
            <div class="pay-detail__cell" [innerHtml]="invoiceInfo?.paymentInfo.email"></div>
          </div>

        </div>
      </div>
      <!-- END pay-detail__item -->
      <!-- BEGIN pay-detail__item -->
      <div class="pay-detail__item">
        <div class="pay-detail__header" translate="pubBilling.generalDetails"></div>
        <div class="pay-detail__table">
          <div class="pay-detail__row">
            <div class="pay-detail__cell" translate="pubBilling.invoiceCreated"></div>
            <div class="pay-detail__cell" [innerHtml]="invoiceInfo?.createdAt | dateFormatDynamic"></div>
          </div>
          <div class="pay-detail__row">
            <div class="pay-detail__cell" translate="pubBilling.payDate"></div>
            <div class="pay-detail__cell" [innerHtml]="invoiceInfo?.paidAt | dateFormatDynamic"></div>
          </div>
          <div class="pay-detail__row">
            <div class="pay-detail__cell" translate="pubBilling.status"></div>
            <div class="pay-detail__cell" [innerHtml]="invoiceInfo?.status | invoicesStatus"></div>
          </div>
          <div class="pay-detail__row">
            <div class="pay-detail__cell" translate="pubBilling.notes"></div>
            <div class="pay-detail__cell" [innerHtml]="invoiceInfo?.notes"></div>
          </div>
        </div>
      </div>
      <!-- END pay-detail__item -->
    </div>
    <div class="pay-detail__header" translate="pubBilling.payAmount"></div>
    <!-- BEGIN pay-detail__pay-amount -->
    <div class="pay-detail__pay-amount pay-amount">
      <div class="pay-amount__top">
        <div class="pay-amount__head" translate="pubBilling.earned"></div>
        <div class="pay-amount__head" translate="pubBilling.compensation"></div>
        <div class="pay-amount__head" translate="pubBilling.fee"></div>
        <div class="pay-amount__head" translate="pubBilling.rejected"></div>
        <div class="pay-amount__head" translate="pubBilling.hold"></div>
        <div class="pay-amount__head" translate="pubBilling.total"></div>
      </div>
      <div class="pay-amount__row panel-gray">
        <div class="pay-amount__cell" [innerHtml]="invoiceInfo?.amount?.amount"></div>
        <div class="pay-amount__cell pay-amount__cell_green"
             [innerHtml]="invoiceInfo?.amountDetails?.compensation?.amount"></div>
        <div class="pay-amount__cell pay-amount__cell_red" [innerHtml]="invoiceInfo?.fee"></div>
        <div class="pay-amount__cell pay-amount__cell_red"
             [innerHtml]="invoiceInfo?.amountDetails?.rejected?.amount"></div>
        <div class="pay-amount__cell pay-amount__cell_red"
             [innerHtml]="invoiceInfo?.amountDetails?.hold?.amount"></div>
        <div class="pay-amount__cell pay-amount__cell_bold"
             [innerHtml]="invoiceInfo?.amountDetails?.total?.amount"></div>
      </div>
    </div>
    <!-- END pay-detail__pay-amount  -->
    <div class="pay-detail__header" translate="pubBilling.transferDetails"></div>
    <!-- BEGIN pay-detail__pay-panel -->
    <div class="pay-detail__pay-panel pay-panel panel-gray">
      <div class="pay-panel__header" translate="pubBilling.wireTransfer"></div>
      <div class="pay-panel__table">
        <div class="pay-panel__row">
          <div class="pay-panel__cell" translate="pubBilling.beneficiaryName"></div>
          <div class="pay-panel__cell" [innerHtml]="invoiceInfo?.paymentInfo.beneficiaryName"></div>
        </div>
        <div class="pay-panel__row">
          <div class="pay-panel__cell" translate="pubBilling.beneficiaryAccount"></div>
          <div class="pay-panel__cell" [innerHtml]="invoiceInfo?.paymentInfo.beneficiaryAccount"></div>
        </div>
        <div class="pay-panel__row">
          <div class="pay-panel__cell" translate="pubBilling.beneficiaryAddress"></div>
          <div class="pay-panel__cell" [innerHtml]="invoiceInfo?.paymentInfo.beneficiaryAddress"></div>
        </div>
        <div class="pay-panel__row">
          <div class="pay-panel__cell" translate="pubBilling.iban"></div>
          <div class="pay-panel__cell" [innerHtml]="invoiceInfo?.paymentInfo.iban"></div>
        </div>
        <div class="pay-panel__row">
          <div class="pay-panel__cell" translate="pubBilling.bankName"></div>
          <div class="pay-panel__cell" [innerHtml]="invoiceInfo?.paymentInfo.bankName"></div>
        </div>
        <div class="pay-panel__row">
          <div class="pay-panel__cell" translate="pubBilling.bankAddress"></div>
          <div class="pay-panel__cell" [innerHtml]="invoiceInfo?.paymentInfo.bankAddress"></div>
        </div>
        <div class="pay-panel__row">
          <div class="pay-panel__cell" translate="pubBilling.routing"></div>
          <div class="pay-panel__cell" [innerHtml]="invoiceInfo?.paymentInfo.routing"></div>
        </div>
        <div class="pay-panel__row">
          <div class="pay-panel__cell" translate="pubBilling.swift"></div>
          <div class="pay-panel__cell" [innerHtml]="invoiceInfo?.paymentInfo.swift"></div>
        </div>
      </div>
    </div>
    <!-- END pay-detail__pay-panel  -->

    <!-- BEGIN pay-detail__pay-panel -->
    <div class="pay-detail__pay-panel pay-panel panel-gray">
      <div class="pay-panel__header" translate="pubBilling.PayPal"></div>
      <div class="pay-panel__table">
        <div class="pay-panel__row">
          <div class="pay-panel__cell" translate="pubBilling.Email"></div>
          <div class="pay-panel__cell" [innerHtml]="invoiceInfo?.paymentInfo.paypalEmail"></div>
        </div>
      </div>
    </div>
    <!-- END pay-detail__pay-panel  -->

    <!-- BEGIN pay-detail__pay-panel -->
    <div class="pay-detail__pay-panel pay-panel panel-gray">
      <div class="pay-panel__header" translate="pubBilling.WebMoney"></div>
      <div class="pay-panel__table">
        <div class="pay-panel__row">
          <div class="pay-panel__cell" translate="pubBilling.WMZ"></div>
          <div class="pay-panel__cell" [innerHtml]="invoiceInfo?.paymentInfo.wmz"></div>
        </div>
      </div>
    </div>
    <!-- END pay-detail__pay-panel  -->

    <!-- BEGIN pay-detail__pay-panel -->
    <div class="pay-detail__pay-panel pay-panel panel-gray">
      <div class="pay-panel__header" translate="pubBilling.ePayments"></div>
      <div class="pay-panel__table">
        <div class="pay-panel__row">
          <div class="pay-panel__cell" translate="pubBilling.ID"></div>
          <div class="pay-panel__cell" [innerHtml]="invoiceInfo?.paymentInfo.epaymentsId"></div>
        </div>
      </div>
    </div>
    <!-- END pay-detail__pay-panel  -->

  </modal-body>
</modal>

<modal #fileUploadModal size="lg">

  <modal-header>Upload Publisher Invoice</modal-header>

  <modal-body>
    <div class="approve-box">
      <div class="approve-box__line file-upload">
        <div class="createOffer__input file-upload-box">
          <input type="text" name="name" [(ngModel)]="invoiceFile.name">
          <button type="button" *ngIf="invoiceFile.content" class="btn btn-gray" (click)="clearInvoiceFile()">
            <i class="fa fa-remove"></i>
          </button>
          <button type="button" *ngIf="invoiceFile.content" class="btn btn-gray" (click)="saveInvoiceFileToServer()">
            <i class="fa fa-upload"></i>
          </button>
          <div class="file-upload-input">
            <label class="btn btn-ok upload-btn">
              <span>Browse...</span>
              <app-upload-file [fileSize]="26214400" [reset]="invoiceFile.name"
                [accept]="['image/jpeg','image/png', 'application/pdf', 'image/tiff']"
                (fullObject)="uploadInvoiceFile($event)" [additionalButton]="invoiceFile"></app-upload-file>
            </label>
          </div>
        </div>
      </div>
    </div>
  </modal-body>

  <modal-footer>
    <btn [simple]="true" (click)="toggleUploadModal('close'); clearInvoiceFile()">Cancel</btn>
  </modal-footer>

</modal>
