@import "variables";
@import "../../../../../theme/new-styles/base/variables";

.managers-filter {
  display: flex;
  padding-bottom: 24px;
  &__left {
    display: flex;
    &-pub {
      width: 100%;
      .approval-panel__left {
        display: flex;
      }
    }
    .ofManagers-check {
      margin-right: 10px;
    }
  }
  .approval-panel__btn {
    height: 32px;
    line-height: 32px;
    padding-top: 0;
    padding-bottom: 0;
    &:focus {
      outline: none;
    }
  }
  &__controls {
    font-size: 0;
    width: 200px;
  }
  &__control {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: #283B6D;
    border-radius: $border-radius;
    font-size: 14px; //line-height: 32px;
    line-height: 1;
    color: #fff;
    text-align: center;
    &:not(:last-child) {
      margin-right: 8px;
    }
    &_suspended {
      background-color: $lgreen;
      box-shadow: 0 4px 10px rgba(17, 131, 134, .8);
    }
    &_active {
      background-color: $green;
      box-shadow: 0 4px 10px rgba(17, 131, 134, .8);
    }
    &_pause24 {
      background-color: #FFB100;
      box-shadow: 0 4px 10px rgb(197, 102, 27);
    }
    &_pause {
      background-color: $red;
      box-shadow: 0 4px 10px #D32836;
    }
    &_delete {
      background-color: $gray;
      box-shadow: 0 4px 10px #4D5356;
    }
  }
  &__items {
    display: inline-block;
  }
  &__right {
    width: calc(100% - 200px);
    text-align: right;
    font-size: 0;
    .approval-panel__btn {
      &:last-child {
        padding: 0 10px;
      }
    }
  }
  &__panel-right {
    font-size: 0;
    display: inline-block;
    padding-left: 32px;
    .approval-panel__btn {
      margin-left: 4px;
    }
  }
  &__list {
    position: absolute;
    width: 100%;
    right: 0;
    top: 100%;
    background-color: #fff;
    border-radius: $border-radius;
    box-shadow: 0 9px 21px rgba(22, 32, 72, .15);
    z-index: 1;
    min-width: 110px;
    opacity: 0;
    visibility: hidden;
    transition: all .25s;
    &[data-placement=left] {
      right: calc(-100% + 14px);
      transition: all .1s;
    }
    &-item {
      transition: color .3s;
      padding: 5px 10px;
      cursor: pointer;
      text-align: left;
      &:first-letter {
        text-transform: uppercase;
      }
      &_active {
        background-color: rgba(2, 195, 200, .2);
        color: #02c3c8;
        &:first-child {
          border-radius: $border-radius $border-radius 0 0;
        }
        &:last-child {
          border-radius: 0 0 $border-radius $border-radius;
        }
      }
      &:hover {
        color: $lgreen;
      }
    }
  }
  &__item {
    display: inline-block;
    font-size: 14px; //padding-bottom: 2px;
    position: relative;
    &:not(:last-child) {
      margin-right: 4px;
    }
    &_open {
      .managers-filter__list {
        opacity: 1;
        visibility: visible;
      }
    }
    &_accent {
      .managers-filter__item-name {
        color: #fff;
        background: $lgreen;
      }
    }
    &-name {
      padding: 7px 33px 7px 11px;
      color: $gray;
      font-weight: 600;
      background-color: #fff;
      border-radius: $border-radius;
      cursor: pointer;
      position: relative;
      &:after {
        content: "\f078";
        font-family: 'FontAwesome';
        position: absolute;
        top: calc(50% - 5px);
        font-size: 11px;
        right: 11px;
        transition: all .3s;
      }
    }
  }
}

.external-filers_open {
  visibility: visible;
  opacity: 1;
}

//.add-email {
//  position: absolute;
//  top: 100px;
//  left: calc(50% - 304px);
//  width: 608px;
//  background: #fff;
//  -webkit-box-shadow: 0 9px 21px rgba(22, 32, 72, 0.15);
//  box-shadow: 0 9px 21px rgba(22, 32, 72, 0.15);
//  z-index: 3;
//}
