<div class="page scrollable" perfectScrollbar>
  <div class="page-container scheduled-table">
    <div class="page-row page-row-min">
      <div class="page-cell">
        <div class="page-nav-panel">
          <div class="col">
            <div class="col">
              <div class="search">
                <app-search [search]="params.search" (submitSearch)="applyFilters($event)"></app-search>
              </div>
            </div>
          </div>

          <div class="external-filers" [ngClass]="{'external-filers_open': advanceSearchModal}">
            <div class="external-filers__top">
              <button type="button" class="external-filers__close" (click)="toggleAdvanceFilterModal()">
                <span translate="manageOffers.advanceSearch">Advance Search</span>
                <i class="fa fa-close"></i>
              </button>
            </div>
            <div class="external-filers__content">
              <div class="external-filers__col">
                <div class="external-filers__box">
                  <div class="external-filers__label-control">
                    <label class="createOffer__label" translate="manageOffers.infoBox.geography">Geography</label>
                  </div>
                  <div class="createOffer__select">
                    <div class="inp">
                      <div class="select-field">
                        <app-countries-select [(ngModel)]="currentParams.countries"></app-countries-select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="external-filers__col">
                <div class="external-filers__box">
                  <div class="external-filers__label-control">
                    <label class="createOffer__label" translate="manageOffers.infoBox.categories"></label>
                  </div>
                  <div class="createOffer__select">
                    <div class="inp">
                      <div class="select-field">
                        <app-tags-select [(ngModel)]="currentParams.tags" [bindValue]="'name'"></app-tags-select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="external-filers__col">
                <div class="external-filers__box">
                  <div class="external-filers__label-control">
                    <label class="createOffer__label" translate="manageOffers.infoBox.platform">Platform</label>
                  </div>
                  <div class="createOffer__select">
                    <div class="inp">
                      <div class="select-field">
                        <app-platforms-select [(ngModel)]="currentParams.platforms"></app-platforms-select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="external-filers__col">
                <div class="external-filers__box">
                  <div class="external-filers__label-control">
                    <label class="createOffer__label" translate="manageOffers.trafficType">Traffic Type</label>
                  </div>
                  <div class="createOffer__select">
                    <div class="inp">
                      <div class="select-field">
                        <ng-select [placeholder]="'Choose...'" [items]="trafficTypes" bindLabel="value" bindValue="id"
                          [(ngModel)]="currentParams.trafficType"></ng-select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="external-filers__col">

                <div class="external-filers__box">
                  <div class="external-filers__label-control">
                    <label class="createOffer__label" translate="manageOffers.showOnly">Show only</label>
                  </div>
                  <div class="createOffer__select">
                    <checkbox [(ngModel)]="currentParams.new" [trueValue]="1" [falseValue]="0">
                      {{'manageOffers.newOffers' | translate}}</checkbox>
                  </div>
                  <div class="createOffer__select mt11">
                    <checkbox [(ngModel)]="currentParams.approved" [trueValue]="1" [falseValue]="0">
                      {{'manageOffers.approvedOffers' | translate}}</checkbox>
                  </div>
                </div>
              </div>
            </div>
            <div class="external-filers__bottom">
              <button type="reset" class="external-filers__cancel btn" translate="manageOffers.reset"
                (click)="resetAdvanceSearchFilter()">Reset
              </button>
              <button type="submit" class="external-filers__apply btn btn-add" translate="manageOffers.apply"
                (click)="applyAdvanceSearchFilter()">Apply
              </button>
            </div>
          </div>
          <div class="col">
            <a class="btn btn-light" (click)="toggleAdvanceFilterModal()">
              <i class="fa fa-search fa-icon-reverse-right" aria-hidden="true"></i>
              <span translate="manageOffers.advanceSearch">Advance Search</span>
            </a>
          </div>
        </div>
        <div class="managers-filter">
          <div class="managers-filter__left managers-filter__left-pub">
            <div class="approval-panel__left">
              <div class="approval-check ofPubManagers-check" [ngClass]="{'approval-check_open': categoryIsOpen}">
                <div class="inp inp-check approval-check__input css-popover">
                  <label for="allOffersCheck">
                    <input id="allOffersCheck" type="checkbox" [(ngModel)]="allOffersChecked"
                      (change)="checkingAllOffer()">
                    <i class="icn-check"></i>
                  </label>
                  <span class="css-popover-content">
                    <span *ngIf="!allOffersChecked" translate="manageOffers.selectAll">Select All</span>
                    <span *ngIf="allOffersChecked" translate="manageOffers.unselectAll">Deselect All</span>
                  </span>
                </div>
              </div>
              <button class="approval-panel__btn approval-panel__btn_large approval-panel__btn_active" *ngIf="isOffers"
                [disabled]="!selectedOffers.length" (click)="approveOffersRequest()">
                <span translate="manageOffers.requestOffer">Request offer</span>
              </button>
            </div>
            <div class="approval-panel__right">
              <div class="managers-filter__items">
                <div class="managers-filter__item">
                  <ng-select [items]="filterSchema.sort" bindLabel="value" bindValue="key" [searchable]="false"
                    [clearable]="false" placeholder="Sort by" class="custom-select" [(ngModel)]="filter.sort"
                    (change)="setFilter('sort', $event.key)">
                  </ng-select>
                </div>
                <div class="managers-filter__item">
                  <ng-select [clearable]="false" [searchable]="false" bindValue="key" [items]="filterSchema.order"
                    [(ngModel)]="filter.order" placeholder="Order" class="custom-select"
                    (change)="setFilter('order', $event.key)">
                    <ng-template ng-label-tmp let-item="item">
                      <i class="fa" ngClass="{{item.className}}"></i>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item">
                      <i class="fa" ngClass="{{item.className}}"></i> {{item.value}}
                    </ng-template>
                  </ng-select>
                </div>

                <div class="managers-filter__panel-right">
                  <button class="approval-panel__btn approval-panel__btn_wide css-popover" data-placement="top"
                    (click)="applyFilters()" [disabled]="!disabledFiltersButton()">
                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                    <div class="css-popover-content" translate="manageOffers.applyFilter">Apply filter</div>
                  </button>
                  <button class="approval-panel__btn css-popover" (click)="resetFilters()"
                    [disabled]="!disabledFiltersButton()">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    <div class="css-popover-content" translate="manageOffers.filters.reset"></div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="page-row ">
      <div class="page-cell">
        <div class="page-scrollable scrollable" perfectScrollbar #perfectScrollbar>
          <div class="content" *ngIf="offers.items.length">
            <div class="fake-table fake-managers fake-pub-managers">
              <div class="fake-table__body-wrap">
                <div class="fake-table__body">
                  <div class="fake-table__row" *ngFor="let item of offers.items; let $index = index;">
                    <div class="fake-table__cell">
                      <span>
                        <span class="approvals-id css-popover" data-placement="right" appCssPopover>
                          <span></span>
                          <span class="css-popover-content">Offer id</span>
                        </span>
                        <div class="inp inp-check approvals-input css-popover" data-placement="right">
                          <label>
                            <input [disabled]="!(item.approvalRequired && !item.offerApproval)" type="checkbox"
                              [(ngModel)]="item.isChecked" (change)="checkingOffer(item)">
                            <i class="icn-check"></i>
                          </label>
                          <div class="css-popover-content" *ngIf="item.approvalRequired && !item.offerApproval">
                            <span *ngIf="!item.isChecked" translate="manageOffers.selectOffer">Select offer</span>
                            <span *ngIf="item.isChecked" translate="manageOffers.unselectOffer">Deselect offer</span>
                          </div>
                        </div>
                      </span>
                    </div>
                    <div class="fake-table__cell">
                      <span class="white app-icon clickable">
                        <img [src]="item.thumbUrl">
                      </span>
                    </div>
                    <div class="fake-table__cell">
                      <div class="app-setting__wrap">
                        <div class="app-setting app-setting_small">
                          <div class="app-setting__name app-setting__name_fire">
                            <span class="css-popover" appCssPopover>
                              <strong>{{item?.name}}</strong>
                              <span class="css-popover-content" translate="manageOffers.offerName">Offer name</span>
                            </span>
                            <a *ngIf="item.previewUrl" [href]="item.previewUrl" class="css-popover" appCssPopover>
                              <i class="fa fa-external-link ml-1"></i>
                              <span class="css-popover-content" translate="manageOffers.landingPage"></span>
                            </a>
                            <span class="app-setting__tip css-popover" appCssPopover *ngIf="item.typeName === 'incent'"
                              data-placement="bottom">
                              <div class="css-popover-content ng-scope" translate="manageOffers.incent">Incent</div>
                            </span>
                          </div>
                          <div>
                            <label class="css-popover label label-lightgray label-no-margin" appCssPopover>
                              <span [innerHtml]="item.id"></span>
                              <div class="css-popover-content">
                                <span translate="manageOffers.offerID">Offer id</span>
                              </div>
                            </label>
                          </div>
                          <div class="pubOffer-info">
                            <a class="approvals-btn css-popover" appCssPopover (click)="showOfferInfo(item.id)">
                              <span>INFO</span>
                              <span class="css-popover-content" translate="manageOffers.infoMsg">Offer quick info</span>
                            </a>
                            <span class="light css-popover" appCssPopover data-placement="top">
                              <span class="manager-offers-date" [innerHtml]="item.createdAt | dateFormat"></span>
                              <span class="css-popover-content ng-scope" translate="manageOffers.creatingDate">Creating
                                date</span>
                            </span>
                            <label class="label css-popover" appCssPopover [ngClass]="'icon-status-'+item.statusOrigin">
                              <span class="css-popover-content" style="text-transform: capitalize;"
                                [innerHtml]="item.statusName"></span>
                            </label>
                            <label class="label label-invoice-rejected css-popover" appCssPopover>
                              <span style="text-transform: capitalize;" [innerHTML]="item.trafficType.value"></span>
                              <span class="css-popover-content" style="text-transform: capitalize;"
                                [innerHTML]="item.trafficType.value"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="fake-table__cell">
                      <div>
                        <label class="label label-info" *ngFor="let tag of item.tags">{{tag?.name}}</label>
                      </div>
                    </div>
                    <div class="fake-table__cell">
                      <label class="label label-lightgray"
                        *ngIf="(item.offerApproval && item?.offerApproval?.status) === 1 && item.approvalRequired"
                        translate="manageOffers.pendingApproval">Pending approval</label>
                      <label class="label label-lightgray"
                        *ngIf="(item.offerApproval && item?.offerApproval?.status) === 3 && !item.approvalRequired"
                        translate="manageOffers.lockedOffer">Offer is locked</label>
                      <label class="label label-yellow"
                        *ngIf="(item.offerApproval && item?.offerApproval?.status) === 3 && item.approvalRequired"
                        translate="manageOffers.requestDeclined">
                        Request declined</label>
                      <div class="d-inline-block css-popover" appCssPopover
                        *ngIf="(item.offerApproval && item?.offerApproval?.status === 2 && item.approvalRequired) || !item.approvalRequired">
                        <a [routerLink]="['/', 'publisher', 'offers', 'detail', item.id]" class="btn btn-ok">
                          <i class="fa fa-volume-up mr-2"></i>
                          <span translate="manageOffers.promote">Promote</span>
                        </a>
                        <span class="css-popover-content" translate="manageOffers.viewOfferDetail">View offer detail
                          and grab tracking links</span>
                      </div>
                      <div class="d-inline-block css-popover" appCssPopover
                        *ngIf="item.approvalRequired && !item.offerApproval" (click)="approveOffersRequest(item.id)">
                        <button class="btn btn-warning">
                          <i class="fa fa-shopping-cart mr-2"></i>
                          <span translate="manageOffers.requestOffer">Request offer</span>
                        </button>
                        <span class="css-popover-content" translate="manageOffers.pressRequestOffer">Press to request
                          offer</span>
                      </div>
                    </div>
                    <div class="fake-table__bottom">
                      <div class="manager-goals">
                        <div class="manager-goals__top css-popover" appCssPopover>
                          <div class="manager-goals__name">
                            <span translate="manageOffers.goals">Goals</span>
                            <span class="manager-goals__count" [innerHtml]="item.goals.length"></span>
                          </div>
                          <div class="css-popover-content" translate="manageOffers.goals">Goals
                          </div>
                        </div>
                        <input class="manager-goals__trigger-check" type="checkbox" [id]="item.id"
                          [disabled]="!item.goals.length" checked>
                        <label class="manager-goals__trigger css-popover" appCssPopover [for]="item.id">
                          <i class="fa fa-chevron-down" aria-hidden="true"></i>
                          <span class="css-popover-content">
                            <span translate="manageOffers.showGoals"></span>
                            <span translate="manageOffers.hideGoals"></span>
                          </span>
                        </label>
                        <div class="manager-goals__items">
                          <div class="manager-goals__item" *ngFor="let goal of item.goals">
                            <div class="manager-goals__col">
                              <div class="manager-goals__item-name d-inline-block css-popover" appCssPopover>
                                <div [innerHtml]="goal?.name"></div>
                                <div class="css-popover-content" translate="manageOffers.goalName">Goal Name</div>
                              </div>
                              <br />
                              <div class="d-inline-block">
                                <span class="red semi-bold">
                                  <span [innerHtml]="goal.publisherPayout.amount" class="mr-0-5"></span>
                                  <span [innerHtml]="goal.publisherPayout.currency" *ngIf="!goal.dynamicPayout"></span>
                                  <span *ngIf="goal.dynamicPayout">%</span>
                                </span>
                              </div>
                            </div>
                            <div class="manager-goals__col">
                              <div class="manager-goals__devices css-popover" appCssPopover>
                                <span *ngFor="let platform of goal.platforms" class="mr-1">
                                  <span [innerHtml]="platform.platform"></span>
                                  <span *ngIf="platform.version" [innerHtml]="platform.version" class="ml-1"></span>
                                </span>
                                <div class="css-popover-content" translate="manageOffers.goalDevices"></div>
                              </div>
                            </div>
                            <div class="manager-goals__col">
                              <label class="label" [ngClass]="goal.excludeCountries ? 'label-yellow' : 'label-white'"
                                *ngFor="let country of goal.countries">
                                <span *ngIf="goal.excludeCountries">-</span>
                                <span class="css-popover" appCssPopover>
                                  <span [innerHtml]="country"></span>
                                  <span class="css-popover-content" [innerHtml]="country | country | async"></span>
                                </span>
                              </label>
                            </div>
                            <div class="manager-goals__col">
                              <div>
                                <label class="label label-green css-popover" appCssPopover>
                                  <span [innerHtml]="goal.cap.monthly" *ngIf="goal.cap.monthly !== 0"></span>
                                  <span *ngIf="goal.cap.monthly === 0">&infin;</span>
                                  M
                                  <span class="css-popover-content" translate="manageOffers.monthlyCapabilities">Monthly
                                    capabilities</span>
                                </label>
                              </div>
                              <div>
                                <label class="label label-date-paid css-popover" appCssPopover>
                                  <span [innerHtml]="goal.cap.daily" *ngIf="goal.cap.daily !== 0"></span>
                                  <span *ngIf="goal.cap.daily === 0">&infin;</span>
                                  D
                                  <span class="css-popover-content">Daily capabilities</span>
                                </label>
                              </div>
                              <div>
                                <label class="label label-green css-popover" appCssPopover>
                                  <span [innerHtml]="goal.capClick.monthly" *ngIf="goal.capClick.monthly !== 0"></span>
                                  <span *ngIf="goal.capClick.monthly === 0">&infin;</span>
                                  M
                                  <span class="css-popover-content">
                                    Monthly click
                                    capabilities</span>
                                </label>
                              </div>
                              <div>
                                <label class="label label-date-paid css-popover" appCssPopover>
                                  <span [innerHtml]="goal.capClick.daily" *ngIf="goal.capClick.daily !== 0"></span>
                                  <span *ngIf="goal.capClick.daily === 0">&infin;</span>
                                  D
                                  <span class="css-popover-content">Daily click capabilities</span>
                                </label>
                              </div>
                            </div>
                            <div class="manager-goals__link css-popover" appCssPopover *ngIf="goal.trackingUrl"
                              [appCopyToClipboard]="goal.trackingUrl">
                              <i class="fa fa-link" aria-hidden="true"></i>
                              <div class="css-popover-content">Tracking url, click to Copy</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <app-no-data *ngIf="!offers.items.length && !loading"></app-no-data>
        </div>
      </div>
    </div>
    <div class="page-row page-row-min">
      <div class="page-cell">
        <div class="page-footer-panel">
          <div class="col"></div>
          <div class="col">
            <table-limit [limit]="offers.limit" (changedLimit)="tableLimit($event)"></table-limit>
          </div>
          <div class="col">
            <table-pagination [page]="offers.page" [totalPages]="offers.totalPages" (currentPage)="goToPage($event)">
            </table-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-loader [loading]="loading"></app-loader>

</div>

<modal #descriptionModal size="lg">

  <modal-header>{{ "manageOffers.offersQuickInfo" | translate }}</modal-header>

  <modal-body *ngIf="descriptionModal.isOpen">
    <div class="clr">
      <div class="thumb-icon pull-left" style="margin-right: 16px">
        <img [src]="offer.thumbUrl">
      </div>
      <div class="big-font pull-left">
        <span class="semi-bold d-inline-block">{{offer?.name}}</span>
        <br>
        <label class="label label-lightgray label-no-margin" [innerHtml]="offer.id"></label>
        <br>
        <span class="small-font" translate="manageOffers.viewFullDetails"></span>
      </div>
      <div class="pull-right">
        <div class="d-inline-block css-popover" appCssPopover *ngIf="offer.approvalRequired && !offer.offerApproval"
          (click)="approveOffersRequest(offer.id)">
          <button class="btn btn-warning">
            <i class="fa fa-shopping-cart mr-2"></i>
            <span translate="manageOffers.requestOffer">Request offer</span>
          </button>
          <span class="css-popover-content" translate="manageOffers.pressRequestOffer">Press to request offer</span>
        </div>
        <label class="label label-lightgray"
          *ngIf="(offer.offerApproval && offer?.offerApproval?.status === 1) && offer.approvalRequired"
          translate="manageOffers.pendingApproval">Pending approval</label>
        <label class="label label-lightgray"
          *ngIf="(offer.offerApproval && offer?.offerApproval?.status === 3) && !offer.approvalRequired"
          translate="manageOffers.lockedOffer">Offer is locked</label>
        <label class="label label-yellow"
          *ngIf="(offer.offerApproval && offer?.offerApproval?.status === 3) && offer.approvalRequired"
          translate="manageOffers.requestDeclined">
          Request declined</label>
        <div class="d-inline-block css-popover" appCssPopover
          *ngIf="(offer.offerApproval && offer?.offerApproval?.status === 2 && offer.approvalRequired) || !offer.approvalRequired">
          <a [routerLink]="['/', 'publisher', 'offers', 'detail', offer.id]" class="btn btn-ok">
            <i class="fa fa-volume-up mr-2"></i>
            <span translate="manageOffers.promote">Promote</span>
          </a>
          <span class="css-popover-content" translate="manageOffers.viewOfferDetail">View offer detail and grab
            tracking links</span>
        </div>
      </div>


    </div>
    <br />
    <perfect-scrollbar class="scrollable-text position-relative">
      <div class="p-2 pr-3">
        <span [innerHtml]="offer.description"></span>
      </div>
    </perfect-scrollbar>

    <br />
    <div class="flex quick-info">
      <div class="quick-info__left">
        <table class="quick-info__table">
          <tr>
            <td translate="manageOffers.infoBox.categories">Categories</td>
            <td>
              <label class="label label-info" *ngFor="let tag of offer.tags" [innerHtml]="tag.name"></label>
            </td>
          </tr>
          <tr>
            <td translate="manageOffers.infoBox.approval">Approval</td>
            <td>
              <label class="label label-lightgray"
                [innerHtml]="offer.approvalRequired ? 'Required': 'Not Required'"></label>
            </td>
          </tr>
          <tr>
            <td translate="manageOffers.expirationDate">Expiration date</td>
            <td>
              <span class="semi-bold mr-1">{{offer.expirationDate | dateFormat}}</span>
              <label class="label label-lightgray">{{getExpirationDaysLeft(offer.expirationDate)}} days
                left</label>
            </td>
          </tr>
          <tr>
            <td translate="manageOffers.landingPage">Landing page</td>
            <td>
              <a [href]="offer.previewUrl" class="blue-color" style="text-decoration: none">Preview
                <i class="fa fa-link"></i>
              </a>
            </td>
          </tr>
        </table>
        <div class="approval-goals pub-approval-goals">
          <div class="approval-goals__top">
            <div class="approval-goals__name">
              <span translate="manageOffers.infoBox.goals">Goals</span>
              <span [innerHtml]="offer.goals.length"></span>
            </div>
          </div>

          <input type="checkbox" class="approval-goals__checkbox" id="approval-goals__checkbox">
          <label class="approval-goals__trigger" for="approval-goals__checkbox">
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </label>
          <div class="approval-goals__items">
            <div class="approval-goals__item" *ngFor="let goal of offer.goals">
              <div class="approval-goals__item-line">
                <div class="approval-goals__item-name" translate="manageOffers.infoBox.goalName">
                  Goal name
                </div>
                <div class="approval-goals__item-cell lgreen" [innerHtml]="goal.name">
                </div>
              </div>
              <div class="approval-goals__item-line">
                <div class="approval-goals__item-name" translate="manageOffers.infoBox.payout">
                  Payout
                </div>
                <div class="approval-goals__item-cell">
                  <span class="red semi-bold">
                    <span [innerHtml]="goal.publisherPayout.amount" class="mr-1"></span>
                    <span [innerHtml]="goal.publisherPayout.currency" *ngIf="!goal.dynamicPayout"></span>
                    <span *ngIf="goal.dynamicPayout">%</span>
                  </span>
                </div>
              </div>
              <div class="approval-goals__item-line" *ngIf="goal.excludeCountries">
                <div class="approval-goals__item-name" translate="manageOffers.infoBox.geography">Geography
                </div>
                <div class="approval-goals__item-cell">
                  <label class="label label-yellow css-popover mr-1" *ngFor="let country of goal.countries">
                    <span [innerHtml]="'-'+country"></span>
                    <span class="css-popover-content" [innerHtml]="country | country | async"></span>
                  </label>
                </div>
              </div>

              <div class="approval-goals__item-line" *ngIf="!goal.excludeCountries">
                <div class="approval-goals__item-name" translate="manageOffers.infoBox.geography">Geography</div>
                <div class="approval-goals__item-cell">
                  <label class="label label-white css-popover mr-1" *ngFor="let country of goal.countries">
                    <span [innerHtml]="country"></span>
                    <span class="css-popover-content" [innerHtml]="country | country | async"></span>
                  </label>
                </div>
              </div>

              <div class="approval-goals__item-line">
                <div class="approval-goals__item-name" translate="manageOffers.infoBox.platform">Platform</div>
                <div class="approval-goals__item-cell">
                  <span *ngFor="let platform of goal.platforms">
                    <span [innerHtml]="platform.platform"></span>
                    <span *ngIf="platform.version" [innerHtml]="platform.version" class="ml-1"></span>
                  </span>
                </div>
              </div>
              <div class="approval-goals__item-line">
                <div class="approval-goals__item-name" translate="manageOffers.infoBox.capsDailyMonthly">caps
                  Daily Monthly
                </div>
                <div class="approval-goals__item-cell" [innerHtml]="goal.cap.daily+'/'+goal.cap.monthly"></div>
              </div>
              <div class="approval-goals__item-line">
                <div class="approval-goals__item-name" translate="manageOffers.infoBox.capsClickDailyMonthly">caps
                  Daily Monthly
                </div>
                <div class="approval-goals__item-cell" [innerHtml]="goal.capClick.daily+'/'+goal.capClick.monthly">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="quick-info__right">
        <div class="quick-info__title semi-bold" translate="manageOffers.infoBox.restrictedTraffic">
          Restricted traffic
        </div>
        <label class="label label-yellow" *ngFor="let item of offer.restrictedTraffic" [innerHtml]="item.name"></label>
        <br>
        <br>
        <div class="quick-info__title semi-bold" *ngIf="offer.allowedTraffic.length"
          translate="manageOffers.infoBox.allowedTraffic">
          Allowed traffic
        </div>
        <label class="label label-info" *ngFor="let item of offer.allowedTraffic" [innerHtml]="item.name"></label>

      </div>
    </div>
  </modal-body>

  <modal-footer *ngIf="descriptionModal.isOpen">
    <btn [simple]="true" (click)="toggleDescriptionModal()">{{ "manageOffers.close" | translate }}</btn>
    <btn [routerLink]="['/', 'publisher', 'offers', 'detail', offer.id]">{{ "manageOffers.offerDetails" | translate }}
    </btn>
  </modal-footer>

</modal>
