<form #searchForm="ngForm" (submit)="onSubmit()" class="search mb-0">
  <button type="submit" class="search__button">{{searchBtn}}</button>
  <label class="search__label">
    <input [type]="type" [(ngModel)]="search" [placeholder]="placeholder" name="search" class="search__input">
  </label>
</form>
