@import "variables";

.search {
  position: relative;
  width: 300px;
  max-width: 100%;
  //padding: .3125rem 0 .3125rem 1.5rem;
  padding-left: 1.5rem;
  height: $inputHeight;

  &__label {
    display: block;
    position: relative;
    max-width: 200px;
    margin-bottom: 0;
    height: inherit;

    &::after {
      position: absolute;
      content: '';
      top: 100%;
      left: 0;
      right: 100%;
      height: 1px;
      background-color: #bebebe;
      margin-top: -3px;
      z-index: 1;
      transition: right .15s ease-in-out;
    }

    &:focus-within {
      &::after {
        right: 0;
      }
    }
  }
  &__input {
    transition: all .1s ease;
    display: block;
    width: 100%;
    background: none;
    border: none;
    outline: none !important;
    font-size: .9375rem;
    line-height: 1;
    height: inherit;

    &::placeholder {
      position: relative;
      top: .0625rem;
      color: #8898A0;
    }
  }
  &__button {
    position: absolute;
    width: 1.5rem;
    left: 0;
    top: 0;
    height: 100%;
    background: none;
    border: none;
    box-shadow: none;
    text-align: left;
    text-indent: 999px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    &:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-indent: 0;
      content: "\f002";
      font-size: 15px;
      line-height: 1;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #58666e;
      transition: color .15s ease-in-out;
    }

    &:hover {
      &::before {
        color: #ffb100;
      }
    }
  }
}
