<card>
  <card-header>
    Form Checkbox
  </card-header>

  <card-body>
    <form [formGroup]="formCheckbox">

      <form-label>Single checkbox</form-label>
      <div class="mb-3">
        <checkbox icon="plus" [trueValue]="1" [falseValue]="0" formControlName="checkboxSingle"></checkbox>
        {{ formCheckbox.get('checkboxSingle').value }}
      </div>

      <form-label>Checkbox with text</form-label>
      <div class="mb-3">
        <checkbox formControlName="checkboxWithText">Checkbox text</checkbox>
      </div>

      <form-label>Disabled checkbox</form-label>
      <div class="mb-3">
        <checkbox formControlName="checkboxDisabled">Checkbox text</checkbox>
      </div>

      <form-label>Disabled checkbox checked</form-label>
      <div class="mb-3">
        <checkbox formControlName="checkboxDisabledChecked">Checkbox text</checkbox>
      </div>

      <form-label>Switcher default disabled</form-label>
      <switcher class="d-block mb-2" formControlName="switcherDefaultDisabled">
        <switcher-btn [value]="0" name="switcher">Active</switcher-btn>
        <switcher-btn [value]="1" name="switcher">Pending</switcher-btn>
      </switcher>

      <form-label>Switcher default</form-label>
      <switcher class="d-block mb-2" formControlName="switcherDefault">
        <switcher-btn [value]="0" name="switcher2">Active</switcher-btn>
        <switcher-btn [value]="1" name="switcher2">Pending</switcher-btn>
      </switcher>

      <form-label>Switcher typed</form-label>
      <switcher class="d-block mb-2" formControlName="switcherStyled">
        <switcher-btn [value]="1" name="switcher3">Active</switcher-btn>
        <switcher-btn [value]="2" name="switcher3" type="danger">Pending</switcher-btn>
      </switcher>

      <form-label>Switcher inline</form-label>
      <switcher class="d-block mb-2" display="inline" formControlName="switcherMultiple">
        <switcher-btn [value]="1" name="switcher4">Active</switcher-btn>
        <switcher-btn [value]="2" name="switcher4">Pending</switcher-btn>
        <switcher-btn [value]="3" name="switcher4">Cancel</switcher-btn>
      </switcher>

      <form-label>Switcher inline small</form-label>
      <switcher display="inline" formControlName="switcherMultipleSmall" size="sm">
        <switcher-btn [value]="1" name="switcher5">Active</switcher-btn>
        <switcher-btn [value]="2" name="switcher5">Pending</switcher-btn>
        <switcher-btn [value]="3" name="switcher5">Cancel</switcher-btn>
      </switcher>
    </form>

    <!--<pre>-->
      <!--<code>-->
<!--{{ formCheckbox.getRawValue() | json }}-->
      <!--</code>-->
    <!--</pre>-->
  </card-body>
</card>
