<card>
  <card-header>
    <ng-container *ngIf="!manager.id">{{ "managerEdit.createManager" | translate }}</ng-container>
    <ng-container *ngIf="manager.id">{{ "managerEdit.editManager" | translate }}</ng-container>
  </card-header>

  <card-body>

    <form onsubmit="return false" [formGroup]="form" appScrollToFirstErrorInput disableAutocomplete>

      <div class="form-group">
        <form-label [required]="true" class="col-4">{{ "managerEdit.userName" | translate }}</form-label>
        <input-text class="col-8" formControlName="username"></input-text>
      </div>

      <ng-container formGroupName="person">

        <div class="form-group">
          <form-label [required]="true" class="col-4">{{ "managerEdit.firstName" | translate }}</form-label>
          <input-text class="col-8" formControlName="firstName"></input-text>
        </div>

        <div class="form-group">
          <form-label [required]="true" class="col-4">{{ "managerEdit.lastName" | translate }}</form-label>
          <input-text class="col-8" formControlName="lastName"></input-text>
        </div>

      </ng-container>

      <div class="form-groups" [class.form-overlay]="form.get('email').valid">

        <div class="form-group">
          <form-label class="col-4" [required]="true">{{ "managerEdit.email" | translate }}</form-label>
          <input-text class="col-8" [mask]="'email'" formControlName="email"></input-text>
        </div>

        <div class="form-group" *ngIf="form.get('email').valid">
          <form-label class="col-4">{{ "managerEdit.additionalEmail" | translate }}</form-label>
          <tags-input class="col-8" [mask]="'email'" formControlName="additionalEmails"></tags-input>
        </div>

      </div>

      <div class="form-group">
        <form-label class="col-4">{{ "managerEdit.skype" | translate }}</form-label>
        <input-text class="col-8" formControlName="skype"></input-text>
      </div>

      <div class="form-group">
        <form-label class="col-4">{{ "managerEdit.phone" | translate }}</form-label>
        <input-text class="col-8" [type]="'phone'" formControlName="phone"></input-text>
      </div>

      <div class="form-groups form-overlay" formGroupName="address">

        <div class="form-group">
          <form-label class="col-4">{{ "managerEdit.address" | translate }}</form-label>
          <input-text class="col-8" formControlName="address"></input-text>
        </div>

        <div class="form-group">
          <form-label class="col-4">{{ "managerEdit.city" | translate }}</form-label>
          <input-text class="col-8" formControlName="city"></input-text>
        </div>

        <div class="form-group">
          <form-label class="col-4">{{ "managerEdit.state" | translate }}</form-label>
          <input-text class="col-8" formControlName="state"></input-text>
        </div>

        <div class="form-group">
          <form-label class="col-4">{{ "managerEdit.country" | translate }}</form-label>
          <country-select class="col-8" formControlName="countryCode"></country-select>
        </div>

        <div class="form-group">
          <form-label class="col-4">{{ "managerEdit.zipcode" | translate }}</form-label>
          <input-text class="col-8" formControlName="zipcode"></input-text>
        </div>

      </div>

      <div class="form-group mt-5">
        <form-label class="col-4" [required]="true">{{ "managerEdit.status" | translate }}</form-label>
        <switcher class="col-8" formControlName="status">
          <switcher-btn name="status" [value]="2">{{ "managerEdit.active" | translate }}</switcher-btn>
          <switcher-btn name="status" [value]="1">{{ "managerEdit.pending" | translate }}</switcher-btn>
        </switcher>
      </div>

      <div class="form-group">
        <form-label class="col-4" [required]="true">{{ "managerEdit.mailNotification" | translate }}</form-label>
        <switcher class="col-8" formControlName="emailNotificationEnabled">
          <switcher-btn name="mailNotification" [value]="1">{{ "managerEdit.on" | translate }}</switcher-btn>
          <switcher-btn name="mailNotification" [value]="0">{{ "managerEdit.off" | translate }}</switcher-btn>
        </switcher>
      </div>

      <div class="form-group">
        <form-label class="col-4" [required]="true">{{ "managerEdit.role" | translate }}</form-label>
        <manager-roles-select class="col-8" formControlName="roles"></manager-roles-select>
      </div>

      <div class="form-group mt-5">
        <form-label class="col-4">{{ "managerEdit.notes" | translate }}</form-label>
        <area-input class="col-8" formControlName="notes"></area-input>
      </div>

      <ng-container *ngIf="!manager?.id">

        <div class="form-group">
          <form-label class="col-4" [required]="true">{{ "managerEdit.password" | translate }}</form-label>
          <password class="col-8" formControlName="password"></password>
        </div>

        <div class="form-group">
          <form-label class="col-4" [required]="true">{{ "managerEdit.confirmPassword" | translate }}</form-label>
          <password class="col-8" formControlName="confirmPassword"></password>
        </div>

      </ng-container>

    </form>

  </card-body>

  <card-footer>
    <btn [simple]="true" routerLink="/manager/managers/list">{{ "advCreate.cancel" | translate }}</btn>
    <btn (click)="submitManagerForm()">
      <ng-container *ngIf="!manager?.id">{{ "managerEdit.createManager" | translate }}</ng-container>
      <ng-container *ngIf="manager?.id">{{ "managerEdit.editManager" | translate }}</ng-container>
    </btn>
  </card-footer>

</card>

<app-loader [loading]="loading"></app-loader>
