@import "variables";
@import "mixin";

.adBanner {
  background-color: transparent;
  height: 1px;
  width: 1px;
}

.warning-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: rem(64);
  background-color: rgb(255,0,0);
  color: #ffffff;
  position: fixed;
  right: 0;
  top: 0;
  opacity: .9;
  z-index: 9999;
  text-align: center;

  button {
    background-color: transparent;
    border: none;
    padding: rem(5);
    cursor: pointer;
    line-height: 1;
  }
}
