<div id="wrapfabtest">
  <div class="adBanner">
  </div>
</div>

<div class="warning-modal" *ngIf="show">
  {{'checkBlock.pleaseDisableBlock' | translate}}
  <button type="button" (click)="show = !show">
    <i class="fa fa-close"></i>
  </button>
</div>