@import "variables";
@import "mixin";

:host {
  ::ng-deep {
    btn {
      &:not(:first-child) {
        margin-left: rem(8);
      }

      .btn {
        font-size: rem(14);
        height: rem(40);
        background-color: var(--button-simple-background) !important;
        color: var(--button-simple-color) !important;

        &:hover {
          &.btn-success {
            background-color: var(--button-success-background) !important;
            color: var(--button-success-color) !important;
          }

          &.btn-warning {
            background-color: var(--button-warning-background) !important;
            color: var(--button-warning-color) !important;
          }

          &.btn-danger {
            background-color: var(--button-danger-background) !important;
            color: var(--button-danger-color) !important;
          }

          &.btn-secondary {
            background-color: var(--button-secondary-background) !important;
            color: var(--button-secondary-color) !important;
          }

          &.btn-info {
            background-color: var(--button-info-background) !important;
            color: var(--button-info-color) !important;
          }
          &:disabled {
            background-color: var(--button-simple-background) !important;
            color: var(--button-simple-color) !important;
            opacity: $opacity-hover;
          }
        }
      }
    }
  }
}
