<div class="form-detail">
  <div class="form-detail__group custom-angle-textarea">
    <textarea class="form-detail__control {{ placeholderType }}"
              #area
              autosize
              [ngClass]="{focus : value, 'field-error' : control.invalid && control.touched }"
              [value]="value"
              [attr.maxlength]="maxlength"
              [placeholder]="isStaticType ? placeholder : ''"
              [disabled]="disabled ? true : null"
              (focus)="markAsTouched()"
              (keyup)="propagateChange($event.target.value)"
              (change)="toChange($event.target.value)"></textarea>
    <span class="form-detail__placeholder" *ngIf="placeholder && isMovedType">{{ placeholder }}</span>
  </div>

  <validation-message [control]="control"></validation-message>

</div>
