<div class="page scrollable" perfectScrollbar>
  <div class="page-container">
    <!-- Navigation & Filters -->
    <div class="page-row page-row-min">
      <div class="page-cell">
        <div class="page-nav-panel filters-hide">
          <div class="col">

          </div>
          <div class="col">
            <div class="interval-sel" id="filter-interval-select">
              <app-date-range-picker
                [startDate]="params.datetime_from"
                [endDate]="params.datetime_to"
                (onApply)="calendarCallback($event)">
              </app-date-range-picker>
            </div>
            <span class="btn btn-filter" (click)="toggleFilterVisibility('clear')">
              <span translate="dynamicReports.filter">Filter</span>
              <span class="icn-filter">
                <span class="icn-bar"></span>
                <span class="icn-bar"></span>
                <span class="icn-bar"></span>
              </span>
            </span>
          </div>
        </div>
        <div class="filters" [ngClass]="{'show': filterIsVisible}">
          <div class="filters-header" style="font-size: 0">
            <div class="col">
              <div class="fliters-time-select">
                <div class="inp inp-select ">
                  <div class="select-field">
                    <timezone-select [(ngModel)]="params.timezone"></timezone-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <button type="button" class="external-filers__close" (click)="toggleFilterVisibility('clear')">
                <span translate="dynamicReports.filter"></span>
                <i class="fa fa-close"></i>
              </button>
            </div>
          </div>
          <div class="filters-content">
            <div class="filters-row">
              <div class="filters-col filters-col-double filters-col-br">
                <div class="filters-col-title" translate="dynamicReports.breakdown"></div>
                <div class="inp inp-check">
                  <label>
                    <input type="checkbox" [(ngModel)]="params.date" appTrueFalseValue trueValue="1" falseValue="0">
                    <i class="icn-check"></i>
                    <span translate="dynamicReports.date">Date</span>
                  </label>
                </div>
                <div class="inp inp-check">
                  <label>
                    <input type="checkbox" [(ngModel)]="params.group_name" appTrueFalseValue trueValue="1" falseValue="0">
                    <i class="icn-check"></i>
                    <span translate="dynamicReports.groupName">group_name</span>
                  </label>
                </div>
                <div class="inp inp-check">
                  <label>
                    <input type="checkbox" [(ngModel)]="params.month" appTrueFalseValue trueValue="1" falseValue="0">
                    <i class="icn-check"></i>
                    <span translate="dynamicReports.month">Month</span>
                  </label>
                </div>
                <div class="inp inp-check">
                  <label>
                    <input type="checkbox" [(ngModel)]="params.hour" appTrueFalseValue trueValue="1" falseValue="0">
                    <i class="icn-check"></i>
                    <span translate="dynamicReports.hour">Month</span>
                  </label>
                </div>
                <div class="inp inp-check">
                  <label>
                    <input type="checkbox" [(ngModel)]="params.countries" appTrueFalseValue trueValue="1" falseValue="0">
                    <i class="icn-check"></i>
                    <span translate="dynamicReports.geography">Geography</span>
                  </label>
                </div>
                <div class="inp inp-check">
                  <label>
                    <input type="checkbox" [(ngModel)]="params.platforms" appTrueFalseValue trueValue="1" falseValue="0">
                    <i class="icn-check"></i>
                    <span translate="dynamicReports.platforms">Platforms</span>
                  </label>
                </div>
              </div>
              <div class="filters-col">
                <div class="filters-col-title" translate="dynamicReports.dataColumns">Data Columns</div>
                <div class="inp inp-select">
                  <div class="select-field">
                    <app-countries-select [(ngModel)]="params.countries_codes" [selectPlaceholder]="'dynamicReports.countriesSelect' | translate"></app-countries-select>
                  </div>
                </div>
                <div class="inp">
                  <div class="select-field">
                    <!-- <select live-search="superlink/group" data-context="superlink/group" data-init="true" data-ng-model="params.groups_ids"
                      multiple>
                      <option></option>
                    </select> -->
                    <app-multy-live-select [apiUrl]="'/superlink/group'" [bindLabel]="'name'" [selectPlaceholder]="'dynamicReports.groupsIds' | translate"
                      [(ngModel)]="params.groups_ids"></app-multy-live-select>
                  </div>
                </div>
                <div class="inp inp-select">
                  <div class="select-field">
                    <app-platforms-select [(ngModel)]="params.platforms_names" [selectPlaceholder]="'dynamicReports.platformsSelect' | translate"></app-platforms-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="filters-row">
              <div class="slider" [ngClass]="{'open': additionalFilterIsOpen}">
                <div class="slider-btn slider-btn-more" (click)="toggleAdditionalFilter()" translate="dynamicReports.more">More
                </div>
                <div class="slider-content">
                  <!-- Data Columns section: START -->
                  <div class="filters-col filters-col-double">
                    <div class="filters-col-title" translate="dynamicReports.dataColumns">Data Columns</div>
                    <div class="inp inp-check">
                      <label>
                        <input type="checkbox" [(ngModel)]="params.clicks" appTrueFalseValue trueValue="1" falseValue="0">
                        <i class="icn-check"></i>
                        <span translate="dynamicReports.clicks">Clicks</span>
                      </label>
                    </div>
                    <div class="inp inp-check">
                      <label>
                        <input type="checkbox" [(ngModel)]="params.pub_cr" appTrueFalseValue trueValue="1" falseValue="0">
                        <i class="icn-check"></i>
                        <span translate="dynamicReports.CR">Pubs CR</span>
                      </label>
                    </div>
                    <div class="inp inp-check">
                      <label>
                        <input type="checkbox" [(ngModel)]="params.costs" appTrueFalseValue trueValue="1" falseValue="0">
                        <i class="icn-check"></i>
                        <span translate="dynamicReports.revenues">Costs</span>
                      </label>
                    </div>
                    <div class="inp inp-check">
                      <label>
                        <input type="checkbox" [(ngModel)]="params.pub_conv" appTrueFalseValue trueValue="1" falseValue="0">
                        <i class="icn-check"></i>
                        <span translate="dynamicReports.conversions">Pubs conversions</span>
                      </label>
                    </div>
                    <!-- <div class="inp inp-check">
                        <label>
                          <input type="checkbox" data-ng-model="params.pub_cpa" data-ng-true-value="1"
                            data-ng-false-value="0">
                          <i class="icn-check"></i>
                          <span translate="dynamicReports.myCPA">Pubs CPA</span>
                        </label>
                      </div> -->
                  </div>
                </div>
                <div class="slider-btn slider-btn-less" (click)="toggleAdditionalFilter()" translate="dynamicReports.less">Less
                </div>
              </div>
            </div>
          </div>
          <div class="filters-footer">
            <span class="filters-footer__reset" (click)="resetFilters()" translate="dynamicReports.reset">Reset</span>
            <span class="btn btn-ok" (click)="applyFilters()" translate="dynamicReports.apply">Apply</span>
          </div>
        </div>

        <div class="content" *ngIf="statistics?.items.length">
          <div class="table-thead table-dynamic-reports__top">
            <div class="fake-table__row">
              <div class="fake-table__head" *ngIf="params.date || params.month || params.hour">
                <div class="clickable color-blue" *ngIf="params.date" (click)="sortBy('date')" translate="dynamicReports.date">Date</div>
                <div class="clickable color-blue" *ngIf="params.month" (click)="sortBy('month')" translate="dynamicReports.month">Month</div>
                <div class="clickable color-blue" *ngIf="params.hour" (click)="sortBy('hour')" translate="dynamicReports.hour">Hour</div>
              </div>
              <div class="fake-table__head" *ngIf="params.countries || params.platforms">
                <div class="clickable color-blue" *ngIf="params.countries" (click)="sortBy('country')" translate="dynamicReports.country">Country</div>
                <div class="clickable color-blue" *ngIf="params.platforms" (click)="sortBy('platform')" translate="dynamicReports.platform">Platform</div>
              </div>
              <div class="fake-table__head" *ngIf="params.group_name">
                <div class="clickable color-blue" *ngIf="params.group_name" (click)="sortBy('groupName')" translate="dynamicReports.groupName">Group
                  name</div>
              </div>
              <div class="fake-table__head" *ngIf="params.clicks">
                <div class="clickable color-blue" *ngIf="params.clicks" (click)="sortBy('clicks')" translate="dynamicReports.clicks">Clicks</div>
              </div>
              <div class="fake-table__head" *ngIf="params.pub_conv">
                <div class="clickable color-blue" *ngIf="params.pub_conv" (click)="sortBy('pub_conv')" translate="dynamicReports.conversions">Сonversions</div>
              </div>
              <div class="fake-table__head" *ngIf="params.pub_cr">
                <div class="clickable color-blue" *ngIf="params.pub_cr" (click)="sortBy('pub_cr')" translate="dynamicReports.CR">CR</div>
              </div>
              <!-- <div class="fake-table__head" *ngIf="params.pub_cpa">
                  <div class="clickable color-blue" (click)="sortBy('pub_cpa')" translate="dynamicReports.CPA">CPA</div>
                </div> -->
              <div class="fake-table__head fake-table__cell-last" *ngIf="params.costs">
                <div class="clickable color-blue" *ngIf="params.costs" (click)="sortBy('costs')" translate="dynamicReports.revenues">Revenues</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Navigation & Filters -->


    <!-- Content -->
    <div class="page-row">
      <div class="page-cell">
        <div class="page-scrollable scrollable" perfectScrollbar update-flag="scrollFlag">
          <div class="content" *ngIf="statistics?.items.length">
            <div class="table-dynamic-reports">
              <div class="fake-table table-dynamic-reports">
                <div class="fake-table__body">
                  <div class="fake-table__row" *ngFor="let report of statistics?.items; let $index = index;">
                    <div class="fake-table__cell" *ngIf="params.date || params.month || params.hour">
                      <div>
                        <div *ngIf="params.date">
                          <strong [innerHtml]="report.date | dateFormatDynamic:false:params.timezone"></strong>
                        </div>
                        <div *ngIf="params.month">
                          <span [innerHtml]="report.month | monthsFromNumber"></span>
                        </div>
                        <div *ngIf="params.hour">
                          <span [innerHtml]="report.hour | hoursFromNumber"></span>
                        </div>
                      </div>
                    </div>
                    <div class="fake-table__cell" *ngIf="params.countries || params.platforms">
                      <div>
                        <div *ngIf="params.countries">
                          <strong [innerHtml]="report.countryCode">Taiwan</strong>
                        </div>
                        <div *ngIf="params.platforms">
                          <strong [innerHtml]="report.platformName">Android</strong>
                        </div>
                      </div>
                    </div>
                    <div class="fake-table__cell" *ngIf="params.group_name">
                      <div>
                        <div *ngIf="params.group_name">
                          <span class="css-popover inline-block" data-popover="true" appCssPopover>
                            <label class="label label-lightgray label-long" [innerHtml]="report.groupName"></label>
                            <span class="css-popover-content" [innerHtml]="'#' + report.groupId">#3242333</span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="fake-table__cell" *ngIf="params.clicks">
                      <div>
                        <div *ngIf="params.clicks">
                          <strong [innerHtml]="report.clicks">4</strong>
                        </div>
                      </div>
                    </div>
                    <div class="fake-table__cell" *ngIf="params.pub_conv">
                      <div>
                        <div [innerHtml]="report.pubConversions"></div>
                      </div>
                    </div>
                    <div class="fake-table__cell" *ngIf="params.pub_cr">
                      <div>
                        <div [innerHtml]="report.publisherCr"></div>
                      </div>
                    </div>
                    <!-- <div class="fake-table__cell" *ngIf="params.pub_cpa">
                        <div>
                          <div [innerHtml]="report.publisherCpa"></div>
                        </div>
                      </div> -->
                    <!-- <div class="fake-table__cell" *ngIf="params.conv || params.pub_conv || params.pub_cr">
                        <div>

                          <div *ngIf="params.pub_conv" [innerHtml]="report.pubConversions"></div>
                          <div *ngIf="params.pub_cr" [innerHtml]="report.publisherCr"></div>
                        </div>
                      </div> -->
                    <div class="fake-table__cell fake-table__cell-last" *ngIf="params.costs">
                      <div>
                        <div *ngIf="params.costs">
                          <strong class="coast-status coast-status--green" [innerHtml]="'$'+ (report.costs.toFixed(2))">$125</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <app-no-data *ngIf="!statistics?.items.length && !loading"></app-no-data>
        </div>
      </div>
    </div>
    <!-- Content -->
    <!-- Pinned footer -->
    <div class="page-row page-row-min" *ngIf="statistics?.items.length">
      <div class="page-cell">
        <div class="page-footer-panel">
          <div class="col"></div>
          <div class="col">
            <table-limit [limit]="statistics?.limit" (changedLimit)="tableLimit($event)"></table-limit>
          </div>
          <div class="col">
            <table-pagination [page]="statistics?.page" [totalPages]="statistics?.totalPages" (currentPage)="goToPage($event)">
            </table-pagination>
          </div>
        </div>
        <div class="content" *ngIf="!loading">
          <div class="fake-table table-dynamic-reports fake-table-total">
            <span class="fake-table-total__title">Total General</span>
            <div class="fake-table__body">
              <div class="fake-table__row">
                <div class="fake-table__cell" *ngIf="params.date || params.month || params.hour"></div>
                <div class="fake-table__cell" *ngIf="params.offer_id  || params.hash"></div>
                <div class="fake-table__cell" *ngIf="params.countries || params.platforms"></div>
                <div class="fake-table__cell" *ngIf="params.clicks">
                  <div>
                    <div *ngIf="params.clicks" [innerHtml]="statistics.data.clicks"></div>
                  </div>
                </div>
                <div class="fake-table__cell" *ngIf="params.pub_conv || params.pub_cr">
                  <div>
                    <div *ngIf="params.pub_conv" [innerHtml]="statistics.data.pubConversions"></div>
                    <div *ngIf="params.pub_cr" [innerHtml]="statistics.data.publisherCr"></div>
                  </div>
                </div>
                <!-- <div class="fake-table__cell" *ngIf="params.pub_cpa"></div> -->
                <div class="fake-table__cell fake-table__cell-last" *ngIf="params.costs || params.overPaid|| params.profit">
                  <div>
                    <div *ngIf="params.costs">
                      <strong class="coast-status coast-status--green" [innerHtml]="'$' + (statistics.data.costs[0].amount.toFixed(2))">$125</strong>
                    </div>
                    <!-- <div *ngIf="params.profit">
                        <strong class="coast-status coast-status--default" [innerHtml]="'$' + (statistics.data.profit[0].amount.toFixed(2))">$125</strong>
                      </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Pinned footer -->

  </div>
  <app-loader [loading]="loading"></app-loader>

</div>
