<div class="page scrollable" perfectScrollbar>
  <div class="light-panel">
    <!-- BEGIN offer-detail -->
    <div class="offer-details" *ngIf="offer">
      <!-- BEGIN offer-details__top -->
      <div class="offer-details__top clr">
        <div class="pull-left">
          <div class="offer-details__title inline-block css-popover" appCssPopover>
            <span>{{offer.name}}</span>
            <div class="css-popover-content" translate="manageOffers.offerName"></div>
          </div>
          <div>
            <label class="label label-lightgray css-popover label-no-margin" appCssPopover>
              <span [innerHtml]="offer.id"></span>
              <span class="css-popover-content" translate="manageOffers.offerID"></span>
            </label>
          </div>
        </div>
        <div class="pull-right">
          <!--<label class="label label-yellow label-big">{{payoutRange}}</label>-->
          <span class="red semi-bold css-popover" appCssPopover>
            <!-- <span [innerHtml]="offer.payouts && offer.payouts.amountForFront"></span>
            <span [innerHtml]="offer.payouts && offer.payouts.amountPercentsForFront"></span>
            <span class="css-popover-content" translate="manageOffers.payout"></span> -->
            <!-- {{offer | json}} -->
            <span [innerHtml]="offer.payouts.amountForFront" id="payoutsAmount"></span>
            <span *ngIf="offer.payouts.amountForFront && offer.payouts.amountPercentsForFront">, </span>
            <span [innerHtml]="offer.payouts.amountPercentsForFront" id="payoutsAmountPercents"></span>
            <span class="css-popover-content" translate="manageOffers.payout"></span>
          </span>
          <!--<label class="label label-warning">-->
          <!--<span [innerHtml]="offer.payouts.pubPayoutsForFront"></span>-->
          <!--<span *ngIf="offer && offer.payouts.pubPayoutsForFront && offer.payouts.pubPayoutsPercentForFront">, </span>-->
          <!--<span [innerHtml]="offer.payouts.pubPayoutsPercentForFront"></span>-->
          <!--&lt;!&ndash;<span class="css-popover-content"> 27 publishers have <br> personal payout percent</span>&ndash;&gt;-->
          <!--</label>-->
        </div>
      </div>
      <!-- END offer-details__top  -->
      <!-- BEGIN offer-details__content -->
      <div class="offer-details__content clr">
        <div class="offer-details__content-left pull-left">
          <div>
            <span [innerHtml]="offer.description"></span>
            <!-- <ng-container *ngIf="offer">
              <p *ngFor="let item of offer.descriptionFlow;let $index = index;">
                <span *ngIf="$index" [innerHtml]="$index + '. '"></span>
                <span [innerHtml]="item"></span>
              </p>
              <p>{{ offer.capsMessage }}</p>
            </ng-container> -->
          </div>
        </div>
        <div class="offer-details__thumb pull-right">
          <img [src]="offer.thumbUrl" alt="">
        </div>
      </div>
      <!-- END offer-details__content  -->
      <!-- BEGIN offer-details__panel -->
      <div class="offer-details__panel accent-panel">
        <div class="accent-panel__top">
          <div class="accent-panel__title" translate="manageOffers.offerPromotion">Offer promotion</div>
        </div>
        <div class="offer-promotion-request">
          <ng-container *ngIf="(offer.approvalRequired && !offer.offerApproval) ||
               (offer?.offerApproval?.status === 1 && offer.approvalRequired)">
            <div class="offer-promotion-request__text">
              <span *ngIf="(offer && offer.approvalRequired) && !offer.offerApproval">Click the button below to start
                working with us!</span>
              <span *ngIf="(offer.offerApproval && offer?.offerApproval?.status === 1) && offer.approvalRequired">Please
                wait for manager's response</span>
            </div>
            <button class="btn btn-warning" *ngIf="offer && offer.approvalRequired && !offer.offerApproval" (click)="approveOffersRequest(offer.id)"
              translate="manageOffers.requestOffer">
              Request offer
            </button>
            <span *ngIf="offer.offerApproval && offer?.offerApproval?.status === 1 && offer.approvalRequired" class="btn btn-gray"
              style="cursor: text">Request has been sent</span>
          </ng-container>
          <ng-container>
            <div class="requestButtonWrapp">
              <label class="label label-yellow" *ngIf="offer?.offerApproval?.status === 3 && offer.approvalRequired"
                translate="manageOffers.requestDeclined">
                Request declined</label>
            </div>
          </ng-container>
        </div>
        <div class="accent-panel__body">
          <!-- BEGIN offer-promotion -->
          <div class="offer-promotion" *ngIf="offer.offerApproval && (offer?.offerApproval?.status === 2 && offer.approvalRequired) || !offer.approvalRequired">
            <div class="offer-promotion__left">
              <div class="offer-promotion__title" translate="manageOffers.creativePackages">Creative packages</div>
              <div class="offer-promotion__file clickable" *ngFor="let creative of offer.creatives" (click)="downloadCreative(creative)">
                <i class="fa fa-file"></i>
                <div class="offer-promotion__file-name" [innerHtml]="creative.name"></div>
              </div>
            </div>
            <div class="offer-promotion__right">
              <div class="offer-promotion__title" translate="manageOffers.trackingLink">Tracking link
              </div>
              <div class="createOffer__input">
                <input readonly type="text" [value]="offer.trackingUrl">
              </div>
              <div class="offer-promotion__subtitle" translate="manageOffers.trackingParameters">Tracking parameters
              </div>
              <div class="offer-promotion__fields flex">
                <div class="createOffer__input">
                  <input type="text" placeholder="click_id" [(ngModel)]="click_id" (change)="changeOffersLink('click_id')">
                </div>
                <div class="createOffer__input">
                  <input type="text" placeholder="Aff sub" [(ngModel)]="aff_sub" (change)="changeOffersLink('aff_sub')">
                </div>
                <div class="createOffer__input">
                  <input type="text" placeholder="Aff sub 2" [(ngModel)]="aff_sub2" (change)="changeOffersLink('aff_sub2')">
                </div>
                <div class="createOffer__input">
                  <input type="text" placeholder="Aff sub 3" [(ngModel)]="aff_sub3" (change)="changeOffersLink('aff_sub3')">
                </div>
                <div class="createOffer__input">
                  <input type="text" placeholder="Aff sub 4" [(ngModel)]="aff_sub4" (change)="changeOffersLink('aff_sub4')">
                </div>
              </div>
              <div class="offer-promotion__select">
                <div class="offer-promotion__label" translate="manageOffers.landings">langings</div>
                <div class="inp">
                  <div class="select-field">
                    <!-- <select select2 [(ngModel)]"" (change)="onLinkChange()">
                      <option value="{{offer.trackingUrl}}">Default</option>
                      <option *ngFor="item in  track by $index" value="{{item.trackingUrl}}" [innerHtml]="'Landing ' + ($index + 1)"></option>
                    </select> -->
                    <ng-select [items]="offer.landings" bindLabel="'Landing ' + ($index + 1)" bindValue="trackingUrl"
                      [(ngModel)]="selectedTrackingUrl">
                    </ng-select>
                    <div class="select-placeholder">Choose landing</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END offer-promotion  -->
        </div>
      </div>
      <!-- END offer-details__panel  -->

      <!-- BEGIN offer-details__panel -->
      <div class="offer-details__panel accent-panel">
        <div class="accent-panel__top">
          <div class="accent-panel__title" translate="manageOffers.offerSpecification">Offer specification
          </div>
        </div>
        <div class="accent-panel__body">
          <div class="flex quick-info">
            <!-- BEGIN quick-info__left -->
            <div class="quick-info__left">
              <div class="quick-info__table">
                <table>
                  <tr>
                    <td translate="manageOffers.offerID">Offer ID</td>
                    <td>
                      <span class="semi-bold" [innerHtml]="offer.id"></span>
                    </td>
                  </tr>
                  <tr>
                    <td translate="manageOffers.infoBox.categories">Categories</td>
                    <td>
                      <label class="label label-info" *ngFor="let tag of offer.tags" [innerHtml]="tag.name"></label>
                    </td>
                  </tr>
                  <tr>
                    <td translate="manageOffers.expirationDate">Expiration date</td>
                    <td>
                      <span class="semi-bold mr-1" [innerHtml]="offer.expirationDate | dateFormat"></span>
                      <label class="label label-lightgray">
                        <span [innerHtml]="getExpirationDaysLeft(offer.expirationDate)"></span>
                        <span translate="manageOffers.daysLeft">days left</span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td translate="manageOffers.previewOffer">Preview offer</td>
                    <td>
                      <a [href]="offer.previewUrl" class="blue-color" style="text-decoration: none">Preview
                        <i class="fa fa-link"></i>
                      </a>
                    </td>
                  </tr>
                </table>
                <!-- BEGIN approval-goals -->
                <div class="approval-goals pub-info-approval-goals">
                  <div class="approval-goals__top">
                    <div class="approval-goals__name">
                      <span translate="manageOffers.goals">Goals</span>
                      <span [innerHtml]="offer.goals.length"></span>
                    </div>
                  </div>

                  <input type="checkbox" class="approval-goals__checkbox" id="approval-goals__checkbox" checked>
                  <label class="approval-goals__trigger" for="approval-goals__checkbox">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  </label>
                  <!-- BEGIN approval-goals__items -->
                  <div class="approval-goals__items">
                    <!-- BEGIN approval-goals__item -->
                    <div class="approval-goals__item" *ngFor="let goal of offer.goals">
                      <div class="approval-goals__item-line">
                        <div class="approval-goals__item-name" translate="manageOffers.goalName">Goal name</div>
                        <div class="approval-goals__item-cell lgreen" [innerHtml]="goal.name"></div>
                      </div>
                      <div class="approval-goals__item-line">
                        <div class="approval-goals__item-name" translate="manageOffers.infoBox.payout">Payout</div>
                        <div class="approval-goals__item-cell">
                          <span class="red semi-bold">
                            <span [innerHtml]="goal.publisherPayout.amount" class="mr-1"></span>
                            <span [innerHtml]="goal.publisherPayout.currency" *ngIf="!goal.dynamicPayout"></span>
                            <span *ngIf="goal.dynamicPayout">%</span>
                          </span>
                          <!--<span class="yellow"-->
                          <!--[innerHtml]="goal.pubPayout + ' ' + goal.payout.currency "></span>-->
                          <!--<span class="light" [innerHtml]="goal.payPercent+'%'"></span>-->
                        </div>
                      </div>

                      <div class="approval-goals__item-line" *ngIf="goal.excludeCountries">
                        <div class="approval-goals__item-name" translate="manageOffers.infoBox.geography">
                          Geography
                        </div>
                        <div class="approval-goals__item-cell">
                          <label class="label label-yellow css-popover mr-1" *ngFor="let country of goal.countries">
                            <span [innerHtml]="'-' + country.code"></span>
                            <span class="css-popover-content" [innerHtml]="country.name"></span>
                          </label>
                        </div>
                      </div>

                      <div class="approval-goals__item-line" *ngIf="!goal.excludeCountries">
                        <div class="approval-goals__item-name" translate="manageOffers.infoBox.geography">Geography
                        </div>
                        <div class="approval-goals__item-cell">
                          <label class="label label-white css-popover mr-1" *ngFor="let country of goal.countries">
                            <span [innerHtml]="country.code"></span>
                            <span class="css-popover-content" [innerHtml]="country.name"></span>
                          </label>
                        </div>
                      </div>

                      <div class="approval-goals__item-line">
                        <div class="approval-goals__item-name" translate="manageOffers.infoBox.platform">Platform</div>
                        <div class="approval-goals__item-cell">
                          <span *ngFor="let platform of goal.platforms">
                            <span [innerHtml]="platform.platform"></span>
                            <span *ngIf="platform.version" [innerHtml]="platform.version" class="ml-1"></span>
                          </span>
                        </div>
                      </div>
                      <div class="approval-goals__item-line">
                        <div class="approval-goals__item-name" translate="manageOffers.infoBox.capsDaily"></div>
                        <div class="approval-goals__item-cell" [innerHtml]="goal.cap.daily"></div>
                      </div>
                      <div class="approval-goals__item-line">
                        <div class="approval-goals__item-name" translate="manageOffers.infoBox.capsMonthly"></div>
                        <div class="approval-goals__item-cell" [innerHtml]="goal.cap.monthly"></div>
                      </div>

                      <div class="approval-goals__item-line">
                        <div class="approval-goals__item-name" translate="manageOffers.infoBox.capsClickDaily"></div>
                        <div class="approval-goals__item-cell" [innerHtml]="goal.capClick.daily"></div>
                      </div>
                      <div class="approval-goals__item-line">
                        <div class="approval-goals__item-name" translate="manageOffers.infoBox.capsClickMonthly"></div>
                        <div class="approval-goals__item-cell" [innerHtml]="goal.capClick.monthly"></div>
                      </div>
                    </div>
                    <!-- END approval-goals__item  -->
                  </div>
                  <!-- END approval-goals__items  -->
                </div>
                <!-- END approval-goals  -->
              </div>
            </div>
            <!-- END quick-info__left  -->

            <div class="quick-info__right">
              <div class="quick-info__title semi-bold" translate="manageOffers.infoBox.restrictedTraffic"></div>
              <!--<div class="quick-info__item" *ngFor="item in offer.restrictions"><i class="fa fa-close"></i> <span [innerHtml]="item"></span></div>-->
              <label class="label label-yellow" *ngFor="let item of offer.restrictedTraffic" [innerHtml]="item.name"></label>
              <br />
              <div class="quick-info__title semi-bold" *ngIf="offer && offer.allowedTraffic.length" translate="manageOffers.infoBox.allowedTraffic"></div>
              <!--<div class="quick-info__item" *ngFor="item in offer.restrictions"><i class="fa fa-close"></i> <span [innerHtml]="item"></span></div>-->
              <label class="label label-info" *ngFor="let item of offer.allowedTraffic" [innerHtml]="item.name"></label>
            </div>
          </div>
        </div>
      </div>
      <!-- END offer-details__panel  -->
      <!-- BEGIN offer-details__panel -->
      <div class="offer-details__panel accent-panel">
        <div class="accent-panel__body flex">
          <div class="accent-panel__col">
            <div class="accent-panel__title decorate-title" translate="manageOffers.recentOffers"></div>
            <br />
            <span class="small-font" *ngIf="offer && offer.additionalOffers.recentOffers.length === 0">No recent offers</span>
            <a class="inline-block pub-detail-thumb" *ngFor="let item of offer.additionalOffers.recentOffers; let $index = index;"
              [routerLink]="['/', 'publisher', 'offers', 'detail', item.id]">
              <img [src]="item.thumbUrl" alt="">
            </a>
          </div>
          <div class="accent-panel__col">
            <div class="accent-panel__title decorate-title" translate="manageOffers.relatedOffers"></div>
            <br />
            <span class="small-font" *ngIf="offer && offer.additionalOffers.relatedOffers.length === 0">No related
              offers</span>
            <a class="inline-block pub-detail-thumb" *ngFor="let item of offer.additionalOffers.relatedOffers"
              [routerLink]="['/', 'publisher', 'offers', 'detail', item.id]">
              <img [src]="item.thumbUrl" alt="">
            </a>
          </div>
          <div class="accent-panel__col">
            <div class="accent-panel__title decorate-title" translate="manageOffers.similarOffers"></div>
            <br />
            <a class="inline-block pub-detail-thumb">
              <img src="assets/images/creatives.png" alt="">
            </a>
            <a class="inline-block pub-detail-thumb">
              <img src="assets/images/creatives.png" alt="">
            </a>
            <a class="inline-block pub-detail-thumb">
              <img src="assets/images/creatives.png" alt="">
            </a>
          </div>
        </div>
      </div>
      <!-- END offer-details__panel  -->
    </div>
    <!-- END offer-detail  -->
  </div>
</div>
